<template>
  <Home v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import Vue from 'vue';
import Home from './demo/Home';
import VueI18n from 'vue-i18n';
import FormMaking from './index';
Vue.use(FormMaking);
Vue.use(VueI18n);

export default {
  name: 'Entry',
  components: {
    Home
  }
};
</script>
