<template>
  <a-button type="link" :loading="loadingSubmit" @click="onSubmit" style="font-size: 12px">
    办理
    <a-modal
      v-model="showBranchModal"
      title="请选择办理事项"
      ok-text="确定"
      cancel-text="取消"
      @ok="onSelectOperate"
    >
      <a-radio-group v-model="selectOperate">
        <template v-for="(item, index) in operateRight">
          <a-radio :key="index" :style="radioStyle" :value="item">{{ item.lable }}</a-radio>
        </template>
      </a-radio-group>
    </a-modal>
    <AvicBpmCommonSelect
      v-if="showSelectUser"
      :visible="showSelectUser"
      :button-data="buttonData"
      @bpmSubmit="bpmSubmit"
      @closeBpmSelectUser="showSelectUser = false"
    />
  </a-button>
</template>
<script>
import { Button, Modal, Radio } from 'ant-design-vue';
import AvicBpmCommonSelect from '@comp/avic/bpm/AvicBpmCommonSelect';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
export default {
  name: 'AvicBpmSubmitTaskBtn',
  components: {
    AButton: Button,
    AModal: Modal,
    ARadio: Radio,
    ARadioGroup: Radio.Group,
    AvicBpmCommonSelect
  },
  props: {
    flowTask: {
      type: Object,
      required: true,
      validator: obj => {
        return obj && obj.dbid !== '' && obj.executionId !== '' && obj.processInstance !== '';
      }
    }
  },
  data() {
    return {
      loadingSubmit: false,
      showSelectUser: false,
      showBranchModal: false,
      selectOperate: null,
      defineId: '',
      buttonData: null,
      operateRight: [],
      radioStyle: {
        display: 'block',
        height: '30px',
        lineHeight: '30px'
      },
      httpConfig: {
        getOperateRight: {
          url: bpmUtils.baseurl + '/business/getoperateright/v1',
          method: 'post'
        },
        getDefineId: {
          url: bpmUtils.baseurl + '/business/getDefineIdByEntryId/v1',
          method: 'post'
        }
      }
    };
  },
  methods: {
    onSubmit() {
      this.loadingSubmit = true;
      let param = { entryId: this.flowTask.processInstance };
      httpAction(this.httpConfig.getDefineId.url, param, this.httpConfig.getDefineId.method)
        .then(res => {
          if (res.success) {
            this.defineId = res.result;
            let taskParam = {
              processInstanceId: this.flowTask.processInstance,
              executionId: this.flowTask.executionId,
              taskId: this.flowTask.dbid
            };
            httpAction(
              this.httpConfig.getOperateRight.url,
              taskParam,
              this.httpConfig.getOperateRight.method
            )
              .then(res => {
                if (res.success) {
                  this.operateRight = res.result.operateRight.filter(
                    item => item.event === 'dosubmit'
                  );
                  if (this.operateRight.length === 0) {
                    this.$message.error('没有可提交的待办操作权限！');
                  } else if (this.operateRight.length === 1) {
                    this.callSelectUser(this.operateRight[0]);
                  } else {
                    this.showBranchModal = true;
                  }
                }
                this.loadingSubmit = false;
              })
              .catch(() => {
                this.loadingSubmit = false;
              });
          } else {
            this.loadingSubmit = false;
          }
        })
        .catch(() => {
          this.loadingSubmit = false;
        });
    },
    callSelectUser(param) {
      this.buttonData = {
        procinstDbid: this.flowTask.processInstance,
        executionId: this.flowTask.executionId,
        taskId: this.flowTask.dbid,
        event: param.event,
        lable: param.lable,
        targetActivityName: param.targetActivityName,
        type: param.type,
        defineId: this.defineId,
        name: param.name
      };
      this.showSelectUser = true;
    },
    onSelectOperate() {
      this.showBranchModal = false;
      this.callSelectUser(this.selectOperate);
    },
    bpmSubmit(params) {
      httpAction(
        bpmUtils.baseurl + '/business/dosubmit/v1',
        {
          userJson: JSON.stringify(params.users),
          instanceId: params.buttonData.procinstDbid,
          taskId: params.buttonData.taskId,
          outcome: params.buttonData.name,
          formJson: '',
          uflowDealType: '',
          isUflow: false
        },
        'post'
      ).then(res => {
        if (res.success) {
          this.showSelectUser = false;
          this.$message.success('任务办理成功');
          this.$emit('bpmSubmitSuccess');
        }
      });
    }
  }
};
</script>
