<!---
流程意见, 列表或者时间轴
--->
<template>
  <AvicBpmTrackingTemplate :ref="refName" :flow-param="tracksParam" />
</template>
<script>
import AvicBpmTrackingTemplate from '@comp/avic/bpm/AvicBpmTrackingTemplate';
import { mapGetters } from 'vuex';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';

export default {
  name: 'AvicBpmTracking',
  components: {
    AvicBpmTrackingTemplate
  },
  //注册接受组件传参事件
  computed: {
    ...mapGetters(['getFlowRefresh', 'getEntryId'])
  },
  watch: {
    getEntryId(entryId) {
      if (this.entryId != entryId) {
        this.entryId = entryId;
        this.loadData();
      }
    },
    //刷新页面
    getFlowRefresh() {
      this.loadData();
    }
  },
  data() {
    return {
      url: bpmUtils.baseurl + '/business/doGettracks/v1',
      tracksParam: {
        url: '',
        parameter: {
          entryId: ''
        },
        method: 'post'
      },
      entryId: '',
      refName: 'flowTracking'
    };
  },
  mounted() {
    this.entryId = this.$store.state.bpmModel.entryId;
    this.loadData();
  },
  methods: {
    loadData() {
      if (this.entryId) {
        this.tracksParam.parameter.entryId = this.entryId;
        this.tracksParam.url = this.url;
        this.$refs[this.refName].refreshFlowTracking();
      }
    }
  }
};
</script>
<style lang="less" scoped>
.flow-track {
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 200px;
  text-align: center;
  overflow: hidden;
  .flow-tabs {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .flow-list {
    width: auto;
    height: 100%;
    text-align: left;
    overflow: auto;
    margin-left: 10px;
    padding-bottom: 50px;
    .timeline-box {
      padding: 10px;
      .tim-box {
        padding: 10px;
        font-size: 14px;
      }
      span {
        padding: 0 4px;
      }
      .user-box {
        color: #c426b3;
      }
      .describe-box {
        color: #2d52df;
      }
      .action-box {
        color: #49bd32;
      }
    }
  }
}
</style>
