<template>
  <a-menu
    v-show="visible"
    :style="style"
    class="contextmenu"
    :selected-keys="selectedKeys"
    @click="handleClick"
    @contextmenu.prevent="handleClick"
  >
    <a-menu-item v-for="item in itemList" :key="item.key" :disabled="item.disabled">
      <a-icon v-if="item.icon" role="menuitemicon" :type="item.icon" />
      {{ item.text }}
    </a-menu-item>
  </a-menu>
</template>

<script>
import { Menu, Icon } from 'ant-design-vue';
export default {
  name: 'Contextmenu',
  components: {
    AMenu: Menu,
    AMenuItem: Menu.Item,
    AIcon: Icon
  },
  props: {
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    itemList: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data() {
    return {
      style: {},
      target: null,
      selectedKeys: []
    };
  },
  created() {
    window.addEventListener('mousedown', e => this.closeMenu(e));
    window.addEventListener('contextmenu', e => this.setPosition(e));
  },
  methods: {
    closeMenu(e) {
      if (['menuitemicon', 'menuitem'].indexOf(e.target.getAttribute('role')) < 0) {
        this.$emit('update:visible', false);
      }
    },
    setPosition(e) {
      if (e.clientY < document.body.offsetHeight / 2) {
        this.style = {
          left: e.clientX + 'px',
          top: e.clientY + 'px'
        };
      } else {
        this.style = {
          left: e.clientX + 'px',
          bottom: document.body.offsetHeight - e.clientY + 'px'
        };
      }
      this.target = e.target;
    },
    handleClick({ key }) {
      this.$emit('select', key, this.target);
      this.$emit('update:visible', false);
    }
  }
};
</script>

<style lang="less">
.contextmenu.ant-menu-vertical {
  position: fixed;
  z-index: 999;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3) !important;
  & > .ant-menu-item {
    height: 32px;
    line-height: 32px;
    margin: 0;
    font-size: 12px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}
</style>
