<template>
  <div :class="`avic-tree-box ${treeClassName}`">
    <a-input-search
      v-if="searchTreeParam !== null"
      v-model="searchBindValue"
      :placeholder="searchPlaceholder"
      :class="searchClassName"
      :allow-clear="true"
      @search="onSearch"
    />
    <div class="select-role-box" :class="{ 'with-search': searchTreeParam != null }">
      <a-spin :spinning="loading">
        <a-tree
          v-if="isLoadData === true"
          v-show="treeData.length"
          class="avic-tree"
          v-bind="$attrs"
          :show-icon="showIcon"
          :tree-data="treeData"
          :load-data="onLoadDataTree"
          :loaded-keys="treeLoadedKeys"
          :expanded-keys.sync="treeExpandedKeys"
          :selected-keys.sync="treeSelectedKeys"
          :checked-keys="treeCheckedKeys"
          :filter-tree-node="filterTreeNode"
          @select="treeSelect"
          @expand="treeExpand"
          @check="treeCheck"
          @load="treeLoad"
          @rightClick="treeRightClick"
        >
          <template v-slot:title="slotProps">
            <span>{{ slotProps.title }}</span>
          </template>
          <a-icon slot="switcherIcon" type="caret-down" />
          <template v-if="showIcon" slot="customExpand" slot-scope="node">
            <a-icon v-if="node.isLeaf" type="file" :theme="treeIconTheme" />
            <a-icon
              v-else
              :type="node.expanded ? 'folder-open' : 'folder'"
              :theme="treeIconTheme"
            />
          </template>
        </a-tree>

        <a-tree
          v-if="isLoadData === false"
          v-show="treeData.length"
          class="avic-tree"
          v-bind="$attrs"
          :show-icon="showIcon"
          :tree-data="treeData"
          :expanded-keys.sync="treeExpandedKeys"
          :checked-keys="treeCheckedKeys"
          :selected-keys="treeSelectedKeys"
          @select="treeSelect"
          @expand="treeExpand"
          @check="treeCheck"
          @load="treeLoad"
          @rightClick="treeRightClick"
        >
          <template v-slot:title="slotProps">
            <span>{{ slotProps.title }}</span>
          </template>
          <a-icon slot="switcherIcon" type="caret-down" />
          <template v-if="showIcon" slot="customExpand" slot-scope="node">
            <a-icon v-if="node.isLeaf" type="file" :theme="treeIconTheme" />
            <a-icon
              v-else
              :type="node.expanded ? 'folder-open' : 'folder'"
              :theme="treeIconTheme"
            />
          </template>
        </a-tree>
        <a-empty v-show="!treeData.length" :image="simpleImage" class="avic-tree-nodata-card" />
      </a-spin>
    </div>
    <!-- 树右键菜单 -->
    <Contextmenu :item-list="menuList" :visible.sync="menuVisible" @select="onMenuSelect" />
  </div>
</template>
<script>
import { httpAction } from '@/api/manage';
import './style/base.less';
import { setTreeData, setTreeChildren, getTreeById } from '@/utils/avic/common/treeUtils';
import { Spin, Tree, Input, Icon, Empty } from 'ant-design-vue';
import Contextmenu from './Contextmenu';
export default {
  name: 'AvicTree',
  components: {
    ASpin: Spin,
    ATree: Tree,
    AInputSearch: Input.Search,
    AIcon: Icon,
    Contextmenu
  },
  props: {
    //树列表加载参数
    treeParam: {
      type: Object,
      required: true, //校验
      default: null
    },
    //默认展开层级
    defaultExpandHierarchy: {
      type: Number,
      required: false, //校验
      default: 1
    },
    //默认最高父级ID
    defaultMaxParentId: {
      type: String,
      required: false, //校验
      default: '-1'
    },
    //是否异步加载
    isLoadData: {
      type: Boolean,
      required: true, //校验
      default: false
    },
    //加载状态
    treeLoading: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    // 是否展示树节点图标
    showIcon: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    // 设置slot-scope 属性
    scopedSlots: {
      type: Object,
      required: false, //校验
      default: () => {
        return { icon: 'customExpand' };
      }
    },
    //树外层 class 名称
    treeClassName: {
      type: String,
      required: false, //校验
      default: ''
    },
    //树外层 class 名称
    searchClassName: {
      type: String,
      required: false, //校验
      default: 'avic-tree-search-ipt'
    },
    //树搜索请求相关参数
    searchTreeParam: {
      type: Object,
      required: false, //校验
      default: null
    },
    checkedKeys: {
      type: Array,
      required: false, //校验
      default: () => []
    },
    loadedKeys: {
      type: Array,
      required: false, //校验
      default: () => []
    },
    selectedKeys: {
      type: Array,
      required: false, //校验
      default: () => []
    },
    //搜索树是否自动选中
    searchAutoSelect: {
      type: Boolean,
      required: false,
      default: false
    },
    //搜索框提示文字
    searchPlaceholder: {
      type: String,
      required: false,
      default: '请输入要查询的节点'
    },
    //是否自动加载
    autoLoad: {
      type: Boolean,
      required: false,
      default: true
    },
    //初始化数据
    initTreeData: {
      type: Array,
      required: false,
      default: () => []
    },
    treeIconTheme: {
      type: String,
      required: false,
      default: 'outlined'
    },
    //默认鼠标右键显示节点操作列表
    //   true:显示
    //   false：不显示节点操作列表 但是会emit rightClick 方法 回调参数 function({event, node})
    defaultShowContextMenu: {
      type: Boolean,
      required: false,
      default: true
    },
    //默认节点操作项，根节点不可添加平级节点和删除节点
    contextMenuList: {
      type: Array,
      required: false, //校验
      default: () => [
        { key: '1', text: '添加平级节点', disabled: false },
        { key: '2', text: '添加子节点' },
        { key: '3', text: '编辑节点' },
        { key: '4', text: '删除节点', disabled: false }
      ]
    }
  },
  data() {
    return {
      treeExpandedKeys: [],
      treeLoadedKeys: [],
      treeCheckedKeys: [],
      treeSelectedKeys: [],
      treeNodeData: [],
      loading: false,
      searchValue: '',
      searchBindValue: '',
      eachRequestArr: [],
      expandHierarchy: this.defaultExpandHierarchy,
      menuList: [], //右键显示的菜单列表信息
      menuVisible: false, //右键菜单显隐控制，
      selectNode: {} // 右键选中的节点信息
    };
  },
  computed: {
    eachRequest: {
      get() {
        return this.eachRequestArr;
      },
      set(v) {
        this.eachRequestArr = v;
      }
    },
    treeData() {
      let treeData = this.treeNodeData;
      treeData.map(item => {
        this.setNodeIcon(item);
      });
      return treeData;
    }
  },
  watch: {
    treeLoading: {
      immediate: true,
      handler(newV) {
        this.loading = newV;
      }
    },
    defaultExpandHierarchy: {
      immediate: true,
      handler(newV) {
        this.expandHierarchy = newV;
      }
    },
    checkedKeys: {
      immediate: true,
      handler(newV) {
        this.treeCheckedKeys = newV;
      }
    },
    loadedKeys: {
      immediate: true,
      handler(newV) {
        this.treeLoadedKeys = newV;
      }
    },
    selectedKeys: {
      immediate: true,
      handler(newV) {
        this.treeSelectedKeys = newV;
      }
    },
    initTreeData: {
      immediate: true,
      handler(newV) {
        this.treeNodeData = newV;
        this.loading = false;
      }
    },
    contextMenuList: {
      immediate: true,
      handler(newV) {
        this.menuList = newV;
      }
    }
  },
  beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  mounted() {
    this.loading = true;
    if (this.autoLoad) {
      this.findTreeData();
    } else {
      this.loading = false;
    }
    if (this.initTreeData.length > 0) {
      this.treeNodeData = this.initTreeData;
    }
  },
  methods: {
    /*设置节点的图标*/
    setNodeIcon(node) {
      node.scopedSlots = this.scopedSlots;
      if (node.children) {
        node.children.map(item => {
          this.setNodeIcon(item);
        });
      }
    },
    /*异步加载树节点*/
    onLoadDataTree(treeNode) {
      if (treeNode.dataRef && treeNode.dataRef.children == null) {
        let _this = this;
        let id = treeNode.dataRef.id;
        this.$emit('beforeLoadData', treeNode.dataRef, id);
        return new Promise(resolve => {
          this.findTreeData(
            res => {
              let tree = [];
              if (this.scopedSlots != null) {
                tree = setTreeData(res, _this.scopedSlots);
              } else {
                tree = res;
              }
              _this.treeLoadedKeys.push(id);
              setTreeChildren(_this.treeNodeData, id, tree);
              _this.$nextTick(() => {
                _this.$emit('updateTreeData', _this.treeData);
              });
              resolve(res);
            },
            () => {
              resolve(null);
            }
          );
        });
      }
    },
    /*加载树数据*/
    findTreeData(success, error) {
      let _this = this;
      httpAction(
        this.treeParam.url,
        this.treeParam.parameter ? this.treeParam.parameter : '',
        this.treeParam.method,
        true,
        true,
        false
      )
        .then(res => {
          if (res.success) {
            if (res.result.length > 0) {
              if (
                res.result[0].parentId !== _this.defaultMaxParentId &&
                _this.treeNodeData.length > 0
              ) {
                this.eachRequest = res.result;
              } else {
                let treeLoadedKeys = [];
                res.result.map(tim => {
                  if (tim.children !== null) {
                    // 修复：解决"当编辑了根节点后，二级节点无法展开了"问题后，引起选人展开节点时不请求数据的问题，by cuijj 2020-05-14
                    treeLoadedKeys.push(tim.id);
                  }
                });
                if (_this.scopedSlots != null) {
                  _this.treeNodeData = setTreeData(res.result, _this.scopedSlots);
                } else {
                  _this.treeNodeData = res.result;
                }
                _this.defaultExpand(res.result);
                this.treeLoadedKeys = treeLoadedKeys; // 修复：20191128000048当编辑了根节点后，二级节点无法展开了，by cuijj 2020-05-14
              }
            }
            if (success) {
              success(res.result);
            }
          } else {
            if (success) {
              success([]);
            }
          }
          this.$emit('afterLoadData', res);
          this.$nextTick(() => {
            this.$emit('updateTreeData', this.treeData);
          });
          this.loading = false;
        })
        .catch(() => {
          if (error) {
            error();
          }
          this.$emit('afterLoadData', false);
          this.$nextTick(() => {
            this.$emit('updateTreeData', []);
          });
          this.loading = false;
        });
    },
    /*删除树节点数据*/
    handleTreeNodeDelete(id) {
      if (this.treeNodeData && this.treeNodeData.length > 0 && id) {
        let node = this.deleteTreeNodeData(this.treeNodeData[0], this.treeNodeData, id);
        return node;
      }
      return null;
    },
    /**
     *  fatherData 父节点
     *  tree 当前循环的节点
     *  id 要删除的id
     */
    deleteTreeNodeData(fatherData, tree, id) {
      if (tree && tree.length > 0) {
        tree.map((tim, i) => {
          if (tim.id === id) {
            tree.splice(i, 1);
            if (tree.length === 0) {
              fatherData.isLeaf = true;
            }
            return fatherData;
          } else if (tim.children) {
            this.deleteTreeNodeData(tim, tim.children, id);
          }
        });
      }
    },
    /* 搜索*/
    onSearch(e) {
      this.$emit('searchTree', e);
      //注：此段代码会导致选人框搜索出的结果被选中，2020-05-19 @mzy
      // if (!e && this.searchValue && this.treeNodeData.length > 0) {
      //   this.treeSelect([this.treeNodeData[0].id])
      // }

      this.searchValue = e.trim();
      if (!e.trim().length) {
        this.refresh();
      } else {
        this.searchTree(this.searchTreeParam);
      }
    },
    /**
     *方法：自定义搜索框时，提供此方法接受外部传参
     * @param keyWord 搜索的关键词
     * @param searchTreeParam  树搜索请求相关参数  格式{url:'',parameter:'',method:''},
     */
    search(keyWord, searchTreeParam) {
      this.searchValue = keyWord;
      this.searchTree(searchTreeParam);
    },

    /* 搜索树*/
    searchTree(searchTreeParam) {
      this.loading = true;
      let _this = this;
      httpAction(
        searchTreeParam.url,
        searchTreeParam.parameter ? searchTreeParam.parameter : '',
        searchTreeParam.method,
        true,
        true,
        false
      )
        .then(res => {
          if (res.success) {
            _this.treeLoadedKeys = [];
            _this.treeExpandedKeys = [];

            if (_this.scopedSlots) {
              _this.treeNodeData = setTreeData(res.result, _this.scopedSlots);
            } else {
              _this.treeNodeData = res.result;
            }
            this.$emit('afterSearchFinished', _this.treeNodeData);
            _this.setTreeExpandedKeys(_this.treeNodeData);
          }

          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    /*搜索选中*/
    filterTreeNode(e) {
      if (this.searchAutoSelect && this.searchValue && e.title.indexOf(this.searchValue) !== -1) {
        return true;
      }
      return false;
    },
    getTreeData() {
      return this.eachRequest;
    },
    /* 设置树列表展开的节点*/
    setTreeExpandedKeys(data) {
      if (data && data.length > 0) {
        data.map(tim => {
          if (tim.children) {
            this.treeLoadedKeys.push(tim.key);
            this.treeExpandedKeys.push(tim.key);
            this.setTreeExpandedKeys(tim.children);
          }
        });
      }
    },
    /* 设置树列表已经被加载过子节点的节点*/
    setLoadedKeys(data) {
      if (data && data.length > 0) {
        data.map(tim => {
          if (tim.parentId !== this.defaultMaxParentId) {
            this.treeLoadedKeys.push(tim.id);
          } else if (tim.children) {
            this.setLoadedKeys(tim.children);
          }
        });
      }
    },

    /* 重新加载刷新树*/
    refresh(parentId, tip) {
      this.loading = true;
      if (!parentId || parentId === this.defaultMaxParentId) {
        this.treeNodeData = [];
      }
      let _this = this;
      this.findTreeData(res => {
        let tree = [];
        if (_this.scopedSlots) {
          tree = setTreeData(res, _this.scopedSlots);
        } else {
          tree = res;
        }
        if (tip && tip === 'notExpand') {
          // 不展开树
          _this.treeExpandedKeys = [];
        } else {
          if (parentId) {
            _this.treeExpandedKeys.push(parentId);
          } else {
            _this.treeExpandedKeys.push(res.length > 0 ? res[0].id : '');
          }
        }
        setTreeChildren(_this.treeNodeData, parentId, tree);
      });
    },
    /* 从根节点加载至指定节点，展开并选中此节点 */
    loadTreeToNode(nodeId) {
      this.findTreeData(res => {
        this.$nextTick(() => {
          this.treeExpandedKeys = [];
          let selectNode = getTreeById(res, nodeId);
          let expandKeys = selectNode.attributes.treePath.split('/');
          this.treeExpandedKeys = expandKeys;
          // this.treeExpandedKeys.push(selectNode.parentId);
          this.treeSelectedKeys = [nodeId];
        });
      });
    },
    /* 默认展开节点*/
    defaultExpand(data) {
      if (this.expandHierarchy > 1 && data.length > 0) {
        data.map(tim => {
          this.treeExpandedKeys.push(tim.id);
          this.expandHierarchy = this.expandHierarchy - 1;
          if (tim.children) {
            this.defaultExpand(tim.children);
          }
        });
      }
    },
    /*清空树 数据*/
    empty() {
      this.treeNodeData = [];
      this.treeLoadedKeys = [];
      this.treeExpandedKeys = [];
      this.treeSelectedKeys = [];
      this.treeCheckedKeys = [];
    },
    /*清空搜索*/
    emptySearch() {
      this.searchBindValue = '';
      this.searchValue = '';
    },
    /**
     * 树展开事件
     */
    treeExpand(e) {
      this.treeExpandedKeys = e;
      this.$emit('expand', e);
    },
    /**
     * 树选中事件
     */
    treeSelect(selectedKeys, e) {
      this.treeCheckedKeys = selectedKeys;
      this.treeSelectedKeys = selectedKeys;
      this.$emit('select', selectedKeys, getTreeById(this.treeNodeData, selectedKeys), e);
    },

    /**
     * 点击复选框触发
     */
    treeCheck(e, nodeInfo) {
      e.node = nodeInfo;
      this.treeCheckedKeys = e;
      this.$emit('check', e, nodeInfo);
    },

    /**
     * 树加载完毕事件
     */
    treeLoad(e) {
      this.$emit('load', e);
    },
    /**
     * 响应右键点击
     */
    treeRightClick(e) {
      this.$emit('rightClick', e);
      if (this.defaultShowContextMenu) {
        this.showRMenu(e);
      }
    },
    /**
     * 显示右键菜单
     */
    showRMenu(e) {
      if (e.node.$options.propsData.dataRef) {
        this.menuVisible = true;
        this.selectNode = e.node.$options.propsData.dataRef;
        if (this.selectNode != null) {
          let newmenuList = JSON.parse(JSON.stringify(this.contextMenuList));
          if (this.defaultMaxParentId == this.selectNode.parentId) {
            newmenuList.map(item => {
              if (item.disabled == false) {
                item.disabled = true;
              }
            });
            this.menuList = newmenuList;
          } else {
            this.menuList = newmenuList;
          }
        }
      }
    },
    /**
     * 点击右键菜单操作
     */
    onMenuSelect(key) {
      if (this.selectNode) {
        this.menuList.map(tim => {
          if (tim.key == key) {
            this.$emit('onMenuSelect', { key, selectTreeNode: this.selectNode, menuNode: tim });
          }
        });
      }
    }
  }
};
</script>
