/*
  write by meizy 20200909
  高级查询表单容器和表单内容的样式文件
  作用范围：全局
  变量说明：
  @adv-base-font-size  统一字体大小为12px
  @adv-element-base-height 元素统一高度为28px
 */
@adv-base-font-size: 12px;
@adv-element-base-height: 28px;
.advanced-search-wrap {
  transition: height 0.3s;
  .ant-form {
    max-width: none;
    overflow-x: hidden;
    overflow-y: auto;
    // 高级查询框最大高度限制为四行
    max-height: 182px;
  }
}
/* 基础组件样式覆盖 */
.advanced-search-form {
  padding: 3px 30px;
  background: #f3f4f9;
  margin-bottom: 10px;
  .advanced-search-col {
    float: right;
  }
  .advanced-search-btn-group {
    float: right;
  }
  .ant-btn {
    margin: 8px 4px;
    height: @adv-element-base-height;
    line-height: 26px;
    font-size: @adv-base-font-size;
    vertical-align: top;
    box-shadow: none;
    padding: 0 14px;
    min-width: 50px;
  }
  .advanced-search-btn:last-child {
    margin-right: 0;
  }
  //antd item  样式覆盖
  .ant-form-item {
    display: flex;
    margin: 2px 0;
    .ant-form-item-control {
      line-height: 40px;
      padding-left: 3px;
    }
    //antd label 样式覆盖
    .ant-form-item-label {
      text-overflow: ellipsis;
      label {
        line-height: 36px;
        display: inline;
        text-align: right;
        margin-right: 2px;
        font-size: @adv-base-font-size;
        white-space: nowrap;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
      }
    }
    /* antd 基础组件样式覆盖start */
    //input 基础组件覆盖
    .ant-input {
      font-size: @adv-base-font-size !important;
      height: @adv-element-base-height !important;
    }
    .ant-input-number {
      font-size: @adv-base-font-size !important;
      height: @adv-element-base-height !important;
      .ant-input-number-input {
        line-height: 29px;
        height: @adv-element-base-height !important;
      }
    }

    //选人 基础组件覆盖
    .ant-input-group .ant-input {
      font-size: @adv-base-font-size;
      height: @adv-element-base-height;
    }
    .ant-calendar-picker-input.ant-input {
      font-size: @adv-base-font-size;
      height: @adv-element-base-height;
    }
    //select 组件覆盖
    .ant-select {
      font-size: @adv-base-font-size;
      .ant-select-selection {
        height: @adv-element-base-height;
        .ant-select-selection__placeholder {
          font-size: @adv-base-font-size;
        }
        .ant-select-selection__rendered {
          line-height: 26px;
        }
      }
    }
    //select 组件的下拉列表内容
    .ant-select-dropdown {
      .ant-select-dropdown-menu-item {
        font-size: @adv-base-font-size;
      }
    }
    //radio 组件的样式
    span.ant-radio + * {
      padding-right: 4px;
      padding-left: 0;
    }
    // radio 的文字
    .label {
      font-size: 12px;
    }
    /* antd label 基础组件样式覆盖end */
  }
}
/*
  筛选条件的样式
  应该前提条件：使用高级查询
  作用范围：全局
  对应换肤文件：theme.less
 */
.surface-tag {
  display: block;
  /* min-height: 42px; */
  height: auto;
  margin: 0 0 10px;
  padding: 8px 12px;
  background: #f3f4f9;

  span {
    font-size: 12px;
    margin: 0 0 0 4px;
  }
  .ant-tag {
    background: #fff;
    border-radius: 2px;
    font-size: @adv-base-font-size;
    .anticon-close:hover {
      transform: scale(1.1);
    }
  }
  .ant-btn {
    border: 0;
    height: 20px;
    padding: 0 6px;
  }
}
