/*
  筛选条件的换肤
  应该前提条件：使用高级查询
  作用范围：全局
 */
.adv_search_skin( @primary-color ){
  .surface-tag {
    .ant-tag {
      border:1px solid @primary-color;
      color: @primary-color;
      .anticon-close {
        color: @primary-color;
      }
    }

    .ant-btn {
      color:@primary-color;
    }
  }
}

