<template>
  <div class="no-data-card">
    <div class="no-data-card-box">
      <a-icon v-if="icon" class="icon" :type="icon" />
      <div class="message">{{ message }}</div>
    </div>
  </div>
</template>
<script>
import { Icon } from 'ant-design-vue';
export default {
  name: 'AvicNoDataCard',
  components: {
    AIcon: Icon
  },
  props: {
    message: {
      // 提示信息
      type: String,
      required: false,
      default: '暂无数据'
    },
    icon: {
      // 显示图标
      type: String,
      required: false,
      default: ''
    }
  }
};
</script>
<style lang="less" scoped>
.no-data-card {
  width: 100%;
  height: 100%;
  position: relative;
  .no-data-card-box {
    position: absolute;
    top: 40%;
    right: 50%;
    text-align: center;
    .icon {
      font-size: 25px;
      color: #09f;
    }
    .message {
      color: #919191;
      margin-top: 10px;
      font-size: 14px;
    }
  }
}
</style>
