<template>
  <avic-resize-layout direction="h" class="tree-table" id="MenuTreeTable">
    <avic-resize-layout-panel :width="treeWidth">
      <div class="tree-box" :style="treeStyle">
        <!--菜单树-->
        <AvicTree
          :tree-param="treeParam"
          :is-load-data="true"
          :show-line="true"
          :show-icon="false"
          :default-expand-all="true"
          :default-show-context-menu="false"
          :default-max-parent-id="defaultParentId"
          :tree-loading="treeLoading"
          :search-tree-param="searchTreeParam"
          :default-expand-hierarchy="defaultLevel"
          :selected-keys.sync="selectedKeys"
          :search-auto-select="true"
          :ref="treeRefName"
          @select="e => selectNodeTree(e, tableRefName)"
          @afterLoadData="afterLoadData"
          @beforeLoadData="beforeLoadData"
          @searchTree="searchTree"
        />

        <!-- 初始化根节点 -->
        <AvicInitTreeRootNode
          :insert-root-param="insertRootParam"
          :visible="initTreeDataVisible"
          @confirm="() => confirmInitTreeData(treeRefName)"
          @close="closeInitTreeData"
        />
      </div>
    </avic-resize-layout-panel>

    <avic-resize-layout-panel>
      <avic-resize-layout direction="v">
        <avic-resize-layout-panel id="treeTable">
          <div class="surface">
            <div class="surface-title">
              <div class="box-title">
                <a-icon type="profile" />
              </div>
              <h3 style="margin-left: 3px">子菜单</h3>
              <!-- 查询 -->
              <div class="surface-tools-bar">
                <!-- 普通查询 -->
                <a-input-search
                  class="opt-btn-commonsearch"
                  v-model="searchText"
                  :placeholder="searchPlaceholder"
                  :title="searchPlaceholder"
                  :allow-clear="true"
                  @search="searchByKeyWord(tableRefName)"
                />
                <!-- v-if="buttonPermissions"-->
                <a-button
                  type="primary"
                  icon="plus"
                  @click="
                    handleAdd({
                      refName: addModalRefName,
                      param: { selectTreeId: selectedKeys[0] }
                    })
                  "
                >
                  添加
                </a-button>
                <a-button
                  icon="edit"
                  v-if="isShowEdit"
                  @click="
                    handleEdit({
                      refName: editModalRefName,
                      param: { id: selectedRowKeys[0] }
                    })
                  "
                >
                  编辑
                </a-button>
                <a-button
                  icon="delete"
                  v-if="isShowDelete"
                  :loading="delLoading"
                  @click="handleDelete({ refName: tableRefName, param: { ids: selectedRowKeys } })"
                >
                  删除
                </a-button>
              </div>
            </div>
            <!-- 操作按钮及查询区域 -->
            <div class="surface-content">
              <!-- 表格内容 -->
              <div class="surface-table">
                <!--子菜单列表-->
                <AvicBaseTable
                  :ref="tableRefName"
                  :is-auto-count-scroll-x="true"
                  :columns="selectColumns"
                  :data-source="data"
                  :row-key="rowKey"
                  :data-index="dataIndex"
                  :pagination-default="pagination"
                  @getData="getData"
                  @handleRowSelection="handleRowSelection"
                  @handleTableChange="handleTableChange(tableRefName, $event)"
                >
                  <!-- 表格操作列 -->
                  <template slot="icon" scope="obj">
                    <a-icon :type="obj.data.icon" :style="{ 'font-size': '18px' }" />
                  </template>
                </AvicBaseTable>
              </div>
            </div>
          </div>
        </avic-resize-layout-panel>

        <!--菜单按钮列表-->
        <avic-resize-layout-panel :min-height="60">
          <MenuButtonTable key="MenuButtonTable" ref="MenuButtonTable" />
        </avic-resize-layout-panel>
      </avic-resize-layout>

      <MenuAdd
        v-if="showAddModal"
        ref="modalAddForm"
        layout="2"
        :tree-node-id="treeNodeId"
        :request-public-url="requestPublicUrl"
        @reloadData="reloadData($event, tableRefName)"
        @reloadTree="reloadTree()"
        @close="showAddModal = false"
      />
      <MenuEdit
        v-if="showEditModal"
        ref="modalEditForm"
        layout="2"
        :param-id="paramId"
        :request-public-url="requestPublicUrl"
        @reloadData="reloadData($event, tableRefName)"
        @reloadTree="reloadTree()"
        @close="showEditModal = false"
      />
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>

<script>
import { Modal } from 'ant-design-vue';
import MenuAdd from './MenuAdd';
import MenuEdit from './MenuEdit';
import MenuButtonTable from './MenuButtonTable';
import { httpAction } from '@/api/manage';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseTreeListMixin } from '@mixins/avic/pt/BaseTreeListMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
// 模块名称
let moduleName = 'MN_MENUTREETABLE';
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = '/api/appsys/menu';
// 表格主键字段
let rowKey = 'id';
// 表格查看详情字段
let dataIndex = ['icon'];

// 为了精简代码 以下的列设置对象pageSettingData涵盖了:
// 表格表头设置 单元格行编辑组件参数设置 高级查询组件参数设置 普通搜索标志位设置.
/**
 * isAuthFlag：是否为有权限标签
 * isTableHidden: 列表字段是否隐藏
 * isFormHidden: 是否在表单中显示
 * title: 表格: 表头标题; 高级查询: 表单控件label. (all)
 * titleRange: 高级查询: 日期或者时间范围控件的title. (date datetime)
 * dataIndex: 表格: 字段值; 高级查询 单元格行编辑: 表单控件唯一标志. (all)
 * sorter: 表格: 是否排序. (all, 默认均为true)
 * scopedSlots: 表格: 传值. (all)
 * align: 表格: 表头居中方式. (按规则: 默认居左,数字居右,单选多选下拉时间等居中)
 * type: 高级查询 单元格行编辑: 表单控件类型. (all)
 *       控件类型包括:input inputnumber textarea commonselect radio checkbox select date datetime
 * isCanEdit: 单元格行编辑: 是否可以行编辑. (默认不加,即默认不启用行编辑)
 * isSearch: 普通搜索: 是否作为普通搜索的字段. (作为普通搜索的字段加这个属性)
 * decorator: 高级查询: 表单控件校验规则. (注:checkbox必须要有initialValue: []这个校验) (all,若没有校验规则,则不加)
 * decoratorRange: 高级查询: 日期或者时间范围控件的校验规则. (date datetime)
 * placeholder: 高级查询 单元格行编辑: 表单控件placeholder. (all)
 * placeholderRange: 高级查询: 日期或者时间范围的placeholder. (date datetime)
 * controlType: 高级查询 单元格行编辑的commonselect (commonselect)
 *              选择类型(userSelect为选人,deptSelect为选部门,roleSelect为选角色,groupSelect为选群组,positionSelect为选岗位)
 * selectModel: 高级查询 单元格行编辑的commonselect (commonselect)
 *              单选还是多选(multi为多选;single为单选).
 * min: 高级查询 单元格行编辑的inputnumber: 最小值. 注:数值型 (inputnumber)
 * max: 高级查询 单元格行编辑的inputnumber: 最大值. 注:数值型 (inputnumber)
 * step: 高级查询 单元格行编辑的inputnumber: 点击上下键变化的步数. 注:数值型 (inputnumber)
 * precision: 高级查询 单元格行编辑的inputnumber: 小数位数. 注:数值型 (inputnumber)
 * list: 高级查询 单元格行编辑的select checkbox radio: 通用代码数组. (radio checkbox select)
 * format: 高级查询 单元格行编辑的 date datetime: 日期或者时间格式化. (date datetime)
 * submitFormat: 高级查询 单元格行编辑的 date datetime提交到后台时传的格式 (date datetime)
 *               formatTime代表格式化时间;timeStamp代表时间戳,默认时间戳.
 * showToday: 高级查询 单元格行编辑的 date: 日期是否展示今天. (date)
 * rows: 高级查询 单元格行编辑的 textarea: 行数. (textarea)
 **/

export default {
  name: 'MenuTreeTable',
  mixins: [baseTableMixin, baseTreeListMixin, menuRefreshMixin],
  components: {
    MenuAdd,
    MenuEdit,
    MenuButtonTable
  },
  permissionList: [
    {
      describe: '测试权限1', //权限描述
      action: 'user:test1', // 权限标识
      type: '1' // 权限类型
    },
    {
      describe: '测试权限2',
      action: 'user:test2',
      type: '2'
    }
  ],
  data() {
    return {
      requestTreeUrl: requestPublicUrl + '/getSubMenuTree/', //加载树节点访问地址
      //树展开
      treeParam: {
        url: '',
        method: 'get'
      },
      //树节点删除
      treeDeleteParam: {
        url: '',
        method: 'post'
      },
      //树节点搜索
      searchTreeParam: {
        url: requestPublicUrl + '/searchMenuTree',
        parameter: '',
        method: 'post'
      },
      //初始化生成根节点
      insertRootParam: {
        url: '',
        method: 'post'
      },
      delParam: {
        url: '/deleteMenu',
        method: 'post'
      },
      searchPlaceHolder: '请输入名称',
      defaultParentId: '-1', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      treeRefName: 'avicTreeElement',
      moduleName,
      showTip: true,
      requestPublicUrl,
      pageSettingData: [
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '图标',
          width: 48,
          align: 'center',
          dataIndex: 'icon',
          scopedSlots: { customRender: 'icon' },
          sorter: false,
          isSearch: false
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '名称',
          width: 150,
          dataIndex: 'title',
          sorter: false,
          isSearch: true
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '路由命名',
          width: 150,
          dataIndex: 'name',
          sorter: false
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '组件',
          minWidth: 220,
          dataIndex: 'component',
          sorter: false
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '路径',
          width: 180,
          dataIndex: 'path',
          sorter: false
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '排序',
          width: 50,
          dataIndex: 'sort',
          sorter: false
        }
      ],
      menuArr: [],
      rowKey,
      dataIndex,
      tableRefName: 'MouldBaseTable',
      addModalRefName: 'modalAddForm',
      editModalRefName: 'modalEditForm'
    };
  },
  mounted() {
    // 树区域高度控制
    this.treeStyle = {
      height: 'calc(100% - 0px)'
    };
  },
  methods: {
    // 属性内校验显隐权限
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    },
    menuRefresh() {
      // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
      //刷新树
      this.treeMenuRefreshReset();
      //刷新表格
      this.menuRefreshReset();
    },
    // 重新加载刷新树
    reloadTreeData(parentId, refName) {
      if (parentId) {
        this.treeParam.url = this.requestTreeUrl + this.openLevel + '/' + parentId;
        this.$refs[refName].refresh(parentId);
      }
    },
    // 格式化路由数据
    saveTreeData(data) {
      // console.log("saveTreeData data,",data);
      for (let obj of data) {
        this.menuArrFunc = {
          id: obj.id,
          component: obj.component || '',
          url: obj.url || ''
        };
      }
    },
    selectNodeTree(e, refName) {
      let that = this;
      if (e && e.length > 0) {
        this.selectedKeys = e;
        this.page = 1;
        //加载子菜单列表
        this.$refs[refName].loadData(this.queryParam);
        //加载菜单权限按钮列表
        this.$refs['MenuButtonTable'].setTreeId(this.selectedKeys);
        this.$refs['MenuButtonTable'].loadData();

        if (this.menuArrFunc) {
          // console.log("this.menuArrFunc",this.menuArrFunc)
          let tpl = this.menuArrFunc.find(function (x) {
            return x.id === e[0];
          });
          if (tpl && !tpl.url) {
            require(['@/views/' + tpl.component + '.vue'], function (res) {
              // console.log("tpl=",res);
              if (res.default.permissionList) {
                that.$refs['MenuButtonTable'].setPagePermissionList(res.default.permissionList);
              }
            });
          }
        }
      }
    },
    afterLoadData(treeData) {
      // 判断是否显示初始化节点
      if (
        this.loadTreeParentId == this.defaultParentId &&
        (!treeData.result || treeData.result.length == 0)
      ) {
        this.initTreeDataVisible = true;
      }
      this.saveTreeData(this.$refs[this.treeRefName].getTreeData());
      //设置默认选中
      if (this.loadTreeParentId == this.defaultParentId) {
        if (treeData.result.length > 0) {
          this.selectedKeys = [treeData.result[0].id];
          this.selectNodeTree(this.selectedKeys, this.tableRefName);
        }
      }
    },
    reloadTree() {
      //刷新树子节点
      this.reloadTreeData(this.selectedKeys[0], this.treeRefName);
    },
    // 删除
    handleDelete(params) {
      if (!params) return;
      Modal.confirm({
        title: '确定删除吗？',
        onOk: () => {
          this.delLoading = true;
          httpAction(
            requestPublicUrl + this.delParam.url,
            params.param.ids.join(', '),
            this.delParam.method
          )
            .then(res => {
              if (res.success) {
                this.$message.success('删除成功！'); // 提示成功
                this.selectedRowKeys = []; // 清空表格选中项
                this.reloadData(false, params.refName); // 刷新表格
                this.reloadTree();
              }
              this.delLoading = false;
            })
            .catch(() => {
              this.delLoading = false;
            });
        }
      });
    }
  },
  computed: {
    menuArrFunc: {
      get() {
        return this.menuArr;
      },
      set(v) {
        this.menuArr.push(v);
      }
    },
    queryParam() {
      return {
        url: requestPublicUrl + '/getSubMenuListByPage',
        parameter: {
          queryBean: {
            pageParameter: {
              page: this.page, // 页数
              rows: this.rows // 每页条数
            },
            searchParams: {
              //...this.searchParam, // 普通查询数据
              //...this.advancedSearchParam, // 高级查询数据
              parentId: this.selectedKeys[0] //选中树id
            },
            keyWord: this.searchText // 排序字段
            //sidx: this.sidx, // 排序字段
            //sord: this.sord // 排序方式: desc降序 asc升序
          }
        },
        method: 'post'
      };
    }
  }
};
</script>

<style lang="less">
/* .manage-page-card .ant-spin-container .ant-table { */
/* overflow-y: hidden; */
/* } */

.box-title {
  display: inline-block;
  float: left;
  height: 20px;
  font-size: 12px;
  margin-top: 3px;

  .anticon {
    /* color: #40a9ff; */

    svg {
      font-size: 20px;
    }
  }

  span {
    vertical-align: top;
    display: inline-block;
    line-height: 20px;
    padding: 0 5px;
  }
}
</style>
