<template>
  <div class="surface">
    <!-- 操作按钮: 添加 编辑 删除 -->
    <div class="surface-title">
      <div class="box-title">
        <a-icon type="safety" />
      </div>
      <h3 style="margin-left: 3px">权限</h3>
      <!-- 查询 -->
      <div v-if="buttonPermissions" class="surface-tools-bar">
        <a-button
          v-if="pushShow"
          type="primary"
          icon="sync"
          :loading="pushLoading"
          @click="handlePush({ selectTreeId: selectedKeys[0] })"
        >
          推送本页权限并刷新
        </a-button>
      </div>
    </div>
    <div class="surface-content">
      <!-- 表格内容 -->
      <div class="surface-table">
        <!--子菜单列表-->
        <AvicBaseTable
          :ref="tableRefName"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { Button, Icon } from 'ant-design-vue';
// import MenuButtonAdd from './MenuButtonAdd'
// import MenuButtonEdit from './MenuButtonEdit'
import { httpAction } from '@/api/manage';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseTreeListMixin } from '@mixins/avic/pt/BaseTreeListMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
// 模块名称
let moduleName = 'MN_MENUBUTTONTABLE';
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = '/api/appsys/menu';
// 表格主键字段
let rowKey = 'id';
// 表格查看详情字段
let dataIndex = '';

// 为了精简代码 以下的columns设置涵盖了:
// 表格表头设置 单元格行编辑组件参数设置 高级查询组件参数设置 普通搜索标志位设置.
/**
 * isAuthFlag：是否为有权限标签
 * isTableHidden: 列表字段是否隐藏
 * isFormHidden: 是否在表单中显示
 * title: 表格: 表头标题; 高级查询: 表单控件label. (all)
 * titleRange: 高级查询: 日期或者时间范围控件的title. (date datetime)
 * dataIndex: 表格: 字段值; 高级查询 单元格行编辑: 表单控件唯一标志. (all)
 * sorter: 表格: 是否排序. (all, 默认均为true)
 * scopedSlots: 表格: 传值. (all)
 * align: 表格: 表头居中方式. (按规则: 默认居左,数字居右,单选多选下拉时间等居中)
 * type: 高级查询 单元格行编辑: 表单控件类型. (all)
 *       控件类型包括:input inputnumber textarea commonselect radio checkbox select date datetime
 * isCanEdit: 单元格行编辑: 是否可以行编辑. (默认不加,即默认不启用行编辑)
 * isSearch: 普通搜索: 是否作为普通搜索的字段. (作为普通搜索的字段加这个属性)
 * decorator: 高级查询: 表单控件校验规则. (注:checkbox必须要有initialValue: []这个校验) (all,若没有校验规则,则不加)
 * decoratorRange: 高级查询: 日期或者时间范围控件的校验规则. (date datetime)
 * placeholder: 高级查询 单元格行编辑: 表单控件placeholder. (all)
 * placeholderRange: 高级查询: 日期或者时间范围的placeholder. (date datetime)
 * controlType: 高级查询 单元格行编辑的commonselect (commonselect)
 *              选择类型(userSelect为选人,deptSelect为选部门,roleSelect为选角色,groupSelect为选群组,positionSelect为选岗位)
 * selectModel: 高级查询 单元格行编辑的commonselect (commonselect)
 *              单选还是多选(multi为多选;single为单选).
 * min: 高级查询 单元格行编辑的inputnumber: 最小值. 注:数值型 (inputnumber)
 * max: 高级查询 单元格行编辑的inputnumber: 最大值. 注:数值型 (inputnumber)
 * step: 高级查询 单元格行编辑的inputnumber: 点击上下键变化的步数. 注:数值型 (inputnumber)
 * precision: 高级查询 单元格行编辑的inputnumber: 小数位数. 注:数值型 (inputnumber)
 * list: 高级查询 单元格行编辑的select checkbox radio: 通用代码数组. (radio checkbox select)
 * format: 高级查询 单元格行编辑的 date datetime: 日期或者时间格式化. (date datetime)
 * submitFormat: 高级查询 单元格行编辑的 date datetime提交到后台时传的格式 (date datetime)
 *               formatTime代表格式化时间;timeStamp代表时间戳,默认时间戳.
 * showToday: 高级查询 单元格行编辑的 date: 日期是否展示今天. (date)
 * rows: 高级查询 单元格行编辑的 textarea: 行数. (textarea)
 **/

export default {
  name: 'MenuButtonTable',
  components: {
    // MenuButtonAdd,
    // MenuButtonEdit,
    AIcon: Icon,
    AButton: Button
  },
  mixins: [baseTableMixin, baseTreeListMixin, menuRefreshMixin],
  data() {
    return {
      //树展开
      treeParam: {
        url: '',
        method: 'get'
      },
      // delParam: {
      //   url: '/deleteMenuPerm',
      //   method: 'post'
      // },
      pushParam: {
        url: '/pushMenuPerm',
        method: 'post'
      },
      moduleName,
      requestPublicUrl,
      rowKey,
      showTip: true,
      pagePermissionList: [],
      pushLoading: false,
      pushShow: false,
      dataIndex,
      tableRefName: 'MouldBaseSubTable',
      addModalRefName: 'modalAddForm',
      editModalRefName: 'modalEditForm',
      pageSettingData: [
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '按钮/权限名称',
          dataIndex: 'describe',
          sorter: false,
          isSearch: false
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '授权标识',
          dataIndex: 'action',
          sorter: false,
          isSearch: false
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '授权策略',
          dataIndex: 'type',
          sorter: false,
          isSearch: false,
          customRender(value, row, rowKey) {
            if (value && value === '1') {
              return '授权后显示';
            } else if (value && value === '2') {
              return '授权后禁止编辑';
            } else {
              return value;
            }
          }
          // formatter: ({ cellValue, row, column }) => {
          //   if (cellValue && cellValue === '1') {
          //     return '授权后隐藏';
          //   } else if (cellValue && cellValue === '2') {
          //     return '授权后禁止编辑';
          //   } else {
          //     return cellValue;
          //   }
          // }
        }
      ]
    };
  },
  computed: {
    queryParam() {
      return {
        url: requestPublicUrl + '/getMenuPermListByPage',
        parameter: {
          queryBean: {
            pageParameter: {
              page: this.page, // 页数
              rows: this.rows // 每页条数
            },
            searchParams: {
              //...this.searchParam, // 普通查询数据
              //...this.advancedSearchParam, // 高级查询数据
              menuId: this.selectedKeys[0] //选中树id
            }
          }
          //keyWord: this.searchText, // 排序字段
          //sidx: this.sidx, // 排序字段
          //sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  methods: {
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    },
    loadData() {
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    setTreeId(id) {
      this.selectedKeys = id;
      this.pushLoading = false;
      this.pushShow = false;
      this.pagePermissionList = [];
    },
    setPagePermissionList(arr) {
      if (arr.length) this.pushShow = true;
      this.pagePermissionList = arr;
    },
    handlePush(params) {
      if (!params) return;
      this.pushLoading = true;
      let arr = this.pagePermissionList;
      let param = {
        menuId: params.selectTreeId,
        data: JSON.stringify(arr)
      };
      httpAction(requestPublicUrl + this.pushParam.url, param, this.pushParam.method)
        .then(res => {
          if (res.success) {
            this.$message.success('推送成功！'); // 提示成功
            this.reloadData(false, this.tableRefName); // 刷新表格
          }
          this.pushLoading = false;
        })
        .catch(() => {
          this.pushLoading = false;
        });
    }
    // 删除
    // handleDelete(params) {
    //   if(!params) return;
    //   this.delLoading = true;
    //   httpAction(requestPublicUrl + this.delParam.url, params.param.ids.join(','), this.delParam.method)
    //     .then((res) => {
    //       if (res.success) {
    //         this.$message.success('删除成功！'); // 提示成功
    //         this.selectedRowKeys = []; // 清空表格选中项
    //         this.reloadData(false, params.refName); // 刷新表格
    //       }
    //       this.delLoading = false;
    //     }).catch(() => {
    //     this.delLoading = false;
    //   })
    // }
  }
};
</script>
