<template>
  <a-modal
    :visible="editIndexModal"
    :centered="true"
    :closable="false"
    :mask-closable="false"
    :style="modalWidthAndHeight.modalStyle"
    :width="modalWidthAndHeight.modalStyle.width"
    :body-style="modalWidthAndHeight.bodyStyle"
    :destroy-on-close="true"
    wrap-class-name="table-modal-wrap"
    ok-text="保存"
    :footer="null"
    @ok="savePortalDesign"
    @cancel="closeModal"
  >
    <div class="modal-body">
      <AvicAsyncComponent
        :widget-form="widgetForm"
        :path="comPath"
        :port-let="portLet"
        :delay="delay"
        @updateDesign="updateDesign"
        @updatePortLetList="updatePortLetList"
        @closeModal="closeModal"
        @savePortalDesign="savePortalDesign"
      />
    </div>
  </a-modal>
</template>

<script>
import '@assets/styles/common/base-modal.less';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import AvicAsyncComponent from '@comp/avic/pt/common/AvicAsyncComponent/index';
import { httpAction } from '@/api/manage';
import { message } from 'ant-design-vue';
import { mapGetters } from 'vuex';

const modalStyle = modalWidthAndHeight(1, 1, 0, 'hidden', 'fff');
modalStyle.bodyStyle['padding'] = '0px';
modalStyle.bodyStyle['borderRadius'] = '4px';
export default {
  props: ['widgetForm', 'portLet'],
  name: 'PortalConfigDesign',
  components: {
    AvicAsyncComponent
  },
  data() {
    return {
      comPath: 'components/avic/pt/common/AvicFormMaking/entry',
      portalDesignData: null,
      editIndexModal: true,
      modalWidthAndHeight: modalStyle,
      defaultWidgetForm: {
        list: [],
        config: { labelWidth: 100, labelPosition: 'right', size: 'small' }
      },
      updateForPortletUrl: '/api/appsys/portlet/portalConfig/updateForPortlet/v1',
      spinning: true,
      delay: 0
    };
  },
  computed: {
    ...mapGetters(['getGlobalCfgItem'])
  },
  mounted() {
    this.modalWidthAndHeight = modalWidthAndHeight(1, 1, 0, 'hidden', 'fff');
    this.modalWidthAndHeight.bodyStyle['padding'] = '0px';
    this.modalWidthAndHeight.bodyStyle['borderRadius'] = '4px';
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1, 1, 0, 'hidden', 'fff');
      this.modalWidthAndHeight.bodyStyle['padding'] = '0px';
      this.modalWidthAndHeight.bodyStyle['borderRadius'] = '4px';
    });
  },
  methods: {
    updateDesign(data) {
      this.portalDesignData = data;
    },
    savePortalDesign() {
      if (this.portalDesignData && this.portLet.id) {
        let param = {
          id: this.portLet.id,
          content: JSON.stringify(this.portalDesignData),
          portletName: this.portLet.portletName
        };
        httpAction(this.updateForPortletUrl, param, 'post')
          .then(res => {
            if (res.success) {
              // 修改用户默认配置时更新个性化配置中的门户配置
              let id = this.getGlobalCfgItem('PORTAL_DESIGN');
              if (id && id == this.portLet.id) {
                // 全局更新设计内容content
                this.$store.commit('UPDATE_CUSTOM_PORTLET', {
                  key: 'PORTAL_DESIGN_CONTENT',
                  val: JSON.stringify(this.portalDesignData)
                });
              }
              this.closeModal();
              // 首次修改系统默认和角色定义的桌面门户时更新首页列表
              if (
                this.portLet.resourceType &&
                (this.portLet.resourceType == 0 || this.portLet.resourceType == 1)
              ) {
                this.$emit('updatePortLetList');
              }
              message.success('保存成功!');
            } else {
              this.$emit('closeModal');
              message.success('保存失败!');
            }
          })
          .catch();
      }
    },
    closeModal() {
      // 返回关闭事件
      this.editIndexModal = false;
      this.$emit('closeModal');
    },
    updatePortLetList(withoutCloseMd) {
      if (!withoutCloseMd) {
        this.closeModal();
      }
      this.$emit('updatePortLetList', withoutCloseMd);
    }
  }
};
</script>
<style lang="less" scoped>
.modal-body {
  height: 100%;
  width: 100%;
}
.table-modal-wrap {
  overflow: hidden !important;
}
</style>
