<template>
  <div>
    <a-dropdown placement="bottomLeft" v-model="visible">
      <div class="ant-dropdown-link" @click="e => e.preventDefault()">
        <a-icon class="menu-icon" v-if="item.meta.icon" :type="item.meta.icon" />
        {{ item.meta.title }}
      </div>
      <a-menu slot="overlay">
        <a-radio-group name="radioGroup" v-model="radioValue" @change="onChange">
          <a-menu-item class="tabs-drop-item">
            <ul>
              <li v-for="(tim, i) in userConfig" :key="'portletName-' + i">
                <a-radio :style="radioStyle" :value="i">
                  <span class="tabs-drop-item-span" :title="tim.portletName">{{
                    tim.portletName
                  }}</span>
                </a-radio>
                <a-icon type="setting" class="setting" @click="handleIndexSetting(tim, i)" />
              </li>
            </ul>
          </a-menu-item>
          <a-menu-item class="tabs-drop-item-plus" @click="handleOpenModal()">
            <a-icon type="plus" /> <span>添加首页</span>
          </a-menu-item>
        </a-radio-group>
      </a-menu>
    </a-dropdown>
    <a-modal title="添加" :visible="modalVisible" @ok="handleOk" @cancel="handleCancel">
      <a-form :form="form">
        <a-form-item
          :label-col="formItemLayout.labelCol"
          :wrapper-col="formItemLayout.wrapperCol"
          label="首页名称"
        >
          <a-input
            v-decorator="[
              'portletName',
              { rules: [{ required: true, message: '请输入首页名称' }] }
            ]"
            placeholder="请输入首页名称"
          />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import { Icon, Menu, Input, Dropdown, Radio, Form, message } from 'ant-design-vue';
import { httpAction } from '@/api/manage';
import { mapGetters } from 'vuex';
const PORTAL_DESIGN = 'PORTAL_DESIGN';
const requestPublicUrl = '/api/appsys/portlet/portalConfig/';
const formItemLayout = {
  labelCol: { span: 6 },
  wrapperCol: { span: 14 }
};
export default {
  name: 'TabsDropdown',
  props: {
    // 菜单显示隐藏
    menuVisible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: () => {}
    }
  },
  components: {
    AIcon: Icon,
    AMenu: Menu,
    ARadio: Radio,
    ADropdown: Dropdown,
    AForm: Form,
    AFormItem: Form.Item,
    AInput: Input
  },
  watch: {
    visible() {
      return this.menuVisible;
    }
  },
  data() {
    return {
      visible: false, //Dropdown 显隐控制
      modalVisible: false, //添加首页名称弹窗显隐控制
      radioValue: '',
      radioStyle: {
        display: 'block',
        height: '30px',
        lineHeight: '30px'
      },
      formItemLayout,
      form: this.$form.createForm(this, { name: 'dynamic_rule' }),
      userConfig: [], //配置列表
      saveUrl: requestPublicUrl + 'save/v1',
      updateUrl: requestPublicUrl + 'toSetDefaultPortletConfig/v1',
      dataUrl: requestPublicUrl + 'getUserPortlets/v1',
      getContentUrl: requestPublicUrl + 'get/v1'
    };
  },
  mounted() {
    this.refreshData('init');
  },
  computed: {
    ...mapGetters(['getGlobalCfgItem'])
  },
  methods: {
    /** 用户首页配置列表数据初始化和刷新**/
    refreshData(type) {
      let widgetFormId = this.getGlobalCfgItem(PORTAL_DESIGN);
      httpAction(this.dataUrl, null, 'get')
        .then(res => {
          if (res.result) {
            this.userConfig = res.result;
          }
          if (widgetFormId == null) {
            this.userConfig.map((tim, index) => {
              if (tim.isDefault == 1) {
                this.radioValue = index;
                // 用户首次登陆系统，初始化个性化配置中的门户配置信息
                this.getPortletContentByIds(tim.id, res => {
                  this.$store.commit('SAVE_GLOBAL_ITEM_CFG', {
                    key: 'PORTAL_DESIGN',
                    val: tim.id
                  });
                  this.$store.commit('UPDATE_CUSTOM_PORTLET', {
                    key: 'PORTAL_DESIGN_CONTENT',
                    val: res.content
                  });
                });
              }
            });
          } else if (widgetFormId) {
            let hasId = false;
            let id = '';
            this.userConfig.map((tim, index) => {
              if (tim.id == widgetFormId) {
                this.radioValue = index;
                hasId = true;
                id = widgetFormId;
              }
            });
            if (!hasId) {
              this.userConfig.map((tim, index) => {
                if (tim.isDefault == 1) {
                  this.radioValue = index;
                  id = tim.id;
                  this.$store.commit('SAVE_GLOBAL_ITEM_CFG', {
                    key: 'PORTAL_DESIGN',
                    val: tim.id
                  });
                }
              });
            }
            // 用户非首次登陆系统，根据ID查询出门户设计数据并存入全局
            this.getPortletContentByIds(id, res => {
              this.$store.commit('UPDATE_CUSTOM_PORTLET', {
                key: 'PORTAL_DESIGN_CONTENT',
                val: res.content
              });
            });
          }
        })
        .catch(response => {});
    },
    /** 点击radio设置默认状态**/
    onChange(e) {
      console.log('radio checked');
      let i = e.target.value;
      let url = this.getContentUrl + '/' + this.userConfig[i].id;
      this.updateDefault({
        id: this.userConfig[i].id,
        isDefault: 1
      }).then(result => {
        if (result) {
          httpAction(url, null, 'get').then(res => {
            if (res.result) {
              this.radioValue = i;
              this.$store.commit('SAVE_GLOBAL_ITEM_CFG', {
                key: 'PORTAL_DESIGN',
                val: this.userConfig[i].id
              });
              this.$store.commit('UPDATE_CUSTOM_PORTLET', {
                key: 'PORTAL_DESIGN_CONTENT',
                val: res.result.content
              });
              message.success('设置成功');
            } else {
              message.warning('设置失败');
            }
          });
        }
      });
    },
    updateDefault(values) {
      return new Promise((resolve, reject) => {
        httpAction(this.updateUrl, values, 'post').then(res => {
          if (res.result) {
            resolve(res);
          } else {
            message.success('设置失败');
            resolve(null);
          }
        });
      });
    },
    /**点击设置打开首页布局设置弹窗 **/
    handleIndexSetting(tim, index) {
      this.visible = false; // 隐藏下拉菜单
      this.modalVisible = false;
      //获取该首页配置信息
      this.getPortletContentByIds(tim.id, res => {
        let result = {
          content: JSON.parse(res.content),
          ...tim
        };
        this.$nextTick(() => {
          this.$emit('handleIndexSetting', result);
        });
      });
    },
    /**根据portlet id 获取content内容**/
    getPortletContentByIds(id, success) {
      let url = this.getContentUrl + '/' + id;
      if (id) {
        httpAction(url, null, 'GET')
          .then(res => {
            if (res.result) {
              if (success) {
                success(res.result);
              }
            }
          })
          .catch(response => {});
      }
    },
    /**打开添加弹窗**/
    handleOpenModal() {
      this.visible = false;
      this.form.resetFields(); // 清空添加弹窗表单
      this.menuVisible = false;
      let _this = this;
      setTimeout(function () {
        _this.modalVisible = true;
      }, 200);
    },

    /** 请求接口保存首页名称 **/
    handleOk() {
      this.menuVisible = false;
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          this.modalVisible = false;
          httpAction(this.saveUrl, values, 'post').then(res => {
            if (res.result) {
              this.modalVisible = false;
              let result = {
                id: res.result,
                ...values,
                content: null
              };
              this.refreshData(); //保存成功更新列表
              this.$emit('handleIndexSetting', result);
            } else {
              message.success('保存成功');
            }
          });
        }
      });
    },
    /**首页弹窗添加取消操作 **/
    handleCancel() {
      this.menuVisible = false;
      this.modalVisible = false;
    }
  }
};
</script>

<style lang="less" scoped>
.tabs-dropdown-menu-wrapper {
  position: absolute;
  top: 30px;
  left: 10px;
  padding: 0;
  /* z-index: 1000; */
}
/*  首页设置配置 by mzy 2020-0528 start */
ul.ant-dropdown-menu {
  left: -12px;
  top: 4px;
}
ul.ant-dropdown-menu::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 35px;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 0;
}
li.tabs-drop-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

li.tabs-drop-item ul {
  width: 400px;
  li {
    display: inline-flex;
    width: 133px;
    position: relative;
    align-items: center;

    .tabs-drop-item-span {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 80px;
      height: 24px;
      display: inline-block;
      overflow: hidden;
      vertical-align: text-bottom;
    }
    i {
      visibility: hidden;
      color: #b9bcb6;
      position: absolute;
      right: 10px;
    }
    &:hover i {
      visibility: visible;
    }
    &:hover i:hover {
      visibility: visible;
      color: #343434;
    }
  }
}
li.tabs-drop-item-plus {
  padding: 4px 10px;
  text-align: center;
  background-color: #fbfbfb;
  cursor: pointer;
}
li.tabs-drop-item-plus i {
  margin-right: 5px;
}
/*  首页设置配置 by mzy 2020-0528 end */
</style>
