<template>
  <AvicModal
    :visible="flowNodeSelectVisible"
    :modal-title="getFlowNodeSelectTitle"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="48"
    :adjust-size="true"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    :footer="null"
    @cancel="closeModal"
  >
    <AvicBpmChart :type="getFlowNodeSelectType" @clickNode="clickNode" />
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import AvicBpmChart from '@comp/avic/bpm/AvicBpmContent/AvicBpmChart';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'BpmNodeSelect',
  components: {
    AvicModal,
    AvicBpmChart
  },
  data() {
    return {
      flowNodeSelectVisible: false, // 弹窗modal显隐
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 48) // 弹窗modal宽高控制
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 48);
    });
  },
  methods: {
    ...mapActions([
      'closeFlowNodeSelectModal',
      'BpmGlobaljumpCallback',
      'executeTowantCallback',
      'BpmSupplementCallback',
      'BpmWithdrawCallback',
      'BpmStepuserdefinedCallback'
    ]),
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.closeFlowNodeSelectModal();
    },
    clickNode(params) {
      if (this.getFlowNodeSelectType === 'doglobaljump') {
        // 流程跳转
        this.BpmGlobaljumpCallback(params);
      } else if (this.getFlowNodeSelectType === 'doretreattowant') {
        // 任意退回
        this.executeTowantCallback(params);
      } else if (this.getFlowNodeSelectType === 'dosupplement') {
        // 补发
        this.BpmSupplementCallback(params);
      } else if (this.getFlowNodeSelectType === 'dowithdraw') {
        // 拿回
        this.BpmWithdrawCallback(params);
      } else if (this.getFlowNodeSelectType === 'dostepuserdefined') {
        // 自定义选人
        this.BpmStepuserdefinedCallback(params);
      }
    }
  },
  computed: {
    ...mapGetters(['getFlowNodeSelectVisible', 'getFlowNodeSelectType', 'getFlowNodeSelectTitle'])
  },
  watch: {
    /**
     * 监听是否显示
     */
    getFlowNodeSelectVisible(flowNodeSelectVisible) {
      this.flowNodeSelectVisible = flowNodeSelectVisible;
      if (flowNodeSelectVisible) {
        setTimeout(() => {}, 0);
      }
    }
  }
};
</script>
