<template>
  <AvicModal
    :visible="butTrackVisible"
    modal-title="流程跟踪"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="48"
    :adjust-size="true"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    :footer="null"
    @cancel="closeModal"
  >
    <div class="track-head">
      <h3>流程跟踪</h3>
      <a v-if="fatherEntryId" href="javascript:void(0);" class="father-flow" @click="unfoldFather">
        <a-icon type="zoom-in" /> 查看父流程
      </a>
    </div>
    <AvicBpmChart />
    <h3>流程意见</h3>
    <AvicBpmTrackingTemplate :ref="refName" :flow-param="tracksParam" />
    <FatherTrack
      :show-bpm-open-form-but="true"
      :entry-id="fatherEntryId"
      :visible="fatherVisible"
      @closeFather="closeFather"
    />
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import { Icon } from 'ant-design-vue';
import AvicBpmChart from '@comp/avic/bpm/AvicBpmContent/AvicBpmChart';
import AvicBpmTrackingTemplate from '@comp/avic/bpm/AvicBpmTrackingTemplate';
import FatherTrack from '@comp/avic/bpm/AvicBpmButtonsModal/FatherTrack';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { mapActions, mapGetters } from 'vuex';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { httpAction } from '@/api/manage';
export default {
  name: 'ButTrack',
  components: {
    AvicModal,
    AIcon: Icon,
    AvicBpmChart,
    AvicBpmTrackingTemplate,
    FatherTrack
  },
  data() {
    return {
      butTrackVisible: false, // 弹窗modal显隐
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 48, 'auto', 'fff'), // 弹窗modal宽高控制
      tracksParam: {
        url: bpmUtils.baseurl + '/business/doGettracks/v1',
        parameter: {
          entryId: this.$store.state.bpmModel.entryId
        },
        method: 'post'
      },
      getParentprocessParam: {
        url: bpmUtils.baseurl + '/business/getParentprocess/v1',
        method: 'post'
      },
      fatherEntryId: '', //父流程EntryId
      fatherVisible: false, //打开父流程
      refName: 'flowTextTrack'
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 48, 'auto', 'fff');
    });
  },
  methods: {
    ...mapActions(['closeButTrackModal']),
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.closeButTrackModal();
    },
    /**
     * 加载流程意见
     */
    loadFlowTextTrack() {
      this.tracksParam.parameter.entryId = this.$store.state.bpmModel.entryId;
      this.$refs[this.refName].refreshFlowTracking();
    },
    //获取是否有父流程
    getParentprocess() {
      if (this.$store.state.bpmModel.entryId) {
        let parameter = {
          entryId: this.$store.state.bpmModel.entryId
        };
        httpAction(this.getParentprocessParam.url, parameter, this.getParentprocessParam.method)
          .then(res => {
            if (res.success) {
              this.fatherEntryId = res.result;
            }
          })
          .catch(e => {});
      }
    },
    //打开父流程
    unfoldFather() {
      this.fatherVisible = true;
    },
    //关闭父流程
    closeFather() {
      this.fatherVisible = false;
    }
  },
  computed: {
    ...mapGetters(['getButTrackVisible'])
  },
  watch: {
    /**
     * 监听是否显示
     */
    getButTrackVisible(butTrackVisible) {
      this.butTrackVisible = butTrackVisible;
      if (butTrackVisible) {
        setTimeout(() => {
          this.loadFlowTextTrack();
        }, 0);
        this.getParentprocess();
      }
    }
  }
};
</script>
<style lang="less">
.track-head {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  h3 {
    display: inline-block;
  }
  .father-flow {
    float: right;
    color: #2a93ff;
  }
}
</style>
