<template>
  <AvicModal
    :visible="visible"
    :modal-title="title"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="48"
    :adjust-size="true"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    :footer="null"
    @cancel="closeModal"
  >
    <div class="track-head">
      <h3>流程跟踪</h3>
      <a v-if="fatherEntryId" href="javascript:void(0);" class="father-flow" @click="unfoldFather">
        <a-icon type="zoom-in" /> 父流程图
      </a>
      <a v-if="showBpmOpenFormBut" href="javascript:void(0);" class="father-flow" @click="openflow">
        <a-icon type="file" /> 相关表单
      </a>
    </div>
    <div class="flow-chart-box">
      <AvicBpmChartTemplate :ref="flowChart" :flow-param="flowParam" />
    </div>
    <h3>流程意见</h3>
    <AvicBpmTrackingTemplate :ref="refName" :flow-param="tracksParam" />
    <AvicBpmDetailList />
    <FatherTrack
      :show-bpm-open-form-but="true"
      :entry-id="fatherEntryId"
      :visible="fatherVisible"
      @closeFather="closeFather"
    />
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import { Icon } from 'ant-design-vue';
import AvicBpmTrackingTemplate from '@comp/avic/bpm/AvicBpmTrackingTemplate';
import AvicBpmDetailList from '@/components/avic/bpm/AvicBpmDetailList';
import FatherTrack from '@comp/avic/bpm/AvicBpmButtonsModal/FatherTrack';
import AvicBpmChartTemplate from '@/components/avic/bpm/AvicBpmChartTemplate';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { httpAction } from '@/api/manage';
export default {
  name: 'FatherTrack',
  components: {
    AvicModal,
    AIcon: Icon,
    AvicBpmTrackingTemplate,
    AvicBpmDetailList,
    FatherTrack,
    AvicBpmChartTemplate
  },
  props: {
    //prop接收传过来的参数
    entryId: {
      required: false,
      type: String,
      default: ''
    },
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    showBpmOpenFormBut: {
      type: Boolean,
      required: false,
      default: false
    },
    title: {
      required: false,
      type: String,
      default: '父流程'
    }
  },
  data() {
    return {
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 48), // 弹窗modal宽高控制
      tracksParam: {
        url: bpmUtils.baseurl + '/business/doGettracks/v1',
        parameter: {
          entryId: ''
        },
        method: 'post'
      },
      flowParam: {
        url: bpmUtils.baseurl + '/clientbpmdisplayaction/getProcessXml/v1',
        parameter: {},
        method: 'post'
      },
      getParentprocessParam: {
        url: bpmUtils.baseurl + '/business/getParentprocess/v1',
        method: 'post'
      },
      fatherEntryId: '',
      refName: 'flowTextTrack',
      fatherVisible: false,
      flowChart: 'flowChart'
    };
  },
  watch: {
    visible: {
      immediate: true,
      handler(visible) {
        if (visible) {
          setTimeout(() => {
            this.loadFlowTextTrack();
          }, 0);
          this.getParentprocess();
        }
      }
    }
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 48);
    });
  },
  methods: {
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.$emit('closeFather');
    },
    /**
     * 加载流程意见
     */
    loadFlowTextTrack() {
      if (this.entryId) {
        this.tracksParam.parameter = {
          entryId: this.entryId
        };
        this.flowParam.parameter = {
          processInstanceId: this.entryId
        };

        this.$refs[this.refName].refreshFlowTracking();
        this.$refs[this.flowChart].refreshFlowChart();
      }
    },
    //获取是否有父流程
    getParentprocess() {
      if (this.entryId) {
        let parameter = {
          entryId: this.entryId
        };
        httpAction(this.getParentprocessParam.url, parameter, this.getParentprocessParam.method)
          .then(res => {
            if (res.success) {
              this.fatherEntryId = res.result;
            }
          })
          .catch(e => {});
      }
    },
    //打开父流程
    unfoldFather() {
      this.fatherVisible = true;
    },
    //关闭父流程
    closeFather() {
      this.fatherVisible = false;
    },
    //打开流程详情
    openflow() {
      if (this.entryId) {
        bpmUtils
          .detail(this.entryId)
          .then(res => {})
          .catch(() => {
            this.$message.error('启动流程失败!');
          });
      }
    }
  }
};
</script>
<style lang="less">
.track-head {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  a:link {
    text-decoration: none;
  }
  a:active {
    text-decoration: blink;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: none;
  }
  h3 {
    display: inline-block;
  }
  .father-flow {
    float: right;
    color: #2a93ff;
    padding: 0 10px;
  }
}
.flow-chart-box {
  width: 100%;
  overflow: auto;
  margin: 10px 0;
}
</style>
