<template>
  <avic-resize-layout id="ProcessTreeTable" direction="h">
    <avic-resize-layout-panel :width="treeWidth">
      <!-- <div :style="treeStyle"> -->
      <AvicTree
        :ref="treeRefName"
        :tree-param="treeParam"
        :is-load-data="true"
        :show-line="true"
        :default-expand-all="true"
        :default-max-parent-id="defaultParentId"
        :tree-loading="treeLoading"
        :default-expand-hierarchy="defaultLevel"
        :selected-keys.sync="selectedKeys"
        @select="(e, data) => selectNodeTree(e, data, tableRefName)"
        @afterLoadData="afterLoadData"
        @beforeLoadData="beforeLoadData"
      />
      <!-- </div> -->
    </avic-resize-layout-panel>
    <avic-resize-layout-panel>
      <div class="surface">
        <!-- 操作按钮及查询区域 -->
        <div class="surface-title">
          <div class="surface-tools-bar">
            <!-- 普通查询 -->
            <a-input-search
              v-model="searchText"
              class="table-search-text"
              style="width: 200px"
              placeholder="请输入标题"
              @search="searchByKeyWord(tableRefName)"
            />
          </div>
        </div>
        <div class="surface-content">
          <!-- 表格内容 -->
          <div class="surface-table">
            <!-- 单表表格组件 -->
            <AvicBaseTable
              :ref="tableRefName"
              :is-auto-count-scroll-x="true"
              :columns="selectColumns"
              :data-source="data"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
              :is-multi-selection="isMultiSelection"
              @getData="getData"
              @handleRowSelection="handleRowSelection"
              @handleTableChange="handleTableChange(tableRefName, $event)"
            />
          </div>
        </div>
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import { Input } from 'ant-design-vue';
import { baseTreeListMixin } from '@mixins/avic/pt/BaseTreeListMixin';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = bpmUtils.baseurl + '/monitor';
// 树节点通用代码params
let treeNodelookupParams = [];
// 列表通用代码params
let treeListlookupParams = [];
// 表格主键字段
let rowKey = 'dbId';
// 表格查看详情字段
let dataIndex = '';
// 表格数据设置
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'title',
    scopedSlots: { customRender: 'title' },
    customRender(text, record, index) {
      return text ? text : record.procDefName ? record.procDefName : '无';
    }
  },
  {
    title: '申请日期',
    dataIndex: 'startDate',
    sorter: true,
    align: 'center',
    type: 'datetime',
    width: 150
  },
  {
    title: '当前节点',
    dataIndex: 'activityName',
    width: 120
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    sorter: true,
    width: 80,
    align: 'center',
    customRender(text, record, index) {
      if (text && text === 'active') {
        return '流转中';
      } else if (text && text === 'ended') {
        return '已完成';
      } else if (text && text === 'start') {
        return '拟稿中';
      } else {
        return text;
      }
    }
  },
  {
    title: '处理人',
    dataIndex: 'assigneeName',
    width: 120
  }
];
export default {
  name: 'ProcessTreeTable',
  components: {
    AInputSearch: Input.Search
  },
  mixins: [baseTableMixin, baseTreeListMixin],
  props: {
    isMultiSelection: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      requestTreeUrl: requestPublicUrl + '/getFlowModelTree/v1', //加载树节点访问地址
      //树展开
      treeParam: {
        url: '',
        method: 'post',
        parameter: {
          id: ''
        }
      },
      defaultParentId: 'root', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      treeRefName: 'avicTreeElement',
      pdId: '',
      nodeId: '',
      nodeType: '',
      requestPublicUrl,
      treeNodelookupParams,
      treeListlookupParams,
      rowKey,
      dataIndex,
      pageSettingData,
      tableRefName: 'ProcessTreeTable'
    };
  },
  computed: {
    queryParam() {
      return {
        url: bpmUtils.baseurl + '/process/searchHistProcessByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            type: 2,
            procDefId: this.pdId,
            nodeId: this.nodeId,
            nodeType: this.nodeType,
            title: this.searchText // 搜索标题
          },
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  created() {
    this.loadTreeParentId = this.defaultParentId; // 当前加载的树节点id
    // 进入页面,加载树列表数据
    this.treeParam.url = this.requestTreeUrl;
    this.treeParam.parameter.id = this.defaultParentId;
  },
  methods: {
    getData(obj) {
      if (obj.data && obj.data.rows && obj.data.rows.length > 0) {
        this.data = obj.data.rows; // 渲染表格
      } else {
        this.data = [];
      }
    },
    //加载树节点之前
    beforeLoadData(treeData, parentId) {
      this.loadTreeParentId = parentId;
      this.treeParam.parameter.id = parentId;
    },
    afterLoadData(treeData) {
      // 根节点加载表格数据
      if (this.loadTreeParentId == this.defaultParentId) {
        if (treeData.result.length > 0) {
          this.selectedKeys = [treeData.result[0].id];
          if (treeData.result[0].attributes) {
            this.pdId = treeData.result[0].attributes.pdId;
          }
          this.nodeId = treeData.result[0].id;
          this.nodeType = treeData.result[0].nodeType;
          this.$refs[this.tableRefName].loadData(this.queryParam);
        }
      }
    },
    selectNodeTree(e, data, refName) {
      if (e && e.length > 0) {
        this.selectedKeys = e;
        this.page = 1;
        // 获取传递参数
        if (data.attributes) {
          this.pdId = data.attributes.pdId;
        }
        this.nodeId = data.id;
        this.nodeType = data.nodeType;
        // 加载表格数据
        this.$refs[refName].loadData(this.queryParam);
      }
    },
    searchByKeyWord(tableRefName) {
      this.page = 1;
      this.$refs[tableRefName].loadData(this.queryParam);
    },
    handleRowSelection(obj) {
      if (obj.selectedRowKeys) {
        this.selectedRowKeys = obj.selectedRowKeys;
        let selectProcess = this.data.filter(item => {
          return this.selectedRowKeys.includes(item.dbId);
        });
        this.$emit('selectProcess', selectProcess);
      }
    }
  }
};
</script>
