<template>
  <div :class="['check-box']">
    <div
      v-if="showBox"
      :class="[
        checkBoxStyle,
        { 'is-checked': checked, 'is-part-checked': indeterminate, 'is-disabled': disabled }
      ]"
      @click="onChecked"
    />
    <div :class="['text']" @click="onSingleChecked" @dblclick="onDBLChecked">
      <slot />
    </div>
  </div>
</template>

<script>
import { depthFirstEach } from './util.js';
export default {
  model: {
    prop: 'checked',
    event: 'checked-change'
  },
  props: {
    checked: { type: Boolean, default: false },
    // 是否异步加载
    asynLoad: { type: Boolean, default: false },
    //  是否单选
    single: { type: Boolean, default: false },
    // 异步加载节点方法
    loadData: { type: Function, default: null },
    indeterminate: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    checkedAction: { type: String, default: 'none' },
    showCheckbox: { type: Boolean, default: false },
    isLeaf: { type: Boolean, default: true },
    showCheckboxLeafOnly: { type: Boolean, default: false },
    node: { type: Object, default: () => {} }
  },
  data() {
    return {};
  },
  computed: {
    showBox() {
      if (this.single && !this.isLeaf) {
        return false;
      }
      if (this.showCheckbox) {
        if (this.showCheckboxLeafOnly) {
          return this.isLeaf;
        }
        return true;
      }
      return false;
    },
    checkBoxStyle() {
      if (this.single) {
        return 'box radio';
      }
      return 'box';
    }
  },
  methods: {
    onChecked() {
      if (this.disabled) return;
      if (this.node.children.length > 0 || this.node.isLeaf) {
        this.$emit('checked-change', this.getNewChecked(this.checked));
        this.$emit('on-checked');
      } else {
        this.loadAsyn();
      }
    },
    labelClick() {
      this.$emit('on-click-label');
    },
    labelDblClick() {
      this.$emit('on-dblclick-label');
    },
    onSingleChecked() {
      if (this.single && !this.isLeaf) return;
      if (this.checkedAction === 'click' && this.showBox) this.onChecked();
      this.labelClick();
    },
    onDBLChecked() {
      if (this.single && !this.isLeaf) return;
      if (this.checkedAction === 'dblclick' && this.showBox) this.onChecked();

      this.labelClick();
      /* 添加单选的双击事件 By Cj */
      this.labelDblClick();
    },
    // 读取异步数据
    loadAsyn() {
      if (this.asynLoad && this.loadData) {
        this.loadData(this.node, () => {
          this.$emit('checked-change', this.getNewChecked(this.checked));
          this.$emit('on-checked');
        });
      }
    },
    getNewChecked(oldChecked) {
      if (this.node.isLeaf) {
        return !oldChecked;
      }
      let newChecked = false;
      depthFirstEach({ tree: this.node.children }, node => {
        if (node.isLeaf && !node.disabled && !node.checked) {
          newChecked = true;
          return 'break';
        }
      });
      return newChecked;
    }
  }
};
</script>

<style lang="less" scoped>
.check-box {
  flex: 1;
  font-size: 12px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  .text {
    user-select: none;
  }
  .box {
    position: relative;
    min-width: 12px;
    width: 16px;
    height: 16px;
    top: 1px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
    &::after {
      position: absolute;
      top: 50%;
      left: 22%;
      display: table;
      width: 6px;
      height: 9px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(1) translate(-50%, -50%);
      opacity: 0;
      content: ' ';
    }
    // 子元素部分选中
    &.is-checked,
    &.is-part-checked {
      border-radius: 2px;
      &::after {
        opacity: 1;
      }
    }
    &.is-part-checked {
      background-color: #fff;
      &::after {
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        border: 0;
        transform: scale(1) translate(-50%, -50%);
      }
    }
    &.is-disabled {
      background: #f5f5f5;
      color: #c0c4cc;
      border-color: #e8e8e8;
      &::after {
        cursor: not-allowed;
        opacity: 0;
      }
    }
    &.radio {
      border-radius: 50%;
      &::after {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        transform: rotate(0deg) scale(1) translate(-23%, -50%);
        border: 1px solid #fff;
        background-color: #fff;
      }
      &.is-checked {
        background-color: #fff;
      }
      &.is-disabled {
        background: #f5f5f5;
        color: #c0c4cc;
        border-color: #e8e8e8;
        &::after {
          cursor: not-allowed;
          opacity: 0;
        }
      }
    }
  }
}
</style>
