<template>
  <span class="avic-spin-dot avic-spin-dot-spin">
    <i class="avic-spin-dot-item theme-main-bg" />
    <i class="avic-spin-dot-item theme-main-bg" />
    <i class="avic-spin-dot-item theme-main-bg" />
    <i class="avic-spin-dot-item theme-main-bg" />
  </span>
</template>

<script>
export default {
  props: {
    isLoading: {
      type: Boolean,
      default: false
    }
  },
  name: 'Loading',
  component: {}
};
</script>

<style lang="less" scoped>
.avic-spin-dot {
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 1em;
  height: 1em;

  .avic-spin-dot-item {
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    transform: scale(0.75);
    transform-origin: 50% 50%;
    opacity: 0.3;
    -webkit-animation: avicspinmove 1s linear infinite alternate;
    animation: avicspinmove 1s linear infinite alternate;

    &:first-child {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 0;
      right: 0;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      right: 0;
      bottom: 0;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
    &:nth-child(4) {
      bottom: 0;
      left: 0;
      /* -webkit-animation-delay: 1.2s; */
      animation-delay: 1.2s;
    }
  }

  @keyframes avicspinmove {
    100% {
      opacity: 1;
    }
  }
}
.avic-spin-dot-spin {
  transform: rotate(45deg);
  -webkit-animation: avicrotate 1.2s linear infinite;
  animation: avicrotate 1.2s linear infinite;
}

@keyframes avicrotate {
  100% {
    transform: rotate(405deg);
  }
}
</style>
