<template>
  <a-card
    class="box-card"
    :bordered="false"
    :body-style="{
      padding: '0px',
      overflow: 'auto',
      borderRadius: '4px',
      position: 'absolute',
      top: element.options.titleRequired ? '50px' : '0',
      bottom: '0px',
      left: '0px',
      right: '0px'
    }"
  >
    <div slot="title" class="box-card-title" v-if="element.options.titleRequired">
      <span v-text="element.options.title" />
      <div class="box-card-title-tabBar">
        <shuaxin-icon
          v-if="element.options.refresh > 0"
          :spin="loading"
          class="theme-main-hover-color panel-icon"
          @click="reFreshData()"
        />
        <!-- <gengduo-icon class="panel-icon" /> -->
        <router-link
          v-if="element.options.moreUrl && element.options.menuPath"
          :to="element.options.menuPath"
        >
          <gengduo-icon class="panel-icon" />
        </router-link>
      </div>
    </div>
    <div class="box-card-body" v-if="element.type == 'smallPage'">
      <component ref="smallPages" :is="componentFile" />
    </div>
  </a-card>
</template>

<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
export default {
  props: ['data', 'element'],
  name: 'CardContainer',
  components: {
    GengduoIcon,
    ShuaxinIcon
    // 自定义图标
  },
  data() {
    const ComponentFile = this.render;
    return {
      componentFile: ComponentFile,
      loading: false, //刷新按钮加载效果
      timer: null //刷新定时器
    };
  },
  mounted() {
    let self = this;
    /*定时刷新*/
    if (this.element.options.titleRequired && this.element.options.refresh > 0) {
      let time = this.element.options.refresh * 60 * 1000;
      this.timer = setInterval(self.loadData, time);
    }
  },
  methods: {
    /*异步加载门户小页组件*/
    render() {
      let url = this.element.url;
      this.componentFile = () => ({
        component: import(`@views/${url}`),
        //loading: LoadingPage,
        error: '',
        delay: 100,
        timeout: 10000
      });
    },
    reFreshData() {
      this.loadData();
    },
    /*刷新门户小页组件*/
    loadData() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      if (this.$refs.smallPages) {
        this.$refs.smallPages.loadData();
      }
      let self = this;
      setTimeout(() => {
        self.loading = false;
      }, 300);
    }
  },
  beforeDestroy() {
    /*销毁定时器*/
    clearInterval(this.timer);
  }
};
</script>

<style lang="less" scoped>
.box-card {
  position: relative;
  ::-webkit-scrollbar-thumb {
    border-width: 12px 0 0 12px !important;
  }
  > .ant-card-head::after {
    width: 4px;
    height: 24px;
    transform: perspective(0.5em) rotateY(25deg);
  }
  .box-card-body {
    height: 100%;
  }
}
</style>
