<template>
  <div class="avic-import-box">
    <a-button icon="file-add" @click="handleImport" title="导入">导入</a-button>
    <a-modal
      class="avic-upload-preview-modal"
      title="导入"
      :visible="inputVisible"
      :destroy-on-close="true"
      :mask-closable="false"
      @cancel="handleCancel"
    >
      <div class="input-box">
        <div class="error-box" :style="{ visibility: errorMessage ? 'visible' : 'hidden' }">
          {{ errorMessage }}
          <a
            v-if="errorFile"
            class="download-error"
            href="javascript:void(0);"
            @click="downloadError"
          >
            <a-icon v-if="!downloadErrorExportLoading" type="download" />
            <a-icon v-if="downloadErrorExportLoading" type="loading" />下载错误信息
          </a>
        </div>
        <div class="select-input-box">
          <FileUpload
            ref="fileInput"
            v-model="file"
            input-id="inputFile"
            :timeout="timeout"
            :name="name"
            :post-action="inputParam.url"
            :headers="inputParam.headers"
            :multiple="false"
            :accept="accept"
            :extensions="extensions"
            :drop="true"
            @input-filter="inputFilter"
            @input-file="inputFile"
          >
            <a-icon type="inbox" class="icon-inbox" />
            <span>点击或将文件拖拽到这里上传</span>
            <span class="text-describe">支持文件类型：xls,xlsx 文件大小不得超过 10M</span>
            <a class="text-download" @click.stop="getExcelInfo">下载模板</a>
            <!--<a-button> <a-icon type="plus" />选择文件 </a-button>-->
          </FileUpload>
          <span v-if="file.length > 0" class="file-name-box">
            <a-icon type="paper-clip" />
            <span class="file-name">{{ file[0].name }}</span>
            <a-popconfirm
              v-if="!this.$refs.fileInput.active"
              title="您确定要删除文件吗？"
              ok-text="确定"
              cancel-text="取消"
              @confirm="remove()"
            >
              <a-icon class="close-icon" type="close" />
            </a-popconfirm>
          </span>
        </div>
        <div class="progress-box" :style="{ visibility: plan > 0 ? 'visible' : 'hidden' }">
          <a-progress :percent="plan" size="small" />
        </div>
      </div>
      <template slot="footer">
        <a-button type="primary" :loading="uploadLoading" @click="uploadFile">
          <a-icon type="upload" />导入
        </a-button>
        <a-button @click="handleCancel" title="关闭">关闭</a-button>
      </template>
    </a-modal>
  </div>
</template>
<script>
import { message, Modal, Button, Icon, Popconfirm, Progress } from 'ant-design-vue';
import { download, httpAction } from '@api/manage';
import Vue from 'vue';
import { ACCESS_TOKEN } from '@/store/mutationTypes';
export default {
  name: 'AvicImport',
  components: {
    AModal: Modal,
    AButton: Button,
    AIcon: Icon,
    APopconfirm: Popconfirm,
    AProgress: Progress,
    FileUpload: require('vue-upload-component')
  },
  props: {
    //模板 编码
    templateCode: {
      type: String,
      required: false,
      default: ''
    },
    //用户扩展属性
    userExtdata: {
      required: false
    }
  },
  data() {
    return {
      showOrHidden: false,
      //显示弹框
      inputVisible: false,
      file: [], //选择文件集合
      name: 'file', //上传服务器文件名称
      timeout: 60 * 1000, //上传超时时间
      //导入数据
      inputParam: {
        url: '/api/oa/stock/redirect:/api/common/excelImport/importExcelData/v1',
        parameter: {
          templateCode: this.templateCode,
          userExtdata: this.userExtdata
        },
        headers: {
          'X-Access-Token': Vue.ls.get(ACCESS_TOKEN)
        }
      },
      //下载模版
      exportParam: {
        url: '/api/appsys/common/excelImport/downloadExcelTemplete/v1',
        parameter: {
          fileuploadBusinessId: '',
          fileuploadBusinessTableName: '',
          fileuploadIsSaveToDatabase: '',
          fileId: '',
          encryption: ''
        },
        method: 'post'
      },
      //获取模版信息
      getExcelInfoParam: {
        url: '/api/appsys/common/excelImport/getExcelInfo/v1',
        parameter: {
          templateCode: this.templateCode
        },
        method: 'post'
      },
      //下载错误数据
      downloadErrorExcelParam: {
        url: '/api/oa/stock/redirect:/api/common/excelImport/downloadErrorExcelFile/v1',
        method: 'post'
      },
      //浏览器文件选额框过滤
      accept:
        'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      extensions: 'xls,xlsx', //可选文件类型
      regexp: new RegExp('(.xls|.xlsx)$'), //正则过滤文件类型
      downloadExportLoading: false, //下载模版加载状态
      downloadErrorExportLoading: false, //下载错误数据加载状态
      uploadLoading: false, //导入状态
      errorMessage: '', //错误提示
      plan: 0, //进度条
      errorFile: '' //错误文件名称
    };
  },
  methods: {
    //关闭
    handleCancel() {
      this.inputVisible = false;
      this.file = [];
      this.downloadExportLoading = false;
      this.downloadErrorExportLoading = false;
      this.uploadLoading = false;
      this.errorMessage = '';
      this.errorFile = '';
      this.plan = 0;
    },
    //打开探矿
    handleImport() {
      this.inputVisible = true;
      this.$emit('click-import');
    },
    uploadFile() {
      if (this.$refs.fileInput && this.file.length > 0) {
        this.$refs.fileInput.active = true;
      } else {
        message.warning('请选择要导入的Excel文件！');
      }
    },
    remove() {
      this.file = [];
    },
    shouClose() {
      this.showOrHidden = true;
    },
    hiddenClose() {
      this.showOrHidden = false;
    },

    //下载模版
    getExcelInfo() {
      this.downloadExportLoading = true;
      httpAction(
        this.getExcelInfoParam.url,
        this.getExcelInfoParam.parameter,
        this.getExcelInfoParam.method
      )
        .then(res => {
          if (res.success) {
            this.downloadFile(res.result);
          } else {
            this.$message.error(res.message ? res.message : '下载模板失败！');
          }
        })
        .catch(response => {
          this.downloadExportLoading = false;
        });
    },
    //下载模版
    downloadFile(res) {
      if (res) {
        this.exportParam.parameter = {
          fileuploadBusinessId: res.FORMID,
          fileuploadBusinessTableName: '',
          fileuploadIsSaveToDatabase: true,
          fileId: res.FILEDID,
          encryption: ''
        };
        download(this.exportParam.url, this.exportParam.parameter, this.exportParam.method)
          .then(res => {
            this.downloadExportLoading = false;
          })
          .catch(response => {
            this.downloadExportLoading = false;
          });
      } else {
        this.$message.error('下载模板失败！');
        this.downloadExportLoading = false;
      }
    },
    //下载错误数据
    downloadError() {
      this.downloadErrorExportLoading = true;
      download(
        this.downloadErrorExcelParam.url,
        { fileName: this.errorFile },
        this.downloadErrorExcelParam.method
      )
        .then(res => {
          this.downloadErrorExportLoading = false;
        })
        .catch(response => {
          this.downloadErrorExportLoading = false;
        });
    },
    //选择文件过滤方法
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        this.errorMessage = '';
        //验证上传文件类型
        if (!this.regexp.test(newFile.name)) {
          message.warning('您选中的文件格式不符合要求！');
          return prevent();
        }
        //设置文件 模板 编码
        newFile.data.templateCode = this.templateCode;
        //设置文扩展属性
        newFile.data.userExtdata = this.userExtdata;
        this.errorFile = '';
        this.errorMessage = '';
      }
    },
    //文件上传中的过滤方法
    inputFile(newFile, oldFile) {
      if (newFile && oldFile) {
        //开始上传
        if (newFile.active !== oldFile.active) {
          this.uploadLoading = true;
        }
        // 上传进度
        if (newFile.progress !== oldFile.progress) {
          this.plan = parseInt(newFile.progress);
        }
        // 上传错误
        if (newFile.error !== oldFile.error) {
          setTimeout(() => {
            this.plan = 0;
            this.uploadLoading = false;
            this.errorMessage = '上传失败，模板错误';
          }, 1);
        }
        // 上传成功
        if (newFile.success !== oldFile.success) {
          this.plan = 0;
          this.uploadLoading = false;
          if (newFile.response) {
            if (newFile.response.retCode == '200') {
              if (newFile.response.responseBody.code == '0') {
                if (
                  newFile.response.responseBody.insertNum != newFile.response.responseBody.totalNum
                ) {
                  if (newFile.response.responseBody.errorFile) {
                    this.errorFile = newFile.response.responseBody.errorFile;
                    this.errorMessage = `导入出现错误，插入${
                      newFile.response.responseBody.insertNum
                        ? newFile.response.responseBody.insertNum
                        : 0
                    }/${newFile.response.responseBody.totalNum}条数据`;
                  }
                } else {
                  this.errorMessage = `导入成功，共处理${
                    newFile.response.responseBody.insertNum
                      ? newFile.response.responseBody.insertNum
                      : 0
                  }/${newFile.response.responseBody.totalNum}条数据`;
                }
                this.file = [];
              } else {
                this.errorMessage = newFile.response.responseBody.msg;
              }
            } else {
              this.errorMessage = newFile.response.message;
            }

            this.$emit('back-import', newFile.response.responseBody);
          }
        }
      }
    }
  }
};
</script>
<style lang="less" scoped>
.avic-import-box {
  display: inline;
  .input-box {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.error-box {
  font-size: 12px;
  color: #ec2a2a;
  margin-bottom: 10px;
  margin-top: -10px;
  .download-error {
    margin: 0 10px;
    color: #1890ff;
    text-decoration: none;
  }
}
.select-input-box {
  width: 100%;
  position: relative;
  .file-uploads {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px dashed #e8e8e8;
    line-height: 26px;
    .icon-inbox {
      font-size: 50px;
      color: #1890ff;
      display: block;
      margin: 30px 0 10px 0;
    }
    span.text-describe {
      display: block;
      color: rgba(0, 0, 0, 0.4);
      font-size: 12px;
    }
    .text-download {
      display: inline-block;
      color: #1890ff;
      font-size: 12px;
      cursor: pointer;
      z-index: 9999;
      position: relative;
    }
  }
  .file-name-box {
    height: 100%;
    width: 60%;
    line-height: 32px;
    overflow: hidden;
    .file-name {
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 5px;
    }
    .close-icon {
      float: right;
      height: 24px;
      line-height: 32px;
    }
  }
}
.progress-box {
  position: absolute;
  left: 24px;
  right: 24px;
}
.footer-box {
  margin-top: 10px;
  text-align: right;
  margin-left: -3px;
  button {
    margin: 0 5px;
  }
}
</style>
