<template>
  <div>
    <!-- 高级搜索表单区域 -->
    <div class="advanced-search-wrap" v-show="showSearchForm">
      <a-form layout="horizontal" :form="searchForm" class="advanced-search-form">
        <a-row :gutter="18">
          <slot name="form" />
          <a-col span="6" class="advanced-search-col">
            <div class="advanced-search-btn-group">
              <a-button
                id="$_searchBtn"
                class="advanced-search-btn a"
                type="primary"
                @click="handleAdvancedSearchConfirm"
              >
                查询
              </a-button>
              <a-button class="advanced-search-btn" @click="handleAdvancedSearchReset">
                清空
              </a-button>
              <a-button class="advanced-search-btn" @click="handleAdvancedSearchClose">
                关闭
              </a-button>
            </div>
          </a-col>
        </a-row>
      </a-form>
    </div>
    <!-- 高级搜索提示区域 -->
    <div v-show="showSearchTag && advancedTagParam.length > 0" class="surface-tag">
      <span>筛选条件：</span>
      <a-tag
        v-for="item in advancedTagParam"
        :key="item.dataIndex"
        closable
        @close="clearTagItem($event, item.dataIndex)"
      >
        {{ item.title }}：{{ item.value }}
      </a-tag>
      <a-button type="link" @click="clearAdvanceSearch"> 清空筛选 </a-button>
    </div>
  </div>
</template>
<script>
import { Button, Form, Row, Col } from 'ant-design-vue';
import '@comp/avic/pt/common/AvicAdvancedSearchCollapse/style/base.less';
import { BaseMixin } from '@/components/avic/pt/common/AvicAdvancedSearchCollapse/mixins/BaseMixin';
export default {
  name: 'AvicAdvancedSearchCollapse',
  components: {
    AButton: Button,
    AForm: Form,
    ARow: Row,
    ACol: Col
  },
  props: {
    realAdvancedSearchFormData: {
      // 表单设置
      type: Array,
      default: () => []
    },
    advancedSearchLookupParams: {
      // 通用代码param
      type: Array,
      default: () => []
    }
  },
  mixins: [BaseMixin],
  data() {
    return {
      visible: false
    };
  }
};
</script>
