<template>
  <div class="button-box">
    <a-button v-bind="$attrs">
      <slot />
    </a-button>
  </div>
</template>

<script>
import { Button } from 'ant-design-vue';
export default {
  name: 'AddBtn',
  components: {
    AButton: Button
  }
};
</script>

<style lang="less" scoped>
.button-box {
  cursor: pointer;
  .avic-drag-uploader {
    color: #666;
  }
}
</style>
