<!--
  文件
-->
<template>
  <div class="file-wrapper">
    <div v-if="viewType == 'line'" class="file-main">
      <div class="file-list">
        <a-col class="col-nowrap" :span="8">
          <span class="name" :title="file.name">
            {{ file.name }}
          </span>
        </a-col>
        <a-col class="col-nowrap" :span="8">
          <a-dropdown
            v-if="secretLevelList && secretLevelList.length > 0 && updateLevel"
            :trigger="['click']"
            :get-popup-container="triggerNode => triggerNode.parentNode"
          >
            <a class="select-link" href="#">
              {{ selecLevel.length > 0 ? selecLevel[0].lookupName : '请选择文件密级' }}
              <a-icon v-if="!levelLoading" type="down" />
              <a-icon v-if="levelLoading" type="loading" />
            </a>
            <a-menu slot="overlay" @click="e => levelChange(e, file)">
              <a-menu-item v-for="level in secretLevelList" :key="level.lookupCode">
                {{ level.lookupName }}
              </a-menu-item>
            </a-menu>
          </a-dropdown>
          <div v-else class="ant-dropdown-link" href="#">
            <a-spin :spinning="levelLoading">
              selecLevel.length > 0 ? selecLevel[0].lookupName : '' }}
            </a-spin>
          </div>
        </a-col>
        <a-col :span="3">
          <div :title="getFileSize(file.size)" class="file-size">{{ getFileSize(file.size) }}</div>
        </a-col>
        <a-col style="text-align: right" class="col-nowrap" :span="5">
          <AvicPreview
            :file="file"
            class="close-icon"
            :allow-preview="allowPreview"
            :allow-encry="allowEncry"
            :flow-uploader="flowUploader"
            :task-name="taskName"
            :entry-id="entryId"
          />
          <a-icon
            v-if="file.complete && !downloadLoding && allowDownload"
            class="close-icon"
            type="download"
            @click="downloadFile(file)"
          />
          <a-icon v-if="downloadLoding" class="close-icon" type="loading" />
          <AvicDelete
            v-if="allowDelete"
            class="table-handle-button"
            title="您确定要删除文件吗？"
            @click-confirm="remove(file)"
          >
            <a-icon class="close-icon" type="close" />
          </AvicDelete>
        </a-col>
      </div>
    </div>
    <div v-if="viewType == 'block'" class="file-block">
      <div class="file-list">
        <a-col class="col-nowrap fles-img-box" :span="3">
          <img :src="thumbnailImg" />
        </a-col>
        <a-col class="col-nowrap col-name-box" :span="15">
          <div class="name-box name-box-title">
            <span class="name" :title="file.name">
              {{ file.name }}
            </span>
          </div>
          <div class="name-box name-box-drop">
            <a-dropdown
              v-if="secretLevelList && secretLevelList.length > 0 && updateLevel"
              :trigger="['click']"
              :get-popup-container="triggerNode => triggerNode.parentNode"
            >
              <a class="select-link" href="#">
                {{ selecLevel.length > 0 ? selecLevel[0].lookupName : '请选择文件密级' }}
                <a-icon v-if="!levelLoading" type="down" />
                <a-icon v-if="levelLoading" type="loading" />
              </a>
              <a-menu slot="overlay" @click="e => levelChange(e, file)">
                <a-menu-item v-for="level in secretLevelList" :key="level.lookupCode">
                  {{ level.lookupName }}
                </a-menu-item>
              </a-menu>
            </a-dropdown>
            <div :title="getFileSize(file.size)" class="file-size">
              {{ getFileSize(file.size) }}
            </div>
          </div>
        </a-col>
        <a-col style="text-align: right; float: right" class="col-nowrap" :span="6">
          <AvicPreview
            :file="file"
            class="close-icon"
            :allow-preview="allowPreview"
            :allow-encry="allowEncry"
            :flow-uploader="flowUploader"
            :task-name="taskName"
            :entry-id="entryId"
          />
          <a-icon
            v-if="file.complete && !downloadLoding && allowDownload"
            class="close-icon"
            type="download"
            style="font-size: 14px"
            @click="downloadFile(file)"
          />
          <a-icon v-if="downloadLoding" class="close-icon" type="loading" />
          <AvicDelete
            v-if="allowDelete"
            class="table-handle-button"
            title="您确定要删除文件吗？"
            @click-confirm="remove(file)"
          >
            <a-icon class="close-icon" type="close" style="font-size: 14px" />
          </AvicDelete>
        </a-col>
      </div>
    </div>
    <AvicProgress :progress="parseInt(file.progress)" />
  </div>
</template>

<script>
import { Col, Icon, Dropdown, Menu, Spin } from 'ant-design-vue';
import AvicProgress from './progress';
import AvicPreview from './preview';
import { AvicDelete } from '@comp/avic/pt/common/AvicButtons';
import { httpAction, download } from '@/api/manage';
import { fileTypeAll, createRegExp } from '@comp/avic/pt/common/AvicUploader/components/util';
export default {
  name: 'AvicFile',
  components: {
    AvicProgress,
    AvicPreview,
    AvicDelete,
    ACol: Col,
    AIcon: Icon,
    ADropdown: Dropdown,
    AMenu: Menu,
    AMenuItem: Menu.Item,
    ASpin: Spin
  },
  props: {
    file: {
      type: Object,
      required: true, //校验
      default: null
    },
    secretLevelList: {
      type: Array,
      required: false, //校验
      default() {
        return [];
      }
    },
    formId: {
      type: String,
      required: false, //校验
      default: ''
    },
    //是否可以修改秘籍
    updateLevel: {
      type: Boolean,
      default: false
    },
    //是否允许删除附件
    allowDelete: {
      type: Boolean,
      default: false
    },
    //是否允许下载附件
    allowDownload: {
      type: Boolean,
      default: false
    },
    //是否允许预览
    allowPreview: {
      type: Boolean,
      default: false
    },
    //是否加密
    allowEncry: {
      type: Boolean,
      required: false,
      default: false
    },
    //是否流程上传
    flowUploader: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //流程节点
    taskName: {
      type: String,
      required: false, //校验
      default: ''
    },
    //实力id
    entryId: {
      type: String,
      required: false, //校验
      default: ''
    },
    //视图类型 line block
    viewType: {
      type: String,
      required: false, //校验
      default: 'line'
    }
  },
  data() {
    return {
      selecLevel: [],
      fileUploadMessage: {
        success: '上传成功',
        error: '上传失败',
        active: '上传中',
        complete: '已经上传'
      },
      //流程下载权限验证
      downloadFlowFileParam: {
        url: '/api/appsys/common/uploader/validDownload/v1',
        method: 'post'
      },
      //下载文件
      downloadFileParam: {
        url: '/api/appsys/common/uploader/download/v1/',
        allowEncry: this.allowEncry,
        method: 'get'
      },
      //删除文件
      deleteFileParam: {
        url: '/api/appsys/common/uploader/delete/v1',
        method: 'post'
      },
      fileEditInfoParam: {
        url: '/api/appsys/common/uploader/EditInfo/v1',
        method: 'post'
      },
      downloadLoding: false,
      levelLoading: false,
      isPreview: true, //文件格式是否可以预览
      thumbnailImg: '/assets/images/upload/other.svg' //缩略图
    };
  },
  watch: {
    file: {
      immediate: true,
      handler(newV) {
        if (this.viewType == 'block') {
          this.setThumbnailImg(newV);
        }
        if (newV.data && newV.data.secretLevel) {
          if (!newV.data.secretName) {
            this.selecLevel = this.secretLevelList.filter(
              tim => tim.lookupCode == newV.data.secretLevel
            );
          } else {
            this.selecLevel = [
              { lookupName: newV.data.secretName, lookupCode: newV.data.secretLevel }
            ];
          }
        } else {
          this.selecLevel = this.secretLevelList[0];
        }
      }
    }
  },
  mounted() {
    let fileTypeList = fileTypeAll();
    let regexp = createRegExp(fileTypeList['image']);
    if (regexp != null && regexp.test(this.file.name)) {
      this.isPreview = true;
    }
  },
  methods: {
    downloadFile(file) {
      if (this.flowUploader) {
        this.downloadFlow(file);
      } else {
        this.downloadTemplate(file);
      }
    },
    //流程下载文件
    downloadFlow(file) {
      if (this.entryId && this.taskName) {
        let parameter = {
          fileId: file.id,
          // allowEncry:this.allowEncry,
          _taskName: this.taskName,
          _entryId: this.entryId
        };
        let url = this.downloadFlowFileParam.url;
        let method = this.downloadFlowFileParam.method;
        httpAction(url, parameter, method, false, true, false, true)
          .then(res => {
            if (!res.result) {
              this.$message.error(res.message);
            } else {
              this.downloadTemplate(file);
            }
            this.levelLoading = false;
          })
          .catch(() => {
            this.levelLoading = false;
          });
      } else {
        this.$message.error('下载失败缺少参数！');
      }
    },
    //普通下载文件
    downloadTemplate(file) {
      this.downloadLoding = true;
      let url = this.downloadFileParam.url + file.id + '/' + this.allowEncry;
      download(url, null, this.downloadFileParam.method, progress => {
        if (progress > 100) {
          file.progress = 0;
        } else if (progress == 100) {
          file.progress = progress;
          setTimeout(() => {
            file.progress = 0;
          }, 1000);
        } else {
          file.progress = progress;
        }
      })
        .then(() => {
          this.downloadLoding = false;
        })
        .catch(() => {
          this.downloadLoding = false;
        });
    },
    // 删除文件
    remove(file) {
      if (file) {
        if (file.complete) {
          this.removeByHttp(file);
        } else {
          this.$emit('remove', file);
        }
      }
    },
    //删除文件
    removeByHttp(file) {
      if (file.id) {
        httpAction(
          this.deleteFileParam.url,
          file.id,
          this.deleteFileParam.method,
          false,
          true,
          false,
          true
        )
          .then(res => {
            if (res.success) {
              this.$emit('remove', file);
            }
          })
          .catch(() => {});
      }
    },
    //修改文件秘籍
    levelChange(e, file) {
      this.selecLevel = this.secretLevelList.filter(tim => tim.lookupCode == e.key);
      file.data = { secretLevel: this.selecLevel[0].lookupCode };
      if (file.complete && this.updateLevel) {
        this.uploadfileEditInfo(this.selecLevel[0].lookupCode, file);
      }
    },
    //修改文件秘籍
    uploadfileEditInfo(level, file) {
      this.levelLoading = true;
      if (file.complete) {
        let parameter = {
          formId: this.formId,
          fileId: file.id,
          secretLevel: level
        };
        httpAction(
          this.fileEditInfoParam.url,
          parameter,
          this.fileEditInfoParam.method,
          false,
          true,
          false,
          true
        )
          .then(() => {
            this.levelLoading = false;
          })
          .catch(() => {
            this.levelLoading = false;
          });
      }
    },
    //预览文件
    preview(file) {
      if (file) {
        this.$emit('preview', file);
      }
    },
    //转换文件大小
    getFileSize(number) {
      if (number <= 0) {
        return '0KB';
      } else {
        if (number > 1048576) {
          return (number / 1024 / 1024).toFixed(2) + 'MB';
        } else {
          return (number / 1024).toFixed(2) + 'KB';
        }
      }
    },
    /**
     * 设置缩略图图片类型
     */
    setThumbnailImg(newV) {
      if (newV && newV.name) {
        // 大写转小写 统一校验格式
        newV.name = newV.name.toLowerCase();

        if (newV.name.indexOf('.gif') != -1) {
          this.thumbnailImg = '/assets/images/upload/gif.svg';
        } else if (newV.name.indexOf('.jpg') != -1) {
          this.thumbnailImg = '/assets/images/upload/jpg.svg';
        } else if (newV.name.indexOf('.pdf') != -1) {
          this.thumbnailImg = '/assets/images/upload/pdf.svg';
        } else if (newV.name.indexOf('.png') != -1) {
          this.thumbnailImg = '/assets/images/upload/png.svg';
        } else if (
          newV.name.indexOf('.ppt') != -1 ||
          newV.name.indexOf('.pptx') != -1 ||
          newV.name.indexOf('.dps') != -1
        ) {
          this.thumbnailImg = '/assets/images/upload/ppt.svg';
        } else if (
          newV.name.indexOf('.doc') != -1 ||
          newV.name.indexOf('.docx') != -1 ||
          newV.name.indexOf('.wps') != -1
        ) {
          this.thumbnailImg = '/assets/images/upload/word.svg';
        } else if (
          newV.name.indexOf('.xls') != -1 ||
          newV.name.indexOf('.xlsx') != -1 ||
          newV.name.indexOf('.et') != -1
        ) {
          this.thumbnailImg = '/assets/images/upload/excel.svg';
        } else if (newV.name.indexOf('.txt') != -1) {
          this.thumbnailImg = '/assets/images/upload/text.svg';
        } else if (newV.name.indexOf('.rar') != -1 || newV.name.indexOf('.zip') != -1) {
          this.thumbnailImg = '/assets/images/upload/zip.svg';
        } else {
          this.thumbnailImg = '/assets/images/upload/other.svg';
        }
      }
    }
  }
};
</script>

<style lang="less" scoped>
.file-block {
  height: 52px;
  padding: 6px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin: 8px;
  margin-top: 0;
  .file-list {
    font-size: 12px;
    .col-nowrap {
      height: 40px;
      line-height: 40px;
    }
    .fles-img-box {
      text-align: center;
      margin-top: -3px;
      img {
        width: 32px;
        margin-right: 6px;
      }
    }
    .col-name-box {
      .name-box {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 18px;
        line-height: 18px;
        margin-left: 2px;
        color: #333;
        // float: left;
        .select-link {
          float: left;
          color: #888;
          .aria-label {
            margin: 0 4px 0 0;
          }
        }
        .file-size {
          float: left;
          margin-left: 6px;
          color: #888;
        }
      }
      .name-box-title {
        // width: 50%;
      }
      .name-box-drop {
        // width: 35.5%;
        height: 20px;
        // margin-top: 17px;
        line-height: 20px;
        margin-left: 2px;
      }
    }
  }
}

.file-main {
  height: 35px;
  .file-list {
    display: flex;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    padding: 0 10px;
    .col-nowrap {
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .file-name {
      flex: 1;
      height: 100%;
      width: 100%;
      transition: color 0.3s;
      .name {
        color: #1890ff;
        margin-right: 10px;
      }
    }
    .file-size {
      flex: 0.5;
      height: 100%;
    }
    .file-message {
      flex: 0.5;
      height: 100%;
    }
    i {
      margin: 0 4px;
    }
  }
  .file-list:hover {
    background-color: #cfe8fc;
  }
}
</style>
