<!---
  进度条
-->
<template>
  <div v-show="plan > 0" class="progress_box">
    <a-progress :percent="plan" size="small" />
  </div>
</template>
<script>
import { Progress } from 'ant-design-vue';
export default {
  name: 'Progress',
  components: {
    AProgress: Progress
  },
  props: {
    progress: {
      type: [Number, String],
      required: true, //校验
      default: 0
    }
  },
  data() {
    return {
      plan: 0
    };
  },
  watch: {
    progress: {
      immediate: true,
      handler(newV) {
        if (newV >= this.plan || newV == 0) {
          this.plan = parseFloat(newV);
        }
      }
    }
  }
};
</script>

<style lang="less" scoped>
.progress_box {
  height: 15px;
  line-height: 10px;
}
.progress_box .ant-progress {
  line-height: 1px;
}
</style>
