<template>
  <div class="content-container" :class="{ contentscroll: layoutMode === 'favmenu' }">
    <a-spin :spinning="spinning">
      <generate-form
        insite="true"
        :data="widgetForm"
        ref="generateForm"
        @afterUpdate="afterUpdate"
      />
    </a-spin>
  </div>
</template>

<script>
import { menuRefreshMixin } from '@/mixins/avic/pt/MenuRefreshMixin';
import '@comp/avic/pt/common/AvicFormMaking/style/cover.less';
import { getLoginfo } from '@/api/api';
import GenerateForm from '@comp/avic/pt/common/AvicFormMaking/components/GenerateForm';
import { mixin, mixinDevice } from '@/utils/avic/layout/mixin.js';
import { mapGetters } from 'vuex';
export default {
  name: 'Dashboard',
  components: {
    GenerateForm
  },
  mixins: [menuRefreshMixin, mixin, mixinDevice],
  data() {
    return {
      loading: true,
      center: null,
      loginfo: {},
      defaultWidgetForm: {
        list: [],
        config: { labelWidth: 100, labelPosition: 'right', size: 'small' }
      },
      spinning: true
    };
  },
  computed: {
    ...mapGetters(['getGlobalCfgItem', 'getPortLet']),
    widgetForm() {
      // debugger
      let widgetForm = JSON.parse(this.getPortLet('PORTAL_DESIGN_CONTENT'));
      let basicComponents = this.getPortLet('PORTALLET_SMALLPAGES');
      if (widgetForm && widgetForm.list.length > 0) {
        //权限判断
        let wlen = widgetForm.list.length;
        for (let i = 0; i < wlen; i++) {
          let isSwith = false;
          widgetForm.list[i].key = Date.parse(new Date()) + '_' + Math.ceil(Math.random() * 99999);
          if (basicComponents && basicComponents.length > 0) {
            let bcLen = basicComponents.length;
            for (let j = 0; j < bcLen; j++) {
              if (widgetForm.list[i].id == basicComponents[j].id) {
                isSwith = true;
                widgetForm.list[i].url = basicComponents[j].menuUrl;
              }
            }
          }
          if (!isSwith) {
            widgetForm.list[i].url = 'avic/pt/system/portLet/portLetCards/401';
          }
        }
      }
      widgetForm = widgetForm ? widgetForm : this.defaultWidgetForm;
      return widgetForm;
    }
  },
  created() {
    setTimeout(() => {
      this.loading = !this.loading;
    }, 1000);
    //this.initLogInfo()
  },
  mounted() {
    let _this = this;
    setTimeout(() => {
      _this.spinning = false;
    }, 1000);
  },
  methods: {
    menuRefresh() {
      let widgetForm = JSON.parse(this.getPortLet('PORTAL_DESIGN_CONTENT'));
      let basicComponents = this.getPortLet('PORTALLET_SMALLPAGES');
      if (widgetForm && widgetForm.list.length > 0) {
        //权限判断
        let wlen = widgetForm.list.length;
        for (let i = 0; i < wlen; i++) {
          let isSwith = false;
          widgetForm.list[i].key = Date.parse(new Date()) + '_' + Math.ceil(Math.random() * 99999);
          if (basicComponents && basicComponents.length > 0) {
            let bcLen = basicComponents.length;
            for (let j = 0; j < bcLen; j++) {
              if (widgetForm.list[i].id == basicComponents[j].id) {
                isSwith = true;
                widgetForm.list[i].url = basicComponents[j].menuUrl;
              }
            }
          }
          if (!isSwith) {
            widgetForm.list[i].url = 'avic/pt/system/portLet/portLetCards/401';
          }
        }
      }
      widgetForm = widgetForm ? widgetForm : this.defaultWidgetForm;
      this.$refs.generateForm.data = widgetForm;
    },
    initLogInfo() {
      getLoginfo(null).then(res => {
        if (res.success) {
          this.loginfo = res.result;
        }
      });
    },
    afterUpdate() {
      this.spinning = false;
    }
  }
};
</script>

<style lang="less" scoped>
.page-header-index-wide > *:first-child {
  min-height: 100%;
}
.ant-row > div {
  padding-right: 0 !important;
}
.ant-row > div:last-child {
  padding-right: 12px !important;
}
.ant-card {
  border-radius: 5px;
}
.extra-wrapper {
  line-height: 55px;
  padding-right: 24px;

  .extra-item {
    display: inline-block;
    margin-right: 24px;

    a {
      margin-left: 24px;
    }
  }
}

/* 首页访问量统计 */
.head-info {
  position: relative;
  text-align: left;
  padding: 0 32px 0 0;
  min-width: 125px;

  &.center {
    text-align: center;
    padding: 0 32px;
  }

  span {
    color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    font-size: 0.95rem;
    line-height: 42px;
    margin-bottom: 4px;
  }
  p {
    line-height: 42px;
    margin: 0;
    a {
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
/**  首页容器样式  by mzy 2020-0527  **/
.content-container {
  height: calc(100vh - 102px);
  width: 100%;
  // padding: 4px;
  // background: #eaeeee;
}
.contentscroll {
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
