<template>
  <keep-alive>
    <iframe :id="id" :src="url" frameborder="0" width="100%" scrolling="auto" />
  </keep-alive>
</template>

<script>
import Vue from 'vue';
import { USER_INFO, ACCESS_KEY_ID, ACCESS_KEY_SECRET } from '@/store/mutationTypes';

export default {
  name: 'IframePageContent',
  data() {
    return {
      url: '',
      id: ''
    };
  },
  watch: {
    $route() {
      this.goUrl();
    }
  },
  created() {
    this.goUrl();
  },
  updated() {
    this.goUrl();
  },
  methods: {
    goUrl() {
      let url = this.$route.meta.url;
      let id = this.$route.path;
      let authkey = '';
      if (Vue.ls.get(USER_INFO)[ACCESS_KEY_ID] && Vue.ls.get(USER_INFO)[ACCESS_KEY_SECRET]) {
        authkey =
          '?' +
          ACCESS_KEY_ID +
          '=' +
          Vue.ls.get(USER_INFO)[ACCESS_KEY_ID] +
          '&' +
          ACCESS_KEY_SECRET +
          '=' +
          Vue.ls.get(USER_INFO)[ACCESS_KEY_SECRET];
      }
      this.id = id;
      if (url !== null && url !== undefined) {
        this.url = url + authkey;
      }
    }
  }
};
</script>

<style>
.iframe-view {
  width: 100%;
  max-height: calc(100vh - 62px);
}
</style>
