<template>
  <!-- <keep-alive :include="getKeepAliveCompList"> -->
  <router-view />
  <!-- </keep-alive> -->
</template>

<script>
// import { mapGetters } from 'vuex'
export default {
  name: 'RouteView'
  // computed: {
  //   ...mapGetters(['getKeepAliveCompList'])
  // }
};
</script>
