<template>
  <global-layout>
    <contextmenu :item-list="menuItemList" :visible.sync="menuVisible" @select="onMenuSelect" />
    <a-tabs
      v-if="multipage"
      :active-key="activePage"
      class="tab-layout-tabs"
      style="height: 39px"
      :hide-add="true"
      type="editable-card"
      @contextmenu.native="e => onContextmenu(e)"
      @change="changePage"
      @edit="editPage"
    >
      <a-tab-pane v-for="page in pageList" :id="page.fullPath" :key="page.fullPath">
        <span slot="tab" :pagekey="page.fullPath">{{ page.meta.title }}</span>
      </a-tab-pane>
    </a-tabs>
    <!-- 美化主体内容滚动条 S -->
    <!-- <div style="overflow-y: auto;" :style="heightStyle">
      <vue-scroll :ops="ops">
        <transition name="page-toggle">
          <keep-alive v-if="multipage">
            <router-view />
          </keep-alive>
          <router-view v-else />
        </transition>
      </vue-scroll>
    </div>-->
    <div
      class="tablayout-content"
      :class="[
        contentHeight === 'Auto'
          ? multipage
            ? 'height-auto-multipage'
            : 'height-auto'
          : multipage
          ? 'height-fixed-multipage'
          : 'height-fixed'
      ]"
    >
      <vue-scroll v-if="contentHeight !== 'Auto'" :ops="ops" class="height-fixed-scroll">
        <transition name="page-toggle">
          <keep-alive v-if="multipage">
            <router-view />
          </keep-alive>
          <router-view v-else />
        </transition>
      </vue-scroll>
      <transition v-else name="page-toggle">
        <keep-alive v-if="multipage">
          <router-view />
        </keep-alive>
        <router-view v-else />
      </transition>
    </div>
    <!-- 美化主体内容滚动条 E -->
  </global-layout>
</template>

<script>
import { Tabs } from 'ant-design-vue';
import GlobalLayout from '@portal/pageLayouts/common/GlobalLayout';
import Contextmenu from '@portal/pageModules/menu/Contextmenu';
import { mixin, mixinDevice } from '@/utils/avic/layout/mixin.js';
import { topNavScrollToSelectItem } from '@/utils/avic/common/util';
import config from '@config/defaultSettings';
import Vue from 'vue';
import VueScroll from 'vuescroll/dist/vuescroll-native';
Vue.use(VueScroll);

const indexKey = config.homePageConfig.path;

export default {
  name: 'TabLayout',
  components: {
    GlobalLayout,
    Contextmenu,
    VueScroll,
    ATabs: Tabs,
    ATabPane: Tabs.TabPane
  },
  mixins: [mixin, mixinDevice],
  data() {
    return {
      pageList: [],
      linkList: [],
      activePage: '',
      menuVisible: false,
      menuItemList: [
        { key: '1', icon: 'arrow-left', text: '关闭左侧' },
        { key: '2', icon: 'arrow-right', text: '关闭右侧' },
        { key: '3', icon: 'close', text: '关闭其它' }
      ],
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      }
    };
  },
  computed: {
    multipage() {
      //判断如果是手机模式，自动切换为单页面模式
      if (this.isMobile()) {
        return false;
      } else {
        return this.$store.state.app.multipage;
      }
    },
    heightStyle() {
      // 内容固定时,高度确定
      let contentHmin = document.body.offsetHeight - 59 - 52 + 'px';
      let contentHmax = document.body.offsetHeight - 59 + 'px';
      const height =
        this.contentHeight === 'Fixed' ? (this.multipage ? contentHmin : contentHmax) : 'auto';
      return {
        height
      };
    }
  },
  watch: {
    $route(newRoute) {
      this.activePage = newRoute.fullPath;
      if (!this.multipage) {
        this.linkList = [newRoute.fullPath];
        this.pageList = [newRoute];
      } else if (this.linkList.indexOf(newRoute.fullPath) < 0) {
        this.linkList.push(newRoute.fullPath);
        this.pageList.push(newRoute);
      } else if (this.linkList.indexOf(newRoute.fullPath) >= 0) {
        let oldIndex = this.linkList.indexOf(newRoute.fullPath);
        this.pageList.splice(oldIndex, 1, newRoute);
      }
    },
    activePage(key) {
      let index = this.linkList.lastIndexOf(key);
      let waitRouter = this.pageList[index];
      this.$router.push({
        path: waitRouter.path,
        name: waitRouter.name,
        params: waitRouter.params
      });
    },
    multipage(newVal) {
      if (!newVal) {
        this.linkList = [this.$route.fullPath];
        this.pageList = [this.$route];
      }
    }
  },
  created() {
    if (this.$route.path !== indexKey) {
      this.pageList.push({
        name: config.homePageConfig.name,
        path: indexKey,
        fullPath: indexKey,
        meta: {
          icon: config.homePageConfig.icon,
          title: config.homePageConfig.title
        }
      });
      this.linkList.push(indexKey);
    }
    this.pageList.push(this.$route);
    this.linkList.push(this.$route.fullPath);
    this.activePage = this.$route.fullPath;
  },
  methods: {
    changePage(key) {
      this.activePage = key;
      // 只有当前模式是顶部菜单时才执行定位
      if (this.layoutMode === 'topmenu') {
        setTimeout(() => {
          topNavScrollToSelectItem(document);
        }, 100);
      }
    },
    editPage(key, action) {
      this[action](key);
    },
    remove(key) {
      if (key === indexKey) {
        this.$message.warning(config.homePageConfig.title + '不能关闭!');
        return;
      }
      if (this.pageList.length === 1) {
        this.$message.warning('这是最后一页，不能再关闭了啦');
        return;
      }
      this.pageList = this.pageList.filter(item => item.fullPath !== key);
      let index = this.linkList.indexOf(key);
      this.linkList = this.linkList.filter(item => item !== key);
      index = index >= this.linkList.length ? this.linkList.length - 1 : index;
      this.activePage = this.linkList[index];
    },
    onContextmenu(e) {
      const pagekey = this.getPageKey(e.target);
      if (pagekey !== null) {
        e.preventDefault();
        this.menuVisible = true;
      }
    },
    getPageKey(target, depth) {
      depth = depth || 0;
      if (depth > 2) {
        return null;
      }
      let pageKey = target.getAttribute('pagekey');
      pageKey =
        pageKey ||
        (target.previousElementSibling
          ? target.previousElementSibling.getAttribute('pagekey')
          : null);
      return (
        pageKey ||
        (target.firstElementChild ? this.getPageKey(target.firstElementChild, ++depth) : null)
      );
    },
    onMenuSelect(key, target) {
      let pageKey = this.getPageKey(target);
      switch (key) {
        case '1':
          this.closeLeft(pageKey);
          break;
        case '2':
          this.closeRight(pageKey);
          break;
        case '3':
          this.closeOthers(pageKey);
          break;
        default:
          break;
      }
    },
    closeOthers(pageKey) {
      let index = this.linkList.indexOf(pageKey);
      if (pageKey === indexKey) {
        this.linkList = this.linkList.slice(index, index + 1);
        this.pageList = this.pageList.slice(index, index + 1);
        this.activePage = this.linkList[0];
      } else {
        let indexContent = this.pageList.slice(0, 1)[0];
        this.linkList = this.linkList.slice(index, index + 1);
        this.pageList = this.pageList.slice(index, index + 1);
        this.linkList.unshift(indexKey);
        this.pageList.unshift(indexContent);
        this.activePage = this.linkList[1];
      }
    },
    closeLeft(pageKey) {
      if (pageKey === indexKey) {
        return;
      }
      let tempList = [...this.pageList];
      let indexContent = tempList.slice(0, 1)[0];
      let index = this.linkList.indexOf(pageKey);
      this.linkList = this.linkList.slice(index);
      this.pageList = this.pageList.slice(index);
      this.linkList.unshift(indexKey);
      this.pageList.unshift(indexContent);
      if (this.linkList.indexOf(this.activePage) < 0) {
        this.activePage = this.linkList[0];
      }
    },
    closeRight(pageKey) {
      let index = this.linkList.indexOf(pageKey);
      this.linkList = this.linkList.slice(0, index + 1);
      this.pageList = this.pageList.slice(0, index + 1);
      if (this.linkList.indexOf(this.activePage < 0)) {
        this.activePage = this.linkList[this.linkList.length - 1];
      }
    }
  }
};
</script>

<style lang="less">
/*
 * The following styles are auto-applied to elements with
 * transition="page-transition" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the page transition by editing
 * these styles.
 */

.tablayout-content.height-auto {
  min-height: calc(100vh - 59px);
  > *:first-child {
    min-height: calc(100vh - 59px);
  }
}
.tablayout-content.height-auto-multipage {
  min-height: calc(100vh - 111px);
  > *:first-child {
    min-height: calc(100vh - 111px);
  }
}
.tablayout-content.height-fixed {
  height: calc(100vh - 59px);
  > .height-fixed-scroll:first-child {
    > .__panel:first-child {
      > .__view:first-child {
        > *:first-child {
          height: calc(100vh - 59px);
        }
      }
    }
  }
}
.tablayout-content.height-fixed-multipage {
  height: calc(100vh - 111px);
  > .height-fixed-scroll:first-child {
    > .__panel:first-child {
      > .__view:first-child {
        > *:first-child {
          height: calc(100vh - 111px);
        }
      }
    }
  }
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-leave-active {
  opacity: 0;
}

.page-transition-enter .page-transition-container,
.page-transition-leave-active .page-transition-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* 美化弹出Tab样式 */
.ant-tabs-nav-container {
  margin-top: 0;
}

/* 修改 ant-tabs 样式 */
.tab-layout-tabs.ant-tabs {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: white;
  padding: 0 20px;

  .ant-tabs-bar {
    margin: 0;
    border: none;
  }
}

.ant-tabs {
  &.ant-tabs-card .ant-tabs-tab {
    padding: 0 24px;
    background-color: white;
    margin-right: 10px;

    .ant-tabs-close-x {
      width: 12px;
      height: 12px;
      opacity: 0;
      cursor: pointer;
      font-size: 12px;
      margin: 0;
      position: absolute;
      top: 36%;
      right: 6px;
    }

    &:hover .ant-tabs-close-x {
      opacity: 1;
    }
  }
}

// .ant-tabs.ant-tabs-card > .ant-tabs-bar {
//   .ant-tabs-tab {
//     border: none !important;
//     border-bottom: 1px solid transparent !important;
//   }

//   .ant-tabs-tab-active {
//     border-color: #1890ff !important;
//   }
// }
</style>
