<template>
  <div id="userLayout" :class="['user-layout-wrapper', device]">
    <div class="container">
      <div class="starPic">
        <!-- <div class="star1"></div>
        <div class="star2"></div>
        <div class="star3"></div>-->
      </div>
      <div class="left">
        <div class="logoBox">
          <div class="logo">
            <!--<a href="/">-->
            <img
              height="60"
              src="~@/assets/images/login/logo-and-title.png"
              class="logo"
              alt="logo"
            />
            <!--</a>-->
          </div>
          <div class="desc">
            工业互联网云平台是推动制造业向更高发展水平迈进的基础驱动力，包括容器云、DevOps、微服务、VUE、分布式数据库和业务基础平台等新技术架构体系，是支撑企业数字化转型的有力工具
          </div>
          <div class="logoPic">
            <img width="130%" src="~@/assets/images/login/centerimg.png" class="logo" alt="logo" />
          </div>
        </div>
      </div>
      <div class="loginBox">
        <route-view />
      </div>
      <div class="footer">
        <div class="copyright">
          <img src="~@/assets/images/login/cloud.png" class="cloud-1" alt="cloud" />
          <img src="~@/assets/images/login/cloud.png" class="cloud-2" alt="cloud" />
          <img src="~@/assets/images/login/cloud.png" class="cloud-3" alt="cloud" />
          <div class="copyright-text">Copyright &copy; 2019 AVIC 出品</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RouteView from '@portal/pageLayouts/RouteView';
import { mixinDevice } from '@/utils/avic/layout/mixin.js';

export default {
  name: 'UserLayout',
  components: { RouteView },
  mixins: [mixinDevice],
  data() {
    return {};
  },
  mounted() {
    document.body.classList.add('userLayout');
  },
  beforeDestroy() {
    document.body.classList.remove('userLayout');
  }
};
</script>

<style lang="less" scoped>
/* User主题-与切换皮肤无关的样式 */
#userLayout.user-layout-wrapper {
  height: 100%;
  &.mobile {
    .container {
      .main {
        max-width: 368px;
        width: 98%;
      }
    }
  }

  .container {
    width: 100%;
    // min-width: 1366px;
    min-height: 100%;
    background-image: linear-gradient(to right, #75e4ff, #453cf7);
    background-size: 100%;
    padding: 10% 0 0 0;
    /* padding-top: 9%; */
    position: relative;
    /* overflow横轴竖轴都改为hidden，滚动条消失 */
    overflow: hidden;

    a {
      text-decoration: none;
    }

    .left {
      width: 30%;
      position: absolute;
      left: 15%;

      .logoBox {
        .logo {
          text-align: center;

          .badge {
            position: absolute;
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            margin-left: -12px;
            margin-top: -10px;
            opacity: 0.8;
          }

          .logo {
            height: 60px;
            position: relative;
            top: -10px;
            vertical-align: top;
            margin-right: 16px;
            border-style: none;
            text-align: center;
          }

          /* .title { */
          /* font-size: 33px; */
          /* color: rgba(0, 0, 0, 0.85); */
          /* font-weight: 600; */
          /* position: relative; */
          /* top: 2px; */
          /* -webkit-user-select: none; */
          /* user-select: none; */
          /* } */
        }

        .desc {
          width: 80%;
          font-size: 14px;
          color: rgba(255, 255, 255, 1);
          margin: 4% auto 4% 20%;
          vertical-align: middle;
        }

        .logoPic {
          position: absolute;
          left: 18%;
          z-index: 10;
        }
      }
    }

    .loginBox {
      width: 50%;
      position: absolute;
      top: 20%;
      left: 50%;
      z-index: 6;

      .main {
        /* min-width: 260px; */
        /* width: 368px; */
        min-width: 260px;
        width: 410px;
        margin: 0 auto 0 20%;
        padding: 1% 5%;
        box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.2);
      }
    }

    .footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      z-index: 1;

      .links {
        margin-bottom: 8px;
        font-size: 14px;

        a {
          color: rgba(0, 0, 0, 0.45);
          transition: all 0.3s;

          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }

      .copyright {
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;

        .cloud-1 {
          position: fixed;
          bottom: 0;
          width: 20%;
          left: 0;
          margin-left: 70%;
          z-index: 3;
          animation: demo3 20s infinite;
          -webkit-animation: demo3 20s infinite;
          -moz-animation: demo3 20s infinite;
          transition: all 0.3s;
        }
        .cloud-2 {
          position: fixed;
          bottom: 0;
          width: 30%;
          left: 0;
          z-index: 1;
          margin-left: 7%;
          animation: demo3 10s infinite;
          -webkit-animation: demo3 10s infinite;
          -moz-animation: demo3 10s infinite;
          transition: all 0.3s;
        }
        .cloud-3 {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 60%;
          z-index: 2;
          margin-left: 20%;
          animation: demo3 30s infinite;
          -webkit-animation: demo3 30s infinite;
          -moz-animation: demo3 30s infinite;
          transition: all 0.3s;
        }
        .copyright-text{
          z-index: 4;
          font-size: 12px;
          position: fixed;
          bottom: 8px;
          width: 60%;
          text-align: center;
          margin-left: 20%;
        }
      }
    }
  }
}

@keyframes demo3 {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@-moz-keyframes demo3 {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@-webkit-keyframes demo3 {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
</style>
