<!--
    流程上传组件,把上传组件再次分装,添加流程上传权限控制
--->
<template>
  <AvicUploader
    :ref="refName"
    :element-id="elementIdName"
    :form-id="formId"
    :form-type="formType"
    :entry-id="entryId"
    :task-name="taskName"
    :flow-uploader="flowUploader"
    :allow-download="true"
    :allow-encry="false"
    :allow-add="!isDisabledAccessory()"
    :allow-preview="true"
    :allow-responsive="allowResponsive"
    :update-level="isLevelAccessory()"
    :allow-delete="isDisabledAccessory()"
    :drag-uploader="dragUploader"
    :multiple="multiple"
    :save-type="saveType"
    :file-size-limit="fileSizeLimit"
    :allow-same-name="allowSameName"
    :chunk-enabled="chunkEnabled"
    :colspan="colspan"
    :file-num-limit="fileNumLimit"
    :min-chunk-size="minChunkSize"
    :upload-type="uploadType"
    :file-type="fileType"
    :accept-type="acceptType"
    :upload-max-thread="uploadMaxThread"
    :file-size="15"
    :table-name="tableName"
    :secret-level="secretLevel"
    :upload-auto="uploadAuto"
    @change="change"
    @beforeUpload="beforeUpload"
    @afterUpload="afterUpload"
  />
</template>
<script>
import AvicUploader from '@comp/avic/pt/common/AvicUploader';
import { mapGetters } from 'vuex';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
export default {
  name: 'AvicBpmUploader',
  components: {
    AvicUploader
  },
  props: {
    //表单id
    formId: {
      type: String,
      required: false, //校验
      default: ''
    },
    //多附件的每个附件组件的唯一id
    elementId: {
      type: String,
      required: false, //校验
      default: '1'
    },
    flowUploader: {
      type: Boolean,
      required: false, //校验
      default: true
    },
    index: {
      type: Number,
      required: false, //校验
      default: null
    },
    //是否拖拽上传
    dragUploader: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //表单类型 add  edit detail
    formType: {
      type: String,
      required: false, //校验
      default: ''
    },
    //table 名称
    tableName: {
      type: String,
      required: false, //校验
      default: ''
    },
    //是否多选
    multiple: {
      type: Boolean,
      required: false, //校验
      default: true
    },
    //文件最多上传个数
    fileNumLimit: {
      type: Number,
      default: 10
    },
    //文件大小 单位 mb 默认10mb
    fileSizeLimit: {
      type: Number,
      default: 10
    },
    uploadType: {
      type: String,
      required: false, //校验
      default: 'all'
    },
    //文件类型 默认图片
    fileType: {
      type: String,
      required: false, //校验
      default: ''
    },
    acceptType: {
      type: String,
      required: false, //校验
      default: ''
    },
    //一列显示多少个
    colspan: {
      type: Number,
      default: 1
    },
    //上传最大线程
    uploadMaxThread: {
      type: Number,
      default: 5
    },
    //是否允许文件名称重复
    allowSameName: {
      type: Boolean,
      default: false
    },
    //是否分片上传
    chunkEnabled: {
      required: false, //校验
      type: Boolean,
      default: false
    },
    //分片上传每一片的大小
    minChunkSize: {
      required: false, //校验
      type: Number,
      default: 1
    },
    //上传类型,包括DataBase、Disk、Fastfds和第三方
    saveType: {
      type: String,
      required: false,
      default: 'Disk'
    },
    //密级通用代码
    secretLevel: {
      type: String,
      required: false,
      default: 'PLATFORM_FILE_SECRET_LEVEL'
    },
    //是否自动上传
    uploadAuto: {
      required: false, //校验
      type: Boolean,
      default: false
    },
    allowResponsive: {
      type: Boolean,
      required: false, //校验
      default: false
    }
  },
  data() {
    return {
      refName: 'AvicUploader',
      taskName: '',
      entryId: '',
      elementIdName: ''
    };
  },
  //注册监听teb数据变化事件
  computed: {
    ...mapGetters(['getEntryId', 'getActivityname'])
  },
  //接收组件传参
  watch: {
    //文件节点
    elementId: {
      immediate: true,
      handler(newV) {
        if (newV) {
          this.elementIdName = newV;
        }
      }
    },
    getEntryId(entryId) {
      this.entryId = entryId;
    },
    getActivityname(taskName) {
      this.taskName = taskName;
    }
  },
  mounted() {
    if (this.$store.state.bpmModel.entryId) {
      this.entryId = this.$store.state.bpmModel.entryId;
    }
    if (this.getActivityname) {
      this.taskName = this.getActivityname;
    }
  },

  methods: {
    change(data) {
      this.$emit('change', data);
    },
    //上传前置事件
    beforeUpload() {
      this.$emit('beforeUpload');
    },
    //上传后置事件
    afterUpload(successFile, errorFile) {
      this.$emit('afterUpload', successFile, errorFile);
    },
    //附件是否可编辑
    isDisabledAccessory() {
      if (this.index != null) {
        return bpmUtils.isDisabledAccessory(this.index);
      } else {
        return true;
      }
    },
    //附件是否可修改秘籍
    isLevelAccessory() {
      if (this.index != null) {
        return bpmUtils.isLevelAccessory(this.index);
      } else {
        return true;
      }
    },
    //上传事件
    upload(formId) {
      this.$refs[this.refName].upload(formId);
    },
    //验证秘籍
    validateUploaderFileSecret(validateSecretLevel) {
      this.$refs[this.refName].validateUploaderFileSecret(validateSecretLevel);
    }
  }
};
</script>
