<template>
  <div class="avic-modal-select">
    <slot />
    <a-input
      v-if="!$slots.default"
      ref="showValueComp"
      v-model="showValue"
      :disabled="disabled"
      :placeholder="!disabled ? placeholder : ''"
      @change="handleChange"
      @dblclick="showSelectModal"
      @click="handleInputClick"
      @focus="handleFocus"
    >
      <template slot="suffix">
        <a-icon
          v-if="!disabled && allowClear"
          v-show="showValue !== ''"
          title="点击清空"
          class="icon-clear"
          type="close-circle"
          theme="filled"
          @click="handleClear"
        />
        <a-icon type="select" title="点击选择" @click="showSelectModal" />
      </template>
    </a-input>
    <AvicModal
      :wrap-class-name="wrapClassName"
      :visible="visible"
      :modal-title="modalTitle"
      :close-able="closeAble"
      :adjust-size="adjustSize"
      :set-modal-style="setModalStyle || modalWidthAndHeight.modalStyle"
      :set-modal-body-style="
        Object.assign({}, modalWidthAndHeight.bodyStyle, { padding: '0', position: 'relative' })
      "
      :modal-width="modalWidthAndHeight.standardModalStyle.width"
      :modal-height="modalWidthAndHeight.standardModalStyle.height"
      :modal-cut-height="modalCutHeight"
      :centered="modalCentered"
      :destroy-on-close="modalDestroyOnClose"
      :mask-closable="modalMaskClosable"
      @cancel="hideSelectModal"
    >
      <!-- :footer="modalFooter" -->
      <component
        :is="selectComponent"
        v-bind="$attrs"
        v-on="$listeners"
        :is-multi-selection="isMultiSelection"
        @select="handleSelect"
        @handleRowDblClick="handleRowDblClick"
      />
      <template slot="footer">
        <a-button @click="hideSelectModal">取消</a-button>
        <a-button type="primary" @click="handleConfirm">确定</a-button>
      </template>
    </AvicModal>
  </div>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import { Modal, Button, Icon, Input } from 'ant-design-vue';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import AvicModal from '@comp/avic/pt/common/AvicModal';

export default {
  name: 'AvicModalSelect',
  components: {
    AModal: Modal,
    AButton: Button,
    AIcon: Icon,
    AInput: Input,
    AvicModal
  },
  props: {
    value: {
      type: [String, Object],
      validator: val => {
        return !!val;
      }
    },
    modalTitle: {
      // 模态框标题
      type: String,
      default: '选择'
    },
    // 传入a-modal组件的{wrapClassName}参数
    wrapClassName: {
      type: String,
      required: false,
      default: 'table-modal-wrap'
    },
    //是否需要右上角全屏按钮
    adjustSize: {
      type: Boolean,
      required: false,
      default: true
    },
    //是否需要右上角关闭按钮
    closeAble: {
      type: Boolean,
      required: false,
      default: true
    },
    //弹窗modal宽度占屏幕比例
    modalHeight: {
      type: Number,
      required: false,
      default: 0.8
    },
    //弹窗modal高度占屏幕比例
    modalWidth: {
      type: Number,
      required: false,
      default: 0.8
    },
    //弹窗modal的body的高度比整个弹窗modal少的高度
    modalCutHeight: {
      type: Number,
      required: false,
      default: 98
    },
    //弹窗整体样式
    setModalStyle: {
      type: Object,
      required: false,
      default: null
    },
    // 是否垂直居中展示 Modal
    modalCentered: {
      type: Boolean,
      default: true
    },
    // 关闭时销毁 Modal 里的子元素
    modalDestroyOnClose: {
      type: Boolean,
      default: false
    },
    // 点击蒙层是否允许关闭
    modalMaskClosable: {
      type: Boolean,
      default: false
    },
    // 底部内容，当不需要默认底部按钮时，可以设为 :footer="null"
    modalFooter: {
      required: false
    },
    selectComponent: {
      // 要选择的单表组件对象
      type: Object,
      default: null
    },
    isMultiSelection: {
      // 是否多选 ，默认：否
      type: Boolean,
      default: false
    },
    allowClear: {
      //是否展示清空图标
      type: Boolean,
      default: false
    },
    showField: {
      type: String
    },
    valueField: {
      type: String,
      default: 'id'
    },
    defaultShowValue: {
      type: String,
      default: ''
    },
    //输入框提示
    placeholder: {
      type: String,
      required: false, //校验
      default: ''
    },
    //是否禁用控件
    disabled: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //是否禁止输入
    disabledInput: {
      type: Boolean,
      required: false, //校验
      default: true
    }
  },
  data() {
    return {
      visible: false,
      isFilled: false,
      showClearIcon: false,
      showValue: '',
      oldValue: '',
      selectedData: [],
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 98)
    };
  },
  computed: {},
  watch: {
    value: {
      immediate: true,
      handler(val) {
        if (!val) {
          this.showValue = '';
          this.oldValue = '';
        } else if (typeof val === 'object') {
          this.showValue = val[this.showField] ? val[this.showField] : '';
          this.oldValue = val[this.showField] ? val[this.showField] : '';
        }
      }
    },
    defaultShowValue: {
      immediate: true,
      handler(val) {
        this.showValue = val;
        this.oldValue = val;
      }
    }
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 98);
    });
  },
  methods: {
    showSelectModal() {
      if (!this.disabled) {
        this.visible = true;
      }
    },
    hideSelectModal() {
      this.$refs.showValueComp.focus();
      this.$nextTick(() => {
        this.visible = false;
      });
    },
    handleFocus() {
      if (this.disabledInput && !this.isFilled) {
        this.showSelectModal();
      }
    },
    handleInputClick() {
      if (this.disabledInput) {
        this.showSelectModal();
      }
    },
    handleSelect(data) {
      this.selectedData = data;
    },
    handleConfirm() {
      if (this.selectedData.length === 0) {
        this.$message.warning('请至少选择一条数据');
        return;
      }
      if (this.isMultiSelection) {
        let that = this;
        let valueArr = [];
        this.selectedData.map(item => {
          valueArr.push(item[that.valueField] || '');
        });
        let res = valueArr.join(',');
        this.$emit('change', res);
        this.$emit('selectConfirm', this.selectedData);
      } else {
        this.$emit('change', this.selectedData[0][this.valueField]);
        this.$emit('selectConfirm', this.selectedData);
      }
      this.getShowValue();
      this.visible = false;
      this.isFilled = true;
    },
    handleChange(e) {
      if (this.disabledInput) {
        this.showValue = this.oldValue;
      } else {
        let obj = {};
        this.$emit('change', this.showValue);
        obj[this.valueField] = this.showValue;
        obj[this.showField] = this.showValue;
        this.$emit('selectConfirm', obj);
      }
    },
    getShowValue() {
      let res;
      let that = this;
      if (this.isMultiSelection) {
        let showValueArr = [];
        this.selectedData.map(item => {
          showValueArr.push(
            that.showField && item[that.showField] ? item[that.showField] : item[that.valueField]
          );
        });
        res = showValueArr.join(',');
      } else {
        res =
          that.selectedData[0] &&
          that.selectedData[0][that.showField ? that.showField : that.valueField]
            ? that.selectedData[0][that.showField ? that.showField : that.valueField]
            : '';
      }
      this.showValue = res;
      this.oldValue = res;
    },
    handleClear() {
      this.showValue = '';
      this.$emit('change', this.showValue);
      this.$emit('clear');
    },
    /**
     * 双击回填
     */
    handleRowDblClick(data) {
      this.selectedData = [data];
      this.handleConfirm();
    }
  }
};
</script>
<style lang="less">
.avic-modal-select {
  .ant-input-affix-wrapper {
    .ant-input:not(:last-child) {
      padding-right: 44px;
    }
    .ant-input-suffix {
      .anticon {
        cursor: pointer;
      }
      .icon-clear {
        margin-right: 4px;
        display: none;
      }
    }
  }
  .ant-input-affix-wrapper:hover {
    .ant-input-suffix .icon-clear {
      display: inline-block;
    }
  }
}
</style>
