<template>
  <div class="dom_box">
    <h1>删除按钮</h1>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">删除按钮:</a-col>
        <a-col :span="5">
          <AvicDelete
            v-show="true"
            class="table-handle-button"
            title="您确定要删除选中吗?"
            @click="clickDelete"
          />
        </a-col>
        <a-col :span="3" />
      </a-row>

      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" /><a-icon
                v-show="!openList"
                type="eye-invisible"
              />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
                      &lt;template&gt;
                        &lt;a-col :span="3"&gt;删除按钮&lt;/a-col&gt;
                        &lt;a-col :span="5"&gt;
                                &lt;AvicDelete v-show="true"
                                class="table-handle-button"
                                title="您确定要删除选中吗?"
                                @click="clickDelete"
                                /&gt;
                        &lt;/a-col&gt;
                      &lt;/a-col&gt;
                      &lt;/template&gt;
                      <hr />
                      <p>script部分</p>
                      &lt;script&gt;
                        import { AvicDelete } from '@comp/avic/pt/common/AvicButtons';
                        export default {
                          components: {
                                AvicDelete,
                          },
                        methods:{
                          clickDelete(){}
                          }
                        }
                      &lt;/script&gt;
                      </pre>
          </div>
        </a-col>
      </a-row>
    </div>

    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>

    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>
<script>
import { AvicDelete } from '@comp/avic/pt/common/AvicButtons';
import { Table, Icon } from 'ant-design-vue';
export default {
  name: 'BottonGroup',
  components: {
    AvicDelete,
    ATable: Table,
    AIcon: Icon
  },
  data() {
    return {
      openList: false,
      userName: '',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'askType',
          explain:
            '删除按钮提示框类型\n' +
            '可传入参数\n' +
            '弹出层提示框:modal 按钮局部提示小框:popconfirm\n',
          type: 'String',
          default: 'modal',
          required: 'false'
        },
        {
          parameter: 'title',
          explain: '提示语',
          type: 'String',
          default: '确认要删除选中的数据吗',
          required: 'false'
        },
        {
          parameter: 'loading',
          explain: '按钮加载状态',
          type: 'Boolean',
          default: 'true',
          required: 'false'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'default'
        }
      ],
      dataEvent: [
        {
          parameter: 'click',
          explain: '确认删除',
          default: '无'
        },
        {
          parameter: 'click-confirm',
          explain: '点击确定回调',
          default: '无'
        },
        {
          parameter: 'click-cancel',
          explain: '点击取消回调',
          default: '无'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    },
    clickDelete() {}
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
