<template>
  <avic-resize-layout direction="h">
    <avic-resize-layout-panel :width="240">
      <div class="surface dom_box">
        <!-- 操作按钮及查询区域 -->
        <div class="surface-title">
          <h3>组件API</h3>
        </div>
        <a-menu :default-selected-keys="['0']" mode="inline" @click="handleClick">
          <template v-for="(item, index) in linkList">
            <a-menu-item :key="index + ''" :title="item.name" @click="onChange(item)">
              <i class="dian" />
              {{ item.name }}
            </a-menu-item>
          </template>
        </a-menu>
      </div>
    </avic-resize-layout-panel>
    <avic-resize-layout-panel>
      <div class="surface dom_box">
        <!-- 操作按钮及查询区域 -->
        <div class="surface-title">
          <h3>{{ compTitle }}</h3>
        </div>
        <div class="surface-content" style="overflow: auto">
          <component :is="componentFile" />
        </div>
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import '@assets/styles/common/base-surface-panel.less';
import AvicResizeLayout from '@comp/avic/pt/common/AvicResizeLayout';
import AvicResizeLayoutPanel from '@comp/avic/pt/common/AvicResizeLayout/AvicResizeLayoutPanel';
import ErrorPage from '@views/exception/404';
export default {
  name: 'BottonGroup',
  components: {
    ErrorPage,
    AvicResizeLayout,
    AvicResizeLayoutPanel
  },
  data() {
    return {
      compTitle: '流程选人',
      linkList: [
        {
          name: '流程选人',
          url: 'bpmSelectUser'
        },
        {
          name: '选择组件',
          url: 'select'
        },
        {
          name: '上传文件',
          url: 'uploader'
        },
        {
          name: '删除按钮',
          url: 'bottonGroup'
        },
        {
          name: '导出按钮',
          url: 'exportBtn'
        },
        {
          name: '导入按钮',
          url: 'importBtn'
        },
        {
          name: '卡片式错误提示',
          url: 'errorCard'
        },
        {
          name: '卡片式暂无数据提示',
          url: 'noDataCard'
        },
        {
          name: '计数文本框',
          url: 'textArea'
        },
        {
          name: '模态框',
          url: 'avicModal'
        },
        // {
        //   name: '树列表',
        //   url: 'tree'
        // },
        // {
        //   name: '表格',
        //   url: 'avicTable'
        // },
        // {
        //   name: '异步组件',
        //   url: 'asyncComponent'
        // },
        {
          name: '获取流程数据',
          url: 'flow/FlowFormCode'
        },
        {
          name: '流程按钮组件',
          url: 'flow/FlowButtonsDemo'
        },
        // {
        //   name: '流程图组件',
        //   url: 'flow/FlowChartDemo'
        // },
        {
          name: '流程标签页组件',
          url: 'flow/FlowNavDemo'
        },
        {
          name: '流程待办选择组件',
          url: 'flow/FlowDetailList'
        }
      ],
      componentFile: null
    };
  },
  mounted() {
    this.render(this.linkList[0].url);
  },
  methods: {
    render(url) {
      this.componentFile = () => ({
        component: import(`@views/avic/pt/examples/componentApiDemo/${url}`),
        //loading: LoadingPage,
        error: ErrorPage,
        delay: 100,
        timeout: 10000
      });
    },
    onChange(item) {
      this.compTitle = item.name;
      this.render(item.url);
    },
    handleClick() {}
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
<style lang="less">
.dom_box {
  .surface-content {
    .dom_content {
      border: 1px solid #e8e8e8;
      h3 {
        border: 0 !important;
      }
    }
  }
}
</style>
