<template>
  <div class="dom_box">
    <h1>导入按钮</h1>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">导出按钮:</a-col>
        <a-col :span="19">
          <AvicImport class="table-handle-button" />
        </a-col>
        <a-col :span="3" />
      </a-row>

      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" /><a-icon
                v-show="!openList"
                type="eye-invisible"
              />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
                      &lt;template&gt;
                        &lt;a-col :span="3"&gt;导出按钮&lt;/a-col&gt;
                        &lt;a-col :span="5"&gt;
                                &lt;AvicImport
                                  class="table-handle-button"
                                  @back-import="backImport"
                                /&gt;
                        &lt;/a-col&gt;
                      &lt;/a-col&gt;
                      &lt;/template&gt;
                      <hr />
                      <p>script部分</p>
                      &lt;script&gt;
                        import { AvicImport } from '@comp/avic/pt/common/AvicButtons';
                        export default {
                          components: {
                                AvicImport,
                          },
                        methods:{
                          backImport(){}
                          }
                        }
                      &lt;/script&gt;
                      </pre>
          </div>
        </a-col>
      </a-row>
    </div>

    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>

    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>
<script>
import { AvicImport } from '@comp/avic/pt/common/AvicButtons';
import { Table, Icon } from 'ant-design-vue';
export default {
  name: 'BottonGroup',
  components: {
    AvicImport,
    ATable: Table,
    AIcon: Icon
  },
  data() {
    return {
      openList: false,
      userName: '',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'templateCode',
          explain: '模版编码',
          type: 'String',
          default: '空',
          required: '否'
        },
        {
          parameter: 'userExtdata',
          explain: '用户扩展属性',
          type: 'Object',
          default: '空',
          required: '否'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'default'
        }
      ],
      dataEvent: [
        {
          parameter: 'click-import',
          explain: '确认导入事件',
          default: '无'
        },
        {
          parameter: 'back-import',
          explain: '导入成功回调请求返回值',
          default: 'Object导入请求返回值'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
