<template>
  <div class="dom_box">
    <h1>卡片式暂无数据提示</h1>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">卡片式暂无数据提示:</a-col>
        <a-col :span="19" >
          <div class="error-box">
            <a-empty :image="simpleImage" />
            </div>
        </a-col>
        <a-col :span="3" />
      </a-row>

      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" /><a-icon
                v-show="!openList"
                type="eye-invisible"
              />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
                      &lt;template&gt;
                        &lt;a-col :span="3"&gt;卡片式暂无数据提示&lt;/a-col&gt;
                        &lt;a-col :span="5"&gt;
                          &lt;a-empty  /&gt;
                        &lt;/a-col&gt;
                      &lt;/a-col&gt;
                      &lt;/template&gt;
                      <hr />
                      <p>script部分</p>
                      &lt;script&gt;
                        import a-empty from '@/components/avic/pt/common/AvicErrorCard'
                        export default {
                          components: {
                                a-empty,
                          },
                        }
                      &lt;/script&gt;
                      </pre>
          </div>
        </a-col>
      </a-row>
    </div>

    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>

    <!--    <div class="dom_content">-->
    <!--      <h3>事件</h3>-->
    <!--      <a-table-->
    <!--        :columns="columnsEvent"-->
    <!--        :dataSource="dataEvent"-->
    <!--        :pagination="false"-->
    <!--      >-->

    <!--      </a-table>-->
    <!--    </div>-->
  </div>
</template>
<script>
import { Table, Icon, Empty  } from 'ant-design-vue';
export default {
  name: 'NoDataCard',
  components: {
    ATable: Table,
    AIcon: Icon,
  },
   beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  data() {
    return {
      openList: false,
      userName: '',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'message',
          explain: '提示内容',
          type: 'String',
          default: '暂无数据',
          required: 'false'
        },
        {
          parameter: 'icon',
          explain: '提示图标',
          type: 'String',
          default: '-',
          required: 'false'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    }
  }
};
</script>

 
<style lang="less" scoped>
@import './style/base.less';
</style>
