<template>
  <div class="dom_box">
    <h1>选择组件</h1>
    <div class="dom_content">
      <h3>可以添加的属性</h3>
      <div>
        <a-row :gutter="[8, 16]">
          <a-col :span="5" class="attr-label">选择类型:</a-col>
          <a-col :span="7">
            <a-select v-model="type" style="width: 120px">
              <a-select-option value="userSelect">选人</a-select-option>
              <a-select-option value="deptSelect">选部门</a-select-option>
              <a-select-option value="groupSelect">群组</a-select-option>
              <a-select-option value="roleSelect">角色</a-select-option>
              <a-select-option value="positionSelect">岗位</a-select-option>
            </a-select>
          </a-col>
          <a-col :span="5" class="attr-label">单选/多选:</a-col>
          <a-col :span="7">
            <a-button-group>
              <a-button @click="modelType" :type="model == 'single' ? 'primary' : ''">
                单选
              </a-button>
              <a-button @click="modelType" :type="model == 'multi' ? 'primary' : ''">多选</a-button>
            </a-button-group>
          </a-col>
        </a-row>
        <a-row :gutter="[8, 16]">
          <a-col :span="5" class="attr-label">禁用/启用:</a-col>
          <a-col :span="19">
            <a-button-group>
              <a-button @click="disabledType" :type="disabled ? 'primary' : ''">禁用</a-button>
              <a-button @click="disabledType" :type="!disabled ? 'primary' : ''">启用</a-button>
            </a-button-group>
          </a-col>
        </a-row>
      </div>
    </div>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">选择类型:</a-col>
        <a-col :span="3">
          <AvicCommonSelect
            v-model="slect"
            :disabled="disabled"
            style="width: 200px"
            class="select"
            :type="type"
            :select-model="model"
            placeholder="请选择"
          />
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" />
              <a-icon v-show="!openList" type="eye-invisible" />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
              &lt;template&gt;
                &lt;a-col :span="formColLayout.fixed.cols"&gt;
                  &lt;a-form-item :label-col="formColLayout.fixed.labelCol" :wrapper-col="formColLayout.fixed.wrapperCol" label="附件上传"&gt;
                      &lt;AvicCommonSelect v-model="slect"
                        :disabled="disabled"
                        style="width: 200px;"
                        class="select"
                        :type="type"
                        :select-model="model"
                        placeholder="请选择"
                      /&gt;
                  &lt;/a-form-item&gt;
                &lt;/a-col&gt;
              &lt;/template&gt;
              &lt;script&gt;
                export default {
                  components: {
                        AvicCommonSelect,
                  },
                  data() {
                      return {
                        slect:{ids:'8a69dfb46d39e940016d3d4b18480046',names:'测试用户18'},
                      }
                  },
                }
              &lt;/script&gt;
            </pre>
          </div>
        </a-col>
      </a-row>
    </div>
    <div class="dom_content">
      <h3>表单中使用</h3>
      <a-form :form="form">
        <a-form-item :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" label="选择组件">
          <AvicCommonSelect
            v-decorator="[
              'select',
              {
                rules: [{ required: true, message: '请选择' }]
              }
            ]"
            :disabled="disabled"
            style="width: 200px"
            class="select"
            :type="type"
            :select-model="model"
            placeholder="请选择"
          />
        </a-form-item>
      </a-form>
      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenListForm">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openListForm" type="eye" />
              <a-icon v-show="!openListForm" type="eye-invisible" />
            </div>
          </div>
          <div class="code_main" v-show="openListForm">
            <pre>
                      &lt;template&gt;
                      &lt;a-form :form="form" &gt;
                      &lt;a-col :span="formColLayout.fixed.cols"&gt;
                          &lt;a-form-item :label-col="formColLayout.fixed.labelCol" :wrapper-col="formColLayout.fixed.wrapperCol" label="附件上传"&gt;
                              &lt;AvicCommonSelect 
                              v-decorator="[
                              'select',
                              {
                                rules: [{ required: true, message: '请选择' }]
                              }
                            ]"
                                    :disabled="disabled"
                                    style="width: 200px;"
                                    class="select"
                                    :type="type"
                                    :select-model="model"
                                    placeholder="请选择"
                              /&gt;
                      &lt;/a-form-item&gt;
                    &lt;/a-form&gt;
                    &lt;/a-col&gt;
                    &lt;/template&gt;
                    <hr />
                    <p>script部分</p>
                    &lt;script&gt;
                      export default {
                        components: {
                              AvicCommonSelect,
                        },
                        data() {
                            return {
                              form: this.$form.createForm(this), // 表单
                              slect:{ids:'8a69dfb46d39e940016d3d4b18480046',names:'测试用户18'},
                            }
                        },
                        mounted() {
                            this.setUser();
                          },
                          methods:{
                            setUser(){
                              this.form.setFieldsValue({'select': this.slect}); //设置默认值
                            },
                          }
                      }
                    &lt;/script&gt;
                    </pre>
          </div>
        </a-col>
      </a-row>
    </div>
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>
<script>
import AvicCommonSelect from '@/components/avic/pt/org/AvicCommonSelect';
import { Table, Select, Form } from 'ant-design-vue';
export default {
  name: 'SelectDom',
  components: {
    AvicCommonSelect,
    ATable: Table,
    ASelect: Select,
    ASelectOption: Select.Option,
    AForm: Form,
    AFormItem: Form.Item
  },
  data() {
    return {
      openList: false,
      openListForm: false,
      form: this.$form.createForm(this), // 表单
      slect: { ids: '8a69dfb46d39e940016d3d4b18480046', names: '测试用户18' },
      model: 'single',
      type: 'userSelect',
      disabled: false,
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        }
      ],
      data: [
        {
          parameter: 'type',
          explain:
            '选人组件类型,包含这几种用户：userSelect，部门：deptSelect，角色：roleSelect，群组： groupSelect，岗位：positionSelect',
          type: 'String',
          default: 'userSelect'
        },
        {
          parameter: 'v-model',
          explain:
            '双向绑定数据 格式类型 { ids: "", names: "" }当用户：userSelect){ ids: "", names: "" ,deptid:"",deptname:""}会同时返回部门id和部门名称',
          type: '-',
          default: '-'
        },
        {
          parameter: 'selectModel',
          explain: '单选还是多选。单选 single ，多选 multi',
          type: 'String',
          default: 'single'
        },
        {
          parameter: 'disabled',
          explain: '是否禁止输入',
          type: 'Boolean',
          default: 'false'
        },
        {
          parameter: 'placeholder',
          explain: '输入框提示',
          type: 'String',
          default: ''
        },
        {
          parameter: 'defaultValue',
          explain: '默认值,格式类型 { ids: "", names: "" }',
          type: 'String',
          default: ''
        },
        {
          parameter: 'maxSelect',
          explain: '多选最多选择人数',
          type: 'Number',
          default: 0
        },
        {
          parameter: 'fieldLength',
          explain: '字段长度,用于计算最多选人个数,计算规则。如传入32只能选择一个人fieldLength/33',
          type: 'Number',
          default: 0
        },
        {
          parameter: 'defaultOrgId',
          explain: '默认加载指定组织下的数据',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'viewScope',
          explain: '组织范围三种类型 currentOrg、allowAcross、all',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'defaultLoadDeptId',
          explain: '默认加载部门id，(用户：userSelect，部门：deptSelect)有效',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'deptLevel',
          explain: '部门等级，(部门：deptSelect)有效',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'defaultDept',
          explain: '默认部门，(用户：userSelect)有效',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'defaultLoadGroupId',
          explain: '默认加载群组，(用户：userSelect)有效',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'defaultLoadPositionId',
          explain: '默认加载岗位，(用户：userSelect)有效',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'defaultLoadRoleId',
          explain: '默认加载角色，(用户：userSelect，部门：deptSelect)有效',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'appId',
          explain: '应用id，(角色：roleSelect，群组： groupSelect，岗位：positionSelect)有效',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'orgId',
          explain: '组织id',
          type: 'String',
          default: '-'
        },
        {
          parameter: 'autoFocus',
          explain: '输入框是否自动获取焦点',
          type: 'Boolean',
          default: 'false'
        },
        {
          parameter: 'defaultSelectSessionUser',
          explain: '默认选中当前登录人或者部门 (用户：userSelect，部门：deptSelect)有效',
          type: 'Boolean',
          default: 'false'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'default'
        }
      ],
      dataEvent: [
        {
          parameter: 'callBack',
          explain: '点击确定',
          default: '{ ids: “”, names: “” }当前选择的数据'
        },
        {
          parameter: 'close',
          explain: '点击取消',
          default: '-'
        },
        {
          parameter: 'click',
          explain: '点击事件',
          default: '两个参数第一个选人框是否打开,第二个{ ids: “”, names: “” }当前选择的数据'
        },
        {
          parameter: 'blur',
          explain: '失去焦点',
          default: '两个参数第一个选人框是否打开,第二个{ ids: “”, names: “” }当前选择的数据'
        },
        {
          parameter: 'select',
          explain: '树选中事件',
          default: '两个参数第一个选中的id第二个选中节点对象'
        },
        {
          parameter: 'check',
          explain: '点击树复选框触发',
          default: '选中的id'
        },
        {
          parameter: 'rightClick',
          explain: '右键点击树',
          default: '点击树节点id'
        }
      ]
    };
  },
  mounted() {
    this.setUser();
  },
  methods: {
    setUser() {
      this.form.setFieldsValue({ select: this.slect }); //设置默认值
    },
    onOpenListForm() {
      this.openListForm = !this.openListForm;
    },
    onOpenList() {
      this.openList = !this.openList;
    },
    modelType() {
      console.log(this.model, '-----model----');
      if (this.model == 'single') {
        this.model = 'multi';
      } else {
        this.model = 'single';
      }
    },
    disabledType() {
      this.disabled = !this.disabled;
    }
  }
};
</script>
 
<style lang="less" scoped>
@import './style/base.less';
</style>
