<template>
  <div class="dom_box">
    <h1>上传组件</h1>
    <div class="dom_content">
      <h3>代码演示</h3>
      <div>
        <a-col :span="24">
          <a-form-item label="附件上传">
            <AvicUploader
              key="1"
              element-id="1"
              form-type="edit"
              :drag-uploader="true"
              :multiple="true"
              save-type="DataBase"
              ref="avicAddUpLoaderFile"
              :file-size-limit="40"
              :allow-encry="false"
              :allow-same-name="false"
              :allow-preview="true"
              :allow-download="true"
              :allow-delete="true"
              :allow-upload="true"
              :chunk-enabled="true"
              :allow-responsive="true"
              :update-level="true"
              :form-id="formId"
              upload-type=""
              :file-size="15"
              table-name="MPM_PROJECT_INFO_TABLE"
              @afterUpload="uploadCompleteFile"
            />
          </a-form-item>
        </a-col>
        <!-- 代码展示区域 -->
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            <div class="code_icon">
              查看代码 <a-icon v-show="openList" type="eye" /><a-icon
                v-show="!openList"
                type="eye-invisible"
              />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
                    template部分
                      &lt;a-col :span="formColLayout.fixed.cols"&gt;
                          &lt;a-form-item :label-col="formColLayout.fixed.labelCol" :wrapper-col="formColLayout.fixed.wrapperCol" label="附件上传"&gt;
                              &lt;AvicUploader key="1" element-id="1" form-type="add" :drag-uploader="true" :multiple="true"
                                save-type="DataBase"
                                ref="avicAddUpLoaderFile"
                                :file-size-limit="40"
                                :allow-encry="false"
                                :allow-same-name="false"
                                :allow-preview="true"
                                :allow-download="true"
                                :allow-delete="true"
                                :selectfileLevel="true"
                                :chunk-enabled="true"
                                :colspan="2"
                                :update-level="true"
                                :form-id="formId"
                                upload-type=""
                                :file-size="15"
                                table-name="MPM_PROJECT_INFO_TABLE"
                                @afterUpload="UploadCompleteFile"
                              /&gt;
                          &lt;!--附件上传--&gt;
                      &lt;/a-form-item&gt;
                    &lt;/a-col&gt;
                      &lt;script&gt;
                        export default {
                          components:{
                            AvicTree,
                          },
                          methods:{
                            //加载树节点之前
                            beforeLoadData(treeData,parentId){
                              this.loadTreeParentId = parentId;
                              this.treeParam.url = this.requestTreeUrl + this.openLevel + '/' + parentId;
                            },
                            //树列表加载数据事件
                            afterLoadData(treeData){
                            },
                            selectNodeTree(s){
                            },
                          }
                        }
            </pre>
          </div>
        </a-col>
      </div>
    </div>
    <!-- API -->
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" />
    </div>
    <!-- 方法 -->
    <div class="dom_content">
      <h3>方法</h3>
      <a-table :columns="columnsf" :data-source="dataf" />
    </div>
    <!-- 事件 -->
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsj" :data-source="dataj" />
    </div>
    <!-- 文件类型 -->
    <div class="dom_content">
      <h3>文件类型</h3>
      <a-table :columns="columnsw" :data-source="dataw" />
    </div>
  </div>
</template>
<script>
import { Col, Form, Table, Icon } from 'ant-design-vue';
import { formColLayout } from '@utils/avic/layout/baseMouldStyles';
import AvicUploader from '@comp/avic/pt/common/AvicUploader';

export default {
  components: {
    ATable: Table,
    ACol: Col,
    AFormItem: Form.Item,
    AIcon: Icon,
    AvicUploader
  },
  data() {
    return {
      formId: '123456',
      formColLayout: formColLayout(this.layout),
      openList: false, //icon显示与隐藏，默认是不可见
      demoShow: false, //代码的显示与隐藏，默认不显示
      uploadLoading: false, //上传按钮状态
      modalLoading: false, // 弹窗保存按钮loading状态
      attachmentRefName: 'avicAddUploaderFile', // 标志表单是否含有附件
      visible: false, // 弹窗modal显隐
      // API
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'formId',
          explain: '表单ID',
          type: 'String',
          default: '123456',
          required: '否'
        },
        {
          parameter: 'tableName',
          explain: '表单名称，后台数据库表名称',
          type: 'String',
          default: 'MPM_PROJECT_INFO_TABLE',
          required: '否'
        },
        {
          parameter: 'multiple',
          explain: '是否多选 true 多选 false 单选',
          type: 'Boolean',
          default: 'true',
          required: '否'
        },
        {
          parameter: 'updateLevel',
          explain: '是否可修改文件密集true 可修改 false 不可修改',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'saveType',
          explain: '上传类型，包括DataBase、Disk、Fastfds 这三种方式',
          type: 'String',
          default: 'Disk',
          required: '否'
        },
        {
          parameter: 'fileNumLimit',
          explain: '文件最多上传个数',
          type: 'Number',
          default: '10',
          required: '否'
        },
        {
          parameter: 'fileSizeLimit',
          explain: '单个文件大小 单位 mb',
          type: 'Number',
          default: '10',
          required: '否'
        },
        {
          parameter: 'uploadType',
          explain: '文件上传类型详见3.1.4文件类型多个,号隔开',
          type: 'Number',
          default: '0',
          required: '否'
        },
        {
          parameter: 'fileType',
          explain: '自定义文件类型与uploadType 不能同时使用 多个用,号隔开',
          type: 'String',
          default: '',
          required: '否'
        },
        {
          parameter: 'acceptType',
          explain: '浏览器文件选择',
          type: 'String',
          default: '',
          required: '否'
        },
        {
          parameter: 'colspan',
          explain: '一列显示多个附件,最多显示3个',
          type: 'Number',
          default: '1',
          required: '否'
        },
        {
          parameter: 'allowUpload',
          explain: '是否显示上传按钮true 可修改 false 不可修改',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'allowUpload',
          explain: '是否显示上传按钮true 可修改 false 不可修改',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'allowDownload',
          explain: '是否允许下载附件true 可下载 false 不可下载',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'allowAdd',
          explain: '是否允许添加附件true 可添加 false 不可添加',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'allowDelete',
          explain: '是否允许删除附件true 可删除 false 不可删除',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'allowPreview',
          explain: '是否允许预览true 可预览 false 不可预览',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'allowSameName',
          explain: '是否允许文件名称重复true 可修重名 false 不可重名',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'uploadMaxThread',
          explain: '上传最大线程',
          type: 'Number',
          default: '5',
          required: '否'
        },
        {
          parameter: 'chunkEnabled',
          explain: '是否分片上传',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'minChunkSize',
          explain: '分片上传每一片的大小 单位 mb ',
          type: 'Number',
          default: '1',
          required: '否'
        },
        {
          parameter: 'uploadAuto',
          explain: '是否自动上传 true 自动上传 false 不自动上传',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'allowEncry',
          explain: '是否加密 true 加密 false 不加密',
          type: 'Boolean',
          default: 'false',
          required: '否'
        },
        {
          parameter: 'attIds',
          explain: '所有附件ID，根据这些ID加载附件',
          type: 'String',
          default: '空',
          required: '否'
        },
        {
          parameter: 'nodeId',
          explain: '存储附件节点的组名',
          type: 'String',
          default: '空',
          required: '否'
        },
        {
          parameter: 'elementId',
          explain: '多附件的每个附件组件的唯一id',
          type: 'String',
          default: '1',
          required: '否'
        },
        {
          parameter: 'dragUploader',
          explain: '是否拖拽上传 是否加密 true 可拖拽 false 不可拖拽',
          type: 'Boolean',
          default: 'false',
          required: '否'
        }
      ],
      //方法
      columnsf: [
        {
          title: '方法名称',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '参数',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      dataf: [
        {
          parameter: 'this.$refs.refName.Upload(formId)',
          explain: '调用上传文件方法',
          default: 'formID',
          required: '是'
        }
      ],
      //事件
      columnsj: [
        {
          title: '事件名称',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'default'
        }
      ],
      dataj: [
        {
          parameter: 'change',
          explain: '选择文件时',
          default: '选择的文件集合'
        },
        {
          parameter: 'change',
          explain: '选择文件时',
          default: '选择的文件集合'
        },
        {
          parameter: 'change',
          explain: '选择文件时',
          default: '选择的文件集合'
        }
      ],
      //文件类型
      columnsw: [
        {
          title: '参数',
          dataIndex: 'default'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        }
      ],
      dataw: [
        {
          default: 'text',
          explain: 'text包含文件后缀有  txt, js, jsp, java, css,sql, ini, conf'
        },
        {
          default: 'code',
          explain: 'code包含文件后缀有 xml, html, htm'
        },
        {
          default: 'word',
          explain: 'word包含文件后缀有 doc, docx, wps'
        },
        {
          default: 'excel',
          explain: 'excel 包含文件后缀有 xls, xlsx, et'
        },
        {
          default: 'ppt',
          explain: 'ppt 包含文件后缀有ppt, pptx, dps'
        },
        {
          default: 'pdf',
          explain: 'pdf 包含文件后缀有pdf'
        },
        {
          default: 'zip',
          explain:
            'zip 包含文件后缀有 zip, rar, tar, gz, cab, uue, arj, bz2, lzh, jar, ace, iso, 7z, z'
        },
        {
          default: 'image',
          explain: 'image 包含文件后缀有 bmp, gif, jpg, jpeg, png, tif, psd, pic, svg'
        },
        {
          default: 'video',
          explain: 'video 包含文件后缀有 rm, avi, mp4, mpg, mov, swf'
        },
        {
          default: 'audio',
          explain: 'audio 包含文件后缀有 wav, mp3, aif, au, ram, wma, mmf, amr, aac, flac'
        }
      ]
    };
  },
  methods: {
    // 控制代码显示与隐藏
    onOpenList() {
      this.openList = !this.openList;
      this.demoShow = !this.demoShow;
    },
    upload(formId) {
      this.$refs.avicAddUpLoaderFile.upload(this.formId); // 附件上传
    },
    //文件上传后
    uploadCompleteFile(successFile, errorFile) {
      console.log(successFile, errorFile);
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
