<template>
  <div>
    <ul ref="buttonBox" class="button-box">
      <li v-for="(item1, index1) in topFlowButtons" :key="index1" class="button">
        <!-- 流程操作按钮 -->
        <!-- 退回按钮集合 -->
        <a-dropdown-button
          v-show="item1.retreatButtons && item1.retreatButtons.length > 0"
          :trigger="['hover']"
          class="flow-dropdown-button"
        >
          退回
          <a-menu slot="overlay" class="button_box_menu">
            <a-menu-item
              v-for="(subitem, index2) in item1.retreatButtons"
              :key="index2"
              class="more-button"
              @click="handleFlow(subitem, index2)"
            >
              <a-button
                class="more-flow-button"
                :title="subitem.alias ? subitem.alias : subitem.lable"
                :loading="
                  subitem.id === triggerButtonId && isLoading && index2 === triggerButtonIndex
                "
              >
                {{ subitem.alias ? subitem.alias : subitem.lable }}
              </a-button>
            </a-menu-item>
          </a-menu>
          <a-icon slot="icon" type="caret-down" />
        </a-dropdown-button>
        <!-- 平铺按钮 -->
        <a-button
          v-show="
            !item1.retreatButtons &&
            index1 < maxButton &&
            (item1.jScript ? evalFunc(item1.jScript) : true)
          "
          class="flow-button"
          :type="
            item1.event &&
            (item1.event == 'submit' || item1.event == 'dosubmit' || item1.event == 'dostart')
              ? 'primary'
              : null
          "
          :title="item1.alias ? item1.alias : item1.lable"
          :loading="item1.id === triggerButtonId && isLoading && index1 === triggerButtonIndex"
          @click="handleFlow(item1, index1)"
        >
          {{ item1.alias ? item1.alias : item1.lable }}
        </a-button>
        <!-- 超出最多按钮个数,显示更多 -->
        <a-dropdown-button
          v-show="!item1.retreatButtons && index1 === maxButton"
          :trigger="['hover']"
          class="flow-dropdown-button"
        >
          更多
          <a-icon slot="icon" type="caret-down" />
          <a-menu slot="overlay" class="button_box_menu">
            <a-menu-item
              v-for="(tirditem, index3) in topFlowButtons"
              v-show="index3 >= maxButton"
              :key="index3"
              class="more-button"
              @click="handleFlow(tirditem, index3)"
            >
              <a-button
                class="more-flow-button"
                v-show="tirditem.jScript ? evalFunc(tirditem.jScript) : true"
                :title="tirditem.alias ? tirditem.alias : tirditem.lable"
                :loading="
                  tirditem.id === triggerButtonId && isLoading && tirditem === triggerButtonIndex
                "
              >
                {{ tirditem.alias ? tirditem.alias : tirditem.lable }}
              </a-button>
            </a-menu-item>
          </a-menu>
        </a-dropdown-button>
      </li>
    </ul>
    <AvicBpmCommonSelect @afterBpmButtons="afterBpmButtons" />
    <Globalidea v-if="hasGlobalidea" />
    <Startsubflow v-if="hasStartsubflow" />
    <BpmNodeSelect />
    <RelativeProcessList
      v-if="showRelativeProcessModal"
      :procinst-dbid="procinstDbid"
      @close="showRelativeProcessModal = false"
    />
    <ParentProcessModal
      v-if="showParentProcessModal"
      :is-parent-process-exist="isParentProcessExist"
      :procinst-dbid="procinstDbid"
      @saveSuccess="saveParentProcessSuccess"
      @close="showParentProcessModal = false"
    />
    <a-modal :visible="helpInfoVisible" :closable="false">
      <template slot="footer">
        <a-button @click="closeHelpInfo">知道了</a-button>
      </template>
      <div v-html="helpInfo" />
    </a-modal>
    <div class="flowshade" />
  </div>
</template>
<script>
import { Modal, Icon, Menu, Button, Dropdown } from 'ant-design-vue';
import AvicBpmCommonSelect from '@comp/avic/bpm/AvicBpmCommonSelect';
import BpmNodeSelect from '@comp/avic/bpm/AvicBpmButtonsModal/BpmNodeSelect';
import { mapGetters, mapActions } from 'vuex';
import { httpAction } from '@api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';

export default {
  name: 'AvicBpmButtons',
  components: {
    AModal: Modal,
    AIcon: Icon,
    AMenu: Menu,
    AMenuItem: Menu.Item,
    AButton: Button,
    ADropdownButton: Dropdown.Button,
    AvicBpmCommonSelect,
    BpmNodeSelect,
    Globalidea: () => ({
      // 需要加载的组件 (应该是一个 `Promise` 对象)
      component: import('@comp/avic/bpm/AvicBpmButtonsModal/Globalidea'),
      // 异步组件加载时使用的组件
      // loading: loadingComp,
      // 加载失败时使用的组件
      // error: '',
      // 展示加载时组件的延时时间。默认值是 200 (毫秒)
      delay: 200,
      // 如果提供了超时时间且组件加载也超时了，
      // 则使用加载失败时使用的组件。默认值是：`Infinity`
      timeout: 3000
    }),
    Startsubflow: () => ({
      // 需要加载的组件 (应该是一个 `Promise` 对象)
      component: import('@comp/avic/bpm/AvicBpmButtonsModal/Startsubflow'),
      // 异步组件加载时使用的组件
      // loading: loadingComp,
      // 加载失败时使用的组件
      // error: '',
      // 展示加载时组件的延时时间。默认值是 200 (毫秒)
      delay: 200,
      // 如果提供了超时时间且组件加载也超时了，
      // 则使用加载失败时使用的组件。默认值是：`Infinity`
      timeout: 3000
    }),
    RelativeProcessList: () => ({
      // 需要加载的组件 (应该是一个 `Promise` 对象)
      component: import('@comp/avic/bpm/AvicBpmButtonsModal/RelativeProcessList'),
      // 异步组件加载时使用的组件
      // loading: loadingComp,
      // 加载失败时使用的组件
      // error: '',
      // 展示加载时组件的延时时间。默认值是 200 (毫秒)
      delay: 200,
      // 如果提供了超时时间且组件加载也超时了，
      // 则使用加载失败时使用的组件。默认值是：`Infinity`
      timeout: 3000
    }),
    ParentProcessModal: () => ({
      // 需要加载的组件 (应该是一个 `Promise` 对象)
      component: import('@comp/avic/bpm/AvicBpmButtonsModal/ParentProcessModal'),
      // 异步组件加载时使用的组件
      // loading: loadingComp,
      // 加载失败时使用的组件
      // error: '',
      // 展示加载时组件的延时时间。默认值是 200 (毫秒)
      delay: 200,
      // 如果提供了超时时间且组件加载也超时了，
      // 则使用加载失败时使用的组件。默认值是：`Infinity`
      timeout: 3000
    })
  },
  props: {
    maxButtonBoxWidth: {
      type: Number
    },
    flowCustomVars: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      hasGlobalidea: false,
      hasStartsubflow: false,
      procinstDbid: '',
      showRelativeProcessModal: false, // 展示相关流程模态框
      showParentProcessModal: false, // 展示关联父流程模态框
      isParentProcessExist: false,
      maxButton: 6, // 最多显示多少个按钮
      triggerButtonId: '',
      triggerButtonIndex: '',
      recordButton: {},
      helpInfoVisible: false
    };
  },
  watch: {
    //监听按钮后置事件
    getAfterButtons(buttinsEvent) {
      this.$emit('afterBpmButtons', this.recordButton);
    },
    getBeforeOpenSelect(e) {
      //按钮点击前置事件
      this.$emit('beforeOpenSelect', this.$store.state.bpmCommonSelect.defaultSelectUsers);
    }
    // topFlowButtons(btnList) {
    //   let hasGlobalidea = false,
    //     hasStartsubflow = false;
    //   btnList.map(item => {
    //     if (item.event === 'doglobalidea') {
    //       hasGlobalidea = true;
    //     }
    //     if (item.event === 'dostartsubprocess') {
    //       hasStartsubflow = true;
    //     }
    //   });
    //   this.hasGlobalidea = hasGlobalidea;
    //   this.hasStartsubflow = hasStartsubflow;
    // }
  },
  methods: {
    ...mapGetters(['getHelpInfo']),
    //注册事件
    ...mapActions([
      'openBpmCommonSelect',
      'BpmSaveExecute',
      'BpmSubmitInitFunc',
      'BpmSubmitExecute',
      'BpmTransmitSubmitExecute',
      'BpmButTrackExecute',
      'BpmButHelpExecute',
      'BpmRetreatInitFunc',
      'executeTodraft',
      'executeToprev',
      'executeTowant',
      'executeToactivity',
      'BpmWithdrawExecute',
      'BpmSupplementExecute',
      'BpmTransmitExecute',
      'BpmAdduserExecute',
      'BpmWithdrawassigneeExecute',
      'BpmSupersedeExecute',
      'BpmPresstodoExecute',
      'BpmStepuserdefinedExecute',
      'BpmTaskreaderExecute',
      'BpmStartsubflowExecute',

      'BpmGlobalideaExecute',
      'BpmGlobaljumpExecute',
      'BpmGlobalsuspendExecute',
      'BpmGlobalresumeExecute',
      'BpmGlobalendExecute',
      'BpmFocusExecute',
      'setIsButtonLoading',
      'setLoadingSaveState'
    ]),
    /**
     * 计算按钮显示个数
     */
    setMaxButt() {
      let lis = this.$refs.buttonBox.querySelectorAll('li');
      let width = 0;
      let maxIndex = 0;
      for (let i = 0; i < lis.length; i++) {
        width = width + lis[i].offsetWidth;
        if (width > this.maxButtonBoxWidth) {
          maxIndex = i - 2;
          break;
        }
      }
      if (maxIndex > 1) {
        this.maxButton = maxIndex - 1;
      }
    },
    evalFunc(evalString) {
      let index = evalString.indexOf('==');
      let k = evalString.substring(0, index).trim();
      let v = evalString.substring(index + 2).trim();
      let flag = false;
      let isCheck = false;
      this.computedFlowCustomVars.map(item => {
        if (item.key == k && !isCheck) {
          if (item.value == v) {
            flag = true;
          } else {
            flag = false;
          }
          isCheck = true;
        }
      });
      return flag;
    },
    /**
     * 关闭按钮Loading
     */
    closeButtonLoading() {
      let that = this;
      setTimeout(() => {
        that.setIsButtonLoading(false);
      }, 2000);
    },
    /**
     * 流程按钮点击事件
     */
    handleFlow(item, index) {
      this.recordButton = item;
      // 规避连续点按钮
      this.triggerButtonId = item.id;
      this.setIsButtonLoading(true);
      this.triggerButtonIndex = index;
      let _this = this;
      this.procinstDbid = item.procinstDbid;
      //按钮点击前置事件
      this.$emit('beforeBpmButtons', { data: item });
      if (item.event === 'doformsave') {
        // 暂存
        this.setLoadingSaveState(true);
        this.BpmSaveExecute({
          data: item,
          start: params => {
            _this.$emit('saveAndStartProcess', params);
          },
          save: params => {
            _this.$emit('saveForm', params);
          }
        });
      } else if (item.event === 'dosubmit' || item.event === 'dostart') {
        // 提交
        this.BpmSubmitInitFunc({ data: item });
        this.BpmSubmitExecute({
          data: item,
          start: params => {
            // 提交流程时，静默保存表单
            params.isKeepSilent = true;
            _this.$emit('saveAndStartProcess', params);
          },
          save: params => {
            // 提交流程时，静默保存表单
            params.isKeepSilent = true;
            _this.$emit('saveForm', params);
          }
        });
      } else if (item.event === 'dotransmitsubmit') {
        // 已阅
        this.BpmTransmitSubmitExecute();
        this.closeButtonLoading();
      } else if (item.event === 'bpm_but_track') {
        // 流程跟踪
        this.BpmButTrackExecute();
        this.closeButtonLoading();
      } else if (item.event === 'bpm_but_help') {
        // 帮助
        this.helpInfoVisible = true;
        this.BpmButHelpExecute();
        this.closeButtonLoading();
      } else if (
        item.event === 'doretreattodraft' ||
        item.event === 'doretreattoprev' ||
        item.event === 'doretreattowant' ||
        item.event === 'doretreattoactivity'
      ) {
        // 由于跨节点退回用同一个vuex,为了解决数据不能区分问题,每次点击按钮都初始化一下按钮数据.
        this.BpmRetreatInitFunc({ data: item });
        if (item.event === 'doretreattodraft') {
          // 退回拟稿人
          this.executeTodraft({
            data: item,
            start: params => {
              _this.$emit('saveAndStartProcess', params);
            },
            save: params => {
              _this.$emit('saveForm', params);
            }
          });
        } else if (item.event === 'doretreattoprev') {
          // 退回上一步
          this.executeToprev({
            data: item,
            start: params => {
              _this.$emit('saveAndStartProcess', params);
            },
            save: params => {
              _this.$emit('saveForm', params);
            }
          });
        } else if (item.event === 'doretreattowant') {
          // 任意退回
          this.executeTowant({
            data: item,
            start: params => {
              _this.$emit('saveAndStartProcess', params);
            },
            save: params => {
              _this.$emit('saveForm', params);
            }
          });
        } else if (item.event === 'doretreattoactivity') {
          // 跨节点退回
          this.executeToactivity({
            data: item,
            start: params => {
              _this.$emit('saveAndStartProcess', params);
            },
            save: params => {
              _this.$emit('saveForm', params);
            }
          });
        }
        this.closeButtonLoading();
      } else if (item.event === 'dowithdraw') {
        // 拿回
        this.BpmWithdrawExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dosupplement') {
        // 补发
        this.BpmSupplementExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dotransmit') {
        // 发送阅知即流程转发
        this.BpmTransmitExecute();
        this.closeButtonLoading();
      } else if (item.event === 'doadduser') {
        // 加签
        this.BpmAdduserExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dowithdrawassignee') {
        // 减签
        this.BpmWithdrawassigneeExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dosupersede') {
        // 流程转办
        this.BpmSupersedeExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dopresstodo') {
        // 发送催办
        this.BpmPresstodoExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dostepuserdefined') {
        // 自定义选人
        this.BpmStepuserdefinedExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dotaskreader') {
        // 增加读者
        this.BpmTaskreaderExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dostartsubprocess') {
        // 发起子流程
        this.hasStartsubflow = true;
        this.BpmStartsubflowExecute();
        this.closeButtonLoading();
      } else if (item.event === 'doglobalidea') {
        // 意见修改
        this.hasGlobalidea = true;
        this.BpmGlobalideaExecute();
        this.closeButtonLoading();
      } else if (item.event === 'doglobaljump') {
        // 流程跳转
        this.BpmGlobaljumpExecute();
        this.closeButtonLoading();
      } else if (item.event === 'doglobalsuspend') {
        // 流程暂停
        this.BpmGlobalsuspendExecute();
        this.closeButtonLoading();
      } else if (item.event === 'doglobalresume') {
        // 流程恢复
        this.BpmGlobalresumeExecute();
        this.closeButtonLoading();
      } else if (item.event === 'doglobalend') {
        // 流程结束
        this.BpmGlobalendExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dofocus') {
        // 关注工作
        this.BpmFocusExecute();
        this.closeButtonLoading();
      } else if (item.event === 'dorelationprocess') {
        // 相关流程
        this.showRelativeProcessModal = true;
        this.closeButtonLoading();
      } else if (item.event == 'dorelationparentprocess') {
        // 关联父流程
        this.onParentProcess();
        this.closeButtonLoading();
      } else if (item.event.indexOf('_attribute') > 0) {
        // 自定义按钮
        this.$emit('flowCustomFunction', { jsfunction: item.jsfunction, data: item });
        this.closeButtonLoading();
      }
    },
    onParentProcess() {
      // 查询是否已关联父流程
      let httpConfig = {
        checkParentProcess: {
          url: bpmUtils.baseurl + '/business/related/findSubProcessById/v1',
          method: 'post'
        }
      };
      let param = {
        data: this.procinstDbid
      };
      httpAction(httpConfig.checkParentProcess.url, param, httpConfig.checkParentProcess.method)
        .then(res => {
          if (res.success) {
            if (res.result === 'exist') {
              Modal.confirm({
                title: '当前流程已关联父流程，确定重新关联父流程吗？',
                onOk: () => {
                  this.isParentProcessExist = true;
                  this.showParentProcessModal = true;
                }
              });
            } else if (res.result === 'success') {
              this.showParentProcessModal = true;
              this.isParentProcessExist = false;
            } else if (res.result === 'existAndNoEdit') {
              this.$warning({
                title: '系统提示',
                content: '该流程为父流程自动发起，不允许手动关联父流程！'
              });
            }
          }
        })
        .catch(e => {});
    },
    saveParentProcessSuccess() {
      this.showParentProcessModal = false;
      this.$message.success('【关联父流程】操作成功');
    },
    //流程选人打开前置事件
    afterBpmButtons(e) {
      this.$emit('afterBpmButtons', e);
    },
    closeHelpInfo() {
      this.helpInfoVisible = false;
    }
  },
  computed: {
    ...mapGetters([
      'getFlowButtons',
      'getAfterButtons',
      'getBeforeOpenSelect',
      'getIsButtonLoading'
    ]),
    /**
     * 获取流程按钮
     */
    topFlowButtons() {
      let topFlowButtons = this.getFlowButtons();
      return topFlowButtons;
    },
    computedFlowCustomVars() {
      let computedFlowCustomVars = [];
      for (let key in this.flowCustomVars) {
        computedFlowCustomVars.push({
          key,
          value: this.flowCustomVars[key]
        });
      }
      return computedFlowCustomVars;
    },
    isLoading() {
      let isLoading = this.getIsButtonLoading();
      return isLoading;
    },
    helpInfo() {
      let helpInfo = this.getHelpInfo();
      return helpInfo;
    }
  }
};
</script>
<style scoped>
.flowshade {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.button_box_menu {
  border-radius: 0;
  padding: 0;
  top: -4px;
}
.button_box_menu li {
  padding: 3px 12px;
  text-align: left;
}
</style>
