<!--
    流程头部 按钮区域
--->
<template>
  <div v-cloak>
    <div class="head" :style="{ top: isScrollDown && !fixedTop ? '-40px' : '0px' }">
      <div ref="flowHead" class="flow-head">
        <a-row style="height: 56px; width: 100%" align="middle">
          <a-col ref="flowHeadBox" :span="6">
            <div class="flow-title-left">
              <AvicIcon icon-source="avic" svg-name="flow-title" />
              <span>{{ this.$route.query.title }}</span>
              <em v-if="flowRole != null && flowRole != ''" v-text="flowRole" />
            </div>
          </a-col>
          <a-col :span="18" class="flow-title-right">
            <!-- 流程按钮 -->
            <AvicBpmButtons
              :flow-custom-vars="flowCustomVars"
              @saveAndStartProcess="saveAndStartProcess($event)"
              @saveForm="saveForm($event)"
              @beforeBpmButtons="beforeBpmButtons"
              @afterBpmButtons="afterBpmButtons"
              @beforeOpenSelect="beforeOpenSelect"
              @flowCustomFunction="flowCustomFunction($event)"
            />
          </a-col>
        </a-row>
      </div>
    </div>
    <AvicBpmTabs
      :ref="tabsRefName"
      :tabs-top="isScrollDown && !fixedTop ? '0px' : '40px'"
      @scrollViewByTab="scrollViewByTab"
    />
  </div>
</template>
<script>
import { Row, Col } from 'ant-design-vue';
import AvicIcon from '@comp/avic/pt/common/AvicIcon';
import AvicBpmTabs from '@/components/avic/bpm/AvicBpmTabs';
import AvicBpmButtons from './AvicBpmButtons';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'FlowHead',
  components: {
    ARow: Row,
    ACol: Col,
    AvicIcon,
    AvicBpmTabs,
    AvicBpmButtons
  },
  props: {
    flowCustomVars: {
      type: Object,
      default: () => {}
    },
    isScrollDown: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showTop: true,
      fixedTop: true,
      maxButtonBoxWidth: 0,
      tabsRefName: 'tabsRefName',
      flowRole: '' // 节点名称
    };
  },
  //注册接受组件传参事件
  computed: {
    ...mapGetters(['getUserIdentityKey', 'getActivitylabel', 'getTabs'])
  },
  //接收组件传参
  watch: {
    getUserIdentityKey: {
      immediate: true,
      handler(getUserIdentityKey) {
        // 分支1 显示当前用户的流程角色，显示已办节点
        // if (getUserIdentityKey != '' && this.$store.state.bpmModel.activitylabel !== null) {
        //   this.flowRole = `${this.$store.state.bpmModel.activitylabel}`;
        // }

        // 分支2 显示当前用户的当前待办节点或者拟稿，无待办不显示
        if (
          (getUserIdentityKey == '1' || getUserIdentityKey == '6') &&
          this.$store.state.bpmModel.activitylabel !== null
        ) {
          this.flowRole = `${this.$store.state.bpmModel.activitylabel}`;
        }
      }
    },
    getActivitylabel: {
      immediate: true,
      handler(activitylabel) {
        // 分支1 显示当前用户的流程角色，显示已办节点
        // if (this.$store.state.bpmModel.getUserIdentityKey != '' && activitylabel !== null) {
        //   this.flowRole = `${activitylabel}`;
        // }

        // 分支2 显示当前用户的当前待办节点或者拟稿，无待办不显示
        if (
          (this.$store.state.bpmModel.getUserIdentityKey == '1' ||
            this.$store.state.bpmModel.getUserIdentityKey == '6') &&
          activitylabel !== null
        ) {
          this.flowRole = `${activitylabel}`;
        }
      }
    }
  },
  mounted() {
    this.getBpmNavbarType();
  },
  methods: {
    //注册事件
    ...mapActions(['getBpmNavbarType', 'showAllTabs']),
    bpmHeadFixed() {
      this.fixedTop = !this.fixedTop;
      this.$emit('handleFixedTop', this.fixedTop);
    },
    // 表单启动流程
    saveAndStartProcess(params) {
      this.$emit('saveAndStartProcess', params);
    },
    // 表单暂存
    saveForm(params) {
      this.$emit('saveForm', params);
    },
    //按钮点击前置事件
    beforeBpmButtons(data) {
      this.$emit('beforeBpmButtons', data);
    },
    //按钮点击后置事件
    afterBpmButtons(data) {
      this.$emit('afterBpmButtons', data);
    },
    // 自定义按钮事件
    flowCustomFunction(params) {
      this.$emit('flowCustomFunction', params);
    },
    beforeOpenSelect(data) {
      this.$emit('beforeOpenSelect', data);
    },
    scrollViewByTab(tab) {
      this.$emit('scrollViewByTab', tab);
    }
  }
};
</script>
<style lang="less">
[v-cloak] {
  display: none !important;
}
.head {
  position: fixed;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
  height: 56px;
  line-height: 56px;
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  .flow-head {
    width: 100%;
    transition: all 0.3s;
    display: flex;
    min-height: 100%;
    .flow-title-left {
      height: 56px;
      line-height: 56px;
      .anticon {
        font-size: 24px;
        margin: 0 6px 0 16px;
        color: #526ecc;
      }
      span {
        font-size: 18px;
        margin-right: 6px;
      }
      em {
        display: inline-block;
        font-size: 12px;
        height: 20px;
        line-height: 18px;
        border: 1px solid #f90;
        color: #f90;
        padding: 0 6px;
        border-radius: 20px;
        font-style: normal;
        position: relative;
        bottom: 2px;
      }
    }
    .flow-title-right {
      text-align: right;
    }
    .layout_box {
      width: 40px;
      text-align: center;
      margin-left: auto;
      margin-right: 10px;

      a {
        color: #424b5c;
        text-decoration: none;
      }

      .box {
        height: 25px;
        position: relative;
        line-height: 25px;
        top: 7px;
        .anticon-unlock {
          color: #b1b1b1;
        }

        i {
          font-size: 20px;
          margin-top: 4px;
        }
      }

      .fixed-box {
        font-size: 12px;
      }
    }

    .button-box {
      flex: 2;
      padding: 0;
      margin: 0;

      .button {
        display: inline-block;
        text-align: center;
        a {
          color: #424b5c;
          width: 100%;
          background: none;
          border: none;

          i {
            margin: 0 4px 0 4px;
            font-size: 14px;
          }
        }
        .flow-dropdown-button {
          margin-right: 8px;
          button {
            border-radius: 0;
            min-width: auto;
          }
        }
        .flow-button {
          color: #424b5c;
          width: 100%;
          background: none;
          border: none;
          span {
            cursor: pointer;
            max-width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline;
          }
        }

        .span_box {
          cursor: pointer;
          max-width: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          line-height: 18px;
          display: inline-block;
          padding-right: 0;
          border-right: 1px solid #c9c9c9;
          font-size: 12px;

          i {
            font-size: 12px;
          }
        }

        .border {
          border-right: 0;
        }

        .box {
          display: inline-block;
          height: 50px;
        }
      }
    }

    .icon-color {
      color: #1890ff;
    }
  }

  .quick-btn {
    width: 75px;
    height: 75px;
    background-color: #09f;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    right: 28px;
    top: 70%;
    text-decoration: none;
    line-height: 75px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px #c5c5c5;
    transition: all 0.3s;
  }
}

.more-button {
  text-align: center;
  .more-flow-button {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    text-align: left;
    .ant-btn:hover {
      background: none;
    }
  }
  .more-flow-button.ant-btn:hover {
    background: none;
  }
}

.flow-button.ant-btn .anticon {
  margin-left: 0 !important;
}

.flow-chart-help {
  background-color: #fff;
  font-size: 13px;
  width: 300px;
  padding: 10px;
  color: #68696a;
  border: 1px solid #eee;
  border-radius: 10px;
}
</style>
