<template>
  <avic-resize-layout direction="v">
    <avic-resize-layout-panel ref="mainTablePanel">
      <div class="surface">
        <div class="surface-title">
          <h3>菜单分组</h3>
          <!-- 顶部按钮 添加、编辑、删除、导入导出、高级查询 -->
          <div class="surface-tools-bar">
            <a-input-search
              class="opt-btn-commonsearch"
              v-show="searchPlaceholder != ''"
              v-model="searchText"
              :placeholder="searchPlaceholder"
              :title="searchPlaceholder"
              :allow-clear="true"
              @search="searchByKeyWord({ refName: mainTableRefName, param: { type: 'main' } })"
            />
            <a-button
              v-has="'user:add'"
              type="primary"
              icon="plus"
              @click="handleAdd({ refName: mainAddModalRefName, param: { type: 'add' } })"
              title="添加"
            >
              添加
            </a-button>
            <a-button
              v-has="'user:del'"
              icon="delete"
              :loading="delLoading"
              @click="
                mainHandleDelete({
                  refName: mainTableRefName,
                  param: { ids: selectedRowKeys, type: 'delete' }
                })
              "
              title="删除"
            >
              删除
            </a-button>
            <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
            <a-icon
              type="sync"
              class="opt-icon"
              title="刷新"
              @click="handleRefreshTable(mainTableRefName)"
            />
            <AvicTableColumnSettings
              :init-setting-columns="initSettingColumns"
              :default-setting-columns="selectColumns"
              @colMenuSelect="changeColumns"
            />
          </div>
        </div>
        <div class="surface-content">
          <div class="surface-table">
            <AvicBaseTable
              :ref="mainTableRefName"
              :table-size="tableSize"
              :is-auto-count-scroll-x="true"
              :is-custom-row-click-as-single-check="true"
              :columns="selectColumns"
              :data-source="data"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
              @getData="getData"
              @handleRowSelection="handleRowSelectionMain"
              @handleTableChange="handleTableChange(mainTableRefName, $event)"
            >
              <template slot="action" scope="obj">
                <a
                  href="javascript:;"
                  class="table-detail-link"
                  @click.stop="
                    handleDetailOrEdit({
                      refName: mainEditModalRefName,
                      param: { id: obj.data[rowKey] }
                    })
                  "
                >
                  编辑
                </a>
                <a
                  href="javascript:;"
                  class="table-detail-link"
                  @click.stop="
                    mainHandleDelete({
                      refName: mainTableRefName,
                      param: { ids: [obj.data[rowKey]], type: 'delete' },
                      isNeedAsk: true
                    })
                  "
                >
                  <a-divider type="vertical" />删除
                </a>
              </template>
            </AvicBaseTable>
          </div>
        </div>
      </div>
    </avic-resize-layout-panel>
    <!-- 弹窗表单区域 -->

    <MenuGroupAddGroup
      :ref="mainAddModalRefName"
      layout="1"
      :request-public-url="requestPublicUrl"
      @reloadMainData="reloadMainData($event, mainTableRefName, 'add')"
    />
    <MenuGroupEditGroup
      :ref="mainEditModalRefName"
      layout="1"
      :request-public-url="requestPublicUrl"
      @reloadMainData="reloadMainData($event, mainTableRefName)"
    />

    <avic-resize-layout-panel ref="subTablePanel">
      <MenuGroupMenuManage
        key="mpmProjectSubInfoManage"
        ref="mpmProjectSubInfoManage"
        :main-table-select="mainTableSelectRowKeys"
      />
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import MenuGroupAddGroup from './MenuGroupAddGroup';
import MenuGroupEditGroup from './MenuGroupEditGroup';
import MenuGroupMenuManage from './MenuGroupMenuManage';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseMainSubTableMixin } from '@/mixins/avic/pt/BaseMainSubTableMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';

// 模块名称
let moduleName = 'MN_MENUGROUPMANAGE';
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = '/api/appsys/menu';
// 此模块通用代码params
let lookupParams = [
  { fileName: 'projectClassLevel', lookUpType: 'MPM_PROJECT_CLASS_LEVEL' },
  { fileName: 'secretLevel', lookUpType: 'MPM_PROJECT_SECRET' },
  { fileName: 'projectClassStatus', lookUpType: 'MPM_PROJECT_STATUS' }
];
// 表格主键字段
let rowKey = 'id';
// 表格详情字段
let dataIndex = ['name', 'action'];

// 表格表头
let pageSettingData = [
  {
    isTableHidden: true,
    isFormHidden: true,
    isAuthFlag: false,
    title: 'id',
    dataIndex: 'id',
    sorter: true,
    type: 'input'
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '分组名',
    dataIndex: 'name',
    sorter: true,
    type: 'input',
    isSearch: true
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '分组描述',
    dataIndex: 'describe',
    type: 'input'
  },
  // {
  //   isTableHidden: false,
  //   isFormHidden: false,
  //   isAuthFlag: false,
  //   title: '排序',
  //   width: 100,
  //   dataIndex: 'sort',
  //   sorter: true,
  //   type: 'input'
  // },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '操作',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' },
    width: 100
  }
];

export default {
  name: 'MenuGroupManage',
  components: {
    MenuGroupAddGroup,
    MenuGroupEditGroup,
    MenuGroupMenuManage
  },
  mixins: [baseTableMixin, baseMainSubTableMixin, menuRefreshMixin],
  data() {
    return {
      moduleName,
      requestPublicUrl,
      lookupParams,
      rowKey,
      dataIndex,
      pageSettingData,
      mainTableRefName: 'MainMouldTable', // 表格ref名称
      mainAddModalRefName: 'mainAddModal', // 添加弹窗ref名称
      mainEditModalRefName: 'mainEditModal', // 编辑弹窗ref名称
      mainDetailModalRefName: 'mainDetailModal', // 详情弹窗ref名称
      delParam: {
        // manage页面删除的请求接口
        url: requestPublicUrl + '/deleteMenuGroupType',
        method: 'post'
      }
    };
  },
  mounted() {
    let that = this;
    that.$refs[this.mainTableRefName].loadData(this.queryParam, function () {
      if (that.data.length > 0) {
        that.selectedRowKeys = [that.data[0].id];
      } else {
        that.selectedRowKeys = [];
      }
      that.$refs[that.mainTableRefName].changeSelectedRowKeys(that.selectedRowKeys);
      that.setMainId(that.selectedRowKeys);
    });
  },
  methods: {
    menuRefresh() {
      // 右击标签刷新页面, 下面是统一的重置设置,可自行添加自己页面的刷新逻辑
      this.mainMenuRefreshReset();
    }
  },
  computed: {
    queryParam() {
      return {
        url: requestPublicUrl + '/getMenuGroupTypeListByPage',
        parameter: {
          queryBean: {
            pageParameter: {
              page: this.page, // 页数
              rows: this.rows // 每页条数
            },
            searchParams: {},
            keyWord: this.searchText,
            sidx: this.sidx, // 排序字段
            sord: this.sord // 排序方式: desc降序 asc升序
          }
        },
        method: 'post'
      };
    }
  }
};
</script>
