<template>
  <a-modal
    class="table-modal"
    title="添加"
    :visible="visible"
    :style="addModalWidthAndHeight.modalStyle"
    :width="addModalWidthAndHeight.modalStyle.width"
    :body-style="addModalWidthAndHeight.bodyStyle"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">返回</a-button>
      <a-button type="primary" :loading="modalLoading" @click="mainSaveForm"> 保存 </a-button>
    </template>

    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="分组名"
            >
              <a-input
                v-decorator="[
                  'name',
                  {
                    rules: [
                      { required: true, message: '请输入分组名！' },
                      { max: 15, message: '不可超过15个字符！' }
                    ]
                  }
                ]"
                placeholder="请输入分组名"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="分组描述"
            >
              <a-input
                v-decorator="[
                  'describe',
                  {
                    rules: [
                      { required: false, message: '请输入分组描述！' },
                      { max: 200, message: '不可超过200个字符！' }
                    ]
                  }
                ]"
                placeholder="请输入分组描述"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="图标"
            >
              <a-input
                v-decorator="[
                  'icon',
                  {
                    rules: [{ required: false, message: '请选择图标！' }]
                  }
                ]"
                :read-only="true"
                placeholder="请选择图标"
                @click="selectIcons"
              >
                <a-icon
                  slot="addonAfter"
                  :style="{ cursor: 'pointer' }"
                  type="setting"
                  @click="selectIcons"
                />
              </a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="排序"
            >
              <a-input-number
                v-decorator="[
                  'sort',
                  {
                    rules: [{ required: true, message: '请输入排序！' }],
                    initialValue: 1
                  }
                ]"
                :min="1"
                :max="9999999999"
                :step="1"
                :precision="0"
                placeholder="请输入排序"
              />
              <!-- 数字输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
    <icons
      :icon-choose-visible="iconChooseVisible"
      @choose="handleIconChoose"
      @close="handleIconCancel"
    />
  </a-modal>
</template>
<script>
import { Modal, Col, Button, Form, Input, InputNumber } from 'ant-design-vue';
import { httpAction } from '@api/manage';
import { loadLookUp } from '@utils/avic/http/loadLookUp';
import { formColLayout, modalWidthAndHeightBylayout } from '@utils/avic/layout/baseMouldStyles';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';
import { validateCheckboxMaxlength } from '@utils/avic/common/validate';
import { parentTableMixin } from '@views/avic/pt/system/menu/mixin/parentTableMixin';

let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'name',
    type: 'input'
  },
  {
    dataIndex: 'describe',
    type: 'input'
  },
  {
    dataIndex: 'sort',
    type: 'input'
  }
];

export default {
  name: 'MenuGroupAddGroup',
  components: {
    AModal: Modal,
    ACol: Col,
    AButton: Button,
    AForm: Form,
    AFormItem: Form.Item,
    AInput: Input,
    AInputNumber: InputNumber
  },
  props: {
    layout: {
      type: String,
      default: '1'
    },
    requestPublicUrl: {
      type: String,
      required: true
    },
    modalFormLookupParams: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      visible: false, // 弹窗modal显隐
      formColLayout: formColLayout(this.layout), // 调用布局公共方法
      addModalWidthAndHeight: modalWidthAndHeightBylayout(this.layout, 96), // 弹窗modal宽高控制
      form: this.$form.createForm(this),
      modalLoading: false, // 弹窗保存按钮loading状态
      formId: '', // 附件上传formId
      modalFormData,
      iconChooseVisible: false,
      addParam: {
        // 添加弹窗保存时的请求接口
        url: this.requestPublicUrl + '/addMenuGroupType',
        method: 'post'
      }
    };
  },
  mixins: [parentTableMixin],
  methods: {
    validateCheckboxMaxlength,
    addModalHandleAdd() {
      // 点击添加按钮
      this.form.resetFields(); // 清空添加弹窗表单
      if (this.formId) {
        this.formId = '';
      }
      this.visible = true; // 打开添加弹窗
      this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
    },
    closeModal() {
      // 返回关闭事件
      this.visible = false;
      this.modalLoading = false; // 按钮关闭loading状态
    },
    loadLookUp(params) {
      // 获取表单通用代码
      if (params) {
        loadLookUp(params, data => {
          for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < params.length; j++) {
              if (data[i].fileName === params[j].fileName) {
                this[params[j].fileName + 'List'] = data[i].value;
              }
            }
          }
        });
      }
    },
    reloadList() {
      // 保存成功后处理
      this.$message.success('保存成功！');
      this.$emit('reloadMainData', true);
      this.modalLoading = false;
      this.visible = false;
    },
    mainSaveForm(e) {
      // 点击保存按钮
      e.preventDefault();
      let that = this;
      // 校验表单并处理
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          this.modalLoading = true;
          // 提交前数据处理
          let newValues = formDataPretreatment(values, this.modalFormData);
          // 提交
          httpAction(this.addParam.url, newValues, this.addParam.method)
            .then(res => {
              if (res.success) {
                that.reloadList();
              } else {
                that.modalLoading = false;
                that.visible = false;
              }
            })
            .catch(() => {
              this.modalLoading = false;
              this.visible = false;
            });
        }
      });
    }
  }
};
</script>
