<template>
  <div class="surface">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-title">
      <h3>菜单列表</h3>
      <!-- 顶部按钮 -->
      <div class="surface-tools-bar">
        <a-input-search
          class="opt-btn-commonsearch"
          v-show="searchPlaceholder != ''"
          v-model="searchText"
          :placeholder="searchPlaceholder"
          :title="searchPlaceholder"
          :allow-clear="true"
          @search="searchByKeyWord({ refName: subTableRefName, param: { type: 'sub' } })"
        />
        <a-button
          v-has="'user:add'"
          type="primary"
          icon="plus"
          @click="subHandleAdd({ refName: subAddModalRefName, param: { type: 'add' } })"
          title="添加"
        >
          添加
        </a-button>
        <a-button
          v-has="'user:del'"
          icon="delete"
          :loading="delLoading"
          @click="subHandleDelete({ refName: subTableRefName, param: { ids: selectedRowKeys } })"
          title="删除"
        >
          删除
        </a-button>
        <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
        <a-icon
          type="sync"
          class="opt-icon"
          title="刷新"
          @click="handleRefreshTable(subTableRefName)"
        />
        <AvicTableColumnSettings
          :init-setting-columns="initSettingColumns"
          :default-setting-columns="selectColumns"
          @colMenuSelect="changeColumns"
        />
        <!-- <a-button
        v-show="isShowEdit"
        icon="edit"
        class="table-handle-button"
        @click="
          handleDetailOrEdit({ refName: subEditModalRefName, param: { id: selectedRowKeys[0] } })
        "
      >
        编辑
      </a-button> -->
      </div>
    </div>
    <div class="surface-content">
      <!-- 表格内容 -->
      <div class="surface-table">
        <AvicBaseTable
          :ref="subTableRefName"
          :table-size="tableSize"
          :is-custom-row-click-as-single-check="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(subTableRefName, $event)"
        >
          <template slot="action" scope="obj">
            <a
              href="javascript:;"
              class="table-detail-link"
              @click.stop="
                handleDetailOrEdit({
                  refName: subEditModalRefName,
                  param: { id: obj.data[rowKey] }
                })
              "
            >
              编辑
            </a>
            <a
              href="javascript:;"
              class="table-detail-link"
              @click.stop="
                subHandleDelete({ refName: subTableRefName, param: { ids: [obj.data[rowKey]] } })
              "
            >
              <a-divider type="vertical" />删除
            </a>
          </template>
        </AvicBaseTable>

        <MenuGroupAddMenu
          :ref="subAddModalRefName"
          layout="1"
          :request-public-url="requestPublicUrl"
          :main-table-select="mainTableSelect"
          @reloadSubData="reloadSubData($event, subTableRefName)"
        />
        <MenuGroupEditMenu
          :ref="subEditModalRefName"
          layout="1"
          :request-public-url="requestPublicUrl"
          :main-table-select="mainTableSelect"
          @reloadSubData="reloadSubData($event, subTableRefName)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseMainSubTableMixin } from '@/mixins/avic/pt/BaseMainSubTableMixin';
import MenuGroupAddMenu from './MenuGroupAddMenu';
import MenuGroupEditMenu from './MenuGroupEditMenu';

// 模块名称
let moduleName = 'MN_MENUGROUPMENUMANAGE';
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = '/api/appsys/menu';

// 表格主键字段
let rowKey = 'id';
// 表格详情字段
let dataIndex = ['action'];

// 表格表头
let pageSettingData = [
  {
    isTableHidden: true,
    isFormHidden: true,
    isAuthFlag: false,
    title: 'id',
    dataIndex: 'id',
    type: 'input'
  },
  {
    isTableHidden: true,
    isFormHidden: true,
    isAuthFlag: false,
    title: '分组id',
    dataIndex: 'groupTypeId',
    type: 'input'
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '链接类型',
    dataIndex: 'type',
    sorter: true,
    type: 'select',
    placeholder: '请选择链接类型',
    customRender(text, record, index) {
      return record.type == 'INTERNAL' ? '内部链接' : '外部链接';
    }
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '内部菜单名',
    dataIndex: 'menu',
    isSearch: true,
    sorter: true,
    type: 'select',
    customRender(text, record, index) {
      return record.menu ? record.menu.title : '';
    }
  },
  {
    isTableHidden: true,
    isFormHidden: false,
    isAuthFlag: false,
    title: '内部菜单ID',
    dataIndex: 'menuId',
    sorter: true,
    type: 'input'
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '外部链接名',
    dataIndex: 'externalName',
    sorter: true,
    type: 'input',
    isSearch: true
  },
  {
    isTableHidden: true,
    isFormHidden: false,
    isAuthFlag: false,
    title: '外部链接地址',
    dataIndex: 'externalUrl',
    sorter: true,
    type: 'input'
  },
  // {
  //   isTableHidden: false,
  //   isFormHidden: false,
  //   isAuthFlag: false,
  //   title: '排序',
  //   dataIndex: 'sort',
  //   sorter: true,
  //   type: 'input'
  // }
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '操作',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' },
    width: 100
  }
];
export default {
  name: 'MenuGroupMenuManage',
  components: {
    MenuGroupAddMenu,
    MenuGroupEditMenu
  },
  mixins: [baseTableMixin, baseMainSubTableMixin],
  data() {
    return {
      mainId: [],
      moduleName,
      requestPublicUrl,
      rowKey,
      dataIndex,
      pageSettingData,
      subTableRefName: 'SubMouldTable', // 表格ref名称
      subAddModalRefName: 'subAddModal', // 添加弹窗ref名称
      subEditModalRefName: 'subEditModal', // 编辑弹窗ref名称
      delParam: {
        // manage页面删除的请求接口
        url: requestPublicUrl + '/deleteMenuGroupLink',
        method: 'post'
      }
    };
  },
  props: {
    mainTableSelect: {
      type: Array,
      default: () => []
    }
  },
  watch: {
    mainTableSelect: {
      immediate: true, // 这句重要
      handler(newVal) {
        let that = this;
        if (newVal.length > 0) {
          this.mainId = newVal;
        } else {
          this.mainId = ['-1'];
        }
        if (this.$refs[this.subTableRefName]) {
          this.$refs[this.subTableRefName].loadData(this.queryParam, function () {
            if (that.data.length > 0) {
              that.selectedRowKeys = [that.data[0][that.rowKey]];
            } else {
              that.selectedRowKeys = [];
            }
            that.$refs[that.subTableRefName].changeSelectedRowKeys(that.selectedRowKeys);
          });
        }
      }
    }
  },
  mounted() {
    this.reloadSubData(true, this.subTableRefName);
  },
  computed: {
    queryParam() {
      return {
        url: requestPublicUrl + '/getMenuGroupLinkListByPage',
        parameter: {
          queryBean: {
            pageParameter: {
              page: this.page, // 页数
              rows: this.rows // 每页条数
            },
            searchParams: {
              groupTypeId: this.mainId[0]
            },
            keyWord: this.searchText, // 普通查询数据
            // keyWord: {
            //   externalName: this.searchText,
            //   title: this.searchText
            // },
            sidx: this.sidx, // 排序字段
            sord: this.sord // 排序方式: desc降序 asc升序
          }
        },
        method: 'post'
      };
    }
  }
};
</script>
