<template>
  <a-modal
    class="table-modal"
    title="添加"
    :visible="visible"
    :style="addModalWidthAndHeight.modalStyle"
    :width="addModalWidthAndHeight.modalStyle.width"
    :body-style="addModalWidthAndHeight.bodyStyle"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">返回</a-button>
      <a-button type="primary" :loading="modalLoading" @click="subSaveForm"> 保存 </a-button>
    </template>

    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <a-form-item style="display: none">
        <a-input v-decorator="['groupTypeId']" />
      </a-form-item>
      <a-form-item style="display: none">
        <a-input v-decorator="['menuId']" />
      </a-form-item>
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="链接类型"
            >
              <a-select
                v-decorator="[
                  'type',
                  {
                    rules: [{ required: true, message: '请选择链接类型！' }]
                  }
                ]"
                @change="typechange"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
                placeholder="请选择链接类型"
              >
                <a-select-option :value="'INTERNAL'"> 内部菜单 </a-select-option>
                <a-select-option :value="'EXTERNAL'"> 外部链接 </a-select-option>
              </a-select>
              <!-- 下拉框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-if="internalMode" v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="内部菜单"
            >
              <a-tree-select
                v-decorator="[
                  'menuName',
                  {
                    rules: [{ required: this.internalMode, message: '请选择内部菜单！' }]
                  }
                ]"
                :load-data="onLoadDataTree"
                :selected-keys.sync="selectedKeys"
                :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                :tree-data="treeNode"
                @change="selectNodeTree"
                placeholder="请选择内部菜单"
                tree-default-expand-all
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-if="!internalMode" v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="外部链接名"
            >
              <a-input
                v-decorator="[
                  'externalName',
                  {
                    rules: [
                      { required: !this.internalMode, message: '请输入外部链接名！' },
                      { max: 15, message: '不可超过15个字符！' }
                    ]
                  }
                ]"
                placeholder="请输入外部链接名"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-if="!internalMode" v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="外部链接地址"
            >
              <a-input
                v-decorator="[
                  'externalUrl',
                  {
                    rules: [
                      { required: !this.internalMode, message: '请输入外部链接地址！' },
                      {
                        validator: (rule, value, callback) => {
                          const reg = /^https?:\/\/(([a-zA-Z0-9_-])+(\.)?)*(:\d+)?(\/((\.)?(\?)?=?&?[a-zA-Z0-9_-](\?)?)*)*$/i;
                          callback();
                          if (!reg.test(value)) return false;
                        },
                        message: '请输入有效链接地址！'
                      }
                    ]
                  }
                ]"
                placeholder="请输入外部链接地址"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="排序"
            >
              <a-input-number
                v-decorator="[
                  'sort',
                  {
                    rules: [{ required: true, message: '请输入排序！' }],
                    initialValue: 1
                  }
                ]"
                :min="1"
                :max="9999999999"
                :step="1"
                :precision="0"
                placeholder="请输入排序"
              />
              <!-- 数字输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
  </a-modal>
</template>
<script>
import { Modal, TreeSelect, Col, Button, Form, Input, Select, InputNumber } from 'ant-design-vue';
import { httpAction } from '@api/manage';
import { formColLayout, modalWidthAndHeightBylayout } from '@utils/avic/layout/baseMouldStyles';
// import { setTreeData, setTreeChildren, getTreeById } from '@/utils/avic/common/treeUtils';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';
import { validateCheckboxMaxlength } from '@utils/avic/common/validate';

let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'groupTypeId',
    type: 'input'
  },
  {
    dataIndex: 'type',
    type: 'select'
  },
  {
    dataIndex: 'menuId',
    type: 'input'
  },
  {
    dataIndex: 'externalName',
    type: 'input'
  },
  {
    dataIndex: 'externalUrl',
    type: 'input'
  },
  {
    dataIndex: 'sort',
    type: 'inputnumber'
  }
];

export default {
  name: 'MenuGroupAddMenu',
  components: {
    AModal: Modal,
    ACol: Col,
    AButton: Button,
    AForm: Form,
    ATreeSelect: TreeSelect,
    AFormItem: Form.Item,
    AInput: Input,
    ASelect: Select,
    ASelectOption: Select.Option,
    AInputNumber: InputNumber
  },
  props: {
    layout: {
      type: String,
      default: '1'
    },
    requestPublicUrl: {
      type: String,
      required: true
    },
    modalFormLookupParams: {
      type: Array,
      default: () => []
    },
    mainTableSelect: {
      type: Array,
      default: () => []
    }
  },
  mounted() {
    this.reloadTreeData(this.defaultParentId);
  },
  data() {
    return {
      requestTreeUrl: this.requestPublicUrl + '/getSubMenuTree/', //加载树节点访问地址
      defaultParentId: '-1', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      mainId: [],
      treeValue: '',
      selectedKeys: [],
      treeNode: [
        {
          id: '-1'
        }
      ],
      internalMode: true,
      visible: false, // 弹窗modal显隐
      formColLayout: formColLayout(this.layout), // 调用布局公共方法
      addModalWidthAndHeight: modalWidthAndHeightBylayout(this.layout, 96), // 弹窗modal宽高控制
      form: this.$form.createForm(this),
      modalLoading: false, // 弹窗保存按钮loading状态
      formId: '', // 附件上传formId
      modalFormData,
      addParam: {
        // 添加弹窗保存时的请求接口
        url: this.requestPublicUrl + '/addMenuGroupLink',
        method: 'post'
      },
      //树展开
      treeParam: {
        url: '',
        method: 'get'
      }
    };
  },
  watch: {
    mainTableSelect: {
      immediate: true, // 这句重要
      handler(newVal) {
        this.mainId = newVal;
      }
    }
  },
  methods: {
    validateCheckboxMaxlength,
    typechange(e) {
      if (e == 'EXTERNAL') {
        this.internalMode = false;
      } else {
        this.internalMode = true;
      }
    },
    addModalHandleAdd() {
      // 点击添加按钮
      this.form.resetFields(); // 清空添加弹窗表单
      if (this.formId) {
        this.formId = '';
      }
      this.visible = true; // 打开添加弹窗
    },
    closeModal() {
      // 返回关闭事件
      this.visible = false;
      this.modalLoading = false; // 按钮关闭loading状态
    },
    reloadList() {
      // 保存成功后处理
      this.$message.success('保存成功！'); // 提示成功
      this.$emit('reloadSubData', true); // 刷新表格
      this.modalLoading = false;
      this.visible = false;
    },
    selectNodeTree(v, l, e) {
      if (v && v.length > 0) {
        this.selectedKeys = e.triggerNode.dataRef.id;
        this.form.setFieldsValue({ menuId: e.triggerNode.dataRef.id });
      }
    },
    onLoadDataTree(treeNode) {
      if (treeNode.dataRef) {
        let _this = this;
        let id = treeNode.dataRef.id;
        console.log('treeNode.dataRef', treeNode.dataRef);
        this.reloadTreeData(id);
        return new Promise((resolve, reject) => {
          this.findTreeData(
            res => {
              let result = [];
              if (res.length > 0) {
                res.map(tim => {
                  let tree = {
                    id: tim.id,
                    nodeType: tim.nodeType,
                    title: tim.title,
                    key: tim.id,
                    disabled: tim.disabled,
                    icon: tim.icon,
                    isLeaf: tim.isLeaf,
                    children: tim.children,
                    parentId: tim.parentId,
                    selectable: tim.selectable,
                    value: tim.title
                  };
                  result.push(tree);
                });
                if (result[0].parentId != _this.defaultParentId && _this.treeNode.length > 0) {
                  treeNode.dataRef.children = result;
                  _this.treeNode = [...this.treeNode];
                } else {
                  _this.treeNode = result;
                }
              }
              resolve();
            },
            () => {
              resolve(null);
            }
          );
        });
      }
    },
    findTreeData(success, error) {
      httpAction(
        this.treeParam.url,
        this.treeParam.parameter ? this.treeParam.parameter : '',
        this.treeParam.method,
        true,
        true,
        false
      )
        .then(res => {
          if (res.success) {
            if (success) {
              success(res.result);
            }
          } else {
            if (success) {
              success([]);
            }
          }
          // this.loading = false;
        })
        .catch(response => {
          if (error) {
            error();
          }
          // this.loading = false;
        });
    },
    // 重新加载刷新树
    reloadTreeData(parentId) {
      if (parentId) {
        this.treeParam.url = this.requestTreeUrl + this.openLevel + '/' + parentId;
      }
    },
    subSaveForm(e) {
      // 点击保存按钮
      e.preventDefault();
      let that = this;
      // 校验表单并处理
      this.form.setFieldsValue({ groupTypeId: this.mainId[0] });
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          this.modalLoading = true;
          // 提交前数据处理
          let newValues = formDataPretreatment(values, this.modalFormData);

          console.log('formValues=', newValues);
          // 提交
          httpAction(this.addParam.url, newValues, this.addParam.method)
            .then(res => {
              if (res.success) {
                that.reloadList();
              } else {
                that.modalLoading = false;
                that.visible = false;
              }
            })
            .catch(() => {
              this.modalLoading = false;
              this.visible = false;
            });
        }
      });
    }
  }
};
</script>
