<template>
  <div class="collapse-layout-demo">
    <avic-resize-layout :direction="direction">
      <avic-resize-layout-panel :width="360" :min-width="48" :collapsible="true">
        <div class="content">
          这里是左边填充区
          <a-input v-model="test1" />
        </div>
        <template v-slot:header>
          <a-input v-model="test1Title" class="collapse-header-custom" />
        </template>
      </avic-resize-layout-panel>
      <avic-resize-layout-panel :min-width="48" :collapsible="true">
        <div class="content">
          这里是中间填充区
          <a-input v-model="test2" />
        </div>
      </avic-resize-layout-panel>
      <avic-resize-layout-panel :min-width="48" :collapsible="true">
        <div class="content">
          这里是中间填充区
          <a-input v-model="test2" />
        </div>
      </avic-resize-layout-panel>
      <avic-resize-layout-panel :min-width="48" :collapsible="true">
        <avic-resize-layout :direction="innerDirection">
          <avic-resize-layout-panel :min-height="48" :height="240" :collapsible="true">
            <div class="content">
              这里是右上填充区
              <a-input v-model="test3" />
            </div>
          </avic-resize-layout-panel>
          <avic-resize-layout-panel :min-height="48" :collapsible="true">
            <div class="content">
              这里是右下填充区
              <a-input v-model="test4" />
            </div>
          </avic-resize-layout-panel>
        </avic-resize-layout>
      </avic-resize-layout-panel>
    </avic-resize-layout>
  </div>
</template>
<script>
import { menuRefreshMixin } from '@/mixins/avic/pt/MenuRefreshMixin';
import AvicResizeLayout from '@comp/avic/pt/common/AvicResizeLayout';
import AvicResizeLayoutPanel from '@comp/avic/pt/common/AvicResizeLayout/AvicResizeLayoutPanel';
export default {
  name: 'CollapseLayoutDemo',
  components: {
    AvicResizeLayout,
    AvicResizeLayoutPanel
  },
  mixins: [menuRefreshMixin],
  data: () => {
    return {
      direction: 'h',
      innerDirection: 'v',
      test1Title: '头部自定义',
      test1: '区块一',
      test2: '区块二',
      test3: '区块三',
      test4: '区块四'
    };
  },
  methods: {
    change() {
      if (this.direction === 'h') {
        this.direction = 'v';
        this.innerDirection = 'h';
      } else {
        this.direction = 'h';
        this.innerDirection = 'v';
      }
    },
    resizeEnd(obj) {
      console.log('resizeEnd in Demo comp' + obj);
    }
  }
};
</script>
<style lang="less" scoped>
.collapse-layout-demo {
  width: 100%;
  height: 100%;
  font-size: 0;
  position: relative;
}
.collapse-header-custom {
  width: 100%;
  height: 100%;
  color: #ca603f;
}
.content {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 18px;
}
</style>
