<template>
  <avic-resize-layout :direction="direction">
    <avic-resize-layout-panel :min-width="80" :width="180">
      <avic-resize-layout :direction="innerDirection">
        <avic-resize-layout-panel :min-height="60" :height="240" :panel-style="{ padding: '30px' }">
          <div class="content">
            这里是左上填充区
            <a-input v-model="test3" />
          </div>
        </avic-resize-layout-panel>
        <avic-resize-layout-panel :min-height="80">
          <div class="content">
            这里是右下填充区
            <a-input v-model="test4" />
          </div>
        </avic-resize-layout-panel>
      </avic-resize-layout>
    </avic-resize-layout-panel>
    <avic-resize-layout-panel :min-width="80" :width="240">
      <div class="content">
        这里是中间填充区
        <a-input v-model="test2" />
      </div>
    </avic-resize-layout-panel>
    <avic-resize-layout-panel :min-width="120">
      <avic-resize-layout :direction="innerDirection">
        <avic-resize-layout-panel :min-height="60" :height="240">
          <div class="content">
            这里是右上填充区
            <a-input v-model="test3" />
          </div>
        </avic-resize-layout-panel>
        <avic-resize-layout-panel :min-height="80">
          <div class="content">
            这里是右下填充区
            <a-input v-model="test4" />
          </div>
        </avic-resize-layout-panel>
      </avic-resize-layout>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
/**
 * resize方式：拖拽
 */
import { menuRefreshMixin } from '@/mixins/avic/pt/MenuRefreshMixin';
import AvicResizeLayout from '@comp/avic/pt/common/AvicResizeLayout';
import AvicResizeLayoutPanel from '@comp/avic/pt/common/AvicResizeLayout/AvicResizeLayoutPanel';
export default {
  name: 'LayoutDemo',
  components: {
    AvicResizeLayout,
    AvicResizeLayoutPanel
  },
  mixins: [menuRefreshMixin],
  data: () => {
    return {
      direction: 'h',
      innerDirection: 'v',
      test1: '区块一',
      test2: '区块二',
      test3: '区块三',
      test4: '区块四'
    };
  },
  methods: {
    change() {
      if (this.direction === 'h') {
        this.direction = 'v';
        this.innerDirection = 'h';
      } else {
        this.direction = 'h';
        this.innerDirection = 'v';
      }
    },
    resizeEnd(obj) {
      console.log('resizeEnd in Demo comp' + obj);
    }
  }
};
</script>
<style lang="less" scoped>
.normal-layout-demo {
  width: 100%;
  height: 100%;
  font-size: 0;
  position: relative;
}
.content {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 18px;
}
</style>
