<template>
  <a-card>
    <a-form :form="form" layout="horizontal">
      <a-row>
        <a-col :span="24">
          <a-form-item :label-col="{ span: 4 }" :wrapper-col="{ span: 10 }" label="整数">
            <a-input-number v-decorator="['inputnumber-one']" style="width: 100%" :precision="0" />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <a-form-item :label-col="{ span: 4 }" :wrapper-col="{ span: 10 }" label="大于零的整数">
            <a-input-number
              v-decorator="['inputnumber-one']"
              style="width: 100%"
              :min="1"
              :step="1"
              :precision="0"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <a-form-item :label-col="{ span: 4 }" :wrapper-col="{ span: 10 }" label="两位小数">
            <a-input-number v-decorator="['inputnumber-one']" style="width: 100%" :precision="2" />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <a-form-item :label-col="{ span: 4 }" :wrapper-col="{ span: 10 }" label="-100到100的数">
            <a-input-number
              v-decorator="['inputnumber-one']"
              style="width: 100%"
              :min="-100"
              :max="100"
            />
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
    <a-button type="primary" :loading="loading" @click="saveForm" title="保存"> 保存 </a-button>
  </a-card>
</template>
<script>
import { Card, Button, Form, Col, InputNumber } from 'ant-design-vue';
export default {
  name: 'InputNumberCheckDemo',
  components: {
    ACard: Card,
    AButton: Button,
    AForm: Form,
    ACol: Col,
    AFormItem: Form.Item,
    AInputNumber: InputNumber
  },
  data() {
    return {
      loading: false,
      form: this.$form.createForm(this) // 表单
    };
  },
  methods: {
    /**
     * 保存
     */
    saveForm(e) {
      e.preventDefault();
      this.form.validateFieldsAndScroll((err, values) => {
        // 校验表单
      });
    }
  }
};
</script>
