<template>
  <div>
    <a-popover
      v-model="visible"
      trigger="click"
      placement="bottomRight"
      :auto-adjust-overflow="true"
      :arrow-point-at-center="true"
      overlay-class-name="header-notice-wrapper"
      :overlay-style="{ width: '230px', top: '50px' }"
    >
      <template slot="content">
        <a-spin :spinning="loadding">
          <ul>
            <li
              v-for="item in newsList"
              :key="item.id"
              class="newsLi"
              @click="handleDetailOrEdit({ refName: detailModalRefName, param: { id: item.id } })"
            >
              {{ item.title }}
            </li>

            <li class="buttonLi">
              <a-button icon="plus" @click="handleAdd({ refName: addModalRefName, param: {} })">
                添加
              </a-button>
              <router-link to="/newsManage">
                <a-button icon="double-left" @click="closeModle">更多</a-button>
              </router-link>
            </li>
          </ul>
        </a-spin>
      </template>
      <span class="header-notice" @click="fetchNotice">
        <a-badge :count="count">
          <a-icon style="font-size: 16px; padding: 4px" type="bell" />
        </a-badge>
      </span>
    </a-popover>
    <!-- 添加弹框 -->
    <NewsAdd
      :ref="addModalRefName"
      layout="1"
      :request-public-url="requestPublicUrl"
      @reloadData="reloadData($event, tableRefName)"
    />
    <!-- 详情弹框 -->
    <NewsDetail :ref="detailModalRefName" layout="1" :request-public-url="requestPublicUrl" />
  </div>
</template>

<script>
import { Popover, Spin, Button, Badge, Icon } from 'ant-design-vue';
import NewsAdd from '@views/avic/pt/system/messages/NewsAdd';
import NewsDetail from '@views/avic/pt/system/messages/NewsDetail';
import { httpAction } from '@api/manage';
import { mapGetters } from 'vuex';
let requestPublicUrl = '/api/appsys/message/MessageRest';
let getUnreadCount = requestPublicUrl + '/searchUnreadCount/v1'; //获取未读消息数量地址
let getUnreadData = requestPublicUrl + '/searchTopUnread/v1'; //获取未读消息数据地址
export default {
  name: 'HeaderNotice',
  components: {
    NewsAdd,
    NewsDetail,
    APopover: Popover,
    ASpin: Spin,
    AButton: Button,
    ABadge: Badge,
    AIcon: Icon
  },
  data() {
    return {
      loadding: false,
      visible: false,
      requestPublicUrl, //请求地址中的公共部分
      addModalRefName: 'addModal', // 添加弹窗ref名称
      detailModalRefName: 'detailModal',
      newsList: [],
      count: 0
    };
  },
  computed: {
    ...mapGetters(['getUserUnreadCount', 'getMessageRequestInternal']),
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/searchByPage/v1',
        parameter: {
          queryBean: {
            pageParameter: {
              page: '1', // 页数
              rows: '15' // 每页条数
            },
            searchParams: {
              isReaded: '0'
            }
          },
          keyWord: '',
          sidx: '',
          sord: ''
        },
        method: 'post'
      };
    }
  },
  //接收组件传参
  watch: {
    getUserUnreadCount(count) {
      console.log(count, '--getUserUnreadCount--');
      this.count = count;
    },
    getMessageRequestInternal(val) {
      window.clearInterval(window._CONFIG['unreadmsg']);
      window._CONFIG['unreadmsg'] = window.setInterval(() => {
        setTimeout(this.getUnreadCount(), 0);
      }, val);
    }
  },
  created() {
    this.getUnreadCount();
    let that = this;
    window._CONFIG['unreadmsg'] = window.setInterval(() => {
      setTimeout(that.getUnreadCount(), 0);
    }, this.getMessageRequestInternal);
  },
  methods: {
    //加载未读的消息数据
    loadData(params) {
      // 获取数据，将返回的data传回父组件,有回调函数执行回调函数
      let that = this;
      httpAction(getUnreadData, params, 'POST').then(res => {
        if (res.success) {
          that.newsList = res.result;
          that.loadding = false;
        }
      });
    },
    //获取未读消息数量
    getUnreadCount() {
      let that = this;
      httpAction(getUnreadCount, '', 'get', true, true, true, true, '', 4, [], true)
        .then(res => {
          if (res.success) {
            that.count = res.result;
          }
          //授权过期结束轮询
          if (res.code == 401) {
            window.clearInterval(window._CONFIG['unreadmsg']);
          }
        })
        .catch(() => {
          window.clearInterval(window._CONFIG['unreadmsg']);
        });
    },

    fetchNotice() {
      this.newsList = [];
      if (this.loadding) {
        this.loadding = false;
        return;
      }
      this.loadding = true;
      this.loadData('5');
    },
    /**
     * 点击添加按钮,调用添加弹窗方法
     * @param {Object} params 形式: {refName: refName(添加弹窗refName), param: {(其他数据,待定)}}
     */
    handleAdd(params) {
      if (params && params.refName) {
        this.$refs[params.refName].addModalHandleAdd();
        this.visible = false;
      }
    },
    //展示详情页
    handleDetailOrEdit(params) {
      this.visible = false;
      if (params && params.refName) {
        this.$refs[params.refName].modalHandleDetailOrEdit(params.param.id);
      }
    },

    // 跳转路由后关闭页面
    closeModle() {
      this.visible = false;
    }
  }
};
</script>

<style lang="css">
.header-notice-wrapper {
  top: 50px !important;
}
</style>
<style lang="less" scoped>
.header-notice {
  display: inline-block;
  transition: all 0.3s;

  span {
    vertical-align: initial;
  }
}
.buttonLi {
  height: 35px;
  width: 100%;
  margin-top: 20px;
  button {
    width: 98px;
  }
}
.newsLi {
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsLi:hover {
  cursor: pointer;
  color: #3398ff;
}
</style>
