<template>
  <a-modal
    v-model="isShow"
    :footer="null"
    :centered="true"
    :closable="false"
    :destroy-on-close="true"
    :after-close="afterClose"
    :width="960"
    :body-style="{ height: '480px', background: 'none' }"
    class="task-preview-list"
  >
    <a-card
      :bordered="false"
      style="width: 100%; height: 100%; background: none"
      :body-style="{ width: '100%', height: '100%', margin: 0, padding: 0, background: 'none' }"
      @click="isShow = false"
    >
      <a-card-grid
        v-for="(view, idx) in pages"
        :key="idx"
        style="height: 47%; width: 23%; padding: 0; margin: 1%; box-shadow: none"
        :bordered="false"
        :hoverable="false"
      >
        <a-card
          :bordered="false"
          class="preview-card"
          :body-style="{ position: 'absolute', width: '100%', height: '30px', bottom: 0 }"
          @click="redirectPage(view)"
        >
          <img
            v-if="view.previewCanvas"
            slot="cover"
            :src="view.previewCanvas"
            class="preview-img"
          />
          <img
            v-else
            slot="cover"
            title="暂无预览"
            src="~@/assets/images/common/default-preview.png"
            class="preview-img"
            @click="redirectPage(view)"
          />
          <a-card-meta :title="view.meta.title" class="preview-card-title" />
        </a-card>
      </a-card-grid>
    </a-card>
  </a-modal>
</template>

<script>
import { Modal, Card } from 'ant-design-vue';
import { mapGetters } from 'vuex';
export default {
  name: 'TaskPreviewList',
  components: {
    AModal: Modal,
    ACard: Card,
    ACardGrid: Card.Grid,
    ACardMeta: Card.Meta
  },
  props: {
    showPreviewList: {
      type: Boolean,
      default: false
    },
    pageList: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      isShow: false,
      options: {
        pagination: true,
        thresholdDistance: 150,
        thresholdTime: 300,
        grabCursor: false,
        speed: 300
      },
      pageStyle: {
        background: '#1bbc9b'
      },
      pages: []
    };
  },
  computed: {
    ...mapGetters(['getOpenedViewList', 'getPreviewList'])
  },
  watch: {
    showPreviewList(newVal) {
      this.isShow = newVal;
      if (newVal) {
        this.initPages();
      }
    }
  },
  methods: {
    redirectPage(obj) {
      this.$router.push(obj.fullPath);
      this.isShow = false;
    },
    afterClose() {
      this.$emit('close');
    },
    initPages() {
      let curPage = [];
      let _this = this;
      this.pageList.map(item => {
        let _item = item;
        const routeObj = _item.meta.routeObj;
        let viewComponentName =
          routeObj && routeObj.matched && routeObj.matched.length > 0
            ? routeObj.matched[routeObj.matched.length - 1].components.default.name
            : '';

        let _idx;
        _this.getOpenedViewList.map((vm, idx) => {
          if (vm.$options.name === viewComponentName) {
            _idx = idx;
          }
        });
        _item.previewCanvas = _this.getPreviewList[_idx] ? _this.getPreviewList[_idx] : null;

        curPage.push(_item);
      });
      this.pages = curPage;
    }
  }
};
</script>

<style lang="less">
.task-preview-list {
  .ant-modal-content {
    background: none;
    border: none;
    box-shadow: none;
  }
  .preview-card {
    width: 100%;
    height: 86%;
    position: relative;
    cursor: pointer;
    background: none;

    .preview-img {
      margin: 10px 0 10px 0;
      height: 130px;
      width: 100%;
      box-shadow: 0 0 10px rgba(202, 202, 202, 0.85);
    }
    .preview-img:hover {
      width: calc(100% - 2px);
      box-shadow: 1px 1px 10px rgba(20, 255, 255, 0.9);
    }
    .preview-card-title {
      .ant-card-meta-title {
        text-align: center;
        font-size: 18px;
        font-weight: 650;
        color: rgba(255, 255, 255, 0.855);
      }
    }
  }
}
</style>
