<template>
  <div class="my-table-wrap">
    <div style="height: 100%">
      <!-- 普通表格 -->
      <a-spin v-if="!isBigDataTable" :indicator="indicator" :spinning="tableLoading">
        <vxe-grid
          v-bind="$attrs"
          v-on="$listeners"
          ref="xGrid"
          :size="tableSize == 'small' ? 'mini' : tableSize == 'middle' ? 'small' : 'medium'"
          :border="bordered"
          :round="round"
          :stripe="stripe"
          :show-overflow="showOverflow"
          :show-header-overflow="showHeaderOverflow"
          :header-align="headerAlign"
          :highlight-hover-column="highlightHoverColumn"
          :highlight-hover-row="highlightHoverRow"
          :resizable="resizable"
          :column-min-width="columnMinWidth"
          :height="height"
          :auto-resize="autoResize"
          :columns="dealColumns"
          :data="dataSourceData"
          :row-id="rowKey"
          :loading="tableLoading"
          :pager-config="pagination"
          :toolbar="false"
          :empty="{ slot: 'empty' }"
          :sort-config="{ remote: true, trigger: 'cell' }"
          :radio-config="radioConfig"
          :checkbox-config="checkboxConfig"
          :edit-config="editConfig"
          :keep-source="keepSource"
          @page-change="pageChange"
          @sort-change="sortChange"
          @radio-change="radioChange"
          @checkbox-change="checkboxChange"
          @checkbox-all="checkboxAll"
          @cell-click="rowClick"
          @cell-dblclick="rowDblClick"
        >
          <!--列表超链接插槽 -->
          <template v-for="item in slotsArray" :slot="item" slot-scope="{ row }">
            <slot v-if="slotsArray.length == 1" :data="row" />
            <slot v-if="slotsArray.length > 1" :name="item" :data="row" />
          </template>
          <!-- 操作列插槽 -->
          <template slot="action" slot-scope="{ row }">
            <slot name="action" :data="row" />
          </template>
          <!-- 空数据 -->
          <template v-slot:empty>
            <a-empty :image="simpleImage" :description="emptyText" />
          </template>
        </vxe-grid>
      </a-spin>
      <!-- 大数据表格 -->
      <a-spin v-else :indicator="indicator" :spinning="tableLoading">
        <vxe-grid
          v-bind="$attrs"
          v-on="$listeners"
          ref="xGrid"
          :size="tableSize == 'small' ? 'mini' : tableSize == 'middle' ? 'small' : 'medium'"
          :border="bordered"
          :round="round"
          :stripe="stripe"
          :show-overflow="showOverflow"
          :show-header-overflow="showHeaderOverflow"
          :header-align="headerAlign"
          :highlight-hover-column="highlightHoverColumn"
          :highlight-hover-row="highlightHoverRow"
          :resizable="resizable"
          :column-min-width="columnMinWidth"
          :height="height"
          :auto-resize="autoResize"
          :columns="dealColumns"
          :row-id="rowKey"
          :loading="tableLoading"
          :pager-config="pagination"
          :toolbar="false"
          :empty="{ slot: 'empty' }"
          :sort-config="{ remote: true, trigger: 'cell' }"
          :radio-config="radioConfig"
          :checkbox-config="checkboxConfig"
          :edit-config="editConfig"
          :keep-source="keepSource"
          :scroll-x="virtualScrollX"
          :scroll-y="virtualScrollY"
          @page-change="pageChange"
          @sort-change="sortChange"
          @radio-change="radioChange"
          @checkbox-change="checkboxChange"
          @checkbox-all="checkboxAll"
          @cell-click="rowClick"
          @cell-dblclick="rowDblClick"
        >
          <!--列表超链接插槽 -->
          <template v-for="item in slotsArray" :slot="item" slot-scope="{ row }">
            <slot v-if="slotsArray.length == 1" :data="row" />
            <slot v-if="slotsArray.length > 1" :name="item" :data="row" />
          </template>
          <!-- 操作列插槽 -->
          <template slot="action" slot-scope="{ row }">
            <slot name="action" :data="row" />
          </template>
          <!-- 空数据 -->
          <template v-slot:empty>
            <a-empty :image="simpleImage" :description="emptyText" />
          </template>
        </vxe-grid>
      </a-spin>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import 'xe-utils';
import VXETable from 'vxe-table';
import 'vxe-table/lib/index.css';
Vue.use(VXETable);
import VXETablePluginAntd from 'vxe-table-plugin-antd'; // vxe-table集成ant design vue
import 'vxe-table-plugin-antd/dist/style.css';
VXETable.use(VXETablePluginAntd);
import Sortable from 'sortablejs'; // 列交换第三方插件
import { Spin, Empty } from 'ant-design-vue';
import moment from 'moment';
import { httpAction } from '@api/manage';
import AvicCommonSelect from '@comp/avic/pt/org/AvicCommonSelect';
import AvicModalSelect from '@comp/avic/pt/common/AvicModalSelect';
// 行编辑通用选人
VXETable.renderer.add('AvicCommonSelect', {
  // 可编辑激活模板
  renderEdit(h, renderOpts, { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex }) {
    let { props, events } = renderOpts;
    let value = {
      ids: row[column.property] || '',
      names: row[props.dataIndexName] || ''
    };
    // 组件事件预留位置
    let AvicCommonSelectCallBack = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      params
    ) {
      // callback时，改变row的值，以便展示的值可以相应变化
      row[column.property] = params.ids;
      row[props.dataIndexName] = params.names;
      if (events && events.callBack) {
        events.callBack({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex }, params);
      }
    };
    let AvicCommonSelectChange = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      params
    ) {
      if (events && events.change) {
        events.change({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex }, params);
      }
    };
    let AvicCommonSelectInput = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      params
    ) {
      if (events && events.change) {
        events.change({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex }, params);
      }
    };
    let AvicCommonSelectClose = function ({
      row,
      rowIndex,
      $rowIndex,
      column,
      columnIndex,
      $columnIndex
    }) {
      if (events && events.close) {
        events.close({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex });
      }
    };
    let AvicCommonSelectClick = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      paramA,
      paramB
    ) {
      if (events && events.click) {
        events.click(
          { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
          paramA,
          paramB
        );
      }
    };
    let AvicCommonSelectBlur = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      paramA,
      paramB
    ) {
      if (events && events.blur) {
        events.blur(
          { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
          paramA,
          paramB
        );
      }
    };
    let AvicCommonSelectFocus = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      paramA,
      paramB
    ) {
      if (events && events.focus) {
        events.focus(
          { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
          paramA,
          paramB
        );
      }
    };
    return [
      <AvicCommonSelect
        v-model={value}
        type={props.type}
        selectModel={props.selectModel}
        disabled={props.disabled}
        defaultValue={props.defaultValue}
        maxSelect={props.maxSelect}
        fieldLength={props.fieldLength}
        placeholder={props.placeholder}
        defaultOrgId={props.defaultOrgId}
        defaultLoadDeptId={props.defaultLoadDeptId}
        viewScope={props.viewScope}
        defaultLoadGroupId={props.defaultLoadGroupId}
        defaultLoadRoleId={props.defaultLoadRoleId}
        defaultLoadPositionId={props.defaultLoadPositionId}
        deptLevel={props.deptLevel}
        methodType={props.methodType}
        defaultDept={props.defaultDept}
        appId={props.appId}
        orgId={props.orgId}
        autoFocus={props.autoFocus}
        tabShow={props.tabShow}
        userUrl={props.userUrl}
        deptUrl={props.deptUrl}
        userSearchUrl={props.userSearchUrl}
        depthSearchUrl={props.depthSearchUrl}
        customParam={props.customParam}
        customSearchParam={props.customSearchParam}
        defaultSelectSessionUser={props.defaultSelectSessionUser}
        onCallBack={params =>
          AvicCommonSelectCallBack(
            { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
            params
          )
        }
        onChange={params =>
          AvicCommonSelectChange(
            { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
            params
          )
        }
        onInput={params =>
          AvicCommonSelectInput(
            { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
            params
          )
        }
        onClose={() =>
          AvicCommonSelectClose({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex })
        }
        onClick={(paramA, paramB) =>
          AvicCommonSelectClick(
            { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
            paramA,
            paramB
          )
        }
        onBlur={(paramA, paramB) =>
          AvicCommonSelectBlur(
            { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
            paramA,
            paramB
          )
        }
        onFocus={(paramA, paramB) =>
          AvicCommonSelectFocus(
            { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
            paramA,
            paramB
          )
        }
      />
    ];
  },
  // 可编辑显示模板
  renderCell(h, renderOpts, { row, column }) {
    let { props } = renderOpts;
    return [<span>{row[props.dataIndexName]}</span>];
  }
});
// 行编辑弹窗选择
VXETable.renderer.add('AvicModalSelect', {
  // 可编辑激活模板
  renderEdit(h, renderOpts, { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex }) {
    let { props, events } = renderOpts;
    // 组件事件预留位置
    let modalselectChange = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      params
    ) {
      if (events && events.change) {
        events.change({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex }, params);
      }
    };
    let modalselectSelectConfirm = function (
      { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
      params
    ) {
      // 处理弹窗拿到的数据，改变表格行数据，以便展示及提交表格数据无误
      if (Object.prototype.toString.call(params) === '[object Array]') {
        // 参数为数组格式
        let dataIndex = [];
        let dataIndexName = [];
        params.map(item => {
          dataIndex.push(item[props.valueField]);
          dataIndexName.push(item[props.showField]);
        });
        row[column.property] = dataIndex.join(',');
        row[props.dataIndexName] = dataIndexName.join(',');
      } else if (Object.prototype.toString.call(params) === '[object Object]') {
        // 参数为对象形式
        row[column.property] = params[props.valueField];
        row[props.dataIndexName] = params[props.showField];
      }
      if (events && events.selectConfirm) {
        events.selectConfirm(
          { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
          params
        );
      }
    };
    let modalselectClear = function ({
      row,
      rowIndex,
      $rowIndex,
      column,
      columnIndex,
      $columnIndex
    }) {
      // 清空时，表格相应数据置空
      row[column.property] = '';
      row[props.dataIndexName] = '';
      if (events && events.clear) {
        events.clear({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex });
      }
    };
    return [
      <AvicModalSelect
        defaultShowValue={row[props.dataIndexName] || ''}
        modalTitle={props.modalTitle}
        selectComponent={props.selectComponent}
        isMultiSelection={props.isMultiSelection}
        allowClear={props.allowClear}
        showField={props.showField}
        valueField={props.valueField}
        placeholder={props.placeholder}
        disabled={props.disabled}
        disabledInput={props.disabledInput}
        onChange={params =>
          modalselectChange({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex }, params)
        }
        onSelectConfirm={params =>
          modalselectSelectConfirm(
            { row, rowIndex, $rowIndex, column, columnIndex, $columnIndex },
            params
          )
        }
        onClear={() =>
          modalselectClear({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex })
        }
      />
    ];
  },
  // 可编辑显示模板
  renderCell(h, renderOpts, { row, column }) {
    let { props } = renderOpts;
    return [<span>{row[props.dataIndexName]}</span>];
  }
});

export default {
  name: 'AvicBigTable',
  components: {
    ASpin: Spin,
    AEmpty: Empty
  },
  props: {
    isBigDataTable: {
      // 是否大数据表格
      type: Boolean,
      default: false
    },
    loading: {
      // 表格loading状态
      type: Boolean,
      default: false
    },
    tableSize: {
      // 表格的尺寸 default | middle | small => medium, small, mini
      type: String,
      default: 'small'
    },
    bordered: {
      // 是否带有边框
      type: Boolean,
      default: false
    },
    round: {
      // 是否为圆角边框
      type: Boolean,
      default: false
    },
    stripe: {
      // 是否带有斑马纹
      type: Boolean,
      default: false
    },
    showOverflow: {
      // 设置所有内容过长时显示为省略号 ellipsis（只显示省略号）,title（并且显示为原生 title）,tooltip（并且显示为 tooltip 提示）
      type: [Boolean, String],
      default: 'title'
    },
    showHeaderOverflow: {
      // 设置表头所有内容过长时显示为省略号 ellipsis（只显示省略号）,title（并且显示为原生 title）,tooltip（并且显示为 tooltip 提示）
      type: [Boolean, String],
      default: 'title'
    },
    headerAlign: {
      // 所有的表头列的对齐方式
      type: String
    },
    highlightHoverColumn: {
      // 鼠标移到列是否要高亮显示
      type: Boolean,
      default: true
    },
    highlightHoverRow: {
      // 鼠标移到行是否要高亮显示
      type: Boolean,
      default: true
    },
    resizable: {
      // 表格列是否允许拖动列宽调整大小
      type: Boolean,
      default: true
    },
    isAutoCountScrollX: {
      // 是否设置列最小宽度
      type: Boolean,
      default: false
    },
    defaultColWidth: {
      // 列最小宽度
      type: [Number, String]
    },
    isFixedHead: {
      // 是否固定表头
      type: Boolean,
      default: true
    },
    autoResize: {
      // 是否自动监听父元素的变化去重新计算表格（对于父元素可能存在动态变化、显示隐藏的容器中、列宽异常等场景中的可能会用到）
      type: Boolean,
      default: true
    },
    columns: {
      // 列配置
      type: Array,
      required: true
    },
    isAddOrderNumber: {
      // 是否添加序号列
      type: Boolean,
      default: true
    },
    dataSource: {
      // 表格数据
      type: Array,
      default: () => []
    },
    rowKey: {
      // 表格主键
      type: String,
      required: true
    },
    dataIndex: {
      // 表格slot字段
      type: [String, Array],
      default: ''
    },
    paginationDefault: {
      // 表格分页
      required: true
    },
    isAddRowDrop: {
      // 是否加行拖拽
      type: Boolean,
      default: false
    },
    isRowSelection: {
      // 是否加单选或者多选列
      type: Boolean,
      default: true
    },
    isMultiSelection: {
      // 是否加多选列
      type: Boolean,
      default: true
    },
    isCustomRowClick: {
      // 表格单选或者多选是否需要点击行触发
      type: Boolean,
      default: true
    },
    isCustomRowClickAsSingleCheck: {
      // 表格单选或者多选点击行是否做单选处理
      type: Boolean,
      default: true
    },
    virtualScrollX: {
      // 横向虚拟滚动配置，大数据表格才需要传此属性（tree-config 启用后无效）
      type: Object,
      default: () => {}
    },
    virtualScrollY: {
      // 纵向虚拟滚动配置，大数据表格才需要传此属性（注：当 tree-config 启用后纵向虚拟滚动将无效）
      type: Object,
      default: () => {}
    },
    orderNumberSetting: {
      // 序号列的设置
      type: Object,
      default: () => {}
    },
    radioColumnSetting: {
      // 单选列的设置
      type: Object,
      default: () => {}
    },
    checkboxColumnSetting: {
      // 多选列的设置
      type: Object,
      default: () => {}
    },
    emptyText: {
      type: String,
      default: '暂无数据'
    }
  },
  data() {
    return {
      indicator: <a-icon type="loading" style="font-size: 64px" spin />, // loading图标
      tableLoading: false, // 表格加载状态
      data: [], // 请求接口的表格数据
      dataSourceData: [], // 赋给表格的真实数据
      selectedRowKeys: [], // 表格选中项
      pagination: this.paginationDefault, // 表格分页
      sorter: {
        // 表格排序数据
        field: '', // 排序字段
        order: '' // 排序规则
      }
    };
  },
  watch: {
    loading: {
      immediate: true,
      handler(newV) {
        this.tableLoading = newV;
      }
    },
    dataSource: {
      immediate: true,
      handler(newV) {
        this.dataSourceData = newV;
      }
    }
  },
  mounted() {
    // 如果允许行拖拽，则执行行拖拽事件
    if (this.isAddRowDrop) {
      this.rowDrop();
    }
  },
  beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  beforeDestroy() {
    if (this.sortable) {
      // 销毁拖拽
      this.sortable.destroy();
    }
  },
  methods: {
    /**
     * 获取数据，将返回的data传回父组件,有回调函数执行回调函数
     */
    loadData(params, callback) {
      let that = this;
      that.tableLoading = true;
      if (params.parameter && params.parameter.keyWord) {
        if (typeof params.parameter.keyWord === 'object') {
          if (JSON.stringify(params.parameter.keyWord) === '{}') {
            params.parameter.keyWord = '';
          } else {
            params.parameter.keyWord = JSON.stringify(params.parameter.keyWord);
          }
        }
      }
      httpAction(params.url, params.parameter, params.method)
        .then(res => {
          if (res.success) {
            if (res.result) {
              that.data = res.result;
              if (that.pagination) {
                let pagination = { ...that.pagination };
                if (res.result.pageParameter) {
                  pagination.currentPage = res.result.pageParameter.page;
                  pagination.pageSize = res.result.pageParameter.rows;
                  pagination.total = res.result.pageParameter.totalCount;
                } else {
                  if (
                    res.result.page !== null &&
                    res.result.page !== undefined &&
                    res.result.page !== ''
                  ) {
                    pagination.currentPage = res.result.page;
                  }
                  if (
                    res.result.records !== null &&
                    res.result.records !== undefined &&
                    res.result.records !== ''
                  ) {
                    pagination.total = res.result.records;
                  } else if (
                    res.result.total !== null &&
                    res.result.total !== undefined &&
                    res.result.total !== ''
                  ) {
                    pagination.total = res.result.total;
                  }
                }
                that.pagination = pagination;
              }
            } else {
              that.data = [];
            }
          } else {
            that.data = [];
          }
          that.$emit('getData', {
            // 将返回的data传回父组件
            data: that.data
          });
          if (callback) {
            // 有回调函数执行回调函数
            callback(res);
          }
          that.tableLoading = false;
        })
        .catch(err => {
          that.data = [];
          that.$emit('getData', {
            // 将返回的data传回父组件
            data: that.data
          });
          if (callback) {
            // 有回调函数执行回调函数
            callback(err);
          }
          that.tableLoading = false;
        });
    },
    /**
     * 大数据不建议使用双向绑定的 data 属性（vue 监听会大数据会短暂的卡顿），建议使用 loadData/reloadData 函数
     */
    bigDataTableLoadData(data, paginationParam) {
      this.tableLoading = true;
      console.time('表格reloadData赋值');
      this.$refs.xGrid
        .loadData(data)
        .then(() => {
          console.timeEnd('表格reloadData赋值');
          if (paginationParam && this.pagination) {
            this.pagination.currentPage = paginationParam.currentPage;
            this.pagination.pageSize = paginationParam.pageSize;
            this.pagination.total = paginationParam.total;
          }
          this.tableLoading = false;
        })
        .catch(e => {
          this.tableLoading = false;
        });
    },
    /**
     * 获取数据，和 data 的行为一致，也可以指定索引获取数据
     */
    getData() {
      return this.$refs.xGrid.getData();
    },
    /**
     * 获取表格数据集（获取新增、删除、更改的数据，对于增删改查表格非常方便）
     */
    getRecordset() {
      return this.$refs.xGrid.getRecordset();
    },
    /**
     * 往表格插入临时数据，从指定位置插入一行或多行；第二个参数：row 指定位置（不支持树表格）、null从第一行插入、-1 从最后插入
     */
    insertAt(records, row) {
      return this.$refs.xGrid.insertAt(records, row);
    },
    /**
     * 用于 edit-config，激活行编辑，如果是 mode=cell 则默认激活第一个单元格
     */
    setActiveRow(row) {
      return this.$refs.xGrid.setActiveRow(row);
    },
    /**
     * 表格单击事件
     */
    rowClick({
      row,
      rowIndex,
      $rowIndex,
      column,
      columnIndex,
      $columnIndex,
      triggerRadio,
      triggerCheckbox,
      triggerTreeNode,
      triggerExpandNode,
      $event
    }) {
      if (this.isCustomRowClick && this.isCustomRowClickAsSingleCheck) {
        // 点击行触发选择
        if (this.isRowSelection && this.isMultiSelection) {
          // 多选
          if (triggerCheckbox == false) {
            // 未点击复选框
            let xGrid = this.$refs.xGrid;
            let targetRowId = row[this.rowKey];
            let selectedRows;
            let isSelected;
            if (this.selectedRowKeys.length == 1 && this.selectedRowKeys.includes(targetRowId)) {
              // 取消选中
              xGrid.clearCheckboxRow();
              this.selectedRowKeys = [];
              selectedRows = [];
              isSelected = false;
            } else {
              // 选中
              xGrid.clearCheckboxRow();
              xGrid.setCheckboxRow(row, true);
              this.selectedRowKeys = [];
              this.selectedRowKeys.push(row[this.rowKey]);
              selectedRows = [row];
              isSelected = true;
            }
            // 传出选中项
            this.$emit('handleRowSelection', {
              selectedRowKeys: this.selectedRowKeys,
              selectedRows,
              record: row,
              isSelected,
              isFromCheckboxAll: false // 标志位，既处理handleOnSelectAll又处理handleRowSelection时，可根据此标志减少重复处理
            });
          }
        } else if (this.isRowSelection && !this.isMultiSelection) {
          // 单选
          if (triggerRadio == false) {
            // 未点击单选框
            let xGrid = this.$refs.xGrid;
            // 选中点击行
            xGrid.clearRadioRow();
            xGrid.setRadioRow(row);
            // 传出选中项
            this.selectedRowKeys = [];
            this.selectedRowKeys.push(row[this.rowKey]);
            this.$emit('handleRowSelection', {
              selectedRowKeys: this.selectedRowKeys,
              selectedRows: [row],
              record: row,
              isSelected: true,
              isFromCheckboxAll: false // 标志位，既处理handleOnSelectAll又处理handleRowSelection时，可根据此标志减少重复处理
            });
          }
        }
      }
      this.$emit('handleRowClick', row);
    },
    /**
     * 表格双击事件
     */
    rowDblClick({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex, $event }) {
      this.$emit('handleRowDblClick', row);
    },
    /**
     * 只对 pager-config 配置时有效，分页发生改变时会触发该事件
     */
    pageChange({ type, currentPage, pageSize, $event }) {
      // 将分页、排序信息传给父组件
      this.pagination.currentPage = currentPage;
      this.pagination.pageSize = pageSize;
      this.$emit('handleTableChange', {
        pagination: this.pagination,
        sorter: this.sorter
      });
    },
    /**
     * 当排序条件发生变化时会触发该事件
     */
    sortChange({ column, property, order, $event }) {
      // 将分页、排序信息传给父组件
      this.sorter.sidx = property;
      this.sorter.sord = order;
      this.$emit('handleTableChange', {
        pagination: this.pagination,
        sorter: this.sorter
      });
    },
    /**
     * 只对 type=radio 有效，当手动勾选并且值发生改变时触发的事件
     */
    radioChange({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex, $event }) {
      this.selectedRowKeys = [];
      this.selectedRowKeys.push(row[this.rowKey]);
      this.$emit('handleRowSelection', {
        selectedRowKeys: this.selectedRowKeys,
        selectedRows: [row],
        record: row,
        isSelected: true,
        isFromCheckboxAll: false // 标志位，既处理handleOnSelectAll又处理handleRowSelection时，可根据此标志减少重复处理
      });
    },
    /**
     * 只对 type=checkbox 有效，当手动勾选并且值发生改变时触发的事件
     */
    checkboxChange({
      records,
      reserves,
      indeterminates,
      checked,
      row,
      rowIndex,
      $rowIndex,
      column,
      columnIndex,
      $columnIndex,
      $event
    }) {
      this.selectedRowKeys = [];
      records.map(item => {
        this.selectedRowKeys.push(item[this.rowKey]);
      });
      this.$emit('handleRowSelection', {
        selectedRowKeys: this.selectedRowKeys,
        selectedRows: records,
        record: row,
        isSelected: checked,
        isFromCheckboxAll: false // 标志位，既处理handleOnSelectAll又处理handleRowSelection时，可根据此标志减少重复处理
      });
    },
    /**
     * 只对 type=checkbox 有效，当手动勾选全选时触发的事件
     */
    checkboxAll({ records, reserves, indeterminates, checked, $event }) {
      this.selectedRowKeys = [];
      records.map(item => {
        this.selectedRowKeys.push(item[this.rowKey]);
      });
      this.$emit('handleRowSelection', {
        selectedRowKeys: this.selectedRowKeys,
        selectedRows: records,
        isSelected: checked,
        isFromCheckboxAll: true // 标志位，既处理handleOnSelectAll又处理handleRowSelection时，可根据此标志减少重复处理
      });
      this.$emit('handleOnSelectAll', {
        selectedRowKeys: this.selectedRowKeys,
        selectedRows: records,
        isSelected: checked
      });
    },
    /**
     * 行拖拽事件
     */
    rowDrop() {
      this.$nextTick(() => {
        let xGrid = this.$refs.xGrid;
        this.sortable = Sortable.create(
          xGrid.$el.querySelector('.body--wrapper>.vxe-table--body tbody'),
          {
            handle: '.drag-btn',
            onEnd: ({ newIndex, oldIndex }) => {
              if (this.isBigDataTable) {
                let { tableData } = xGrid.getTableData();
                let currRow = tableData.splice(oldIndex, 1)[0];
                tableData.splice(newIndex, 0, currRow);
                xGrid.loadData(tableData);
                this.$emit('rowDrop', tableData);
              } else {
                let currRow = this.dataSourceData.splice(oldIndex, 1)[0];
                this.dataSourceData.splice(newIndex, 0, currRow);
                this.$emit('rowDrop', this.dataSourceData);
              }
            },
            onUpdate(event) {
              let newIndex = event.newIndex;
              let oldIndex = event.oldIndex;
              let $body = xGrid.$el.querySelector('.body--wrapper>.vxe-table--body tbody');
              let $tr = $body.children[newIndex];
              let $oldTr = $body.children[oldIndex];
              // 先删除移动的节点
              $body.removeChild($tr);
              // 再插入移动的节点到原有节点，还原了移动的操作
              if (newIndex > oldIndex) {
                $body.insertBefore($tr, $oldTr);
              } else {
                $body.insertBefore($tr, $oldTr.nextSibling);
              }
            }
          }
        );
      });
    },
    /**
     * 外部组件改变表格选中项调用方法
     */
    changeSelectedRowKeys(selectedRowKeys) {
      this.$nextTick(() => {
        this.selectedRowKeys = selectedRowKeys;
        let xGrid = this.$refs.xGrid;
        if (selectedRowKeys && selectedRowKeys.length == 0) {
          // 清空选中项
          if (this.isRowSelection && this.isMultiSelection) {
            // 多选清空
            xGrid.clearCheckboxRow();
          } else if (this.isRowSelection && !this.isMultiSelection) {
            // 单选清空
            xGrid.clearRadioRow();
          }
        } else {
          // 设置选中项
          let rows = [];
          let tableData = xGrid.getData();
          for (let i = 0; i < tableData.length; i++) {
            for (let j = 0; j < selectedRowKeys.length; j++) {
              if (tableData[i][this.rowKey] == selectedRowKeys[j]) {
                rows.push(tableData[i]);
              }
            }
          }
          if (rows.length > 0) {
            if (this.isRowSelection && this.isMultiSelection) {
              // 多选设置
              xGrid.clearCheckboxRow();
              xGrid.setCheckboxRow(rows, true);
            } else if (this.isRowSelection && !this.isMultiSelection) {
              // 单选设置
              xGrid.clearRadioRow();
              xGrid.setRadioRow(rows[0]);
            }
          } else {
            // 没有匹配项，清空选中
            if (this.isRowSelection && this.isMultiSelection) {
              // 多选清空
              xGrid.clearCheckboxRow();
            } else if (this.isRowSelection && !this.isMultiSelection) {
              // 单选清空
              xGrid.clearRadioRow();
            }
          }
        }
      });
    },
    /**
     * 外部组件改变表格加载状态调用方法
     */
    changeTableLoading(loading) {
      this.tableLoading = loading;
    }
  },
  computed: {
    /**
     * 处理columns
     */
    dealColumns() {
      // 深拷贝，以免改变原数组
      let dealColumns = [];
      this.columns.map(item => {
        let newObj = Object.assign({}, item);
        // 手动给通用代码，做下字段的转换
        if (newObj.type == 'radio' || newObj.type == 'checkbox' || newObj.type == 'select') {
          if (newObj.list && newObj.list.length > 0) {
            newObj.list.map(item => {
              item.key = item.sysLookupTlId;
              item.value = item.lookupCode;
              item.label = item.lookupName;
            });
          }
        }
        dealColumns.push(newObj);
      });
      // columns配置转换
      dealColumns.map(item => {
        // 行编辑editRender属性的汇总配置
        if (item.isCanEdit) {
          if (item.type == 'commonselect') {
            // 通用选人
            let target = {
              name: 'AvicCommonSelect'
            };
            // 默认props传参
            let userUrl = '/api/appsys/common/select/getUserSelectList/v1';
            let deptUrl = '/api/appsys/common/select/getDeptSelectList/v1';
            let userSearchUrl = '/api/appsys/common/select/getUserSelectList/v1';
            let depthSearchUrl = '/api/appsys/common/select/getDeptSelectList/v1';
            let source = {
              props: {
                type: item.controlType ? item.controlType : 'userSelect',
                dataIndexName: item.dataIndexName ? item.dataIndexName : item.dataIndex + 'Alias',
                selectModel: item.selectModel ? item.selectModel : 'single',
                disabled: item.disabled ? item.disabled : false,
                defaultValue: item.defaultValue ? item.defaultValue : null,
                maxSelect: item.maxSelect ? item.maxSelect : 0,
                fieldLength: item.fieldLength ? item.fieldLength : 0,
                placeholder: item.placeholder ? item.placeholder : '',
                defaultOrgId: item.defaultOrgId ? item.defaultOrgId : '',
                defaultLoadDeptId: item.defaultLoadDeptId ? item.defaultLoadDeptId : '',
                viewScope: item.viewScope ? item.viewScope : '',
                defaultLoadGroupId: item.defaultLoadGroupId ? item.defaultLoadGroupId : '',
                defaultLoadRoleId: item.defaultLoadRoleId ? item.defaultLoadRoleId : '',
                defaultLoadPositionId: item.defaultLoadPositionId ? item.defaultLoadPositionId : '',
                deptLevel: item.deptLevel ? item.deptLevel : null,
                methodType: item.methodType ? item.methodType : 'post',
                defaultDept: item.defaultDept ? item.defaultDept : '',
                appId: item.appId ? item.appId : '',
                orgId: item.orgId ? item.orgId : '',
                autoFocus: item.autoFocus ? item.autoFocus : false,
                tabShow: typeof item.tabShow == 'undefined' ? true : item.tabShow,
                userUrl: item.userUrl ? item.userUrl : userUrl,
                deptUrl: item.deptUrl ? item.deptUrl : deptUrl,
                userSearchUrl: item.userSearchUrl ? item.userSearchUrl : userSearchUrl,
                depthSearchUrl: item.depthSearchUrl ? item.depthSearchUrl : depthSearchUrl,
                customParam: item.customParam ? item.customParam : null,
                customSearchParam: item.customSearchParam ? item.customSearchParam : null,
                defaultSelectSessionUser: item.defaultSelectSessionUser
                  ? item.defaultSelectSessionUser
                  : false
              },
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          } else if (item.type == 'modalselect') {
            // 弹窗选择
            let target = {
              name: 'AvicModalSelect'
            };
            let source = {
              props: {
                modalTitle: item.modalTitle ? item.modalTitle : '选择',
                selectComponent: item.selectComponent ? item.selectComponent : null,
                isMultiSelection: item.isMultiSelection ? item.isMultiSelection : false,
                allowClear: item.allowClear ? item.allowClear : false,
                showField: item.showField ? item.showField : '',
                valueField: item.valueField ? item.valueField : 'id',
                placeholder: item.placeholder ? item.placeholder : '',
                disabled: item.disabled ? item.disabled : false,
                disabledInput: typeof item.disabledInput == 'undefined' ? true : item.disabledInput,
                dataIndexName: item.dataIndexName ? item.dataIndexName : item.dataIndex
              },
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          } else if (item.type == 'input') {
            // 普通输入框
            let target = {
              name: 'AInput'
            };
            let source = {
              props: {
                size: item.size ? item.size : 'default',
                type: item.type ? item.type : 'text',
                disabled: item.disabled ? item.disabled : false,
                placeholder: item.placeholder ? item.placeholder : '',
                defaultValue: item.defaultValue ? item.defaultValue : null,
                maxLength: item.maxLength ? item.maxLength : null,
                allowClear: item.allowClear ? item.allowClear : null
              },
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          } else if (item.type == 'password') {
            // 密码框
            let target = {
              name: 'AInput'
            };
            let source = {
              props: {
                type: 'password',
                size: item.size ? item.size : 'default',
                disabled: item.disabled ? item.disabled : false,
                placeholder: item.placeholder ? item.placeholder : '',
                maxLength: item.maxLength ? item.maxLength : null,
                allowClear: item.allowClear ? item.allowClear : null,
                visibilityToggle:
                  typeof item.visibilityToggle == 'undefined' ? true : item.visibilityToggle
              },
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          } else if (item.type == 'textarea') {
            // 文本域
            let target = {
              name: 'AInput'
            };
            let source = {
              props: {
                type: 'textarea',
                size: item.size ? item.size : 'default',
                autosize: item.autosize ? item.autosize : false,
                disabled: item.disabled ? item.disabled : false,
                placeholder: item.placeholder ? item.placeholder : '',
                defaultValue: item.defaultValue ? item.defaultValue : null,
                allowClear: item.allowClear ? item.allowClear : false
              },
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          } else if (item.type == 'inputnumber') {
            // 数字输入框
            let target = {
              name: 'AInputNumber'
            };
            let source = {
              props: {
                size: item.size ? item.size : 'default',
                autoFocus: item.autoFocus ? item.autoFocus : false,
                disabled: item.disabled ? item.disabled : false,
                placeholder: item.placeholder ? item.placeholder : '',
                defaultValue: item.defaultValue ? item.defaultValue : null,
                formatter: item.formatter ? item.formatter : null,
                max: item.max ? item.max : Infinity,
                min: item.min ? item.min : -Infinity,
                parser: item.parser
                  ? item.parser
                  : value => {
                      return value;
                    },
                precision: item.precision ? item.precision : null,
                decimalSeparator: item.decimalSeparator ? item.decimalSeparator : null,
                step: item.step ? item.step : 1
              },
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          } else if (item.type == 'radio' || item.type == 'checkbox' || item.type == 'select') {
            // 单选 or 多选 or 下拉
            let mode = item.mode ? item.mode : item.type == 'checkbox' ? 'multiple' : 'default';
            let target = {
              name: 'ASelect',
              options: []
            };
            let source = {
              props: {
                size: item.size ? item.size : 'default',
                mode,
                showSearch: typeof item.showSearch == 'undefined' ? true : item.showSearch,
                placeholder: item.placeholder ? item.placeholder : '',
                allowClear: typeof item.allowClear == 'undefined' ? true : item.allowClear,
                autoFocus: item.autoFocus ? item.autoFocus : false,
                defaultValue: item.defaultValue ? item.defaultValue : null,
                disabled: item.disabled ? item.disabled : false,
                dropdownClassName: item.dropdownClassName ? item.dropdownClassName : null,
                dropdownMatchSelectWidth:
                  typeof item.dropdownMatchSelectWidth == 'undefined'
                    ? true
                    : item.dropdownMatchSelectWidth,
                dropdownStyle: item.dropdownStyle ? item.dropdownStyle : null,
                dropdownMenuStyle: item.dropdownMenuStyle ? item.dropdownMenuStyle : null,
                filterOption: typeof item.filterOption == 'undefined' ? true : item.filterOption,
                firstActiveValue: item.firstActiveValue ? item.firstActiveValue : null,
                labelInValue: item.labelInValue ? item.labelInValue : false,
                optionFilterProp: item.optionFilterProp ? item.optionFilterProp : 'children',
                optionLabelProp: item.optionLabelProp ? item.optionLabelProp : 'children',
                showArrow: typeof item.showArrow == 'undefined' ? true : item.showArrow,
                defaultOpen: item.defaultOpen ? item.defaultOpen : null
              },
              options: item.list ? item.list : [],
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          } else if (item.type == 'date' || item.type == 'datetime') {
            // 日期选择框 or 日期时间选择框
            let showTime = item.showTime ? item.showTime : item.type == 'datetime' ? true : false;
            let format = item.format
              ? item.format
              : item.type == 'date'
              ? 'YYYY-MM-DD'
              : 'YYYY-MM-DD HH:mm:ss';
            let target = {
              name: 'ADatePicker'
            };
            let source = {
              props: {
                size: item.size ? item.size : 'default',
                type: 'date',
                format,
                showToday: typeof item.showToday == 'undefined' ? true : item.showToday,
                showTime,
                placeholder: item.placeholder ? item.placeholder : '',
                allowClear: typeof item.allowClear == 'undefined' ? true : item.allowClear,
                autoFocus: item.autoFocus ? item.autoFocus : false,
                disabled: item.disabled ? item.disabled : false,
                disabledDate: item.disabledDate ? item.disabledDate : null,
                popupStyle: item.popupStyle ? item.popupStyle : {},
                dropdownClassName: item.dropdownClassName ? item.dropdownClassName : '',
                inputReadOnly: item.inputReadOnly ? item.inputReadOnly : false,
                align: item.dateAlign ? item.dateAlign : {},
                valueFormat: item.valueFormat ? item.valueFormat : null,
                defaultValue: item.defaultValue ? item.defaultValue : null,
                defaultPickerValue: item.defaultPickerValue ? item.defaultPickerValue : null,
                disabledTime: item.disabledTime ? item.disabledTime : null,
                renderExtraFooter: item.renderExtraFooter ? item.renderExtraFooter : null
              },
              attrs: item.attrs ? item.attrs : {},
              events: item.events
            };
            let editRenderObj = Object.assign(target, source);
            item.editRender = editRenderObj;
          }
        } else {
          // formatter给默认值
          if (typeof item.formatter == 'undefined') {
            if (item.type == 'commonselect') {
              if (typeof item.dataIndexName == 'undefined') {
                item.formatter = ({ cellValue, row, column }) => {
                  return row[item.dataIndex + 'Alias'];
                };
              } else {
                item.formatter = ({ cellValue, row, column }) => {
                  return row[item.dataIndexName];
                };
              }
            } else if (item.type == 'radio' || item.type == 'select' || item.type == 'checkbox') {
              // 通用代码不通过接口获取，而是直接手写时，做格式化展示
              if (item.list && item.list.length > 0) {
                item.formatter = ({ cellValue, row, column }) => {
                  let label = '';
                  for (let i = 0; i < item.list.length; i++) {
                    if (item.list[i].value == cellValue) {
                      label = item.list[i].label;
                      break;
                    }
                  }
                  return label;
                };
              } else if (typeof item.dataIndexName !== 'undefined') {
                item.formatter = ({ cellValue, row, column }) => {
                  return row[item.dataIndexName];
                };
              } else {
                item.formatter = ({ cellValue, row, column }) => {
                  return row[item.dataIndex + 'Name'];
                };
              }
            } else if (item.type == 'inputnumber') {
              if (typeof item.precision == 'undefined') {
                item.formatter = ({ cellValue, row, column }) => {
                  return cellValue ? parseFloat(cellValue).toFixed(2) : '';
                };
              } else {
                item.formatter = ({ cellValue, row, column }) => {
                  return cellValue ? parseFloat(cellValue).toFixed(item.precision) : '';
                };
              }
            } else if (item.type == 'date') {
              item.formatter = ({ cellValue, row, column }) => {
                return cellValue ? moment(cellValue).format(item.format || 'YYYY-MM-DD') : '';
              };
            } else if (item.type == 'datetime') {
              item.formatter = ({ cellValue, row, column }) => {
                return cellValue
                  ? moment(cellValue).format(item.format || 'YYYY-MM-DD HH:mm:ss')
                  : '';
              };
            }
          }
        }
        // 密码框类型
        if (item.type == 'password') {
          item.formatter = ({ cellValue, row, column }) => {
            return '****';
          };
        }
        // 行编辑组件类型的转换
        if (item.type && item.type !== 'html' && item.type !== 'expand') {
          // 排除 HTML标签和展开行，为其预留出位置
          item.editType = item.type;
          delete item.type;
        }
        // 字段名的转换
        item.field = item.dataIndex;
        // 表头是否排序的转换
        item.sortable = item.sorter;
        // 是否添加slot渲染字段
        if (this.slotsArray.length > 0) {
          this.slotsArray.map(linkSlots => {
            if (item.dataIndex == linkSlots) {
              item.slots = item.slots
                ? Object.assign(item.slots, {
                    default: linkSlots
                  })
                : {
                    default: linkSlots
                  };
            }
          });
        }
        // 是否添加操作列
        if (item.dataIndex === 'action') {
          item.slots = item.slots
            ? Object.assign(item.slots, {
                default: 'action'
              })
            : {
                default: 'action'
              };
        }
      });
      // 是否添加序号列
      if (this.isAddOrderNumber) {
        let orderNumberObj = {
          type: 'seq',
          title: '序号',
          width: 60,
          align: 'center',
          visible: true
        };
        let newOrderNumberObj = Object.assign(orderNumberObj, this.orderNumberSetting);
        dealColumns.unshift(newOrderNumberObj);
      }
      // 列表可选 or 多选 or 单选
      if (this.isRowSelection && !this.isMultiSelection) {
        let radioColumnObj = {
          type: 'radio',
          width: 60,
          fixed: 'left',
          align: 'center',
          visible: true
        };
        let newRadioColumnObj = Object.assign(radioColumnObj, this.radioColumnSetting);
        dealColumns.unshift(newRadioColumnObj);
      } else if (this.isRowSelection && this.isMultiSelection) {
        let checkboxColumnObj = {
          type: 'checkbox',
          width: 60,
          fixed: 'left',
          align: 'center',
          visible: true
        };
        let newCheckboxColumnObj = Object.assign(checkboxColumnObj, this.checkboxColumnSetting);
        dealColumns.unshift(newCheckboxColumnObj);
      }
      return dealColumns;
    },
    /**
     * 所有最小列宽度；会自动将剩余空间按比例分配
     */
    columnMinWidth() {
      let columnMinWidth;
      if (this.isAutoCountScrollX) {
        if (typeof this.defaultColWidth == 'undefined') {
          columnMinWidth = 70;
        } else {
          columnMinWidth = this.defaultColWidth;
        }
      }
      return columnMinWidth;
    },
    /**
     * 表头固定：给高度；表头不固定：不给高度
     */
    height() {
      let height;
      if (this.isFixedHead) {
        height = 'auto';
      } else {
        height = null;
      }
      return height;
    },
    /**
     * 单选配置
     */
    radioConfig() {
      let radioConfig = null;
      if (this.isRowSelection && !this.isMultiSelection) {
        if (this.isCustomRowClick && this.isCustomRowClickAsSingleCheck) {
          radioConfig = { trigger: 'cell', highlight: true };
        } else {
          radioConfig = { trigger: 'row', highlight: true };
        }
      }
      return radioConfig;
    },
    /**
     * 多选配置
     */
    checkboxConfig() {
      let checkboxConfig = null;
      if (this.isRowSelection && this.isMultiSelection) {
        if (this.isCustomRowClick && this.isCustomRowClickAsSingleCheck) {
          checkboxConfig = { trigger: 'cell', highlight: true };
        } else {
          checkboxConfig = { trigger: 'row', highlight: true };
        }
        // 对于多选 type=checkbox 当数据量海量时应该绑定 checkField 属性渲染速度更快
        if (this.isBigDataTable) {
          checkboxConfig.checkField = 'bigTableDataChecked';
          // checkboxConfig.checkField = 'checked'
        }
      }
      return checkboxConfig;
    },
    /**
     * 可编辑配置项
     */
    editConfig() {
      let editConfig = false;
      let columns = [...this.columns];
      for (let i = 0; i < columns.length; i++) {
        if (columns[i].isCanEdit) {
          editConfig = { trigger: 'click', mode: 'row', showStatus: true };
          break;
        }
      }
      return editConfig;
    },
    /**
     * 表格超链接等需要slot实现的集合
     */
    slotsArray() {
      let slotsArray = [];
      if (typeof this.dataIndex == 'string') {
        slotsArray.push(this.dataIndex);
      } else {
        slotsArray = this.dataIndex;
      }
      return slotsArray;
    },
    /**
     * 保持原始值的状态，被某些功能所依赖，比如编辑状态、还原数据等（开启后性能直线下降，具体取决于数据量）
     */
    keepSource() {
      let keepSource = false;
      let columns = [...this.columns];
      for (let i = 0; i < columns.length; i++) {
        if (columns[i].isCanEdit) {
          keepSource = true;
          break;
        }
      }
      return keepSource;
    }
  }
};
</script>
<style lang="less">
@import './style/base.less';
</style>
