<template>
  <div class="surface">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-title">
      <span>常用意见</span>
      <div class="surface-tools-bar">
        <a-button v-has="'user:add'" type="primary" icon="plus" title="添加" @click="handleAdd">
          添加
        </a-button>
        <a-button
          v-has="'user:save'"
          type="primary"
          icon="save"
          title="保存"
          :loading="saveLoading"
          @click="handleSave"
        >
          保存
        </a-button>
        <a-button
          v-has="'user:del'"
          icon="delete"
          title="删除"
          :loading="delLoading"
          @click="
            handleDelete({
              refName: tableRefName,
              param: { ids: selectedRowKeys }
            })
          "
        >
          删除
        </a-button>
        <AvicChangeTableSize
          :init-size="tableSize"
          @changeTableSize="changeTableSize"
        />
        <a-icon
          type="sync"
          class="opt-icon"
          title="刷新"
          @click="handleRefreshTable(tableRefName)"
        />
        <AvicTableColumnSettings
          :init-setting-columns="initSettingColumns"
          :default-setting-columns="selectColumns"
          @colMenuSelect="changeColumns"
        />
      </div>
    </div>
    <div class="surface-content">
      <!-- 表格内容 -->
      <div class="surface-table" >
        <!-- 表格 -->
        <AvicEditTable
          :style="tableStyle"
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :default-col-width="120"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          :is-custom-row-click="false"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
          @cellChange="handleCellChange"
          @cellModalSelect="handleCellModalSelect"
        >
          <!-- 表格操作列 -->
          <template slot="action" scope="obj">
            <a
              v-if="!obj.data._vue_editing"
              href="javascript:;"
              title="编辑"
              @click="
                handleEdit({
                  refName: tableRefName,
                  param: { id: [obj.data[rowKey]] }
                })
              "
            >
              编辑
            </a>
            <a
              v-if="obj.data._vue_editing"
              href="javascript:;"
              title="保存"
              @click="
                handleSave({
                  saveItem: true,
                  id: [obj.data[rowKey]]
                })
              "
            >
              保存
            </a>
            <a
              href="javascript:;"
              title="删除"
              @click="
                handleDelete({
                  refName: tableRefName,
                  param: { ids: [obj.data[rowKey]] }
                })
              "
            >
              <a-divider type="vertical" />
              删除
            </a>
          </template>
        </AvicEditTable>
      </div>
    </div>
  </div>
</template>
<script>
import { Modal } from 'ant-design-vue';
import { httpAction } from '@/api/manage';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseTableListMixin } from '@mixins/avic/pt/BaseTableListMixin';
import ProcessTreeSelect from '@views/avic/pt/system/flowCenter/processscope/ProcessTreeSelect';
import differenceWith from 'lodash.differencewith';
import isEqual from 'lodash.isequal';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_APPROVALOPTION';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/appsys/console/customed';
// 表格主键字段
let rowKey = 'id';
let dataIndex = ['action'];
let pageSettingData = [
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: true,
    title: '审批意见',
    dataIndex: 'value',
    scopedSlots: { customRender: 'value' },
    isSearch: true,
    headerClassName: 'required-table-title',
    type: 'input',
    isCanEdit: true,
    width: 200,
    placeholder: '请输入审批意见'
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '类型',
    dataIndex: 'processType',
    dataIndexName: 'processTypeName',
    headerClassName: 'required-table-title',
    scopedSlots: { customRender: 'processType' },
    placeholder: '请选择类型',
    type: 'radio',
    width: 200,
    isCanEdit: true,
    list: [
      {
        sysLookupTlId: '1',
        lookupCode: '1',
        lookupName: '全部'
      },
      {
        sysLookupTlId: '0',
        lookupCode: '0',
        lookupName: '自定义'
      }
    ]
  },
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: false,
    title: '流程名称',
    dataIndex: 'processIds',
    dataIndexName: 'processName',
    scopedSlots: { customRender: 'processIds' },
    width: 200,
    type: 'modalselect',
    modalTitle: '流程业务目录',
    placeholder: '请选择流程',
    valueField: 'key',
    showField: 'name',
    isMultiSelection: true,
    allowClear: true,
    isCanEdit: true,
    selectComponent: ProcessTreeSelect
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '操作',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' },
    fixed: 'right',
    width: 100
  }
];
export default {
  name: 'ApprovalOptionManage',
  mixins: [baseTableMixin, baseTableListMixin],
  data() {
    return {
      tableStyle: {
        // 行编辑表格的高度设置
        height: '380px',
      },
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      rowKey, // 表格主键字段
      dataIndex,
      pageSettingData, // 页面数据配置
      tableRefName: 'BaseTable', // 表格ref名称
      saveParam: {
        // 保存请求接口
        url: requestPublicUrl + '/insertOrUpdateApprovalOptionList/v1',
        method: 'post'
      },
      delParam: {
        // 删除请求接口
        url: requestPublicUrl + '/deleteApprovalOptionList/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/getApprovalOptionListByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          }
        },
        method: 'post'
      };
    }
  },
  mounted() {
    /**
     * 进入页面,加载表格数据
     */
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    /**
     * 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
     */
    menuRefresh() {
      this.menuRefreshReset();
    },
    /**
     * 弹窗值变化时
     */
    handleSelectChange(value) {
      this.value = value;
      this.record[this.obj.dataIndex] = value;
      // 传回值
      this.emitValue({ value });
    },
    /**
     * 利用表格组件暴露出的方法getData, 接收表格组件请求回的数据并处理
     * @param obj 形式: {data: data}
     */
    getData(obj) {
      if (obj.data && obj.data.rows && obj.data.rows.length > 0) {
        obj.data.rows.map(item => {
          item.processTypeName = item.processType === '1' ? '全部' : '自定义';
        });
        this.dataRecord = JSON.parse(JSON.stringify(obj.data.rows)); // 深拷贝data,记录刷新得到的数据,用于识别是否有编辑项
        this.data = JSON.parse(JSON.stringify(obj.data.rows)); // 渲染表格
      } else {
        this.dataRecord = [];
        this.data = [];
      }
      this.hasTableDataChanged = false;
    },
    /**
     * 校验规则
     */
    setCheckArray() {
      // 校验规则设置:
      // id: 字段英文名;
      // name: 字段中文名;
      // isRequired: 是否必填;
      // isCheckScript: 是否校验script非法字符;
      // isCheckMaxLength: 是否校验长度;
      // maxLength: 最大长度
      // isCheckAllSpace: 是否校验不能输入空格
      let checkArray = [
        {
          id: 'value',
          name: '审批意见',
          isRequired: true,
          isCheckScript: true,
          isCheckMaxLength: true,
          maxLength: '120'
        },
        {
          id: 'processType',
          name: '类型',
          isCheckMaxLength: true,
          maxLength: '10'
        },
        {
          id: 'processIds',
          name: '流程名称',
          isRequired: false
        }
      ];
      return checkArray;
    },
    /**
     * 点击添加按钮 校验通过才能添加下一行
     */
    handleAdd() {
      let checkArray = this.setCheckArray(); // 校验字段设置: 必填, 非法含有脚本标签, 最大长度
      this.handleAddOrSaveCheck(this.data, checkArray, () => {
        // 传设置参数进行校验
        //自定义校验--类型为【自定义】则必选流程名称
        let checkProcessIdErr = false;
        this.data.map(item => {
          if (item.processType !== '1' && !item.processIds) {
            checkProcessIdErr = true;
          }
        });
        if (checkProcessIdErr) {
          this.$message.warning('自定义类型的流程名称为必填项！');
          return;
        }
        // 关闭其他行的编辑状态
        this.data.map(item => {
          if (item._vue_editing) {
            item._vue_editing = false;
          }
        });
        // 校验通过,则添加一条带假id的数据
        this.count += 1;
        let newData = {
          id: this.newRowName + this.count,
          value: '',
          processType: '',
          processIds: '',
          _vue_editing: true
        };
        this.data = [newData, ...this.data];
      });
    },
    /**
     * 保存，包括整体保存与独行保存
     */
    handleSave(params) {
      let _this = this;
      // 规避正在保存时连续点击
      if (this.saveLoading) return;
      // 保存按钮打开loading状态
      if (!params.saveItem) {
        this.saveLoading = true;
      }
      // 排除掉组件中自己加的字段，以免影响判断
      let copyDatas = [];
      let recordOldData = [];
      if (params && params.saveItem) {
        copyDatas = JSON.parse(
          JSON.stringify(this.data.filter(item => item[this.rowKey] == params.id))
        );
        recordOldData = JSON.parse(
          JSON.stringify(this.dataRecord.filter(item => item[this.rowKey] == params.id))
        );
      } else {
        copyDatas = JSON.parse(JSON.stringify(this.data));
      }
      for (let i = 0; i < copyDatas.length; i++) {
        let obj = copyDatas[i];
        for (let key in obj) {
          if (key.indexOf('_vue_') != -1) {
            delete obj[key];
          }
        }
      }
      // 表格数据分为两部分: 新加的行newData;旧有的行oldData
      let newData = [];
      let oldData = [];
      for (let i = 0; i < copyDatas.length; i++) {
        if (copyDatas[i][this.rowKey].indexOf(this.newRowName) != -1) {
          newData.push(copyDatas[i]);
        } else {
          oldData.push(copyDatas[i]);
        }
      }
      // 新加的行数据是否编辑了,默认未编辑
      let newDataFlag = false;
      for (let i = 0; i < newData.length; i++) {
        let obj = newData[i];
        for (let key in obj) {
          if (key != this.rowKey && obj[key] != '' && typeof obj[key] != 'undefined') {
            newDataFlag = true; // 编辑过了
          }
        }
      }
      // 旧有的行数据是否有改动, 默认未改
      let oldDataFlag = false;
      if (params && params.saveItem) {
        if (!isEqual(oldData, recordOldData)) {
          oldDataFlag = true; // 改过了
        }
      } else {
        if (!isEqual(oldData, this.dataRecord)) {
          oldDataFlag = true; // 改过了
        }
      }
      // 判断表格的值有无变化,没有变化,提示修改数据
      if (!newDataFlag && !oldDataFlag) {
        if (!params.saveItem) {
          Modal.warning({
            title: '请先修改数据！'
          });
          this.saveLoading = false;
        } else {
          this.$message.warning('请先修改数据！');
        }
        return;
      }
      // 有改动的数据
      let changedData = [];
      // 获取旧有的行中编辑过的数据
      let difData = [];
      if (params && params.saveItem) {
        difData = differenceWith(oldData, recordOldData, isEqual);
      } else {
        difData = differenceWith(oldData, this.dataRecord, isEqual);
      }
      // 新加的行与编辑过的行,整体为有改动的数据
      changedData = [...newData, ...difData];
      // 校验字段设置: 必填, 非法含有脚本标签, 最大长度
      let checkArray = this.setCheckArray();
      // 传设置参数进行校验，检验通过后请求接口保存
      this.handleAddOrSaveCheck(
        changedData,
        checkArray,
        () => {
          //自定义校验--类型为【自定义】则必选流程名称
          let checkProcessIdErr = false;
          this.data.map(item => {
            if (item.processType !== '1' && !item.processIds) {
              checkProcessIdErr = true;
            }
          });
          if (checkProcessIdErr) {
            this.$message.warning('自定义类型的流程名称为必填项！');
            this.saveLoading = false;
            return;
          }

          // 保存提交数据整理
          let paramData = [];
          // 新加的行数据将主键删掉
          let newDataDeal = JSON.parse(JSON.stringify(newData));
          for (let i = 0; i < newDataDeal.length; i++) {
            delete newDataDeal[i][_this.rowKey];
          }
          // 新加的行与编辑过的行一起提交
          paramData = [...newDataDeal, ...difData];
          // 请求后台进行保存
          httpAction(_this.saveParam.url, JSON.stringify(paramData), _this.saveParam.method)
            .then(res => {
              if (res.success) {
                // 刷新表格
                _this.reloadData(false, _this.tableRefName, () => {
                  // 提示成功
                  _this.$message.success('保存成功！');
                  _this.saveLoading = false;
                });
              } else {
                _this.saveLoading = false;
              }
            })
            .catch(() => {
              _this.saveLoading = false;
            });
        },
        () => {
          this.saveLoading = false;
        }
      );
    },
    /**
     * 删除处理逻辑
     * @param {Object} params 形式: {refName: refName(表格refName), ids: ids(删除项id集合数组)}
     */
    handleDelete(params) {
      if (!params) return;
      if (params.param && params.param.ids.length == 0) {
        this.$message.warning('请选择要删除的数据！');
        return;
      }
      let _this = this;
      let newIdsArray = []; // 定义新添加项的id集合
      let ids = params.param.ids; // 选中项的id集合
      for (let i = 0; i < ids.length; i++) {
        // 获取新添加项的id集合
        if (ids[i].indexOf(_this.newRowName) != -1) {
          newIdsArray.push(ids[i]);
        }
      }
      if (newIdsArray.length === 0) {
        // 选中的均为编辑过的,直接请求后台删除
        // 询问是否删除,确定删除则删除
        Modal.confirm({
          title: '确认要删除选中的数据吗？',
          onOk: () => {
            _this.delLoading = true;
            httpAction(_this.delParam.url, ids, _this.delParam.method)
              .then(res => {
                if (res.success) {
                  // 刷新表格
                  _this.reloadData(false, params.refName, () => {
                    // 提示成功
                    _this.$message.success('删除常用意见成功！');
                    _this.delLoading = false;
                  });
                } else {
                  _this.delLoading = false;
                }
              })
              .catch(() => {
                _this.delLoading = false;
              });
          }
        });
      } else if (newIdsArray.length === ids.length) {
        // 选中的均为未保存项,前台直接删除
        // 询问是否删除,确定删除则删除
        Modal.confirm({
          title: '确定删除吗？',
          onOk: () => {
            this.delLoading = true;
            let dataSource = [...this.data];
            for (let i = 0; i < newIdsArray.length; i++) {
              dataSource = dataSource.filter(item => item[this.rowKey] != newIdsArray[i]);
            }
            // 清空表格选中项
            this.selectedRowKeys = [];
            this.$refs[this.tableRefName].changeSelectedRowKeys([]);
            // 前台刷新表格
            this.data = dataSource;
            // 提示成功
            this.$message.success('删除常用意见成功！');
            this.delLoading = false;
          }
        });
      } else if (newIdsArray.length < ids.length) {
        // 选中的既有未保存的,又有编辑过的,给出提示
        Modal.warning({
          title: '请确保上一条数据修改完毕！'
        });
      }
    }
  }
};
</script>