<template>
  <div class="change-password">
    <a-form :form="form" :layout="formLayout" :label-col="labelCol" :wrapper-col="wrapperCol">
      <div class="basic-title">
        <span>修改密码</span>
      </div>
      <a-form-item label="旧密码">
        <a-input
          size="large"
          type="password"
          style="width: 25%"
          placeholder="请输入旧密码"
          v-decorator="['oldPassword', { rules: [{ required: true, message: '请输入旧密码' }] }]"
        />
      </a-form-item>
      <a-form-item label="新密码">
        <a-input
          size="large"
          type="password"
          style="width: 25%"
          placeholder="请输入新密码"
          v-decorator="[
            'newPassword',
            {
              rules: [
                { required: true, message: '请输入新密码' },
                {
                  validator: (rule, value, callback) => passwordStrong(rule, value, callback)
                }
              ]
            }
          ]"
        />
        <li class="pwdLi" :style="backgroundw">弱</li>
        <li class="pwdLi" :style="backgroundm">中</li>
        <li class="pwdLi" :style="backgrounds">强</li>
        <li class="pwdS">{{ pwdS }}</li>
      </a-form-item>

      <a-form-item label="确认新密码">
        <a-input
          v-decorator="[
            'confirmPassword',
            {
              rules: [
                { required: true, message: '请重新输入新密码' },
                { validator: this.checkConfirmPassword }
              ],
              validateTrigger: 'blur'
            }
          ]"
          size="large"
          type="password"
          autocomplete="false"
          style="width: 25%"
          placeholder="请重新输入新密码"
        />
      </a-form-item>
    </a-form>
    <a-row>
      <a-col :offset="4">
        <a-button
          type="primary"
          :loading="changePwdLoading"
          html-type="submit"
          @click.stop.prevent="handleChangePwd"
        >
          保存
        </a-button>
        <a-button title="重置" @click="cancelChangePwd">重置</a-button>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import { formColLayout } from '@utils/avic/layout/baseMouldStyles';
import { changePassword } from '@/api/api';
import { mapActions } from 'vuex';
import CryptoJS from 'crypto-js';

let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'oldPassword',
    type: 'input'
  },
  {
    dataIndex: 'newPassword',
    type: 'input'
  },
  {
    dataIndex: 'confirmPassword',
    type: 'input'
  }
];
export default {
  name: 'ChangePwd',
  components: {},
  data() {
    return {
      labelCol: { xs: 4, sm: 4, lg: 4, xl: 4 },
      wrapperCol: { xs: 20, sm: 20, md: 20, lg: 20, xl: 20 },
      modalFormData,
      changePwdLoading: false,
      title: '修改密码',
      formLayout: 'horizontal',
      form: this.$form.createForm(this),
      formColLayout: formColLayout(this.layout), // 调用布局公共方法
      reqParams: {
        oldPassword: null,
        newPassword: null
        // confirmPassword:null
      },
      flag: 0,
      pwdS: '',
      backgroundw: 'background:#cccccc;display:none;', //弱
      backgroundm: 'background:#cccccc;display:none;', //中
      backgrounds: 'background:#cccccc;display:none;' //强
    };
  },
  methods: {
    ...mapActions(['Logout']),
    /**
     * 检验密码强度（这里只针对了输入密码的长度进行了验证，具体校验规则还需再定）
     */
    passwordStrong(rule, value, callback) {
      if (value) {
        this.flag = value.length; //输入密码的长度
        if (this.flag < 3) {
          this.pwdS = '安全程度' + '弱';
          this.backgroundw = 'background:#FF8833;display:block;';
          this.backgroundm = 'background:#cccccc;';
          this.backgrounds = 'background:#cccccc;';
        } else if (this.flag >= 3 && this.flag < 8) {
          this.pwdS = '安全程度' + '中';
          this.backgroundw = 'background:#FF8833;display:block;';
          this.backgroundm = 'background:#FF8833;display:block;';
          this.backgrounds = 'background:#cccccc;';
        } else if (this.flag >= 8 && this.flag < 16) {
          this.pwdS = '安全程度' + '强';
          this.backgroundw = 'background:#FF8833;display:block;';
          this.backgroundm = 'background:#FF8833;display:block;';
          this.backgrounds = 'background:#FF8833;display:block;';
        }
      } else if (value == '') {
        this.backgroundw = 'background:#cccccc;display:none;';
        this.backgroundm = 'background:#cccccc;display:none;';
        this.backgrounds = 'background:#cccccc;display:none;';
        this.pwdS = '';
      }
      callback();
    },
    checkConfirmPassword(rule, value, callback) {
      const firstVal = this.form.getFieldValue('newPassword');
      if (value && value !== firstVal) {
        callback('两次输入不一致！');
      }
      callback();
    },
    /**
     * 安全Base64编码
     * @param value
     * @returns {*|string}
     */
    encodeMyBase64(value) {
      let wordArray = CryptoJS.enc.Utf8.parse(value);
      let base64 = CryptoJS.enc.Base64.stringify(wordArray);

      //将标准Base64编码中字符+和/分别替换为-和_
      base64 = base64.replace(/\+/g, '-');
      base64 = base64.replace(/\//g, '_');

      return base64;
    },
    handleChangePwd() {
      let flag = false;
      let that = this;
      that.form.validateFieldsAndScroll(['oldPassword', 'newPassword'], (err, values) => {
        if (!err) {
          flag = true;
          this.reqParams.oldPassword = this.encodeMyBase64(values.oldPassword);
          this.reqParams.newPassword = this.encodeMyBase64(values.newPassword);
        }
      });
      if (flag) {
        this.changePwdLoading = true;
        changePassword(this.reqParams)
          .then(res => {
            this.changePwdLoading = false;
            if (res.code === '200') {
              this.$message.success('修改密码成功,请重新登录！');
              // return that.Logout(true).then(() => { //返回到登录页
              //   window.location.href = '/';
              // });
            }
          })
          .catch(() => {
            this.changePwdLoading = false;
          });
      }
    },
    cancelChangePwd(){
      this.$nextTick(function(){ 
        this.form.resetFields();
      });
      this.backgroundw = 'background:#cccccc;display:none;';
      this.backgroundm = 'background:#cccccc;display:none;';
      this.backgrounds = 'background:#cccccc;display:none;';
      this.pwdS = '';
    }
  }
};
</script>

<style>
.change-password .pwdLi {
  float: left;
  width: 50px;
  height: 15px;
  color: white;
  margin: 6px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
.change-password .pwdS {
  margin: 6px;
  float: left;
  width: 70px;
  height: 15px;
  font-size: 12px;
  color: #f83;
  line-height: 15px;
}
/* .change-password .ant-form-item-label{
  line-height:28px;
} */
/* .change-password .ant-form-item-with-help {
  margin-bottom: 1px;
}
.change-password .ant-form-explain {
  min-height: 24px !important;
} */
</style>
