<template>
  <div class="surface">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-title">
      <span>个人群组</span>
      <div class="surface-tools-bar">
        <a-button v-has="'user:add'" type="primary" icon="plus" title="添加" @click="handleAdd">
          添加
        </a-button>
        <a-button
          v-has="'user:save'"
          type="primary"
          icon="save"
          title="保存"
          :loading="saveLoading"
          @click="handleSave"
        >
          保存
        </a-button>
        <a-button
          v-has="'user:del'"
          icon="delete"
          title="删除"
          :loading="delLoading"
          @click="
            handleDelete({
              refName: tableRefName,
              param: { ids: selectedRowKeys }
            })
          "
        >
          删除
        </a-button>
        <AvicChangeTableSize
          :init-size="tableSize"
          @changeTableSize="changeTableSize"
        />
        <a-icon
          type="sync"
          class="opt-icon"
          title="刷新"
          @click="handleRefreshTable(tableRefName)"
        />
        <AvicTableColumnSettings
          :init-setting-columns="initSettingColumns"
          :default-setting-columns="selectColumns"
          @colMenuSelect="changeColumns"
        />
      </div>
    </div>
    <div class="surface-content">
      <!-- 表格内容 -->
      <div class="surface-table" :style="tableStyle">
        <!-- 表格 -->
        <AvicEditTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :default-col-width="120"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          :is-custom-row-click="false"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
          @cellChange="handleCellChange"
        >
          <!-- 表格操作列 -->
          <template slot="action" scope="obj">
            <a
              v-if="!obj.data._vue_editing"
              href="javascript:;"
              title="编辑"
              @click="
                handleEdit({
                  refName: tableRefName,
                  param: { id: [obj.data[rowKey]] }
                })
              "
            >
              编辑
            </a>
            <a
              v-if="obj.data._vue_editing"
              href="javascript:;"
              title="保存"
              @click="
                handleSave({
                  saveItem: true,
                  id: [obj.data[rowKey]]
                })
              "
            >
              保存
            </a>
            <a
              href="javascript:;"
              title="删除"
              @click="
                handleDelete({
                  refName: tableRefName,
                  param: { ids: [obj.data[rowKey]] }
                })
              "
            >
              <a-divider type="vertical" />
              删除
            </a>
          </template>
        </AvicEditTable>
      </div>
    </div>
  </div>
</template>
<script>
import { Modal } from 'ant-design-vue';
import { httpAction } from '@/api/manage';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseTableListMixin } from '@mixins/avic/pt/BaseTableListMixin';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_PERSONGROUP';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/appsys/console/customed';
// 表格主键字段
let rowKey = 'id';
let dataIndex = ['action'];
let pageSettingData = [
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: true,
    title: '群组名称',
    dataIndex: 'sysGroupName',
    headerClassName: 'required-table-title',
    scopedSlots: { customRender: 'sysGroupName' },
    isSearch: true,
    type: 'input',
    placeholder: '请输入群组名称',
    isCanEdit: true
  },
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: true,
    title: '群组成员',
    dataIndex: 'sysUserId',
    dataIndexName: 'sysUserName',
    headerClassName: 'required-table-title',
    scopedSlots: { customRender: 'sysUserId' },
    type: 'commonselect',
    isCanEdit: true,
    placeholder: '请选择群组成员',
    controlType: 'userSelect',
    selectModel: 'multi',
    fieldLength: 200
    // width: 220
  },
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: true,
    title: '操作',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' },
    fixed: 'right',
    width: 100
  }
];
export default {
  name: 'PersonGroupManage',
  mixins: [baseTableMixin, baseTableListMixin],
  data() {
    return {
      tableStyle: {
        // 行编辑表格的高度设置
        height: '380px',
      },
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      rowKey, // 表格主键字段
      dataIndex,
      pageSettingData, // 页面数据配置
      tableRefName: 'BaseTable', // 表格ref名称
      saveParam: {
        // 保存请求接口
        url: requestPublicUrl + '/insertOrUpdatePersonalGroupList/v1',
        method: 'post'
      },
      delParam: {
        // 删除请求接口
        url: requestPublicUrl + '/deletePersonalGroupList/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/getPersonalGroupListByPage/v1',
        parameter: {
          pageParameter: {
            page: parseInt(this.page), // 页数
            rows: this.rows // 每页条数
          }
        },
        method: 'post'
      };
    }
  },
  mounted() {
    /**
     * 进入页面,加载表格数据
     */
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    /**
     * 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
     */
    menuRefresh() {
      this.menuRefreshReset();
    },
    /**
     * 利用表格组件暴露出的方法getData, 接收表格组件请求回的数据并处理
     * @param obj 形式: {data: data}
     */
    getData(obj) {
      if (obj.data && obj.data.rows && obj.data.rows.length > 0) {
        this.dataRecord = JSON.parse(JSON.stringify(obj.data.rows)); // 深拷贝data,记录刷新得到的数据,用于识别是否有编辑项
        this.data = JSON.parse(JSON.stringify(obj.data.rows)); // 渲染表格
      } else {
        this.dataRecord = [];
        this.data = [];
      }
      this.hasTableDataChanged = false;
    },
    /**
     * 校验规则
     */
    setCheckArray() {
      // 校验规则设置:
      // id: 字段英文名;
      // name: 字段中文名;
      // isRequired: 是否必填;
      // isCheckScript: 是否校验script非法字符;
      // isCheckMaxLength: 是否校验长度;
      // maxLength: 最大长度
      // isCheckAllSpace: 是否校验不能输入空格
      let checkArray = [
        {
          id: 'sysGroupName',
          name: '群组名称',
          isRequired: true,
          isCheckScript: true,
          isCheckMaxLength: true,
          maxLength: '120'
        },
        { id: 'sysUserName', name: '群组成员', isRequired: true }
      ];
      return checkArray;
    },
    /**
     * 点击添加按钮 校验通过才能添加下一行
     */
    handleAdd() {
      let checkArray = this.setCheckArray(); // 校验字段设置: 必填, 非法含有脚本标签, 最大长度
      this.handleAddOrSaveCheck(this.data, checkArray, () => {
        // 传设置参数进行校验
        // 关闭其他行的编辑状态
        this.data.map(item => {
          if (item._vue_editing) {
            item._vue_editing = false;
          }
        });
        // 校验通过,则添加一条带假id的数据
        this.count += 1;
        let newData = {
          id: this.newRowName + this.count,
          sysGroupName: '',
          sysUserName: '',
          _vue_editing: true
        };
        this.data = [newData, ...this.data];
      });
    },
    /**
     * 删除处理逻辑
     * @param {Object} params 形式: {refName: refName(表格refName), ids: ids(删除项id集合数组)}
     */
    handleDelete(params) {
      if (!params) return;
      if (params.param && params.param.ids.length == 0) {
        this.$message.warning('请选择要删除的数据！');
        return;
      }
      let _this = this;
      let newIdsArray = []; // 定义新添加项的id集合
      let ids = params.param.ids; // 选中项的id集合
      for (let i = 0; i < ids.length; i++) {
        // 获取新添加项的id集合
        if (ids[i].indexOf(_this.newRowName) != -1) {
          newIdsArray.push(ids[i]);
        }
      }
      if (newIdsArray.length === 0) {
        // 选中的均为编辑过的,直接请求后台删除
        // 询问是否删除,确定删除则删除
        Modal.confirm({
          title: '确认要删除选中的数据吗？',
          onOk: () => {
            _this.delLoading = true;
            httpAction(_this.delParam.url, ids, _this.delParam.method)
              .then(res => {
                if (res.success) {
                  // 刷新表格
                  _this.reloadData(false, params.refName, () => {
                    // 提示成功
                    _this.$message.success('删除个人群组成功！');
                    _this.delLoading = false;
                  });
                } else {
                  _this.delLoading = false;
                }
              })
              .catch(() => {
                _this.delLoading = false;
              });
          }
        });
      } else if (newIdsArray.length === ids.length) {
        // 选中的均为未保存项,前台直接删除
        // 询问是否删除,确定删除则删除
        Modal.confirm({
          title: '确定删除吗？',
          onOk: () => {
            this.delLoading = true;
            let dataSource = [...this.data];
            for (let i = 0; i < newIdsArray.length; i++) {
              dataSource = dataSource.filter(item => item[this.rowKey] != newIdsArray[i]);
            }
            // 清空表格选中项
            this.selectedRowKeys = [];
            this.$refs[this.tableRefName].changeSelectedRowKeys([]);
            // 前台刷新表格
            this.data = dataSource;
            // 提示成功
            this.$message.success('删除个人群组成功！');
            this.delLoading = false;
          }
        });
      } else if (newIdsArray.length < ids.length) {
        // 选中的既有未保存的,又有编辑过的,给出提示
        Modal.warning({
          title: '请确保上一条数据修改完毕！'
        });
      }
    }
  }
};
</script>

