<template>
  <div class="personal-info">
    <a-form :layout="formLayout" :form="form">
      <div class="basic-title">
        <span>个人信息</span>
      </div>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-col :span="24">
            <a-form-item
              label="真实姓名"
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
            >
              <a-input
                v-decorator="[
                  'name',
                  {
                    rules: [
                      { required: false, message: '请输入真实姓名！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 200)
                      }
                    ]
                  }
                ]"
                style="width: 65%"
                placeholder="平台管理员"
              />
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item
              label="英文名"
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
            >
              <a-input
                type="text"
                style="width: 65%"
                placeholder="请输入英文名称"
                v-decorator="[
                  'nameEn',
                  {
                    rules: [
                      { required: false, message: '请输入英文名称！' },
                      { pattern: /^[a-z A-Z]+$/, message: '请正确填写您的英文名!' },
                      { max: 50, message: '最多可以输入50个字符' }
                    ]
                  }
                ]"
              />
            </a-form-item>
          </a-col>

          <a-col :span="24">
            <a-form-item
              label="性别"
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
            >
              <a-radio-group v-decorator="['sex']">
                <a-radio value="1">男</a-radio>
                <a-radio value="2">女</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
          <div class="basic-title">
            <span>联系方式</span>
          </div>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            label="头像"
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
          >
            <a-upload
              name="avatar"
              list-type="picture-card"
              class="avatar-uploader"
              :show-upload-list="false"
              :action="upload.url"
              :headers="upload.headers"
              :before-upload="beforeUpload"
              @change="handleChange"
            >
              <img v-if="imageUrl" :src="imageUrl" class="user-avatar" alt="avatar" />
              <div v-else>
                <a-icon :type="loading ? 'loading' : 'plus'" />
                <div class="ant-upload-text">Upload</div>
              </div>
            </a-upload>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            label="手机号码"
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
          >
            <a-input
              type="text"
              style="width: 65%"
              placeholder="请输入手机号码"
              v-decorator="[
                'mobile',
                {
                  rules: [
                    { required: false },
                    {
                      pattern: /^((\+|00)86)?1((3[\d])|(4[5,6,7,9])|(5[0-3,5-9])|(6[5-7])|(7[0-8])|(8[\d])|(9[1,8,9]))\d{8}$/,
                      message: '请正确填写您的手机号码!'
                    },
                    { max: 50, message: '最多可以输入50个字符' }
                  ]
                }
              ]"
            />
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            label="家庭电话"
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
          >
            <a-input
              type="text"
              style="width: 65%"
              placeholder="请填写家庭电话"
              v-decorator="[
                'homeTel',
                {
                  rules: [
                    { required: false, message: '请填写家庭电话！' },

                    { max: 50, message: '最多可以输入50个字符' }
                  ]
                }
              ]"
            />
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="邮箱地址"
          >
            <a-input
              v-decorator="[
                'email',
                {
                  rules: [
                    { required: false, message: '请填写邮箱地址！' },
                    {
                      pattern: /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
                      message: '请正确填写您的邮箱地址!'
                    },
                    {
                      validator: (rule, value, callback) =>
                        validateInputMaxlength(rule, value, callback, 50)
                    }
                  ]
                }
              ]"
              style="width: 65%"
              placeholder="请填写邮箱地址"
            />
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            label="办公电话"
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
          >
            <a-input
              type="text"
              style="width: 65%"
              placeholder="请填写办公电话"
              v-decorator="[
                'officeTel',
                {
                  rules: [
                    { required: false, message: '请输入英文名' },
                    { max: 50, message: '最多可以输入50个字符' }
                  ]
                }
              ]"
            />
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            label="传真"
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
          >
            <a-input
              type="text"
              style="width: 25%"
              placeholder="请填写您的电话号码"
              v-decorator="[
                'fax',
                {
                  rules: [{ required: false }, { max: 50, message: '最多可以输入50个字符' }]
                }
              ]"
            />
          </a-form-item>
        </a-col>
        <a-col v-bind="{ xs: 24, sm: 24, lg: 24, xl: 24 }">
          <a-form-item
            label="家庭住址"
            :label-col="{ xs: 4, sm: 4, lg: 4, xl: 4 }"
            :wrapper-col="{ xs: 20, sm: 20, lg: 20, xl: 20 }"
          >
            <a-input
              type="text"
              style="width: 87%"
              placeholder="请填写家庭地址"
              v-decorator="[
                'homeAddress',
                { rules: [{ required: false }, { max: 100, message: '最多可以输入100个字符' }] }
              ]"
            />
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
    <a-row>
      <a-col :offset="4">
        <a-button type="primary" @click="handleSave"> 保存 </a-button>
        <a-button title="重置" @click="cancelPersonalInfo">重置</a-button>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import Vue from 'vue';
import { Form, Input, Radio, Upload, Icon } from 'ant-design-vue';
import { ACCESS_TOKEN, MICRO_SERVICE_TOKEN } from '@/store/mutationTypes';
import { formColLayout } from '@utils/avic/layout/baseMouldStyles';
import '@assets/styles/common/base-form.less';
import { validateInputMaxlength } from '@utils/avic/common/validate';
import { httpAction } from '@api/manage';
import { mapGetters } from 'vuex';
import moment from 'moment';
import isEqual from 'lodash.isequal';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';

// let avatarPath = '/user/';

function getBase64(img, callback) {
  const reader = new FileReader();
  reader.addEventListener('load', () => callback(reader.result));
  reader.readAsDataURL(img);
}

let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'name',
    type: 'input'
  },
  {
    dataIndex: 'sex',
    type: 'radio'
  },
  {
    dataIndex: 'nameEn',
    type: 'input'
  },
  {
    dataIndex: 'email',
    type: 'input'
  },
  {
    dataIndex: 'mobile',
    type: 'input'
  },
  {
    dataIndex: 'homeAddress',
    type: 'input'
  },
  {
    dataIndex: 'homeTel',
    type: 'input'
  },
  {
    dataIndex: 'officeTel',
    type: 'input'
  },
  {
    dataIndex: 'fax',
    type: 'input'
  }
];

export default {
  name: 'PersonalInfo',
  components: {
    AForm: Form,
    AInput: Input,
    ARadio: Radio,
    AUpload: Upload,
    AIcon: Icon
  },
  data() {
    return {
      initFormData: {}, // 记录的表单初始化数据
      oldFormData: {}, // 记录的旧的表单数据
      formLayout: 'horizontal',
      form: this.$form.createForm(this),
      formColLayout: formColLayout('2'), // 调用布局公共方法
      loading: false,
      imageUrl: '',
      modalFormData,
      upload: {
        url: '/api/appsys/user/user/photo/upload',
        headers: {
          'X-Access-Token': Vue.ls.get(ACCESS_TOKEN)
        }
      }
    };
  },
  created() {
    this.getAvatar();
  },
  mounted() {
    let that = this;
    httpAction('/api/appsys/user/user/info', '', 'get') // 请求数据
      .then(res => {
        if (res.success) {
          // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
          let data = new Object();
          for (let i = 0; i < this.modalFormData.length; i++) {
            data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
          }
          // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
          let newData = new Object();
          for (let key in data) {
            if (data[key] !== null && data[key] !== '') {
              newData[key] = data[key];
            }
          }
          // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
          for (let key in newData) {
            for (let i = 0; i < that.modalFormData.length; i++) {
              if (
                (that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'date') ||
                (that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'datetime')
              ) {
                newData[key] = moment(data[key]);
              } else if (
                that.modalFormData[i].dataIndex === key &&
                that.modalFormData[i].type === 'checkbox'
              ) {
                newData[key] = data[key].split(';');
              } else if (
                that.modalFormData[i].dataIndex === key &&
                that.modalFormData[i].type === 'commonselect'
              ) {
                newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
              }
            }
          }
          this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
          this.$nextTick(() => {
            this.isDataChange = false;
            this.initFormData = this.form.getFieldsValue(); // 记录表单初始化数据
          });
        }
      });
  },
  methods: {
    ...mapGetters(['avatar', ['userInfo']]),
    validateInputMaxlength,
    requestMethod() {
      // httpAction(url, params, method).then(res => {});
    },
    handleChange(info) {
      if (info.file.status === 'uploading') {
        this.loading = true;
        return;
      }
      if (info.file.status === 'done') {
        // Get this url from response in real world.
        getBase64(info.file.originFileObj, imageUrl => {
          this.imageUrl = imageUrl;
          this.loading = false;
        });
      }
    },
    beforeUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      if (!isJPG) {
        this.$message.error('You can only upload JPG file!');
      }
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error('Image must smaller than 2MB!');
      }
      return isJPG && isLt2M;
    },
    /* 获取头像地址 */
    getTokenAvatar(url) {
      let xmlhttp;
      let that = this;
      xmlhttp = new XMLHttpRequest();
      xmlhttp.open('GET', url, true);
      xmlhttp.responseType = 'arraybuffer';
      xmlhttp.setRequestHeader('X-Access-Token', Vue.ls.get(ACCESS_TOKEN)); //该处加上你当前的token

      if (Vue.ls.get(MICRO_SERVICE_TOKEN)) {
        xmlhttp.setRequestHeader('x-kong-api-key', 'bearer ' + Vue.ls.get(MICRO_SERVICE_TOKEN));
      }
      xmlhttp.onload = function () {
        let xml = this;
        if (xml.status == 200) {
          that.imageUrl =
            'data:image/png;base64,' +
            btoa(
              new Uint8Array(xml.response).reduce(
                (data, byte) => data + String.fromCharCode(byte),
                ''
              )
            );
        } else {
          that.imageUrl = '/assets/images/common/defaultavatar.png';
        }
      };
      xmlhttp.send();
    },
    getAvatar() {
      let that = this;
      if (that.avatar()) {
        return that.getTokenAvatar(window._CONFIG['domainURL'] + that.avatar());
      } else {
        that.imageUrl = '/assets/images/common/defaultavatar.png';
      }
    },
    reloadList() {
      // TODO 实现校验、保存等逻辑
      this.$message.success('保存成功！');
      this.$emit('success');
    },
    handleSave() {
      let that = this;
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          let newValues = formDataPretreatment(values, this.modalFormData);
          httpAction('/api/appsys/user/user/update', newValues, 'post')
            .then(res => {
              if (res.success) {
                that.reloadList();
                // 保存成功后，记录下表单数据
                that.oldFormData = that.form.getFieldsValue();
              } else {
                this.$emit('error');
              }
            })
            .catch(() => {});
        }
      });
    },
    cancelPersonalInfo() {
      let newFormData = this.form.getFieldsValue();
      if (!isEqual(newFormData, this.initFormData) || !isEqual(newFormData, this.oldFormData)) {
        this.form.setFieldsValue(this.initFormData);
      }
    }
  }
};
</script>

<style lang="less">
.personal-info {
  .user-avatar {
    border-style: none;
    width: 60px;
    height: 60px;
  }
}
//头像上传
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.personal-info-content {
  height: 100%;
  overflow-y: auto;
  padding-right: 16px;
}

.personal-info .ant-form .ant-form-item-label {
  line-height: 28px;
}
.personal-info .ant-form .ant-form-item-control {
  line-height: 28px;
}
</style>
