<template>
  <div class="user-content">
    <div class="user-title">个人设置</div>
    <div class="user-menu">
      <a-tabs v-model="activeKey" :tab-position="tabPosition">
        <a-tab-pane key="1" tab="基本信息"><PersonalInfo /></a-tab-pane>
        <a-tab-pane key="2" tab="修改密码"><ChangePwd /></a-tab-pane>
        <a-tab-pane key="3" tab="切换组织"><ChangeMultiOrg /></a-tab-pane>
        <a-tab-pane key="4" tab="个人群组"><PersonGroupManage /></a-tab-pane>
        <a-tab-pane key="5" tab="常用意见"><ApprovalOptionManage /></a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>
<script>
import { Tooltip, Tag, Icon } from 'ant-design-vue';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import { mixin, mixinDevice } from '@/utils/avic/layout/mixin.js';

import PersonalInfo from '@views/avic/pt/system/personalSetting/PersonalInfo';
import ChangePwd from '@views/avic/pt/system/personalSetting/ChangePwd';
import ChangeMultiOrg from '@views/avic/pt/system/personalSetting/ChangeMultiOrg';
import PersonGroupManage from '@views/avic/pt/system/personalSetting/PersonGroupManage';
import ApprovalOptionManage from '@views/avic/pt/system/personalSetting/ApprovalOptionManage';
const LAYOUT_MODE = 'LAYOUT_MODE';
const SKIN_COLOR = 'SKIN_COLOR';
export default {
  name: 'UserSetting',
  components: {
    ATooltip: Tooltip,
    ATag: Tag,
    AIcon: Icon,
    PersonalInfo,
    ChangePwd,
    ChangeMultiOrg,
    PersonGroupManage,
    ApprovalOptionManage
  },
  mixins: [mixin, mixinDevice, menuRefreshMixin],
  data() {
    return {
      activeKey: '1',
      tabPosition: 'left',
      // 功能实现
      curLayoutMode: '' //当前选中的导航样式
    };
  },
  beforeRouteUpdate(to, from, next) {
    this.activeKey = to.params.tags;
    next();
  },
  created() {
    this.activeKey = this.$route.params.tags;
  },
  methods: {
  }
};
</script>
<style lang="less">
// scoped 作用域
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.user-content {
  background: #fff;
  border-radius: 2px;
  padding: 10px;
  .user-title {
    padding-left: 26px;
    line-height: 46px;
    color: #000;
    border-bottom: solid 1px #dedede;
  }
  // 个人设置
  .ant-tabs-bar {
    width: 156px;
    margin-top: 20px;
  }
  .basic-title{
    line-height: 5.5;
    span{
      margin-left: 80px;
      line-height: 36px;
    }
  }
  .register,
  .register ul {
    overflow: hidden;
    width: 800px;
    padding: 0;
  }
  .register ul li {
    float: left;
    // margin-top: 22px;
    width: 290px;
    height: 28px;
    list-style: none;
    margin: 12px 50px;
  }
  .register ul .address {
    width: 680px;
  }
  .register ul li p {
    float: left;
    width: 60px;
    margin-right: 8px;
    line-height: 28px;
    font-size: 12px;
    color: #666;
    text-align: right;
  }
  .ant-input {
    width: 350px;
    float: left;
    border: solid 1px #e8e8e8;
    border-radius: 1px;
    font-size: 12px;
    color: #666;
    line-height: 28px;
    height: 28px;
  }
  .ant-tabs .ant-tabs-left-content {
    padding-left: 0;
  }
  .ant-radio-wrapper {
    margin-top: 5px;
    font-size: 12px;
  }
  .ant-radio,
  .ant-radio-inner {
    height: 14px;
    width: 14px;
  }
  .ant-radio-inner::after {
    width: 6px;
    height: 6px;
  }
  .photo p {
    float: left;
    width: 112px;
    margin-right: 8px;
    line-height: 28px;
    font-size: 12px;
    color: #666;
    text-align: right;
  }
  // .ant-upload-picture-card-wrapper {
  //   width: 60px;
  //   float: left;
  // }
  .avatar-uploader > .ant-upload {
    width: 60px;
    height: 60px;
  }
  .ant-upload-select-picture-card i {
    font-size: 20px;
    color: #999;
  }

  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
  .press-button {
    margin-left: 116px;
  }

  .ant-btn {
    padding: 0 16px;
    //border-radius: 3px;
    height: 28px;
    font-size: 12px;
    margin: 10px 10px 10px 0;
    color: #a0a2a2;
  }
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background: #1890ff;
    color: #fff;
  }
  .ant-btn-primary {
    color: #fff;
  }
  .ant-select-selection--single {
    height: 28px;
    border-radius: 1px;
  }
  .ant-select-selection__rendered {
    line-height: 26px;
  }
  .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selection:hover {
    border-color: #1182fa;
  }
  .ant-form-item-label{
    line-height: 28px;
  }
  .ant-form-item-control{
    line-height: 28px;
  }
  .ant-form-item-with-help {
    margin-bottom: 1px;
  }
  .ant-form-explain {
    min-height: 24px !important;
  }
  .avatar-uploader > .ant-upload {
    width: 76px;
    height: 76px;
  }
  .surface-tools-bar .opt-icon.anticon {
    margin: 5px 5px 15px;
  }
  .ant-table .editable-cell-input-wrapper .ant-input {
    height: 28px;
    min-height: 28px;
    font-size: 12px;
    width: 100%;
  }
}
.setting-drawer-theme-color-colorBlockCopy {
  width: 64px;
  height: 40px;
  border-radius: 3px;
  float: left;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
  margin: 20px 30px 4px 0;
  border: 0;

  i {
    font-size: 14px;
    line-height: 28px;
  }
}
.setting-drawer-index-blockChecboxCopy {
  // display: flex;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 36px;
  border: 0;
  .setting-drawer-index-item {
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    margin: 0 0 10px 30px;
    img {
      width: 124px;
      height: 94px;
    }
    .check {
      position: absolute;
      top: 46px;
      left: 58px;
    }
  }
  .setting-drawer-index-item:nth-child(4) {
    margin-right: 0;
  }
}
.theme-active {
  border: 1px solid #1182fa;
}
</style>
