<template>
  <a-modal
    v-model="showModal"
    class="relative-process-modal"
    :title="modalTitle"
    :body-style="{ padding: '12px 24px 24px 24px', height: modalBodyHeight }"
    :footer="null"
    :centered="true"
    :after-close="afterClose"
    :width="1024"
  >
    <div class="modal-action">
      <div class="action-buttons">
        <a-button class="action-button" type="primary" icon="folder-add" @click="handleAdd">
          添加
        </a-button>
        <AvicDelete
          v-if="isShowDelete"
          class="action-button"
          :loading="delLoading"
          @click-confirm="handleDelete"
        />
      </div>
      <div class="action-search">
        <a-input-search
          v-model="keyword"
          placeholder="请输入流程名称"
          style="width: 200px"
          @search="handleSearch"
        />
      </div>
    </div>
    <div class="modal-content">
      <a-table
        :columns="columns"
        :data-source="processList"
        row-key="dbId"
        :loading="loadingProcess"
        :row-selection="rowSelection"
        :pagination="false"
        :scroll="{ y: parseInt(modalBodyHeight) - 114 }"
        size="small"
      >
        <template slot="name" slot-scope="text, record">
          <a href="javascript:;" @click="toFlowDetail(record)">{{ text }}</a>
        </template>
        <template slot="time" slot-scope="text">{{ text | dateTimeFilter }}</template>
        <template slot="businessState" slot-scope="text">{{ text | processStateFilter }}</template>
      </a-table>
    </div>
    <RelationProcessModal
      v-if="showRelationProcessModal"
      :procinst-dbid="procinstDbid"
      @close="showRelationProcessModal = false"
      @saveSuccess="saveRelationProcessSuccess"
    />
    <AvicBpmDetailList />
  </a-modal>
</template>
<script>
import { Modal, Button, Input, Table } from 'ant-design-vue';
import AvicDelete from '@comp/avic/pt/common/AvicButtons/AvicDelete';
import RelationProcessModal from '@comp/avic/bpm/AvicBpmButtonsModal/RelativeProcessList/RelationProcessModal';
import AvicBpmDetailList from '@/components/avic/bpm/AvicBpmDetailList';
import moment from 'moment';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';

const columns = [
  {
    title: '关联流程名称',
    dataIndex: 'name',
    scopedSlots: { customRender: 'name' },
    width: '20%'
  },
  {
    title: '申请时间',
    dataIndex: 'time',
    scopedSlots: { customRender: 'time' },
    width: '18%'
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    scopedSlots: { customRender: 'businessState' },
    width: '10%'
  },
  {
    title: '处理人',
    dataIndex: 'assigneeName'
  },
  {
    title: '维护人',
    dataIndex: 'attribute01'
  },
  {
    title: '维护时间',
    dataIndex: 'attribute02',
    width: '20%'
  }
];
export default {
  name: 'RelativeProcessList',
  components: {
    AModal: Modal,
    AButton: Button,
    AInputSearch: Input.Search,
    ATable: Table,
    AvicDelete,
    RelationProcessModal,
    AvicBpmDetailList
  },
  filters: {
    processStateFilter(val) {
      let res = '其他';
      if (val === 'ended') {
        res = '已完成';
      } else if (val === 'start') {
        res = '拟稿中';
      } else if (val === 'active') {
        res = '流转中';
      }
      return res;
    },
    dateTimeFilter(val) {
      return moment(val).format('YYYY-MM-DD HH:mm:ss');
    }
  },
  props: {
    procinstDbid: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      modalTitle: '相关流程',
      modalBodyHeight: '380px',
      showModal: true,
      showRelationProcessModal: false,
      loadingProcess: true,
      delLoading: false,
      keyword: '',
      columns,
      processList: [],
      selectedRowKeys: [],
      httpConfig: {
        getRelativeProcess: {
          url: bpmUtils.baseurl + '/business/related/relatedData/v1',
          method: 'post'
        },
        saveRelativeProcess: {
          url: bpmUtils.baseurl + '/business/related/relatedSaveData/v1',
          method: 'post'
        },
        deleteRelativeProcess: {
          url: bpmUtils.baseurl + '/business/related/relatedDelData/v1',
          method: 'post'
        }
      }
    };
  },
  computed: {
    isShowDelete() {
      return this.selectedRowKeys.length > 0;
    },
    rowSelection() {
      return {
        selectedRowKeys: this.selectedRowKeys,
        onChange: selectedRowKeys => {
          this.selectedRowKeys = selectedRowKeys;
        }
      };
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      this.loadingProcess = true;
      this.selectedRowKeys = [];
      let param = { data: this.keyword, pid: this.procinstDbid };
      httpAction(
        this.httpConfig.getRelativeProcess.url,
        param,
        this.httpConfig.getRelativeProcess.method
      )
        .then(res => {
          if (res.success) {
            this.processList = res.result.rows;
          }
          this.loadingProcess = false;
        })
        .catch(() => {
          this.loadingProcess = false;
        });
    },
    handleAdd() {
      this.showRelationProcessModal = true;
    },
    saveRelationProcessSuccess() {
      this.showRelationProcessModal = false;
      this.$message.success('添加相关流程成功');
      this.loadData();
    },
    handleDelete() {
      this.delLoading = true;
      let param = {
        ids: this.selectedRowKeys.toString()
      };
      httpAction(
        this.httpConfig.deleteRelativeProcess.url,
        param,
        this.httpConfig.deleteRelativeProcess.method
      )
        .then(res => {
          if (res.success) {
            this.loadData();
          }
          this.delLoading = false;
        })
        .catch(() => {
          this.delLoading = false;
          this.loadData();
        });
    },
    handleSearch() {
      this.loadData();
    },
    afterClose() {
      this.$emit('close');
    },
    toFlowDetail(row) {
      bpmUtils
        .detail(row.entryId2)
        .then(() => {})
        .catch(() => {
          this.$message.error('打开流程详情失败!');
        });
    }
  }
};
</script>
<style lang="less">
.relative-process-modal {
  .modal-action {
    width: 100%;
    height: 40px;

    .action-buttons {
      float: left;
      .action-button {
        margin-right: 12px;
      }
    }
    .action-search {
      float: right;
    }
  }
  .modal-content {
    .ant-table-header {
      overflow: hidden;
    }
  }
}
</style>
