<template>
  <a-modal
    v-model="showModal"
    class="relative-process-modal"
    :title="modalTitle"
    :body-style="{ padding: '0', height: modalBodyHeight, position: 'relative' }"
    :centered="true"
    :width="1024"
    :after-close="handleClose"
  >
    <template slot="footer">
      <a-button type="primary" :loading="loadingSave" @click="handleSave">保存</a-button>
      <a-button @click="handleClose">返回</a-button>
    </template>
    <ProcessTreeTable @selectProcess="selectProcess" />
  </a-modal>
</template>
<script>
import { Modal, Button } from 'ant-design-vue';
import ProcessTreeTable from '@comp/avic/bpm/AvicBpmButtonsModal/ProcessTreeTable';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
export default {
  name: 'RelationProcessModal',
  components: {
    AModal: Modal,
    AButton: Button,
    ProcessTreeTable
  },
  props: {
    procinstDbid: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      modalBodyHeight: '448px',
      showModal: true,
      modalTitle: '添加相关流程',
      loadingSave: false,
      processList: [],
      httpConfig: {
        saveRelativeProcess: {
          url: bpmUtils.baseurl + '/business/related/relatedSaveData/v1',
          method: 'post'
        }
      }
    };
  },
  methods: {
    selectProcess(data) {
      this.processList = data;
    },
    handleSave() {
      if (!this.processList || this.processList.length === 0) {
        this.$message.warning('请选择至少一项流程');
        return;
      }
      this.loadingSave = true;
      let ids = [];
      this.processList.map(item => {
        ids.push(item.dbId);
      });
      if (ids.indexOf(this.procinstDbid) > -1) {
        this.$message.error('选择的相关流程不能是当前流程实例！');
        this.loadingSave = false;
        return;
      }
      let param = { dbid1: this.procinstDbid, dbid2: ids.toString() };
      httpAction(
        this.httpConfig.saveRelativeProcess.url,
        param,
        this.httpConfig.saveRelativeProcess.method
      )
        .then(res => {
          if (res.success) {
            this.$emit('saveSuccess');
          }
          this.loadingSave = false;
        })
        .catch(() => {
          this.loadingSave = false;
        });
    },
    handleClose() {
      this.$emit('close');
    }
  }
};
</script>
