<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>AVIC-DIGITAL-V6</title>
  <link rel="icon" href="<%= htmlWebpackPlugin.options.BASE_URL %>favicon.ico">
  <style>
    html,
    body,
    #app {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #loaderWrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 1030;
    }

    .loaded #loaderWrapper {
      visibility: hidden;
      -webkit-transform: translateY(-100%);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateY(-100%);
      /* IE 9 */
      transform: translateY(-100%);
      /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.3s 1s ease-out;
      transition: all 0.3s 1s ease-out;
    }

    /* loading效果 */
    #preloader {
      position: fixed;
      top: 38%;
      left: 48%;
    }

    .loading-box {
      padding: 10px 15px;
      margin-bottom: 15px;
      border-radius: 4px;
      background-color: #fff;
    }

    .square-gradient {
      position: relative;
      width: 60px;
      height: 75px;
    }

    .square-gradient .gradient {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 0;
      background-color: #41adef;
      display: block;
    }

    .square-gradient .gradient:nth-child(1) {
      left: 0;
      top: 0;
      animation: a-gradient 1s infinite linear;
    }

    @keyframes a-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(0.6);
      }

      40% {
        transform: scale(0.4);
      }

      60% {
        transform: scale(0.2);
      }

      80% {
        transform: scale(0.6);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(2) {
      left: 20px;
      top: 0;
      animation: b-gradient 1s infinite linear;
    }

    @keyframes b-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(0.6);
      }

      60% {
        transform: scale(0.2);
      }

      80% {
        transform: scale(0.8);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(3) {
      left: 40px;
      top: 0;
      animation: c-gradient 1s infinite linear;
    }

    @keyframes c-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      60% {
        transform: scale(0.6);
      }

      80% {
        transform: scale(0.2);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(4) {
      left: 0;
      top: 20px;
      animation: d-gradient 1s infinite linear;
    }

    @keyframes d-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(0.6);
      }

      60% {
        transform: scale(0.2);
      }

      80% {
        transform: scale(0.8);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(5) {
      left: 20px;
      top: 20px;
      animation: e-gradient 1s infinite linear;
    }

    @keyframes e-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      60% {
        transform: scale(0.6);
      }

      80% {
        transform: scale(0.2);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(6) {
      left: 40px;
      top: 20px;
      animation: f-gradient 1s infinite linear;
    }

    @keyframes f-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      60% {
        transform: scale(1);
      }

      80% {
        transform: scale(0.2);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(7) {
      left: 0;
      top: 40px;
      animation: g-gradient 1s infinite linear;
    }

    @keyframes g-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      60% {
        transform: scale(0.6);
      }

      80% {
        transform: scale(0.2);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(8) {
      left: 20px;
      top: 40px;
      animation: h-gradient 1s infinite linear;
    }

    @keyframes h-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      60% {
        transform: scale(1);
      }

      80% {
        transform: scale(0.2);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(9) {
      left: 40px;
      top: 40px;
      animation: i-gradient 1s infinite linear;
    }

    @keyframes i-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      50% {
        transform: scale(1);
      }

      60% {
        transform: scale(1);
      }

      70% {
        transform: scale(1);
      }

      80% {
        transform: scale(1);
      }

      90% {
        transform: scale(0.5);
      }

      100% {
        transform: scale(1);
      }
    }

    .square-gradient .gradient:nth-child(10) {
      left: 60px;
      top: 40px;
      animation: j-gradient 1s infinite linear;
    }

    @keyframes j-gradient {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      60% {
        transform: scale(1);
      }

      80% {
        transform: scale(0.2);
      }

      100% {
        transform: scale(1);
      }
    }

    /* JavaScript Turned Off */
    .no-js #loaderWrapper {
      display: none;
    }

    .no-js h1 {
      color: #222;
    }

    #loaderWrapper .load-title {
      font-family: 'Open Sans';
      color: #FFF;
      font-size: 14px;
      width: 100%;
      text-align: center;
      z-index: 9999999999999;
      position: absolute;
      top: 60%;
      opacity: 1;
      line-height: 30px;
    }

    #loaderWrapper .load-title span {
      font-weight: normal;
      font-style: italic;
      font-size: 14px;
      color: #FFF;
      opacity: 0.5;
    }
  </style>

  <!-- 全局配置 -->
  <script>
    window._CONFIG = {};
    window._CONFIG['permissionChangeAlert'] = false;
    window._CONFIG['domainURL'] = '<%= htmlWebpackPlugin.options.domainURL %>';
    window._CONFIG['kongConfig'] = {
      client_id: 'portal-vue_20200721175906',
      client_secret: '8a69df75739328e80173a3b0ba590545',
      grant_type: 'password',
      provision_key: 'IcrO3rMo6P6Dte47ZnLczN8ltyjT89pr',
      authenticated_userid: 'portal'
    };
    window._CONFIG['microServicePermissionURL'] = '';
    // window._CONFIG['microServicePermissionURL'] = '/kongadmin/oauth2/token';
    window._CONFIG['imgDomainURL'] = 'http://localhost:8080/sys/common/view';
  </script>
</head>

<body id="bodyThem">
  <div id="loaderWrapper">
    <div id="preloader">
      <!--      <img src="<%= htmlWebpackPlugin.options.BASE_URL %>avic-loading-slow.gif" style="width: 120px;height: 150px;">-->
      <div class="square">
        <div class="loading-box">
          <div class="square-gradient">
            <i class="gradient"></i>
            <i class="gradient"></i>
            <i class="gradient"></i>
            <i class="gradient"></i>
            <i class="gradient"></i>
            <i class="gradient"></i>
            <i class="gradient"></i>
            <i class="gradient"></i>
            <i class="gradient"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="app">
  </div>
</body>
</html>