/* 原加载样式隐藏 Start */
.vxe-grid.is--loading::before {
  background-color: transparent;
}
.vxe-grid.is--loading > .vxe-table .vxe-loading {
  background-color: transparent;
}
.vxe-loading .vxe-loading--spinner::before,
.vxe-loading .vxe-loading--spinner::after {
  animation: none;
  display: none;
}
/* 原加载样式隐藏 End */
/* 加了spin组件后表格高度传递 Start */
.my-table-wrap .ant-spin-nested-loading,
.my-table-wrap .ant-spin-nested-loading .ant-spin-container {
  height: 100%;
}
/* 加了spin组件后表格高度传递 End */
/* 背景色 Start */
.vxe-table .vxe-table--header-wrapper {
  background-color: #f2f2f2;
}
.vxe-table.column--highlight .vxe-header--column:not(.col--seq):hover {
  background-color: #f3f3f3;
}
.vxe-table .vxe-body--row {
  background-color: #fff;
}
.vxe-table .vxe-body--row.row--stripe {
  background-color: #fbfbfb;
}
/* 背景色 End */
/* 表格复选框样式 Start */
.vxe-table .vxe-cell--checkbox .vxe-checkbox--icon::before {
  border-width: 1px;
}
.vxe-table .is--indeterminate.vxe-cell--checkbox .vxe-checkbox--icon::before {
  background-color: #fff;
  border-color: #e8e8e8;
}
.vxe-table .vxe-cell--checkbox .vxe-checkbox--indeterminate-icon::after {
  width: 8px;
  height: 8px;
}
.vxe-table .vxe-cell--checkbox .vxe-checkbox--checked-icon::after {
  width: 6px;
  height: 9px;
  top: 45%;
}
/* 表格复选框样式 End */
/* 表格单选框样式 Start */
.vxe-table .vxe-cell--radio .vxe-radio--icon::before {
  border-width: 1px;
}
.vxe-table .is--checked.vxe-cell--radio .vxe-radio--checked-icon::before {
  background-color: #fff;
}
.vxe-table .vxe-cell--radio .vxe-radio--checked-icon::after {
  height: 8px;
  width: 8px;
  top: 4px;
  left: 4px;
}
.vxe-table .is--checked.vxe-cell--radio .vxe-radio--checked-icon::after {
  transform: scale(0.875);
}
/* 表格单选框样式 End */
/* 复选框单选框尺寸 Start */
.vxe-table .vxe-cell--checkbox,
.vxe-table .vxe-cell--radio {
  padding-left: 16px;
}
.vxe-table .vxe-cell--checkbox .vxe-checkbox--icon,
.vxe-table .vxe-cell--radio .vxe-radio--icon {
  font-size: 16px !important;
  top: 0;
}
/* 复选框单选框尺寸 End */
/* 弹窗里的表格的tooltip被遮挡问题修复 Start */
.vxe-table--tooltip-wrapper {
  z-index: 1001 !important;
}
/* 弹窗里的表格的tooltip被遮挡问题修复 End */

/* 表格尺寸 Start */
/* 紧凑(34px 30px   font-size:12px;) */
@base-table-smallsize-line-height-th: 40px;
@base-table-smallsize-line-height-td: 30px;
@base-table-smallsize-font-size: 12px;
/* 中等(40px 36px   font-size:12px;) */
@base-table-middlesize-line-height-th: 40px;
@base-table-middlesize-line-height-td: 36px;
@base-table-middlesize-font-size: 12px;
/* 宽松（48px 42px    font-size:14px;） */
@base-table-largesize-line-height-th: 40px;
@base-table-largesize-line-height-td: 42px;
@base-table-largesize-font-size: 12px;

.vxe-table.size--small .vxe-header--column.col--ellipsis {
  height: @base-table-middlesize-line-height-th;
  font-size: @base-table-middlesize-font-size;
}
.vxe-table.size--small .vxe-body--column.col--ellipsis,
.vxe-table.size--small .vxe-footer--column.col--ellipsis,
.vxe-table.vxe-editable.size--small .vxe-body--column {
  height: @base-table-middlesize-line-height-td;
  font-size: @base-table-middlesize-font-size;
}
.vxe-table.size--mini .vxe-header--column.col--ellipsis {
  height: @base-table-smallsize-line-height-th;
  font-size: @base-table-smallsize-font-size;
}
.vxe-table.size--mini .vxe-body--column.col--ellipsis,
.vxe-table.size--mini .vxe-footer--column.col--ellipsis,
.vxe-table.vxe-editable.size--mini .vxe-body--column {
  height: @base-table-smallsize-line-height-td;
  font-size: @base-table-smallsize-font-size;
}
.vxe-table.size--medium .vxe-header--column.col--ellipsis {
  height: @base-table-largesize-line-height-th;
  font-size: @base-table-largesize-font-size;
}
.vxe-table.size--medium .vxe-body--column.col--ellipsis,
.vxe-table.size--medium .vxe-footer--column.col--ellipsis,
.vxe-table.vxe-editable.size--medium .vxe-body--column {
  height: @base-table-largesize-line-height-td;
  font-size: @base-table-largesize-font-size;
}

/* 行编辑样式调整 Start */
.vxe-cell .ant-calendar-picker {
  min-width: 0 !important;
}
.vxe-cell textarea {
  z-index: 1;
  height: 32px;
}
/* 行编辑样式调整 End */
/* 表头添加红色星号表示必填 Start */
.vxe-table--header th.required-table-title .vxe-cell--title::before {
  content: '*';
  color: red;
  display: inline;
}
/* 表头添加红色星号表示必填 End */
/* 行编辑多选框样式修复 Start */
.vxe-cell .ant-select-selection--multiple {
  padding-bottom: 0;
}
/* 行编辑多选框样式修复 End */
// @media screen and (max-height: 768px) {
//   .vxe-table .ant-select-selection__rendered {
//     line-height: 28px;
//   }
//   @table-row-height: 32px;
//   @table-header-footer-height: 38px;
//   /* 列显隐图标位置 */
//   .column-setting-icon {
//     top: -25px;
//   }
//   /* 表格行高 */
//   .vxe-table.size--mini .vxe-body--column.col--ellipsis,
//   .vxe-table.vxe-editable.size--mini .vxe-body--column {
//     height: @table-row-height;
//   }
//   .vxe-table.size--mini .vxe-footer--column.col--ellipsis,
//   .vxe-table.size--mini .vxe-header--column.col--ellipsis {
//     height: @table-header-footer-height;
//   }

//   /* 行编辑控件高度 */
//   .vxe-table.size--mini .vxe-body--column.col--ellipsis .vxe-cell {
//     height: @table-row-height;
//     .ant-input-number {
//       height: @table-row-height;
//     }
//     .ant-input-number-input {
//       height: @table-row-height;
//     }
//     .ant-input {
//       height: @table-row-height;
//     }
//     textarea.ant-input {
//       min-height: @table-row-height;
//       height: @table-row-height;
//       padding: 0;
//     }
//     .ant-select-selection--single {
//       height: @table-row-height;
//     }
//     .ant-select-selection__rendered {
//       line-height: @table-row-height;
//     }
//     .ant-select-selection--multiple {
//       min-height: @table-row-height;
//     }
//   }
//   .vxe-table.size--mini .vxe-body--column {
//     line-height: @table-row-height;
//   }
//   .vxe-table.size--mini .vxe-footer--column,
//   .vxe-table.size--mini .vxe-header--column {
//     line-height: @table-header-footer-height;
//   }
// }
