.avic_bigtable_skin( @primary-color ) {
  .vxe-table div.action-icon .anticon {
    color: @primary-color !important;
  }
  /* Start vxe-table样式同化 by cuijj 2020-06-19 */
  /* 鼠标移入 */
  .vxe-table .vxe-body--row.row--hover,
  .vxe-table .vxe-body--row.row--hover.row--stripe {
    background-color: fade(@primary-color, 6%);
  }
  /* 已选择行 */
  .vxe-table .vxe-body--row.row--cheched,
  .vxe-table .vxe-body--row.row--radio {
    background-color: fade(@primary-color, 10%);
  }
  /* 已选择行-鼠标移入 */
  .vxe-table .vxe-body--row.row--cheched.row--hover,
  .vxe-table .vxe-body--row.row--radio.row--hover {
    background-color: fade(@primary-color, 6%);
  }
  /* End vxe-table样式同化 by cuijj 2020-06-19 */
  /* Start vxe表格启用列排序时图标样式 by Cj 2020-07-03 */
  .vxe-table .vxe-cell--sort .vxe-sort--asc-btn:hover,
  .vxe-table .vxe-cell--sort .vxe-sort--desc-btn:hover {
    color: @primary-4;
  }
  .vxe-table .vxe-cell--sort .vxe-sort--asc-btn.sort--active,
  .vxe-table .vxe-cell--sort .vxe-sort--desc-btn.sort--active {
    color: @primary-color;
  }
  /* 表格分页栏配色跟随皮肤色 */
  .vxe-pager .vxe-pager--jump-next:not(.is--disabled).is--active,
  .vxe-pager .vxe-pager--jump-next:not(.is--disabled):focus,
  .vxe-pager .vxe-pager--jump-prev:not(.is--disabled).is--active,
  .vxe-pager .vxe-pager--jump-prev:not(.is--disabled):focus,
  .vxe-pager .vxe-pager--next-btn:not(.is--disabled).is--active,
  .vxe-pager .vxe-pager--next-btn:not(.is--disabled):focus,
  .vxe-pager .vxe-pager--num-btn:not(.is--disabled).is--active,
  .vxe-pager .vxe-pager--num-btn:not(.is--disabled):focus,
  .vxe-pager .vxe-pager--prev-btn:not(.is--disabled).is--active,
  .vxe-pager .vxe-pager--prev-btn:not(.is--disabled):focus {
    color: @primary-color;
  }
  .vxe-pager .vxe-pager--jump-next:not(.is--disabled):active,
  .vxe-pager .vxe-pager--jump-prev:not(.is--disabled):active,
  .vxe-pager .vxe-pager--next-btn:not(.is--disabled):active,
  .vxe-pager .vxe-pager--num-btn:not(.is--disabled):active,
  .vxe-pager .vxe-pager--prev-btn:not(.is--disabled):active {
    color: @primary-color;
  }
  .vxe-pager .vxe-pager--jump-next:not(.is--disabled):hover,
  .vxe-pager .vxe-pager--jump-prev:not(.is--disabled):hover,
  .vxe-pager .vxe-pager--next-btn:not(.is--disabled):hover,
  .vxe-pager .vxe-pager--num-btn:not(.is--disabled):hover,
  .vxe-pager .vxe-pager--prev-btn:not(.is--disabled):hover {
    color: @primary-color;
  }
  .vxe-input:not(.is--disabled).is--active .vxe-input--inner {
    border: 1px solid @primary-color;
  }
  .vxe-pager.is--border .vxe-pager--num-btn.is--active {
    border-color: @primary-color;
  }
  .vxe-select.is--active > .vxe-input .vxe-input--inner {
    border-color: @primary-color;
  }
  .vxe-select-option.is--checked,
  .vxe-select-option.is--selected {
    color: @primary-color;
  }
  .vxe-select-option:not(.is--disabled).is--hover {
    background-color: fade(@primary-color, 12%);
  }
  .vxe-pager .vxe-pager--jump .vxe-pager--goto:focus {
    border: 1px solid @primary-color;
  }
  .vxe-table.border--full .vxe-footer--column,
  .vxe-table.border--full .vxe-header--column {
    background: #fafafa;
    background-image: none;
    font-weight: normal;
  }
  /* End vxe表格启用列排序时图标样式 by Cj 2020-07-03 */
  /* 列交换样式 Start */
  .sortable-column-demo .vxe-header--row .vxe-header--column.sortable-ghost,
  .sortable-column-demo .vxe-header--row .vxe-header--column.sortable-chosen {
    background-color: @primary-1;
  }

  /* Start 表格复选框颜色跟随主题 by cuijj 2020-06-27 */
  .vxe-table .is--checked.vxe-cell--checkbox .vxe-checkbox--icon::before {
    border-color: @primary-color;
    background-color: @primary-color;
  }
  .vxe-table .vxe-cell--checkbox .vxe-checkbox--indeterminate-icon::after {
    background-color: @primary-color;
  }
  .vxe-table .vxe-cell--checkbox:not(.is--disabled):hover .vxe-checkbox--icon::before {
    border-color: @primary-color;
  }
  /* End 表格复选框颜色跟随主题 by cuijj 2020-06-27 */
  /* Start 表格单选框颜色跟随主题 by cuijj 2020-06-27 */
  .vxe-table .is--checked.vxe-cell--radio .vxe-radio--checked-icon::before {
    border-color: @primary-color;
  }
  .vxe-table .vxe-cell--radio .vxe-radio--checked-icon::after {
    background-color: @primary-color;
  }
  .vxe-table .vxe-cell--radio:not(.is--disabled):hover .vxe-radio--icon::before {
    border-color: @primary-color;
  }
  /* End 表格单选框颜色跟随主题 by cuijj 2020-06-27 */
  /* Start vxe表格跟随主题样式配置设置 by Qym */
  .vxe-pager .vxe-pager--jump-next,
  .vxe-pager .vxe-pager--jump-prev,
  .vxe-pager .vxe-pager--next-btn,
  .vxe-pager .vxe-pager--num-btn,
  .vxe-pager .vxe-pager--prev-btn {
    border-radius: @border-radius-base;
  }
  .vxe-input--inner {
    border-radius: @border-radius-base;
  }
  .vxe-pager .vxe-pager--jump .vxe-pager--goto {
    border-radius: @border-radius-base;
  }
  .vxe-select-option--wrapper {
    border-radius: @border-radius-base;
  }
  .vxe-table.is--round.show--foot:not(.show--head) .vxe-table--body-wrapper.body--wrapper,
  .vxe-table.is--round.show--head .vxe-table--header-wrapper.body--wrapper {
    border-radius: @border-radius-base @border-radius-base 0 0;
  }
  .vxe-table.is--round.show--foot .vxe-table--footer-wrapper.body--wrapper,
  .vxe-table.is--round.show--head:not(.show--foot) .vxe-table--body-wrapper.body--wrapper {
    border-radius: 0 0 @border-radius-base @border-radius-base;
  }
  .vxe-table.is--round .vxe-table--border-line,
  .vxe-table.is--round .vxe-table.is--round,
  .vxe-table.is--round:not(.show--head):not(.show--foot) .vxe-table--body-wrapper.body--wrapper {
    border-radius: @border-radius-base;
  }
  /* End vxe表格跟随主题样式配置设置 by Qym */
}
