.bpm-start-process {
  background: #fff;
  height: calc(100vh - 110px);
  .process-tab-search {
    display: inline-flex;
  
    .process-show-type {
      margin: 0 16px 0 0;
      .process-show-type-btn {
        width: 28px;
        line-height: 26px;
        height: 28px;
        font-size: 16px;
      }
    }
  }
  
  .avic-module-tab {
    height: 100%;
    .ant-tabs-top-bar {
      margin: 0 0 10px 0;
    }
  
    .ant-tabs-content {
      height: calc(100% - 64px);
      .ant-tabs-tabpane{
        height: 100%;
      }
      .process-tab-pane {
        .process-tab-content {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          padding: 0 10px;
          
          .table-wrapper{
            height: 100%;
            overflow: hidden;
          }
          .process-model-group {
            padding-left: 8px;
            font-size: 14px;
           
            color: #67758d;
          }
  
          .process-model-item {
            position: relative;
            width: 96%;
            height: 38px;
            margin: 4px 10px 8px;
            padding: 0 12px;
            line-height: 38px;
            align-items: center;
            display: inline-flex;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            .process-item-icon {
              font-size: 18px;
            }
            .process-item-name {
              color: #67758d;
              font-size: 14px;
              margin-left: 5px;
              max-width: calc(100% - 130px);
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .process-item-type {
              color: #98a5ba;
              font-size: 12px;
              margin-left: 4px;
            }
  
            .process-item-start {
              position: absolute;
              right: 32px;
              font-size: 16px;
              color: #67758d;
            }
            .process-item-fav {
              position: absolute;
              right: 8px;
              font-size: 16px;
              color: #67758d;
              &.fav-icon {
                color: #ffa500;
              }
            }
          }
          .process-model-item:hover {
            background-color: rgba(243, 244, 249, 1);
            border: 1px solid rgba(243, 244, 249, 1);
          }
          .process-model-item:hover .process-item-name {
            color: inherit;
          }
          .process-model-item:hover .process-item-start {
            color: inherit;
          }
        }
      }
    }
  }
  .process-grid {
    border: 1px solid #000;
    height: 240px;
    width: 100%;
    border-color: rgba(232, 232, 232, 1);
    border-radius: 2px;
    position: relative;
    .fav-process-item {
      width: 100%;
      text-align: center;
      font-size: 12px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  
      &.process-title {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        font-family: '微软雅黑';
        font-style: normal;
        color: #67758d;
        cursor: pointer;
        width: 80%;
        position: absolute;
        top: 70px;
        left: 22px;
      }
  
      &.process-fav-status {
        color: #ffa500;
        font-size: 19px;
        position: absolute;
        top: 150px;
        left: 0;
      }
  
      .process-icon {
        width: 40px;
        height: 40px;
        padding: 0;
        font-size: 24px;
        line-height: 40px;
        margin: 20px auto 0;
        color: #fff;
        background-color: #695294;
        border-radius: 2px;
      }
  
      .process-start {
        width: 50%;
        height: 30px;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #67758d;
        text-align: center;
        background-color: rgba(243, 244, 249, 1);
        position: absolute;
        top: 190px;
        left: 25%;
        padding-left: 7px;
      }
      .process-start:hover {
        color: #fff;
      }
  
      &.process-version {
        height: 17px;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #98a5ba;
        width: 90%;
        position: absolute;
        top: 100px;
        left: 10px;
      }
  
      &.process-type {
        border-width: 0;
        width: 100%;
        height: 17px;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #98a5ba;
        position: absolute;
        top: 120px;
        left: 0;
      }
    }
  }
}