<!---
@beforeLoadFlowChart 加载前置事件
@afterLoadFlowChart 加载后置事件
@clickNode 点击
-->
<template>
  <div ref="graphBox">
    <div class="graph-button-box">
      <a-button-group>
        <a-button icon="plus" @click="amplificationGraph" />
        <a-button icon="minus" @click="shrinkGraph" />
      </a-button-group>
    </div>
    <a-popover
      title
      :visible="hovered"
      :arrow-point-at-center="true"
      auto-adjust-overflow
      placement="top"
      :get-popup-container="getPopupContainer"
      :align="align"
    >
      <template slot="content">
        <a-spin :spinning="popoverSpinning" class="bpm-node-box">
          <div class="table-box">
            <div class="node">
              <span class="name">节点:</span>
              {{ popoverHistActivity.alias }}
            </div>
            <div class="node">
              <span class="name">耗时:</span>
              {{ popoverHistActivity.consumeTime }}
            </div>
          </div>
          <div class="table-box">
            <div class="node">
              <span class="name">开始:</span>
              {{ popoverHistActivity.sTime }}
            </div>
            <div class="node">
              <span class="name">结束:</span>
              {{ popoverHistActivity.eTime }}
            </div>
          </div>
          <AvicBaseTable
            :bordered="true"
            :is-auto-count-scroll-x="true"
            :is-row-selection="false"
            :columns="tableColumns"
            :data-source="popoverData"
            :style="tableStyle"
            :row-key="rowKey"
            :is-fixed-head="false"
            :is-add-order-number="false"
            :pagination-default="false"
            :is-multi-selection="false"
          />
        </a-spin>
      </template>
      <div ref="bpmPopover" class="bpm-popover-box" />
    </a-popover>
    <a-spin :spinning="spinning && !contentLoading" class="flow-graph-spin-box">
      <div
        v-if="!error"
        id="graph"
        ref="flowTrackBox"
        style="width: 100%; height: auto"
        class="flow-track-box"
      />
      <AvicErrorCard v-if="error" :error-message="error" />
      <!--子流程图-->
      <AvicBpmChartChild
        :deployment-id="deploymentIdChild"
        :select-visible="selectVisibleChild"
        @closeChild="closeChild"
      />
      <!--子流程流程跟踪--->
      <FatherTrack
        :title="fatherTitle"
        :show-bpm-open-form-but="true"
        :entry-id="fatherEntryId"
        :visible="fatherVisible"
        @closeFather="closeFather"
      />
    </a-spin>
  </div>
</template>
<script>
import { Spin, Popover, Button } from 'ant-design-vue';
import mxgraph from './MxgraphInput.js';
import DesignerEditor from './cell/DesignerEditor';
import AvicErrorCard from '@/components/avic/pt/common/AvicErrorCard';
import AvicBpmChartChild from '@/components/avic/bpm/AvicBpmContent/AvicBpmChartChild';
import AvicBaseTable from '@comp/avic/pt/common/AvicBaseTable';
import FatherTrack from '@comp/avic/bpm/AvicBpmButtonsModal/FatherTrack';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
const {
  mxObjectCodec,
  mxEvent,
  mxEditor,
  mxGraphHandler,
  mxGraph,
  mxGuide,
  mxEdgeHandler,
  mxUtils,
  mxConstants
} = mxgraph;
const tableColumns = [
  {
    title: '接收人',
    dataIndex: 'assigneeName'
  },
  {
    title: '处理人',
    dataIndex: 'operateUserName'
  },
  {
    title: '操作类型',
    dataIndex: 'opType'
  },
  {
    title: '意见',
    dataIndex: 'message'
  },
  {
    title: '时间',
    dataIndex: 'eTime'
  }
];
let rowKey = 'dbid';
export default {
  name: 'AvicBpmChartTemplate',
  components: {
    ASpin: Spin,
    APopover: Popover,
    AButton: Button,
    AButtonGroup: Button.Group,
    AvicErrorCard,
    AvicBpmChartChild,
    AvicBaseTable,
    FatherTrack
  },
  props: {
    //流程图加载参数 ,包括 url 请求地址  parameter 加载参数 method 请类型
    flowParam: {
      type: Object,
      required: true,
      default: null
    },
    //点击流程节点类型
    type: {
      type: String,
      required: false,
      default: null
    },
    contentLoading: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      mxEditor: null,
      id: '',
      //转换xml
      designerEditor: new DesignerEditor(),
      data: null,
      //获取流程图数据
      iconTypeParam: {
        url: bpmUtils.baseurl + '/business/getIconType/v1',
        method: 'post'
      },
      //加载流程点击事件coordinate
      getcoordinate: {
        url: bpmUtils.baseurl + '/clientbpmdisplayaction/getcoordinate/v1',
        method: 'post'
      },
      spinning: false, //加载动作
      error: '',
      iconType: '', //流程样式
      arrayObj: [], //
      deploymentIdChild: '', //字流程 deploymentId
      selectVisibleChild: false, //子流程 是否显示
      //流程跳转
      getValidateDestActivity: {
        url: bpmUtils.baseurl + '/business/validateDestActivity/v1',
        method: 'post'
      },
      //鼠标到流程节点显示流程详情
      gettracktipParam: {
        url: bpmUtils.baseurl + '/clientbpmdisplayaction/gettracktip/v1',
        method: 'post'
      },
      startExecutionId: '', //流程跳转
      hovered: false,
      align: {
        offset: [0, 0]
      },
      tableStyle: { marginTop: '20px' },
      tableColumns,
      popoverData: [], // 弹出框表格数据
      popoverHistActivity: '', //弹出框表格上部数据
      rowKey,
      popoverSpinning: false,
      fatherVisible: false, // 子流程状态
      fatherEntryId: '', //子流程id
      subprocess: null,
      fatherTitle: '',
      originalSize: 1, //流程图原大小
      baseSize: 0.1, //每次变化基数
      currentOriginal: 0, //当前的流程图大小
      maxClick: 5, //最大或者最小缩放次数
      numberClick: 0 //当前缩放次数
    };
  },
  methods: {
    //刷新流程图
    async refreshFlowChart() {
      if (this.flowParam && this.flowParam.parameter && this.flowParam.url) {
        this.spinning = true;
        this.$emit('beforeLoadFlowChart', this.flowParam);
        await this.loadIconType();
        this.loadDataProcessXml();
      }
    },
    /**
     * 加载流程点击事件图标
     */
    async loadIconType() {
      if (this.flowParam && this.flowParam.parameter && this.flowParam.url) {
        let parameter = {
          entryId: this.flowParam.parameter.entryId
            ? this.flowParam.parameter.entryId
            : this.flowParam.parameter.processInstanceId,
          deploymentId: this.flowParam.parameter.deploymentId
        };
        let res = await httpAction(this.iconTypeParam.url, parameter, this.iconTypeParam.method);
        if (res.success == true) {
          this.iconType = res.result;
          if (this.designerEditor) {
            this.designerEditor.setIconType(this.iconType);
          }
        }
      }
    },
    /**
     * 获取流程点击事件coordinate
     */
    async getcoordinateByEntryId(entryId) {
      if (entryId) {
        let result = await httpAction(
          this.getcoordinate.url,
          {
            processInstanceId: entryId
          },
          this.getcoordinate.method
        );
        return new Promise(resolve => {
          if (result.success) {
            resolve(result);
          } else {
            resolve(result);
          }
        });
      }
    },
    /**
     * 创建流程节点点击事件
     */
    async drawAct(entryId) {
      let result = await this.getcoordinateByEntryId(entryId);
      let _self = this;
      if (result.success) {
        for (let key in result.result) {
          let activity = result.result[key];
          let activityAlias = activity.activityAlias;
          let activityName = activity.activityName;
          let isCurrent = activity.isCurrent;
          let over = activity.over;
          let executionId = activity.executionId;
          let isAlone = activity.executionAlone;
          // let sameActName = activity.sameActName;
          let node = _self.designerEditor.myLoadMap.get(activityName);
          if (bpmUtils.notNull(node)) {
            if (isCurrent == 'true') {
              _self.arrayObj.push(node);
            }
            node.actNodeClick = function () {
              if (isCurrent == 'true') {
                if (_self.type == 'dosupplement') {
                  _self.$emit('clickNode', activityName, executionId);
                }
                if (_self.type == 'doglobaljump') {
                  _self.dojump(
                    activityName,
                    executionId,
                    node,
                    entryId,
                    isCurrent,
                    activityAlias,
                    isAlone
                  );
                }
                if (_self.type == 'dowithdraw') {
                  _self.$emit('clickNode', activityName, executionId);
                }
              } else {
                if (_self.type == 'doglobaljump') {
                  _self.dojump(
                    activityName,
                    executionId,
                    node,
                    entryId,
                    isCurrent,
                    activityAlias,
                    isAlone
                  );
                }
                if (_self.type == 'doretreattowant' && over == 'true') {
                  _self.$emit('clickNode', activityName);
                }
              }
              if (_self.type == 'dostepuserdefined') {
                _self.$emit('clickNode', activityName, executionId, entryId);
              }
            };
          }
        }
      }
    },
    //流程跳转
    async dojump(
      activityName,
      executionId,
      node,
      processInstanceId,
      isCurrent,
      activityAlias,
      isAlone
    ) {
      let _values = this.designerEditor.myCellMap.values();
      let _self = this;
      // 只有一个当前节点，默认是开始节点
      if (isAlone) {
        if (isCurrent == 'true') {
          return;
        }
      } else {
        if (isCurrent == 'true') {
          this.startExecutionId = executionId;
          this.mxEditor.graph.setCellStyles('imageBorder', 'blue', [node.getCell()]);
          for (let key in this.arrayObj) {
            let n = _values[key];
            if (n.id != node.id) {
              if (this.iconType == '1') {
                //新图元
                _self.mxEditor.graph.setCellStyles('imageBorder', '', [n.getCell()]);
              } else {
                _self.mxEditor.graph.setCellStyles('imageBorder', 'red', [n.getCell()]);
              }
            }
          }
          return;
        } else {
          if (!bpmUtils.notNull(this.startExecutionId)) {
            this.$message.error('请您先选择一个当前节点作为流程跳转的起始节点');
            return;
          }
        }
      }
      // Added in 01-16
      let rst;
      if (bpmUtils.notNull(this.startExecutionId)) {
        rst = await this.validateDestActivity(
          processInstanceId,
          this.startExecutionId,
          activityName
        );
      } else {
        rst = await this.validateDestActivity(processInstanceId, executionId, activityName);
      }
      if (rst.result.flag == 'failed') {
        this.$message.error('无法跳转到所选节点，请您重新选择');
        return;
      }
      // 分支跳转
      if (bpmUtils.notNull(this.startExecutionId)) {
        executionId = this.startExecutionId;
      }
      this.$emit('clickNode', activityName, executionId);
    },
    //子流程点击事件
    childClick() {
      let _values = this.designerEditor.myCellMap.values();
      for (let key in _values) {
        let child = _values[key];
        if (child.tagName == 'sub-process') {
          let _this = this;
          child.actNodeClick = e => {
            if (_this.subprocess) {
              if (_this.subprocess[child.name]) {
                if (_this.subprocess[child.name].entryId) {
                  _this.fatherVisible = true;
                  _this.fatherEntryId = _this.subprocess[child.name].entryId;
                } else if (
                  _this.subprocess[child.name].length > 0 &&
                  _this.subprocess[child.name][0].entryId
                ) {
                  _this.fatherTitle = '子流程';
                  _this.fatherVisible = true;
                  _this.fatherEntryId = _this.subprocess[child.name][0].entryId;
                } else if (child.deploymentId) {
                  _this.deploymentIdChild = child.deploymentId;
                  _this.selectVisibleChild = true;
                }
              } else {
                if (child.deploymentId) {
                  _this.deploymentIdChild = child.deploymentId;
                  _this.selectVisibleChild = true;
                }
              }
            } else if (child.deploymentId) {
              _this.deploymentIdChild = child.deploymentId;
              _this.selectVisibleChild = true;
            }
          };
        }
      }
    },
    //流程跳转
    async validateDestActivity(processInstanceId, executionId, activityName) {
      let result = await httpAction(
        this.getValidateDestActivity.url,
        {
          procinstDbid: processInstanceId,
          executionId,
          activityName
        },
        this.getValidateDestActivity.method
      );
      return new Promise(resolve => {
        if (result.success) {
          resolve(result);
        } else {
          resolve(result);
        }
      });
    },
    closeChild() {
      this.selectVisibleChild = false;
    },
    //加载流程数据
    loadDataProcessXml() {
      httpAction(this.flowParam.url, this.flowParam.parameter, this.flowParam.method)
        .then(res => {
          if (res.success == true) {
            this.data = res.result;
            if (res.result.subprocess && res.result.subprocess) {
              this.subprocess = res.result.subprocess;
            }
            try {
              this.loadingFlowTrack(this.iconType);
            } catch (e) {}
            this.error = '';
          } else {
            this.error = '流程加载失败';
          }
          this.spinning = false;
          this.$emit('afterLoadFlowChart', res);
        })
        .catch(e => {
          this.spinning = false;
          this.$emit('afterLoadFlowChart', null);
          this.error = '流程加载失败';
        });
    },
    //创建流程对象
    creatGraph(iconType) {
      this.mxEditorgInirConfig();
      if (!this.mxEditor) {
        let node = null;
        if (iconType == '1') {
          node = mxUtils
            .load('/assets/bpm/config/bpmn-xml-v1/workfloweditor.xml')
            .getDocumentElement();
        } else {
          node = mxUtils
            .load('/assets/bpm/config/bpmn-xml-v2/workfloweditor.xml')
            .getDocumentElement();
        }
        if (node) {
          this.mxEditor = new mxEditor(node);
          this.multipleGraph(); //处理显示多个流程图
          mxObjectCodec.allowEval = false;
          this.designerEditor.setEditor(this.mxEditor);
          this.designerEditor.setIconType(iconType);
          let _this = this;
          this.mxEditor.graph.addListener(mxEvent.CLICK, function (sender, evt) {
            const cell = evt.getProperty('cell');
            if (bpmUtils.notNull(cell)) {
              let id = cell.id;
              let pid = cell.pid;
              if (bpmUtils.notNull(pid)) {
                id = pid;
              }
              let node = _this.designerEditor.myCellMap.get(id);
              if (bpmUtils.notNull(node)) {
                if (typeof node.actNodeClick === 'function') {
                  node.actNodeClick();
                }
              }
            }
          });
        } else {
          this.error = '流程加载失败';
        }
      }
    },
    //全局参数设置
    mxEditorgInirConfig() {
      mxGraph.prototype.htmlLabels = true;
      mxGraph.prototype.collapseExpandResource = '';
      mxGraph.prototype.setResizeContainer(true); // 容器大小自适应
      mxGraph.prototype.convertValueToString = function (cell) {
        return cell.getAttribute('label');
      };
      /* 修改全局节点样式，解决 【当流程图没有泳道，且最底部是节点标签时，标签文字部分被遮挡 】的问题 By Cj*/
      mxConstants.LINE_HEIGHT = 1.6;
      mxConstants.DEFAULT_HOTSPOT = 1;
      mxGraphHandler.prototype.guidesEnabled = true;
      mxGuide.prototype.isEnabledForEvent = function (evt) {
        return !mxEvent.isAltDown(evt);
      };
      mxEdgeHandler.prototype.snapToTerminals = true;
    },
    //加载流程图
    loadingFlowTrack(iconType) {
      if (this.data) {
        //创建流程对象
        this.creatGraph(iconType);
        //转换流程对象
        let processXml = this.data.processXml;
        processXml = processXml.replace(
          RegExp('avicit/platform6/bpmreform/bpmdesigner/editors/images/48/', 'g'),
          'avicit/platform6/bpmreform/bpmdesigner/editors/images/bpmn-img-v2/norun-icon/'
        );
        processXml = processXml.replace(
          RegExp('avicit/platform6/bpmreform/bpmdesigner/editors', 'g'),
          '/assets/bpm'
        );
        let root = mxUtils.parseXml(processXml);
        let xml = this.designerEditor.converToGraphXml(root);
        //加载流程
        this.mxEditor.readGraphModel(xml);
        try {
          //画流程步骤
          this.designerEditor.draw(this.data, this.flowParam.parameter.processInstanceId);
        } catch (e) {
          console.log(e, '------catch------');
        }

        //子流程点击事件
        this.childClick();
        //点击事件
        if (this.flowParam.parameter.processInstanceId && this.type) {
          this.drawAct(this.flowParam.parameter.processInstanceId);
        }
        try {
          let _this = this;
          this.designerEditor.editor.graph.setTooltips(true);
          this.designerEditor.editor.graph.getTooltipForCell = function (cell) {
            _this.gettracktip(cell);
            _this.designerEditor.editor.graph.view.getState(
              cell
            ).shape.node.onmouseout = function () {
              if (_this.hovered) {
                _this.hovered = false;
              }
            };
          };
          this.adaptiveGraph();
        } catch (e) {
          console.log(e, '------catch------');
        }
      } else {
        this.error = '流程加载失败';
      }
    },
    gettracktip(cell) {
      if (this.data.isShowInfo == 'true' && this.hovered == false) {
        return '';
      }
      if (this.popoverSpinning) {
        return '';
      }
      let entryId = this.flowParam.parameter.entryId
        ? this.flowParam.parameter.entryId
        : this.flowParam.parameter.processInstanceId;
      if (bpmUtils.notNull(cell.showTooltipName) && entryId) {
        let name = cell.showTooltipName;
        this.popoverSpinning = true;
        /**
         *
         */
        let bpmPopoverRect = this.$refs.bpmPopover.getBoundingClientRect();
        if (bpmPopoverRect) {
          let parameter = {
            processInstanceId: entryId,
            activityName: name
          };
          httpAction(this.gettracktipParam.url, parameter, this.gettracktipParam.method)
            .then(res => {
              if (res.success) {
                this.popoverData = res.result.tracks;
                this.popoverHistActivity = res.result.histActivity;
                let node = this.designerEditor.editor.graph.view
                  .getState(cell)
                  .shape.node.getBoundingClientRect();
                this.align.offset = [node.x - bpmPopoverRect.x, node.y - bpmPopoverRect.y];
                this.hovered = true;
              }
              this.popoverSpinning = false;
            })
            .catch(e => {
              this.popoverSpinning = false;
            });
        }
      }
    },
    getPopupContainer(trigger) {
      return trigger.parentElement;
    },
    //处理多个流程图冲突问题
    multipleGraph() {
      this.mxEditor.graph.init(this.$refs.flowTrackBox);
      let svgList = document.querySelector('#graph').querySelectorAll('svg');
      for (let i = 0; i < svgList.length; i++) {
        svgList[i].style.width = '0px';
        svgList[i].style.height = '0px';
      }
    },
    closeFather() {
      this.fatherVisible = false;
      this.fatherEntryId = '';
    },
    /**
     * 流程图自适应大小
     */
    adaptiveGraph() {
      this.currentOriginal = this.mxEditor.graph.view.getScale();
      if (this.$refs.flowTrackBox && this.mxEditor.graph.container) {
        if (this.mxEditor.graph.container.offsetWidth > this.$refs.graphBox.offsetWidth) {
          let scale =
            Math.floor(
              (this.$refs.graphBox.offsetWidth / this.mxEditor.graph.container.offsetWidth) * 100
            ) / 100;
          this.originalSize = scale;
          this.currentOriginal = scale;
          this.mxEditor.graph.view.scaleAndTranslate(scale, 0, 0);
        }
      }
    },
    //放大流程图
    amplificationGraph() {
      if (this.numberClick < this.maxClick) {
        this.numberClick++;
        this.currentOriginal = this.currentOriginal + this.originalSize * this.baseSize;
        this.mxEditor.graph.view.scaleAndTranslate(this.currentOriginal, 0, 0);
      }
    },
    //缩小流程图
    shrinkGraph() {
      if (this.numberClick > -this.maxClick) {
        this.numberClick--;
        this.currentOriginal = this.currentOriginal - this.originalSize * this.baseSize;
        this.mxEditor.graph.view.scaleAndTranslate(this.currentOriginal, 0, 0);
      }
    }
  }
};
</script>
<style lang="less">
.flow-graph-spin-box {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
</style>
<style lang="less" scoped>
.bpm-popover-box {
  display: inline-block;
}
.bpm-node-box {
  display: flex;
  width: 600px;
  .ant-spin-container {
    width: 100%;
    height: 100%;
  }
  .table-box {
    flex: 1;
    width: 600px;
    display: flex;
    .node {
      flex: 1;
      .name {
        width: 20px;
      }
    }
  }
}
.flow-track-box {
  width: 100%;
  min-width: 400px;
  height: auto !important;
  text-align: center;
}
.graph-button-box {
  .ant-btn-group {
    .ant-btn {
      padding: 0;
    }
  }
}
</style>
