.components_skin( @primary-color ) {
  .setting-drawer-index-handle {
    background: @primary-color;
  }
  //20191218
  .tree-select .main .right .input-box .input {
    color: @primary-color;
  }
  .input-box .input {
    border: 1px solid @primary-color;
  }
  .tree-select .main .right .refers-box .box i {
    color: @primary-color;
  }
  .tree-select .main .right .input-box .input .content {
    .select-count {
      color: @primary-color;
      border: 1px solid @primary-color;
      background: fade(@primary-color, 4%);
    }
    .choose {
      color: #fff;
    }
  }
  .box-title .anticon {
    color: @primary-color;
  }
  .main_box .select-box .main .right .refers-box .box a {
    color: @primary-color;
  }
  .input-box .input .content {
    .select-count {
      color: @primary-color;
      border: 1px solid @primary-color;
      background: fade(@primary-color, 4%);
    }
    .choose {
      background: @primary-color;
      color: #fff;
    }
  }
  .input-box .input .button .button li:hover {
    color: @primary-color;
  }
  /* 首页桌面门户名称列表 */
  .tabs-drop-item-plus:hover {
    background-color: fade(@primary-color, 8%);
    color: fade(@primary-color, 90%);
  }
  /* 门户小页容器 */
  .module {
    .ant-tabs-nav::after {
      background: linear-gradient(to bottom, @primary-color, fade(@primary-color, 40%));
    }
  }
  /* 通知公告超链接设置 */
  .module-notice {
    .ant-list-bordered .ant-list-item > span:nth-child(1) a:hover {
      color: @primary-color;
      text-decoration: dashed;
      text-decoration-color: @primary-color;
    }
  }

  .avic-module-tab{
    .ant-tabs-nav .ant-tabs-tab:active {
      color: @primary-color;
      background: #fff;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: @primary-color;
      background: #fff;
    }
    .ant-tabs-nav-scroll {
      .ant-tabs-ink-bar {
        background-color: @primary-color;
      }
    }
  }
}
