.flow_skin( @primary-color ) {
  .flow-content-body .main .ant-collapse {
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px solid #e8e8e8;
    .ant-collapse-header {
      font-size: 14px;
      font-weight: normal;
      border-radius: 0;
      padding: 8px 12px;
    }
    .ant-collapse-content{
      border-top: 1px solid #e8e8e8;
    }
    .ant-collapse-content-box {
      padding: 16px 40px;
      overflow: hidden;
    }
  }
  .flow-avic-top {
    z-index: 21 !important;
    background: #fff !important;
    box-shadow: 0 1px 4px rgba(202, 202, 202, 0.65) !important;
    border: none;
  }
  .flow-avic-top .right {
    border-left: 0 !important;
  }
  .multi-collapse-form .ant-collapse {
    border: 1px solid #e2e2e2 !important;
    margin-bottom: 10px !important;
  }
  .multi-collapse-form .ant-collapse .ant-collapse-item-active {
    /* background:#fbfdff; */
    border: 1px solid #bbdeff;
  }
  .head .flow-head {
    background: #fff ;
  }
  .head .flow-head .button-box .button a {
    color: @primary-color;
    margin-right: 12px;
    padding: 4px 10px 7px 17px ;
  }
  .head .flow-head .button-box .button a.dropdown_a_box_noicon span {
    padding-right: 0 ; /* 流程按钮添加图标样式调整 cuijj_2020-05-19 */
    border-right: 0;
  }
  .head .flow-head .button-box .button .flow-button.ant-btn-primary {
    border: 1px solid @primary-color;
    background: @primary-color;
    span {
      color: #fff;
    }
  }
  .ant-collapse > .ant-collapse-item{
    border: 0;
  }
  /* Start 流程按钮图标颜色 cuijj_2020-05-19 */
  .head .flow-head .button-box .button .flow-button {
    width: auto;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-right: 8px;
    vertical-align: middle;
    .anticon {
      color: @primary-color;
    }
    &.ant-btn-primary,
    &:hover {
      .anticon {
        color: #fff;
      }
    }
  }

  /* End 流程按钮图标颜色 cuijj_2020-05-19 */
  /* Start 流程按钮图标样式调整 cuijj_2020-05-21 */
  .more-button .more-flow-button .anticon {
    font-size: 18px;
  }
  .more-flow-button.ant-btn:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  /* End 流程按钮图标样式调整 cuijj_2020-05-21 */
  /* Start 流程按钮集合“退回”“更多”下拉框颜色 cuijj_2020-02-26 */
  .head .flow-head .button-box .button .dropdown_a_box {
    color: #4a5665;
    border: 1px solid #ddd;
  }
  /* End 流程按钮集合“退回”“更多”下拉框颜色 cuijj_2020-02-26 */
  .flow-tabs .ant-tag-checkable {
    font-size: 16px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 2px 5px;
  }
  .flow-tabs .ant-tag-checkable:active {
    background: none;
  }

  //.flow-track .flow-list .timeline-box span:nth-child(2){
  //  color:#3007cc!important;
  //}
  .flow-track .flow-list .timeline-box .describe-box {
    color: @primary-color;
  }
  .flow-avic-top .main .table li.active a {
    color: #fff;
  }
  .flow-avic-top .main .table li.active {
    background: @primary-color;
  }

  .ant-form-vertical .ant-form-item{
    padding: 0;
  }
  .right-container {
    min-width: 960px ;
  }
  .head .flow-head .button-box .button:hover a,
  .head .flow-head .button-box .button:hover .flow-button {
    border: 1px solid @primary-color !important;
  }
  .head .flow-head .button-box .button:hover .flow-button.ant-btn-primary {
    background: @primary-color;
  }
  .head .flow-head .button-box .button:hover span,
  .head .flow-head .button-box .button:hover a {
    color: @primary-color;
  }
  .flow-content-body .flow-track .flow-tabs {
    padding: 0 !important;
  }
  .flow-content-body .flow-track .flow-tabs .ant-tag {
    height: 26px;
    float: right;
  }
  .timeline-box .ant-timeline-item-content div {
    /* color:#e86a3b!important; */
    color: @primary-color !important;
  }
  .flow-tabs .ant-tag-checkable-checked {
    color: #fff;
    background: none;
    border: 1px solid @primary-5 !important;
    background-color: @primary-5;
    border-radius: 0;
  }

  html body .flow-detail-card .flow-content-body .bpm-pic-tab,
  html body .flow-detail-card .flow-content-body .bpm-pic-tab .section-content {
    background: #fff !important;
  }
  /* 2020-08-19 mzy 流程跟踪主题样式start */
  .module-con {
    .ant-steps {
      .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
        border: 4px solid fade(@primary-color, 60%);
      }
      .ant-steps-item:nth-last-child(3) .ant-steps-item-tail::after {
        border: 4px transparent solid;
        border-image: linear-gradient(to right,fade(@primary-color, 60%) 50%,fade(@primary-color, 90%) 50% ) 1;
      }

      .ant-steps-item:nth-last-child(2) .ant-steps-item-tail::after {
        border: 4px solid fade(@primary-color, 90%);
      }

      /* 第一个元素 ’当前‘元素 */
      .ant-steps-item:nth-child(1) .ant-steps-item-icon {
        background: fade(@primary-color, 60%) !important;
      }
      .user-box .ant-steps-item-icon {
        background: fade(@primary-color, 60%) !important;
      }
      .ant-steps-item:nth-last-of-type(2) .ant-steps-item-icon {
        background: fade(@primary-color, 90%) !important;
      }
      /* 最后一个’当前‘元素 */
      .ant-steps-item:last-child .ant-steps-item-icon {
        background: fade(@primary-color, 90%) !important;
      }
    }
  }
  /* 2020-08-19 mzy 流程跟踪主题样式end */
  .flow-avic-top .left a {
    color: @primary-color;
  }
  .flow-avic-top .main .table li a {
    color: #4a5665;
  }
  .head .flow-head .layout_box .box i {
    color: @primary-color;
  }
  /* 流程右侧表格 */
  .container-box .vxe-table .vxe-table--body .vxe-body--row:hover {
    background-color: fade(@primary-color, 10%) !important;
  }
  /* 流程意见 */
  .select-count .button-box {
    button:hover {
      i,
      span {
        color: @primary-color;
      }
    }
  }
  /* 2020-08-19 mzy 流程选人框end */
}
