/* 此文件只加载作用于全局的、需要跟随皮肤换色的样式 */

/* 覆盖antd样式，换肤用，方法名.antv_skin() */
@import 'antv-skin';
/* 覆盖4套主题相关样式，换肤用，方法名.avic_skin() */
@import 'avic-skin';
/* 覆盖其他组件相关样式，换肤用，方法名.components_skin() */
@import 'components-skin';
/* 覆盖流程相关样式，换肤用，方法名.flow_skin() */
@import 'flow-skin';
/* 覆盖主题相关的公共样式，换肤用，方法名.theme_skin() */
@import 'theme-skin';
/* 覆盖定制化Win主题相关样式，换肤用，方法名.avic_winlayout_theme_skin() */
@import '~@views/avic/pt/portal/theme/WinLayout/style/skin';
/* 覆盖高级查询（包括筛选条件）相关样式，换肤用，方法名.adv_search_skin() write by meizy */
@import '~@comp/avic/pt/common/AvicAdvancedSearchCollapse/style/skin';
/* 覆盖通用选择组件相关样式，换肤用，方法名.avic_commonselect_skin() */
@import '~@comp/avic/pt/org/AvicCommonSelect/style/skin';
/* 覆盖表格相关样式，换肤用，方法名.avic_table_skin() */
@import '~@comp/avic/pt/common/AvicBaseTable/style/skin';
/* 覆盖大数据表格相关样式，换肤用，方法名.avic_bigtable_skin() */
@import '~@comp/avic/pt/common/AvicBigTable/style/skin';
/* 覆盖大数据树相关样式，换肤用，方法名.avic_bigtree_skin() */
@import '~@comp/avic/pt/common/AvicBigTree/style/skin';
/* 覆盖门户设计器相关样式，换肤用，方法名.avic_formmake_skin() */
@import '~@comp/avic/pt/common/AvicFormMaking/style/skin.less';
/* 换肤函数 */
/* 入参：primary-color 主色 */
/* 入参：theme-start 主题Header渐变背景-右 */
/* 入参：theme-end 主题Header渐变背景-左 */
/* 入参：nav-start 主题内容侧边导航栏 上 */
/* 入参：nav-end 主题内容侧边导航栏 下 */
/* 入参：content-bg 内容区背景 */
.theme(
@primary-color,
@theme-start,
@theme-end,
@nav-start,
@nav-end,
@content-bg: #f2f2f2
) {
  .antv_skin( @primary-color );

  .avic_skin(@primary-color,@theme-start,@theme-end,@nav-start,@nav-end,@content-bg);
  /* 主题公共换肤用样式 */
  .theme_skin(@primary-color,@theme-start,@theme-end,@nav-start,@nav-end,@content-bg);
  /* 定制化主题换肤用样式 */
  .avic_winlayout_theme_skin( @primary-color );

  .components_skin( @primary-color );

  .adv_search_skin(@primary-color); /* write by meizy */

  .avic_commonselect_skin(@primary-color);

  .avic_table_skin(@primary-color);

  .avic_bigtable_skin( @primary-color );

  .avic_bigtree_skin( @primary-color );

  .flow_skin( @primary-color );

  .avic_formmake_skin(@primary-color);
  a {
    color:rgba(0, 0, 0, 0.65);
    background-color: transparent;
  }
  td a {
    color:@primary-color;
    background-color: transparent;
  }
  a:hover {
    color:@primary-color;
  }
  a:active {
    color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  ::selection {
    background: @primary-color;
    color: #fff;
  }

  /* start qym 入参色值以class方式暴露给全局  */
  /* 全局样式：primary-color 主色 */
  .theme-main-color {
    color: @primary-color !important;
  }
  .theme-main-bg {
    background-color: @primary-color !important;
  }
  .theme-main-bdr {
    border-color: @primary-color !important;
  }
  /* end qym 入参色值以class方式暴露给全局  */

  /* 全局样式：primary-color 主色 hover */
  .theme-main-hover-color:hover {
    color: @primary-color !important;
  }
  .theme-main-hover-bg:hover {
    background-color: @primary-color !important;
  }
  .theme-main-hover-bdr:hover {
    border-color: @primary-color !important;
  }
  /* 全局样式：primary-color 主色 active */
  .theme-main-active-color:active {
    color: @primary-color !important;
  }
  .theme-main-active-bg:active {
    background-color: @primary-color !important;
  }
  .theme-main-active-bdr:active {
    border-color: @primary-color !important;
  }
  /* 全局样式：primary-color 主色 focus */
  .theme-main-focus-color:focus {
    color: @primary-color !important;
  }
  .theme-main-focus-bg:focus {
    background-color: @primary-color !important;
  }
  .theme-main-focus-bdr:focus {
    border-color: @primary-color !important;
  }
}
