/* renke 主题样式 start */
.theme_skin(
@primary-color,
@theme-start,
@theme-end,
@nav-start,
@nav-end,
@content-bg: #f2f2f2
) {
  /***  --------1、Win、Simple、H+ 、Tradition主题公共顶部导航条的主题颜色start- -------- */
  .navLayout {
    .ant-layout-content .navLayout-con {
      .navLayout-con-in {
        background: @content-bg;
      }
    }
    .ant-layout-content .navLayout-con .panel .ant-list-split .ant-list-item a:hover {
      color: @primary-color;
    }
    .base-layout-header {
      background: linear-gradient(to left, @theme-start, @theme-end);
    }
    .base-layout-sider {
      background: linear-gradient(@nav-start, @nav-end);
      .base-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        color: @primary-color;
        background: fade(@primary-color,10%);
        .anticon {
          color: @primary-color;
        }
      }
      .base-menu {
        .ant-menu-item-active,
        .ant-menu-item:hover,
        .ant-menu-item-selected
        .ant-menu-submenu-active,
        .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
        .ant-menu-submenu-popup .ant-menu-item-selected,
        .ant-menu-item-selected {
          color: @primary-color ;
          background: fade(@primary-color,10%) ;
          .anticon{
            color: @primary-color;
          }
        }
        .ant-menu-submenu-open,
        .ant-menu-submenu-active,
        .ant-menu-submenu:hover{
          .ant-menu-submenu-title{
            color:@primary-color ;
            background: fade(@primary-color,10%) ;
          }
          .ant-menu-submenu-title > .anticon
          {
            color: @primary-color;
          }
          &.anticon{
            color: @primary-color;
          }
        }
      }
    }
    // 顶部tab页签
    .labelPage {
      .ant-tabs.ant-tabs-card {
        .ant-tabs-bar .ant-tabs-tab {
          .ant-tabs-tab-active{
            color: @primary-color;
          }
          .anticon {
            color: @primary-color;
          }
        }
      }
    } 
  }
  // 按钮滑过样式
  .ant-btn:hover, .ant-btn:focus{
    border-color: @primary-color;
    color: @primary-color;
  }
  .ant-btn.ant-btn-danger:hover, .ant-btn.ant-btn-danger:focus{
    color: #fff;
    background-color: #d9363e;
    border-color: #d9363e;
  }
  
  .ant-btn-disabled, 
  .ant-btn.disabled, 
  .ant-btn[disabled], 
  .ant-btn-disabled:hover,
  .ant-btn.disabled:hover, 
  .ant-btn[disabled]:hover, 
  .ant-btn-disabled:focus, 
  .ant-btn.disabled:focus, 
  .ant-btn[disabled]:focus, 
  .ant-btn-disabled:active, 
  .ant-btn.disabled:active,
  .ant-btn[disabled]:active, 
  .ant-btn-disabled.active, 
  .ant-btn.disabled.active, 
  .ant-btn[disabled].active{
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #e8e8e8;
    text-shadow: none;
    box-shadow: none;
  }
  /***  --------2、Simple、H+ 、Tradition 二级三级导航 start--------------------------- */
  // 导航二级三级
  .base-sub-menu .ant-menu-sub .ant-menu-item:hover,
  .ant-menu-vertical .sub-menu-li:hover {
    background: fade(@primary-color,10%) !important;
    color: @primary-color;
    .anticon {
      color: @primary-color;
    }
  }
  .ant-menu-submenu-title:hover {
    color: @primary-color;
  }
  .base-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: fade(@primary-color,10%) !important;
  }
}