body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  color: #333;
  font-size: 16px;
  height: 100%;
  min-width: 1000px;
  overflow: hidden;
}

/* 主页面 */
.datagrid-m-body {
  width: 100%;
  display: flex;
  height: 100%;
  background-image: url("~@assets/images/console//img_bg01.jpg");
  background-size: 100% 100%;
  position: relative;
  flex-direction: column;
}

/* 主页面 */
.datagrid-m-nav {
  padding: 0 30px 10px 30px;
}

.datagrid-m-navbg {
  background-color: rgba(0, 59, 121, 0.4);
  height: 70px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}
.datagrid-m-start{
  position: relative;
  height: 100%;
  width: 64px;
  text-align: right;
}
.datagrid-m-start .anticon {
  color: #fff;
  font-size: 24px;
  margin: 12px 0 0 0;
}
.datagrid-m-initial {
  background: url("~@assets/images/console//img_initial.png") no-repeat;
  background-position-x: 4px;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
}
.menu-bar{
  width: calc(100% - 164px);
  position: relative;
  height: 100%;
}
.datagrid-img-line {
  background: url("~@assets/images/console//img_line.png") no-repeat;
  display: block;
  height: 1px;
  width: 168px;
  position: relative;
  left: -84px;
}

.datagrid-img-circle {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 40%;
  top: -12px;
  background: url("~@assets/images/console//img_circle.png") no-repeat;
  z-index: 100;
}
.datagrid-m-firstnav {
  position: relative;
  top: 5px;
  text-align: center;
  cursor: pointer;
}
.datagrid-m-end {
  background: url(~@assets/images/console//img_arrow.png) left  center no-repeat;
  background-position-x: -96px;
  background-position-y: 12px;
  position: relative;
  width: 128px;
  height: 100%;
}
.datagrid-m-end .anticon{
  font-size: 24px;
  color: #fff;
  margin: 12px 0 0 24px;
}
.datagrid-m-arttext {
  background-image: -webkit-linear-gradient(bottom, #08efe9, #e6ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin-top: 14px;
  display: block;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.datagrid-m-arttextactive {
  background-image: -webkit-linear-gradient(bottom, #ffa200, #ffdf91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.datagrid-m-contain {
  display: inline-flex; /* Safari */
  height: calc(100% - 144px);
}

.datagrid-m-slider {
  width: 200px;
  height: 100%;
}

.datagrid-m-mainpart {
  width: calc(100% - 200px);
  height: 100%;
  padding-left: 10px;
  padding-right: 30px;
  flex-grow: 1;
}

.datagrid-m-slider-body {
  background: #fff;
  border-radius: 10px;
  width: 170px;
  margin-left: 30px;
  height: calc(100% - 12px);
  overflow: auto;
}

.datagrid-m-mainpart-body {
  background: #f1f1f1;
  border-radius: 8px;
  width: 100%;
  height: calc(100% - 12px);
  z-index: 1;
}
.datagrid-m-mainpart-body-fullscreen{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #f1f1f1;
  border-radius: 0;
}
  
/* esayui样式重写 */
.datagrid-m-ul {
  color: #012655 !important;
  margin: 20px 10px 0 10px;
}

.datagrid-m-ul li {
  font-size: 12px;
  padding: 10px 10px;
  display: block;
  word-break: break-all;
}


.datagrid-m-ul li:hover {
  background: #dbe8f1;
  border-radius: 5px;
  cursor: default;
}

.datagrid-m-ul a {
  color: #012655 !important;
  text-decoration: none;
}

.datagrid-img-circle:hover {
  background: url("~@assets/images/console/img_circleHover.png");
}

.datagrid-img-active {
  background: url("~@assets/images/console/img_circleHover.png");
}

.datagrid-m-panel {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}
/* 滚动条样式 */
.innerbox::-webkit-scrollbar {
  width: 4px;
  /* height: 4px; */
}
.innerbox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2) !important;
  background: rgba(0,0,0,0.2);
}
.innerbox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2) !important;
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}
.screeabtn-wrapper{
  position: absolute;
  bottom:96px;
  right: 0;
  background-color: #0081c6;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  z-index: 999;
  text-align: center;
  border-radius: 4px 0 0 4px;
}
.screenbtn{
  font-size: 24px;
  color: #fff;
}
.fullscreen{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
}
