@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size:10px;
    height: 100%;
}
body {
    overflow: hidden;
    height: 100%;
}

ul, ol {
    list-style: outside none none;
}

a {
    text-decoration: none;
    /*text-decoration 取消下划线*/
}

img {
    border: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
}
.topside-clear {
    clear: both;
    font-size: 0;
}

.menu-panel{
    width: 160px;
    background-color: #05466e;
    border-radius: 5px;
}
.icondefault{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 15px;
}
.iconhome{
    background: url("~@assets/images/console/icon_home.png") no-repeat;
}
.iconhelp{
    background: url("~@assets/images/console/icon_help.png") no-repeat;
}
.iconabout{
    background: url("~@assets/images/console/icon_about.png") no-repeat;
}
.iconexit{
    background: url("~@assets/images/console/icon_exit.png") no-repeat;
}
.menu-panel div{
    padding: 8px 30px;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.menu-panel div:hover{
    border-radius: 5px;
    background-color: #00a0ea;
}
.menu-panel div span{
    display: inline-block;
}

.cricle {
    width: 120px;
    height: 120px;
    background: #12417e;
    border-radius: 50%;
    position: absolute;
}

.cricle .pre_left, .cricle .pre_right {
    width: 120px;
    height: 120px;
    position: absolute;

    left: 0;
}

.cricle .left, .cricle .right {
    display: block;
    width: 120px;
    height: 120px;
    background: #063869;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.cricle .pre_right, .cricle .right {
    clip: rect(0, auto, auto, 65px);
}

.cricle .pre_left, .cricle .left {
    clip: rect(0, 65px, auto, 0);
}

.cricle .mask {
    width: 80px;
    height: 80px;
    background: #12417e;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 80px;
    text-align: center;
    color: #00aacc;
    font-size: 30px;
}