<template>
  <div class="flow-track">
    <div class="flow-tabs">
      <span>流程意见</span>
      <a-checkable-tag
        v-for="(tab, i) in tabs"
        :key="i"
        :checked="currentTab == tab.type"
        @change="changeHeadTag(tab)"
      >
        <a-icon v-if="i == 0" type="unordered-list" />
        <a-icon v-if="i == 1" type="history" />
      </a-checkable-tag>
    </div>
    <div v-show="currentTab == 'list'" class="flow-list">
      <AvicBigTable
        :ref="bigTableRefName"
        :is-big-data-table="true"
        :sync-resize="currentTab"
        :resizable="true"
        :default-col-width="120"
        :is-row-selection="false"
        :columns="tableColumns"
        :style="{ height: '300px', maxHeight: '400px', marginTop: '20px' }"
        :row-key="rowKey"
        :is-add-order-number="false"
        :pagination-default="false"
        :virtual-scroll-y="{ gt: 100 }"
      />
      <AvicErrorCard v-if="tableError" :error-message="tableError" />
    </div>
    <div v-show="currentTab == 'tracking'" class="flow-list">
      <div v-if="!timelineError || data.timelist">
        <div v-for="(tab, i) in data.timelist" :key="i" class="timeline-box">
          <a-timeline>
            <a-timeline-item v-for="(item, g) in tab" :key="g">
              <div class="flow-list-item">
                <a-col :span="3" style="display: flex; flex-flow: row">
                  <span class="default-box">
                    {{ tab[0].dayName }}&nbsp;&nbsp;{{ item.timeName }}
                  </span>
                </a-col>
                <a-col :span="20" style="display: flex; flex-flow: row">
                  <div class="divder-box" />
                  <div>
                    <span class="text-box">{{ item.operateUserName }}</span>
                    <span class="default-box">在</span>
                    <span class="text-box">{{ item.currentActiveLabel }}</span>
                    <span class="default-box">节点进行了</span>
                    <span class="text-box">{{ item.opType }}</span>
                    <span class="default-box">操作</span>
                    <span v-if="item.targetuser">
                      <span class="default-box">,接收人是</span>
                      <span class="text-box">{{ item.targetuser }}</span>
                    </span>
                    <div v-if="item.message" class="describe-box">
                      <a-icon type="edit" />
                      {{ item.message }}
                    </div>
                  </div>
                </a-col>
              </div>
            </a-timeline-item>
          </a-timeline>
        </div>
      </div>
      <a-empty v-if="!data.timelist || data.timelist.length == 0" :image="simpleImage" />
      <AvicErrorCard v-if="timelineError" :error-message="timelineError" />
    </div>
  </div>
</template>
<script>
import { Icon, Tag, Col, Timeline, Empty } from 'ant-design-vue';
import AvicErrorCard from '@/components/avic/pt/common/AvicErrorCard';
import AvicBigTable from '@comp/avic/pt/common/AvicBigTable';
import { httpAction } from '@/api/manage';
const tableColumns = [
  {
    title: '节点',
    align: 'center',
    dataIndex: 'currentActiveLabel'
  },
  {
    title: '处理人',
    align: 'center',
    dataIndex: 'assigneeName'
  },
  {
    title: '接收时间',
    dataIndex: 'iTime'
  },
  {
    title: '打开时间',
    dataIndex: 'oTime'
  },
  {
    title: '处理时间',
    dataIndex: 'eTime'
  },
  {
    title: '操作类型',
    align: 'center',
    dataIndex: 'opType'
  },
  {
    title: '累计时间',
    dataIndex: 'useTime'
  },
  {
    title: '接收人',
    align: 'center',
    dataIndex: 'targetuser'
  },
  {
    title: '处理意见',
    dataIndex: 'message'
  }
];
const rowKey = 'id';
export default {
  name: 'AvicBpmTrackingTemplate',
  components: {
    AIcon: Icon,
    ACheckableTag: Tag.CheckableTag,
    ACol: Col,
    ATimeline: Timeline,
    ATimelineItem: Timeline.Item,
    AEmpty: Empty,
    AvicErrorCard,
    AvicBigTable
  },
  props: {
    flowParam: {
      type: Object,
      required: true,
      default: null
    }
  },
  data() {
    return {
      currentTab: 'tracking',
      tabs: [
        { id: 1, name: '列表', type: 'list' },
        { id: 2, name: '时间轴', type: 'tracking' }
      ],
      bigTableRefName: 'bigTable',
      tableError: '',
      tableLoading: false, //加载动画
      timelineError: '',
      tableColumns,
      rowKey,
      pagination: {
        showQuickJumper: false,
        showSizeChanger: false
      },
      tableData: [],
      data: {},
      // 合并行或列，该函数 Function({row, rowIndex, $rowIndex, column, columnIndex, $columnIndex, data}) 返回计算后的值
      spanMethod({ row, rowIndex, $rowIndex, column, columnIndex, $columnIndex, data }) {
        if (columnIndex == 0) {
          return { rowspan: row.rowSpan, colspan: 1 };
        }
      },
      simpleImage: Empty.PRESENTED_IMAGE_SIMPLE
    };
  },
  methods: {
    //刷新页面
    refreshFlowTracking() {
      this.loadData();
    },
    //切换按钮
    changeHeadTag(e) {
      this.currentTab = e.type;
    },
    //处理列表数据合并列
    filterTableData(data) {
      let tableData = [];
      this.tableLoading = true;
      if (data) {
        this.data.tracklist.map(tim => {
          if (tim.length == 1) {
            tableData.push(tim[0]);
          } else {
            tim.map((list, index) => {
              if (index != 0) {
                list.rowSpan = 0;
              } else {
                list.rowSpan = tim.length;
              }
              tableData.push(list);
            });
          }
        });
      }
      this.$refs[this.bigTableRefName].bigDataTableLoadData(tableData);
      this.tableLoading = false;
    },
    //加载数据
    loadData() {
      if (
        this.flowParam &&
        this.flowParam.url &&
        this.flowParam.parameter &&
        this.flowParam.parameter.entryId
      ) {
        httpAction(this.flowParam.url, this.flowParam.parameter, this.flowParam.method)
          .then(res => {
            if (res.success) {
              this.data = res.result;
              this.filterTableData(this.data.tracklist);
            }
          })
          .catch(() => {
            this.tableError = '流程加载失败';
            this.timelineError = '流程加载失败';
          });
      }
    }
  }
};
</script>
<style lang="less" scoped>
.flow-track {
  width: 100%;
  height: auto;
  min-width: 400px;
  min-height: 200px;
  text-align: center;
  overflow: hidden;
  .flow-tabs {
    text-align: left;
    padding: 10px;
  }
  .flow-list {
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 300px;
    text-align: left;
    overflow: auto;
    position: relative;
    margin: 15px 0;
    .my-table-wrap {
      margin-top: 0 !important;
    }
    .timeline-box {
      /deep/.ant-timeline-item {
        padding: 0;
      }
      /deep/.ant-timeline-item-tail {
        z-index: 8000;
        top: 15px;
        left: 25px;
        height: calc(100% - 5px);
      }
      /deep/.ant-timeline-item-head-blue {
        width: 12px;
        height: 12px;
        z-index: 8000;
        top: 7px;
        left: 20px;
      }
      /deep/.ant-timeline-item-content {
        margin: 0;
      }
      .flow-list-item {
        background: #f3f4f6;
        display: inline-block;
        width: 100%;
        padding: 6px 10px 4px 38px;
        margin: 2px 0;
        line-height: 26px;

        .divder-box {
          border-left: 1px solid #ddd;
          position: relative;
          margin: 2px 15px 2px 5px;
          display: inline-block;
        }
        .default-box {
          color: #888;
          font-size: 14px;
          font-family: 'Arial Normal', 'Arial';
        }
        .text-box {
          color: #1e1e1e;
        }
      }
      .ant-timeline li:nth-last-child(1) {
        padding: 0;
      }
      .tim-box {
        padding: 10px;
        font-size: 14px;
      }
      span {
        padding: 0 4px;
      }
    }
  }
}
</style>
