<template>
  <a-modal
    v-model="showModal"
    class="parent-process-modal"
    :title="modalTitle"
    :after-close="afterClose"
    :body-style="{ padding: '0', height: modalBodyHeight, position: 'relative' }"
    :centered="true"
    :width="1024"
  >
    <template slot="footer">
      <a-button v-if="showDeleteBtn" type="danger" :loading="loadingDelete" @click="handleDelete">
        取消已关联的父流程
      </a-button>
      <a-button type="primary" :loading="loadingSave" @click="handleSave">保存</a-button>
      <a-button @click="showModal = false">返回</a-button>
    </template>
    <ProcessTreeTable :is-multi-selection="false" @selectProcess="selectProcess" />
  </a-modal>
</template>
<script>
import { Modal, Button } from 'ant-design-vue';
import ProcessTreeTable from '@comp/avic/bpm/AvicBpmButtonsModal/ProcessTreeTable';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
export default {
  name: 'ParentProcessModal',
  components: {
    AModal: Modal,
    AButton: Button,
    ProcessTreeTable
  },
  props: {
    procinstDbid: {
      type: String,
      required: true
    },
    isParentProcessExist: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      modalBodyHeight: '448px',
      showModal: true,
      modalTitle: '关联父流程',
      loadingSave: false,
      loadingDelete: false,
      showDeleteBtn: this.isParentProcessExist,
      processList: [],
      httpConfig: {
        saveParentProcess: {
          url: bpmUtils.baseurl + '/business/related/subProcessSaveData/v1',
          method: 'post'
        },
        deleteParentProcess: {
          url: bpmUtils.baseurl + '/business/related/subDelData/v1',
          method: 'post'
        }
      }
    };
  },
  methods: {
    selectProcess(data) {
      this.processList = data;
    },
    handleSave() {
      if (!this.processList || this.processList.length === 0) {
        this.$message.warning('请先选择要关联的父流程');
        return;
      }
      this.loadingSave = true;
      let param = { dbid1: this.procinstDbid, dbid2: this.processList[0].dbId, task: '' };
      httpAction(
        this.httpConfig.saveParentProcess.url,
        param,
        this.httpConfig.saveParentProcess.method
      )
        .then(res => {
          this.loadingSave = false;
          if (res.success) {
            this.$emit('saveSuccess');
          }
        })
        .catch(() => {
          this.loadingSave = false;
        });
    },
    handleDelete() {
      Modal.confirm({
        title: '确定取消已关联的父流程吗？',
        onOk: () => {
          this.loadingDelete = true;
          this.confirmDelete();
        }
      });
    },
    confirmDelete() {
      let param = { id: this.procinstDbid };
      httpAction(
        this.httpConfig.deleteParentProcess.url,
        param,
        this.httpConfig.deleteParentProcess.method
      )
        .then(res => {
          this.loadingDelete = false;
          if (res.success) {
            this.showDeleteBtn = false;
            this.$message.success('【取消已关联的父流程】操作成功');
          }
        })
        .catch(() => {
          this.loadingDelete = false;
        });
    },
    afterClose() {
      this.$emit('close');
    }
  }
};
</script>
<style lang="less" scoped>
.relative-process-modal {
  .model-actions {
    width: 100%;
    height: 55px;
    text-align: right;
  }
}
</style>
