/* 树组件-基础样式 */
.avic-tree-box {
  // height: calc(100% - 48px);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  .avic-tree {
    min-height: 100px;
    font-size: 12px;
  }
}
.select-role-box {
  max-height: 100%;
  height: 100%;
  overflow: auto;
  padding-left: 10px;
  .ant-spin-nested-loading {
    padding: 0 0;
  }
  .avic-tree-nodata-card{
    position: absolute;
    width: 100%;
    top: calc(45% - 70px);
  }
}
.with-search {
  height: calc(100% - 42px);
}
.avic-tree-search-ipt {
  top: 0;
  width: calc(100% - 20px);
  z-index: 2;
  margin: 10px 10px 3px 10px;
  .ant-input {
    font-size: 12px;
    height: 28px;
    padding-right: 0;
  }
}
// 树选择组件展开层内容
.avic-tree-select-dropdown{
  height: 100%;
}