<template>
  <!-- 常用流程 -->
  <a-spin :spinning="loading" class="module">
    <div class="flowPath">
      <a-list
        :grid="{ gutter: 16, xs: 1, sm: 2, md: 2, lg: 2, xl: 3, xxl: 4 }"
        :data-source="flowPathData"
      >
        <a-list-item slot="renderItem" slot-scope="item">
          <a-card style="cursor: pointer" @click="doStartProcess(item.pdid, item.title)">
            {{ item.title.substring(item.title.lastIndexOf('('), item.title.lastIndexOf(')') + 1) }}
            <template slot="title">
              {{ item.title.substring(0, item.title.lastIndexOf('(')) }}
            </template>

            <a-icon type="share-alt" style="font-size: 24px" />
          </a-card>
        </a-list-item>
      </a-list>
    </div>
  </a-spin>
</template>
<script>
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { Spin } from 'ant-design-vue';
export default {
  name: 'CommonProcesses',
  components: {
    ASpin: Spin
  },
  data() {
    return {
      flowPathData: [], // 常用流程
      loading: false,
      getFavProcess: {
        url: bpmUtils.baseurl + '/business/getBmpFavs/v1',
        method: 'post'
      }
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      this.loading = true;
      httpAction(this.getFavProcess.url, {}, this.getFavProcess.method)
        .then(res => {
          if (res.success) {
            this.flowPathData = res.result.data;
          }
          this.loading = false;
        })
        .catch(e => {
          this.flowPathData = [];
          this.loading = false;
        });
    },
    doStartProcess(pdId, pdName) {
      bpmUtils
        .addListStart(pdId, pdName)
        .then(res => {})
        .catch(() => {
          this.$message.error('启动流程失败!');
        });
    },
    callback() {
      console.log();
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
