<template>
  <!-- 关注项目 -->
  <div class="module module03">
    <a-tabs default-active-key="1">
      <a-tab-pane key="1">
        <template slot="tab"> 关注项目<span>(10)</span> </template>
        <div class="module-in">
          <div class="article">
            <a-list item-layout="horizontal" :data-source="articleData">
              <a-list-item slot="renderItem" slot-scope="item">
                <a-list-item-meta>
                  <div slot="description">
                    责任人：
                    <span>{{ item.txt }}</span>
                    责任部门：
                    <span>{{ item.text }}</span>
                  </div>
                  <a slot="title" href="#">{{ item.title }}</a>
                  <a-avatar slot="avatar" />
                </a-list-item-meta>
                <span class="date-m">2019-10-04</span>
                <a-progress :percent="item.percent" status="active" />
              </a-list-item>
            </a-list>
          </div>
        </div>
      </a-tab-pane>
      <!-- 右侧图标 -->
      <template slot="tabBarExtraContent">
        <shuaxin-icon class="panel-icon" />
        <gengduo-icon class="panel-icon" />
      </template>
    </a-tabs>
  </div>
</template>
<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
const articleData = [
  //关注项目
  {
    txt: '董勇江',
    text: '研发中心',
    title: '容器云管理功能开发',
    percent: 50
  },
  {
    txt: '孙佳佳',
    text: '生产业务管理',
    title: 'J2019年科研专项',
    percent: 87
  },
  {
    txt: '赵斌',
    text: '生产业务管理',
    title: 'M831型号研制项目',
    percent: 76
  }
];
export default {
  name: 'FocusProject',
  components: {
    // 自定义图标
    GengduoIcon,
    ShuaxinIcon
  },
  data() {
    return {
      articleData //关注项目
    };
  },
  methods: {
    callback() {
      console.log();
    }
  }
};
</script>
<style lang="less" scoped>
@import './style/base.less';
</style>
