<template>
  <!-- 关注任务 -->
  <div class="module module05">
    <a-tabs default-active-key="1" @change="callback">
      <a-tab-pane key="1">
        <template slot="tab"> 关注任务<span>(10)</span> </template>
        <div class="module-in">
          <div class="task-m">
            <div class="sky">
              <img src="@/views/avic/pt/system/portLet/portLetCards/images-m/img03.png" alt="" />
            </div>
            <a-table
              :columns="taskColumns"
              :data-source="taskData"
              :pagination="false"
              size="small"
            >
              <a slot="operation" slot-scope="text">{{ text }}</a>
            </a-table>
          </div>
        </div>
      </a-tab-pane>
      <!-- 右侧图标 -->
      <template slot="tabBarExtraContent">
        <shuaxin-icon class="panel-icon" />
        <gengduo-icon class="panel-icon" />
      </template>
    </a-tabs>
  </div>
</template>

<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
// 关注任务table
const taskColumns = [
  {
    title: '',
    dataIndex: 'index',
    width: '5%',
    align: 'center',
    ellipsis: 'true' //设置溢出变省略号
  },
  {
    title: '费用类型',
    dataIndex: 'con',
    width: '19%',
    align: 'center',
    ellipsis: 'true' //设置溢出变省略号
  },
  {
    title: '总经费(万元)',
    dataIndex: 'user',
    width: '19%',
    align: 'center',
    ellipsis: 'true'
  },
  {
    title: '总预算(万元)',
    dataIndex: 'budget',
    width: '19%',
    align: 'center',
    ellipsis: 'true'
  },
  {
    title: '实际花费(万元)',
    dataIndex: 'budget02',
    width: '19%',
    align: 'center',
    ellipsis: 'true'
  },
  {
    title: '节超支情况(万元)',
    dataIndex: 'budget03',
    width: '19%',
    align: 'center',
    ellipsis: 'true'
  }
];
const taskData = [
  {
    index: '1',
    con: '外协费',
    user: '200',
    budget: '100',
    budget02: '120',
    budget03: '-20'
  },
  {
    index: '2',
    con: '采购费',
    user: '38',
    budget: '36',
    budget02: '39',
    budget03: '-3'
  },
  {
    index: '3',
    con: '差旅费',
    user: '900',
    budget: '900',
    budget02: '976',
    budget03: '-76'
  },
  {
    index: '4',
    con: '综合费',
    user: '10',
    budget: '10',
    budget02: '8',
    budget03: '+2'
  },
  {
    index: '5',
    con: '培训费',
    user: '100',
    budget: '100',
    budget02: '87',
    budget03: '+13'
  }
];
export default {
  name: 'FocusTasks',
  components: {
    // 自定义图标
    GengduoIcon,
    ShuaxinIcon
  },
  data() {
    return {
      taskData, //关注任务
      taskColumns //关注任务
    };
  },
  methods: {
    callback() {
      console.log();
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
