<template>
  <div class="module module04">
    <a-tabs default-active-key="1">
      <a-tab-pane key="1">
        <template slot="tab"> 监控<span>(10)</span> </template>
        <div class="module-in">
          <ul class="information">
            <li>
              <span><a-icon type="pie-chart" />60%</span>
              <p>CPU占有率</p>
            </li>
            <li>
              <span><a-icon type="team" />2467</span>
              <p>当前用户数</p>
            </li>
            <li>
              <span><a-icon type="share-alt" />0.00</span><span>Kbit/s</span>
              <p>网络流入速率</p>
            </li>
          </ul>
        </div>
      </a-tab-pane>
      <!-- 右侧图标 -->
      <template slot="tabBarExtraContent">
        <shuaxin-icon class="panel-icon" />
        <gengduo-icon class="panel-icon" />
      </template>
    </a-tabs>
  </div>
</template>
<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
export default {
  name: 'Card8',
  components: {
    // 自定义图标
    GengduoIcon,
    ShuaxinIcon
  },
  data() {
    return {};
  }
};
</script>
<style lang="less" scoped>
@import './style/base.less';
</style>
