<!-- 表格行高设置组件 -->
<template>
  <a-popover
    :placement="placement"
    :trigger="trigger"
    v-model="visible"
    arrow-point-at-center
    overlay-class-name="avic-table-size-popover"
  >
    <a-icon type="column-height" class="opt-icon" title="密度" />
    <template slot="content">
      <a-menu slot="overlay" v-model="selected" style="width: 80px" class="table-height-menu">
        <a-menu-item key="small" @click="changeSelect('small')"> 紧凑 </a-menu-item>
        <a-menu-item key="middle" @click="changeSelect('middle')"> 常规 </a-menu-item>
        <a-menu-item key="default" @click="changeSelect('default')"> 宽松 </a-menu-item>
      </a-menu>
    </template>
  </a-popover>
</template>
<script>
import { Popover, Menu, Icon } from 'ant-design-vue';
export default {
  name: 'AvicChangeTableSize',
  components: {
    APopover: Popover,
    AMenu: Menu,
    AMenuItem: Menu.Item,
    AIcon: Icon
  },
  props: {
    // 弹出框位置
    placement: {
      type: String,
      default: 'bottomRight'
    },
    // 触发方式
    trigger: {
      type: Array,
      default: () => ['click']
    },
    // 表格初始尺寸
    initSize: {
      type: String,
      default: 'middle'
    }
  },
  watch: {
    initSize(val) {
      this.selected = [val];
    }
  },
  data() {
    return {
      visible: false,
      selected: [this.initSize] // 菜单选中key
    };
  },
  methods: {
    /**
     * 切换
     */
    changeSelect(size) {
      this.visible = false;
      this.selected = [size];
      this.$emit('changeTableSize', size);
    }
  }
};
</script>
<style lang="less">
@import './style/base';
</style>
