/* 选人组件公共样式整理 begin */

.common-content {
  width: 100%;
  height: 100%;
  /* Start 头部标题 */
  .popup-title {
    height: 48px;
    border-bottom:1px solid  #e8e8e8;
  }

  .popup-title h2 {
    line-height: 48px;
    float: left;
    margin-right: 6px;
    margin-bottom: 0;
    font-size: 16px;
    margin-left: 20px;
    font-weight: normal;
  }

  .popup-title h4 {
    font-weight: normal;
    line-height: 48px;
    float: left;
    color: #999;
    margin-bottom: 0;
    font-size: 12px;
  }
  /* End 头部标题 */
  /* Start 弹窗 */
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 18px;
  }

  .ant-modal-close {
    right: 6px;
  }

  .ant-modal-close-x {
    display: block;
    width: 38px;
    margin-right: 10px;
    height: 48px;
    font-size: 16px;
    font-style: normal;
    line-height: 48px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }
  /* End 弹窗 */
  .commonselect-container-box {
    overflow: hidden;
    width: 680px;
    height: 420px;
  }
  /* Start 左侧区域 */
  .container-left {
    width: 340px;
    box-sizing: border-box;
    float: left;
  }

  .ant-tabs-nav-scroll {
    padding-left: 20px;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
    height: 33px;
  }

  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #e8e8e8 ;
    height: 33px !important;
    line-height: 32px ;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    line-height: 32px;
    height: 32px;
    border-bottom-color: #fff;
  }

  .ant-tabs .ant-tabs-top-content {
    height: calc(100% - 34px);
    overflow-y: auto;
    padding: 0;
    border-right: solid 1px #e8e8e8;
  }

  .ant-tabs-tabpane {
    height: 100%;
  }

  .ant-tabs-nav-container {
    font-size: 12px;
  }

  .big-tree {
    border: 0;
    padding-bottom: 0;
    .check-box .box.radio {
      width: 16px;
      height: 16px;
    }
    .check-box .box.radio::after {
      left: 50%;
      top: 50%;
      transform: rotate(0deg) scale(1) translate(-50%, -50%);
    }
  }
  :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open .ant-tree-switcher-icon,
  :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open .ant-select-switcher-icon {
    font-size: 20px;
    margin-top: 2px;
  }

  :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_close .ant-tree-switcher-icon,
  :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_close .ant-select-switcher-icon {
    font-size: 20px;
    margin-top: 2px;
  }

  .ant-tree {
    height: 200px;
    overflow: auto;
  }

  .ant-tree-checkbox-inner {
    width: 14px;
    height: 14px;
  }

  .ant-tree-checkbox-inner::after {
    top: 42%;
    left: 16%;
  }

  .ant-tree-checkbox-checked::after {
    height: 14px;
  }
  /* 左侧区域下拉及搜索 */

  .v-select {
    width: 320px;
    margin: auto 0 4px 0;
  }
  .ant-select-selection {
    width: 155px;
    float: left;
    margin-top: 8px;
    font-size: 12px;
    height: 28px;
    .ant-select-selection__rendered {
      line-height: 26px;
    }
    .ant-select-selection-selected-value {
      height: 28px;
    }
  }

  .ant-select-dropdown {
    width: 155px !important;
  }

  .ant-input-search {
    margin-top: 8px;
    width: 155px;
    height: 28px !important;
    float: right;
    .ant-input {
      font-size: 12px;
      height: 28px !important;
      border: 1px solid #e8e8e8;
    }
  }

  .only-search {
    float: none;
    width: 290px;
  }
  /* 左侧区域表格：去表头 去边框 去背景色 内容格式化 */
  .container-checkbox {
    height: 374px;
    width: 329px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .vxe-pager .vxe-pager--jump {
    margin: 0;
  }
  .vxe-table {
    margin: 0;
  }

  .vxe-table .vxe-table--border-line {
    border: none;
  }

  .vxe-table.size--mini .vxe-body--column.col--ellipsis {
    height: 30px !important;
  }

  .vxe-table .vxe-table--body .vxe-body--column {
    background-image: none !important;
    height: 30px !important;
    font-size: 12px;
  }

  .cell-txt {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-right: 6px;
  }

  .cell-popover {
    display: inline-block;
    float: left;
  }

  i.anticon.anticon-question-circle {
    color: #999;
  }

  .container-checkbox small {
    color: #999;
    font-size: 12px;
  }

  .ant-popover-inner {
    background: rgba(0, 0, 0, 0.6);
  }

  .ant-popover-inner-content {
    color: #fff;
  }

  .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
  .ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
  .ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
    bottom: 6.2px;
    border-top-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-left-color: transparent;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  }

  .ant-popover-arrow {
    background: rgba(0, 0, 0, 0.1);
    border-color: transparent;
    border-style: solid;
  }
  /* End 左侧区域 */
  /* Start 右侧区域 */
  .container-right {
    width: 340px;
    float: right;
    padding: 0 10px;
  }

  .container-right-top {
    position: relative;
  }

  .ant-checkbox-wrapper {
    width: 300px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    font-size: 12px;
    color: #333;
  }

  .total-delete-icon {
    position: absolute;
    right: 10px;
    top: 4px;
    line-height: 40px;
    font-size: 16px;
    color: #999;
    z-index: 2;
  }

  .container-right-top .ant-checkbox-wrapper {
    line-height: 45px;
  }
  .checkgroup {
    height: 373px;
    overflow: auto;
    overflow-x: hidden;
  }
  .checkgroup li {
    position: relative;
    color: rgba(0, 0, 0, 0.65);
  }

  .content {
    width: 100%;
    height: 320px;
  }

  .infinite-list-item {
    width: 100%;
  }

  .content-li {
    width: 100%;
    position: relative;
    color: rgba(0, 0, 0, 0.65);
  }

  .checkadd {
    position: absolute;
    top: 0;
    right: 30px;
  }

  .checkclose {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .checkadd i,
  .checkclose i {
    line-height: 30px;
    display: block;
    cursor: move;
  }

  .checkclose i {
    color: #999;
    cursor: pointer;
  }

  .checkclose,
  .checkadd {
    display: none;
  }
  .checkgroup li:hover .checkclose,
  .checkgroup li:hover .checkadd {
    display: block;
  }
  .vxe-cell:hover .checkclose {
    display: block;
  }

  .vxe-cell:hover .checkadd {
    display: block;
  }
  /* Start 拖拽相关 */
  .flip-list-move {
    transition: transform 0.5s;
  }

  .no-move {
    transition: transform 0s;
  }

  .ghost {
    opacity: 0.8;
  }

  .drag-fallback {
    opacity: 0 !important;
  }

  /* End 拖拽相关 */
  .no-data {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ant-btn {
    height: 28px;
    padding: 0 14px;
    font-size: 12px;
  }

  .vxe-table .vxe-table--header-wrapper {
    background-color: transparent !important;
  }

  .vxe-table th {
    font-weight: normal;
  }

  .vxe-table.column--highlight .vxe-header--column:not(.col--seq):hover {
    background-color: transparent !important;
  }

  .vxe-table .vxe-header--column {
    height: 45px !important;
    background: none !important;
    font-size: 12px;
  }

  .vxe-table .vxe-table--body .vxe-body--row,
  .vxe-table .vxe-table--body .vxe-body--row.row--hover,
  .vxe-table .vxe-table--body .vxe-body--row.row--hover.row--stripe {
    background-color: transparent;
  }

  .vxe-table .vxe-cell {
    padding-left: 0;
  }
  .vxe-table .vxe-body--column .vxe-cell {
    padding-right: 40px;
    padding-left: 0;
  }

  .vxe-table .vxe-body--column.col--checkbox .vxe-cell,
  .vxe-table .vxe-header--column.col--checkbox .vxe-cell {
    padding-right: 3px;
    width: 30px !important;
  }
}
.ant-popover {
  font-size: 12px;
}
.ant-select-dropdown-menu-item {
  font-size: 12px;
  padding: 3px 12px;
}
/* 选人组件公共样式整理 end */

/* 选人页面样式整理 begin */
.user-select-content {
  .popup-title {
    margin-bottom: 8px;
  }
  .container-left {
    height: calc(100% - 56px);
    .ant-tabs-bar {
      margin: 0;
    }
    .ant-tabs-card-bar .ant-tabs-tab {
      margin-right: 5px;
    }
  }
  .container-right {
    height: calc(100% - 95px);
    margin-top: 32px;
    border-top: 1px solid rgb(233, 233, 233);
  }
}
/* 选人页面样式整理 end */

/* 选部门页面样式整理 begin */
.dept-select-content {
  .container-left {
    height: calc(100% - 48px);
    border-right: 1px solid rgb(233, 233, 233);
  }
  .container-right {
    height: calc(100% - 60px);
  }
}
/* 选部门页面样式整理 end */

/* 选群组页面样式整理 begin */
.group-select-content {
  .container-left {
    height: 100%;
    border-right: solid 1px #e8e8e8;
    padding: 0 10px;
    .vxe-cell--radio,
    .vxe-cell--checkbox {
      margin-left: 5px;
    }
    .vxe-table--header {
      display: none;
    }
  }
  .container-right {
    height: 100%;
    float: left;
    position: relative;
  }
  .container-right-top {
    border-bottom: 1px solid #e9e9e9;
  }
}
/* 选群组页面样式整理 end */
/* 选角色页面样式整理 begin */
.role-select-content {
  .container-left {
    height: 100%;
    border-right: solid 1px #e8e8e8;
    padding: 0 10px;
    .vxe-cell--radio,
    .vxe-cell--checkbox {
      margin-left: 5px;
    }
    .vxe-table--header {
      display: none;
    }
  }
  .container-right {
    height: 100%;
    float: left;
    position: relative;
  }
  .container-right-top {
    border-bottom: 1px solid #e9e9e9;
  }
}
/* 选角色页面样式整理 end */
/* 选岗位页面样式整理 begin */
.position-select-content {
  .container-left {
    height: 100%;
    border-right: solid 1px #e8e8e8;
    padding: 0 10px;
    .vxe-cell--radio,
    .vxe-cell--checkbox {
      margin-left: 5px;
    }
    .vxe-table--header {
      display: none;
    }
  }
  .container-right {
    height: 100%;
    float: left;
    position: relative;
  }
  .container-right-top {
    border-bottom: 1px solid #e9e9e9;
  }
}
/* 选岗位页面样式整理 end */

.avicit-select-box {
  .ant-input-affix-wrapper .ant-input-prefix,
  .ant-input-affix-wrapper .ant-input-suffix {
    z-index: 0;
    color: rgba(0, 0, 0, 0.25);
  }
}
