.avic_commonselect_skin( @primary-color ) {
  .common-content {
    .vxe-table .vxe-table--body .vxe-body--row.row--hover,
    .vxe-table .vxe-table--body .vxe-body--row.row--hover.row--stripe {
      background-color: color(~`colorPalette('@{primary-color}', 1) `);
    }
    .checkgroup li:hover {
      background-color: color(~`colorPalette('@{primary-color}', 1) `);
    }
  }
}