<!--
  选部门
-->
<template>
  <a-modal
    :width="680"
    :body-style="{ height: '469px' }"
    wrap-class-name="common-content dept-select-content vxe-table--ignore-clear"
    centered
    title=""
    :visible="visible"
    :keyboard="false"
    :destroy-on-close="false"
    :mask-closable="false"
    @ok="confirm"
    @cancel="closeModal"
  >
    <div ref="flowModal" style="height: 100%">
      <div class="popup-title">
        <h2>{{ title }}</h2>
        <h4>{{ sideInfo }}</h4>
      </div>
      <div class="container-left">
        <big-tree
          v-if="selectModel === 'multi'"
          ref="avicTreeElement"
          has-input
          :placeholder="searchPlaceholder"
          :search-input-style="searchInputStyle"
          :clear-input-icon-setting="{
            type: 'close-circle',
            theme: 'filled',
            style: { color: '#3399ff' }
          }"
          :item-height="30"
          checked-action="click"
          :expand-level="deptExpandLevel"
          :auto-load="autoLoadAsyn"
          :is-loading="loading"
          :load-data="loadDataAsyn"
          :asyn-load="true"
          :show-checkbox="true"
          :default-checked-keys="treeCheckedKeys"
          @onChange="onChange"
          @onClickLabel="onClickLabel"
          @onClickCheckbox="onClickCheckbox"
        >
          <template v-slot:dtTitle="{ item: dtItem, keyword: dtKeyword }">
            <span v-if="dtItem.title.indexOf(dtKeyword) > -1">
              {{ dtItem.title.substr(0, dtItem.title.indexOf(dtKeyword)) }}
              <span style="color: #f50">
                {{ dtKeyword }}
              </span>
              {{ dtItem.title.substr(dtItem.title.indexOf(dtKeyword) + dtKeyword.length) }}
            </span>
            <span v-else>
              {{ dtItem.title }}
            </span>
          </template>
        </big-tree>
        <big-tree
          v-if="selectModel === 'single'"
          ref="avicTreeElement"
          :single="true"
          has-input
          :placeholder="searchPlaceholder"
          :search-input-style="searchInputStyle"
          :clear-input-icon-setting="{
            type: 'close-circle',
            theme: 'filled',
            style: { color: '#3399ff' }
          }"
          :item-height="30"
          checked-action="click"
          :expand-level="deptExpandLevel"
          :auto-load="autoLoadAsyn"
          :is-loading="loading"
          :load-data="loadDataAsyn"
          :asyn-load="true"
          :show-checkbox="true"
          :default-checked-keys="treeCheckedKeys"
          @onChange="onChange"
          @onClickLabel="onClickLabel"
          @onClickCheckbox="onClickCheckbox"
          @onDblClickLabel="onDblClickLabel"
        >
          <template v-slot:dtTitle="{ item: dtItem, keyword: dtKeyword }">
            <span v-if="dtItem.title.indexOf(dtKeyword) > -1">
              {{ dtItem.title.substr(0, dtItem.title.indexOf(dtKeyword)) }}
              <span style="color: #f50">
                {{ dtKeyword }}
              </span>
              {{ dtItem.title.substr(dtItem.title.indexOf(dtKeyword) + dtKeyword.length) }}
            </span>
            <span v-else>
              {{ dtItem.title }}
            </span>
          </template>
        </big-tree>
      </div>
      <div class="container-right" ref="pullRefresh">
        <div class="container-right-top">
          <a-icon class="total-delete-icon" type="delete" @click="handleDelSelectedTotal" />
        </div>
        <div class="checkgroup">
          <AvicBigTable
            :is-big-data-table="true"
            :ref="tableRefName"
            :bordered="true"
            :resizable="false"
            :style="{ height: '100%' }"
            :is-auto-count-scroll-x="true"
            :is-add-order-number="false"
            :columns="selectListColumns"
            row-key="id"
            :data-index="dataIndex"
            :is-custom-row-click-as-single-check="false"
            :is-add-row-drop="true"
            :checkbox-column-setting="{ width: 40 }"
            :pagination-default="false"
            :virtual-scroll-y="{ gt: 100 }"
            @handleRowSelection="handleRowSelection"
            @rowDrop="rowDrop"
          >
            <template scope="obj">
              <span class="cell-txt" :title="obj.data[dataIndex]">
                <span>{{ obj.data[dataIndex] }}</span>
              </span>
              <div class="checkadd custom-icons-list drag-btn">
                <AvicIcon icon-source="avic" svg-name="drag" />
              </div>
              <div class="checkclose" @click="handleDelSelectedItem($event, obj.data)">
                <a-icon type="close-circle" theme="filled" />
              </div>
            </template>
          </AvicBigTable>
        </div>
      </div>
    </div>
  </a-modal>
</template>
<script>
import { Modal, Icon } from 'ant-design-vue';
import BigTree from '@comp/avic/pt/common/AvicBigTree';
import AvicIcon from '@comp/avic/pt/common/AvicIcon';
import { httpAction } from '@/api/manage';
import { getInitDeptInfo } from './api';

export default {
  name: 'DeptSelect',
  components: {
    AModal: Modal,
    AIcon: Icon,
    BigTree,
    AvicBigTable: () => import('@comp/avic/pt/common/AvicBigTable'),
    AvicIcon
  },
  props: {
    //是否显示
    show: {
      type: Boolean,
      required: true,
      default: false
    },
    // 名称
    name: {
      type: String,
      default: '部门'
    },
    // 标题
    title: {
      type: String,
      default: '部门选择'
    },
    // 辅助提示信息
    sideInfo: {
      type: String,
      default: ''
    },
    // 搜索提示
    searchPlaceholder: {
      type: String,
      default: '请输入部门名称'
    },
    //单选 single ，多选 multi
    selectModel: {
      type: String,
      required: false,
      default: 'single'
    },
    //多选最多选择数量
    maxSelect: {
      type: Number,
      required: false,
      default: 0
    },
    defaultValue: {
      required: false,
      default: ''
    },
    //双向绑定改变事件
    modelChange: {
      required: false,
      default: ''
    },
    //组织范围
    viewScope: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载指定组织下的数据
    defaultOrgId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载部门
    defaultLoadDeptId: {
      type: String,
      required: false,
      default: ''
    },
    //部门等级
    deptLevel: {
      type: Number,
      required: false
    },
    viewSystemDept: {
      type: Boolean,
      required: false,
      default: false
    },
    deptUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getDeptSelectList/v1' //部门地址
    },
    // 请求类型
    methodType: {
      type: String,
      required: false,
      default: 'post'
    },
    deptSearchUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getDeptSelectList/v1' //部门搜索
    },
    // 选部门初始展开层级
    deptExpandLevel: {
      type: Number,
      default: 2
    },
    //自定义参数
    customParam: {
      type: Object,
      required: false,
      default: null
    },
    //自定义参数
    customSearchParam: {
      type: Object,
      required: false,
      default: null
    }
  },
  data() {
    return {
      tableRefName: 'deptSelectTable',
      selectListColumns: [
        {
          title: '已选部门',
          headerAlign: 'left',
          dataIndex: 'title'
        }
      ],
      dataIndex: 'title',
      searchInputStyle: {
        paddingBottom: '0px',
        marginTop: '-4px',
        marginBottom: '6px'
      },
      visible: false, //窗口是否显示
      departTree: [], //树列表
      loading: false, //加载中
      select: '', //选择的用户
      treeCheckedKeys: [], //树选中控制
      selectList: [], //选中的用户
      selectListMap: {}, //选中的用户
      loadedKeys: [], //已经加载过的节点
      spinning: false, //选中加载
      maxSelectNumber: 0, //最多选人数量
      // 树组件需要的加载数据格式
      treeParam: {
        url: this.deptUrl,
        parameter: {},
        method: this.methodType
      },
      // 树搜索组件需要的加载数据格式
      searchTreeParam: {
        url: this.deptSearchUrl,
        parameter: {},
        method: this.methodType
      },
      defaultMaxParentId: '-1', //最高级的父id
      treeNodeDataRef: {}, //当前节点信息
      repeatKeys: [] //重复用户Key记录
    };
  },
  //接收组件传参
  watch: {
    show: {
      immediate: true,
      handler(newV) {
        this.visible = newV;
        if (newV === true) {
          this.init();
        }
      }
    },
    defaultValue: {
      immediate: true,
      handler(defaultValue) {
        if (defaultValue) {
          if (defaultValue && defaultValue.ids) {
            let ids = defaultValue.ids.split(';');
            let names = [];
            if (defaultValue.names) {
              names = defaultValue.names.split(';');
            }
            if (ids.length == names.length) {
              this.initDataNotHttp(defaultValue);
            } else {
              this.loadDefaultValue(defaultValue.ids);
            }
          } else if (defaultValue) {
            this.loadDefaultValue(defaultValue);
          }
        }
      }
    },
    //双向绑定，处理回填数据
    modelChange: {
      immediate: true,
      handler(newV) {
        if (newV && newV.ids) {
          let ids = newV.ids.split(';');
          let names = [];
          if (newV.names) {
            names = newV.names.split(';');
          }
          if (ids.length == names.length) {
            this.initDataNotHttp(newV);
          }
        } else {
          if (!newV && this.selectList.length > 0) {
            this.empty();
          }
        }
      }
    },
    maxSelect: {
      immediate: true,
      handler(newV) {
        if (newV > 0) {
          this.maxSelectNumber = newV;
        }
      }
    }
  },
  created() {
    this.setDeptTreeData('', '');
  },
  activated() {
    if (this.$refs.pullRefresh) {
      this.$refs.pullRefresh.scrollTop = this.scroll;
    }
  },
  mounted() {
    // 处理默认值
    if (this.defaultValue) {
      let defaultValue = this.defaultValue;
      if (defaultValue && defaultValue.ids) {
        let ids = defaultValue.ids.split(';');
        let names = [];
        if (defaultValue.names) {
          names = defaultValue.names.split(';');
        }
        if (ids.length == names.length) {
          this.initDataNotHttp(defaultValue);
        } else {
          this.loadDefaultValue(defaultValue.ids);
        }
      } else if (defaultValue) {
        this.loadDefaultValue(defaultValue);
      }
    }
  },
  methods: {
    handleRowSelection({ selectedRowKeys, selectedRows, record, isSelected, isFromCheckboxAll }) {
      let select = this.selectList;
      select.map(item => {
        if (selectedRowKeys.includes(item.id)) {
          item.bigTableDataChecked = true;
        } else {
          item.bigTableDataChecked = false;
        }
      });
      this.selectList = select;
    },
    handleDelSelectedTotal() {
      let selectedNum = 0;
      let selectedData = [];
      let unselectedData = [];
      for (let i = 0; i < this.selectList.length; i++) {
        if (this.selectList[i].bigTableDataChecked) {
          selectedNum++;
          selectedData.push(this.selectList[i]);
        } else {
          unselectedData.push(this.selectList[i]);
        }
      }
      if (selectedNum == 0) {
        this.$message.warning('请选择要删除的数据！');
        return;
      } else {
        this.selectList = unselectedData;
        selectedData.map(item => {
          delete this.selectListMap[item.id];
        });
        this.setCheckData();
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    handleDelSelectedItem(e, item) {
      e.stopPropagation();
      let selectList = [];
      for (let i = 0; i < this.selectList.length; i++) {
        if (this.selectList[i].id != item.id) {
          selectList.push(this.selectList[i]);
        }
      }
      this.selectList = selectList;
      delete this.selectListMap[item.id];
      this.setCheckData();
      this.select = '';
      this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
    },
    rowDrop(tableData) {
      if (tableData) {
        this.selectList = tableData;
      }
    },
    //初始化函数
    init() {
      this.setDeptTreeData();
      this.departTree = [];
      this.loadedKeys = [];
    },
    /**
     * 搜索按钮点击确定 ，设置搜索参数
     */
    onSearchTree(e) {
      let select = [];
      this.selectList.map(tim => {
        select.push(tim.id);
      });
      this.searchTreeParam.parameter = {
        viewScope: this.viewScope,
        defaultOrgId: this.defaultOrgId,
        selectedDept: select.join(','),
        viewSystemDept: this.viewSystemDept,
        defaultLoadDeptId: this.defaultLoadDeptId,
        deptLevel: this.deptLevel,
        searchText: e
      };
      if (Object.keys(this.customSearchParam)) {
        Object.assign(this.searchTreeParam.parameter, this.customSearchParam);
      }
    },
    setSearchParam(e) {
      let select = [];
      this.selectList.map(tim => {
        select.push(tim.id);
      });
      this.searchTreeParam.parameter = {
        viewScope: this.viewScope,
        defaultOrgId: this.defaultOrgId,
        selectedDept: select.join(','),
        viewSystemDept: this.viewSystemDept,
        defaultLoadDeptId: this.defaultLoadDeptId,
        deptLevel: this.deptLevel,
        searchText: e
      };
    },
    /**
     * 加载节点事件 ，设置加载节点的参数
     */
    beforeLoadData(data) {
      if (data) {
        this.setDeptTreeData(data.id, data.nodeType);
        if (data.parentId != this.defaultMaxParentId) {
          this.loadedKeys.push(data.id);
        }
        this.treeNodeDataRef = data;
      }
    },
    /**
     * 数据加载完成事件 ，重新组合设置加载节点的参数
     */
    afterLoadData(res) {
      //多选时重新组合key
      if (this.selectModel == 'multi') {
        this.setTreeData(res.result, this.treeNodeDataRef.key);
      }
    },
    /**
     * 数据加载完成事件 ，重新组合设置加载节点的key值
     */
    setTreeData(data, key) {
      if (data && data.length > 0) {
        data.map(tim => {
          // key值重新组合
          if (key) {
            tim.key = key + '-' + tim.key;
          }
          //多选时设置节点选择属性
          if (this.selectModel == 'multi') {
            let notUser =
              tim.nodeType == 'position' ||
              tim.nodeType == 'group' ||
              tim.nodeType == 'role' ||
              tim.nodeType == 'org'
                ? true
                : false;
            if (tim.isLeaf && notUser) {
              //叶子非用户节点禁止选择
              tim.disableCheckbox = true;
              tim.disabled = true;
            } else {
              tim.disabled = false;
            }
          }
          if (tim.children) {
            this.setTreeData(tim.children, tim.key);
          }
        });
      }
    },
    /**
     *  加载部门节点需要传的数据
     */
    setDeptTreeData(id = '', nodeType = '') {
      this.treeParam.parameter = {
        viewScope: this.viewScope,
        defaultOrgId: this.defaultOrgId,
        nodeType,
        id,
        viewSystemDept: this.viewSystemDept,
        defaultLoadDeptId: this.defaultLoadDeptId,
        deptLevel: this.deptLevel
      };
      if (Object.keys(this.customParam)) {
        Object.assign(this.treeParam.parameter, this.customParam);
      }
    },
    //加载默认数据
    loadDefaultValue(ids) {
      if (ids) {
        let deptids = [];
        deptids = ids.split(';');
        this.initDeptInfo(deptids);
      }
    },
    //点击取消
    closeModal() {
      this.$emit('close');
      this.emptyQuery();
    },
    //点击确定
    confirm() {
      const result = this.setResultData();
      if (result.ids) {
        this.$emit('callBack', result);
      } else {
        this.$emit('callBack', null);
      }
      this.visible = false;
      this.emptyQuery();
    },
    //处理返回的数据格式
    setResultData() {
      let ids = '';
      let names = '';
      let deptid = '';
      let deptname = '';
      if (this.selectList && this.selectList.length > 0) {
        this.selectList.map((res, i) => {
          if (i > 0) {
            ids += ';';
            names += ';';
            if (res.attributes) {
              deptid += ';';
              deptname += ';';
            }
          }
          ids += res.id;
          names += res.title;
          if (res.attributes) {
            deptid += res.attributes.deptid;
            deptname += res.attributes.deptname;
          }
        });
      }
      let result = null;
      if (deptid) {
        result = { ids, names, deptid, deptname };
      } else {
        result = { ids, names };
      }
      return result;
    },
    //清空选中人员
    empty() {
      this.select = '';
      this.treeCheckedKeys = [];
      this.repeatKeys = [];
      this.selectList = [];
      this.selectListMap = {};
      if (this.$refs[this.tableRefName]) {
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    //清除查询条件
    emptyQuery() {
      this.onSearchTree('');
      this.setDeptTreeData('', '');
      this.loadedKeys = [];
    },
    // 加载初始化选中的部门
    initDeptInfo(data) {
      let _this = this;
      this.spinning = true;
      this.empty();
      getInitDeptInfo(data)
        .then(res => {
          if (res.success) {
            res.result.map(tim => {
              _this.selectList.push({
                id: tim.id,
                nodeType: 'dept',
                title: tim.name,
                key: tim.id,
                isLeaf: true,
                children: []
              });
              _this.treeCheckedKeys.push(tim.id);
            });
          }
          _this.spinning = false;
          const result = _this.setResultData();
          setTimeout(() => {
            _this.$emit('defaultBack', result);
          }, 100);
          this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
        })
        .catch(response => {
          _this.spinning = false;
        });
    },
    //初始化回填 用户或者部门，不去请求http
    initDataNotHttp(data) {
      let type = 'dept';
      this.empty();
      let ids = data.ids.split(';');
      let names = data.names.split(';');
      let list = [];
      this.selectList = [];
      this.selectListMap = {};
      ids.map((tim, i) => {
        let item = {
          id: tim,
          nodeType: type,
          title: names[i],
          key: tim,
          isLeaf: true,
          children: [],
          bigTableDataChecked: false
        };
        this.selectList.push(item);
        list.push(tim);
        this.selectListMap[tim] = item;
      });
      this.treeCheckedKeys = list;
    },
    // bigtree 请求数据
    loadDataAsyn(node, keyword) {
      return new Promise(resolve => {
        if (node && node.children.length > 0) {
          resolve();
          return;
        }
        // 非查询条件下异步加载节点，修改treeParam传递的node的id
        if (node) {
          let id = node.id;
          this.beforeLoadData(node, id);
        } else {
          //非异步加载节点加载清除id 和nodeType
          this.treeParam.parameter.id = '';
          this.treeParam.parameter.nodeType = '';
        }
        if (this.$refs['avicTreeElement']) {
          this.$refs['avicTreeElement'].refresh(true);
        }
        let param = {};
        if (keyword == '') {
          this.treeParam.parameter.searchText = keyword;
          param = this.treeParam;
        } else {
          this.setSearchParam(keyword);
          param = this.searchTreeParam;
        }

        httpAction(
          param.url,
          param.parameter ? param.parameter : '',
          param.method,
          true,
          true,
          false
        )
          .then(res => {
            if (res.success) {
              if (res.result.length > 0) {
                this.afterLoadData(res);
                res.result.map(item => {
                  if (item.isLeaf && item.nodeType != 'dept') {
                    item.isLeaf = false;
                  }
                });
                this.$refs['avicTreeElement'].setData({ data: res.result, node, keyword });
                this.$refs['avicTreeElement'].refresh(false);
              } else {
                if (keyword != '') {
                  this.$message.warning('未查询到匹配数据！');
                }
                this.$refs['avicTreeElement'].loadErr(node);
                this.$message.warning(`${node.title} 节点下无数据。`);
              }
            } else {
              this.$refs['avicTreeElement'].loadErr(node);
            }
            resolve();
          })
          .catch(response => {
            this.$refs['avicTreeElement'].refresh(false);
            this.$refs['avicTreeElement'].loadErr(node);
          });
      });
    },
    // bigtree 自动初始化节点
    autoLoadAsyn() {
      this.loadDataAsyn(null, '');
    },
    // bigtree 选中逻辑处理
    checkBigTree(nodeInfo) {
      if (this.selectModel == 'single') {
        if (nodeInfo.checked) {
          this.selectListMap = {};
          this.selectListMap[nodeInfo.id] = { ...nodeInfo };
          this.selectList = [];
          this.selectList = [{ ...nodeInfo, bigTableDataChecked: false }];
        } else {
          this.selectListMap = {};
          this.selectList = [];
        }
      } else {
        if (!nodeInfo.checked && !nodeInfo.indeterminate) {
          //节点删除操作，先删除selectList中的节点信息
          this.deleteNode(nodeInfo);
          this.selectList = Object.values(this.selectListMap);
        } else {
          let select = this.$refs['avicTreeElement'].getAllLeafNodes();
          if (this.maxSelectNumber > 0 && select.length > this.maxSelectNumber) {
            this.$message.warning(`已设置最多选择${this.maxSelectNumber}个部门！`);
            this.setCheckData();
          } else {
            this.setSelectList(select);
          }
        }
      }
      this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
    },
    // bigtree 数据变化处理
    onChange({ checkedKeys, checkedNodes }) {
      if (
        this.selectModel == 'multi' &&
        this.maxSelectNumber > 0 &&
        checkedNodes.length > this.maxSelectNumber
      ) {
        // this.$message.warning(`已设置最多选择${this.maxSelectNumber}人！`)
      } else {
        this.setSelectList(checkedNodes);
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    // bigtree 标签点击事件处理
    onClickLabel(node) {},
    // bigtree 复选框点击事件处理
    onClickCheckbox(node) {
      this.checkBigTree(node);
    },
    /* 单选模式，双击标签回填选项 */
    onDblClickLabel(node) {
      if (this.selectModel == 'single') {
        this.setSelectList([node]);
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
        this.confirm();
      }
    },
    // 删除节点
    deleteNode(node) {
      if (node.isLeaf && !node.cheched) {
        delete this.selectListMap[node.id];
      } else if (node.children && node.children.length > 0) {
        node.children.map(tim => {
          this.deleteNode(tim);
        });
      }
    },
    setSelectList(nodes) {
      if (nodes) {
        nodes.map(tim => {
          if (!this.selectListMap[tim.id]) {
            let item = {
              ...tim
            };
            item.bigTableDataChecked = false;
            this.selectList.push(item);
            this.selectListMap[tim.id] = item;
          }
        });
      }
    },
    // 设置treeCheckedKeys
    setCheckData(checkedKeys) {
      let list = [];
      this.selectList.map(tim => {
        list.push(tim.id);
      });
      this.treeCheckedKeys = list;
    }
  }
};
</script>
