<!--
  选择控件
  两个回调函数  callBack 点击确定 close 点击关闭
-->
<template>
  <div class="avicit-select-box" @click="openSelect">
    <slot />
    <a-input
      v-if="!$slots.default"
      v-model="showValue"
      :title="showValue"
      :disabled="disabled"
      :placeholder="placeholder"
      :auto-focus="autoFocus"
      @change.prevent="handleChange"
      @click="inputClick"
      @blur="inputBlur"
      @focus="inputFocus"
    >
      <a-icon v-if="type === 'userSelect'" slot="suffix" type="user" />
      <a-icon v-if="type === 'deptSelect'" slot="suffix" type="team" />
      <a-icon v-if="type === 'roleSelect'" slot="suffix" type="solution" />
      <a-icon v-if="type === 'positionSelect'" slot="suffix" type="contacts" />
      <a-icon v-if="type === 'groupSelect'" slot="suffix" type="gold" />
    </a-input>
    <!--选人-->
    <UserSelect
      v-if="type === 'userSelect'"
      ref="avicCommonSelectUserSelect"
      :show.sync="showApprove"
      :name="name"
      :title="title"
      :side-info="sideInfo"
      :search-placeholder="searchPlaceholder"
      :select-model="selectModel"
      :max-select="localMaxSelect"
      :default-value="internaldefaultValue"
      :model-change="select"
      :tab-show="tabShow"
      :view-scope="viewScope"
      :default-org-id="internalDefaultOrgId"
      :secret-level="secretLevel"
      :default-load-dept-id="defaultLoadDeptId"
      :default-load-group-id="defaultLoadGroupId"
      :default-load-role-id="defaultLoadRoleId"
      :default-load-position-id="defaultLoadPositionId"
      :view-system-user="viewSystemUser"
      :user-url="userUrl"
      :method-type="methodType"
      :user-search-url="userSearchUrl"
      :dept-tab-expand-level="deptTabExpandLevel"
      :search-num-limit="searchNumLimit"
      :custom-param="customParam || {}"
      :custom-search-param="customSearchParam || {}"
      :get-init-user-info-url="getInitUserInfoUrl"
      :get-init-user-info-method="getInitUserInfoMethod"
      @defaultBack="defaultBack"
      @callBack="confirm"
      @close="close"
    />
    <!--选部门-->
    <DeptSelect
      v-if="type === 'deptSelect'"
      ref="avicCommonSelectDeptSelect"
      :show.sync="showApprove"
      :name="name"
      :title="title"
      :side-info="sideInfo"
      :search-placeholder="searchPlaceholder"
      :select-model="selectModel"
      :max-select="localMaxSelect"
      :default-value="internaldefaultValue"
      :model-change="select"
      :view-scope="viewScope"
      :default-org-id="internalDefaultOrgId"
      :default-load-dept-id="defaultLoadDeptId"
      :dept-level="deptLevel"
      :view-system-dept="viewSystemDept"
      :dept-url="deptUrl"
      :method-type="methodType"
      :depth-search-url="deptSearchUrl"
      :dept-expand-level="deptExpandLevel"
      :custom-param="customParam || {}"
      :custom-search-param="customSearchParam || {}"
      @defaultBack="defaultBack"
      @callBack="confirm"
      @close="close"
    />
    <!--选角色-->
    <RoleSelect
      v-if="type === 'roleSelect'"
      ref="avicCommonSelectRoleSelect"
      :show.sync="showApprove"
      :name="name"
      :title="title"
      :side-info="sideInfo"
      :search-placeholder="searchPlaceholder"
      :select-model="selectModel"
      :max-select="localMaxSelect"
      :default-value="internaldefaultValue"
      :model-change="select"
      :view-scope="viewScope"
      :app-id="appId"
      :default-org-id="internalDefaultOrgId"
      :org-id="orgId"
      :role-url="roleUrl"
      :role-method-type="roleMethodType"
      @defaultBack="defaultBack"
      @callBack="confirm"
      @close="close"
    />
    <!--选群组-->
    <GroupSelect
      v-if="type === 'groupSelect'"
      ref="avicCommonSelectGroupSelect"
      :show.sync="showApprove"
      :name="name"
      :title="title"
      :side-info="sideInfo"
      :search-placeholder="searchPlaceholder"
      :select-model="selectModel"
      :max-select="localMaxSelect"
      :default-value="internaldefaultValue"
      :model-change="select"
      :view-scope="viewScope"
      :app-id="appId"
      :default-org-id="internalDefaultOrgId"
      :org-id="orgId"
      :group-url="groupUrl"
      :group-method-type="groupMethodType"
      @defaultBack="defaultBack"
      @callBack="confirm"
      @close="close"
    />
    <!--选岗位-->
    <PositionSelect
      v-if="type === 'positionSelect'"
      ref="avicCommonSelectPositionSelect"
      :show.sync="showApprove"
      :name="name"
      :title="title"
      :side-info="sideInfo"
      :search-placeholder="searchPlaceholder"
      :select-model="selectModel"
      :max-select="localMaxSelect"
      :default-value="internaldefaultValue"
      :model-change="select"
      :view-scope="viewScope"
      :app-id="appId"
      :default-org-id="internalDefaultOrgId"
      :org-id="orgId"
      :position-url="positionUrl"
      :position-method-type="positionMethodType"
      @defaultBack="defaultBack"
      @callBack="confirm"
      @close="close"
    />
  </div>
</template>
<script>
import { Input, Icon } from 'ant-design-vue';
import UserSelect from './UserSelect';
import DeptSelect from './DeptSelect';
import RoleSelect from './RoleSelect';
import PositionSelect from './PositionSelect';
import GroupSelect from './GroupSelect';
import { getUser } from '@utils/avic/http/sessionHelper';
export default {
  name: 'AvicCommonSelect',
  components: {
    AInput: Input,
    AIcon: Icon,
    UserSelect,
    DeptSelect,
    RoleSelect,
    GroupSelect,
    PositionSelect
  },
  props: {
    //选择类型，用户：userSelect，部门：deptSelect，角色：roleSelect，群组： groupSelect，岗位：positionSelect
    type: {
      type: String,
      required: true,
      default: 'userSelect'
    },
    //是否禁止输入
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    //输入框是否自动获取焦点
    autoFocus: {
      type: Boolean,
      required: false,
      default: false
    },
    //输入框提示
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    // 名称
    name: {
      type: String
    },
    // 标题
    title: {
      type: String
    },
    // 辅助提示信息
    sideInfo: {
      type: String
    },
    // 搜索提示
    searchPlaceholder: {
      type: String
    },
    //单选 single ，多选 multi
    selectModel: {
      type: String,
      required: false,
      default: 'single'
    },
    //多选最多选择人数
    maxSelect: {
      type: Number,
      required: false,
      default: 0
    },
    //字段长度,用于计算最多选人个数
    fieldLength: {
      type: Number,
      required: false,
      default: 0
    },
    //默认值
    defaultValue: {
      required: false,
      default: null
    },
    //返回数据
    value: {
      required: false
    },
    //组织范围
    viewScope: {
      type: String,
      required: false,
      default: ''
    },
    //应用id
    appId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载指定组织下的数据
    defaultOrgId: {
      type: String,
      required: false,
      default: ''
    },
    //组织id
    orgId: {
      type: String,
      required: false,
      default: ''
    },
    //默认下载部门id
    defaultLoadDeptId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载群组
    defaultLoadGroupId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载角色
    defaultLoadRoleId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载岗位
    defaultLoadPositionId: {
      type: String,
      required: false,
      default: ''
    },
    // 请求类型
    methodType: {
      type: String,
      required: false,
      default: 'post'
    },
    userUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getUserSelectList/v1' //用户地址
    },
    userSearchUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getUserSelectList/v1' //用户搜索
    },
    deptUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getDeptSelectList/v1' //部门地址
    },
    deptSearchUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getDeptSelectList/v1' //部门搜索
    },
    //自定义参数
    customParam: {
      type: Object
    },
    //自定义参数
    customSearchParam: {
      type: Object
    },
    //是否默认选中当前用户
    defaultSelectSessionUser: {
      type: Boolean,
      required: false,
      default: false
    },
    // 角色请求接口url
    roleUrl: {
      type: String
    },
    // 角色请求接口method
    roleMethodType: {
      type: String
    },
    // 群组请求接口url
    groupUrl: {
      type: String
    },
    // 群组请求接口method
    groupMethodType: {
      type: String
    },
    // 岗位请求接口url
    positionUrl: {
      type: String
    },
    // 岗位请求接口method
    positionMethodType: {
      type: String
    },
    // 选人获取初始化部门信息请求地址
    getInitUserInfoUrl: {
      type: String
    },
    // 选人获取初始化部门信息请求类型
    getInitUserInfoMethod: {
      type: String
    },
    // 是否显示无效部门
    viewSystemDept: {
      type: Boolean
    },
    // 选部门初始展开层级
    deptExpandLevel: {
      type: Number
    },
    //部门等级
    deptLevel: {
      type: Number
    },
    // 是否展示无效用户
    viewSystemUser: {
      type: Boolean
    },
    // 选人人员密级过滤
    secretLevel: {
      type: String
    },
    // 选人时是否显示tab
    tabShow: {
      type: Boolean
    },
    // 选人的部门tab页初始展开层级
    deptTabExpandLevel: {
      type: Number
    },
    // 选人关键字查询时最大用户数限制
    searchNumLimit: {
      type: Number
    },
    // 获取初始化角色的组织信息请求地址
    getInitRoleInfoUrl: {
      type: String
    },
    // 获取初始化角色的组织信息请求类型
    getInitRoleInfoMethod: {
      type: String
    },
    // 获取初始化群组的组织信息请求地址
    getInitGroupInfoUrl: {
      type: String
    },
    // 获取初始化群组的组织信息请求类型
    getInitGroupInfoMethod: {
      type: String
    },
    // 获取初始化岗位的组织信息请求地址
    getInitPositionInfoUrl: {
      type: String
    },
    // 获取初始化岗位的组织信息请求类型
    getInitPositionInfoMethod: {
      type: String
    }
  },
  data() {
    return {
      showValue: '',
      oldValue: '',
      showApprove: false, // 窗口是否显示
      select: { ids: '', names: '' },
      localMaxSelect: 0,
      internalDefaultOrgId: '', // 默认选中组织id
      internaldefaultValue: null // 默认选中值
    };
  },
  watch: {
    select: {
      immediate: true,
      handler(val) {
        this.oldValue = this.select && this.select.names ? this.select.names : '';
        this.showValue = this.oldValue;
      }
    },
    //最多选人个数
    fieldLength: {
      immediate: true,
      handler(newV) {
        if (newV > 0) {
          let idLength = 33; // 每一个用户id的长度
          this.localMaxSelect = parseInt((newV + 1) / idLength);
        }
      }
    },
    //最多选人个数
    maxSelect: {
      immediate: true,
      handler(newV) {
        if (newV > 0) {
          this.localMaxSelect = newV;
        }
      }
    },
    defaultValue: {
      immediate: true,
      handler(newV) {
        if (newV) {
          this.select = newV;
          this.internaldefaultValue = newV;
        } else {
          this.select = { ids: '', names: '' };
        }
      }
    },
    value: {
      immediate: true,
      handler(newV) {
        if (newV) {
          this.select = newV;
        } else {
          this.select = { ids: '', names: '' };
        }
      }
    }
  },
  beforeMount() {
    if (this.defaultOrgId) {
      this.internalDefaultOrgId = this.defaultOrgId;
    }
    if (this.defaultSelectSessionUser) {
      this.selectSessionUser();
    }
  },
  methods: {
    // 禁止输入内容
    handleChange(e) {
      this.showValue = this.oldValue;
      // 输入时打开弹框
      if (!this.disabled && !this.showApprove) {
        this.showApprove = true;
      }
    },
    // 打开对应弹窗
    openSelect() {
      if (!this.disabled) {
        this.showApprove = true;
      }
    },
    // 默认值回填
    defaultBack(value) {
      this.select = value;
    },
    // 点击确认
    confirm(value) {
      // if (value) {
      this.$emit('change', value);
      // }
      this.$nextTick(() => {
        this.select = value;
        //双向绑定
        this.$emit('input', value);
        this.$emit('callBack', value);
        if (this.showApprove) {
          this.showApprove = false;
        }
      });
    },
    //点击取消
    close() {
      this.$emit('close');
      this.showApprove = false;
    },
    inputClick() {
      this.$emit('click', this.showApprove, this.select);
    },
    inputBlur() {
      this.$emit('blur', this.showApprove, this.select);
    },
    inputFocus() {
      this.$emit('focus', this.showApprove, this.select);
    },
    async selectSessionUser() {
      let user = await getUser();
      if (user != null) {
        try {
          let _this = this;
          setTimeout(() => {
            let select = null;
            if (_this.type === 'userSelect') {
              select = { ids: user.curUserId, names: user.curUserName };
            } else if (_this.type === 'deptSelect') {
              select = { ids: user.curDeptId, names: user.curDeptName };
            } else if (_this.type === 'roleSelect') {
              let ids = '';
              let names = '';
              if (user.curRoleList.length > 0) {
                user.curRoleList.map((role, i) => {
                  ids += role.id;
                  names += role.desc;
                  if (i < user.curRoleList.length - 1) {
                    ids += ';';
                    names += ';';
                  }
                });
              }
              select = { ids, names };
              _this.internalDefaultOrgId = user.curOrgId;
            }
            _this.internaldefaultValue = select;
            if (select != null) {
              _this.confirm(select);
            }
          }, 500);
        } catch (e) {}
      }
    }
  }
};
</script>
<style lang="less">
@import './style/base';
</style>
