<!--
  选人
-->
<template>
  <a-modal
    :width="680"
    :body-style="{ height: '469px' }"
    wrap-class-name="common-content user-select-content vxe-table--ignore-clear"
    centered
    title=""
    :visible="visible"
    :keyboard="false"
    :destroy-on-close="false"
    :mask-closable="false"
    @ok="confirm"
    @cancel="closeModal"
  >
    <div ref="flowModal" style="height: 100%">
      <div class="popup-title">
        <h2>{{ title }}</h2>
        <h4>{{ sideInfo }}</h4>
      </div>
      <a-tabs type="card" class="container-left" default-active-key="1" @change="changeHeadTag">
        <a-tab-pane v-for="pane in tabs" :key="pane.id" :tab="pane.name" :force-render="true">
          <big-tree
            v-if="selectModel === 'multi'"
            :ref="'avicTreeElement' + pane.type"
            has-input
            :placeholder="searchPlaceholder"
            :search-input-style="searchInputStyle"
            :clear-input-icon-setting="{
              type: 'close-circle',
              theme: 'filled',
              style: { color: '#3399ff' }
            }"
            :item-height="30"
            checked-action="click"
            :expand-level="currentTab === 'dept' ? deptTabExpandLevel : '1'"
            :auto-load="autoLoadAsyn"
            :is-loading="loading"
            :load-data="loadDataAsyn"
            :asyn-load="true"
            :show-checkbox="true"
            :default-checked-keys="treeCheckedKeys"
            @onChange="onChange"
            @onClickLabel="onClickLabel"
            @onClickCheckbox="onClickCheckbox"
          >
            <template v-slot:dtTitle="{ item: dtItem, keyword: dtKeyword }">
              <span v-if="dtItem.title.indexOf(dtKeyword) > -1">
                {{ dtItem.title.substr(0, dtItem.title.indexOf(dtKeyword)) }}
                <span style="color: #f50">
                  {{ dtKeyword }}
                </span>
                {{ dtItem.title.substr(dtItem.title.indexOf(dtKeyword) + dtKeyword.length) }}
              </span>
              <span v-else>
                {{ dtItem.title }}
              </span>
            </template>
          </big-tree>
          <big-tree
            v-if="selectModel === 'single'"
            :ref="'avicTreeElement' + pane.type"
            :single="true"
            has-input
            :placeholder="searchPlaceholder"
            :search-input-style="searchInputStyle"
            :clear-input-icon-setting="{
              type: 'close-circle',
              theme: 'filled',
              style: { color: '#3399ff' }
            }"
            :item-height="30"
            checked-action="click"
            :expand-level="currentTab === 'dept' ? deptTabExpandLevel : '1'"
            :auto-load="autoLoadAsyn"
            :is-loading="loading"
            :load-data="loadDataAsyn"
            :asyn-load="true"
            :show-checkbox="true"
            :default-checked-keys="treeCheckedKeys"
            @onChange="onChange"
            @onClickLabel="onClickLabel"
            @onClickCheckbox="onClickCheckbox"
            @onDblClickLabel="onDblClickLabel"
          >
            <template v-slot:dtTitle="{ item: dtItem, keyword: dtKeyword }">
              <span v-if="dtItem.title.indexOf(dtKeyword) > -1">
                {{ dtItem.title.substr(0, dtItem.title.indexOf(dtKeyword)) }}
                <span style="color: #f50">
                  {{ dtKeyword }}
                </span>
                {{ dtItem.title.substr(dtItem.title.indexOf(dtKeyword) + dtKeyword.length) }}
              </span>
              <span v-else>
                {{ dtItem.title }}
              </span>
            </template>
          </big-tree>
        </a-tab-pane>
      </a-tabs>
      <div ref="pullRefresh" class="container-right">
        <div class="container-right-top">
          <a-icon class="total-delete-icon" type="delete" @click="handleDelSelectedTotal" />
        </div>
        <div class="checkgroup">
          <AvicBigTable
            :is-big-data-table="true"
            :ref="tableRefName"
            :bordered="true"
            :resizable="false"
            :style="{ height: '100%' }"
            :is-auto-count-scroll-x="true"
            :is-add-order-number="false"
            :columns="selectListColumns"
            row-key="id"
            :data-index="dataIndex"
            :is-custom-row-click-as-single-check="false"
            :is-add-row-drop="true"
            :checkbox-column-setting="{ width: 40 }"
            :pagination-default="false"
            :virtual-scroll-y="{ gt: 100 }"
            @handleRowSelection="handleRowSelection"
            @rowDrop="rowDrop"
          >
            <template scope="obj">
              <span class="cell-txt" :title="obj.data[dataIndex]">
                <span>{{ obj.data[dataIndex] }}</span>
                &nbsp;
                <span style="color: #c9c9c9; font-size: 12px">{{
                  obj.data.attributes && obj.data.attributes.deptname
                    ? '(' + obj.data.attributes.deptname + ')'
                    : ''
                }}</span>
              </span>
              <div class="checkadd custom-icons-list drag-btn">
                <AvicIcon icon-source="avic" svg-name="drag" />
              </div>
              <div class="checkclose" @click="handleDelSelectedItem($event, obj.data)">
                <a-icon type="close-circle" theme="filled" />
              </div>
            </template>
          </AvicBigTable>
        </div>
      </div>
    </div>
  </a-modal>
</template>
<script>
import { Modal, Icon, Tabs } from 'ant-design-vue';
import BigTree from '@comp/avic/pt/common/AvicBigTree';
import AvicIcon from '@comp/avic/pt/common/AvicIcon';
import { httpAction } from '@/api/manage';
import { getInitUserInfo } from './api';

export default {
  name: 'UserSelect',
  components: {
    AModal: Modal,
    AIcon: Icon,
    ATabs: Tabs,
    ATabPane: Tabs.TabPane,
    AvicIcon,
    BigTree,
    AvicBigTable: () => import('@comp/avic/pt/common/AvicBigTable')
  },
  props: {
    //是否显示
    show: {
      type: Boolean,
      required: true,
      default: false
    },
    // 名称
    name: {
      type: String,
      default: '人员'
    },
    // 标题
    title: {
      type: String,
      default: '人员选择'
    },
    // 辅助提示信息
    sideInfo: {
      type: String,
      default: ''
    },
    // 搜索提示
    searchPlaceholder: {
      type: String,
      default: '请输入用户信息'
    },
    //单选 single ，多选 multi
    selectModel: {
      type: String,
      required: false,
      default: 'single'
    },
    //多选最多选择数量
    maxSelect: {
      type: Number,
      required: false,
      default: 0
    },
    defaultValue: {
      required: false,
      default: ''
    },
    //双向绑定改变事件
    modelChange: {
      required: false,
      default: ''
    },
    // 选人时是否显示tab
    tabShow: {
      type: Boolean,
      required: false,
      default: true
    },
    //组织范围
    viewScope: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载指定组织下的数据
    defaultOrgId: {
      type: String,
      required: false,
      default: ''
    },
    // 选人人员密级过滤
    secretLevel: {
      type: String
    },
    //默认下载部门id
    defaultLoadDeptId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载群组
    defaultLoadGroupId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载角色
    defaultLoadRoleId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载岗位
    defaultLoadPositionId: {
      type: String,
      required: false,
      default: ''
    },
    // 是否展示无效用户
    viewSystemUser: {
      type: Boolean,
      required: false,
      default: false
    },
    userUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getUserSelectList/v1' //用户地址
    },
    // 请求类型
    methodType: {
      type: String,
      required: false,
      default: 'post'
    },
    userSearchUrl: {
      type: String,
      required: false,
      default: '/api/appsys/common/select/getUserSelectList/v1' //用户搜索
    },
    // 选人的部门tab页初始展开层级
    deptTabExpandLevel: {
      type: Number,
      default: 2
    },
    // 选人关键字查询时最大用户数限制
    searchNumLimit: {
      type: Number,
      default: 200
    },
    //自定义参数
    customParam: {
      type: Object,
      required: false,
      default: null
    },
    //自定义参数
    customSearchParam: {
      type: Object,
      required: false,
      default: null
    },
    // 获取初始化部门信息请求地址
    getInitUserInfoUrl: {
      type: String,
      default: '/api/appsys/common/select/getSelectedUserInfo/v1'
    },
    // 获取初始化部门信息请求类型
    getInitUserInfoMethod: {
      type: String,
      default: 'post'
    }
  },
  data() {
    return {
      tableRefName: 'bigTable',
      selectListColumns: [
        {
          title: '已选人员',
          headerAlign: 'left',
          dataIndex: 'title'
        }
      ],
      dataIndex: 'title',
      searchInputStyle: {
        paddingBottom: '0px',
        marginTop: '-4px',
        marginBottom: '6px'
      },
      visible: false, //窗口是否显示
      departTree: [], //树列表
      loading: false, //加载中
      select: '', //选择的用户
      treeCheckedKeys: [], //树选中控制
      treeExpandedKeys: [], //树展开的节点
      tabs: [
        { id: '1', name: '部门', type: 'dept' },
        { id: '2', name: '群组', type: 'group' },
        { id: '3', name: '角色', type: 'role' },
        { id: '4', name: '岗位', type: 'position' }
      ],
      selectList: [], //选中的用户
      selectListMap: {}, //选中的用户
      currentTab: 'dept', //页标选择
      loadedKeys: [], //已经加载过的节点
      spinning: false, //选中加载
      maxSelectNumber: 0, //最多选人数量
      // 树组件需要的加载数据格式
      treeParam: {
        url: this.userUrl,
        parameter: {},
        method: this.methodType
      },
      // 树搜索组件需要的加载数据格式
      searchTreeParam: {
        url: this.userSearchUrl,
        parameter: {},
        method: this.methodType
      },
      defaultMaxParentId: '-1', //最高级的父id
      scopedSlots: null, //显示收藏
      treeNodeDataRef: {}, //当前节点信息
      repeatKeys: [], //重复用户Key记录
      checkKeys: [] //记录需要添加的数据
    };
  },
  //接收组件传参
  watch: {
    show: {
      immediate: true,
      handler(newV) {
        this.visible = newV;
        if (newV === true) {
          this.init();
        }
      }
    },
    defaultValue: {
      immediate: true,
      handler(defaultValue) {
        if (defaultValue) {
          if (defaultValue && defaultValue.ids) {
            let ids = defaultValue.ids.split(';');
            let names = [];
            if (defaultValue.names) {
              names = defaultValue.names.split(';');
            }
            if (ids.length == names.length) {
              this.initDataNotHttp(defaultValue);
            } else {
              this.loadDefaultValue(defaultValue.ids);
            }
          } else if (defaultValue) {
            this.loadDefaultValue(defaultValue);
          }
        }
      }
    },
    //双向绑定，处理回填数据
    modelChange: {
      immediate: true,
      handler(newV) {
        if (newV && newV.ids) {
          let ids = newV.ids.split(';');
          let names = [];
          if (newV.names) {
            names = newV.names.split(';');
          }
          if (ids.length == names.length) {
            this.initDataNotHttp(newV);
          }
        } else {
          if (this.selectList.length > 0) {
            this.empty();
          }
        }
      }
    },
    maxSelect: {
      immediate: true,
      handler(newV) {
        if (newV > 0) {
          this.maxSelectNumber = newV;
        }
      }
    }
  },
  created() {
    this.setUserTreeData('', '');
  },
  activated() {
    if (this.$refs.pullRefresh) {
      this.$refs.pullRefresh.scrollTop = this.scroll;
    }
  },
  mounted() {
    // 处理默认值
    if (this.defaultValue) {
      let defaultValue = this.defaultValue;
      if (defaultValue && defaultValue.ids) {
        let ids = defaultValue.ids.split(';');
        let names = [];
        if (defaultValue.names) {
          names = defaultValue.names.split(';');
        }
        if (ids.length == names.length) {
          this.initDataNotHttp(defaultValue);
        } else {
          this.loadDefaultValue(defaultValue.ids);
        }
      } else if (defaultValue) {
        this.loadDefaultValue(defaultValue);
      }
    }
  },
  methods: {
    handleRowSelection({ selectedRowKeys, selectedRows, record, isSelected, isFromCheckboxAll }) {
      let select = this.selectList;
      select.map(item => {
        if (selectedRowKeys.includes(item.id)) {
          item.bigTableDataChecked = true;
        } else {
          item.bigTableDataChecked = false;
        }
      });
      this.selectList = select;
    },
    handleDelSelectedTotal() {
      let selectedNum = 0;
      let selectedData = [];
      let unselectedData = [];
      for (let i = 0; i < this.selectList.length; i++) {
        if (this.selectList[i].bigTableDataChecked) {
          selectedNum++;
          selectedData.push(this.selectList[i]);
        } else {
          unselectedData.push(this.selectList[i]);
        }
      }
      if (selectedNum == 0) {
        this.$message.warning('请选择要删除的数据！');
        return;
      } else {
        this.selectList = unselectedData;
        selectedData.map(item => {
          delete this.selectListMap[item.id];
        });
        this.setCheckData();
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    handleDelSelectedItem(e, item) {
      e.stopPropagation();
      let selectList = [];
      for (let i = 0; i < this.selectList.length; i++) {
        if (this.selectList[i].id != item.id) {
          selectList.push(this.selectList[i]);
        }
      }
      this.selectList = selectList;
      delete this.selectListMap[item.id];
      this.setCheckData();
      this.select = '';
      this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
    },
    rowDrop(tableData) {
      if (tableData) {
        this.selectList = tableData;
      }
    },
    //初始化函数
    init() {
      this.setUserTreeData();
      this.departTree = [];
      this.loadedKeys = [];
    },
    /**
     * 搜索按钮点击确定 ，设置搜索参数
     */
    onSearchTree(e) {
      let select = [];
      this.selectList.map(tim => {
        select.push(tim.id);
      });
      this.searchTreeParam.parameter = {
        viewScope: this.viewScope,
        defaultOrgId: this.defaultOrgId,
        currentTab: this.currentTab,
        selectedUser: select.join(','),
        defaultLoadDeptId: this.defaultLoadDeptId,
        defaultLoadGroupId: this.defaultLoadGroupId,
        defaultLoadRoleId: this.defaultLoadRoleId,
        defaultLoadPositionId: this.defaultLoadPositionId,
        viewSystemUser: this.viewSystemUser,
        secretLevel: this.secretLevel,
        searchText: e,
        numLimit: this.searchNumLimit
      };
      if (Object.keys(this.customSearchParam)) {
        Object.assign(this.searchTreeParam.parameter, this.customSearchParam);
      }
    },
    setSearchParam(e) {
      let select = [];
      this.selectList.map(tim => {
        select.push(tim.id);
      });
      this.searchTreeParam.parameter = {
        viewScope: this.viewScope,
        defaultOrgId: this.defaultOrgId,
        currentTab: this.currentTab,
        selectedUser: select.join(','),
        defaultLoadDeptId: this.defaultLoadDeptId,
        defaultLoadGroupId: this.defaultLoadGroupId,
        defaultLoadRoleId: this.defaultLoadRoleId,
        defaultLoadPositionId: this.defaultLoadPositionId,
        viewSystemUser: this.viewSystemUser,
        secretLevel: this.secretLevel,
        searchText: e,
        numLimit: this.searchNumLimit
      };
    },
    /**
     * 加载节点事件 ，设置加载节点的参数
     */
    beforeLoadData(data) {
      if (data) {
        this.setUserTreeData(data.id, data.nodeType);
        if (data.parentId != this.defaultMaxParentId) {
          this.loadedKeys.push(data.id);
        }
        this.treeNodeDataRef = data;
      }
    },
    /**
     * 数据加载完成事件 ，重新组合设置加载节点的参数
     */
    afterLoadData(res) {
      //多选时重新组合key
      if (this.selectModel == 'multi') {
        this.setTreeData(res.result, this.treeNodeDataRef.key);
      }
    },
    /**
     * 数据加载完成事件 ，重新组合设置加载节点的key值
     */
    setTreeData(data, key) {
      if (data && data.length > 0) {
        data.map(tim => {
          // key值重新组合
          if (key) {
            tim.key = key + '-' + tim.key;
          }
          //多选时设置节点选择属性
          if (this.selectModel == 'multi') {
            let notUser =
              tim.nodeType == 'position' ||
              tim.nodeType == 'group' ||
              tim.nodeType == 'role' ||
              tim.nodeType == 'org' ||
              tim.nodeType == 'dept'
                ? true
                : false;
            if (tim.isLeaf && notUser) {
              //叶子非用户节点禁止选择
              tim.disableCheckbox = true;
              tim.disabled = true;
            } else {
              tim.disabled = false;
            }
          }
          if (tim.children) {
            this.setTreeData(tim.children, tim.key);
          }
        });
      }
    },
    /**
     *  加载用户节点需要传的数据
     */
    setUserTreeData(id = '', nodeType = '') {
      this.treeParam.parameter = {
        viewScope: this.viewScope,
        defaultOrgId: this.defaultOrgId,
        nodeType,
        id,
        currentTab: this.currentTab,
        defaultLoadDeptId: this.defaultLoadDeptId,
        defaultLoadGroupId: this.defaultLoadGroupId,
        defaultLoadRoleId: this.defaultLoadRoleId,
        defaultLoadPositionId: this.defaultLoadPositionId,
        viewSystemUser: this.viewSystemUser,
        secretLevel: this.secretLevel,
        expandLevel: this.deptTabExpandLevel
      };
      if (Object.keys(this.customParam)) {
        Object.assign(this.treeParam.parameter, this.customParam);
      }
    },
    // 切换标签
    changeHeadTag(e) {
      this.currentTab = this.tabs[e - 1].type;
      this.loadedKeys = [];
      this.treeNodeDataRef = {};
      this.setUserTreeData();
      if (
        this.$refs['avicTreeElement' + this.currentTab] &&
        this.$refs['avicTreeElement' + this.currentTab][0] &&
        this.$refs['avicTreeElement' + this.currentTab][0].clear
      ) {
        this.$refs['avicTreeElement' + this.currentTab][0].clear();
      }
      if (
        this.$refs['avicTreeElement' + this.currentTab] &&
        this.$refs['avicTreeElement' + this.currentTab][0] &&
        this.$refs['avicTreeElement' + this.currentTab][0].refresh
      ) {
        this.$refs['avicTreeElement' + this.currentTab][0].refresh(true);
      }
      this.autoLoadAsyn();
    },
    //加载默认数据
    loadDefaultValue(ids) {
      if (ids) {
        let userids = [];
        userids = ids.split(';');
        this.findInitUserInfo(userids);
      }
    },
    //点击取消
    closeModal() {
      this.$emit('close');
      this.emptyQuery();
    },
    //点击确定
    confirm() {
      const result = this.setResultData();
      if (result.ids) {
        this.$emit('callBack', result);
      } else {
        this.$emit('callBack', null);
      }
      this.visible = false;
      this.emptyQuery();
    },
    //处理返回的数据格式
    setResultData() {
      let ids = '';
      let names = '';
      let deptid = '';
      let deptname = '';
      if (this.selectList && this.selectList.length > 0) {
        this.selectList.map((res, i) => {
          if (i > 0) {
            ids += ';';
            names += ';';
            if (res.attributes) {
              deptid += ';';
              deptname += ';';
            }
          }
          ids += res.id;
          names += res.title;
          if (res.attributes) {
            deptid += res.attributes.deptid;
            deptname += res.attributes.deptname;
          }
        });
      }
      let result = null;
      if (deptid) {
        result = { ids, names, deptid, deptname };
      } else {
        result = { ids, names };
      }
      return result;
    },
    //清空选中人员
    empty() {
      this.select = '';
      this.treeCheckedKeys = [];
      this.repeatKeys = [];
      this.selectList = [];
      this.selectListMap = {};
      if (this.$refs[this.tableRefName]) {
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    //清除查询条件
    emptyQuery() {
      this.onSearchTree('');
      this.setUserTreeData('', '');
      this.loadedKeys = [];
    },
    //初始化 treeCheckKey
    initTreeCheckData(data) {
      if (data && data.length > 0) {
        data.map(tim => {
          if (!tim.isLeaf) {
            this.initTreeCheckData(tim.children);
          } else {
            this.selectList.map(u => {
              if (tim.id == u.id) {
                this.treeCheckedKeys.push(tim.key);
              }
              if (tim.id == u.id && tim.key != u.key) {
                let selected = this.repeatKeys.filter(key => key == tim.key);
                if (selected.length == 0) {
                  this.repeatKeys.push(tim.key);
                }
              }
            });
          }
        });
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    getInitUserInfo(param, successCallback, errCallback) {
      httpAction(param.url, param.parameter, param.method, true, true, false)
        .then(res => {
          if (res.success && res.result) {
            if (successCallback) {
              successCallback(res.result);
            }
          } else {
            if (errCallback) {
              errCallback();
            }
          }
        })
        .catch(err => {
          if (errCallback) {
            errCallback();
          }
        });
    },
    dealInitData(ids, names, deptids, deptnames) {
      let list = [];
      this.selectList = [];
      this.selectListMap = {};
      ids.map((tim, i) => {
        let item = {
          id: tim,
          nodeType: 'user',
          title: names[i],
          key: tim,
          isLeaf: true,
          children: [],
          attributes: {
            deptid: deptids[i] ? deptids[i] : '',
            deptname: deptnames[i] ? deptnames[i] : ''
          },
          bigTableDataChecked: false
        };
        this.selectList.push(item);
        list.push(tim);
        this.selectListMap[tim] = item;
      });
      this.treeCheckedKeys = list;
    },
    //初始化回填 用户或者部门，不去请求http
    initDataNotHttp(data) {
      this.empty();
      let ids = data.ids.split(';');
      if (ids.length > 0) {
        let names = data.names.split(';');
        let deptids = [];
        let deptnames = [];
        if (data.deptid && data.deptname) {
          deptids = data.deptid.split(';');
          deptnames = data.deptname.split(';');
          this.dealInitData(ids, names, deptids, deptnames);
        } else {
          let userids = data.ids.split(';');
          this.getInitUserInfo(
            {
              url: this.getInitUserInfoUrl,
              parameter: userids,
              method: this.getInitUserInfoMethod
            },
            result => {
              result.map(item => {
                deptids.push(item.deptid);
                deptnames.push(item.deptname);
              });
              this.dealInitData(ids, names, deptids, deptnames);
            },
            () => {
              this.dealInitData(ids, names, deptids, deptnames);
            }
          );
        }
      }
    },
    //加载初始化选中的用户
    findInitUserInfo(userids) {
      let _this = this;
      this.spinning = true;
      this.empty();
      getInitUserInfo(userids)
        .then(res => {
          if (res.success) {
            res.result.map(tim => {
              if (tim.id) {
                _this.selectList.push({
                  id: tim.id,
                  nodeType: 'user',
                  title: tim.name,
                  key: tim.id,
                  isLeaf: true,
                  children: []
                });
                _this.treeCheckedKeys.push(tim.id);
              }
            });
          }
          const result = _this.setResultData();
          setTimeout(() => {
            _this.$emit('defaultBack', result);
          }, 100);
          this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
          _this.spinning = false;
        })
        .catch(response => {
          _this.spinning = false;
        });
    },
    // bigtree 请求数据
    loadDataAsyn(node, keyword) {
      return new Promise(resolve => {
        if (node && node.children.length > 0) {
          resolve();
          return;
        }
        // 非查询条件下异步加载节点，修改treeParam传递的node的id
        if (node) {
          let id = node.id;
          this.beforeLoadData(node, id);
        } else {
          //非异步加载节点加载清除id 和nodeType
          this.treeParam.parameter.id = '';
          this.treeParam.parameter.nodeType = '';
        }
        if (
          this.$refs['avicTreeElement' + this.currentTab] &&
          this.$refs['avicTreeElement' + this.currentTab][0]
        ) {
          this.$refs['avicTreeElement' + this.currentTab][0].refresh(true);
        }
        let param = {};
        if (keyword == '') {
          this.treeParam.parameter.searchText = keyword;
          param = this.treeParam;
        } else {
          this.setSearchParam(keyword);
          param = this.searchTreeParam;
        }
        httpAction(
          param.url,
          param.parameter ? param.parameter : '',
          param.method,
          true,
          true,
          false
        )
          .then(res => {
            if (res.success) {
              if (res.result && res.result.length > 0) {
                this.afterLoadData(res);
                res.result.map(item => {
                  if (item.isLeaf && item.nodeType != 'user') {
                    item.isLeaf = false;
                  }
                });
                this.$refs['avicTreeElement' + this.currentTab][0].setData({
                  data: res.result,
                  node,
                  keyword
                });
                this.$refs['avicTreeElement' + this.currentTab][0].refresh(false);
              } else {
                if (keyword != '') {
                  /**
                   * By Chenjian
                   * 接口修改：
                   * 当未查询到匹配数据 或 查询匹配结果树超过最大限制(searchNumLimit)时，
                   * 返回结果如下：
                   *    HTTPStatus-200,
                   *    retCode-200,
                   *    responseBody(result)-null,
                   *    errorDesc:【无结果】或【超过限制】
                   **/
                  this.$message.warning(res.errorDesc || '未查询到匹配数据！');
                }
                this.$refs['avicTreeElement' + this.currentTab][0].loadErr(node);
                this.$message.warning(`${node.title} 节点下无数据。`);
              }
            } else {
              this.$refs['avicTreeElement' + this.currentTab][0].loadErr(node);
            }
            resolve();
          })
          .catch(response => {
            this.$refs['avicTreeElement' + this.currentTab][0].refresh(false);
            this.$refs['avicTreeElement' + this.currentTab][0].loadErr(node);
          });
      });
    },
    // bigtree 自动初始化节点
    autoLoadAsyn() {
      this.loadDataAsyn(null, '');
    },
    // bigtree 选中逻辑处理
    checkBigTree(nodeInfo) {
      if (this.selectModel == 'single') {
        if (nodeInfo.checked) {
          this.selectListMap = {};
          this.selectListMap[nodeInfo.id] = { ...nodeInfo };
          this.selectList = [];
          this.selectList = [{ ...nodeInfo, bigTableDataChecked: false }];
        } else {
          this.selectListMap = {};
          this.selectList = [];
        }
      } else {
        if (!nodeInfo.checked && !nodeInfo.indeterminate) {
          //节点删除操作，先删除selectList中的节点信息
          this.deleteNode(nodeInfo);
          this.selectList = Object.values(this.selectListMap);
        } else {
          let select = this.$refs['avicTreeElement' + this.currentTab][0].getAllLeafNodes();
          if (
            this.maxSelectNumber > 0 &&
            ((this.selectList.length >= this.maxSelectNumber && !this.selectListMap[nodeInfo.id]) ||
              select.length > this.maxSelectNumber)
          ) {
            this.$message.warning(`已设置最多选择${this.maxSelectNumber}人！`);
            this.setCheckData();
          } else {
            this.setSelectList(select);
          }
        }
      }
      this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
    },
    // bigtree 数据变化处理
    onChange({ checkedKeys, checkedNodes }) {
      if (this.selectModel == 'multi') {
        let selectListIds = [];
        for (let i = 0; i < this.selectList.length; i++) {
          selectListIds.push(this.selectList[i].id);
        }
        checkedNodes.map(tim => {
          if (!selectListIds.includes(tim.id)) {
            selectListIds.push(tim.id);
          }
        });
        if (this.maxSelectNumber > 0 && selectListIds.length > this.maxSelectNumber) {
          // this.$message.warning(`已设置最多选择${this.maxSelectNumber}人！`)
        } else {
          this.setSelectList(checkedNodes);
          this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
        }
      } else {
        this.setSelectList(checkedNodes);
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    // bigtree 标签点击事件处理
    onClickLabel(node) {},
    /* 单选模式，双击标签回填选项 */
    onDblClickLabel(node) {
      if (this.selectModel == 'single') {
        this.setSelectList([node]);
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
        this.confirm();
      }
    },
    // bigtree 复选框点击事件处理
    onClickCheckbox(node) {
      this.checkBigTree(node);
    },
    // 删除节点
    deleteNode(node) {
      if (node.isLeaf && !node.cheched) {
        delete this.selectListMap[node.id];
      } else if (node.children && node.children.length > 0) {
        node.children.map(tim => {
          this.deleteNode(tim);
        });
      }
    },
    setSelectList(nodes) {
      if (nodes) {
        nodes.map(tim => {
          if (!this.selectListMap[tim.id]) {
            let item = {
              ...tim
            };
            item.bigTableDataChecked = false;
            this.selectList.push(item);
            this.selectListMap[tim.id] = item;
          }
        });
      }
    },
    // 设置treeCheckedKeys
    setCheckData(checkedKeys) {
      let list = [];
      this.selectList.map(tim => {
        list.push(tim.id);
      });
      this.treeCheckedKeys = list;
    }
  }
};
</script>
