<template>
  <div>
    <!-- 表格右键区域 -->
    <contextmenu :item-list="menuItemList" :visible.sync="menuVisible" @select="onMenuSelect" />
    <!-- 表格 -->
    <a-table
      v-bind="$attrs"
      :bordered="bordered"
      :columns="columns"
      :row-key="rowKey"
      :pagination="pagination"
      :row-selection="rowSelection"
      :loading="loading"
      :is-contextmenu="isContextmenu"
      :is-ctrl-shift-select="isCtrlShiftSelect"
      :class="[classname ? 'noselect' : '']"
      :custom-row="
        (record, index) => {
          return {
            on: {
              click: e => {
                ctrlShiftSelect(e, record, index);
              }
            }
          };
        }
      "
      @change="handleTableChange"
      @contextmenu.native="e => onContextmenu(e)"
    >
      <!-- 接收dataIndex字段,添加链接跳详情 -->
      <template :slot="dataIndex" slot-scope="text, record">
        <slot :data="record" />
      </template>
      <!-- 鼠标移上显示全内容, 行编辑 -->
      <template v-for="col in columnsData" :slot="col.id" slot-scope="text, record">
        <FourTableEditableCell
          :obj="col"
          :record="record"
          :key="'fourtabalecol-' + col.id"
          :text="text"
          @change="onCellChange(record, col, $event)"
        />
      </template>
      <!-- 表头必填项加红色星号 -->
      <span v-for="(item, i) in requiredData" :key="'redstar-' + i" :slot="item.title">
        <span style="color: red">*</span>
        {{ item.content }}
      </span>
    </a-table>
  </div>
</template>
<script>
import Contextmenu from '@portal/pageModules/menu/Contextmenu';
import FourTableEditableCell from '@/components/avic/pt/common/MouldBaseTable/FourTableEditableCell';
import { Modal } from 'ant-design-vue';
import { httpAction } from '@/api/manage';
import { loadLookUp } from '@utils/avic/http/loadLookUp';
export default {
  name: 'BaseFourTable',
  components: {
    Contextmenu,
    FourTableEditableCell
  },
  props: {
    bordered: {
      type: Boolean,
      default: true
    },
    columns: {
      type: Array,
      required: true
    },
    rowKey: {
      type: String,
      required: true
    },
    paginationDefault: {
      type: Object,
      required: true
    },
    isContextmenu: {
      type: Boolean,
      default: false
    },
    isCtrlShiftSelect: {
      type: Boolean,
      default: true
    },
    dataIndex: {
      type: String
    },
    columnsData: {
      type: Array,
      required: true,
      default: () => {
        return [];
      }
    },
    allLookupParams: {
      type: Array,
      default: () => {
        return [];
      }
    },
    getSelectedRowKeys: {
      type: Array,
      default: () => {
        return [];
      }
    },
    requiredData: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  data() {
    return {
      data: [],
      pagination: this.paginationDefault,
      loading: false,
      selectedRowKeys: [],
      sidx: '',
      sord: '',
      menuVisible: false,
      classname: '',
      isCtrl: false,
      isShift: false
    };
  },
  computed: {
    rowSelection() {
      // 表格选中项变化
      return {
        selectedRowKeys: this.selectedRowKeys,
        onChange: (selectedRowKeys, selectedRows) => {
          this.selectedRowKeys = selectedRowKeys;
          // 选中项信息传给父组件
          this.$emit('handleRowSelection', {
            selectedRowKeys
          });
        }
      };
    },
    menuItemList() {
      // 右键菜单
      if (this.selectedRowKeys.length == 0) {
        // 未勾选CheckBox
        return [
          { key: '1', icon: 'eye', text: '查看' },
          { key: '2', icon: 'edit', text: '编辑' },
          { key: '3', icon: 'delete', text: '删除' },
          { key: '4', icon: 'file-add', text: '导入' },
          { key: '5', icon: 'export', text: '导出' }
        ];
      } else if (this.selectedRowKeys.length == 1) {
        // 仅勾选一项
        return [
          { key: '1', icon: 'eye', text: '查看' },
          { key: '2', icon: 'edit', text: '编辑' },
          { key: '3', icon: 'delete', text: '删除' },
          { key: '4', icon: 'file-add', text: '导入' },
          { key: '5', icon: 'export', text: '导出' }
        ];
      } else {
        return [
          { key: '3', icon: 'delete', text: '删除' },
          { key: '4', icon: 'file-add', text: '导入' },
          { key: '5', icon: 'export', text: '导出' }
        ];
      }
    }
  },
  watch: {
    getSelectedRowKeys: {
      // 监听父组件传回的selectedRowKeys,更新本组件内的selectedRowKeys
      immediate: true, // immediate:true代表如果在 wacth 里声明了之后，就会立即先去执行里面的handler方法，如果为 false就跟我们以前的效果一样，不会在绑定的时候就执行
      handler(newV) {
        this.selectedRowKeys = newV;
      }
    }
  },
  mounted() {
    // 键盘事件,监控Ctrl Shift按键
    this.keyevent();
    // 如果传入了通用代码params,则进行通用代码请求
    if (this.allLookupParams) {
      this.getAllLookup();
    }
  },
  methods: {
    getAllLookup() {
      // 获取通用代码,并写入columnsData即行编辑设置数组
      loadLookUp(this.allLookupParams, data => {
        for (let i = 0; i < data.length; i++) {
          for (let j = 0; j < this.columnsData.length; j++) {
            if (this.columnsData[j].id == data[i].fileName) {
              this.columnsData[j].list = data[i].value;
            }
          }
        }
      });
    },
    onCellChange(record, col, value) {
      // 行编辑失焦或者回车,传回数据,拿到数据后,传给父组件
      this.$emit('cellChange', {
        record,
        col,
        value
      });
    },
    handleTableChange(pagination, filters, sorter) {
      // 分页、排序、筛选变化时触发
      this.pagination.current = pagination.current;
      this.pagination.pageSize = pagination.pageSize;
      this.pagination.defaultPageSize = pagination.pageSize;
      // 将分页、排序、筛选信息传给父组件
      this.$emit('handleTableChange', {
        pagination,
        sorter,
        filters
      });
    },
    loadData(params, callback) {
      // 获取数据，有回调函数执行回调函数
      let that = this;
      that.loading = true;
      httpAction(params.url, params.parameter, params.method)
        .then(res => {
          if (res.success) {
            if (res.result) {
              that.pagination.total = res.result.pageParameter.totalCount;
              that.loading = false;
              that.data = res.result.result;
              that.$emit('getData', {
                data: that.data,
                pagination: that.pagination
              });
              if (callback) {
                callback();
              }
            }
          } else {
            that.loading = false;
          }
        })
        .catch(() => {
          that.loading = false;
        });
    },
    onContextmenu(e) {
      // 点击右键,显示右键菜单
      // 不要右键功能，直接return
      if (!this.isContextmenu) {
        return;
      }
      let el = e.target;
      while (
        el.className !== 'ant-table-thead' &&
        el.className !== 'ant-table-tbody' &&
        el.className !== 'ant-table-wrapper'
      ) {
        el = el.parentNode;
      }
      if (el.className == 'ant-table-tbody') {
        e.preventDefault();
        this.menuVisible = true;
      }
    },
    onMenuSelect(key, target) {
      // 点击右键某个菜单,进行相应处理
      let targetEl = target;
      while (!targetEl.getAttribute('data-row-key')) {
        targetEl = targetEl.parentNode;
      }
      let targetElId = targetEl.getAttribute('data-row-key');
      let targetId = '';
      let targetIds = [];
      if (this.selectedRowKeys.length > 0) {
        // 有勾选
        targetId = this.selectedRowKeys[0];
        targetIds = this.selectedRowKeys;
      } else {
        // 没有勾选
        targetId = targetElId;
        targetIds.push(targetElId);
      }
      switch (key) {
        case '1':
          this.handleDetail(targetId);
          break;
        case '2':
          this.handleEdit(targetId);
          break;
        case '3':
          this.handleDelete(targetIds);
          break;
        case '4':
          this.handleImport();
          break;
        case '5':
          this.handleExport();
          break;
        default:
          break;
      }
    },
    handleDetail(id) {
      // 点击右键查看菜单
      this.$emit('handleDetail', id);
    },
    handleEdit(id) {
      // 点击右键编辑菜单
      this.$emit('handleEdit', id);
    },
    handleDelete(ids) {
      // 点击右键删除菜单,确定删除则删除
      Modal.confirm({
        title: '确定删除吗？',
        onOk: () => {
          this.$emit('handleDelete', ids);
        }
      });
    },
    handleImport() {
      // 点击右键导入按钮
      this.$emit('handleImport');
    },
    handleExport() {
      // 点击右键导出按钮
      this.$emit('handleExport');
    },
    keyevent() {
      // 键盘事件,监控Ctrl Shift按键
      let that = this;
      document.onkeydown = function (e) {
        //按下键盘
        switch (e.keyCode) {
          case 16:
            that.isShift = true;
            break;
          case 17:
            that.isCtrl = true;
            break;
        }
      };
      document.onkeyup = function (e) {
        //放弃键盘
        switch (e.keyCode) {
          case 16:
            that.isShift = false;
            break;
          case 17:
            that.isCtrl = false;
            break;
        }
      };
    },
    ctrlShiftSelect(e, record, index) {
      // 点击表格行,快捷键选择
      // 不要快捷键功能，return
      if (!this.isCtrlShiftSelect) {
        return;
      }
      //设置可以选中文本
      this.classname = '';
      let testId = record[this.rowKey];
      if (this.isCtrl) {
        if (this.selectedRowKeys.length > 0) {
          if (this.selectedRowKeys.indexOf(testId) == -1) {
            this.selectedRowKeys.push(testId);
          } else {
            this.selectedRowKeys = this.selectedRowKeys.filter(t => t != testId);
          }
        } else {
          this.selectedRowKeys.push(testId);
        }
      } else if (this.isShift) {
        //设置禁止选中文字
        this.classname = 'noselect';
        if (this.selectedRowKeys.length == 1) {
          if (this.selectedRowKeys.indexOf(testId) == -1) {
            this.selectedRowKeys.push(testId);
            let firstId = this.selectedRowKeys[0];
            let firstIndex = '';
            for (let i = 0; i < this.data.length; i++) {
              if (firstId == this.data[i][this.rowKey]) {
                firstIndex = i;
              }
            }
            let secondIndex = index;
            if (secondIndex < firstIndex) {
              this.selectedRowKeys = [];
              for (let i = secondIndex; i <= firstIndex; i++) {
                this.selectedRowKeys.push(this.data[i][this.rowKey]);
              }
            } else {
              this.selectedRowKeys = [];
              for (let i = firstIndex; i <= secondIndex; i++) {
                this.selectedRowKeys.push(this.data[i][this.rowKey]);
              }
            }
          } else {
            this.selectedRowKeys = [];
          }
        } else if (this.selectedRowKeys.length > 1) {
          let lastIndex = '';
          let lastId = this.selectedRowKeys[this.selectedRowKeys.length - 1];
          for (let i = 0; i < this.data.length; i++) {
            if (lastId == this.data[i][this.rowKey]) {
              lastIndex = i;
            }
          }
          let newIndex = index;
          if (newIndex < lastIndex) {
            for (let i = newIndex + 1; i <= lastIndex; i++) {
              this.selectedRowKeys.splice(this.data[i][this.rowKey]);
            }
          } else {
            for (let i = lastIndex + 1; i <= newIndex; i++) {
              this.selectedRowKeys.push(this.data[i][this.rowKey]);
            }
          }
        } else if (this.selectedRowKeys.length < 1) {
          if (this.selectedRowKeys.indexOf(testId) == -1) {
            this.selectedRowKeys.push(testId);
          } else {
            this.selectedRowKeys = [];
          }
        }
      } else if (!this.isCtrl && !this.isShift) {
        if (this.selectedRowKeys.length > 1) {
          if (this.selectedRowKeys.indexOf(testId) != -1) {
            this.selectedRowKeys = [];
            this.selectedRowKeys.push(testId);
          } else {
            this.selectedRowKeys = [];
          }
        } else if (this.selectedRowKeys.length == 1) {
          if (this.selectedRowKeys.indexOf(testId) == -1) {
            this.selectedRowKeys = [];
            this.selectedRowKeys.push(testId);
          } else {
            this.selectedRowKeys = [];
          }
        } else {
          this.selectedRowKeys.push(testId);
        }
      }
      // 选中项信息传给父组件
      this.$emit('handleRowSelection', {
        selectedRowKeys: this.selectedRowKeys
      });
    }
  }
};
</script>
<style scoped>
.noselect {
  user-select: none;
}
</style>
