<template>
  <!-- 输入框input -->
  <div v-if="obj.type == 'input'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <a-input
        v-model="value"
        :auto-focus="true"
        :placeholder="obj.placeholder"
        @pressEnter="check"
        @blur="check"
        @keydown.tab.prevent="tabCut"
      />
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ value }}
        </template>
        {{ value }}
      </a-tooltip>
    </span>
  </div>
  <!-- 文本域textarea -->
  <div v-else-if="obj.type == 'textarea'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <a-textarea
        v-model="value"
        :auto-focus="true"
        :rows="1"
        :placeholder="obj.placeholder"
        @pressEnter="check"
        @blur="check"
        @keydown.tab.prevent="tabCut"
      />
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ value }}
        </template>
        {{ value }}
      </a-tooltip>
    </span>
  </div>
  <!-- 数字输入框inputnumber -->
  <div v-else-if="obj.type == 'inputnumber'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <a-input-number
        v-model="value"
        :auto-focus="true"
        :placeholder="obj.placeholder"
        :min="obj.min"
        :max="obj.max"
        :step="obj.step"
        :precision="obj.precision"
        @keyup.enter="check"
        @blur="check"
        @keydown.tab.prevent="tabCut"
      />
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ value }}
        </template>
        {{ value }}
      </a-tooltip>
    </span>
  </div>
  <!-- 日期date -->
  <div v-else-if="obj.type == 'date'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <a-date-picker
        v-model="value"
        :auto-focus="true"
        :placeholder="obj.placeholder"
        :format="obj.format || 'YYYY-MM-DD'"
        @change="dateChangeCheck"
        @keydown.tab.native.prevent="tabCut"
      />
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ formatDate(value, obj.format || 'YYYY-MM-DD') }}
        </template>
        {{ formatDate(value, obj.format || 'YYYY-MM-DD') }}
      </a-tooltip>
    </span>
  </div>
  <!-- 时间datetime -->
  <div v-else-if="obj.type == 'datetime'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <a-date-picker
        v-model="value"
        :auto-focus="true"
        :placeholder="obj.placeholder"
        :format="obj.format || 'YYYY-MM-DD HH:mm:ss'"
        :show-time="true"
        @ok="datetimeOkCheck"
        @keydown.tab.native.prevent="tabCut"
      />
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ formatDateTime(value, obj.format || 'YYYY-MM-DD HH:mm:ss') }}
        </template>
        {{ formatDateTime(value, obj.format || 'YYYY-MM-DD HH:mm:ss') }}
      </a-tooltip>
    </span>
  </div>
  <!-- 通用选择框commonselect -->
  <div v-else-if="obj.type == 'commonselect'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <AvicCommonSelect
        v-model="value"
        :auto-focus="true"
        :type="obj.controlType"
        :select-model="obj.selectModel"
        :placeholder="obj.placeholder"
        @callBack="check"
        @keydown.tab.native.prevent="tabCut"
      />
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ value.names }}
        </template>
        {{ value.names }}
      </a-tooltip>
    </span>
  </div>
  <!-- 单选下拉 -->
  <div v-else-if="obj.type == 'select' || obj.type == 'radio'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <a-select
        v-model="value"
        :get-popup-container="triggerNode => triggerNode.parentNode"
        style="width: 100%"
        :auto-focus="true"
        :placeholder="obj.placeholder"
        :label-in-value="true"
        @change="check"
        @blur="check"
        @keydown.tab.native.prevent="tabCut"
      >
        <a-select-option
          v-for="select in obj.list"
          :key="select.sysLookupTlId"
          :value="select.lookupCode"
        >
          {{ select.lookupName }}
        </a-select-option>
      </a-select>
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ value.label }}
        </template>
        {{ value.label }}
      </a-tooltip>
    </span>
  </div>
  <!-- 多选下拉 -->
  <div v-else-if="obj.type == 'checkbox'" class="editable-cell">
    <span v-if="editable" class="editable-cell-input-wrapper">
      <a-select
        v-model="value"
        :get-popup-container="triggerNode => triggerNode.parentNode"
        style="width: 100%"
        :auto-focus="true"
        mode="multiple"
        :placeholder="obj.placeholder"
        :label-in-value="true"
        @change="checkboxCheck"
        @blur="checkboxCheck"
        @keydown.tab.native.prevent="tabCut"
      >
        <a-select-option
          v-for="select in obj.list"
          :key="select.sysLookupTlId"
          :value="select.lookupCode"
        >
          {{ select.lookupName }}
        </a-select-option>
      </a-select>
    </span>
    <span v-else class="editable-cell-text-wrapper" @click="edit">
      <a-tooltip>
        <template slot="title">
          {{ getCheckboxLabel(value) }}
        </template>
        {{ getCheckboxLabel(value) }}
      </a-tooltip>
    </span>
  </div>
  <div v-else />
</template>
<script>
import AvicCommonSelect from '@/components/avic/pt/org/AvicCommonSelect';
import moment from 'moment';
export default {
  name: 'FourTableEditableCell',
  components: {
    AvicCommonSelect
  },
  props: {
    obj: {
      type: Object,
      required: true
    },
    record: {
      required: true
    },
    text: {
      required: false
    }
  },
  data() {
    return {
      editable: false,
      value: this.initValue()
    };
  },
  watch: {
    text: {
      immediate: true,
      handler(newV) {
        this.value = this.initValue();
      }
    }
  },
  methods: {
    moment,
    formatDate(value, format) {
      // 日期格式化
      if (value) {
        return moment(value).format(format);
      }
    },
    formatDateTime(value, format) {
      // 日期时间格式化
      if (value) {
        return moment(value).format(format);
      }
    },
    initValue() {
      if (this.obj.type == 'commonselect') {
        return { ids: this.record[this.obj.id], names: this.record[this.obj.id + 'Alias'] };
      } else if (this.obj.type == 'select' || this.obj.type == 'radio') {
        return {
          key: this.record[this.obj.id] || '',
          label: this.record[this.obj.id + 'Name'] || ''
        };
      } else if (this.obj.type == 'checkbox') {
        return this.initCheckboxValue(this.record[this.obj.id], this.record[this.obj.id + 'Name']);
      } else if (this.obj.type == 'date' || this.obj.type == 'datetime') {
        return this.record[this.obj.id] ? moment(this.record[this.obj.id]) : null;
      } else {
        return this.text || '';
      }
    },
    edit(e) {
      if (this.obj.isCanEdit) {
        // 只有可编辑时,才进行编辑
        e.stopPropagation(); // 阻止事件冒泡,以便点击单元格时所在行不被选中
        this.editable = true; // 单元格变为可编辑状态
      }
    },
    dateChangeCheck(datemoment, datestring) {
      // date控件值变化时
      // 单元格变为不可编辑状态
      this.editable = false;
      // 失焦或者回车后,传回值
      this.$emit('change', datestring);
    },
    datetimeOkCheck() {
      // datetime控件点击确定时
      let value = this.formatDateTime(this.value, 'YYYY-MM-DD HH:mm:ss');
      // 单元格变为不可编辑状态
      this.editable = false;
      // 失焦或者回车后,传回值
      this.$emit('change', value);
    },
    initCheckboxValue(key, label) {
      // 多选下拉框初始值处理
      if (key && label) {
        let keyArray = key.split(';');
        let labelArray = label.split(';');
        let valueArray = [];
        for (let i = 0; i < keyArray.length; i++) {
          let target = {
            key: keyArray[i],
            label: labelArray[i]
          };
          valueArray.push(target);
        }
        return valueArray;
      } else {
        return [];
      }
    },
    getCheckboxLabel(value) {
      // 多选下拉框显示值处理
      let label = [];
      if (value) {
        for (let i = 0; i < value.length; i++) {
          if (value[i].label) {
            label.push(value[i].label.trim());
          }
        }
      }
      return label.join(',');
    },
    checkboxCheck() {
      // 单元格变为不可编辑状态
      this.editable = false;
      // 多选下拉框传回值的处理
      let key = [];
      let label = [];
      for (let i = 0; i < this.value.length; i++) {
        key.push(this.value[i].key.trim());
        label.push(this.value[i].label.trim());
      }
      let obj = {
        key: key.join(','),
        label: label.join(',')
      };
      // 失焦或者回车后,传回值
      this.$emit('change', obj);
    },
    check() {
      // 单元格变为不可编辑状态
      this.editable = false;
      // 失焦或者回车后,传回值
      this.$emit('change', this.value);
    },
    tabCut(e) {
      let el = e.target;
      // 查找父元素td
      while (el.tagName !== 'TD' && el.tagName !== 'BODY') {
        el = el.parentNode;
      }
      if (el.tagName == 'TD') {
        // 判断下一个td是否存在
        let nextTd = el.nextElementSibling;
        if (nextTd) {
          // 存在下一个td,找到下一个td里的控件
          let targetText = nextTd.querySelector('.editable-cell-text-wrapper');
          let targetInput = nextTd.querySelector('.editable-cell-input-wrapper');
          if (targetText) {
            // 控件处于未编辑状态,触发点击事件,实现可编辑状态
            targetText.click();
          } else if (targetInput) {
            // 控件处于编辑状态,使控件获取焦点
            targetInput.querySelector('input').focus();
          }
        }
      }
    }
  }
};
</script>
