<template>
  <div class="navLayout navLayout-win">
    <!-- 导航栏 -->
    <a-drawer
      wrap-class-name="left-nav-drawer"
      placement="left"
      :closable="true"
      :visible="visible"
      @close="onClose"
      width="1280px"
      :get-container="false"
    >
      <!-- :get-container="false"指定 Drawer 挂载的 HTML 节点（默认于挂载body里） -->
      <div class="nav-menu">
        <a-button type class="details">
          <a-icon type="menu" />
          <span>全部菜单</span>
          <a-icon type="right" />
        </a-button>
        <vue-scroll :ops="ops">
          <a-menu style mode="vertical">
            <template v-for="item in siderList">
              <a-menu-item v-if="item.ishidden !== '1'" :key="item.id" @click="clickMenu(item)">
                <a-icon :type="item.meta.icon || 'file'" />
                <span>{{ item.meta.title }}</span>
                <a-icon
                  theme="filled"
                  type="star"
                  class="icon-menu-fav"
                  @click.stop="changeCollectStatus(item)"
                />
              </a-menu-item>
            </template>
          </a-menu>
        </vue-scroll>
      </div>
      <div class="gridtest">
        <a-col style="width: 910px; float: left; height: 100%; min-width: 400px">
          <a-input-search
            v-model="keyWord"
            placeholder="在此处搜索菜单（支持拼音首字母搜索）"
            allow-clear
          />

          <div class="recently">
            <h4>最近访问：</h4>
            <a-menu mode="vertical" class="recent-visit-menu">
              <template v-for="(item, index) in recentVisitList">
                <a-menu-item
                  v-if="index < recentVisitCount && item.ishidden !== '1'"
                  :key="item.id"
                  :title="item.meta.title"
                  @click="clickMenu(item)"
                  class="recent-visit-menu-item"
                >
                  {{ item.meta.title }}
                </a-menu-item>
                <a-divider
                  v-if="index < recentVisitCount - 1 && index !== recentVisitList.length - 1"
                  :key="item.id"
                  type="vertical"
                  class="recent-visit-devider"
                />
              </template>
            </a-menu>
          </div>
          <div class="txt-roll">
            <div class="gridtest-in">
              <div class="myGrid">
                <template v-for="(item, index) in permissionList">
                  <div v-if="keyWordFilter(item)" :key="item.id" class="myGrid-in">
                    <div class="myGrid-in-con">
                      <!-- 有二级子菜单的一级菜单 -->
                      <h4
                        v-if="item.ishidden !== '1' && item.children && item.children.length > 0"
                        :id="'firstMenu-' + index"
                        :ref="'firstMenu-' + index"
                        :class="{ 'high-light-menu': highLightMenu === 'firstMenu-' + index }"
                      >
                        <span>{{ item.meta.title }}</span>
                      </h4>
                      <a-menu
                        v-if="item.ishidden !== '1' && item.children && item.children.length > 0"
                        mode="vertical"
                        :sub-menu-close-delay="0"
                        :selectable="false"
                      >
                        <template v-for="(subItem, subkey) in item.children">
                          <!-- 有三级子菜单的二级菜单 -->
                          <a-menu-item-group
                            v-if="
                              subItem.ishidden !== '1' &&
                              subItem.children &&
                              subItem.children.length > 0
                            "
                            v-show="keyWordFilter(item, true) || keyWordFilter(subItem)"
                            :key="subkey"
                            :title="subItem.meta.title"
                          >
                            <template slot="title">
                              <span>{{ subItem.meta.title }}</span>
                            </template>
                            <template v-if="subItem.children && subItem.children.length > 0">
                              <!-- 三级菜单 -->
                              <template v-for="(leafItem, leafKey) in subItem.children">
                                <a-menu-item
                                  v-if="
                                    leafItem.ishidden !== '1' &&
                                    (keyWordFilter(item, true) ||
                                      keyWordFilter(subItem, true) ||
                                      keyWordFilter(leafItem))
                                  "
                                  :key="leafKey"
                                  :title="leafItem.meta.title"
                                  @click="clickMenu(leafItem)"
                                >
                                  <p>{{ leafItem.meta.title }}</p>
                                  <a-icon
                                    type="star"
                                    :class="[checkCollect(leafItem) ? 'star-block' : 'star-none']"
                                    class="icon-menu-fav"
                                    :theme="checkCollect(leafItem) ? 'filled' : 'outlined'"
                                    @click.stop="changeCollectStatus(leafItem)"
                                  />
                                </a-menu-item>
                              </template>
                            </template>
                          </a-menu-item-group>
                          <!-- 无三级子菜单的二级菜单 -->
                          <template v-else>
                            <a-menu-item
                              v-if="
                                subItem.ishidden !== '1' &&
                                (keyWordFilter(item, true) || keyWordFilter(subItem))
                              "
                              :key="subkey"
                              :title="subItem.meta.title"
                              @click="clickMenu(subItem)"
                            >
                              <span>{{ subItem.meta.title }}</span>
                              <a-icon
                                type="star"
                                :class="[checkCollect(subItem) ? 'star-block' : 'star-none']"
                                class="icon-menu-fav"
                                :theme="checkCollect(subItem) ? 'filled' : 'outlined'"
                                @click.stop="changeCollectStatus(subItem)"
                              />
                            </a-menu-item>
                          </template>
                        </template>
                      </a-menu>
                      <!-- 无二级子菜单的一级菜单 -->
                      <h4
                        v-if="
                          item.ishidden !== '1' && (!item.children || item.children.length === 0)
                        "
                        :id="'firstMenu-' + index"
                        :ref="'firstMenu-' + index"
                        :class="{ 'high-light-menu': highLightMenu === 'firstMenu-' + index }"
                        @click="clickMenu(item)"
                      >
                        <span>{{ item.meta.title }}</span>
                        <a-icon
                          type="star"
                          :class="[checkCollect(item) ? 'star-block' : 'star-none']"
                          class="icon-menu-fav"
                          :theme="checkCollect(item) ? 'filled' : 'outlined'"
                          @click.stop="changeCollectStatus(item)"
                        />
                      </h4>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </a-col>
        <a-col style="width: 160px; float: right; height: 100%">
          <a-anchor class="gridtestAnchor" @click="scrollTo">
            <template v-for="(item, index) in permissionList">
              <a-anchor-link
                v-if="item.ishidden !== '1'"
                :key="index"
                :href="'#firstMenu-' + index"
                :title="item.meta.title"
              />
            </template>
          </a-anchor>
        </a-col>
      </div>
    </a-drawer>
    <a-layout style="height: 100%">
      <!-- 头部 -->
      <a-layout-header class="base-layout-header" style="padding: 0; min-width: 1024px">
        <div class="new-head">
          <div class="new-head-in">
            <a-button type="primary" @click="showDrawer" class="cloud-but">
              <a-icon type="appstore" />
            </a-button>
            <div class="logo" style="float: left">
              <span>{{ systemTitle }}</span>
            </div>
          </div>
          <div class="new-head-in">
            <!-- 导航占位容器 -->
          </div>
          <div class="new-head-in">
            <ul class="head-right">
              <li class="header-right-user" :class="{ active: showUserPanel }">
                <a-avatar class="user-img" slot="avatar" :src="userHead" />
                <a-popover
                  placement="bottom"
                  overlay-class-name="popover-user"
                  :get-container="false"
                  :visible="showUserPanel"
                  @visibleChange="handleChangeUserPanel"
                >
                  <template slot="title">
                    <div class="popover-user-title">
                      <!--<span>{{ nickname() }}</span>-->
                      <p v-if="currentOrgName">组织：{{ currentOrgName }}</p>
                      <p v-if="currentDeptName">部门：{{ currentDeptName }}</p>
                    </div>
                  </template>
                  <template slot="content">
                    <a-menu class="popover-user-con" :selectable="false">
                      <a-menu-item
                        key="1"
                        @click="$router.push({ name: 'UserSetting', params: { tags: '1' } })"
                      >
                        <a-icon type="user" />个人设置
                      </a-menu-item>
                      <a-menu-item
                        key="2"
                        @click="$router.push({ name: 'UserSetting', params: { tags: '2' } })"
                      >
                        <a-icon type="lock" />修改密码
                      </a-menu-item>
                      <a-menu-item
                        key="3"
                        @click="$router.push({ name: 'UserSetting', params: { tags: '3' } })"
                      >
                        <a-icon type="user-delete" />切换组织
                      </a-menu-item>
                      <a-menu-item key="5" @click="handleLogout">
                        <a-icon type="poweroff" />退出登录
                      </a-menu-item>
                    </a-menu>
                  </template>
                  <a-button class="user-but" :title="nickname()">{{ nickname() }}</a-button>
                  <a-icon type="down" class="user-info-arrow-down" />
                </a-popover>
              </li>
              <li class="header-right-icon" :class="{ active: showMesagePanel }">
                <a-popover
                  overlay-class-name="popover-news"
                  placement="bottomRight"
                  :get-container="false"
                  :visible="showMesagePanel"
                  @visibleChange="handleChangeMessagePanel"
                >
                  <template slot="content">
                    <a-spin :spinning="loadingMessage">
                      <a-menu class="popover-news-new" :selectable="false">
                        <template v-for="(item, index) in newsList">
                          <a-menu-item
                            v-if="index < 6"
                            :key="index"
                            @click="
                              handleDetailOrEdit({
                                refName: detailModalRefName,
                                param: { id: item.id }
                              })
                            "
                          >
                            {{ item.title }}
                          </a-menu-item>
                        </template>
                        <a-menu-item v-if="newsList.length === 0" key="-1" class="no-data">
                          <a-empty :image="simpleImage" />
                        </a-menu-item>
                      </a-menu>
                    </a-spin>
                    <a-menu class="popover-news-but">
                      <a-menu-item key="6">
                        <a-button
                          icon="plus"
                          @click="handleAdd({ refName: addModalRefName, param: {} })"
                        >
                          添加
                        </a-button>
                        <a-button icon="ellipsis" @click="handleMoreMessage">更多</a-button>
                      </a-menu-item>
                    </a-menu>
                  </template>
                  <div class="header-message-wrapper">
                    <a-badge :dot="true" :count="count">
                      <a-icon type="bell" />
                    </a-badge>
                  </div>
                </a-popover>
                <!-- 添加弹框 -->
                <NewsAdd
                  v-if="showAddModal"
                  :ref="addModalRefName"
                  layout="2"
                  :request-public-url="requestPublicUrl"
                  @close="showAddModal = false"
                />
                <!-- 详情弹框 -->
                <NewsDetail
                  v-if="showDetailModal"
                  :ref="detailModalRefName"
                  :request-public-url="requestPublicUrl"
                  :param-id="messageId"
                  layout="2"
                  @close="showDetailModal = false"
                />
              </li>
              <li class="header-right-icon">
                <a-icon type="skin" title="主题设置" @click="handleSettingDrawer" />
              </li>
              <li class="header-right-icon">
                <a-icon
                  :type="isFullScreenMode ? 'shrink' : 'arrows-alt'"
                  :title="isFullScreenMode ? '退出全屏' : '进入全屏'"
                  @click="handleFullScreen"
                />
              </li>
              <li
                v-if="userInfo().consoleType && userInfo().consoleType !== '1'"
                class="header-right-icon"
                @click="handleManageSystem"
              >
                <a-icon title="切换后台" type="desktop" />
              </li>
              <!-- <li class="header-right-search">
                <a-input-search placeholder="请输入关键词搜索" @search="onSearch" />
              </li> -->
            </ul>
          </div>
        </div>
      </a-layout-header>
      <!-- 主体内容 -->
      <a-layout-content>
        <div class="navLayout-con">
          <div class="navLayout-con-in">
            <div class="labelPage">
              <!-- 标签页 -->
              <a-tabs
                default-active-key="0"
                :active-key="selected"
                :hide-add="true"
                @change="handleChange"
                @edit="handleEdit"
              >
                <a-tab-pane v-for="(item, key) in pageList" :key="key" :closable="key !== 0">
                  <template slot="tab">
                    <span
                      @contextmenu.prevent="showContextMenu($event, key)"
                      :title="item.meta.title"
                    >
                      <template v-if="key == 0">
                        <TabsDropdown
                          :ref="tabsDropRefName"
                          :menu-visible.sync="showDrop"
                          :item="item"
                          @handleIndexSetting="openPortalDesign"
                        />
                      </template>
                      <template v-else>
                        <a-icon v-if="key === 0" theme="filled" :type="item.meta.icon" />
                        {{ item.meta.title }}
                      </template>
                    </span>
                    <AvicIcon
                      class="close-icon"
                      icon-source="avic"
                      svg-name="close"
                      @click="handleEdit(key, 'remove')"
                    />
                  </template>
                </a-tab-pane>
              </a-tabs>
              <vue-context-menu
                class="context-menu"
                :context-menu-data="contextMenuData"
                :transfer-index="0"
                @close2left="close2left"
                @close2right="close2right"
                @closeAllOthers="closeAllOthers"
                @refresh="refresh"
              />
            </div>
            <div class="theme-content" id="roll">
              <!-- 回到顶部 -->
              <a-back-top :target="rolls" class="ant-back-top-inner">
                <a-icon type="arrow-up" />
              </a-back-top>
              <div class="theme-content-wrapper">
                <keep-alive :include="getKeepAliveCompList">
                  <router-view />
                </keep-alive>
              </div>
            </div>
          </div>
        </div>
      </a-layout-content>
    </a-layout>
    <SettingDrawer v-if="isSettingDrawer" @close="isSettingDrawer = false" />
    <!-- 门户配置设计弹窗 -->
    <AvicAsyncComponent
      v-if="showEditIndexModal"
      :ref="portalDesignRefName"
      :path="portalDesignPath"
      :widget-form="widgetForm"
      :port-let="portLet"
      @closeModal="handeleCloseDesignMd"
      @updatePortLetList="updatePortLetList"
    />
  </div>
</template>
<script>
import SettingDrawer from '@portal/pageModules/drawer/SettingDrawer';
import { Empty } from 'ant-design-vue';
import { themeLayoutMixin } from '@mixins/avic/pt/ThemeLayoutMixin';
import { portletSettingMixin } from '@mixins/avic/pt/PortletSettingMixin';
import './style/base.less';
export default {
  name: 'WinLayout',
  beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  components: {
    SettingDrawer
  },
  data() {
    return {
      highLightMenu: '',
      visible: false, //抽屉
      newTabIndex: 0,
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {
          size: '12px'
        },
        bar: {
          onlyShowBarOnScroll: false,
          background: 'rgba(0,0,0,0.15)',
          size: '6px'
          // keepShow: true
        }
      }
    };
  },
  mixins: [themeLayoutMixin, portletSettingMixin],
  created() {
    // 初始化最近访问列表
    this.getRecentVisitList();
    // this.fetchNotice()
  },
  methods: {
    showDrawer() {
      this.visible = !this.visible;
    },
    onClose() {
      this.visible = false;
    },
    /* 菜单项点击事件 */
    clickMenu(menu) {
      this.visible = false;
      this.openMenuTab(menu);
      this.$router.push(menu.path);
    },
    scrollTo(e, link) {
      this.keyWord = '';
      this.$nextTick(() => {
        this.highLightMenu = link.href.substring(1);
        this.$refs[this.highLightMenu][0].scrollIntoView({ behavior: 'smooth' });
      });
    }
  }

  // 自定义图标
  // components: {
  //   //IconFont, //项目字体库
  // }
};
</script>
