<!--
  流程中间部分
-->
<template>
  <div v-show="tabsVisible" class="flow-avic-top" @mousedown.stop="move" :style="style">
    <div class="left">
      <a-popover
        placement="leftTop"
        overlay-class-name="left-popover"
        :visible="showTable"
        :get-popup-container="triggerNode => triggerNode.parentNode"
        @visibleChange="changeTable"
      >
        <a href="#">
          <a-icon type="setting" />
        </a>
        <div slot="content" class="flow-chart-table">
          <div class="top-box">
            模块显示管理
            <span>拖动名称可排序</span>
          </div>
          <table class="tab-box">
            <thead>
              <tr>
                <th>显示</th>
                <th>名称</th>
                <th>顺序</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="tim in data"
                :key="tim.id"
                v-dragging="{ item: tim, list: data, group: 'data' }"
                class="flow-table-row"
              >
                <template v-if="tim.code !== 'bpm_idea_tab'">
                  <td>
                    <a-checkbox
                      :id="tim.id"
                      :checked="tim.display === '1'"
                      :disabled="tim.code === 'bpm_form_tab'"
                      @click="updateTableShow"
                    />
                  </td>
                  <td>{{ tim.name }}</td>
                  <td>{{ tim.order }}</td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
      </a-popover>
    </div>
    <div class="main">
      <ul class="table">
        <li
          v-for="(item, $index) in data"
          :key="$index"
          v-show="item.display === '1' && item.code !== 'bpm_idea_tab'"
          :class="{ active: selectTab === $index }"
          @click="selectTable(item, $index)"
        >
          <a href="#" :class="{ color: selectTab !== $index }">{{ item.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { Popover, Checkbox, Icon } from 'ant-design-vue';
import Vue from 'vue';
import VueDND from 'awe-dnd';
Vue.use(VueDND);
import { httpAction } from '@api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { mapActions, mapGetters } from 'vuex';

export default {
  components: {
    APopover: Popover,
    ACheckbox: Checkbox,
    AIcon: Icon
  },
  props: {
    // prop接收传过来的参数
    tabsTop: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      positionX:0,
      positionY:0,
      style:null,
      data: [],
      tabsVisible: true,
      selectTab: '0',
      showTable: false,
      flowRole: '',
      // 树搜索组件需要的加载数据格式
      updateBpmTabsExtsParam: {
        url: bpmUtils.baseurl + '/business/updateBpmTabsExts/v1',
        method: 'post'
      }
    };
  },
  //注册接受组件传参事件
  computed: {
    ...mapGetters(['getUserIdentity', 'getActivitylabel', 'getTabs'])
  },
  //接收组件传参
  watch: {
    getUserIdentity: {
      immediate: true,
      handler(userIdentity) {
        if (userIdentity != '') {
          this.flowRole = `${this.$store.state.bpmModel.activitylabel}  当前身份：${userIdentity}`;
        } else {
          this.flowRole = `${this.$store.state.bpmModel.activitylabel}`;
        }
      }
    },
    getActivitylabel: {
      immediate: true,
      handler(activitylabel) {
        if (this.$store.state.bpmModel.userIdentity != '') {
          this.flowRole = `${activitylabel}  当前身份：${this.$store.state.bpmModel.userIdentity}`;
        } else {
          this.flowRole = `${activitylabel}`;
        }
      }
    },
    getTabs(tabs) {
      this.data = tabs;
    }
  },
  created() {
    this.getBpmTabs();
  },
  mounted() {
    if (
      this.$store.state.bpmModel &&
      this.$store.state.bpmModel.userIdentity &&
      this.$store.state.bpmModel.activitylabel
    ) {
      this.flowRole = `${this.$store.state.bpmModel.activitylabel} 当前身份：${this.$store.state.bpmModel.userIdentity}`;
    }
    this.$dragging.$on('dragged', ({ value }) => {
      value.list.map((tim, index) => {
        tim.order = index + 1;
      });
    });
  },
  methods: {
    ...mapActions(['getBpmTabs', 'setBpmOriginalTabs', 'closeLoading']),
    selectTable(e, index) {
      let that = this;
      that.selectTab = index;
      setTimeout(function () {
        that.$emit('scrollViewByTab', e);
      });
    },
    move(e){
      let odiv = e.target;   
      document.onmousemove = (e)=>{       //鼠标按下并移动的事件
        //移动当前元素
        let height = document.body.scrollHeight- 158 //当前屏幕高度减去div的高度
        if(e.clientY<56){ //鼠标位置移动到详情页header以内
          this.style = "top:56px";
        }else if(e.clientY > height || e.clientY == height){
          this.style = "top:"+ height +"px";
        }else{
          this.style = "top:"+(e.clientY - odiv.offsetTop)+"px";
        }
      };
      document.onmouseup = (e) => {
        document.onmousemove = null;
        document.onmouseup = null;
      };
    },
    //滚动屏幕
    handleTabsScroll(e) {
      if (e.id) {
        let x = document.querySelectorAll('div#' + e.id);
        let scrollTopValue = x[0].offsetTop;
        window.scrollTo(0, scrollTopValue - 90);
      }
    },
    getTabsVisible(tabsVisible) {
      this.tabsVisible = tabsVisible;
    },
    //修改个性设备
    updateBpmTabsExts() {
      let parameter = { listStr: JSON.stringify(this.data) };
      httpAction(this.updateBpmTabsExtsParam.url, parameter, this.updateBpmTabsExtsParam.method) // 提交
        .then(res => {
          if (res.success) {
            this.$message.success('修改设置成功');
            this.setBpmOriginalTabs(this.data);
          } else {
            this.$message.error('修改设置失败!');
          }
        })
        .catch(() => {
          this.$message.error('修改设置失败!');
        });
    },
    updateBpmMessage() {
      let _this = this;
      this.$confirm({
        title: '修改设置',
        content: '您确定要保存当前的设置吗？',
        onOk() {
          _this.updateBpmTabsExts();
        },
        onCancel() {
          _this.getBpmTabs();
        }
      });
    },
    changeTable() {
      if (this.showTable === true) {
        let isUpdate = false;
        if (
          this.$store.state.bpmTabs.originalTabs &&
          this.$store.state.bpmTabs.originalTabs.length > 0
        ) {
          this.$store.state.bpmTabs.originalTabs.map((tim, index) => {
            if (
              !isUpdate &&
              (this.data[index].id !== tim.id || tim.display !== this.data[index].display)
            ) {
              isUpdate = true;
            }
          });
        }
        if (isUpdate === true) {
          this.updateBpmMessage();
        }
      }
      this.showTable = !this.showTable;
    },
    updateTableShow(e) {
      if (e.target.id) {
        this.data.map(tim => {
          if (tim.id == e.target.id) {
            if (tim.display == '1') {
              tim.display = '0';
            } else {
              tim.display = '1';
            }
          }
        });
      }
    }
  }
};
</script>
<style lang="less">
.flow-avic-top {
  position: fixed;
  right: 0;
  top: 50%;
  .left {
    padding: 0;
    width: 52px;
    height: 52px;
    text-align: center;
    a {
      width: 100%;
      height: 100%;
      display: inline-block;
      padding: 15px;
      text-align: center;
      i {
        font-size: 22px;
      }
    }
    .left-popover {
      padding-right: 5px;
      font-size: 12px;
      color: #333;
      .ant-popover-arrow {
        display: none;
      }
      .ant-popover-inner-content {
        background: #f8f9fa;
        padding: 5px;
      }
    }
  }
  .main {
    flex: 1;
    .table {
      height: 100%;
      float: left;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        padding: 0 5px;
        width: 52px;
        height: 52px;
        list-style: none;
        word-break: break-word;
        align-items: center;
        display: flex;
        border-top: 1px solid#ddd;
        a {
          padding: 0 6px;
          font-size: 14px;
          max-width: 100px;
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          font-weight: 400;
          font-style: normal;
          color: #4a5665;
          line-height: 18px;
        }
        .color {
          color: #333;
        }
      }
    }

    .right {
      float: right;
      margin-right: 30px;
      font-size: 12px;
    }
  }
}

.flow-chart-table {
  background-color: #f8f9fa;
  width: 348px;
  height: 100%;
  display: inline-table;
  .top-box {
    font-size: 12px;
    padding: 6px 15px;
    position: relative;
    margin-bottom: 5px;
    span {
      float: right;
      font-size: 12px;
      color: #adadad;
    }
  }
  .tab-box {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    td {
      padding: 3px 0;
    }
    .flow-table-row:hover {
      background-color: #eaeaea;
      cursor: move;
    }
  }
}
</style>
