<template>
  <!-- 3简约（左侧手风琴导航） -->
  <div class="navLayout navLayout-simple">
    <a-layout style="height: 100%">
      <a-layout-header class="base-layout-header" style="padding: 0; min-width: 1024px">
        <div class="new-head">
          <div class="new-head-in">
            <div class="logo">
              <span>{{ systemTitle }}</span>
              <a-icon
                class="trigger"
                :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                @click="handleCollapse"
              />
            </div>
          </div>
          <div class="new-head-in">
            <div class="nav">
              <a-menu
                v-model="selectFirstMenuKeys"
                :sub-menu-close-delay="0"
                mode="horizontal"
                slot="tab"
                @click="changeMenu"
              >
                <a-menu-item key="home">我的首页</a-menu-item>
                <a-menu-item key="fav">我的收藏</a-menu-item>
                <template v-for="(item, index) in permissionList">
                  <a-menu-item
                    v-if="item.ishidden !== '1'"
                    :key="index"
                    :title="item.meta.title"
                    class="sub-menu-li"
                  >
                    {{ item.meta.title }}
                  </a-menu-item>
                </template>
              </a-menu>
            </div>
          </div>
          <div class="new-head-in">
            <ul class="head-right">
              <li class="header-right-user" :class="{ active: showUserPanel }">
                <a-avatar class="user-img" slot="avatar" :src="userHead" />
                <a-popover
                  overlay-class-name="popover-user"
                  placement="bottom"
                  :get-container="false"
                  :visible="showUserPanel"
                  @visibleChange="handleChangeUserPanel"
                >
                  <template slot="title">
                    <div class="popover-user-title">
                      <!--<span>{{ nickname() }}</span>-->
                      <p v-if="currentOrgName">组织：{{ currentOrgName }}</p>
                      <p v-if="currentDeptName">部门：{{ currentDeptName }}</p>
                    </div>
                  </template>
                  <template slot="content">
                    <a-menu class="popover-user-con" :selectable="false">
                      <a-menu-item
                        key="1"
                        @click="$router.push({ name: 'UserSetting', params: { tags: '1' } })"
                      >
                        <a-icon type="user" />个人设置
                      </a-menu-item>
                      <a-menu-item
                        key="2"
                        @click="$router.push({ name: 'UserSetting', params: { tags: '2' } })"
                      >
                        <a-icon type="lock" />修改密码
                      </a-menu-item>
                      <a-menu-item
                        key="3"
                        @click="$router.push({ name: 'UserSetting', params: { tags: '3' } })"
                      >
                        <a-icon type="user-delete" />切换组织
                      </a-menu-item>
                      <a-menu-item key="5" @click="handleLogout">
                        <a-icon type="poweroff" />退出登录
                      </a-menu-item>
                    </a-menu>
                  </template>
                  <a-button class="user-but" :title="nickname()">{{ nickname() }}</a-button>
                  <a-icon type="down" class="user-info-arrow-down" />
                </a-popover>
              </li>
              <li class="header-right-icon" :class="{ active: showMesagePanel }">
                <a-popover
                  overlay-class-name="popover-news"
                  placement="bottomRight"
                  :get-container="false"
                  :visible="showMesagePanel"
                  @visibleChange="handleChangeMessagePanel"
                >
                  <template slot="content">
                    <a-spin :spinning="loadingMessage">
                      <a-menu class="popover-news-new" :selectable="false">
                        <template v-for="(item, index) in newsList">
                          <a-menu-item
                            v-if="index < 6"
                            :key="index"
                            @click="
                              handleDetailOrEdit({
                                refName: detailModalRefName,
                                param: { id: item.id }
                              })
                            "
                          >
                            {{ item.title }}
                          </a-menu-item>
                        </template>
                        <a-menu-item v-if="newsList.length === 0" key="-1" class="no-data">
                          <a-empty :image="simpleImage" />
                        </a-menu-item>
                      </a-menu>
                    </a-spin>
                    <a-menu class="popover-news-but">
                      <a-menu-item key="6">
                        <a-button
                          icon="plus"
                          @click="handleAdd({ refName: addModalRefName, param: {} })"
                        >
                          添加
                        </a-button>
                        <a-button icon="ellipsis" @click="handleMoreMessage">更多</a-button>
                      </a-menu-item>
                    </a-menu>
                  </template>
                  <div class="header-message-wrapper">
                    <a-badge :dot="true" :count="count">
                      <a-icon type="bell" />
                    </a-badge>
                  </div>
                </a-popover>
                <!-- 添加弹框 -->
                <NewsAdd
                  v-if="showAddModal"
                  :ref="addModalRefName"
                  layout="2"
                  :request-public-url="requestPublicUrl"
                  @close="showAddModal = false"
                />
                <!-- 详情弹框 -->
                <NewsDetail
                  v-if="showDetailModal"
                  :ref="detailModalRefName"
                  :request-public-url="requestPublicUrl"
                  :param-id="messageId"
                  layout="2"
                  @close="showDetailModal = false"
                />
              </li>
              <li class="header-right-icon">
                <a-icon type="skin" title="主题设置" @click="handleSettingDrawer" />
              </li>
              <li class="header-right-icon">
                <a-icon
                  :type="isFullScreenMode ? 'shrink' : 'arrows-alt'"
                  :title="isFullScreenMode ? '退出全屏' : '进入全屏'"
                  @click="handleFullScreen"
                />
              </li>
              <li
                v-if="userInfo().consoleType && userInfo().consoleType !== '1'"
                class="header-right-icon"
                @click="handleManageSystem"
              >
                <a-icon title="切换后台" type="desktop" />
              </li>
              <!-- <li class="header-right-search">
                <a-input-search placeholder="请输入关键词搜索" @search="onSearch" />
              </li> -->
            </ul>
          </div>
        </div>
      </a-layout-header>

      <a-layout>
        <a-layout-sider class="base-layout-sider" v-model="collapsed" :trigger="null" collapsible>
          <a-input-search
            v-model="keyWord"
            @change="handleFilterMenu"
            placeholder="在此处搜索菜单"
            @search="handleFilterMenu"
            :allow-clear="!collapsed"
          />
          <!-- 导航栏 -->
          <vue-scroll :ops="ops">
            <a-menu
              v-model="selectMenuKeys"
              :default-selected-keys="[]"
              :default-open-keys="[]"
              :inline-collapsed="collapsed"
              :sub-menu-close-delay="0"
              :inline-indent="20"
              mode="inline"
              class="base-menu"
            >
              <template v-for="item in secondMenuList">
                <!-- 不含二级菜单的一级菜单 -->
                <a-menu-item
                  v-if="item.ishidden !== '1' && (!item.children || item.children.length === 0)"
                  :key="item.id"
                  :title="item.meta.title"
                  @click="clickMenu(item)"
                >
                  <a-icon :type="item.meta.icon || 'file'" />
                  <span :title="item.meta.title">{{ item.meta.title }}</span>
                  <a-icon
                    class="icon-menu-fav"
                    :theme="checkCollect(item) ? 'filled' : 'outlined'"
                    :class="[
                      ((selectFirstMenu !== 'home' && selectFirstMenu !== 'fav') || isSearch) &&
                      checkCollect(item)
                        ? 'star-block'
                        : 'star-none'
                    ]"
                    type="star"
                    @click.stop="changeCollectStatus(item)"
                  />
                </a-menu-item>
                <!-- 包含二级菜单的一级菜单 -->
                <a-sub-menu v-else :key="item.id" popup-class-name="base-sub-menu">
                  <span slot="title" :title="item.meta.title">
                    <a-icon :type="item.meta.icon || 'file'" />
                    <span>{{ item.meta.title }}</span>
                  </span>
                  <template v-for="subItem in item.children">
                    <!-- 包含三级菜单的二级菜单 -->
                    <a-sub-menu
                      v-if="
                        subItem.ishidden !== '1' && subItem.children && subItem.children.length > 0
                      "
                      :key="subItem.id"
                      class="nav-second"
                      popup-class-name="base-sub-menu"
                    >
                      <span slot="title" :title="subItem.meta.title">
                        <a-icon :type="subItem.meta.icon || 'file'" />
                        <span>{{ subItem.meta.title }}</span>
                      </span>
                      <template v-for="leafItem in subItem.children">
                        <a-menu-item
                          v-if="leafItem.ishidden !== '1'"
                          :key="leafItem.id"
                          :title="leafItem.meta.title"
                          class="nav-second"
                          @click="clickMenu(leafItem)"
                        >
                          <a-icon :type="item.meta.icon || 'file'" />
                          <span>{{ leafItem.meta.title }}</span>
                          <a-icon
                            class="icon-menu-fav"
                            :theme="checkCollect(leafItem) ? 'filled' : 'outlined'"
                            :class="[checkCollect(leafItem) ? 'star-block' : 'star-none']"
                            type="star"
                            @click.stop="changeCollectStatus(leafItem)"
                          />
                        </a-menu-item>
                      </template>
                    </a-sub-menu>
                    <!-- 不含三级菜单的二级菜单 -->
                    <a-menu-item
                      v-else-if="subItem.ishidden !== '1'"
                      :key="subItem.id"
                      :title="subItem.meta.title"
                      class="nav-second"
                      @click="clickMenu(subItem)"
                      popup-class-name="base-sub-menu"
                    >
                      <a-icon :type="item.meta.icon || 'file'" />
                      <span>{{ subItem.meta.title }}</span>
                      <a-icon
                        class="icon-menu-fav"
                        :theme="checkCollect(subItem) ? 'filled' : 'outlined'"
                        :class="[checkCollect(subItem) ? 'star-block' : 'star-none']"
                        type="star"
                        @click.stop="changeCollectStatus(subItem)"
                      />
                    </a-menu-item>
                  </template>
                </a-sub-menu>
              </template>
            </a-menu>
          </vue-scroll>
        </a-layout-sider>
        <a-layout-content>
          <div class="navLayout-con">
            <div class="navLayout-con-in">
              <div class="labelPage">
                <!-- 标签页 -->
                <a-tabs
                  default-active-key="0"
                  :active-key="selected"
                  :hide-add="true"
                  @change="handleChange"
                  @edit="handleEdit"
                >
                  <a-tab-pane v-for="(item, key) in pageList" :key="key" :closable="key !== 0">
                    <template slot="tab">
                      <span
                        @contextmenu.prevent="showContextMenu($event, key)"
                        :title="item.meta.title"
                      >
                        <template v-if="key == 0">
                          <TabsDropdown
                            :ref="tabsDropRefName"
                            :menu-visible.sync="showDrop"
                            :item="item"
                            @handleIndexSetting="openPortalDesign"
                          />
                        </template>
                        <template v-else>
                          <a-icon v-if="key === 0" theme="filled" :type="item.meta.icon" />
                          {{ item.meta.title }}
                        </template>
                      </span>
                      <AvicIcon
                        class="close-icon"
                        icon-source="avic"
                        svg-name="close"
                        @click.stop="handleEdit(key, 'remove')"
                      />
                    </template>
                  </a-tab-pane>
                </a-tabs>
                <vue-context-menu
                  class="context-menu"
                  :context-menu-data="contextMenuData"
                  :transfer-index="0"
                  @close2left="close2left"
                  @close2right="close2right"
                  @closeAllOthers="closeAllOthers"
                  @refresh="refresh"
                />
              </div>
              <div class="theme-content" id="roll">
                <!-- 回到顶部 -->
                <a-back-top :target="rolls" class="ant-back-top-inner">
                  <a-icon type="arrow-up" />
                </a-back-top>
                <div class="theme-content-wrapper">
                  <keep-alive :include="getKeepAliveCompList">
                    <router-view />
                  </keep-alive>
                </div>
              </div>
            </div>
          </div>
        </a-layout-content>
      </a-layout>
    </a-layout>
    <SettingDrawer v-if="isSettingDrawer" @close="isSettingDrawer = false" />
    <!-- 门户配置设计弹窗 -->
    <AvicAsyncComponent
      v-if="showEditIndexModal"
      :ref="portalDesignRefName"
      :path="portalDesignPath"
      :widget-form="widgetForm"
      :port-let="portLet"
      @closeModal="handeleCloseDesignMd"
      @updatePortLetList="updatePortLetList"
    />
  </div>
</template>

<script>
import SettingDrawer from '@portal/pageModules/drawer/SettingDrawer';
import { Empty } from 'ant-design-vue';
import { themeLayoutMixin } from '@mixins/avic/pt/ThemeLayoutMixin';
import { portletSettingMixin } from '@mixins/avic/pt/PortletSettingMixin';
import { triggerWindowResizeEvent } from '@/utils/avic/common/util';
import './style/base.less';
export default {
  name: 'SimpleLayout',
  beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  components: {
    SettingDrawer
  },
  data() {
    return {
      selectFirstMenu: 'home', // 当前选中的一级菜单
      selectFirstMenuKeys: [],
      isSearch: false,
      secondMenuList: [], //当前一级菜单对应的二级菜单 或者关键字过滤结果(三级)
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {
          size: '10px',
          left: '0'
        },
        bar: {
          onlyShowBarOnScroll: false,
          background: 'rgba(0,0,0,0.15)',
          size: '6px'
          // keepShow:true
        }
      }
    };
  },
  mixins: [themeLayoutMixin, portletSettingMixin],
  mounted() {
    setTimeout(() => {
      triggerWindowResizeEvent();
    }, 300);
  },
  methods: {
    /* 关键字过滤菜单 */
    handleFilterMenu() {
      this.handleMenuSearch();
      if (!this.keyWord) {
        if (this.selectFirstMenu === 'home' || this.selectFirstMenu === 'fav') {
          this.secondMenuList = [].concat(this.siderList);
        } else if (this.selectFirstMenu.children && this.selectFirstMenu.children.length > 0) {
          this.secondMenuList = [].concat(this.selectFirstMenu.children);
        } else {
          this.secondMenuList = [].concat([this.selectFirstMenu]);
        }
        this.isSearch = false;
        return;
      } else {
        this.isSearch = true;
        let filterResultList = [];
        this.permissionList.map(item => {
          let cItem = Object.assign({}, item);
          let _itemChildren = [];
          if (this.keyWordFilter(item)) {
            if (item.children && item.children.length > 0) {
              item.children.map(subItem => {
                let cSubItem = Object.assign({}, subItem);
                let subItemChilren = [];
                if (this.keyWordFilter(item, true) || this.keyWordFilter(subItem)) {
                  if (subItem.children && subItem.children.length > 0) {
                    subItem.children.map(leafItem => {
                      if (
                        this.keyWordFilter(item, true) ||
                        this.keyWordFilter(subItem, true) ||
                        this.keyWordFilter(leafItem)
                      ) {
                        subItemChilren.push(Object.assign({}, leafItem));
                      }
                    });
                  }
                  cSubItem.children = subItemChilren;
                  _itemChildren.push(cSubItem);
                }
              });
            }
            cItem.children = _itemChildren;
            filterResultList.push(cItem);
          }
        });
        this.secondMenuList = filterResultList;
      }
    },
    // 切换选择当前一级菜单
    changeMenu(item) {
      if (item.key === 'home') {
        this.toHomePage(); // 点击我的首页，直接切换视图
        this.secondMenuList = [].concat(this.siderList);
        this.selectFirstMenu = item.key;
      } else if (item.key === 'fav') {
        this.secondMenuList = [].concat(this.siderList);
        this.selectFirstMenu = item.key;
      } else if (
        this.permissionList[item.key].children &&
        this.permissionList[item.key].children.length > 0
      ) {
        this.selectFirstMenu = this.permissionList[item.key];
        this.secondMenuList = [].concat(this.permissionList[item.key].children);
      } else {
        this.secondMenuList = [].concat([this.permissionList[item.key]]);
      }
      this.selectMenuKeys = [];
    },
    /* 根据用户权限过滤当前当前用户已收藏的菜单 */
    filterFavAuth() {
      let _this = this;
      this.siderList = this.favMenuList.filter(item => {
        return _this.checkMenuAuth(item.id, _this.permissionList);
      });
      this.secondMenuList = [].concat(this.siderList);
    }
  }
};
</script>
