/* Tradition主题-与切换皮肤无关的样式 */

.navLayout-tradition {
  .ant-tabs-nav-wrap{
    margin: 0;
  }
  .ant-menu-submenu-popup{
    padding: 4px 0;
  }
  .ant-tabs-nav .ant-tabs-tab::before{
    display: none;
  }
  .nav {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: 0;
    .ant-menu {
      background: none;
      border: none;
      color: #fff;
      height: 50px;
      .ant-menu-item-selected,
      .ant-menu-submenu-selected,
      .ant-menu-item:hover {
        color: #fff;
      }
      .ant-menu-submenu {
        margin: 0;
        height: 100%;
        border: 0;
        top: 0;
        //限定顶部导航显示文字 溢出变省略号
        .ant-menu-submenu-title {
          span {
            display: block;
            height: 50px;
            span {
              max-width: 110px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: normal;
              line-height: inherit;
              display: inline-block;
            }
            span:focus,
            span:hover,
            span:active{
              line-height: inherit;
              font-weight: normal;
            }
          }
          .anticon {
            font-size: 14px;
            float: right;
            margin: 18px 0 0 4px;
            color: #fff ;
            opacity: 0.6;
          }
        }
      }
      .ant-tabs-tab-active,
      .ant-menu-item-selected{
        font-weight: normal;
      }
      .ant-menu-item:active,
      .theme-blue .ant-menu-submenu-title:active{
        background: inherit;
      }
      .ant-menu-submenu,
      .ant-menu-submenu:hover .ant-menu-submenu-title {
        color: #fff;
      }
      .ant-menu-submenu:hover {
        border-bottom: 0;
      }
      .ant-menu-submenu-title,
      .ant-menu-item {
        top: 0;
        padding: 0 20px;
        font-size: 12px;
        height: 50px;
        line-height: 50px;
        border-bottom: 0;
        margin: 0;
        .anticon {
          font-size: 10px;
          margin-left: 6px;
        }
      }
    }
    .ant-tabs {
      color: #fff;
      height: 50px;
      .ant-tabs-bar {
        border: none;
      }
      .ant-tabs-tab {
        margin-right: 0;
      }
      .ant-tabs-tab-prev,
      .ant-tabs-tab-next {
        color: #fff;
        font-weight: 900;
      }
      .ant-tabs-ink-bar {
        height: 0;
      }
      .ant-tabs-nav .ant-tabs-tab {
        padding: 0;
      }
      .ant-tabs-nav .ant-tabs-tab-active,
      .ant-tabs-tab:hover {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        border: none;
        height: 50px;

        .ant-tabs-ink-bar {
          width: 0 !important;
        }
      }
      .ant-tabs-tab-prev-icon-target,
      .ant-tabs-tab-next-icon-target {
        font-size: 20px;
      }
    }
  }
}