<!--
    word预览
-->
<template>
  <div ref="wordBox" class="avic-preview-word-box">
    <div v-html="html">{{ html }}</div>
  </div>
</template>
<script>
import mammoth from 'mammoth';
export default {
  name: 'PreviewWord',
  props: {
    //数据流
    flow: {
      required: false, //校验
      default: ''
    },
    //弹框大小
    modalWidthAndHeight: {
      required: false, //校验
      default: ''
    }
  },
  data() {
    return {
      html: ''
    };
  },
  watch: {
    flow: {
      immediate: true,
      handler(newV) {
        if (newV) {
          this.readWord(newV);
        }
      }
    }
  },
  methods: {
    readWord(res) {
      if (typeof FileReader === 'undefined') {
        this.$emit('setError', '您的浏览器不兼容预览，请升级浏览器');
      } else {
        let _this = this;
        let filereader = new FileReader();
        filereader.onloadend = function (event) {
          let arrayBuffer = filereader.result;
          mammoth.convertToHtml({ arrayBuffer }).then(function (resultObject) {
            _this.html = resultObject.value;
          });
        };
        filereader.readAsArrayBuffer(res);
      }
    }
  }
};
</script>
<style lang="less" scoped>
.avic-preview-word-box {
  overflow: auto;
}
</style>
