<script>
// 新加图标示例
const GengduoSvg = {
  template: `
            <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M512 298.6496a85.3504 85.3504 0 1 0 0-170.6496 85.3504 85.3504 0 0 0 0 170.6496zM512 512m-85.3504 0a85.3504 85.3504 0 1 0 170.7008 0 85.3504 85.3504 0 1 0-170.7008 0ZM512 896a85.3504 85.3504 0 1 0 0-170.7008 85.3504 85.3504 0 0 0 0 170.7008z" /></svg>`
};

export default {
  name: 'GengduoIcon',
  template: `
            <a-icon :component="GengduoSvg" />
        `,
  data() {
    return {
      GengduoSvg
    };
  }
};
</script>
