<template>
  <VueDragResize
    v-show="pNodeMounted"
    ref="resizeEgine"
    :w="w"
    :h="h"
    :x="l"
    :y="t"
    :active="true"
    :draggable="false"
    :maximize="false"
    :enable-native-drag="true"
    :resizable="resizable"
    :min-width="minWidth"
    :min-height="minHeight"
    :max-width="maxWidth"
    :max-height="maxHeight"
    :class="[direction, isNested ? 'nested' : '']"
    :handles="handles"
    class-name-handle="resize-handle"
    :on-resize-start="onResizeStart"
    @deactivated="onDeactivated"
    @resizing="onResizing"
    @resizestop="onResizeStop"
  >
    <template v-if="isNested">
      <template v-if="collapsible">
        <div class="nested-collapse-panel">
          <div class="collapse-header">
            <div class="collapse-title">
              <slot name="header">
                <div class="defaut-collapse-title">{{ title }}</div>
              </slot>
            </div>
            <div class="collapse-handle" @click="changeCollapse">
              <a-icon
                :type="
                  isCollapsed
                    ? collapseHandle[direction].collapsed
                    : collapseHandle[direction].noCollapsed
                "
              />
            </div>
          </div>
          <div class="collapse-content" :style="nestedCollapseContentStyle">
            <slot />
          </div>
        </div>
      </template>
      <template v-else>
        <slot />
      </template>
    </template>
    <template v-else>
      <a-layout
        class="resize-layout-panel"
        :class="[collapsible ? 'collapse' : 'no-collapse']"
        :style="panelStyle"
      >
        <template v-if="collapsible">
          <div class="collapse-header">
            <div class="collapse-title">
              <slot name="header">
                <div class="defaut-collapse-title">{{ title }}</div>
              </slot>
            </div>
            <div class="collapse-handle">
              <a-icon
                :type="
                  isCollapsed
                    ? collapseHandle[direction].collapsed
                    : collapseHandle[direction].noCollapsed
                "
                @click="changeCollapse"
              />
            </div>
          </div>
        </template>
        <div class="resize-layout-content" :style="bodyStyle">
          <slot />
        </div>
      </a-layout>
    </template>
  </VueDragResize>
</template>
<script>
import { Layout, Icon } from 'ant-design-vue';
import VueDragResize from 'vue-draggable-resizable';
import './style/base.less';
const minSize = 48;
export default {
  name: 'AvicResizeLayoutPanel',
  components: {
    ALayout: Layout,
    AIcon: Icon,
    VueDragResize
  },
  props: {
    bodyStyle: {
      type: Object,
      default: () => {
        return {};
      }
    },
    panelStyle: {
      type: Object,
      default: () => {
        return { padding: '0' };
      }
    },
    minWidth: {
      type: Number,
      validator: val => {
        return !val || val >= minSize;
      },
      default: minSize
    },
    minHeight: {
      type: Number,
      validator: val => {
        return !val || val >= minSize;
      },
      default: minSize
    },
    width: {
      type: Number,
      default: null
    },
    height: {
      type: Number,
      default: null
    },
    resizable: {
      type: Boolean,
      default: true
    },
    collapsible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: '标题'
    }
  },
  data() {
    return {
      collapseHeaderSize: 26,
      resizeLayoutPadding: 6,
      lastPanelInstance: null,
      nextPanelInstance: null,
      pNodeUpdate: false,
      pNodeMounted: false,
      index: null,
      w: 100,
      h: 100,
      l: 100,
      t: 100,
      direction: 'l',
      handles: ['mr'],
      topHandles: ['tl', 'tm', 'tr'],
      bottomHandles: ['bl', 'bm', 'br'],
      leftHandles: ['tl', 'ml', 'bl'],
      rightHandles: ['tr', 'mr', 'br'],
      collapseHandle: {
        l: { collapsed: 'right-circle', noCollapsed: 'left-circle' },
        r: { collapsed: 'left-circle', noCollapsed: 'right-circle' },
        t: { collapsed: 'down-circle', noCollapsed: 'up-circle' },
        b: { collapsed: 'up-circle', noCollapsed: 'down-circle' }
      },
      oldPosSize: { l: 0, t: 0, w: 0, h: 0 },
      isCollapsed: false,
      activedHandle: '',
      maxWidth: null,
      maxHeight: null,
      minSize // pixel
    };
  },
  computed: {
    nestedCollapseContentStyle() {
      return {
        height: parseInt(this.h - this.resizeLayoutPadding - this.collapseHeaderSize) + 'px',
        width: this.w + 'px'
      };
    },
    isNested() {
      let res = false;
      this.$slots.default.map(item => {
        if (item.componentOptions && item.componentOptions.tag === 'avic-resize-layout') {
          res = true;
        }
      });
      return res;
    }
  },
  watch: {
    pNodeMounted(newVal) {
      if (newVal) {
        this.updateResizeEgine();
      }
    },
    pNodeUpdate(newVal) {
      if (newVal) {
        this.updateResizeEgine();
        this.pNodeUpdate = false;
      }
    }
  },
  mounted() {
    this.$slots.default.map(item => {
      if (item.componentOptions && item.componentOptions.tag === 'avic-resize-layout') {
        item.componentInstance.hasParentPanel = true;
        item.componentInstance.parentPanelInstance = this;
      }
    });
  },
  methods: {
    onDeactivated() {
      this.$refs.resizeEgine.$set(this.$refs.resizeEgine.$data, 'enabled', true);
    },
    updateResizeEgine() {
      this.$refs.resizeEgine.checkParentSize();
      this.$refs.resizeEgine.$forceUpdate();

      this.$slots.default.map(item => {
        if (
          item.componentOptions &&
          item.componentOptions.tag === 'avic-resize-layout' &&
          item.componentInstance
        ) {
          item.componentInstance.parentPanelMounted = true;
        }
      });
    },
    initSizeByObj(obj) {
      this.initSize(obj.l, obj.t, obj.w, obj.h);
    },
    initSize(l, t, w, h) {
      if (l < 0 || t < 0 || w < 0 || h < 0) {
        console.log('init-err');
      } else {
        if (l > this.l || t > this.t) {
          this.$refs.resizeEgine.rawLeft = parseInt(l);
          this.$refs.resizeEgine.rawTop = parseInt(t);
        }
        this.l = parseInt(l);
        this.t = parseInt(t);
        this.w = parseInt(w) > this.minWidth ? parseInt(w) : this.minWidth;
        this.h = parseInt(h) > this.minHeight ? parseInt(h) : this.minHeight;
      }
    },
    calcResizeEngineLimits(handle) {
      // 设置最大宽度和最大高度maxWidth,maxHeight
      if (handle === 'ml') {
        if (this.lastPanelInstance && this.lastPanelInstance.minWidth) {
          this.$refs.resizeEgine.maxW = parseInt(
            this.w +
              this.lastPanelInstance.w -
              this.lastPanelInstance.minWidth -
              this.resizeLayoutPadding
          );
        }
      } else if (handle === 'mr') {
        if (this.nextPanelInstance && this.nextPanelInstance.minWidth) {
          this.$refs.resizeEgine.maxW = parseInt(
            this.w +
              this.nextPanelInstance.w -
              this.nextPanelInstance.minWidth -
              this.resizeLayoutPadding
          );
        }
      } else if (handle === 'tm') {
        if (this.lastPanelInstance && this.lastPanelInstance.minHeight) {
          this.$refs.resizeEgine.maxH = parseInt(
            this.h +
              this.lastPanelInstance.h -
              this.lastPanelInstance.minHeight -
              this.resizeLayoutPadding
          );
        }
      } else if (handle === 'bm') {
        if (this.nextPanelInstance && this.nextPanelInstance.minHeight) {
          this.$refs.resizeEgine.maxH = parseInt(
            this.h +
              this.nextPanelInstance.h -
              this.nextPanelInstance.minHeight -
              this.resizeLayoutPadding
          );
        }
      }
    },
    onResizeStart(handle, ev) {
      this.activedHandle = handle;
      // 计算Panel可调整的尺寸最大范围
      this.calcResizeEngineLimits(this.activedHandle);
    },
    onResizing(l, t, w, h) {
      // 计算元素重复，计算正确位置、尺寸
      const obj = this.checkPanelsPosition({ l, t, w, h });
      // 重置相邻panel尺寸、位置
      this.resetSurroundPanel(obj);
      this.initSizeByObj(obj);
    },
    onResizeStop(l, t, w, h) {
      this.reClacTimes = 0;
      // 计算元素重复，计算正确位置、尺寸
      let obj = this.checkPanelsPosition({ l, t, w, h });

      // 重置相邻panel尺寸、位置
      this.resetSurroundPanel(obj);
      // // 当前panel重置到正确位置、尺寸
      this.initSizeByObj(obj);
      this.$refs.resizeEgine.maxW = null;
      this.$refs.resizeEgine.maxH = null;
      this.activedHandle = '';
      this.$refs.resizeEgine.$forceUpdate();
    },
    onDragging(x, y) {},
    changeCollapse() {
      if (this.isCollapsed) {
        this.unCollapsePanel();
      } else {
        this.collapsePanel();
      }
    },
    collapsePanel() {
      let obj = { l: this.l, t: this.t, w: this.w, h: this.h };
      this.oldPosSize = Object.assign({}, obj);
      if (this.direction === 't') {
        obj.h = this.minHeight;
      } else if (this.direction === 'r') {
        obj.l = obj.l + obj.w - this.minWidth;
        obj.w = this.minWidth;
      } else if (this.direction === 'b') {
        obj.t = obj.t + obj.h - this.minHeight;
        obj.h = this.minHeight;
      } else if (this.direction === 'l') {
        obj.w = this.minWidth;
      }
      this.resetSurroundPanel(obj);
      this.initSizeByObj(obj);
      this.isCollapsed = true;
    },
    unCollapsePanel() {
      if (
        (this.direction === 'l' || this.direction === 't') &&
        this.nextPanelInstance &&
        this.nextPanelInstance.isCollapsed
      ) {
        return;
      }
      if (
        (this.direction === 'r' || this.direction === 'b') &&
        this.lastPanelInstance &&
        this.lastPanelInstance.isCollapsed
      ) {
        return;
      }
      const _obj = Object.assign({}, this.oldPosSize);
      if (this.direction === 'l' || this.direction === 't') {
        _obj.l = this.l;
        _obj.t = this.t;
      }
      const obj = this.checkPanelsPosition(_obj, true);
      this.resetSurroundPanel(obj);
      this.initSizeByObj(obj);
      this.isCollapsed = false;
    },
    // 计算尺寸变化，重置相邻panel尺寸
    resetSurroundPanel(obj) {
      let oldTL = { x: this.l, y: this.t };
      let oldRB = { x: this.l + this.w, y: this.t + this.h };
      let newTL = { x: obj.l, y: obj.t };
      let newRB = { x: obj.l + obj.w, y: obj.t + obj.h };
      if (this.lastPanelInstance && (newTL.x !== oldTL.x || newTL.y !== oldTL.y)) {
        this.lastPanelInstance.initSize(
          this.lastPanelInstance.l,
          this.lastPanelInstance.t,
          this.lastPanelInstance.w + (newTL.x - oldTL.x),
          this.lastPanelInstance.h + (newTL.y - oldTL.y)
          // parseInt(this.lastPanelInstance.w + (newTL.x - oldTL.x)),
          // parseInt(this.lastPanelInstance.h + (newTL.y - oldTL.y))
        );
        this.lastPanelInstance.isCollapsed = false;
      }
      if (this.nextPanelInstance && (newRB.x !== oldRB.x || newRB.y !== oldRB.y)) {
        this.nextPanelInstance.initSize(
          // parseInt(this.nextPanelInstance.l + (newRB.x - oldRB.x)),
          // parseInt(this.nextPanelInstance.t + (newRB.y - oldRB.y)),
          // parseInt(this.nextPanelInstance.w - (newRB.x - oldRB.x)),
          // parseInt(this.nextPanelInstance.h - (newRB.y - oldRB.y))
          this.nextPanelInstance.l + (newRB.x - oldRB.x),
          this.nextPanelInstance.t + (newRB.y - oldRB.y),
          this.nextPanelInstance.w - (newRB.x - oldRB.x),
          this.nextPanelInstance.h - (newRB.y - oldRB.y)
        );
        this.nextPanelInstance.isCollapsed = false;
      }
    },
    checkPanelsPosition(obj, isUnCollapse = false) {
      let oldTL = { x: this.l, y: this.t };
      // let oldRB = { x: this.l + this.w, y: this.t + this.h };
      let newTL = { x: obj.l, y: obj.t };
      // let newRB = { x: obj.l + obj.w, y: obj.t + obj.h };
      let minL = 0;
      let minT = 0;
      let maxW = this.w;
      let maxH = this.h;
      let res = obj;
      if (newTL.x !== oldTL.x || newTL.y !== oldTL.y) {
        if (this.lastPanelInstance) {
          if (
            this.leftHandles.includes(this.activedHandle) ||
            (isUnCollapse && (this.direction === 'l' || this.direction === 'r'))
          ) {
            minL =
              this.lastPanelInstance.minWidth + this.lastPanelInstance.l + this.resizeLayoutPadding;
            res.l = res.l > minL ? res.l : minL;
          }
          if (
            this.topHandles.includes(this.activedHandle) ||
            (isUnCollapse && (this.direction === 't' || this.direction === 'b'))
          ) {
            minT =
              this.lastPanelInstance.minHeight +
              this.lastPanelInstance.t +
              this.resizeLayoutPadding;
            res.t = res.t > minT ? res.t : minT;
          }
        }
      } else {
        if (this.nextPanelInstance) {
          if (
            this.rightHandles.includes(this.activedHandle) ||
            (isUnCollapse && (this.direction === 'l' || this.direction === 'r'))
          ) {
            maxW = maxW + this.nextPanelInstance.w - this.nextPanelInstance.minWidth;
            res.w = res.w < maxW ? res.w : maxW;
          }
          if (
            this.bottomHandles.includes(this.activedHandle) ||
            (isUnCollapse && (this.direction === 't' || this.direction === 'b'))
          ) {
            maxH = maxH + this.nextPanelInstance.h - this.nextPanelInstance.minHeight;
            res.h = res.h < maxH ? res.h : maxH;
          }
        }
      }
      return res;
    }
  }
};
</script>
<style lang="less">
@resize-layout-padding: 6px;
@collapse-header-size: 26px;
.bgw {
  background-color: white;
}
.collapse-header {
  position: absolute;
  height: @collapse-header-size;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #fdfdfd;
  background-color: #3598ff;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0 10px;

  .collapse-title {
    height: 100%;
    width: calc(100% - @collapse-header-size);
    float: left;
    overflow: hidden;
  }
  .collapse-handle {
    padding: 0 0 0 10px;
    height: 100%;
    width: @collapse-header-size;
    float: right;
    text-align: right;
  }
}
.resize-layout-panel {
  display: block;
  padding: @resize-layout-padding;
  background-color: #fff;
  font-size: 0;
  border-radius: @border-radius-base;

  .resize-layout-content {
    z-index: 20;
    overflow: hidden;
    bottom: 0;
  }
}
.no-collapse.resize-layout-panel {
  .resize-layout-content {
    height: 100%;
  }
}
.collapse.resize-layout-panel {
  .resize-layout-content {
    margin-top: @collapse-header-size;
    height: calc(100% - @collapse-header-size);
  }
}
.nested-collapse-panel {
  display: block;
  // border-radius: 8px;
  // box-shadow: 0px 0px 20px rgba(202, 202, 202, 0.85);
  font-size: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  > .collapse-header {
    width: 100%;
  }

  > .collapse-content {
    position: absolute;
    top: calc(@collapse-header-size + @resize-layout-padding);
  }
}

.t > .resize-layout-panel {
  height: calc(100% - @resize-layout-padding);
  margin-bottom: @resize-layout-padding;
  > .collapse-header {
    width: 100%;
  }
}
.r > .resize-layout-panel {
  height: 100%;
  margin-left: 0;
  > .collapse-header {
    width: 100%;
  }
}
.b > .resize-layout-panel {
  height: 100%;
  margin-bottom: 0;
  > .collapse-header {
    width: 100%;
  }
}
.l > .resize-layout-panel {
  height: 100%;
  margin-right: @resize-layout-padding;
  > .collapse-header {
    width: calc(100% - @resize-layout-padding);
  }
}
.a > .resize-layout-panel {
  height: 100%;
  > .collapse-header {
    width: 100%;
  }
}
</style>
