<template>
  <avic-resize-layout direction="h" class="bpm-task-manage">
    <avic-resize-layout-panel :width="treeWidth">
      <div class="surface">
        <!-- 操作按钮及查询区域 -->
        <div class="surface-title">
          <h3>流程模型</h3>
          <!-- 顶部按钮 -->
          <!-- <div class="surface-tools-bar">
            <a-icon type="sync" :spin="treeLoading" class="opt-icon" @click="reloadTree" />
          </div> -->
        </div>
        <div class="process-model-wrapper">
          <AvicTree
            :ref="treeRefName"
            :tree-param="treeParam"
            :is-load-data="true"
            :show-line="true"
            :default-expand-all="true"
            :default-max-parent-id="defaultParentId"
            :tree-loading="treeLoading"
            :default-show-context-menu="false"
            :default-expand-hierarchy="defaultLevel"
            :selected-keys.sync="selectedKeys"
            @select="(e, data) => selectNodeTree(e, data, tableRefName)"
            @afterLoadData="afterLoadData"
            @beforeLoadData="beforeLoadData"
          />
        </div>
      </div>
    </avic-resize-layout-panel>
    <avic-resize-layout-panel :panel-style="{ padding: '0px 0 0 0', background: '#fff' }">
      <a-tabs
        v-model="tabSelected"
        default-active-key="1"
        @tabClick="reloadFocusedTask"
        class="module-tabs avic-module-tab"
      >
        <a-tab-pane key="1" :tab="'我的待办(' + todoTotalNumber + ')'">
          <TodoTask ref="todoTask" :params="params" @getTodoTotalNumber="getTodoTotalNumber" />
        </a-tab-pane>
        <a-tab-pane key="2" :tab="'我的待阅(' + toReadTotalNumber + ')'">
          <ToRead
            v-if="tabSelected != 1"
            ref="toRead"
            :params="params"
            @getToReadTotalNumber="getToReadTotalNumber"
          />
        </a-tab-pane>
        <a-tab-pane key="3" tab="我的已办">
          <FinishedTask v-if="tabSelected != 1" ref="finishedTask" :params="params" />
        </a-tab-pane>
        <a-tab-pane key="4" tab="我的已阅">
          <FinishedRead v-if="tabSelected != 1" ref="finishedRead" :params="params" />
        </a-tab-pane>
        <a-tab-pane key="5" tab="我的关注">
          <FocusedTask v-if="tabSelected != 1" ref="focusedTask" :params="params" />
        </a-tab-pane>
      </a-tabs>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import './style/base.less';
import { baseTreeListMixin } from '@mixins/avic/pt/BaseTreeListMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import TodoTask from '@/views/avic/pt/system/flowCenter/bpmtask/TodoTask';
import ToRead from '@/views/avic/pt/system/flowCenter/bpmtask/ToRead';
import FinishedTask from '@/views/avic/pt/system/flowCenter/bpmtask/FinishedTask';
import FinishedRead from '@/views/avic/pt/system/flowCenter/bpmtask/FinishedRead';
import FocusedTask from '@/views/avic/pt/system/flowCenter/bpmtask/FocusedTask';
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = bpmUtils.baseurl + '/monitor';
// 树节点通用代码params
let treeNodelookupParams = [
  { fileName: 'projectClassLevel', lookUpType: 'MPM_PROJECT_CLASS_LEVEL' },
  { fileName: 'projectClassStatus', lookUpType: 'MPM_PROJECT_STATUS' },
  { fileName: 'secretLevel', lookUpType: 'MPM_PROJECT_SECRET' }
];
export default {
  name: 'BpmTaskManage',
  components: {
    TodoTask,
    ToRead,
    FinishedTask,
    FinishedRead,
    FocusedTask
  },
  mixins: [baseTreeListMixin, menuRefreshMixin, baseTableMixin],
  data() {
    return {
      requestTreeUrl: requestPublicUrl + '/getFlowModelTree/v1', //加载树节点访问地址
      requestPublicUrl,
      treeNodelookupParams,
      nodeId: '',
      nodeType: '',
      procDefId: '',
      defaultParentId: 'root', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      treeRefName: 'avicTreeElement',
      tableRefName: 'BpmManage',
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      todoTotalNumber: '',
      toReadTotalNumber: '',
      tabSelected: '1',
      //树展开
      treeParam: {
        url: '',
        method: 'post',
        parameter: {
          id: ''
        }
      }
    };
  },
  computed: {
    params() {
      return {
        nodeId: this.nodeId,
        nodeType: this.nodeType,
        procDefId: this.procDefId
      };
    }
  },
  mounted() {
    /**
     * 树区域高度控制
     * @param {String} wrapId 包含按钮及表格的容器的id
     * @param {String} cutHeight 为得到表格高度,需要减去的高度(一般包括按钮高度及margin,容器的padding)
     */
    this.initTreeHeight({ wrapId: 'MpmProjectInfoTree', cutHeight: '20' });
  },
  created() {
    this.loadTreeParentId = this.defaultParentId; //当前加载的树节点id
    // 进入页面,加载树列表数据
    this.treeParam.url = this.requestTreeUrl;
    this.treeParam.parameter.id = this.defaultParentId;
  },
  methods: {
    //获取总的待办条数
    getTodoTotalNumber(countParam) {
      this.todoTotalNumber = countParam.todoCount == undefined ? 0 : countParam.todoCount;
      this.toReadTotalNumber = countParam.toReadCount == undefined ? 0 : countParam.toReadCount;
    },
    //获取总的待阅条数
    getToReadTotalNumber(toReadTotalNumber) {
      this.toReadTotalNumber = toReadTotalNumber == undefined ? 0 : toReadTotalNumber;
    },
    //获取数据后渲染表格
    getData(obj) {
      if (obj.data.rows.length > 0) {
        this.data = obj.data.rows; // 渲染表格
      }
    },
    //加载树节点之前
    beforeLoadData(treeData, parentId) {
      this.loadTreeParentId = parentId;
      this.treeParam.parameter.id = parentId;
    },
    //加载树节点之后
    afterLoadData(treeData) {
      // 根节点加载表格数据
      if (this.loadTreeParentId == this.defaultParentId) {
        if (treeData.result.length > 0) {
          this.selectedKeys = [treeData.result[0].id];
          if (treeData.result[0].attributes) {
            this.procDefId = treeData.result[0].attributes.pdId;
          } else {
            this.procDefId = '';
          }
          this.nodeId = treeData.result[0].id;
          this.nodeType = treeData.result[0].nodeType;
          this.$nextTick(() => {
            this.$refs.todoTask.menuRefreshReset();
          });
        } else {
          this.$message.warning('暂无权限！');
        }
      }
    },
    //手动点击左边树节点之后，渲染对应页签数据
    selectNodeTree(e, data, refName) {
      if (e && e.length > 0) {
        this.selectedKeys = e;
        this.page = 1;
        if (data.attributes != null) {
          this.procDefId = data.attributes.pdId;
        } else {
          this.procDefId = '';
        }
        this.nodeType = data.nodeType;
        this.nodeId = data.id;
        this.$nextTick(() => {
          if (this.tabSelected == '1') {
            this.$refs.todoTask.reloadTable();
          } else if (this.tabSelected == '2') {
            this.$refs.toRead.reloadTable(this.params);
          } else if (this.tabSelected == '3') {
            this.$refs.finishedTask.reloadTable(this.params);
          } else if (this.tabSelected == '4') {
            this.$refs.finishedRead.reloadTable(this.params);
          } else if (this.tabSelected == '5') {
            this.$refs.focusedTask.reloadTable(this.params);
          }
        });
      }
    },
    // 右击页签刷新页面,
    menuRefresh() {
      //刷新树
      this.treeMenuRefreshReset();
      this.tabSelected = '1';
    },
    //右键刷新树的重写方法
    treeMenuRefreshReset() {
      this.$refs[this.treeRefName].emptySearch();
      this.$refs[this.treeRefName].empty();
      this.loadTreeParentId = this.defaultParentId; //当前加载的树节点id
      // 进入页面,加载树列表数据
      this.treeParam.url = this.requestTreeUrl;
      this.treeParam.parameter.id = this.defaultParentId;
      this.$refs[this.treeRefName].expandHierarchy = 2;
      this.$refs[this.treeRefName].refresh(this.defaultParentId);
    },
    reloadFocusedTask(activeKey) {
      if (activeKey == '5') {
        this.$refs.focusedTask.menuRefresh();
      }
    }
  }
};
</script>
