<template>
  <div class="surface">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-tools-bar">
      <!-- 普通查询 -->
      <AvicBpmMyMissionBaseSearch
        ref="bpmBaseSearch"
        style="display: inline-block"
        :options="options"
        @bpmBaseSearch="myMissionBaseSearch"
      />
      <!-- 高级查询 -->
      <a-button class="opt-btn-advsearch" @click="handleAdvancedSearch(tableRefName)">
        高级搜索
      </a-button>
      <AvicChangeTableSize @changeTableSize="changeTableSize" />
      <a-icon type="sync" class="opt-icon" title="刷新" @click="handleRefreshTable(tableRefName)" />
      <AvicTableColumnSettings
        :init-setting-columns="initSettingColumns"
        :default-setting-columns="selectColumns"
        @colMenuSelect="changeColumns"
      />
    </div>
    <div class="surface-content">
      <!-- 高级搜索表单区域 -->
      <AvicAdvancedSearchCollapse
        :ref="advancedSearchRefName"
        class="adv-search"
        :real-advanced-search-form-data="realAdvancedSearchFormData"
        @onChange="changeShowAdvancedSearch"
        @search="advancedSearch"
      >
        <template #form>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="标题"
            >
              <a-input v-decorator="['taskTitle']" allow-clear @pressEnter="handleEnterForSearch" />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="紧急程度"
            >
              <a-select
                v-decorator="['priority']"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
              >
                <a-select-option
                  v-for="item in priorityList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请人"
            >
              <AvicCommonSelect
                v-decorator="[
                  'processStarter',
                  {
                    initialValue: null
                  }
                ]"
                type="userSelect"
                select-model="single"
              />
              <!-- 选人 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请部门"
            >
              <AvicCommonSelect
                v-decorator="[
                  'processStartDept',
                  {
                    initialValue: null
                  }
                ]"
                type="deptSelect"
                select-model="single"
              />
              <!-- 选部门 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期开始日期"
            >
              <a-date-picker
                v-decorator="['processStartTime' + 'Begin']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="开始日期"
                :disabled-date="
                  startValue => disabledStartDate(startValue, 'processStartTime' + 'End')
                "
              />
              <!-- 开始日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期结束日期"
            >
              <a-date-picker
                v-decorator="['processStartTime' + 'End']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="结束日期"
                :disabled-date="endValue => disabledEndDate(endValue, 'processStartTime' + 'Begin')"
              />
              <!-- 结束日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="流程状态"
            >
              <a-select
                v-decorator="['businessState']"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
              >
                <a-select-option
                  v-for="item in businessStateList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
        </template>
      </AvicAdvancedSearchCollapse>
      <!-- 表格内容 -->
      <div class="surface-table">
        <!-- 表格 -->
        <AvicBaseTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          :is-row-selection="false"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        >
          <!-- 点击查看详情 -->
          <template slot="taskTitle" scope="obj">
            <a-icon
              v-if="openEditFlowLoading && openEditFlowId == obj.data[rowKey]"
              type="loading"
              class="table-detail-link"
            />
            <a
              v-if="!openEditFlowLoading || openEditFlowId != obj.data[rowKey]"
              href="javascript:;"
              class="table-detail-link"
              @click="handleFlowDetail({ refName: detailModalRefName, param: obj.data })"
            >
              {{ obj.data['taskTitle'] }}
            </a>
          </template>
          <template slot="priority" scope="obj">
            <a-badge v-if="obj.data['priority'] == 1" color="red" text="特急" />
            <a-badge v-if="obj.data['priority'] == 2" color="orange" text="紧急" />
            <a-badge v-if="obj.data['priority'] == 0" color="#108ee9" text="一般" />
          </template>
        </AvicBaseTable>
        <!--启动流程时多个流程需要选择您要启动的流程-->
        <AvicBpmFormCode :ref="getFormCodeRefName" :is-open-flow="true" :form-code="formCode" />
      </div>
    </div>

    <!--打开流程详情时多个流程需要选择您要打开的流程-->
    <!-- <AvicBpmDetailList  /> -->
  </div>
</template>
<script>
import { Button, Icon } from 'ant-design-vue';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import AvicBpmMyMissionBaseSearch from '@comp/avic/bpm/AvicBpmCenterSearch/AvicBpmMyMissionBaseSearch';
import AvicBpmFormCode from '@comp/avic/bpm/AvicBpmFormCode';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { baseFlowMixin } from '@mixins/avic/pt/BaseFlowMixin';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
//流程formCode
let formCode = 'mpmProjectInfoWorkflow';
// 表格主键字段
let rowKey = 'dbid';
// 请求地址路径的公共部分抽为变量
let finishedTaskUrl = '/api/bpm/bpm/task';
// 此模块通用代码params
let lookupParams = [{ fileName: 'priority' }, { fileName: 'businessState' }];
// 表格查看详情字段
let dataIndex = ['taskTitle', 'priority'];
//表格显示字段
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'taskTitle',
    scopedSlots: { customRender: 'taskTitle' },
    width: 120
  },
  {
    title: '紧急程度',
    dataIndex: 'priority',
    scopedSlots: { customRender: 'priority' },
    align: 'center',
    width: 80
    // customRender(value, row, rowKey) {
    //   if (value && value === '1') {
    //     return '特急';
    //   } else if (value && value === '2') {
    //     return '紧急';
    //   } else if (value && value === '0') {
    //     return '一般';
    //   } else {
    //     return value;
    //   }
    // },
  },
  {
    title: '申请日期',
    dataIndex: 'processStartTime',
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss',
    width: 150
  },
  {
    title: '接收时间',
    dataIndex: 'createTime',
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss',
    width: 150
  },
  {
    title: '完成时间',
    dataIndex: 'endTime',
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss',
    width: 150
  },
  {
    title: '当前节点',
    dataIndex: 'curActName',
    align: 'left',
    width: 120
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    align: 'center',
    width: 70,
    customRender(value, row, rowKey) {
      if (value && value === 'active') {
        return '流转中';
      } else if (value && value === 'ended') {
        return '已完成';
      } else if (value && value === 'start') {
        return '拟稿中';
      } else {
        return value;
      }
    }
  },
  {
    title: '处理人',
    dataIndex: 'assigneeName',
    align: 'center',
    width: 100
  }
];
//高级查询显示字段
let avicAdvancedSearchData = [
  {
    title: '标题',
    dataIndex: 'taskTitle',
    scopedSlots: { customRender: 'taskTitle' },
    type: 'input',
    decorator: {
      rules: []
    },
    placeholder: '请输入标题'
  },
  {
    title: '紧急程度',
    dataIndex: 'priority',
    scopedSlots: { customRender: 'priority' },
    align: 'center',
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: '0',
        lookupName: '一般'
      },
      {
        sysLookupTlId: '1',
        lookupCode: '1',
        lookupName: '特急'
      },
      {
        sysLookupTlId: '2',
        lookupCode: '2',
        lookupName: '紧急'
      }
    ]
  },
  {
    title: '申请人',
    dataIndex: 'processStarter',
    scopedSlots: { customRender: 'processStarter' },
    type: 'commonselect',
    placeholder: '请选择申请人',
    controlType: 'userSelect',
    selectModel: 'single'
  },
  {
    title: '申请部门',
    dataIndex: 'processStartDept',
    scopedSlots: { customRender: 'processStartDept' },
    type: 'commonselect',
    placeholder: '请选择申请部门',
    controlType: 'deptSelect',
    selectModel: 'single'
  },
  {
    title: '申请日期',
    titleRange: '申请日期范围',
    dataIndex: 'processStartTime',
    scopedSlots: { customRender: 'processStartTime' },
    type: 'daterange',
    decoratorRange: {
      rules: [{ required: false, message: '请选择申请日期范围！' }]
    },
    placeholderRange: ['开始日期', '结束日期'],
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime',
    showToday: true
  },
  {
    title: '流程状态',
    dataIndex: 'businessState',
    scopedSlots: { customRender: 'businessState' },
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: 'start',
        lookupName: '拟稿中'
      },
      {
        sysLookupTlId: '1',
        lookupCode: 'active',
        lookupName: '流转中'
      },
      {
        sysLookupTlId: '2',
        lookupCode: 'ended',
        lookupName: '已完成'
      }
    ]
  }
];
export default {
  name: 'FinishedTask',
  components: {
    AvicBpmMyMissionBaseSearch,
    AvicBpmFormCode,
    AButton: Button,
    AIcon: Icon
  },
  mixins: [baseTableMixin, baseFlowMixin, baseSearchMixin],
  props: {
    params: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      priorityList: [], //高级查询通用代码字段
      businessStateList: [], //高级查询通用代码字段
      formCode,
      finishedTaskUrl, // 请求地址路径的公共部分
      lookupParams, //此模块通用代码params
      isActiveAllLookup: true, //控制不走高级查询的通用代码查询
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData, // 页面数据配置
      avicAdvancedSearchData,
      taskType: '',
      taskFinished: '',
      getFormCodeRefName: 'getFormCodeRefName', //获取FormCode ref
      tableRefName: 'FinishedTaskTable', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      options: [
        //普通查询组件传入的选项值
        { value: 'urgent', name: '紧急程度' },
        { value: 'receiveDate', name: '接收日期' }
      ]
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: finishedTaskUrl + '/searchHistTaskByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.searchParam, // 普通查询数据
            ...this.advancedSearchParam, // 高级查询数据
            taskType: '0',
            taskFinished: '1',
            nodeId: this.params.nodeId,
            nodeType: this.params.nodeType,
            pdId: this.params.procDefId
          },
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    initRealAdvancedSearchFormData() {
      for (let j = 0; j < this.lookupParams.length; j++) {
        for (let k = 0; k < this.avicAdvancedSearchData.length; k++) {
          if (this.avicAdvancedSearchData[k].dataIndex === this.lookupParams[j].fileName) {
            this[this.lookupParams[j].fileName + 'List'] = this.avicAdvancedSearchData[k].list;
          }
        }
      }
      return this.avicAdvancedSearchData;
    },
    //手动选中左边树节点之后，右边表格调用该方法刷新数据
    reloadTable(param) {
      if (param.nodeId != '' && param.nodeType != '') {
        this.params = param;
        this.$refs[this.tableRefName].loadData(this.queryParam);
      }
    },
    //获取到数据之后渲染表格
    getData(obj) {
      this.data = obj.data.rows;
    },
    //基本查询方法
    myMissionBaseSearch(params) {
      let searchParamReset = {
        taskType: '0',
        taskFinished: '1',
        nodeId: this.params.nodeId,
        nodeType: this.params.nodeType,
        pdId: this.params.procDefId
      };
      let serach = searchParamReset;
      this.queryParam.parameter.searchParams = Object.assign({}, serach, params.params);
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    // 打开流程详情页面
    handleFlowDetail(params) {
      let _this = this;
      this.openEditFlowLoading = true;
      this.openEditFlowId = params.param.executionId;
      // entryId, executionId, taskId, formId, url, title, taskType, flowDetailUrl
      bpmUtils
        .executeTask(
          params.param.processInstance,
          params.param.executionId,
          params.param.dbid,
          params.param.businessId,
          params.param.formResourceName,
          params.param.processDefName || params.param.taskTitle,
          params.param.taskType
        )
        .then(params => {
          //打开成功
          _this.openEditFlowLoading = false;
          _this.openEditFlowId = '';
        })
        .catch(() => {
          //打开失败
          _this.openEditFlowLoading = false;
          _this.openEditFlowId = '';
        });
    }
  }
};
</script>
