<template>
  <!-- 表格 -->
  <a-table
    v-bind="$attrs"
    v-on="$listeners"
    ref="table"
    :size="tableSize"
    :class="{
      'no-border': !bordered,
      'no-pagination': pagination == false,
      'no-scrollx': !scrollSetting.x,
      'has-scrolly': scrollSetting.y,
      'no-fixed': fixedNum == 0
    }"
    :table-layout="tableLayout"
    :bordered="bordered"
    :scroll="scrollSetting"
    :columns="dealColumns"
    :data-source="dataSource"
    :row-key="rowKey"
    :loading="{ indicator: indicator, spinning: tableLoading, size: 'large' }"
    :pagination="pagination"
    :row-selection="rowSelection"
    :custom-row="
      (record, index) => {
        return {
          on: {
            click: e => {
              rowClick(e, record, index);
            },
            dblclick: e => {
              rowDblClick(e, record, index);
            }
          }
        };
      }
    "
    :expand-icon="props => customExpandIcon(props)"
    @change="handleTableChange"
  >
    <!-- 表格单元格内容slot渲染 -->
    <!-- filterColumns：动态过滤a-table组件固定插槽标识符title等关键字 数据中间尽量避免使用title作为key名，使用了的话尽量避免使用行内编辑，后期考虑组件内转换key名的做法来兼容 qym-20190820 -->
    <template v-for="col in filterColumns" :slot="col" slot-scope="text, record">
      <slot :name="col" :data="record" :text="text" />
    </template>
  </a-table>
</template>
<script>
import { Table } from 'ant-design-vue';
import { httpAction } from '@api/manage';
import moment from 'moment';
export default {
  name: 'AvicBaseTable',
  components: {
    ATable: Table
  },
  props: {
    tableSize: {
      // 表格尺寸 default | middle | small
      type: String,
      default: 'middle'
    },
    tableLayout: {
      // 表格元素的 table-layout 属性
      type: String,
      default: 'fixed'
    },
    bordered: {
      // 表格是否加边框
      type: Boolean,
      default: false
    },
    showOverflow: {
      // 表格内容过长时是否显示为省略号
      type: Boolean,
      default: true
    },
    isFixedHead: {
      // 是否固定表头
      type: Boolean,
      default: true
    },
    scrollX: {
      // 横向滚动值
      type: Number
    },
    isAutoCountScrollX: {
      // 是否自动计算横向滚动长度
      type: Boolean,
      default: false
    },
    defaultColWidth: {
      // 没有设置width的列的默认预留宽度
      type: Number,
      default: 70
    },
    scrollY: {
      // 竖向滚动值
      type: Number
    },
    loading: {
      // 表格loading状态
      type: Boolean,
      default: false
    },
    columns: {
      // 表格列配置显示集
      type: Array,
      required: true
    },
    isAddOrderNumber: {
      // 表格列配置是否添加序号列
      type: Boolean,
      default: true
    },
    orderNumberSetting: {
      // 序号列的个性配置
      type: Object,
      default: () => {}
    },
    dataSource: {
      // 表格数据源
      type: Array,
      default: () => []
    },
    rowKey: {
      // 表格主键
      type: String,
      required: true
    },
    dataIndex: {
      // 表格slot字段
      type: [String, Array],
      default: ''
    },
    paginationDefault: {
      // 表格分页配置
      required: true
    },
    selectColumnWidth: {
      // 自定义列表选择框宽度
      type: [String, Number],
      default: 40
    },
    selectColumnTitle: {
      // 自定义列表选择框标题
      type: String
    },
    selectColumnFixed: {
      // 是否把选择框列固定在左边
    },
    isRowSelection: {
      // 是否可选
      type: Boolean,
      default: true
    },
    isMultiSelection: {
      // 是否多选
      type: Boolean,
      default: true
    },
    isCustomRowClick: {
      // 表格单选或者多选是否需要点击行触发
      type: Boolean,
      default: true
    },
    isCustomRowClickAsSingleCheck: {
      // 表格单选或者多选点击行是否做单选处理
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      indicator: <a-icon type="loading" style="font-size: 64px" spin />, // 表格loading配置
      tableLoading: false, // 表格加载状态
      elementWidth: 0, // 表格父元素宽度
      elementHeight: 0, // 表格父元素高度
      columnsWidth: 0, // 表格列宽度设置总和
      scrollSetting: {}, // 滚动设置
      pagination: this.paginationDefault, // 表格分页
      data: [], // 接口获取到的返回值
      selectedRowKeys: [], // 表格选中主键集合
      selectedRows: [], // 表格选中行集合
      fixedNum: 0,
      dblclickFlag: false // 是否双击标志
    };
  },
  watch: {
    loading: {
      immediate: true,
      handler(newV) {
        this.tableLoading = newV;
      }
    }
  },
  mounted() {
    let that = this;
    //导入
    let elementResizeDetectorMaker = require('element-resize-detector');
    // 创建实例
    let erd = elementResizeDetectorMaker();
    if (that.isAutoCountScrollX || (that.isFixedHead && !that.scrollY)) {
      // 监听表格父元素大小变化，改变滚动条设置
      erd.listenTo(this.$el.parentNode, function (element) {
        let width = element.offsetWidth;
        let height = element.offsetHeight;
        that.elementWidth = width;
        that.elementHeight = height;
        that.scrollSetting = {
          x: that.scrollX
            ? that.scrollX
            : that.isAutoCountScrollX
            ? that.elementWidth >= that.columnsWidth
              ? null
              : that.columnsWidth
            : null,
          y: that.scrollY
            ? that.scrollY
            : that.isFixedHead
            ? that.elementHeight - (that.pagination == false ? 42 : 86)
            : null
        };
      });
    } else {
      that.scrollSetting = {
        x: that.scrollX ? that.scrollX : null,
        y: that.scrollY ? that.scrollY : null
      };
    }
  },
  methods: {
    /**
     * 获取数据，将返回的data传回父组件,有回调函数执行回调函数
     */
    loadData(params, successCallback, errCallback) {
      let that = this;
      that.tableLoading = true;
      if (params.parameter && params.parameter.keyWord) {
        if (typeof params.parameter.keyWord === 'object') {
          if (JSON.stringify(params.parameter.keyWord) === '{}') {
            params.parameter.keyWord = '';
          } else {
            params.parameter.keyWord = JSON.stringify(params.parameter.keyWord);
          }
        }
      }
      httpAction(params.url, params.parameter, params.method)
        .then(res => {
          if (res.success) {
            if (res.result) {
              that.data = res.result;
              if (that.pagination) {
                let pagination = { ...that.pagination };
                if (res.result.pageParameter) {
                  pagination.current = res.result.pageParameter.page;
                  pagination.total = res.result.pageParameter.totalCount;
                } else {
                  if (
                    res.result.page !== null &&
                    res.result.page !== undefined &&
                    res.result.page !== ''
                  ) {
                    pagination.current = res.result.page;
                  }
                  if (
                    res.result.records !== null &&
                    res.result.records !== undefined &&
                    res.result.records !== ''
                  ) {
                    pagination.total = res.result.records;
                  } else if (
                    res.result.total !== null &&
                    res.result.total !== undefined &&
                    res.result.total !== ''
                  ) {
                    pagination.total = res.result.total;
                  }
                }
                that.pagination = pagination;
              }
            } else {
              that.data = [];
            }
          } else {
            that.data = [];
          }
          that.$emit('getData', {
            // 将返回的data传回父组件
            data: that.data
          });
          if (successCallback) {
            // 有回调函数执行回调函数
            successCallback(res);
          }
          that.tableLoading = false;
        })
        .catch(err => {
          that.data = [];
          that.$emit('getData', {
            data: that.data
          });
          if (errCallback) {
            errCallback(err);
          }
          that.tableLoading = false;
        });
    },
    /**
     * 分页、排序、筛选变化时触发
     */
    handleTableChange(pagination, filters, sorter) {
      // 改变表格分页配置
      let pager = { ...this.pagination };
      pager.current = pagination.current;
      pager.pageSize = pagination.pageSize;
      this.pagination = pager;
      // 清空表格选中项
      this.selectedRowKeys = [];
      this.selectedRows = [];
      // 将分页、排序、筛选信息传给父组件
      this.$emit('handleTableChange', {
        pagination: this.pagination,
        sorter,
        filters
      });
    },
    /**
     * 表格单击事件
     */
    rowClick(e, record, index) {
      e.stopPropagation(); // 阻止冒泡
      this.dblclickFlag = false; // 双击标志设为false
      setTimeout(() => {
        // 利用延时规避双击
        if (!this.dblclickFlag) {
          if (this.isCustomRowClick) {
            // 表格选择需要点击行触发
            if (this.isRowSelection) {
              // 可选
              if (this.isMultiSelection) {
                // 多选
                if (this.isCustomRowClickAsSingleCheck) {
                  // 表格多选点击行做单选处理
                  if (this.selectedRowKeys.length == 0) {
                    this.selectedRowKeys.push(record[this.rowKey]);
                    this.selectedRows.push(record);
                  } else if (this.selectedRowKeys.length == 1) {
                    if (this.selectedRowKeys.includes(record[this.rowKey])) {
                      // 取消选中
                      this.selectedRowKeys = [];
                      this.selectedRows = [];
                    } else {
                      // 选中
                      this.selectedRowKeys = [];
                      this.selectedRowKeys.push(record[this.rowKey]);
                      this.selectedRows = [];
                      this.selectedRows.push(record);
                    }
                  } else {
                    // 选中
                    this.selectedRowKeys = [];
                    this.selectedRowKeys.push(record[this.rowKey]);
                    this.selectedRows = [];
                    this.selectedRows.push(record);
                  }
                } else {
                  // 表格多选点击行做多选处理
                  if (this.selectedRowKeys.includes(record[this.rowKey])) {
                    // 取消选中
                    this.selectedRowKeys.splice(
                      this.selectedRowKeys.findIndex(item => item === record[this.rowKey]),
                      1
                    );
                    this.selectedRows = this.selectedRows.filter(
                      item => item[this.rowKey] !== record[this.rowKey]
                    );
                  } else {
                    // 选中
                    this.selectedRowKeys.push(record[this.rowKey]);
                    this.selectedRows.push(record);
                  }
                }
              } else {
                // 单选 必然做单选处理
                if (this.selectedRowKeys.includes(record[this.rowKey])) {
                  // 取消选中
                  this.selectedRowKeys = [];
                  this.selectedRows = [];
                } else {
                  // 选中
                  this.selectedRowKeys = [];
                  this.selectedRowKeys.push(record[this.rowKey]);
                  this.selectedRows = [];
                  this.selectedRows.push(record);
                }
              }
              // 选中项信息传给父组件
              this.$emit('handleRowSelection', {
                selectedRowKeys: this.selectedRowKeys,
                selectedRows: this.selectedRows
              });
            }
          }
          this.$emit('handleRowClick', record);
        }
      }, 150);
    },
    /**
     * 表格双击事件
     */
    rowDblClick(e, record, index) {
      this.dblclickFlag = true;
      this.$emit('handleRowDblClick', record);
    },
    /**
     * 外部组件改变表格选中项主键集合调用方法
     */
    changeSelectedRowKeys(selectedRowKeys) {
      this.selectedRowKeys = [];
      this.selectedRows = [];
      this.selectedRowKeys = selectedRowKeys;
      this.dataSource.map(item => {
        if (selectedRowKeys.includes(item[this.rowKey])) {
          this.selectedRows.push(item);
        }
      });
    },
    /**
     * 外部组件改变表格加载状态调用方法
     */
    changeTableLoading(loading) {
      this.tableLoading = loading;
    },
    customExpandIcon(props) {
      if (props.expandable) {
        if (props.expanded) {
          return (
            <a-icon
              class={`${props.prefixCls}-expand-icon`}
              type="caret-down"
              onClick={props.onExpand}
            />
          );
        } else {
          return (
            <a-icon
              class={`${props.prefixCls}-expand-icon`}
              type="caret-right"
              onClick={props.onExpand}
            />
          );
        }
      } else if (props.needIndentSpaced) {
        return <span class={`${props.prefixCls}-expand-icon ${props.prefixCls}-spaced`} />;
      }
    }
  },
  computed: {
    /**
     * 对接收的columns的处理，目前只处理序号列
     */
    dealColumns() {
      // 深拷贝，以免改变原数组
      let dealColumns = [];
      this.$set(this.$data, 'fixedNum', 0);
      this.columns.map(item => {
        if (typeof item.visible == 'undefined' || item.visible == true) {
          let newObj = Object.assign({}, item);
          if (newObj.headerClassName) {
            newObj.className = newObj.headerClassName;
          }
          if (newObj.fixed) {
            this.fixedNum++;
          }
          dealColumns.push(newObj);
        }
      });
      if (this.isAddOrderNumber) {
        let oldObj = {
          title: '序号',
          dataIndex: 'orderNumber',
          width: 60,
          align: 'center',
          // fixed: this.fixedNum > 0 ? 'left' : null,
          fixed: 'left',
          customRender: (text, record, index) => {
            let val = '';
            if (this.pagination) {
              if (this.pagination.pageSize) {
                if (this.pagination.current) {
                  val =
                    parseInt(this.pagination.pageSize) * parseInt(this.pagination.current - 1) +
                    index +
                    1;
                } else {
                  val =
                    parseInt(this.pagination.pageSize) *
                      parseInt(this.pagination.defaultCurrent - 1) +
                    index +
                    1;
                }
              } else {
                if (this.pagination.current) {
                  val =
                    parseInt(this.pagination.defaultPageSize) *
                      parseInt(this.pagination.current - 1) +
                    index +
                    1;
                } else {
                  val =
                    parseInt(this.pagination.defaultPageSize) *
                      parseInt(this.pagination.defaultCurrent - 1) +
                    index +
                    1;
                }
              }
            } else {
              val = index + 1;
            }
            return val;
          }
        };
        let newObj = Object.assign(oldObj, this.orderNumberSetting);
        dealColumns = [newObj, ...dealColumns];
      }
      // columns变化时,如果需要自动计算scrollX，则重新计算scrollX
      if (this.isAutoCountScrollX) {
        let columnsWidth = 0;
        dealColumns.map(item => {
          if (item.width) {
            columnsWidth += item.width;
          } else {
            columnsWidth += this.defaultColWidth;
          }
        });
        this.$set(this.$data, 'columnsWidth', columnsWidth);
        this.$set(
          this.scrollSetting,
          'x',
          this.elementWidth >= this.columnsWidth ? null : this.columnsWidth
        );
      }
      // 处理columns
      dealColumns.map(item => {
        // 没有横向滚动条时，列不固定
        if (!this.scrollSetting.x && item.fixed) {
          item.fixed = null;
          this.fixedNum--;
        }
        // 表格内容过长时是否显示为省略号
        if (this.showOverflow) {
          item.ellipsis = true;
        }
        // 表格内容格式化
        if (!item.customRender) {
          if (item.type && item.type == 'commonselect') {
            // 通用选择
            if (typeof item.dataIndexName == 'undefined') {
              item.customRender = (text, record, index) => {
                return record[item.dataIndex + 'Alias'];
              };
            } else {
              item.customRender = (text, record, index) => {
                return record[item.dataIndexName];
              };
            }
          } else if (
            item.type &&
            (item.type == 'radio' || item.type == 'select' || item.type == 'checkbox')
          ) {
            // 通用代码
            if (item.list && item.list.length > 0) {
              item.customRender = (text, record, index) => {
                let label = '';
                for (let i = 0; i < item.list.length; i++) {
                  if (item.list[i].lookupCode == text) {
                    label = item.list[i].lookupName;
                    break;
                  }
                }
                return label;
              };
            } else if (typeof item.dataIndexName == 'undefined') {
              item.customRender = (text, record, index) => {
                return record[item.dataIndex + 'Name'];
              };
            } else {
              item.customRender = (text, record, index) => {
                return record[item.dataIndexName];
              };
            }
          } else if (item.type && item.type == 'inputnumber') {
            // 数字输入框
            if (typeof item.precision == 'undefined') {
              item.customRender = (text, record, index) => {
                return text ? parseFloat(text).toFixed(2) : '';
              };
            } else {
              item.customRender = (text, record, index) => {
                return text ? parseFloat(text).toFixed(item.precision) : '';
              };
            }
          } else if (item.type && item.type == 'date') {
            // 日期
            item.customRender = (text, record, index) => {
              return text ? moment(text).format(item.format || 'YYYY-MM-DD') : '';
            };
          } else if (item.type && item.type == 'datetime') {
            // 日期时间
            item.customRender = (text, record, index) => {
              return text ? moment(text).format(item.format || 'YYYY-MM-DD HH:mm:ss') : '';
            };
          } else if (item.type && item.type == 'password') {
            // 密码框
            item.customRender = (text, record, index) => {
              return '****';
            };
          }
        }
      });
      return dealColumns;
    },
    /**
     * columns作为slot时，要排除a-table内置的关键字
     */
    filterColumns() {
      let filterColumns = [];
      let dataIndexColumns = typeof this.dataIndex == 'string' ? [this.dataIndex] : this.dataIndex;
      dataIndexColumns.map(item => {
        if (item !== 'title') {
          filterColumns.push(item);
        }
      });
      return filterColumns;
    },
    /**
     * 表格选中项变化处理
     */
    rowSelection() {
      return this.isRowSelection
        ? {
            columnWidth: this.selectColumnWidth ? this.selectColumnWidth : '40',
            columnTitle: this.selectColumnTitle ? this.selectColumnTitle : '',
            fixed:
              typeof this.selectColumnFixed != 'undefined'
                ? !!this.selectColumnFixed
                : this.scrollSetting.x || this.fixedNum > 0
                ? true
                : false,
            selectedRowKeys: this.selectedRowKeys,
            type: this.isMultiSelection === true ? 'checkbox' : 'radio',
            onChange: (selectedRowKeys, selectedRows) => {
              this.selectedRowKeys = selectedRowKeys;
              this.selectedRows = selectedRows;
              this.$emit('handleRowSelection', {
                selectedRowKeys,
                selectedRows
              });
            },
            onSelect: (record, selected, selectedRows) => {
              let selectedRowKeys = [];
              selectedRows.map(item => {
                selectedRowKeys.push(item[this.rowKey]);
              });
              this.selectedRowKeys = selectedRowKeys;
              this.selectedRows = selectedRows;
              this.$emit('handleOnSelection', {
                selectedRowKeys,
                selectedRows,
                record,
                isSelected: selected
              });
            },
            onSelectAll: (selected, selectedRows, changeRows) => {
              let selectedRowKeys = [];
              selectedRows.map(item => {
                selectedRowKeys.push(item[this.rowKey]);
              });
              this.selectedRowKeys = selectedRowKeys;
              this.selectedRows = selectedRows;
              this.$emit('handleOnSelectAll', {
                selectedRowKeys,
                selectedRows,
                isSelected: selected
              });
            }
          }
        : null;
    }
  }
};
</script>
