<template>
  <AvicModal
    :visible="visible"
    modal-title="消息详情"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    wrap-class-name="table-modal-wrap"
    :adjust-size="true"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    :footer="null"
    @cancel="closeModal"
  >
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <a-form-item style="display: none">
        <a-input v-decorator="['sourceCode']" />
      </a-form-item>
      <a-row>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="标题"
          >
            <a-input
              v-decorator="[
                'title',
                {
                  rules: [
                    { required: false, message: '请输入标题！' },
                    { max: 15, message: '不可超过15个字符!' }
                  ],
                  initialValue: ''
                }
              ]"
              placeholder=""
              :disabled="true"
            />
            <!-- 普通输入框 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="内容"
          >
            <a-textarea
              v-decorator="[
                'content',
                {
                  rules: [
                    { required: false, message: '请输入内容！' },
                    { max: 50, message: '不可超过50个字符!' }
                  ]
                }
              ]"
              :rows="3"
              placeholder=""
              :disabled="true"
            />
            <!-- 文本域 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="所有人"
          >
            <a-radio-group v-decorator="['msgType']" :disabled="true">
              <a-radio value="1">是</a-radio>
              <a-radio value="0">否</a-radio>
            </a-radio-group>
            <!-- 单选是否所有人-->
          </a-form-item>
        </a-col>
        <a-col v-show="showSelectUser" v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="接收人"
          >
            <AvicCommonSelect
              v-decorator="[
                'recvUser',
                {
                  rules: [{ message: '请选择消息接收人！' }]
                }
              ]"
              type="userSelect"
              select-model="multi"
              placeholder=""
              :disabled="true"
            />
            <!-- 选人 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="发送时间"
          >
            <a-date-picker
              v-decorator="[
                'sendDate',
                {
                  rules: [{ required: false, message: '请选择发送时间！' }]
                }
              ]"
              format="YYYY-MM-DD HH:mm:ss"
              :show-today="true"
              placeholder=""
              :disabled="true"
            />
            <!-- 时间 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="到期时间"
          >
            <a-date-picker
              v-decorator="[
                'disappearDate',
                {
                  rules: [{ required: false, message: '请选择到期时间！' }]
                }
              ]"
              format="YYYY-MM-DD HH:mm:ss"
              :show-today="true"
              placeholder=""
              :disabled="true"
            />
            <!-- 时间 -->
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </AvicModal>
</template>
<script>
import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
import { mapActions } from 'vuex';
import { httpAction } from '@api/manage';
//import HeaderNotice from '@views/avic/pt/theme/tools/HeaderNotice';
let requestPublicUrl = '/api/appsys/message/MessageRest';
let getUnreadCount = requestPublicUrl + '/searchUnreadCount/v1'; //获取未读消息数量地址
// 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'sourceCode',
    type: 'input'
  },
  {
    dataIndex: 'title',
    type: 'input'
  },
  {
    dataIndex: 'content',
    type: 'textarea'
  },
  {
    dataIndex: 'msgType',
    type: 'radio'
  },

  {
    dataIndex: 'recvUser',
    type: 'commonselect'
  },
  {
    dataIndex: 'sendDate',
    type: 'date',
    submitFormat: 'formatTime',
    format: 'YYYY-MM-DD HH:mm:ss'
  },
  {
    dataIndex: 'disappearDate',
    type: 'date',
    submitFormat: 'formatTime',
    format: 'YYYY-MM-DD HH:mm:ss'
  }
];
export default {
  name: 'NewsDetail',
  mixins: [baseModalFormMixin],
  props: {
    paramId: {
      // 初始查询参数
      type: String,
      default: ''
    }
  },
  data() {
    return {
      showSelectUser: true,
      modalFormData, // 表单数据
      detailParam: {
        // 弹窗详情的请求接口
        url: this.requestPublicUrl + '/get/v1',
        method: 'post'
      },
      doReadParam: {
        url: this.requestPublicUrl + '/doread/v1',
        method: 'post'
      }
    };
  },
  mounted() {
    this.modalHandleDetailOrEdit(this.paramId);
  },
  methods: {
    ...mapActions(['setUnreadCount']),
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.$emit('closeDetail'); //关闭页面刷新表格
      this.$emit('close');
    },

    /**
     * 点击manage页面的编辑按钮,调用的弹窗页方法: 回显数据
     * @param {String} id 行数据的id
     */
    modalHandleDetailOrEdit(id) {
      let myid = { id };
      // 点击编辑按钮或者查看详情时,回显数据
      this.form.resetFields(); // 清空表单
      if (this.formId) {
        this.formId = '';
      }
      this.visible = true; // 打开弹窗
      this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
      let that = this;
      httpAction(this.detailParam.url, myid, this.detailParam.method) // 请求数据
        .then(res => {
          if (res.success) {
            if (res.result.msgType == '1') {
              that.showSelectUser = false;
            } else {
              that.showSelectUser = true;
            }
            this.formId = res.result.id; // 设置附件formId
            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
            let data = new Object();
            for (let i = 0; i < this.modalFormData.length; i++) {
              data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
            }
            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
            let newData = new Object();
            for (let key in data) {
              if (data[key]) {
                newData[key] = data[key];
              }
            }
            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
            for (let key in newData) {
              for (let i = 0; i < that.modalFormData.length; i++) {
                if (
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'date') ||
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'datetime')
                ) {
                  newData[key] = this.moment(data[key]);
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'checkbox'
                ) {
                  newData[key] = data[key].split(',');
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'commonselect'
                ) {
                  newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
                }
              }
            }

            this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
            let param = res.result.id;
            //把当前点击的消息标记已读
            httpAction(that.doReadParam.url, param, that.doReadParam.method).then(res => {
              if (res.success) {
                //调用查询消息数量函数
                this.getUnreadCount();
                // let that = this;
                // window._CONFIG['unreadmsg'] = window.setInterval(() => {
                //   setTimeout(that.getUnreadCount(), 0)
                // }, 1000)
              }
            });
          }
        });
    },
    //获取未读消息数量
    getUnreadCount() {
      let that = this;
      httpAction(getUnreadCount, '', 'get', true, true, true, true, '', 4, [], true).then(res => {
        if (res.success) {
          that.setUnreadCount(res.result);
        }
      });
    }
  }
};
</script>
