<template>
  <AvicModal
    :visible="visible"
    modal-title="添加"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    wrap-class-name="table-modal-wrap"
    :adjust-size="true"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">返回</a-button>
      <a-button type="primary" :loading="modalLoading" @click="saveForm">发送消息</a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <a-form-item style="display: none">
        <a-input v-decorator="['sourceCode']" />
      </a-form-item>
      <a-row>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="标题"
          >
            <a-input
              v-decorator="[
                'attribute01',
                {
                  rules: [
                    { required: true, message: '请输入标题！' },
                    {
                      validator: (rule, value, callback) =>
                        validateInputMaxlength(rule, value, callback, 200)
                    }
                  ]
                }
              ]"
              placeholder="请输入标题"
            />
            <!-- 普通输入框 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="内容"
          >
            <a-textarea
              v-decorator="[
                'content',
                {
                  rules: [
                    { required: true, message: '请输入内容！' },
                    {
                      validator: (rule, value, callback) =>
                        validateInputMaxlength(rule, value, callback, 200)
                    }
                  ]
                }
              ]"
              :rows="3"
              placeholder="请输入内容"
            />
            <!-- 文本域 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="所有人"
          >
            <a-radio-group v-decorator="['msgType']" default-value="0" @change="onChange">
              <a-radio value="1">是</a-radio>
              <a-radio value="0">否</a-radio>
            </a-radio-group>
            <!-- 单选是否所有人-->
          </a-form-item>
        </a-col>
        <a-col v-if="showSelectUser" v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="接收人"
          >
            <AvicCommonSelect
              v-decorator="[
                'recvUser',
                {
                  rules: [{ required: showSelectUser, message: '请选择消息接收人！' }]
                }
              ]"
              type="userSelect"
              select-model="multi"
              placeholder="请选择消息接收人"
            />
            <!-- 选人 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="发送时间"
          >
            <a-date-picker
              v-decorator="[
                'sendDate',
                {
                  rules: [{ required: true, message: '请选择发送时间！' }],
                  initialValue: moment(curentTime(), 'YYYY-MM-DD HH:mm:ss')
                }
              ]"
              show-time
              :disabled-date="sendableDate"
              format="YYYY-MM-DD HH:mm:ss"
              :show-today="true"
              placeholder="请选择发送时间"
              @change="startChange"
            />
            <!-- 时间 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="到期时间"
          >
            <a-date-picker
              v-decorator="[
                'disappearDate',
                {
                  rules: [{ required: true, message: '请选择到期时间！' }]
                }
              ]"
              show-time
              :disabled-date="disabledDate"
              format="YYYY-MM-DD HH:mm:ss"
              :show-today="true"
              placeholder="请选择到期时间"
              @change="endChange"
            />
            <!-- 时间 -->
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </AvicModal>
</template>
<script>
import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
import { httpAction } from '@api/manage';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';

// 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'sourceCode',
    type: 'input'
  },
  {
    dataIndex: 'attribute01',
    type: 'input'
  },
  {
    dataIndex: 'content',
    type: 'textarea'
  },

  {
    dataIndex: 'recvUser',
    type: 'commonselect'
  },
  {
    dataIndex: 'sendDate',
    type: 'date',
    submitFormat: 'formatTime',
    format: 'YYYY-MM-DD HH:mm:ss'
  },
  {
    dataIndex: 'disappearDate',
    type: 'date',
    submitFormat: 'formatTime',
    format: 'YYYY-MM-DD HH:mm:ss'
  }
];
export default {
  name: 'NewsAdd',
  mixins: [baseModalFormMixin],
  data() {
    return {
      startDate: new Date(), //开始时间没经过转化的时间格式，用于结束时间的禁止选择
      startDateTemp: new Date(),
      showSelectUser: true,
      modalFormData, // 表单数据
      addParam: {
        // 添加弹窗保存时的请求接口
        url: this.requestPublicUrl + '/save/v1',
        method: 'post'
      },
      attachmentRefName: 'avicAddUploaderFile' // 标志表单是否含有附件
    };
  },
  mounted() {
    this.addModalHandleAdd();
  },
  methods: {
    disabledDate(current) {
      return current && current < this.moment().endOf('day');
      //return current && current< this.startDate
    },
    sendableDate(current) {
      if (this.disappearDate) {
        return (current && current < this.startDateTemp - 43200000) || current > this.disappearDate;
      } else {
        return current && current < this.startDateTemp - 43200000;
      }
    },

    //发送时间变化时触发
    startChange(date, dateString) {
      let currentTime = new Date();
      if (date < currentTime.valueOf(currentTime)) {
        this.$message.warning('发送时间不能小于当前时间');
      }
      this.startDate = date;
    },
    endChange(date, dateString) {
      if (date < this.startDate) {
        this.$message.warning('到期时间不能小于到期时间');
      }
      this.disappearDate = date;
    },
    /**
     * 点击单选按钮，判断是否所有人
     */
    onChange(e) {
      if (e.target.value == '1') {
        this.showSelectUser = false;
      } else {
        this.showSelectUser = true;
      }
    },
    // 获取当前时间
    curentTime() {
      let now = new Date();

      let year = now.getFullYear(); //年
      let month = now.getMonth() + 1; //月
      let day = now.getDate(); //日

      let hh = now.getHours(); //时
      let ss = now.getMinutes(); //分
      let mm = now.getSeconds();

      let ddate = year + '-';

      if (month < 10) ddate += '0';

      ddate += month + '-';

      if (day < 10) ddate += '0';

      ddate += day + ' ';

      if (hh < 10) ddate += '0';

      ddate += hh + ':';

      if (ss < 10) ddate += '0';

      ddate += ss + ':';

      if (mm < 10) ddate += '0';

      ddate += mm;

      return ddate;
    },
    /**
     * 点击manage页面的添加按钮调用的弹窗页方法
     */
    addModalHandleAdd() {
      this.showSelectUser = true;
      this.form.resetFields(); // 清空添加弹窗表单
      if (this.formId) {
        // 清空附件的formId
        this.formId = '';
      }
      this.visible = true;
      this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
    },
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.$emit('close');
    },
    /**
     * 附件afterUpload执行函数
     */
    uploadCompleteFile(successFile, errorFile) {
      this.reloadList();
    },
    /**
     * 保存成功的处理函数
     */
    reloadList() {
      this.$message.success('发送成功！'); // 提示成功
      this.$emit('reloadData', true); // 刷新表格
      this.$emit('close');
    },
    /**
     * 保存
     */
    saveForm(e) {
      e.preventDefault();
      let that = this;
      this.form.validateFields((err, values) => {
        // 校验表单并处理
        if (!err) {
          this.modalLoading = true; // 按钮开启loading状态
          let newValues = formDataPretreatment(values, this.modalFormData); // 提交前数据处理
          newValues.sourceCode = 'personal';
          if (!newValues.msgType) {
            newValues.msgType = '0';
          }
          if (
            newValues.sendDate.valueOf(newValues.sendDate) >=
            newValues.disappearDate.valueOf(newValues.disappearDate)
          ) {
            this.$message.warning('到期时间不能小于发送时间，请重新选择时间');
            this.modalLoading = false;
            return;
          }
          httpAction(that.addParam.url, newValues, that.addParam.method) // 提交
            .then(res => {
              if (res.success) {
                that.reloadList();
              }
              that.modalLoading = false; // 按钮关闭loading状态
            })
            .catch(() => {
              that.modalLoading = false; // 按钮关闭loading状态
            });
        }
      });
    }
  }
};
</script>
