<!---
  子流程弹出框
-->
<template>
  <AvicModal
    :visible="selectVisible"
    modal-title="子流程"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="98"
    :adjust-size="true"
    :centered="true"
    :mask-closable="false"
    :destroy-on-close="true"
    @ok="afterClose"
    @cancel="closeModal"
  >
    <AvicBpmChartTemplate ref="flowChartChild" :flow-param="flowParam" />
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
export default {
  name: 'AvicBpmChartChild',
  components: {
    AvicModal
  },
  props: {
    selectVisible: {
      type: Boolean,
      required: true, //校验
      default: false
    },
    deploymentId: {
      type: String,
      required: true, //校验
      default: ''
    }
  },
  data() {
    return {
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 98),
      refFlowName: 'flowChartChild',
      flowParam: {
        url: bpmUtils.baseurl + '/clientbpmdisplayaction/getProcessXmlByDefineId/v1',
        parameter: {},
        method: 'post'
      }
    };
  },
  watch: {
    selectVisible: {
      immediate: true,
      handler(newV) {
        if (newV == true) {
          this.loadData();
        }
      }
    }
  },
  mounted() {
    this.loadData(this.$store.state.bpmModel.deploymentId);
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 98);
    });
  },
  methods: {
    loadData() {
      if (this.deploymentId) {
        this.flowParam.parameter.deploymentId = this.deploymentId;
        setTimeout(() => {
          this.$refs.flowChartChild.refreshFlowChart();
        }, 0);
      }
    },
    afterClose() {
      this.$emit('closeChild');
    },
    closeModal() {
      this.$emit('closeChild');
    }
  }
};
</script>
<style lang="less" scoped>
.flow-track-box {
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 200px;
  text-align: center;
}
</style>
