<template>
  <div class="setting-drawer">
    <a-drawer
      width="300"
      placement="right"
      :wrap-class-name="'setting-drawer-index'"
      :closable="false"
      :visible="visible"
      :style="{}"
      @close="onClose"
    >
      <div class="setting-drawer-index-content">
        <div v-if="layoutMode !== 'topsidemenu'" :style="{ marginBottom: '24px' }">
          <h3 class="setting-drawer-index-title">主题色</h3>

          <!-- 6-10修改 start By renke -->
          <div style="overflow: hidden">
            <!-- 6-10修改 end By renke -->
            <a-tooltip
              v-for="(item, index) in colorList"
              :key="index"
              class="setting-drawer-theme-color-colorBlock"
            >
              <template slot="title">{{ item.key }}</template>
              <a-tag :style="item.tagColor" @click="changeColor(item)">
                <a-icon
                  v-if="item.color['@primary-color'] === primaryColor.color['@primary-color']"
                  type="check"
                />
              </a-tag>
            </a-tooltip>
          </div>
        </div>
        <a-divider />

        <div :style="{ marginBottom: '24px' }">
          <h3 class="setting-drawer-index-title">导航模式</h3>

          <div class="setting-drawer-index-blockChecbox">
            <!-- <a-tooltip>
              <template slot="title">收藏夹导航</template>
              <div class="setting-drawer-index-item" @click="handleLayout('favmenu')">
                <img src="~@assets/images/theme/favmenu.png" alt="favmenu" />
                <div v-if="layoutMode === 'favmenu'" class="setting-drawer-index-selectIcon">
                  <a-icon type="check" />
                </div>
              </div>
            </a-tooltip>-->

            <!-- <a-tooltip>
              <template slot="title">顶部侧边导航</template>
              <div class="setting-drawer-index-item" @click="handleLayout('topsidemenu')">
                <img src="~@assets/images/theme/topsidemenu.png" alt="topsidemenu" />
                <div v-if="layoutMode === 'topsidemenu'" class="setting-drawer-index-selectIcon">
                  <a-icon type="check" />
                </div>
              </div>
            </a-tooltip>-->

            <!-- win风格 -->
            <a-tooltip>
              <template slot="title">Win</template>
              <div class="setting-drawer-index-item" @click="handleLayout('winmenu')">
                <img src="~@assets/images/theme/win.png" alt="Win" />
                <div v-if="layoutMode === 'winmenu'" class="setting-drawer-index-selectIcon">
                  <a-icon type="check" />
                </div>
              </div>
            </a-tooltip>
            <!-- h+风格 -->
            <a-tooltip>
              <template slot="title">H+</template>
              <div class="setting-drawer-index-item" @click="handleLayout('hplusmenu')">
                <img src="~@assets/images/theme/h+.png" alt="H+" />
                <div v-if="layoutMode === 'hplusmenu'" class="setting-drawer-index-selectIcon">
                  <a-icon type="check" />
                </div>
              </div>
            </a-tooltip>
            <!-- 传统风格 -->
            <a-tooltip>
              <template slot="title">传统</template>
              <div class="setting-drawer-index-item" @click="handleLayout('traditionmenu')">
                <img src="~@assets/images/theme/tradition.png" alt="传统" />
                <div v-if="layoutMode === 'traditionmenu'" class="setting-drawer-index-selectIcon">
                  <a-icon type="check" />
                </div>
              </div>
            </a-tooltip>
            <!-- 简约风格 -->
            <a-tooltip>
              <template slot="title">简约</template>
              <div class="setting-drawer-index-item" @click="handleLayout('simplemenu')">
                <img src="~@assets/images/theme/simple.png" alt="简约" />
                <div v-if="layoutMode === 'simplemenu'" class="setting-drawer-index-selectIcon">
                  <a-icon type="check" />
                </div>
              </div>
            </a-tooltip>
          </div>
        </div>
        <a-divider />
      </div>
      <!-- <div class="setting-drawer-index-handle" @click="toggle">
        <a-icon v-if="!visible" type="setting" />
        <a-icon v-else type="close" />
      </div> -->
      <div class="axios-log-handle">
        <!-- <a-button type @click="showLogList=true">查看网络请求日志</a-button> -->
        <!-- <a-button @click="$router.push('/theme1')">H+</a-button> -->
        <!-- <a-button @click="$router.push('/theme2')">传统</a-button> -->
        <!-- <a-button @click="$router.push('/theme3')">简约</a-button> -->
        <!-- <a-button @click="$router.push('/theme4')">Win</a-button> -->
      </div>
    </a-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Drawer, Divider, Tooltip, Tag, Icon } from 'ant-design-vue';
// import DetailList from '@theme/tools/DetailList'
// import SettingItem from '@portal/pageModules/drawer/SettingItem'
import { updateColorWeak, colorList } from '@portal/pageModules/drawer/setting';
// import AxiosLogList from '@portal/pageModules/drawer/AxiosLogList'
import { mixin, mixinDevice } from '@/utils/avic/layout/mixin.js';
import { triggerWindowResizeEvent } from '@/utils/avic/common/util';

const LAYOUT_MODE = 'LAYOUT_MODE';
const SKIN_COLOR = 'SKIN_COLOR';
export default {
  components: {
    ADrawer: Drawer,
    ADivider: Divider,
    ATooltip: Tooltip,
    ATag: Tag,
    AIcon: Icon
  },
  mixins: [mixin, mixinDevice],
  data() {
    return {
      visible: true,
      showLogList: false,
      colorList
    };
  },
  computed: {
    // ...mapGetters(['getGlobalCfgItem'])
    // layoutModeCfg() {
    //   return this.getGlobalCfgItem(LAYOUT_MODE);
    // },
    // skinColorCfg() {
    //   return this.getGlobalCfgItem(SKIN_COLOR);
    // }
  },
  watch: {
    // layoutModeCfg: {
    //   immediate: true,
    //   handler(val) {
    //     if (val) {
    //       this.handleLayout(val);
    //     }
    //   }
    // },
    // skinColorCfg: {
    //   immediate: true,
    //   handler(val) {
    //     if (val) {
    //       this.changeColor(val);
    //     }
    //   }
    // }
  },
  mounted() {
    const vm = this;
    // if (this.colorWeak !== config.colorWeak) {
    //   updateColorWeak(this.colorWeak)
    // }
    // if (this.multipage !== config.multipage) {
    //   this.$store.dispatch('ToggleMultipage', this.multipage)
    // }
  },
  methods: {
    // showDrawer() {
    //   this.visible = true;
    // },
    onClose() {
      this.$emit('close');
      this.visible = false;
    },
    // toggle() {
    //   this.visible = !this.visible;
    // },
    onColorWeak(checked) {
      this.$store.dispatch('ToggleWeak', checked);
      updateColorWeak(checked);
    },
    onMultipageWeak(checked) {
      this.$store.dispatch('ToggleMultipage', checked);
    },
    handleMenuTheme(theme) {
      this.$store.dispatch('ToggleTheme', theme);
    },
    handleLayout(mode) {
      this.$store.dispatch('ToggleLayoutMode', mode);
      // 触发窗口resize事件
      triggerWindowResizeEvent();

      this.$store.commit('SAVE_GLOBAL_ITEM_CFG', {
        key: LAYOUT_MODE,
        val: mode
      });
    },
    handleContentWidthChange(type) {
      this.$store.dispatch('ToggleContentWidth', type);
    },
    handleContentHeightChange(type) {
      this.$store.dispatch('ToggleContentHeight', type);
    },
    handleTopSideMultiChange(type) {
      this.$store.dispatch('ToggleTopSideMulti', type);
    },
    changeColor(color) {
      document.getElementById('bodyThem').className = 'theme-' + color.skin;
      this.$store.dispatch('ToggleColor', color);

      setTimeout(() => {
        triggerWindowResizeEvent();
      }, 300);

      this.$store.commit('SAVE_GLOBAL_ITEM_CFG', {
        key: SKIN_COLOR,
        val: color
      });
    },
    handleFixedHeader(fixed) {
      this.$store.dispatch('ToggleFixedHeader', fixed);
    },
    handleFixedHeaderHidden(autoHidden) {
      this.$store.dispatch('ToggleFixedHeaderHidden', autoHidden);
    },
    handleFixSiderbar(fixed) {
      if (this.layoutMode === 'topmenu') {
        this.$store.dispatch('ToggleFixSiderbar', false);
        return;
      }
      this.$store.dispatch('ToggleFixSiderbar', fixed);
    }
  }
};
</script>

<style lang="less">
.setting-drawer-index {
  .ant-drawer-content {
    overflow: visible;
  }
}
.setting-drawer-index-content {
  // 6-10修改 start By renke
  .setting-drawer-index-blockChecbox {
    // display: flex;
    overflow: hidden;
    margin-top: 20px;
    border: 0;
    .setting-drawer-index-item {
      margin-right: 18px;
      position: relative;
      border-radius: 2px;
      cursor: pointer;
      float: left;
      margin-bottom: 10px;

      img {
        width: 48px;
      }

      .setting-drawer-index-selectIcon {
        position: absolute;
        top: 9px;
        left: 20px;
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: 700;
      }
    }
    .setting-drawer-index-item:nth-child(4) {
      margin-right: 0;
    }
  }
  .setting-drawer-theme-color-colorBlock {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin: 10px 14px 4px 0;
    border: 0;

    i {
      font-size: 14px;
      line-height: 28px;
    }
  }
  // 6-10修改 end By renke
}

.setting-drawer-index-handle {
  position: absolute;
  bottom: 32px;
  background: #1890ff;
  width: 48px;
  height: 48px;
  right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1001;
  text-align: center;
  font-size: 16px;
  border-radius: 4px 0 0 4px;

  i {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
}
</style>
