.avic-table-size-popover{
  .ant-popover-inner-content{
    padding: 0;
    .table-height-menu{
      .ant-menu-item{
        height: 32px;
        padding: 5px 12px;
        font-size: 12px;
        line-height: 22px;
        margin: 0;
      }
    }
  }
}