<template>
  <div class="dom_box flow-buttons-demo">
    <h1>流程按钮组件</h1>
    <div class="dom_content">
      <h3>使用示例</h3>
      <div>
        <a-row :gutter="[8, 16]">
          <a-col :span="5" />
          <a-col :span="19">
            <div class="flow-buttons-wrapper">
              
              <AvicBpmButtons
                :max-button-box-width="maxButtonBoxWidth"
                :flow-custom-vars="flowCustomVars"
                @saveAndStartProcess="saveAndStartProcess($event)"
                @saveForm="saveForm($event)"
                @beforeBpmButtons="beforeBpmButtons"
                @afterBpmButtons="afterBpmButtons"
                @beforeOpenSelect="beforeOpenSelect"
                @flowCustomFunction="flowCustomFunction($event)"
              />
            </div>
          </a-col>
        </a-row>
        <a-row>
          <a-col :span="24">
            <div class="code_box" @click="onOpenList">
              查看代码
              <div class="code_icon">
                <a-icon :type="openList ? 'eye' : 'eye-invisible'" />
              </div>
            </div>
            <div class="code_main" v-show="openList">
              <pre>
              <p>template部分</p>
              &lt;div class="flow-buttons-wrapper"&gt;
                &lt;AvicBpmButtons
                  :flow-custom-vars="flowCustomVars"
                  @saveAndStartProcess="saveAndStartProcess($event)"
                  @saveForm="saveForm($event)"
                  @beforeBpmButtons="beforeBpmButtons"
                  @afterBpmButtons="afterBpmButtons"
                  @beforeOpenSelect="beforeOpenSelect"
                  @flowCustomFunction="flowCustomFunction($event)"
                /&gt;
              &lt;/div&gt;
              <p>script部分</p>
              // 前端路由变量--用于编辑流程表单数据以控制流程提交分支
              flowCustomVars: {},
              <hr />
              mounted() {
                //初始化流程按钮和参数
                this.flowEditorInitFunc({ _bpm_defineId: this.defineId })
              },
              <hr />
              methods: {
                // 方法由vuex的flowEditor提供
                ...mapActions(['flowEditorInitFunc']),
                // 表单启动流程
                saveAndStartProcess(params) {
                  // 业务流程表单组件中按需实现saveAndStartProcess方法
                  // this.$refs.flowDetail[0].saveAndStartProcess(params)
                },
                // 表单暂存
                saveForm(params) {
                  // 业务流程表单组件中按需实现saveForm方法
                  // this.$refs.flowDetail[0].saveForm(params)
                },
                //按钮点击前置事件
                beforeBpmButtons(params) {
                  // 业务流程表单组件中按需实现beforeBpmButtons方法
                  // this.$refs.flowDetail[0].beforeBpmButtons(params)
                },
                //按钮点击后置事件
                afterBpmButtons(params) {
                  // 业务流程表单组件中按需实现afterBpmButtons方法
                  // this.$refs.flowDetail[0].afterBpmButtons(params)
                },
                // 流程设计器中自定义按钮的点击事件
                flowCustomFunction(params) {
                  // 业务流程表单组件中按需实现flowCustomFunction方法
                  // this.$refs.flowDetail[0].flowCustomFunction(params)
                },
                // 流程选人组件前置处理
                beforeOpenSelect(params) {
                  // 业务流程表单组件中按需实现beforeOpenSelect方法
                  this.$refs.flowDetail[0].beforeOpenSelect(params)
                },
              }
              <p>style部分</p>
              &lt;style lang="less"&gt;
                .flow-buttons-wrapper {
                  .button-box {
                    display: flex;

                    .button {
                      margin: 0 8px;
                    }
                  }
                }
              &lt;/style&gt;
            </pre>
            </div>
          </a-col>
        </a-row>
      </div>
    </div>
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>方法</h3>
      <a-table :columns="columnsFunction" :data-source="dataFunction" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>

<script>
import AvicBpmButtons from '@comp/avic/bpm/AvicBpmHead/AvicBpmButtons';
import { mapActions } from 'vuex';
export default {
  name: 'FlowButtonsDemo',
  components: {
    AvicBpmButtons
  },
  data() {
    return {
      openList: false,
      // 流程按钮区最大宽度(像素)
      maxButtonBoxWidth: 200,
      // 前端路由变量--用于编辑流程表单数据以控制流程提交分支
      flowCustomVars: {},
      defineId: '8a69dac46d3ef92b016d4c7453912d53-1',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'flowCustomVars',
          explain: '前端路由变量--用于编辑流程表单数据以控制流程提交分支',
          type: 'Object',
          default: '{}',
          required: 'false'
        }
      ],
      columnsFunction: [
        {
          title: '方法名称',
          dataIndex: 'funcName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '参数',
          dataIndex: 'params'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      dataFunction: [
        {
          funcName: 'flowEditorInitFunc',
          explain: '初始化流程按钮和参数，由Vuex-FlowEditor模块提供',
          params: '{_bpm_defineId} / {_bpm_entryId, _bpm_executionId, _bpm_taskId, _bpm_formId}',
          required: '是'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'eventName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'parameter'
        }
      ],
      dataEvent: [
        {
          eventName: 'saveAndStartProcess',
          explain: '保存并启动流程事件',
          parameter:
            'fn({defineId, callback, isKeepSilent}), defineId：流程defineId；callback-流程表单保存后回调函数；isKeepSilent-静默保存，即保存后是否提示（流程提交时true，流程暂存时false）。'
        },
        {
          eventName: 'saveForm',
          explain: '流程表单的保存事件，用于流程提交、暂存等处理',
          parameter:
            'fn(callback, isKeepSilent), callback-流程表单保存后回调函数；isKeepSilent-静默保存，即保存后是否提示（流程提交时true，流程暂存时false）。'
        },
        {
          eventName: 'beforeBpmButtons',
          explain: '流程按钮点击的前置处理事件',
          parameter: 'fn({data}), data：已点击的流程按钮相关数据'
        },
        {
          eventName: 'afterBpmButtons',
          explain: '流程按钮点击的后置处理事件',
          parameter: 'fn(button)，已点击的流程按钮相关数据'
        },
        {
          eventName: 'beforeOpenSelect',
          explain: '打开流程选人框的前置处理事件',
          parameter: 'fn(defaultSelectUsers) 流程选人组件的默认选择'
        },
        {
          eventName: 'flowCustomFunction',
          explain: '自定义流程按钮的点击事件',
          parameter:
            '{jsfunction, data} jsfunction：自定义按钮中定义的jsfunction，data：已点击按钮相关数据'
        }
      ]
    };
  },
  mounted() {
    //初始化流程按钮和参数
    this.flowEditorInitFunc({ _bpm_defineId: this.defineId });
  },
  methods: {
    // 方法由vuex的flowEditor提供
    ...mapActions(['flowEditorInitFunc']),
    onOpenList() {
      this.openList = !this.openList;
    },
    // 表单启动流程
    saveAndStartProcess(params) {
      // 业务流程表单组件中按需实现saveAndStartProcess方法
      // this.$refs.flowDetail[0].saveAndStartProcess(params)
    },
    // 表单暂存
    saveForm(params) {
      // 业务流程表单组件中按需实现saveForm方法
      // this.$refs.flowDetail[0].saveForm(params)
    },
    //按钮点击前置事件
    beforeBpmButtons(params) {
      // 业务流程表单组件中按需实现beforeBpmButtons方法
      // this.$refs.flowDetail[0].beforeBpmButtons(params)
    },
    //按钮点击后置事件
    afterBpmButtons(params) {
      // 业务流程表单组件中按需实现afterBpmButtons方法
      // this.$refs.flowDetail[0].afterBpmButtons(params)
    },
    // 流程设计器中自定义按钮的点击事件
    flowCustomFunction(params) {
      // 业务流程表单组件中按需实现flowCustomFunction方法
      // this.$refs.flowDetail[0].flowCustomFunction(params)
    },
    // 流程选人组件前置处理
    beforeOpenSelect(params) {
      // 业务流程表单组件中按需实现beforeOpenSelect方法
      // this.$refs.flowDetail[0].beforeOpenSelect(params)
    }
  }
};
</script>
<style lang="less">
.flow-buttons-demo {
  .flow-buttons-wrapper {
    margin-bottom: 5px;
    .button-box {
      display: flex;

      .button {
        margin: 0 8px;
      }
    }
  }
}
</style>
<style lang="less" scoped>
@import '../style/base.less';
</style>
