<template>
  <div class="dom_box">
    <h1>表单模型关联的流程选择组件</h1>
    <div class="dom_content">
      <h3>使用示例</h3>
      <div>
        <a-row :gutter="[8, 16]">
          <a-col :span="5" class="attr-label"> 启动流程: </a-col>
          <a-col :span="19">
            <a-button
              type="primary"
              :loading="openAddFlowLoading"
              icon="plus"
              class="table-handle-button"
              title="启动流程"
              @click="handleAdd({ param: { type: 'add' } })"
            >
              启动流程
            </a-button>
            <AvicBpmFormCode
              v-if="flowFormCodeLoad"
              :ref="getFormCodeRefName"
              :is-open-flow="true"
              :form-code="formCode"
              @beforeLoadformCode="beforeLoadformCode"
              @afterFormCodeLoad="handleAdd({ param: { type: 'add' } })"
            />
          </a-col>
          <a-col :span="5" />
          <a-col :span="19">
            <span class="attr-remark">
              发起表单关联流程。表单模型关联的流程模型唯一的情况下，不弹出模态框，直接发起流程。
            </span>
          </a-col>
        </a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon :type="openList ? 'eye' : 'eye-invisible'" />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
              <p>template部分</p>
                &lt;a-button
                  type="primary"
                  :loading="openAddFlowLoading"
                  icon="plus"
                  class="table-handle-button"
                  title="启动流程"
                  @click="handleAdd({param: {type: 'add'}})"
                &gt;启动流程&lt;/a-button&gt;
                &lt;AvicBpmFormCode
                  v-if="flowFormCodeLoad"
                  :ref="getFormCodeRefName"
                  :is-open-flow="true"
                  :form-code="formCode"
                  @beforeLoadformCode="beforeLoadformCode"
                  @afterFormCodeLoad="handleAdd({param: {type: 'add'}})"
                /&gt;
              <hr />
              <p>script部分</p>
                data(){
                  return 
                    openAddFlowLoading: false,
                    formCode: 'mpmProjectInfoWorkflow', //
                    getFormCodeRefName: 'getFormCodeRefName', //获取FormCode ref
                    flowFormCodeLoad: false, //标志flowFormCode显示或隐藏，异步加载组件控制渲染参数
                  }
                }
                <br />
                handleAdd(params) {
                  this.openAddFlowLoading = true
                  if (this.flowFormCodeLoad) {
                    if (
                      this.$refs[this.getFormCodeRefName] &&
                      typeof this.$refs[this.getFormCodeRefName].loadFormcode === 'function'
                    ) {
                      this.$refs[this.getFormCodeRefName].loadFormcode(params)
                    }
                  } else {
                    this.flowFormCodeLoad = true //渲染flowFormCode组件
                    this.handleAdd(params)
                  }
                },
                beforeLoadformCode(result, params) {
                  this.openAddFlowLoading = false
                }
            </pre>
          </div>
        </a-col>
      </div>
    </div>
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>方法</h3>
      <a-table :columns="columnsFunction" :data-source="dataFunction" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'FlowFormCodeDemo',
  components: {
    AvicBpmFormCode: () => import('@comp/avic/bpm/AvicBpmFormCode')
  },
  data() {
    return {
      openList: false,
      openAddFlowLoading: false,
      formCode: 'mpmProjectInfoWorkflow', //
      getFormCodeRefName: 'getFormCodeRefName', //获取FormCode ref
      flowFormCodeLoad: false, //标志flowFormCode显示或隐藏，异步加载组件控制渲染参数
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'formCode',
          explain: '表单模型的表单编码',
          type: 'String',
          default: '-',
          required: '是'
        },
        {
          parameter: 'isOpenFlow',
          explain: '启动流程后，是否打开流程详情页',
          type: 'Boolean',
          default: 'false',
          required: '否'
        }
      ],
      columnsFunction: [
        {
          title: '方法名称',
          dataIndex: 'funcName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '参数',
          dataIndex: 'params'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      dataFunction: [
        {
          funcName: 'loadFormcode',
          explain:
            'this.$refs.refName.loadFormcode(params)，获取formCode对应的流程数据,参数在组件回调事件中原样返回',
          params: '自定义',
          required: '否'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'eventName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'parameter'
        }
      ],
      dataEvent: [
        {
          eventName: 'beforeLoadformCode',
          explain: '点击确定、取消或表单关联流程唯一时提交此事件',
          parameter:
            'fn(result, param), result-已选择启动的流程数据；param-loadFormcode方法传入的参数原样返回'
        },
        {
          eventName: 'afterFormCodeLoad',
          explain:
            '异步组件加载完成时提交此事件。FlowFormCode组件注册为异步组件时，必须在此事件的处理中调用loadFormcode方法',
          parameter: '-'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    },
    /**
     * 启动流程,调用FlowFormCode组件获取可启动的流程
     * @param {} params
     */
    handleAdd(params) {
      //判断流程驱动类型
      this.openAddFlowLoading = true;
      if (this.flowFormCodeLoad) {
        if (
          this.$refs[this.getFormCodeRefName] &&
          typeof this.$refs[this.getFormCodeRefName].loadFormcode === 'function'
        ) {
          //标志FlowFormCode组件已经加载完毕
          this.$refs[this.getFormCodeRefName].loadFormcode(params);
        }
      } else {
        this.flowFormCodeLoad = true; //渲染flowFormCode组件
        this.handleAdd(params);
      }
    },
    //启动流程后刷新页面
    beforeLoadformCode(result, params) {
      this.openAddFlowLoading = false;
    }
  }
};
</script>
<style lang="less" scoped>
@import '../style/base.less';
</style>
