<template>
  <div class="dom_box">
    <h1>流程待办选择组件</h1>
    <div class="dom_content">
      <h3>使用示例</h3>
      <div>
        <a-row :gutter="[8, 16]">
          <a-col :span="5" class="attr-label">点击打开流程详情页:</a-col>
          <a-col :span="19">
            <a-button
              type="primary"
              :loading="openEditFlowLoading"
              icon="right-circle"
              class="table-handle-button"
              title="选择待办并打开流程详情页"
              @click="
                handleFlowDetail({
                  refName: detailModalRefName,
                  param: {
                    id: '8a69dc477398fdff0173996a8970002c',
                    dbid: '8a69c6b273945f220173996a8a500831'
                  }
                })
              "
            >
              选择待办并打开流程详情页
            </a-button>
            <AvicBpmDetailList />
          </a-col>
          <a-col :span="5" />
          <a-col :span="19">
            <span class="attr-remark">
              业务模块中打开流程详情页时，如指定流程实例中包含两条及两条以上待办，需在弹窗中选择待办任务，否则直接打开流程详情页，不弹窗。
            </span>
          </a-col>
        </a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon :type="openList ? 'eye' : 'eye-invisible'" />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
          <p>template部分</p>
          &lt;a-button
            type="primary"
            :loading="openEditFlowLoading"
            icon="plus"
            class="table-handle-button"
            title="选择待办并打开流程详情页"
            @click="handleFlowDetail({
              refName: detailModalRefName, 
              param: {id: '${formid}',dbid: '${processInstanceId}'}
            })"
          &gt;选择待办并打开流程详情页&lt;/a-button&gt;
          &lt;AvicBpmDetailList /&gt;
          <hr />
          <p>script部分</p>
          data(){
            return 
              openEditFlowLoading: false,
            }
          }
          <br />
          handleFlowDetail(res) {
            this.showTip = false
            if (res.param && res.param.dbid) {
              let _this = this
              bpmUtils
                .detail(res.param.dbid)
                .then(res => {
                  //打开成功
                  _this.openEditFlowLoading = false
                })
                .catch(() => {
                  //打开失败
                  _this.openEditFlowLoading = false
                })
            }
          }
            </pre>
          </div>
        </a-col>
      </div>
    </div>
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>

<script>
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
export default {
  name: 'FlowDetailListDemo',
  components: {
    AvicBpmDetailList: () => import('@/components/avic/bpm/AvicBpmDetailList')
  },
  data() {
    return {
      openList: false,
      openEditFlowLoading: false,
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'getFlowDetailSelectData',
          explain: '指定流程的流程详情待办数据。由VUEX-getters提供，非组件入参',
          type: 'Array',
          default: '-',
          required: '是'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'eventName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'parameter'
        }
      ],
      dataEvent: [
        {
          eventName: 'beforeLoadformCode',
          explain: '点击确定、取消按钮时的提交的事件',
          parameter: 'fn(result), result--已选择的待办数据，点击取消按钮返回null'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    },
    /**
     * 打开流程详情页面
     * @param {*} res
     */
    handleFlowDetail(res) {
      this.showTip = false;
      if (res.param && res.param.dbid) {
        let _this = this;
        this.openEditFlowLoading = true;
        bpmUtils
          .detail(res.param.dbid)
          .then(res => {
            //打开成功
            _this.openEditFlowLoading = false;
          })
          .catch(() => {
            //打开失败
            _this.openEditFlowLoading = false;
          });
      }
    }
  }
};
</script>
<style lang="less" scoped>
@import '../style/base.less';
</style>
