<template>
  <div>
    <exception-page type="403" />
  </div>
</template>

<script>
import ExceptionPage from './ExceptionPage';

export default {
  name: 'Exception403',
  components: {
    ExceptionPage
  },
  data() {
    return {};
  }
};
</script>
