<template>
  <exception-page type="500" />
</template>

<script>
import ExceptionPage from './ExceptionPage';

export default {
  name: 'Exception500',
  components: {
    ExceptionPage
  }
};
</script>
