<template>
  <a-modal
    class="table-modal"
    title="工作移交"
    :visible="visible"
    :style="modalWidthAndHeight.modalStyle"
    :width="modalWidthAndHeight.modalStyle.width"
    :body-style="modalWidthAndHeight.bodyStyle"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">返回</a-button>
      <a-button type="primary" :loading="modalLoading" @click="takeback">拿回</a-button>
    </template>
    <AvicBaseTable
      :ref="tableRefName"
      :style="{ height: '100%' }"
      :is-auto-count-scroll-x="true"
      :columns="selectColumns"
      :data-source="data"
      :row-key="rowKey"
      :data-index="dataIndex"
      :pagination-default="false"
      @getData="getData"
      @handleRowSelection="handleRowSelection"
      @handleTableChange="handleTableChange(tableRefName, $event)"
    />
  </a-modal>
</template>
<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { Modal, Button } from 'ant-design-vue';
import { httpAction } from '@api/manage';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_MYDELEGATIONLIST';
// 此模块通用代码params
let lookupParams = [];
// 表格主键字段
let rowKey = 'dbid';
// 表格查看详情字段
let dataIndex = '';
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'taskTitle',
    align: 'center'
  },
  {
    title: '流程名称',
    dataIndex: 'processDefName',
    align: 'center'
  },
  {
    title: '发送人',
    dataIndex: 'taskSendUser',
    align: 'center'
  },
  {
    title: '发送部门',
    dataIndex: 'taskSendDept',
    align: 'center'
  },
  {
    title: '处理人',
    dataIndex: 'assigneeName',
    align: 'center'
  },
  {
    isTableHidden: true,
    title: '',
    dataIndex: 'assignee',
    align: 'center'
  },
  {
    isTableHidden: true,
    title: '',
    dataIndex: 'processInstanceId',
    align: 'center'
  }
];
export default {
  name: 'DelegationList',
  components: {
    AModal: Modal,
    AButton: Button
  },
  mixins: [baseTableMixin],
  data() {
    let style = modalWidthAndHeight(0.7, 0.7, 108);
    style.bodyStyle.padding = '10 12px';
    return {
      visible: false, // 弹窗modal显隐
      // modalWidthAndHeight: modalWidthAndHeight(0.7, 0.7, 108), // 弹窗modal宽高控制
      modalWidthAndHeight: style, // 弹窗modal宽高控制
      modalLoading: false, // 拿回按钮loading状态
      moduleName, // 模块名称
      lookupParams, // 此模块通用代码
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData, // 页面数据配置
      tableRefName: 'DelegationList', // 表格ref名称
      takebackParam: {
        url: '/api/bpm/bpm/clientbpmWorkHandAction/deleteSysWorkHandPass/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: '/api/bpm/bpm/clientbpmWorkHandAction/getWorkHandTask/v1',
        parameter: {},
        method: 'get'
      };
    }
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(0.7, 0.7, 108);
    });
  },
  methods: {
    /**
     * 当前弹窗打开事件
     */
    openModal() {
      let that = this;
      // 打开弹窗
      that.visible = true;
      // 清空处理
      this.data = []; // 清空表格
      this.selectedRowKeys = []; // 清空表格选中项
      // 进入页面,加载表格数据
      setTimeout(() => {
        that.$refs[this.tableRefName].loadData(this.queryParam);
      }, 0);
    },
    /**
     * 当前弹窗关闭事件
     */
    closeModal() {
      this.visible = false;
    },
    /**
     * 接收表格数据,渲染表格
     */
    getData(obj) {
      if (obj.data && obj.data.length > 0) {
        this.data = obj.data;
      } else {
        this.data = [];
      }
    },
    /**
     * 接收表格选中信息,并处理
     * @param {Object} obj 形式: {selectedRowKeys: selectedRowKeys(选中行主键集合)}
     */
    handleRowSelection(obj) {
      if (obj.selectedRowKeys) {
        this.selectedRowKeys = obj.selectedRowKeys;
      }
    },
    /**
     * 拿回按钮
     */
    takeback() {
      if (this.selectedRowKeys.length > 0) {
        Modal.confirm({
          title: '确认拿回所选移交待办吗？',
          onOk: () => {
            this.modalLoading = true; // 按钮开启loading状态
            // 获取拿回数据
            let postData = [];
            let selectData = this.data.filter(item => {
              return this.selectedRowKeys.includes(item.dbid);
            });
            for (let i = 0; i < selectData.length; i++) {
              let rowData = selectData[i];
              postData.push(
                rowData['dbid'] + '@@' + rowData['assignee'] + '@@' + rowData['processInstanceId']
              );
            }
            let that = this;
            // 请求接口
            httpAction(this.takebackParam.url, postData.join(','), this.takebackParam.method)
              .then(res => {
                if (res.success) {
                  that.$message.success('操作成功！'); // 提示成功
                  that.visible = false; // 关闭弹窗
                }
                that.modalLoading = false; // 按钮关闭loading状态
              })
              .catch(() => {
                that.modalLoading = false; // 按钮关闭loading状态
              });
          }
        });
      } else {
        Modal.warning({
          title: '请选择要拿回的记录！'
        });
      }
    }
  }
};
</script>
