<template>
  <a-modal
    class="table-modal delegation-scope-modal"
    title="流程业务目录"
    :visible="visible"
    :style="modalWidthAndHeight.modalStyle"
    :width="modalWidthAndHeight.modalStyle.width"
    :body-style="modalWidthAndHeight.bodyStyle"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">关闭</a-button>
      <a-button type="primary" :loading="modalLoading" @click="handleEnsure">确定</a-button>
    </template>
    <a-row style="height: 100%">
      <a-col :span="8" style="padding: 5px; height: 100%">
        <!-- <div class="tree-box"> -->
        <AvicTree
          :ref="treeRefName"
          :tree-param="treeParam"
          :is-load-data="true"
          :show-line="true"
          :default-max-parent-id="defaultParentId"
          :default-expand-hierarchy="defaultLevel"
          :selected-keys.sync="selectedKeys"
          @select="(ids, data) => selectNodeTree(ids, data)"
          @beforeLoadData="beforeLoadData"
        />
        <!-- </div> -->
      </a-col>
      <a-col :span="8" style="padding: 5px; height: 100%">
        <a-list :data-source="modelList" class="my-list">
          <div slot="header" class="my-list-title">候选流程</div>
          <a-list-item
            slot="renderItem"
            slot-scope="item"
            class="my-list-item"
            @click="selectModel(item)"
          >
            {{ item.name }}
          </a-list-item>
        </a-list>
      </a-col>
      <a-col :span="8" style="padding: 5px; height: 100%">
        <a-list :data-source="selectedModelList" class="my-list">
          <div slot="header" class="my-list-title">
            已选流程
            <a-icon type="delete" style="float: right; cursor: pointer" @click="deleteAll" />
          </div>
          <a-list-item slot="renderItem" slot-scope="item" class="my-list-item">
            {{ item.name }}
            <a-icon type="close" class="my-close" @click="deleteFlow(item)" />
          </a-list-item>
        </a-list>
      </a-col>
    </a-row>
  </a-modal>
</template>
<script>
import { Modal, Button, Row, Col, List, Icon } from 'ant-design-vue';
import AvicTree from '@comp/avic/pt/common/AvicTree';
import { httpAction } from '@api/manage';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
export default {
  name: 'DelegationScope',
  components: {
    AModal: Modal,
    AButton: Button,
    ARow: Row,
    ACol: Col,
    AList: List,
    AListItem: List.Item,
    AIcon: Icon,
    AvicTree
  },
  data() {
    return {
      visible: false, // 弹窗modal显隐
      modalWidthAndHeight: modalWidthAndHeight(0.6, 0.6, 108), // 弹窗modal宽高控制
      modalLoading: false,
      treeRefName: 'flowScopeTree',
      //树展开
      treeParam: {
        url: '/api/bpm/bpm/deploy/getFlowTypeTree/v1',
        parameter: { id: 'root' },
        method: 'post'
      },
      nodeListParam: {
        url: '/api/bpm/bpm/deploy/getDeployedFlowFileLastVer/v1',
        method: 'post'
      },
      defaultParentId: 'root', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      selectedKeys: [],
      modelList: [],
      selectedModelList: [],
      parentItemId: ''
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(0.7, 0.7, 108);
    });
  },
  methods: {
    /**
     * 当前弹窗打开事件
     */
    openModal(item) {
      // 打开弹窗
      this.visible = true;
      // 清空处理
      this.treeParam.parameter = { id: 'root' }; // 清空树查询条件
      this.modelList = []; // 清空候选流程
      this.selectedModelList = []; // 清空已选流程
      // 记录父组件input绑定id,以便回显数据时,找到相应input
      this.parentItemId = item.id;
      // 根据初始带过来的值,渲染已选流程数据
      if (item.modelId !== '') {
        let modelIdsArr = item.modelId.split(',');
        let modelNamesArr = item.modelName.split(',');
        let workHandTypsArr = item.workHandType.split(',');
        let modelArr = [];
        for (let i = 0; i < modelIdsArr.length; i++) {
          modelArr.push({
            key: modelIdsArr[i],
            name: modelNamesArr[i],
            modelType: workHandTypsArr[i]
          });
        }
        this.selectedModelList = modelArr;
      }
    },
    /**
     * 当前弹窗关闭事件
     */
    closeModal() {
      this.visible = false;
    },
    /**
     * 加载树节点之前
     */
    beforeLoadData(treeData, parentId) {
      this.loadTreeParentId = parentId;
      this.treeParam.parameter = { id: parentId };
    },
    /**
     * 点击某个节点拿到数据渲染候选流程列表
     */
    selectNodeTree(ids, data) {
      if (ids && ids.length > 0) {
        this.selectedKeys = ids;
        // 添加节点目录
        let muluData = [];
        if (data.id !== '-1') {
          muluData = [
            {
              key: data.id,
              name: data.title + '(分类)',
              modelType: '0'
            }
          ];
        }
        // 获取节点下的流程列表
        let flowData = [];
        httpAction(
          this.nodeListParam.url,
          { selectedNodeId: ids[0] },
          this.nodeListParam.method
        ).then(res => {
          if (res.success) {
            // 渲染候选流程
            for (let i = 0; i < res.result.deployedList.length; i++) {
              flowData.push({
                key: res.result.deployedList[i].key,
                name: res.result.deployedList[i].name,
                modelType: '1'
              });
            }
            this.modelList = [...muluData, ...flowData];
          }
        });
      }
    },
    /**
     * 点击候选流程拿到数据渲染已选流程模板选择流程模板
     */
    selectModel(item) {
      // 不可重复添加
      for (let i = 0; i < this.selectedModelList.length; i++) {
        if (this.selectedModelList[i].key === item.key) {
          this.$message.warning('已添加该条记录');
          return;
        }
      }
      this.selectedModelList.push(item);
    },
    /**
     * 删除当前已选流程
     */
    deleteFlow(item) {
      this.selectedModelList = this.selectedModelList.filter(i => i.key !== item.key);
    },
    /**
     * 删除所有已选流程
     */
    deleteAll() {
      this.selectedModelList = [];
    },
    /**
     * 点击确定事件
     */
    handleEnsure() {
      //  将数据传回
      let modelIdsArr = [];
      let modelNamesArr = [];
      let modelTypeArr = [];
      for (let i = 0; i < this.selectedModelList.length; i++) {
        modelIdsArr.push(this.selectedModelList[i].key);
        modelNamesArr.push(this.selectedModelList[i].name);
        modelTypeArr.push(this.selectedModelList[i].modelType);
      }
      this.$emit('sendSelectedFlow', {
        id: this.parentItemId,
        data: {
          modelIds: modelIdsArr.join(','),
          modelNames: modelNamesArr.join(','),
          modelType: modelTypeArr.join(',')
        }
      });
      // 关闭弹窗
      this.visible = false;
    }
  }
};
</script>
<style lang="less">
.delegation-scope-modal .ant-modal-body {
  padding: 0;
}
.my-list-title {
  font-weight: bold;
}
.my-list .my-list-item {
  padding: 5px 0;
  border-bottom: 1px dotted #e8e8e8;
  position: relative;
}
.my-close {
  float: right;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  display: none;
}
.my-list .my-list-item:hover {
  background-color: #e8e8e8;
  .my-close {
    display: inline-block;
  }
}
</style>
