<template>
  <div class="surface">
    <!-- 查询及操作按钮区域 -->
    <div class="surface-tools-bar surface-tools-bar-bpm">
      <a-button icon="plus" @click="handleAdd"> 新建委托 </a-button>
      <a-button icon="arrow-left" @click="takeback"> 拿回已移交的待办 </a-button>
      <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
      <a-icon type="sync" class="opt-icon" title="刷新" @click="handleRefreshTable(tableRefName)" />
      <AvicTableColumnSettings
        :init-setting-columns="initSettingColumns"
        :default-setting-columns="selectColumns"
        @colMenuSelect="changeColumns"
      />
    </div>
    <!-- 内容区域 -->
    <div class="surface-content">
      <div class="surface-table">
        <AvicBaseTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          :is-row-selection="false"
          @getData="getData"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        >
          <!-- 点击查看详情 -->
          <template slot="workOwnerName" scope="obj">
            <a
              href="javascript:;"
              class="table-detail-link"
              :title="obj.data.workOwnerName"
              @click="
                handleDetail({
                  refName: detailModalRefName,
                  param: { id: obj.data[rowKey] }
                })
              "
            >
              {{ obj.data.workOwnerName }}
            </a>
          </template>
          <!-- 表格操作列 -->
          <template slot="action" scope="obj">
            <a
              href="javascript:;"
              class="table-detail-link"
              @click="handleDeleteDelegation(obj.data.id)"
            >
              删除
            </a>
            <a
              v-if="getActionType(obj.data) === '1'"
              href="javascript:;"
              class="table-detail-link"
              @click="
                handleEdit({
                  refName: editModalRefName,
                  param: { id: obj.data[rowKey] }
                })
              "
            >
              <a-divider type="vertical" />编辑
            </a>
            <a
              v-if="getActionType(obj.data) === '2'"
              href="javascript:;"
              class="table-detail-link"
              @click="handleCompleteDelegation(obj.data.id)"
            >
              <a-divider type="vertical" />完成
            </a>
          </template>
        </AvicBaseTable>
      </div>
    </div>
    <DelegationAdd
      v-if="showAddModal"
      :ref="addModalRefName"
      :request-public-url="requestPublicUrl"
      layout="2"
      @reloadData="reloadData($event, tableRefName)"
      @close="showAddModal = false"
    />
    <DelegationEdit
      v-if="showEditModal"
      :ref="editModalRefName"
      :param-id="paramId"
      :request-public-url="requestPublicUrl"
      layout="2"
      @reloadData="reloadData($event, tableRefName)"
      @close="showEditModal = false"
    />
    <DelegationDetail
      v-if="showDetailModal"
      :ref="detailModalRefName"
      :param-id="paramId"
      :request-public-url="requestPublicUrl"
      layout="2"
      @close="showDetailModal = false"
    />
    <DelegationList :ref="DelegationListRefName" />
  </div>
</template>
<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import moment from 'moment';
import { Modal, Button, Divider } from 'ant-design-vue';
import { httpAction } from '@api/manage';
import DelegationAdd from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/DelegationAdd';
import DelegationEdit from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/DelegationEdit';
import DelegationDetail from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/DelegationDetail';
import DelegationList from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/DelegationList';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_MYDELEGATION';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/bpm/bpm/business/workhand';
// 此模块通用代码params
let lookupParams = [];
// 表格主键字段
let rowKey = 'id';
// 表格查看详情字段
let dataIndex = ['workOwnerName', 'action'];
export default {
  name: 'MyDelegation',
  components: {
    AButton: Button,
    ADivider: Divider,
    DelegationAdd,
    DelegationEdit,
    DelegationDetail,
    DelegationList
  },
  mixins: [baseTableMixin],
  data() {
    let pageSettingData = [
      {
        title: '委托人',
        dataIndex: 'workOwnerName',
        scopedSlots: { customRender: 'workOwnerName' },
        align: 'center'
      },
      {
        title: '受托人',
        dataIndex: 'receptUserName',
        align: 'center'
      },
      {
        title: '受托人部门',
        dataIndex: 'receptDeptName',
        align: 'center'
      },
      {
        title: '委托方式',
        dataIndex: 'attribute01',
        align: 'center',
        customRender: (text, record, index) => {
          let val = text;
          if (text && text === '0') {
            val = '系统';
          } else {
            val = '自定义';
          }
          return val;
        }
      },
      {
        title: '移交原因',
        dataIndex: 'handReason',
        align: 'center'
      },
      {
        title: '创建时间',
        dataIndex: 'handDate',
        type: 'date',
        align: 'center'
      },
      {
        title: '开始时间',
        dataIndex: 'handEffectiveDate',
        type: 'date',
        align: 'center'
      },
      {
        title: '结束时间',
        dataIndex: 'backDate',
        type: 'date',
        align: 'center'
      },
      {
        title: '当前状态',
        dataIndex: 'validFlag',
        align: 'center',
        customRender: (text, record, index) => {
          let validString = '';
          if (text === '1') {
            let beginDate = record.handEffectiveDate;
            let beginDateStr = moment(new Date(beginDate)).format('YYYY-MM-DD');
            let nowDate = new Date();
            let nowDateStr = moment(nowDate).format('YYYY-MM-DD');
            if (beginDateStr > nowDateStr) {
              validString = '未开始';
            } else {
              validString = '委托中';
            }
          } else if (text === '0') {
            validString = '无效';
          } else if (text === '2') {
            validString = '已完成';
          }
          return validString;
        }
      },
      {
        title: '操作',
        dataIndex: 'action',
        scopedSlots: { customRender: 'action' },
        align: 'center'
      }
    ];
    return {
      moduleName, // 模块名称
      lookupParams, // 此模块通用代码
      rowKey, // 表格主键字段
      requestPublicUrl,
      dataIndex, // 表格查看详情字段
      pageSettingData, // 页面数据配置
      tableRefName: 'MyDelegation', // 表格ref名称
      DelegationListRefName: 'DelegationListModal', // 工作移交弹窗ref名称
      addModalRefName: 'DelegationAddModal', // 添加委托弹窗ref名称
      editModalRefName: 'DelegationEditModal', // 编辑委托弹窗ref名称
      detailModalRefName: 'DelegationDetailModal', // 委托详情ref名称
      deleteParam: {
        // 删除委托的请求接口
        url: requestPublicUrl + '/deleteSysWorkHand/v1',
        method: 'post'
      },
      completeParam: {
        // 完成委托的请求接口
        url: requestPublicUrl + '/completeSysWorkHand/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: '/api/bpm/bpm/clientbpmWorkHandAction/getSysWorkHandListByPage2/v1',
        parameter: {
          page: this.page, // 页数
          rows: this.rows, // 每页条数
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    /**
     * 供页面右键刷新调用
     */
    pageRefresh() {
      this.page = 1;
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    /**
     * 接收表格数据,渲染表格
     */
    getData(obj) {
      if (obj.data && obj.data.rows && obj.data.rows.length > 0) {
        this.data = obj.data.rows;
      } else {
        this.data = [];
      }
    },
    /**
     * 点击"新建委托"按钮
     */
    addNewDelegation() {
      this.$refs[this.addModalRefName].openModal();
    },
    /**
     * 点击"拿回已移交的待办"按钮
     */
    takeback() {
      this.$refs[this.DelegationListRefName].openModal();
    },
    /**
     * 判断操作类型
     */
    getActionType(rowObject) {
      let flag = '0';
      if (rowObject.validFlag === '1') {
        let beginDate = rowObject.handEffectiveDate;
        let beginDateStr = moment(new Date(beginDate)).format('YYYY-MM-DD');
        let nowDate = new Date();
        let nowDateStr = moment(nowDate).format('YYYY-MM-DD');
        if (beginDateStr > nowDateStr) {
          // 可修改
          flag = '1';
        }
        if (beginDateStr <= nowDateStr) {
          // 可完成
          flag = '2';
        }
      }
      return flag;
    },
    /**
     * 删除委托
     */
    handleDeleteDelegation(id) {
      Modal.confirm({
        title: '确认删除这条委托？',
        onOk: () => {
          httpAction(this.deleteParam.url, id, this.deleteParam.method).then(res => {
            if (res.success) {
              this.$message.success('删除成功');
              this.reloadData(false, this.tableRefName);
            }
          });
        }
      });
    },
    /**
     * 编辑委托
     */
    handleEditDelegation(id) {
      this.$refs[this.editModalRefName].openModal(id);
    },
    /**
     * 完成委托
     */
    handleCompleteDelegation(id) {
      Modal.confirm({
        title: '您确定该条委托已经完成？',
        onOk: () => {
          httpAction(this.completeParam.url, id, this.completeParam.method).then(res => {
            if (res.success) {
              this.$message.success('操作成功');
              this.reloadData(false, this.tableRefName);
            }
          });
        }
      });
    }
  }
};
</script>
<style>
.my-delegation-page {
  padding: 0 12px;
  height: 100%;
}
</style>
