<template>
  <div class="surface">
    <!-- 查询及操作按钮区域 -->
    <div class="surface-tools-bar surface-tools-bar-bpm">
      <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
      <a-icon type="sync" class="opt-icon" title="刷新" @click="handleRefreshTable(tableRefName)" />
      <AvicTableColumnSettings
        :init-setting-columns="initSettingColumns"
        :default-setting-columns="selectColumns"
        @colMenuSelect="changeColumns"
      />
    </div>
    <!-- 内容区域 -->
    <div class="surface-content">
      <div class="surface-table">
        <AvicBaseTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          :is-row-selection="false"
          @getData="getData"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        >
          <!-- 点击查看详情 -->
          <template slot="workOwnerName" scope="obj">
            <a
              href="javascript:;"
              class="table-detail-link"
              @click="
                handleDetail({
                  refName: detailModalRefName,
                  param: { id: obj.data[rowKey] }
                })
              "
            >
              {{ obj.data.workOwnerName }}
            </a>
          </template>
          <!-- 表格操作列 -->
          <template slot="action" scope="obj">
            <a
              v-if="getActionType(obj.data) === '1'"
              href="javascript:;"
              class="table-detail-link"
              @click="handleRejectDelegation(obj.data.id)"
            >
              驳回
            </a>
          </template>
        </AvicBaseTable>
        <DelegationDetail
          v-if="showDetailModal"
          :ref="detailModalRefName"
          :param-id="paramId"
          request-public-url=""
          layout="2"
          @close="showDetailModal = false"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import moment from 'moment';
import { Modal } from 'ant-design-vue';
import { httpAction } from '@api/manage';
import DelegationDetail from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/DelegationDetail';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_MYTRUSTEESHIP';
// 此模块通用代码params
let lookupParams = [];
// 表格主键字段
let rowKey = 'id';
// 表格查看详情字段
let dataIndex = ['workOwnerName', 'action'];
export default {
  name: 'MyTrusteeship',
  components: {
    DelegationDetail
  },
  mixins: [baseTableMixin],
  data() {
    let pageSettingData = [
      {
        title: '委托人',
        dataIndex: 'workOwnerName',
        scopedSlots: { customRender: 'workOwnerName' },
        align: 'center'
      },
      {
        title: '受托人',
        dataIndex: 'receptUserName',
        align: 'center'
      },
      {
        title: '受托人部门',
        dataIndex: 'receptDeptName',
        align: 'center'
      },
      {
        title: '移交原因',
        dataIndex: 'handReason',
        align: 'center'
      },
      {
        title: '创建时间',
        dataIndex: 'handDate',
        type: 'date',
        align: 'center'
      },
      {
        title: '开始时间',
        dataIndex: 'handEffectiveDate',
        type: 'date',
        align: 'center'
      },
      {
        title: '结束时间',
        dataIndex: 'backDate',
        type: 'date',
        align: 'center'
      },
      {
        title: '当前状态',
        dataIndex: 'validFlag',
        align: 'center',
        customRender: (text, record, index) => {
          let validString = '';
          if (text === '1') {
            let beginDate = record.handEffectiveDate;
            let beginDateStr = moment(new Date(beginDate)).format('YYYY-MM-DD');
            let nowDate = new Date();
            let nowDateStr = moment(nowDate).format('YYYY-MM-DD');
            if (beginDateStr > nowDateStr) {
              validString = '未开始';
            } else {
              validString = '委托中';
            }
          } else if (text === '0') {
            validString = '无效';
          } else if (text === '2') {
            validString = '已完成';
          }
          return validString;
        }
      },
      {
        title: '操作',
        dataIndex: 'action',
        scopedSlots: { customRender: 'action' },
        align: 'center'
      }
    ];
    return {
      moduleName, // 模块名称
      lookupParams, // 此模块通用代码
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData, // 页面数据配置
      tableRefName: 'MyTrusteeship', // 表格ref名称
      detailModalRefName: 'DelegationDetailModal', // 委托详情弹窗ref名称
      rejectParam: {
        // 驳回的请求接口
        url: '/api/bpm/bpm/business/workhand/rejectWorkhand/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: '/api/bpm/bpm/clientbpmWorkHandAction/getSysWorkHandListByPage2/v1',
        parameter: {
          queryType: '2',
          page: this.page, // 页数
          rows: this.rows, // 每页条数
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    moment,
    /**
     * 供页面右键刷新调用
     */
    pageRefresh() {
      this.page = 1;
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    /**
     * 接收表格数据,渲染表格
     */
    getData(obj) {
      if (obj.data && obj.data.rows && obj.data.rows.length > 0) {
        this.data = obj.data.rows;
      } else {
        this.data = [];
      }
    },
    // /**
    //  * 查看详情
    //  */
    // handleDetail(params) {
    //   this.$refs[this.detailModalRefName].openModal(params);
    // },
    /**
     * 判断操作类型
     */
    getActionType(rowObject) {
      let flag = '0';
      if (rowObject.validFlag === '1') {
        let beginDate = rowObject.handEffectiveDate;
        let beginDateStr = moment(new Date(beginDate)).format('YYYY-MM-DD');
        let nowDate = new Date();
        let nowDateStr = moment(nowDate).format('YYYY-MM-DD');
        if (beginDateStr > nowDateStr) {
          // 可驳回
          flag = '1';
        }
      }
      return flag;
    },
    /**
     * 驳回
     */
    handleRejectDelegation(id) {
      Modal.confirm({
        title: '您确定驳回该委托吗？',
        onOk: () => {
          httpAction(this.rejectParam.url, id, this.rejectParam.method).then(res => {
            if (res.success) {
              this.$message.success('操作成功');
              this.reloadData(false, this.tableRefName);
            }
          });
        }
      });
    }
  }
};
</script>
<style>
.my-delegation-page {
  padding: 0 20px;
}
</style>
