<template>
  <avic-resize-layout direction="h">
    <avic-resize-layout-panel>
      <div class="surface">
        <!-- 查询及操作按钮区域 -->
        <div class="surface-title">
          <h3>多栏目门户</h3>
          <!-- 查询 -->
          <div class="surface-tools-bar">
            <!-- 操作按钮: 添加 编辑 删除 导入 导出 -->
            <a-button
              type="primary"
              icon="plus"
              class="table-handle-button"
              title="添加"
              @click="handleAdd({ refName: addModalRefName, param: {} })"
            >
              添加
            </a-button>
            <a-button
              :disabled="!isShowEdit"
              icon="edit"
              class="table-handle-button"
              title="编辑"
              @click="handleEdit({ refName: editModalRefName, param: { id: selectedRowKeys[0] } })"
            >
              编辑
            </a-button>
            <AvicDelete
              :disabled="!isShowDelete"
              type="omitted"
              class="table-handle-button"
              :loading="delLoading"
              @click-confirm="
                handleDelete({ refName: tableRefName, param: { ids: selectedRowKeys } })
              "
            />
            <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
            <a-icon
              type="sync"
              class="opt-icon"
              title="刷新"
              @click="handleRefreshTable(tableRefName)"
            />
            <AvicTableColumnSettings
              :init-setting-columns="initSettingColumns"
              :default-setting-columns="selectColumns"
              @colMenuSelect="changeColumns"
            />
          </div>
        </div>
        <!-- 内容区域 -->
        <div class="surface-content">
          <!-- 表格内容 -->
          <div class="surface-table">
            <!-- 表格 -->
            <AvicBaseTable
              :ref="tableRefName"
              :table-size="tableSize"
              :columns="selectColumns"
              :data-source="data"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
              :columns-data="columns"
              @getData="getData"
              @handleRowSelection="handleRowSelection"
              @handleTableChange="handleTableChange(tableRefName, $event)"
            >
              <template slot="action" scope="obj">
                <div class="action-icon">
                  <a-icon
                    theme="filled"
                    title="设计"
                    type="setting"
                    :style="{ fontSize: '14px' }"
                    @click="openDesignModal(obj.data)"
                  />
                  <a-icon
                    theme="filled"
                    title="预览"
                    type="eye"
                    :style="{ fontSize: '14px', marginLeft: '10px' }"
                    @click="previewSetting(obj.data)"
                  />
                </div>
              </template>
            </AvicBaseTable>
          </div>
        </div>
        <AvicAsyncComponent
          :ref="addModalRefName"
          layout="1"
          v-if="showAddModal"
          :path="addUrl"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @reloadData="reloadData($event, tableRefName)"
          @openDesignModal="openDesignModal"
          @close="showAddModal = false"
        />
        <AvicAsyncComponent
          v-if="showEditModal"
          :ref="editModalRefName"
          layout="1"
          :path="editUrl"
          :param-id="paramId"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @reloadData="reloadData($event, tableRefName)"
          @openDesignModal="openDesignModal"
          @close="showEditModal = false"
        />
        <AvicAsyncComponent
          :ref="designModalRefName"
          :path="designUrl"
          @reloadData="reloadData($event, tableRefName)"
        />
        <AvicAsyncComponent :ref="previewModalRefName" :path="previewUrl" />
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import AvicAsyncComponent from '@comp/avic/pt/common/AvicAsyncComponent/index';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_PORTALCONFIGDESIGNMANAGE';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/appsys/portlet/portalConfig';
// 此模块通用代码params
let lookupParams = [];
// 表格主键字段
let rowKey = 'id';
// 表格查看详情字段
let dataIndex = ['action'];
// 为了精简代码 以下的columns设置涵盖了:
// 表格表头设置 单元格行编辑组件参数设置 高级查询组件参数设置 普通搜索标志位设置.
/**
 * isAuthFlag：是否为有权限标签
 * isTableHidden: 列表字段是否隐藏
 * isFormHidden: 是否在表单中显示
 * title: 表格: 表头标题; 高级查询: 表单控件label. (all)
 * titleRange: 高级查询: 日期或者时间范围控件的title. (date datetime)
 * dataIndex: 表格: 字段值; 高级查询 单元格行编辑: 表单控件唯一标志. (all)
 * sorter: 表格: 是否排序. (all, 默认均为true)
 * scopedSlots: 表格: 传值. (all)
 * align: 表格: 表头居中方式. (按规则: 默认居左,数字居右,单选多选下拉时间等居中)
 * type: 高级查询 单元格行编辑: 表单控件类型. (all)
 *       控件类型包括:input inputnumber textarea commonselect radio checkbox select date datetime
 * isCanEdit: 单元格行编辑: 是否可以行编辑. (默认不加,即默认不启用行编辑)
 * isSearch: 普通搜索: 是否作为普通搜索的字段. (作为普通搜索的字段加这个属性)
 * decorator: 高级查询: 表单控件校验规则. (注:checkbox必须要有initialValue: []这个校验) (all,若没有校验规则,则不加)
 * decoratorRange: 高级查询: 日期或者时间范围控件的校验规则. (date datetime)
 * placeholder: 高级查询 单元格行编辑: 表单控件placeholder. (all)
 * placeholderRange: 高级查询: 日期或者时间范围的placeholder. (date datetime)
 * controlType: 高级查询 单元格行编辑的commonselect (commonselect)
 *              选择类型(userSelect为选人,deptSelect为选部门,roleSelect为选角色,groupSelect为选群组,positionSelect为选岗位)
 * selectModel: 高级查询 单元格行编辑的commonselect (commonselect)
 *              单选还是多选(multi为多选;single为单选).
 * min: 高级查询 单元格行编辑的inputnumber: 最小值. 注:数值型 (inputnumber)
 * max: 高级查询 单元格行编辑的inputnumber: 最大值. 注:数值型 (inputnumber)
 * step: 高级查询 单元格行编辑的inputnumber: 点击上下键变化的步数. 注:数值型 (inputnumber)
 * precision: 高级查询 单元格行编辑的inputnumber: 小数位数. 注:数值型 (inputnumber)
 * list: 高级查询 单元格行编辑的select checkbox radio: 通用代码数组. (radio checkbox select)
 * format: 高级查询 单元格行编辑的 date datetime: 日期或者时间格式化. (date datetime)
 * submitFormat: 高级查询 单元格行编辑的 date datetime提交到后台时传的格式 (date datetime)
 *               formatTime代表格式化时间;timeStamp代表时间戳,默认时间戳.
 * showToday: 高级查询 单元格行编辑的 date: 日期是否展示今天. (date)
 * rows: 高级查询 单元格行编辑的 textarea: 行数. (textarea)
 **/

export default {
  name: 'PortalConfigDesignManage',
  components: {
    AvicAsyncComponent
  },
  mixins: [baseTableMixin, menuRefreshMixin],
  data() {
    return {
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      lookupParams, // 此模块通用代码
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData: [
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '编码',
          dataIndex: 'portletCode',
          scopedSlots: { customRender: 'portletCode' },
          sorter: true,
          isSearch: true,
          type: 'input',
          decorator: {
            rules: [{ max: 15, message: '不可超过15个字符！' }]
          },
          placeholder: '请输入编码'
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '名称',
          dataIndex: 'portletName',
          sorter: true,
          isSearch: true,
          type: 'input',
          decorator: {
            rules: [{ max: 15, message: '不可超过15个字符！' }]
          },
          placeholder: '请输入名称'
        },
        {
          isTableHidden: true,
          isFormHidden: false,
          isAuthFlag: false,
          title: '所属角色',
          dataIndex: 'resourceId',
          sorter: true,
          type: 'commonselect',
          placeholder: '请选择所属角色',
          controlType: 'roleSelect',
          selectModel: 'single'
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '是否默认',
          dataIndex: 'isDefault',
          sorter: true,
          align: 'center',
          type: 'radio',
          decorator: {
            initialValue: '0'
          },
          list: [
            { lookupName: '是', lookupCode: '1' },
            { lookupName: '否', lookupCode: '0' }
          ],
          formatter: ({ cellValue }) => {
            if (cellValue && cellValue === '1') {
              return '是';
            } else if (cellValue && cellValue === '0') {
              return '否';
            }
          }
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '应用范围类型',
          dataIndex: 'resourceType',
          sorter: true,
          align: 'center',
          type: 'radio',
          decorator: {
            initialValue: '1'
          },
          list: [
            { lookupName: '系统默认', lookupCode: '0' },
            { lookupName: '角色定义', lookupCode: '1' },
            { lookupName: '用户自定义', lookupCode: '2' }
          ],
          formatter: ({ cellValue }) => {
            if (cellValue && cellValue === '0') {
              return '系统默认';
            } else if (cellValue && cellValue === '1') {
              return '角色定义';
            } else if (cellValue && cellValue === '2') {
              return '用户自定义';
            }
          }
        },
        // {
        //   isTableHidden: true,
        //   isFormHidden: false,
        //   isAuthFlag: false,
        //   title: '排序',
        //   dataIndex: 'orderBy',
        //   scopedSlots: { customRender: 'orderBy' },
        //   sorter: true,
        //   isSearch: true,
        //   type: 'inputnumber',
        //   decorator: {
        //     rules: [{max: 15, message: '不可超过15个字符！'}]
        //   },
        //   placeholder: '请输入排序'
        // },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '描述',
          dataIndex: 'memo',
          sorter: true,
          type: 'textarea',
          decorator: {
            rules: [{ max: 4000, message: '不可超过4000个字符！' }]
          },
          placeholder: '请输入描述',
          rows: 2
        },
        {
          title: '操作',
          dataIndex: 'action',
          scopedSlots: { customRender: 'action' },
          align: 'center'
        }
      ], // 页面数据配置
      templateCode: 'mpmprojectinfo', // 导入模板编码
      tableRefName: 'BaseTableList', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      addModalRefName: 'addModal', // 添加弹窗ref名称
      editModalRefName: 'editModal', // 编辑弹窗ref名称
      designModalRefName: 'designModalRefName', //设计弹窗ref名称
      previewModalRefName: 'previewModalRefName', //预览弹窗ref名称
      delParam: {
        // manage页面删除的请求接口
        url: requestPublicUrl + '/deleteByIds/v1',
        method: 'post'
      },
      addUrl: 'views/avic/pt/system/portLet/portalConfig/PortalConfigDesignAdd',
      editUrl: 'views/avic/pt/system/portLet/portalConfig/PortalConfigDesignEdit',
      designError: false,
      designUrl: 'views/avic/pt/system/portLet/portalConfig/PortalConfigDesign',
      previewError: false,
      previewUrl: 'views/avic/pt/system/portLet/portalConfig/PortalConfigPreview'
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/togGetPortalConfigJsonDataByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.postAdvancedSearchParam // 高级查询数据
          },
          keyWord: this.postSearchParam, // 普通查询数据
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    // 属性内校验显隐权限
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    },
    menuRefresh() {
      // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
      this.menuRefreshReset();
    },
    previewSetting(e) {
      this.previewError = true;
      if (this.designError == true) {
        this.$refs[this.designModalRefName].$children[0].closeModal();
      }
      this.$nextTick(function () {
        this.$refs[this.previewModalRefName].$children[0].openModal(e);
      });
    },
    openDesignModal(e) {
      this.designError = true;
      this.$nextTick(function () {
        this.$refs[this.designModalRefName].$children[0].openModal(e);
      });
    }
  }
};
</script>
