<template>
  <AvicModal
    :visible="visible"
    modal-title="编辑桌面门户"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    wrap-class-name="table-modal-wrap"
    :adjust-size="true"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal" title="返回" :disabled="disabled">返回</a-button>
      <a-button
        type="primary"
        :loading="modalLoading"
        @click="saveForm($event, 'edit')"
        title="保存"
      >
        保存
      </a-button>
      <a-button
        type="primary"
        :loading="btnLoading"
        @click="saveForm($event, 'design')"
        title="保存并设计桌面门户"
      >
        保存并设计桌面门户
      </a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <a-form-item style="display: none">
        <a-input v-decorator="['version', { initialValue: '' }]" />
      </a-form-item>
      <!-- 默认两列 -->
      <!-- 布局: 一列  开始 -->
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="编码"
            >
              <a-input
                v-decorator="[
                  'portletCode',
                  {
                    rules: [
                      { required: true, message: '请输入编码！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 100)
                      }
                    ]
                  }
                ]"
                placeholder="请输入编码"
                :title="form.getFieldValue('portletCode')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="名称"
            >
              <a-input
                v-decorator="[
                  'portletName',
                  {
                    rules: [
                      { required: true, message: '请输入名称！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 200)
                      }
                    ]
                  }
                ]"
                placeholder="请输入名称"
                :title="form.getFieldValue('portletName')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="应用范围"
            >
              <a-radio-group
                v-decorator="[
                  'resourceType',
                  {
                    rules: [
                      { required: true, message: '请选择应用范围！' },
                      {
                        validator: (rule, value, callback) =>
                          validateCheckboxMaxlength(rule, value, callback, 10)
                      }
                    ],
                    initialValue: '1'
                  }
                ]"
                @change="handleRadioChange"
              >
                <a-radio value="0">系统默认</a-radio>
                <a-radio value="1">角色定义</a-radio>
                <a-radio value="2">用户自定义</a-radio>
              </a-radio-group>
              <!-- 单选 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="是否默认"
            >
              <a-radio-group
                v-decorator="[
                  'isDefault',
                  {
                    initialValue: '0'
                  }
                ]"
              >
                <a-radio value="1">是</a-radio>
                <a-radio value="0">否</a-radio>
              </a-radio-group>
              <!-- 单选 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.fixed.cols" v-if="isRole">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="角色"
            >
              <AvicCommonSelect
                v-decorator="[
                  'resourceId',
                  {
                    rules: [{ required: true, message: '请选择角色！' }]
                  }
                ]"
                type="roleSelect"
                select-model="single"
                :field-length="50"
                placeholder="请选择角色"
              />
              <!-- 选角色 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.fixed.cols" v-if="isUser">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="用户"
            >
              <AvicCommonSelect
                v-decorator="[
                  'resourceId',
                  {
                    rules: [{ required: true, message: '请选择用户！' }]
                  }
                ]"
                type="userSelect"
                select-model="single"
                :field-length="50"
                placeholder="请选择用户"
              />
              <!-- 选角色 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="描述"
            >
              <a-textarea
                v-decorator="[
                  'memo',
                  {
                    rules: [
                      { required: false, message: '请输入描述！' },
                      { max: 4000, message: '不可超过4000个字符！' }
                    ]
                  }
                ]"
                :rows="4"
                placeholder="请输入项目描述"
                :title="form.getFieldValue('memo')"
              />
              <!-- 文本域 -->
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
  </AvicModal>
</template>
<script>
import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
import { httpAction } from '@api/manage';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';

// 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'portletCode',
    type: 'input'
  },
  {
    dataIndex: 'portletName',
    type: 'input'
  },
  {
    dataIndex: 'resourceType',
    type: 'radio'
  },
  {
    dataIndex: 'isDefault',
    type: 'radio'
  },
  {
    dataIndex: 'resourceId',
    type: 'commonselect'
  },
  {
    dataIndex: 'memo',
    type: 'textarea'
  }
];
export default {
  name: 'MpmProjectInfoEdit',
  mixins: [baseModalFormMixin],
  props: {
    paramId: {
      // 初始查询参数
      type: String,
      default: ''
    }
  },
  data() {
    return {
      btnLoading: false, // 弹窗保存按钮loading状态
      modalFormData, // 表单数据
      detailParam: {
        // 弹窗详情的请求接口
        url: this.requestPublicUrl + '/get/v1/',
        method: 'get'
      },
      editParam: {
        // 编辑弹窗保存时的请求接口
        url: this.requestPublicUrl + '/update/v1',
        method: 'post'
      },
      attachmentRefName: 'avicAddUploaderFile', // 标志表单是否含有附件
      isUser: false,
      isRole: true
    };
  },
  mounted() {
    this.modalHandleDetailOrEdit(this.paramId);
  },
  methods: {
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      // 查看用户是否有未提交内容
      if (this.isDataChange) {
        // 数据有改动，提示用户
        this.Modal.confirm({
          title: '您有数据未提交，确定关闭弹窗吗？',
          onOk: () => {
            if (this.formSubmitTimes !== 0) {
              this.$emit('reloadData', true); // 已提交表单则刷新列表
            }
            this.$emit('close');
          }
        });
      } else {
        if (this.formSubmitTimes !== 0) {
          this.$emit('reloadData', true); // 已提交表单则刷新列表
        }
        this.$emit('close');
      }
    },
    /**
     * 点击manage页面的编辑按钮,调用的弹窗页方法: 回显数据
     * @param {String} id 行数据的id
     */
    modalHandleDetailOrEdit(id) {
      // 点击编辑按钮或者查看详情时,回显数据
      this.form.resetFields(); // 清空表单
      if (this.formId) {
        this.formId = '';
      }
      this.visible = true; // 打开弹窗
      let that = this;
      httpAction(this.detailParam.url + id, null, this.detailParam.method) // 请求数据
        .then(res => {
          if (res.success) {
            this.formId = res.result.id; // 设置附件formId
            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
            let data = new Object();
            for (let i = 0; i < this.modalFormData.length; i++) {
              data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
            }
            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
            let newData = new Object();
            for (let key in data) {
              if (data[key] !== null && data[key] !== '') {
                newData[key] = data[key];
              }
            }
            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
            for (let key in newData) {
              for (let i = 0; i < that.modalFormData.length; i++) {
                if (
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'date') ||
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'datetime')
                ) {
                  newData[key] = this.moment(data[key]);
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'checkbox'
                ) {
                  newData[key] = data[key].split(',');
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'commonselect'
                ) {
                  newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
                }
              }
            }
            this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
            let obj = {
              target: {
                value: newData.resourceType
              }
            };
            this.handleRadioChange(obj);
            this.$nextTick(() => {
              this.isDataChange = false;
            });
          }
        });
    },

    /**
     * 保存成功的处理函数
     */
    reloadList() {
      this.$message.success('保存成功！'); // 提示成功
      this.$emit('reloadData', false); // 刷新表格
      this.$emit('close');
    },
    /**
     * 保存
     */
    saveForm(e, type) {
      e.preventDefault();
      let that = this;
      this.form.validateFieldsAndScroll((err, values) => {
        // 校验表单并处理
        if (!err) {
          if (type == 'edit') {
            this.modalLoading = true;
          } else {
            this.btnLoading = true;
          }
          this.disabled = true; // 返回按钮不可用
          let newValues = formDataPretreatment(values, this.modalFormData); // 提交前数据处理
          httpAction(this.editParam.url, newValues, this.editParam.method) // 提交
            .then(res => {
              if (res.success) {
                // 保存成功后，记录提交成功次数
                that.formSubmitTimes++;
                // 多次保存，每次保存的version要不同，所以在保存后将version加1
                that.form.setFieldsValue({ version: Number(newValues.version) + 1 + '' });
                that.reloadList();
                // 保存并设计桌面，保存成功后，传递参数，并打开弹窗
                if (type == 'design') {
                  this.$emit('openDesignModal', {
                    id: res.result,
                    content: null,
                    portletName: newValues.portletName
                  });
                }
              } else {
                that.modalLoading = false; // 按钮关闭loading状态
                that.btnLoading = false; // 按钮关闭loading状态
                that.disabled = false; //返回按钮可用
              }
            })
            .catch(() => {
              that.modalLoading = false; // 按钮关闭loading状态
              that.btnLoading = false; // 按钮关闭loading状态
              that.disabled = false; //返回按钮可用
            });
        }
      });
    },
    /**
     * 点击radio
     */
    handleRadioChange(e) {
      //非初始化状态下选择情况选人框
      if ((e.target.value == '1' || e.target.value == '2') && e.target.checked) {
        this.form.setFieldsValue({ resourceId: { ids: '', names: '' } });
      }
      if (e.target.value == '0') {
        //选择系统默认
        this.isUser = false;
        this.isRole = false;
      } else if (e.target.value == '1') {
        //选择角色默认
        this.isUser = false;
        this.isRole = true;
      } else {
        this.isUser = true; //选择用户
        this.isRole = false;
      }
    }
  }
};
</script>
