<template>
  <AvicModal
    :visible="visible"
    modal-title="添加桌面门户"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    wrap-class-name="table-modal-wrap"
    :adjust-size="true"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal" title="返回" :disabled="disabled">返回</a-button>
      <a-button
        type="primary"
        :loading="modalLoading"
        @click="saveForm($event, 'add')"
        title="保存"
      >
        保存
      </a-button>
      <a-button
        type="primary"
        :loading="btnLoading"
        @click="saveForm($event, 'addAndDesign')"
        title="保存并设计桌面门户"
      >
        保存并设计桌面门户
      </a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <a-form-item style="display: none">
        <a-input v-decorator="['version', { initialValue: '' }]" />
      </a-form-item>
      <!-- 默认两列 -->
      <!-- 布局: 一列  开始 -->
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="编码"
            >
              <a-input
                v-decorator="[
                  'portletCode',
                  {
                    rules: [
                      { required: true, message: '请输入编码！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 100)
                      }
                    ]
                  }
                ]"
                placeholder="请输入编码"
                :title="form.getFieldValue('portletCode')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="名称"
            >
              <a-input
                v-decorator="[
                  'portletName',
                  {
                    rules: [
                      { required: true, message: '请输入名称！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 200)
                      }
                    ]
                  }
                ]"
                placeholder="请输入名称"
                :title="form.getFieldValue('portletName')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="应用范围"
            >
              <a-radio-group
                v-decorator="[
                  'resourceType',
                  {
                    rules: [
                      { required: true, message: '请选择应用范围！' },
                      {
                        validator: (rule, value, callback) =>
                          validateCheckboxMaxlength(rule, value, callback, 10)
                      }
                    ],
                    initialValue: '1'
                  }
                ]"
                @change="handleRadioChange"
              >
                <a-radio value="0">系统默认</a-radio>
                <a-radio value="1">角色定义</a-radio>
                <a-radio value="2">用户自定义</a-radio>
              </a-radio-group>
              <!-- 单选 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="是否默认"
            >
              <a-radio-group
                v-decorator="[
                  'isDefault',
                  {
                    initialValue: '0'
                  }
                ]"
              >
                <a-radio value="1">是</a-radio>
                <a-radio value="0">否</a-radio>
              </a-radio-group>
              <!-- 单选 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.fixed.cols" v-if="isRole">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="角色"
            >
              <AvicCommonSelect
                v-decorator="[
                  'resourceId',
                  {
                    rules: [{ required: true, message: '请选择角色！' }]
                  }
                ]"
                type="roleSelect"
                select-model="single"
                :field-length="50"
                placeholder="请选择角色"
              />
              <!-- 选角色 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.fixed.cols" v-if="isUser">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="用户"
            >
              <AvicCommonSelect
                v-decorator="[
                  'resourceId',
                  {
                    rules: [{ required: true, message: '请选择用户！' }]
                  }
                ]"
                type="userSelect"
                select-model="single"
                :field-length="50"
                placeholder="请选择用户"
              />
              <!-- 选角色 -->
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="描述"
            >
              <a-textarea
                v-decorator="[
                  'memo',
                  {
                    rules: [
                      { required: false, message: '请输入描述！' },
                      { max: 4000, message: '不可超过4000个字符！' }
                    ]
                  }
                ]"
                :rows="4"
                placeholder="请输入项目描述"
                :title="form.getFieldValue('memo')"
              />
              <!-- 文本域 -->
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
  </AvicModal>
</template>
<script>
import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
import { httpAction } from '@api/manage';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';

// 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'portletCode',
    type: 'input'
  },
  {
    dataIndex: 'portletName',
    type: 'input'
  },
  {
    dataIndex: 'resourceType',
    type: 'radio'
  },
  {
    dataIndex: 'isDefault',
    type: 'radio'
  },
  {
    dataIndex: 'resourceId',
    type: 'commonselect'
  },
  {
    dataIndex: 'memo',
    type: 'textarea'
  }
];
export default {
  name: 'MpmProjectInfoAdd',
  mixins: [baseModalFormMixin],
  data() {
    return {
      btnLoading: false, // 弹窗保存按钮loading状态
      modalFormData, // 表单数据
      addParam: {
        // 添加弹窗保存时的请求接口
        url: this.requestPublicUrl + '/save/v1',
        method: 'post'
      },
      editParam: {
        // 多次保存时的请求接口
        url: this.requestPublicUrl + '/update/v1',
        method: 'post'
      },
      isUser: false,
      isRole: true
    };
  },
  mounted() {
    this.addModalHandleAdd();
  },
  methods: {
    /**
     * 点击manage页面的添加按钮调用的弹窗页方法
     */
    addModalHandleAdd() {
      this.form.resetFields(); // 清空添加弹窗表单
      if (this.formId) {
        // 清空附件的formId
        this.formId = '';
      }
      this.visible = true; // 打开添加弹窗
      this.$nextTick(() => {
        this.initFormData = this.form.getFieldsValue(); // 记录表单初始化数据
      });
    },
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      // 查看用户是否有未提交内容
      if (this.isDataChange) {
        // 数据有改动，提示用户
        this.Modal.confirm({
          title: '您有数据未提交，确定关闭弹窗吗？',
          onOk: () => {
            if (this.formSubmitTimes !== 0) {
              this.$emit('reloadData', true); // 已提交表单则刷新列表
            }
            this.$emit('close');
          }
        });
      } else {
        if (this.formSubmitTimes !== 0) {
          this.$emit('reloadData', true); // 刷新列表
        }
        this.$emit('close');
      }
    },
    /**
     * 保存成功的处理函数
     */
    reloadList() {
      this.$message.success('保存成功！'); // 提示成功
      this.$emit('reloadData', true); // 刷新列表
      this.$emit('close');
    },
    /**
     * 保存
     */
    saveForm(e, type) {
      e.preventDefault();
      let that = this;
      this.form.validateFieldsAndScroll((err, values) => {
        // 校验表单并处理
        if (!err) {
          if (type == 'add') {
            this.modalLoading = true;
          } else {
            this.btnLoading = true;
          }
          // 按钮开启loading状态
          this.disabled = true; // 返回按钮不可用
          let newValues = formDataPretreatment(values, this.modalFormData); // 提交前数据处理
          // 如果第一次保存失败，后面进行的保存需要走编辑保存接口
          let postData = {};
          if (this.formId) {
            if (newValues.version == '') {
              newValues.version = '0';
              this.form.setFieldsValue({ version: newValues.version });
            } else {
              newValues.version = Number(newValues.version) + 1 + '';
              this.form.setFieldsValue({ version: newValues.version });
            }
            postData = {
              url: this.editParam.url,
              params: {
                ...newValues,
                id: this.formId // 注意id要写在后面，以盖掉newValues中的id
              },
              method: this.editParam.method
            };
          } else {
            postData = {
              url: this.addParam.url,
              params: newValues,
              method: this.addParam.method
            };
          }
          // 请求接口
          httpAction(postData.url, postData.params, postData.method)
            .then(res => {
              if (res.success) {
                // 保存成功后，记录提交成功次数
                that.formSubmitTimes++;
                // 保存成功后，记录下表单数据
                that.oldFormData = that.form.getFieldsValue();
                // 保存并设计桌面，保存成功后，传递参数，并打开弹窗
                if (type == 'addAndDesign') {
                  this.$emit('openDesignModal', {
                    id: res.result,
                    content: null,
                    portletName: newValues.portletName
                  });
                }
                that.reloadList();
              } else {
                that.modalLoading = false; // 按钮关闭loading状态
                that.btnLoading = false; // 按钮关闭loading状态
                that.disabled = false; //返回按钮可用
              }
            })
            .catch(() => {
              that.btnLoading = false; // 按钮关闭loading状态
              that.modalLoading = false; // 按钮关闭loading状态
              that.disabled = false; //返回按钮可用
            });
        }
      });
    },
    /**
     * 点击radio
     */
    handleRadioChange(e) {
      //非初始化状态下选择情况选人框
      if (e.target.value == '1' || e.target.value == '2') {
        this.form.setFieldsValue({ resourceId: { ids: '', names: '' } });
      }
      if (e.target.value == '0') {
        //选择系统默认
        this.isUser = false;
        this.isRole = false;
      } else if (e.target.value == '1') {
        //选择角色默认
        this.isUser = false;
        this.isRole = true;
      } else {
        this.isUser = true; //选择用户
        this.isRole = false;
      }
    }
  }
};
</script>
