<template>
  <div class="bpm-start-process">
    <a-tabs default-active-key="favProcess" v-model="activeKey" class="avic-module-tab">
      <div slot="tabBarExtraContent" class="process-tab-search">
        <div style="margin-right: 16px">
          <a-input-search v-model="keyword" placeholder="快速查询" />
        </div>
        <a-button-group v-show="activeKey != 'favProcess'" class="process-show-type">
          <a-button
            :type="showType === 'group' ? 'primary' : 'default'"
            icon="appstore"
            class="process-show-type-btn"
            @click="changeShowType('group')"
          />
          <a-button
            :type="showType !== 'group' ? 'primary' : 'default'"
            icon="unordered-list"
            class="process-show-type-btn"
            @click="changeShowType('list')"
          />
        </a-button-group>
        <div v-if="activeKey != 'favProcess' && showType != 'group'" class="process-show-type">
          <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
        </div>
        <div v-if="activeKey != 'favProcess' && showType != 'group'" class="process-show-type">
          <AvicTableColumnSettings
            :init-setting-columns="initSettingColumns"
            :default-setting-columns="selectColumns"
            @colMenuSelect="changeColumns"
          />
        </div>
      </div>
      <a-tab-pane key="favProcess" tab="常用流程" class="process-tab-pane">
        <div class="process-tab-content">
          <a-row :gutter="[12, 12]">
            <template v-for="item in favProcess">
              <a-col v-if="filterProcessByKeyword(item.pdName)" :key="item.id" v-bind="colspan">
                <div class="process-grid">
                  <div class="fav-process-item">
                    <div class="process-icon" :style="{ background: item.bgc }">
                      <a-icon type="branches" />
                    </div>
                  </div>
                  <div class="fav-process-item process-title" :title="item.pdName">
                    {{ item.pdName }}
                  </div>
                  <span class="fav-process-item process-version">
                    {{ `版本：V${item.pdVersion}` }}
                  </span>
                  <div class="fav-process-item process-type">
                    类型：{{ item.isUflow | processType }}
                  </div>
                  <div class="fav-process-item process-fav-status">
                    <a-icon type="star" theme="filled" @click.stop="saveFavProcess(item, '1')" />
                  </div>
                  <div class="fav-process-item">
                    <a-button
                      icon="plus-circle"
                      class="process-start theme-main-hover-bg"
                      @click="doStartProcess(item.pdId, item.pdName)"
                    >
                      发起流程
                    </a-button>
                  </div>
                </div>
              </a-col>
            </template>
          </a-row>
        </div>
      </a-tab-pane>
      <a-tab-pane key="allProcess" tab="全部流程" force-render class="process-tab-pane">
        <div class="process-tab-content">
          <a-collapse
            v-if="showType === 'group'"
            :active-key="expandPanels"
            :default-active-key="expandPanels"
            :bordered="false"
            expand-icon-position="left"
          >
            <template v-for="catalog in processModelTree">
              <a-collapse-panel
                v-show="countCatalogByKeyword(catalog) > 0"
                :key="catalog.catalogId"
                :style="collapseStyle"
              >
                <div slot="header">
                  <div class="process-model-group">
                    {{ `${catalog.catalogName}(${countCatalogByKeyword(catalog)})` }}
                  </div>
                </div>
                <template v-for="item in catalog.children">
                  <a-col
                    v-if="filterProcessByKeyword(item.pdName)"
                    :key="item.pdId"
                    v-bind="allProcessColspan"
                    @click="doStartProcess(item.pdId, item.pdName)"
                  >
                    <div class="process-model-item theme-main-hover-color">
                      <a-icon
                        type="branches"
                        class="process-item-icon"
                        :style="{ color: colorList[Math.floor(Math.random() * 4)].fColor }"
                      />
                      <div class="process-item-name" :title="item.pdName">{{ item.pdName }}</div>
                      <div class="process-item-type">({{ item.isUflow | processType }})</div>
                      <a-icon type="play-circle" class="process-item-start" title="发起流程" />
                      <a-icon
                        v-if="checkFavProcess(item.pdId)"
                        type="star"
                        theme="filled"
                        class="process-item-fav fav-icon"
                        @click.stop="saveFavProcess(item, '1')"
                        title="关注"
                      />
                      <a-icon
                        v-else
                        type="star"
                        class="process-item-fav"
                        @click.stop="saveFavProcess(item, '0')"
                        title="取消关注"
                      />
                    </div>
                  </a-col>
                </template>
              </a-collapse-panel>
            </template>
          </a-collapse>
          <!-- 表格 -->
          <div v-else class="table-wrapper">
            <AvicBaseTable
              :is-auto-count-scroll-x="true"
              :default-col-width="100"
              :columns="selectColumns"
              :table-size="tableSize"
              :data-source="processModelList"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
            >
              <!-- 流程标题 -->
              <template slot="pdName" scope="obj">
                {{ `${obj.data.pdName} V${obj.data.pdVersion}` }}({{
                  obj.data.isUflow | processType
                }})
              </template>
              <!-- 收藏状态-->
              <template slot="favStatus" scope="obj">
                {{ checkFavProcess(obj.data.pdId) ? '已收藏' : '未收藏' }}
              </template>
              <!-- 表格操作列 -->
              <template slot="action" scope="obj">
                <a
                  href="javascript:;"
                  class="table-detail-link"
                  @click="doStartProcess(obj.data.pdId, obj.data.pdName)"
                >
                  发起流程
                </a>
                <a
                  v-if="checkFavProcess(obj.data.pdId)"
                  href="javascript:;"
                  class="table-detail-link"
                  @click="saveFavProcess(obj.data, '1')"
                >
                  <a-divider type="vertical" />
                  取消收藏
                </a>
                <a
                  v-else
                  href="javascript:;"
                  class="table-detail-link"
                  @click="saveFavProcess(obj.data, '0')"
                >
                  <a-divider type="vertical" />
                  收藏
                </a>
              </template>
            </AvicBaseTable>
          </div>
        </div>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>
<script>
import config from '@config/defaultSettings';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { httpAction } from '@/api/manage';
import { menuRefreshMixin } from '@/mixins/avic/pt/MenuRefreshMixin';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
let dataIndex = ['pdName', 'favStatus', 'action'];
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_BPMSTARTPROCESS';
export default {
  name: 'BpmStartProcess',
  filters: {
    processType(val) {
      return val === '2' ? '自由流程' : '固定流程';
    }
  },
  mixins: [menuRefreshMixin, baseTableMixin],
  data: () => {
    return {
      moduleName, // 模块名称
      dataIndex,
      expandPanels: [],
      activeKey: 'favProcess',
      showType: 'group',
      pagination: {
        // 分页
        showQuickJumper: true,
        showSizeChanger: true,
        defaultCurrent: 1,
        defaultPageSize: 10,
        pageSizeOptions: config.tablePageSize,
        showTotal: (total, range) => {
          return '第' + range[0] + '到第' + range[1] + '条' + '  ' + '共' + total + '条';
        }
      },
      colspan: { xs: 8, sm: 8, md: 6, lg: 6, xl: 4, xxl: 3 },
      allProcessColspan: { xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 },
      colorList: [
        { color: 'linear-gradient(180deg, #CCBBFF, #a88cff)', fColor: '#a88cff' },
        { color: 'linear-gradient(180deg, #9ec4f4, #5fa4ff)', fColor: '#5fa4ff' },
        { color: 'linear-gradient(180deg, #A1E0C2, #66CCCC)', fColor: '#66CCCC' },
        { color: 'linear-gradient(180deg, #ffc499, #ff964a)', fColor: '#ff964a' }
      ],
      collapseStyle: 'background:#fff;border: 0;color: #67758D;',
      rowKey: 'pdId', // 表格主键字段
      keyword: '',
      filterIndex: 0,
      favProcessList: [],
      isFavProcess: false,
      processModelTree: [],
      processModelGroup: [],
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      },
      httpConfig: {
        getFavProcess: {
          url: bpmUtils.baseurl + '/business/getBmpFavs/v1',
          method: 'post'
        },
        getProcessModelTree: {
          url: bpmUtils.baseurl + '/business/processStartView/v1',
          method: 'get'
        },
        saveFavProcess: {
          url: bpmUtils.baseurl + '/business/doBmpFav/v1',
          method: 'post'
        },
        deleteFavProcess: {
          url: bpmUtils.baseurl + '/business/doBmpFav/v1',
          method: 'post'
        }
      },
      backgroundColorEnum: ['#3398FF', '#2BCA41', '#FFBD2D', '#FF5E57'],
      customStyle:
        'background: #f7f7f7;border-radius: 2px;margin-bottom: 12px;border: 0;overflow: hidden'
    };
  },
  computed: {
    columns() {
      let columns = [
        {
          title: '标题',
          dataIndex: 'pdName',
          scopedSlots: { customRender: 'pdName' },
          sorter: false
        },
        {
          title: '描述',
          dataIndex: 'description',
          scopedSlots: { customRender: 'description' },
          sorter: false
        },
        {
          title: '发布人',
          dataIndex: 'designer',
          scopedSlots: { customRender: 'designer' },
          width: 90,
          align: 'center',
          sorter: false
        },
        {
          title: '发布时间',
          dataIndex: 'createDate',
          width: 140,
          align: 'center',
          sorter: false
        },
        {
          title: '收藏状态',
          dataIndex: 'favStatus',
          scopedSlots: { customRender: 'favStatus' },
          width: 100,
          align: 'center',
          sorter: false
        },
        {
          title: '操作',
          dataIndex: 'action',
          scopedSlots: { customRender: 'action' },
          width: 150
        }
      ];
      return columns;
    },
    favProcess() {
      let result = [];
      if (this.favProcessList.length && this.processModelTree.length) {
        this.favProcessList.map(fav => {
          let favProcess = this.findProcessById(fav.pdid);
          if (favProcess) {
            result.push(favProcess);
          }
        });
      }
      result.map(item => {
        item.bgc = this.colorList[Math.floor(Math.random() * 4)].color;
      });
      return result;
    },
    processModelList() {
      let data = [];
      this.processModelTree.map(catalog => {
        if (catalog.children.length) {
          catalog.children.map(process => {
            if (this.filterProcessByKeyword(process.pdName)) {
              let item = { ...process };
              item.catalogId = catalog.catalogId;
              item.favStatus = this.checkFavProcess(item.pdId);
              data.push(item);
            }
          });
        }
      });
      return data;
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    menuRefresh() {
      this.loadData();
      this.keyword = '';
    },
    changeShowType(showType) {
      this.showType = showType;
    },
    findProcessById(pdId) {
      let result = null;
      if (this.processModelTree.length) {
        this.processModelTree.map(catalog => {
          if (catalog.children.length) {
            catalog.children.map(process => {
              if (process.pdId === pdId) {
                result = Object.assign({}, process);
              }
            });
          }
        });
      }
      return result;
    },
    loadData() {
      this.getFavProcess();
      this.getProcessModelTree();
    },
    filterProcessByKeyword(pdName) {
      return pdName.indexOf(this.keyword) !== -1;
    },
    countCatalogByKeyword(catalog) {
      let count = 0;
      catalog.children.map(item => {
        if (item.pdName.indexOf(this.keyword) !== -1) {
          count++;
        }
      });
      return count;
    },
    getFavProcess() {
      httpAction(this.httpConfig.getFavProcess.url, {}, this.httpConfig.getFavProcess.method)
        .then(res => {
          if (res.success) {
            this.favProcessList = res.result.data;
          } else {
            this.favProcessList = [];
          }
        })
        .catch(e => {
          this.favProcessList = [];
        });
    },
    getProcessModelTree() {
      httpAction(
        this.httpConfig.getProcessModelTree.url,
        null,
        this.httpConfig.getProcessModelTree.method
      )
        .then(res => {
          if (res.success) {
            this.processModelTree = res.result;
            this.expandPanels = [];
            res.result.map((item, index) => {
              this.expandPanels.push(item.catalogId);
            });
          }
        })
        .catch(e => {});
    },
    checkFavProcess(pdId) {
      let result = false;
      this.favProcessList.map(item => {
        if (item.pdid === pdId) {
          result = true;
        }
      });
      return result;
    },
    saveFavProcess(process, actType) {
      let value =
        process.pdId +
        '@@' +
        process.pdName +
        'V' +
        process.pdVersion +
        '(' +
        (process.isUflow === '2' ? '自由流程' : '固定流程') +
        ')';
      this.handleSaveFavProcess(value, actType);
    },
    handleSaveFavProcess(data, actType) {
      let param = {
        act: actType == '0' ? 'follow' : 'unfollow',
        value: data
      };
      httpAction(this.httpConfig.saveFavProcess.url, param, this.httpConfig.saveFavProcess.method)
        .then(res => {
          if (res.success) {
            if (actType == '0') {
              this.$message.success('收藏成功');
            } else if (actType == '1') {
              this.$message.success('取消收藏');
            }
            this.getFavProcess();
          }
        })
        .catch(e => {});
    },
    doStartProcess(pdId, pdName) {
      bpmUtils
        .addListStart(pdId, pdName)
        .then(res => {})
        .catch(() => {
          this.$message.error('启动流程失败!');
        });
    }
  }
};
</script>
<style lang="less">
@import './style/base.less';
</style>
