<template>
  <!-- 我的会议 -->
  <a-spin :spinning="loading" class="meeting-spin" id="meetingSpin">
    <div class="meeting-content">
      <ul>
        <li v-for="(item, index) in meetingList" :key="item.id">
          <div class="content-left">
            <div
              v-show="
                index == 0 ||
                item.startTime.substring(0, 10) != meetingList[index - 1].startTime.substring(0, 10)
              "
            >
              <p class="ri" :title="item.startTime.substring(8, 10)">
                {{ item.startTime.substring(8, 10) }}
              </p>
              <p class="nianyue" :title="item.startTime.substring(0, 7)">
                {{ item.startTime.substring(0, 7) }}
              </p>
            </div>
          </div>
          <div class="line" />
          <div class="circle">
            <span class="inner-circle" :class="getMeetingCircleClass(item, index)" />
          </div>
          <div :class="'content-right ' + getMeetingStatusTxtClass(item)">
            <span class="meeting-arrow" />
            <div class="content-right-left">
              <p class="meeting" :title="item.meetingName" @click="handleDetail(item.id)">
                {{ item.meetingName }}
              </p>
              <p class="meetinginfo">
                <span style="margin-right: 16px">
                  <a-icon type="history" style="margin-right: 3px" />
                  <span style="color: #60a9db; font-size: 12px">{{
                    item.startTime.substring(11, 16)
                  }}</span>
                </span>
                <span>
                  <a-icon type="environment" style="margin-right: 3px" />
                  <span style="font-size: 12px">{{ item.meetingRoomName }}</span>
                </span>
              </p>
            </div>
            <div class="content-right-right">
              <a-progress
                type="circle"
                :width="45"
                :percent="getMeetingStatusPercent(item)"
                :stroke-color="getMeetingStatusColor(item)"
              >
                <template>
                  <span style="font-size: 12px" :class="getMeetingStatusTxtClass(item)">{{
                    getMeetingStatusTxt(item)
                  }}</span>
                </template>
              </a-progress>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <a-modal
      :visible="visible"
      :centered="true"
      :closable="false"
      :mask="false"
      :footer="null"
      :width="200"
      wrap-class-name="tip-modal"
      :get-container="instance => getContainer(instance)"
    >
      <p>
        <a-icon
          type="info-circle"
          theme="filled"
          style="color: #faad14; margin-right: 5px"
        />您已触发流量控制！
      </p>
    </a-modal>
  </a-spin>
</template>

<script>
import { httpAction } from '@api/manage';
import { mapGetters } from 'vuex';
import { Spin, Modal } from 'ant-design-vue';
export default {
  name: 'DemoMeetingPlanPortal',
  components: {
    ASpin: Spin,
    AModal: Modal
  },
  data() {
    return {
      meetingList: [],
      queryParam: {
        url: '/api/demo/meeting/demomeetingplan/DemoMeetingPlanRest/searchByPage/v1',
        param: {
          pageParameter: {
            page: '1',
            rows: '20'
          },
          searchParams: {},
          keyWord: JSON.stringify({
            meetingUser: this.nickname(),
            participants: this.userInfo().id
          }),
          sidx: 'startTime',
          sord: 'desc'
        },
        method: 'post'
      },
      loading: false,
      visible: false
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    ...mapGetters(['nickname', 'userInfo']),
    getMeetingCircleClass(item, index) {
      // 大圈 big-circle
      // 小圈 small-circle
      // 未开始 nostart-circle
      // 进行中 doing-circle
      // 已完成 done-circle
      let currentTime = new Date();
      let startTime = item.startTime;
      startTime = startTime.replace('-', '/');
      startTime = new Date(Date.parse(startTime));
      let endTime = item.endTime;
      endTime = endTime.replace('-', '/');
      endTime = new Date(Date.parse(endTime));
      if (
        index == 0 ||
        item.startTime.substring(0, 10) != this.meetingList[index - 1].startTime.substring(0, 10)
      ) {
        if (currentTime < startTime) {
          return 'big-circle nostart-circle';
        } else if (currentTime >= startTime && currentTime <= endTime) {
          return 'big-circle doing-circle';
        } else {
          return 'big-circle done-circle';
        }
      } else {
        if (currentTime < startTime) {
          return 'small-circle nostart-circle';
        } else if (currentTime >= startTime && currentTime <= endTime) {
          return 'small-circle doing-circle';
        } else {
          return 'small-circle done-circle';
        }
      }
    },
    getMeetingStatusPercent(item) {
      // 未开始 0
      // 进行中 计算
      // 已完成 100%
      let currentTime = new Date();
      let startTime = item.startTime;
      startTime = startTime.replace('-', '/');
      startTime = new Date(Date.parse(startTime));
      let endTime = item.endTime;
      endTime = endTime.replace('-', '/');
      endTime = new Date(Date.parse(endTime));
      if (currentTime < startTime) {
        return 0;
      } else if (currentTime >= startTime && currentTime <= endTime) {
        return ((currentTime - startTime) / (endTime - startTime)) * 100;
      } else {
        return 100;
      }
    },
    getMeetingStatusColor(item) {
      // 未开始 #666
      // 进行中 #08B68F
      // 已完成 #ADACAD
      let currentTime = new Date();
      let startTime = item.startTime;
      startTime = startTime.replace('-', '/');
      startTime = new Date(Date.parse(startTime));
      let endTime = item.endTime;
      endTime = endTime.replace('-', '/');
      endTime = new Date(Date.parse(endTime));
      if (currentTime < startTime) {
        return '#666';
      } else if (currentTime >= startTime && currentTime <= endTime) {
        return '#08B68F';
      } else {
        console.log(1);
        return '#ADACAD';
      }
    },
    getMeetingStatusTxt(item) {
      let currentTime = new Date();
      let startTime = item.startTime;
      startTime = startTime.replace('-', '/');
      startTime = new Date(Date.parse(startTime));
      let endTime = item.endTime;
      endTime = endTime.replace('-', '/');
      endTime = new Date(Date.parse(endTime));
      if (currentTime < startTime) {
        return '未开始';
      } else if (currentTime >= startTime && currentTime <= endTime) {
        return '进行中';
      } else {
        return '已完成';
      }
    },
    getMeetingStatusTxtClass(item) {
      // 未开始 nostart
      // 进行中 doing
      // 已完成 done
      let currentTime = new Date();
      let startTime = item.startTime;
      startTime = startTime.replace('-', '/');
      startTime = new Date(Date.parse(startTime));
      let endTime = item.endTime;
      endTime = endTime.replace('-', '/');
      endTime = new Date(Date.parse(endTime));
      if (currentTime < startTime) {
        return 'nostart';
      } else if (currentTime >= startTime && currentTime <= endTime) {
        return 'doing';
      } else {
        return 'done';
      }
    },
    loadData() {
      this.loading = true;
      httpAction(
        this.queryParam.url,
        this.queryParam.param,
        this.queryParam.method,
        true,
        true,
        true,
        true,
        '',
        4,
        [429]
      )
        .then(res => {
          if (res.success && res.result) {
            this.meetingList = res.result.result;
          }
          this.loading = false;
        })
        .catch(error => {
          this.meetingList = [];
          this.loading = false;
          if (error.response.status == '429') {
            this.visible = true;
            setTimeout(() => {
              this.visible = false;
            }, 2000);
          }
        });
    },
    getContainer() {
      return document.getElementById('meetingSpin');
    },
    handleDetail(id) {
      if (id == '' || id == null) {
        return;
      }
      let windowName = 'NewContentDetailWin';
      let url = 'avic/pt/examples/meetingDemo/demomeetingplan/DemoMeetingPlanPortalDetail';
      url = url + '?id=' + id;
      let urlStr = url.split('?');
      url = encodeURIComponent(urlStr[0].replace(RegExp('/', 'g'), '_')) + '?' + urlStr[1];
      window.open('/routerContentLoader/' + url, windowName);
    }
  }
};
</script>

<style lang="less">
.meeting-spin.ant-spin-nested-loading,
.meeting-spin.ant-spin-nested-loading .ant-spin-container {
  height: 100%;
}
.meeting-content {
  height: 100%;
  padding: 16px;
  li {
    position: relative;
    margin: 0;
    padding: 0 0 20px;
    font-size: 14px;
    list-style: none;
  }
  .line {
    position: absolute;
    top: 16px;
    left: 20%;
    height: calc(100% - 8px);
    border-left: 2px solid #e8e8e8;
  }
  .circle {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 2px;
    margin-left: -5px;
    width: 12px;
    height: 12px;
    .inner-circle {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: 2px solid #11b590;
    }
    .small-circle {
      width: 10px;
      height: 10px;
      position: relative;
      left: 1px;
    }
    .nostart-circle {
      border-color: #666;
    }
    .doing-circle {
      border-color: #08b68f;
    }
    .done-circle {
      border-color: #adacad;
    }
  }
  p {
    margin-bottom: 0;
  }
  .content-left {
    position: relative;
    top: -20px;
    display: inline-block;
    margin-left: 18px;
    padding-right: 12px;
    width: calc(20% - 18px);
    text-align: right;
    .ri {
      color: #1b1b1b;
      font-size: 18px;
    }
    .nianyue {
      color: #828689;
      font-size: 12px;
    }
  }
  .content-right {
    background-color: #fafafa;
    border-radius: 3px;
    display: inline-block;
    top: -1px;
    margin-right: 18px;
    margin-left: 18px;
    padding: 5px 8px;
    min-width: 50%;
    max-width: calc(80% - 36px);
    text-align: left;
    position: relative;
    border: 2px solid #eee;
    transition: all 0.3s;
    .meeting-arrow {
      position: absolute;
      left: -7px;
      top: 7px;
      width: 10px;
      height: 10px;
      border-left: 2px solid #eee;
      border-top: 2px solid #eee;
      transform: rotate(-45deg);
      background: #fafafa;
    }
    &.doing {
      border-color: #08b68f;
      background: #f2fffc;
      .meeting-arrow {
        border-color: #08b68f;
        background: #f2fffc;
      }
    }
    &:hover {
      box-shadow: 0 0 6px rgba(231, 231, 231, 0.8);
      &.doing {
        box-shadow: 0 0 6px rgba(8, 182, 143, 0.7);
      }
    }
    .content-right-left {
      float: left;
      width: calc(100% - 60px);
      .meeting {
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      .meeting:hover {
        color: #1890ff;
      }
      .meetinginfo {
        color: #b6b6b1;
      }
    }
    .content-right-right {
      float: left;
      margin-left: 15px;
    }
    .nostart {
      color: #666;
    }
    .doing {
      color: #08b68f;
    }
    .done {
      color: #adacad;
    }
  }
}
.tip-modal {
  .ant-modal-header {
    display: none;
  }
  .ant-modal-body {
    padding: 10px 16px;
    p {
      margin: 0;
    }
  }
}
</style>
