<template>
  <a-modal
    class="table-modal"
    title="详情"
    :visible="visible"
    :style="detailModalWidthAndHeight.modalStyle"
    :width="detailModalWidthAndHeight.modalStyle.width"
    :body-style="detailModalWidthAndHeight.bodyStyle"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal" title="返回">返回</a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="名称"
            >
              <a-input
                v-decorator="['meetingName']"
                :disabled="true"
                :title="form.getFieldValue('meetingName')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议类型"
            >
              <a-select
                v-decorator="['meetingType']"
                :get-popup-container="triggerNode => triggerNode.parentNode"
                :disabled="true"
              >
                <a-select-option
                  v-for="item in meetingTypeList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="发起人"
            >
              <a-input
                v-decorator="['meetingUser']"
                :disabled="true"
                :title="form.getFieldValue('meetingUser')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="所在部门"
            >
              <a-input
                v-decorator="['deptId']"
                :disabled="true"
                :title="form.getFieldValue('deptId')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请时间"
            >
              <a-date-picker
                v-decorator="['applicationTime']"
                format="YYYY-MM-DD HH:mm:ss"
                :disabled="true"
                :title="formatDate(form.getFieldValue('applicationTime'), 'YYYY-MM-DD HH:mm:ss')"
              />
              <!-- 日期 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="联系电话"
            >
              <a-input v-decorator="['tel']" :disabled="true" :title="form.getFieldValue('tel')" />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="议题"
            >
              <a-textarea v-decorator="['topic']" :rows="6" :disabled="true" />
              <!-- 文本域 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="参会人员"
            >
              <AvicCommonSelect
                v-decorator="['participants']"
                type="userSelect"
                select-model="single"
                :disabled="true"
              />
              <!-- 选人 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议形式"
            >
              <a-radio-group v-decorator="['meetingForm']" :disabled="true">
                <a-radio
                  v-for="item in meetingFormList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-radio>
              </a-radio-group>
              <!-- 单选 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议室"
            >
              <a-select
                v-decorator="['meetingRoom']"
                :get-popup-container="triggerNode => triggerNode.parentNode"
                :disabled="true"
              >
                <a-select-option
                  v-for="item in meetingRoomList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议开始时间"
            >
              <a-date-picker
                v-decorator="['startTime']"
                format="YYYY-MM-DD HH:mm:ss"
                :disabled="true"
                :title="formatDate(form.getFieldValue('startTime'), 'YYYY-MM-DD HH:mm:ss')"
              />
              <!-- 日期 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议结束时间"
            >
              <a-date-picker
                v-decorator="['endTime']"
                format="YYYY-MM-DD HH:mm:ss"
                :disabled="true"
                :title="formatDate(form.getFieldValue('endTime'), 'YYYY-MM-DD HH:mm:ss')"
              />
              <!-- 日期 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row />
        <a-row>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="附件上传"
              class="avic-form-item-file-upload"
            >
              <AvicUploader
                key="1"
                element-id="1"
                form-type="detail"
                :allow-add="true"
                :allow-delete="false"
                :allow-preview="true"
                :allow-download="true"
                :update-level="false"
                :colspan="2"
                :form-id="formId"
              />
              <!-- 附件上传 -->
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
  </a-modal>
</template>
<script>
import { Modal, Form, Col, Input, Radio, Select, DatePicker } from 'ant-design-vue';
import moment from 'moment';
import { httpAction } from '@api/manage';
import { loadLookUp } from '@utils/avic/http/loadLookUp';
import { formColLayout, modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { formatDate } from '@utils/avic/common/format';
import { mapGetters } from 'vuex';
// 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },

  {
    dataIndex: 'meetingName',
    type: 'input'
  },

  {
    dataIndex: 'meetingType',
    type: 'select'
  },

  {
    dataIndex: 'meetingUser',
    type: 'input'
  },

  {
    dataIndex: 'deptId',
    type: 'input'
  },

  {
    dataIndex: 'applicationTime',
    type: 'datetime'
  },

  {
    dataIndex: 'tel',
    type: 'input'
  },

  {
    dataIndex: 'topic',
    type: 'textarea'
  },

  {
    dataIndex: 'participants',
    type: 'commonselect'
  },

  {
    dataIndex: 'meetingForm',
    type: 'radio'
  },

  {
    dataIndex: 'meetingRoom',
    type: 'select'
  },

  {
    dataIndex: 'startTime',
    type: 'datetime'
  },

  {
    dataIndex: 'endTime',
    type: 'datetime'
  }
];
export default {
  name: 'DemoMeetingPlanDetail',
  components: {
    AModal: Modal,
    AForm: Form,
    ACol: Col,
    AFormItem: Form.Item,
    AInput: Input,
    ARadioGroup: Radio.Group,
    ARadio: Radio,
    ASelect: Select,
    ASelectOption: Select.Option,
    ADatePicker: DatePicker,
    ATextarea: Input.TextArea,
    AvicUploader: () => import('@comp/avic/pt/common/AvicUploader'),
    AvicCommonSelect: () => import('@comp/avic/pt/org/AvicCommonSelect')
  },
  props: {
    layout: {
      // 一行几列布局参数
      type: String,
      default: '2'
    },
    requestPublicUrl: {
      // 请求地址路径的公共部分
      type: String,
      required: true
    },
    modalFormLookupParams: {
      // 通用代码
      type: Array,
      default: () => []
    },
    paramId: {
      // 初始查询参数
      type: String,
      default: ''
    }
  },
  data() {
    return {
      visible: false, // 弹窗modal显隐
      formColLayout: formColLayout(this.layout), // 调用布局公共方法
      detailModalWidthAndHeight: modalWidthAndHeight(0.7, 0.7, 55), // 弹窗modal宽高控制
      form: this.$form.createForm(this), // 表单
      formId: '', // 附件上传formId
      modalFormData, // 表单数据
      meetingTypeList: [], // 会议类型通用代码数组
      meetingFormList: [], // 会议形式通用代码数组
      meetingRoomList: [], // 会议室通用代码数组
      secretLevelList: [], // 密级通用代码数组
      detailParam: {
        // 弹窗详情的请求接口
        url: this.requestPublicUrl + '/get/v1/',
        method: 'get'
      }
    };
  },
  mounted() {
    this.modalHandleDetailOrEdit(this.paramId);
  },
  methods: {
    ...mapGetters(['userInfo']),
    moment,
    formatDate,
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.$emit('close');
    },
    /**
     * 获取表单通用代码
     * @param {Array<Object>} params 通用代码设置的params,由manage页面通过props传递过来
     */
    loadLookUp(params) {
      if (params) {
        loadLookUp(params, data => {
          for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < params.length; j++) {
              if (data[i].fileName === params[j].fileName) {
                this[params[j].fileName + 'List'] = data[i].value; // 拿到通用代码,赋给相应的通用代码数组
              }
            }
          }
        });
      }
    },
    /**
     * 点击manage页面的编辑按钮,调用的弹窗页方法: 回显数据
     * @param {String} id 行数据的id
     */
    modalHandleDetailOrEdit(id) {
      // 点击编辑按钮或者查看详情时,回显数据
      this.form.resetFields(); // 清空表单
      if (this.formId) {
        this.formId = '';
      }
      this.visible = true; // 打开弹窗
      this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
      let that = this;
      httpAction(this.detailParam.url + id, '', this.detailParam.method) // 请求数据
        .then(res => {
          if (res.success) {
            this.formId = res.result.id; // 设置附件formId
            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
            let data = new Object();
            for (let i = 0; i < this.modalFormData.length; i++) {
              data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
            }
            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
            let newData = new Object();
            for (let key in data) {
              if (data[key] !== null && data[key] !== '') {
                newData[key] = data[key];
              }
            }
            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
            for (let key in newData) {
              for (let i = 0; i < that.modalFormData.length; i++) {
                if (
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'date') ||
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'datetime')
                ) {
                  newData[key] = moment(data[key]);
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'checkbox'
                ) {
                  newData[key] = data[key].split(',');
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'commonselect'
                ) {
                  newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
                }
              }
            }
            this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
          }
        });
    },
    // 属性内校验显隐权限
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    }
  }
};
</script>
