<template>
  <div>
    <a-select
      :get-popup-container="triggerNode => triggerNode.parentNode"
      default-value="taskTitle"
      style="width: 100px"
      @change="handleChange"
    >
      <a-select-option value="taskTitle">标题</a-select-option>
      <a-select-option v-for="item in options" :key="item.value" :value="item.value">
        {{ item.name }}
      </a-select-option>
    </a-select>
    <a-input-search
      v-show="selectValue === 'taskTitle'"
      placeholder="请输入标题"
      style="width: 200px"
      @search="onSearch"
    />
    <a-select
      v-show="selectValue === 'urgent'"
      :get-popup-container="triggerNode => triggerNode.parentNode"
      default-value="0"
      style="width: 100px"
      @change="urgentHandleChange"
    >
      <a-select-option value="0">一般</a-select-option>
      <a-select-option value="1">紧急</a-select-option>
      <a-select-option value="2">特急</a-select-option>
    </a-select>
    <a-select
      v-show="selectValue === 'businessState'"
      :get-popup-container="triggerNode => triggerNode.parentNode"
      default-value
      style="width: 100px"
      @change="businessStateHandleChange"
    >
      <a-select-option value>请选择</a-select-option>
      <a-select-option value="start">拟稿中</a-select-option>
      <a-select-option value="active">流转中</a-select-option>
      <a-select-option value="ended">已完成</a-select-option>
    </a-select>
    <!-- 申请日期 -->
    <a-dropdown
      v-show="selectValue === 'applyDate' || selectValue === 'receiveDate'"
      v-model="visible"
      :trigger="['click']"
    >
      <a-menu slot="overlay" width="100px" @click="handleMenuClick">
        <a-menu-item key="anyTime">时间不限</a-menu-item>
        <a-menu-item key="today">今天</a-menu-item>
        <a-menu-item key="threeDay">近三天</a-menu-item>
        <a-menu-item key="oneWeek">近一周</a-menu-item>
        <a-menu-item key="oneMonth">近一月</a-menu-item>
        <a-menu-divider />
        <a-menu-item key="customTime">
          自定义
          <br />
          <a-date-picker format="YYYY-MM-DD" placeholder="开始时间" @change="startChange" />
          <br />
          <a-date-picker
            format="YYYY-MM-DD"
            :disabled-date="disabledDate"
            placeholder="结束时间"
            @change="endChange"
          />
          <br />
          <a @click="confirmClick">确定</a>
        </a-menu-item>
        <a-menu-item />
      </a-menu>
      <a-button style="margin-left: 8px; float: right">
        {{ selectedDate }}
        <a-icon type="down" />
      </a-button>
    </a-dropdown>
  </div>
</template>

<script>
import { Button, Select, Input, Dropdown, Menu, DatePicker, Icon } from 'ant-design-vue';
let selectedDate = '时间不限';
export default {
  name: 'AvicBpmMyMissionBaseSearch',
  components: {
    AButton: Button,
    ASelect: Select,
    ASelectOption: Select.Option,
    AInputSearch: Input.Search,
    ADropdown: Dropdown,
    AMenu: Menu,
    AMenuItem: Menu.Item,
    AMenuDivider: Menu.Divider,
    ADatePicker: DatePicker,
    AIcon: Icon
  },
  props: {
    options: Array
  },
  data() {
    return {
      nowtime: this.getDay(0), //今天
      threeDayTime: this.getDay(-3), //近三天
      oneWeekTime: this.getDay(-7), //近一周oneMouth
      oneMonthTime: this.getDay(-30), //近一月
      selectValue: 'taskTitle',
      selectedDate,
      startValue: '',
      startDate: '', //开始时间没经过转化的时间格式，用于结束时间的禁止选择
      endValue: '',
      endOpen: false,
      visible: false
    };
  },
  methods: {
    disabledDate(current) {
      return current && current < this.startDate;
    },
    //定义方法获取当前日期，近三天日期，近一周日期，近一月日期
    getDay(day) {
      let today = new Date();
      let targetdayMilliseconds = today.getTime() + 1000 * 60 * 60 * 24 * day;
      today.setTime(targetdayMilliseconds); //注意，这行是关键代码
      let tYear = today.getFullYear();
      let tMonth = today.getMonth();
      let tDate = today.getDate();
      tMonth = this.doHandleMonth(tMonth + 1);
      tDate = this.doHandleMonth(tDate);
      return tYear + '-' + tMonth + '-' + tDate;
    },
    doHandleMonth(month) {
      let m = month;
      if (month.toString().length == 1) {
        m = '0' + month;
      }
      return m;
    },
    //自定义时间查询
    confirmClick() {
      if (this.selectValue == 'applyDate') {
        this.$emit('bpmBaseSearch', {
          params: { startDateBegin: this.startValue, startDateEnd: this.endValue }
        });
      } else {
        this.$emit('bpmBaseSearch', {
          params: { acceptDateBegin: this.startValue, acceptDateEnd: this.endValue }
        });
      }
      this.visible = false;
      this.selectedDate = '自定义';
    },
    handleChange(value) {
      this.selectValue = value;
      if (value === 'taskTitle' || value === 'urgent' || value === 'businessState') {
        this.selectedDate = '时间不限';
        this.startValue = null;
        this.endValue = null;
      }
    },
    //标题搜索
    onSearch(value) {
      this.$emit('bpmBaseSearch', { params: { taskTitle: value } });
    },
    /**
     * 紧急程度选中
     */
    urgentHandleChange(value) {
      this.$emit('bpmBaseSearch', { params: { priority: value } });
    },
    /**
     * 状态选中
     */
    businessStateHandleChange(value) {
      this.$emit('bpmBaseSearch', { params: { businessState: value } });
    },
    /**
     * 时间选择下拉
     */
    handleMenuClick(e) {
      if (this.selectValue == 'applyDate') {
        if (e.key === 'anyTime') {
          this.selectedDate = '时间不限';
          this.$emit('bpmBaseSearch', { params: { startDateBegin: '', startDateEnd: '' } });
          this.visible = false;
        }
        if (e.key === 'today') {
          this.selectedDate = '今天';
          this.$emit('bpmBaseSearch', {
            params: { startDateBegin: this.nowtime, startDateEnd: this.nowtime }
          });
          this.visible = false;
        }
        if (e.key === 'threeDay') {
          this.selectedDate = '近三天';
          this.$emit('bpmBaseSearch', {
            params: { startDateBegin: this.threeDayTime, startDateEnd: this.nowtime }
          });
          this.visible = false;
        }
        if (e.key === 'oneWeek') {
          this.selectedDate = '近一周';
          this.$emit('bpmBaseSearch', {
            params: { startDateBegin: this.oneWeekTime, startDateEnd: this.nowtime }
          });
          this.visible = false;
        }
        if (e.key === 'oneMonth') {
          this.selectedDate = '近一月';
          this.$emit('bpmBaseSearch', {
            params: { startDateBegin: this.oneMonthTime, startDateEnd: this.nowtime }
          });
          this.visible = false;
        }
      } else {
        if (e.key === 'anyTime') {
          this.selectedDate = '时间不限';
          this.$emit('bpmBaseSearch', { params: { acceptDateBegin: '', acceptDateEnd: '' } });
          this.visible = false;
        }
        if (e.key === 'today') {
          this.selectedDate = '今天';
          this.$emit('bpmBaseSearch', {
            params: {
              acceptDateBegin: this.nowtime + ' 00:00:00',
              acceptDateEnd: this.nowtime + ' 23:59:59'
            }
          });
          this.visible = false;
        }
        if (e.key === 'threeDay') {
          this.selectedDate = '近三天';
          this.$emit('bpmBaseSearch', {
            params: {
              acceptDateBegin: this.threeDayTime + ' 23:59:59',
              acceptDateEnd: this.nowtime + ' 23:59:59'
            }
          });
          this.visible = false;
        }
        if (e.key === 'oneWeek') {
          this.selectedDate = '近一周';
          this.$emit('bpmBaseSearch', {
            params: {
              acceptDateBegin: this.oneWeekTime + ' 23:59:59',
              acceptDateEnd: this.nowtime + ' 23:59:59'
            }
          });
          this.visible = false;
        }
        if (e.key === 'oneMonth') {
          this.selectedDate = '近一月';
          this.$emit('bpmBaseSearch', {
            params: {
              acceptDateBegin: this.oneMonthTime + ' 23:59:59',
              acceptDateEnd: this.nowtime + ' 23:59:59'
            }
          });
          this.visible = false;
        }
      }
    },
    /**
     * 接收日期时间选择下拉
     */
    handlreceiveDateClick(e) {
      if (e.key === 'anyTime') {
        this.selectedDate = '时间不限';
        this.$emit('bpmBaseSearch', { params: { startDateBegin: '', startDateEnd: '' } });
        this.visible = false;
      }
      if (e.key === 'today') {
        this.selectedDate = '今天';
        this.$emit('bpmBaseSearch', {
          params: { startDateBegin: this.nowtime, startDateEnd: this.nowtime }
        });
        this.visible = false;
      }
      if (e.key === 'threeDay') {
        this.selectedDate = '近三天';
        this.$emit('bpmBaseSearch', {
          params: { searchType: 'searchDate', searchValue: 'threeDay' }
        });
        this.visible = false;
      }
      if (e.key === 'oneWeek') {
        this.selectedDate = '近一周';
        this.$emit('bpmBaseSearch', {
          params: { searchType: 'searchDate', searchValue: 'oneWeek' }
        });
        this.visible = false;
      }
      if (e.key === 'oneMonth') {
        this.selectedDate = '近一月';
        this.$emit('bpmBaseSearch', {
          params: { searchType: 'searchDate', searchValue: 'oneMonth' }
        });
        this.visible = false;
      }
    },
    //开始时间变化时触发
    startChange(date, dateString) {
      this.startValue = dateString; // by cuijj 2020-05-21
      this.startDate = date;
    },
    //结束时间变化时触发
    endChange(date, dateString) {
      this.endValue = dateString; // by cuijj 2020-05-21
    }
  }
};
</script>
