.avic-icon-list {
  background: #fff;
  height: calc(100vh - 110px);
  .process-tab-search {
    display: inline-flex;
  
    .process-show-type {
      margin: 0 16px 0 0;
      .process-show-type-btn {
        width: 28px;
        line-height: 26px;
        height: 28px;
        font-size: 16px;
      }
    }
  }
  
  .avic-module-tab {
    height: 100%;
    .ant-tabs-top-bar {
      margin: 0 0 10px 0;
    }
  
    .ant-tabs-content {
      height: calc(100% - 64px);
      .ant-tabs-tabpane{
        height: 100%;
      }
      .process-tab-pane {
        .process-tab-content {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          padding: 0 10px;
          
          .table-wrapper{
            height: 100%;
            overflow: hidden;
          }
          .process-model-group {
            padding-left: 8px;
            font-size: 14px;
           
            color: #67758d;
          }
  
          .process-model-item {
            position: relative;
            width: 96%;
            height: 38px;
            margin: 4px 10px 8px;
            padding: 0 12px;
            line-height: 38px;
            align-items: center;
            display: inline-flex;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            .process-item-icon {
              font-size: 18px;
            }
            .process-item-name {
              color: #67758d;
              font-size: 14px;
              margin-left: 5px;
              max-width: calc(100% - 130px);
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .process-item-type {
              color: #98a5ba;
              font-size: 12px;
              margin-left: 4px;
            }
  
            .process-item-start {
              position: absolute;
              right: 32px;
              font-size: 16px;
              color: #67758d;
            }
            .process-item-fav {
              position: absolute;
              right: 8px;
              font-size: 16px;
              color: #67758d;
              &.fav-icon {
                color: #ffa500;
              }
            }
          }
          .process-model-item:hover {
            background-color: rgba(243, 244, 249, 1);
            border: 1px solid rgba(243, 244, 249, 1);
          }
          .process-model-item:hover .process-item-name {
            color: inherit;
          }
          .process-model-item:hover .process-item-start {
            color: inherit;
          }
        }
      }
    }
  }
}