<template>
  <avic-resize-layout direction="h" class="avic-bpm-process">
    <avic-resize-layout-panel :width="treeWidth">
      <div class="surface">
        <!-- 操作按钮及查询区域 -->
        <div class="surface-title">
          <h3>流程模型</h3>
        </div>
        <div class="process-model-wrapper">
          <AvicTree
            :ref="treeRefName"
            :tree-param="treeParam"
            :is-load-data="true"
            :show-line="true"
            :default-show-context-menu="false"
            :default-expand-all="true"
            :default-max-parent-id="defaultParentId"
            :tree-loading="treeLoading"
            :default-expand-hierarchy="defaultLevel"
            :selected-keys.sync="selectedKeys"
            @select="(e, data) => selectNodeTree(e, data, tableRefName)"
            @afterLoadData="afterLoadData"
            @beforeLoadData="beforeLoadData"
          />
        </div>
      </div>
    </avic-resize-layout-panel>
    <avic-resize-layout-panel>
      <div class="surface">
        <!-- 查询及操作按钮区域 -->
        <div class="surface-title">
          <h3>流程管理</h3>
          <!-- 查询 -->
          <div v-if="buttonPermissions" class="surface-tools-bar">
            <!-- 普通查询 -->
            <AvicBpmBaseSearch
              ref="bpmBaseSearch"
              style="display: inline-block"
              :options="options"
              @bpmBaseSearch="bpmBaseSearch"
            />
            <a-button
              class="opt-btn-advsearch"
              title="高级搜索"
              @click="handleAdvancedSearch(tableRefName)"
            >
              高级搜索
            </a-button>
            <a-button
              icon="edit"
              class="table-handle-button"
              @click="
                modalHandleDetailOrEdit({
                  refName: editModalRefName,
                  param: { id: selectedRowKeys }
                })
              "
            >
              修改
            </a-button>
            <a-button
              icon="delete"
              class="table-handle-button"
              :loading="delLoading"
              @click="handleDelete({ refName: tableRefName, param: { ids: selectedRowKeys } })"
            >
              删除
            </a-button>
            <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
            <a-icon
              type="sync"
              class="opt-icon"
              title="刷新"
              @click="handleRefreshTable(tableRefName)"
            />
            <AvicTableColumnSettings
              :init-setting-columns="initSettingColumns"
              :default-setting-columns="selectColumns"
              @colMenuSelect="changeColumns"
            />
          </div>
        </div>
        <!-- 内容区域 -->
        <div class="surface-content">
          <!-- 高级搜索表单区域 -->
          <AvicAdvancedSearchCollapse
            :ref="advancedSearchRefName"
            class="adv-search"
            :real-advanced-search-form-data="realAdvancedSearchFormData"
            @onChange="changeShowAdvancedSearch"
            @search="advancedSearch"
          >
            <template #form>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="标题"
                >
                  <a-input
                    v-decorator="['procDefName']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="流程状态"
                >
                  <a-select
                    v-decorator="['businessState']"
                    option-filter-prop="children"
                    :show-search="true"
                    :allow-clear="true"
                  >
                    <a-select-option
                      v-for="item in businessStateList"
                      :key="item.sysLookupTlId"
                      :value="item.lookupCode"
                    >
                      {{ item.lookupName }}
                    </a-select-option>
                  </a-select>
                  <!-- 下拉框 多选加mode="multiple"-->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="申请人"
                >
                  <AvicCommonSelect
                    v-decorator="[
                      'userId',
                      {
                        initialValue: null
                      }
                    ]"
                    type="userSelect"
                    select-model="single"
                  />
                  <!-- 选人 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="申请部门"
                >
                  <AvicCommonSelect
                    v-decorator="[
                      'deptId',
                      {
                        initialValue: null
                      }
                    ]"
                    type="deptSelect"
                    select-model="single"
                  />
                  <!-- 选部门 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="申请日期开始日期"
                >
                  <a-date-picker
                    v-decorator="['startDate' + 'Begin']"
                    format="YYYY-MM-DD"
                    :show-today="true"
                    placeholder="开始日期"
                    :disabled-date="
                      startValue => disabledStartDate(startValue, 'projectStartTime' + 'End')
                    "
                  />
                  <!-- 开始日期 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="申请日期结束日期"
                >
                  <a-date-picker
                    v-decorator="['startDate' + 'End']"
                    format="YYYY-MM-DD"
                    :show-today="true"
                    placeholder="结束日期"
                    :disabled-date="
                      endValue => disabledEndDate(endValue, 'projectStartTime' + 'Begin')
                    "
                  />
                  <!-- 结束日期 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="是否挂起"
                >
                  <a-select
                    v-decorator="['suspended']"
                    option-filter-prop="children"
                    :show-search="true"
                    :allow-clear="true"
                  >
                    <a-select-option
                      v-for="item in suspendedList"
                      :key="item.sysLookupTlId"
                      :value="item.lookupCode"
                    >
                      {{ item.lookupName }}
                    </a-select-option>
                  </a-select>
                  <!-- 下拉框 多选加mode="multiple"-->
                </a-form-item>
              </a-col>
            </template>
          </AvicAdvancedSearchCollapse>
          <!-- 表格内容 -->
          <div class="surface-table">
            <!-- 单表表格组件 -->
            <AvicBaseTable
              :ref="tableRefName"
              :table-size="tableSize"
              :columns="selectColumns"
              :data-source="data"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
              @getData="getData"
              @handleRowSelection="handleRowSelection"
              @handleTableChange="handleTableChange(tableRefName, $event)"
            >
              <template slot="procDefName" scope="obj">
                <a-icon
                  v-if="openEditFlowLoading && openEditFlowId == obj.data[rowKey]"
                  type="loading"
                  class="table-detail-link"
                />
                <a
                  v-if="!openEditFlowLoading || openEditFlowId != obj.data[rowKey]"
                  href="javascript:;"
                  class="table-detail-link"
                  @click="
                    handleFlowDetail({
                      refName: detailModalRefName,
                      param: { dbid: obj.data.formId }
                    })
                  "
                >
                  {{ obj.data['procDefName'] }}
                </a>
              </template>
            </AvicBaseTable>
            <!--启动流程时多个流程需要选择您要启动的流程-->
            <AvicBpmFormCode
              :ref="getFormCodeRefName"
              :is-open-flow="true"
              :form-code="formCode"
              @beforeLoadformCode="beforeLoadformCode"
            />
            <!--打开流程详情时多个流程需要选择您要打开的流程-->
          </div>
        </div>
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import './style/base.less';
import { baseTreeListMixin } from '@mixins/avic/pt/BaseTreeListMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import AvicBpmBaseSearch from '@comp/avic/bpm/AvicBpmCenterSearch/AvicBpmBaseSearch';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { httpAction } from '@/api/manage';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import AvicBpmFormCode from '@comp/avic/bpm/AvicBpmFormCode';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
// import AvicBpmListSelect from '@comp/avic/bpm/AvicBpmListSelect';
import { baseFlowMixin } from '@mixins/avic/pt/BaseFlowMixin';
import { Modal } from 'ant-design-vue';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_BPMPROCESSMANAGE';
//流程formCode
let formCode = 'mpmProjectMainInfoFlow'; // mpmProjectMainInfoWorkflow
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = bpmUtils.baseurl + '/monitor';
let requestDeleteUrl = '/api/bpm/bpm/bpmConsoleAction';
// 树节点通用代码params
let treeNodelookupParams = [
  { fileName: 'projectClassLevel', lookUpType: 'MPM_PROJECT_CLASS_LEVEL' },
  { fileName: 'projectClassStatus', lookUpType: 'MPM_PROJECT_STATUS' },
  { fileName: 'secretLevel', lookUpType: 'MPM_PROJECT_SECRET' }
];
// 表格主键字段
let rowKey = 'dbId';
// 表格查看详情字段
let dataIndex = ['procDefName'];
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'procDefName',
    scopedSlots: { customRender: 'procDefName' }
  },
  {
    title: '拟稿人',
    dataIndex: 'userName',
    align: 'center'
  },
  {
    title: '拟稿部门',
    dataIndex: 'deptName',
    align: 'center'
  },
  {
    title: '申请日期',
    dataIndex: 'startDate',
    width: 140,
    sorter: true,
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss'
  },
  {
    title: '当前节点',
    dataIndex: 'activityName',
    align: 'left'
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    sorter: true,
    width: 80,
    align: 'center',
    customRender(value, row, rowKey) {
      if (value && value === 'active') {
        return '流转中';
      } else if (value && value === 'ended') {
        return '已完成';
      } else if (value && value === 'start') {
        return '拟稿中';
      } else {
        return value;
      }
    }
  },
  {
    title: '处理人',
    dataIndex: 'assigneeName',
    width: 140
  }
];
let avicAdvancedSearchData = [
  {
    title: '标题',
    dataIndex: 'procDefName',
    scopedSlots: { customRender: 'procDefName' },
    type: 'input',
    decorator: {
      rules: []
    },
    placeholder: '请输入标题'
  },
  {
    title: '流程状态',
    dataIndex: 'businessState',
    scopedSlots: { customRender: 'businessState' },
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: 'start',
        lookupName: '拟稿中'
      },
      {
        sysLookupTlId: '1',
        lookupCode: 'active',
        lookupName: '流转中'
      },
      {
        sysLookupTlId: '2',
        lookupCode: 'ended',
        lookupName: '已完成'
      }
    ]
  },
  {
    title: '申请人',
    dataIndex: 'userId',
    scopedSlots: { customRender: 'userId' },
    type: 'commonselect',
    placeholder: '请选择申请人',
    controlType: 'userSelect',
    selectModel: 'single'
  },
  {
    title: '申请部门',
    dataIndex: 'deptId',
    scopedSlots: { customRender: 'deptId' },
    type: 'commonselect',
    placeholder: '请选择申请部门',
    controlType: 'deptSelect',
    selectModel: 'single'
  },
  {
    title: '申请日期',
    titleRange: '申请日期范围',
    dataIndex: 'startDate',
    scopedSlots: { customRender: 'startDate' },
    type: 'daterange',
    decoratorRange: {
      rules: [{ required: false, message: '请选择申请日期范围！' }]
    },
    placeholderRange: ['开始日期', '结束日期'],
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime',
    showToday: true
  },
  {
    title: '是否挂起',
    dataIndex: 'suspended',
    scopedSlots: { customRender: 'suspended' },
    align: 'center',
    type: 'select',
    list: [
      {
        sysLookupTlId: '1',
        lookupCode: '0',
        lookupName: '正常'
      },
      {
        sysLookupTlId: '2',
        lookupCode: '1',
        lookupName: '挂起'
      }
    ]
  }
];
export default {
  name: 'BpmProcessManage',
  components: {
    AvicBpmBaseSearch,
    AvicBpmFormCode
  },
  mixins: [baseTreeListMixin, baseTableMixin, baseFlowMixin, menuRefreshMixin, baseSearchMixin],
  data() {
    return {
      businessStateList: [
        {
          sysLookupTlId: '0',
          lookupCode: 'start',
          lookupName: '拟稿中'
        },
        {
          sysLookupTlId: '1',
          lookupCode: 'active',
          lookupName: '流转中'
        },
        {
          sysLookupTlId: '2',
          lookupCode: 'ended',
          lookupName: '已完成'
        }
      ], //高级查询通用代码自定义
      suspendedList: [
        {
          sysLookupTlId: '1',
          lookupCode: '0',
          lookupName: '正常'
        },
        {
          sysLookupTlId: '2',
          lookupCode: '1',
          lookupName: '挂起'
        }
      ], //高级查询通用代码自定义
      moduleName, // 模块名称
      requestTreeUrl: requestPublicUrl + '/getFlowModelTree/v1', //加载树节点访问地址
      defaultParentId: 'root', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      treeRefName: 'avicTreeElement',
      requestPublicUrl,
      pageSettingData,
      avicAdvancedSearchData,
      treeNodelookupParams,
      rowKey,
      dataIndex,
      formCode, //流程formCode
      tableRefName: 'BpmManage',
      editModalRefName: 'modalEditForm',
      detailModalRefName: 'modalDetailForm',
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      getFormCodeRefName: 'getFormCodeRefName', //获取FormCode ref
      options: [
        //普通查询组件传入的选项值
        { value: 'businessState', name: '状态' },
        { value: 'applyDate', name: '申请日期' }
      ],
      //树展开
      treeParam: {
        url: '',
        method: 'post',
        parameter: {
          id: '',
          needPermission: 1,
          console: true
        }
      },
      delParam: {
        // manage页面删除的请求接口
        url: requestDeleteUrl + '/deleteProcessEntry/v1',
        parameter: {
          processInstanceId: ''
        },
        method: 'post'
      },
      taskType: '',
      taskFinished: '',
      nodeId: '',
      nodeType: '',
      procDefId: '',
      refreshTable: false //右键刷新表格
    };
  },
  beforeRouteEnter(to, from, next) {
    //刷新页面事件组册到window事件
    next(_this => {
      window['bpmOperatorRefresh'] = () => {
        _this.bpmOperatorRefresh();
      };
    });
  },
  computed: {
    queryParam() {
      return {
        url: bpmUtils.baseurl + '/process/searchManageHistProcessByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.searchParam, // 普通查询数据
            ...this.advancedSearchParam, // 高级查询数据
            type: 3,
            nodeId: this.nodeId,
            nodeType: this.nodeType,
            procDefId: this.procDefId
          },
          keyWord: this.searchText, // 排序字段
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    /**
     * 树区域高度控制
     * @param {String} wrapId 包含按钮及表格的容器的id
     * @param {String} cutHeight 为得到表格高度,需要减去的高度(一般包括按钮高度及margin,容器的padding)
     */
    this.initTreeHeight({ wrapId: 'MpmProjectInfoTree', cutHeight: '20' });
  },
  created() {
    this.loadTreeParentId = this.defaultParentId; //当前加载的树节点id
    // 进入页面,加载树列表数据
    this.treeParam.url = this.requestTreeUrl;
    this.treeParam.parameter.id = this.defaultParentId;
  },
  methods: {
    beforeLoadformCode(result, params) {
      this.openAddFlowLoading = false;
    },
    getData(obj) {
      this.data = obj.data.rows; // 渲染表格
    },
    //加载树节点之前
    beforeLoadData(treeData, parentId) {
      this.loadTreeParentId = parentId;
      this.treeParam.parameter.id = parentId;
    },
    //树加载之后
    afterLoadData(treeData) {
      // 根节点加载表格数据
      if (this.loadTreeParentId == this.defaultParentId) {
        if (treeData.result.length > 0) {
          this.selectedKeys = [treeData.result[0].id];
          if (treeData.result[0].attributes) {
            this.procDefId = treeData.result[0].attributes.pdId;
          }
          this.nodeId = treeData.result[0].id;
          this.nodeType = treeData.result[0].nodeType;
          this.$refs[this.tableRefName].loadData(this.queryParam);
          if (this.refreshTable) {
            //刷新表格
            this.menuRefreshReset();
            this.refreshTable = false;
          }
        } else {
          this.$message.warning('暂无权限！');
        }
      }
    },
    //选中树节点
    selectNodeTree(e, data, refName) {
      if (e && e.length > 0) {
        this.selectedKeys = e;
        this.page = 1;
        if (data.attributes) {
          this.procDefId = data.attributes.pdId;
        } else {
          this.procDefId = '';
        }
        this.nodeType = data.nodeType;
        this.nodeId = data.id;
        // 进入页面,加载表格数据
        this.$refs[refName].loadData(this.queryParam);
      }
    },
    menuRefresh() {
      // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
      //刷新树
      this.treeMenuRefreshReset();
      this.refreshTable = true;
    },
    //树右键刷新
    treeMenuRefreshReset() {
      this.$refs[this.treeRefName].emptySearch();
      this.$refs[this.treeRefName].empty();
      this.loadTreeParentId = this.defaultParentId; //当前加载的树节点id
      // 进入页面,加载树列表数据
      this.treeParam.url = this.requestTreeUrl;
      this.treeParam.parameter.id = this.defaultParentId;
      this.$refs[this.treeRefName].expandHierarchy = 2;
      this.$refs[this.treeRefName].refresh(this.defaultParentId);
    },
    bpmBaseSearch(params) {
      let searchParamReset = {
        type: 3,
        nodeId: this.nodeId,
        nodeType: this.nodeType,
        procDefId: this.procDefId
      };
      let serach = searchParamReset;
      this.queryParam.parameter.searchParams = Object.assign({}, serach, params.params);
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    handleDelete(params) {
      if (params.param.ids.length <= 0) {
        this.$message.warning('请至少选择一条数据！');
        return;
      }
      let ids = [];
      for (let i = 0; i < this.data.length; i++) {
        for (let m = 0; m < params.param.ids.length; m++) {
          if (params.param.ids[m] == this.data[i].dbId) {
            ids.push(this.data[i].executionId);
          }
        }
      }
      if (ids.length > 0) {
        Modal.confirm({
          title: '您确认要删除流程实例吗？',
          onOk: () => {
            this.delLoading = true;
            let that = this;
            httpAction(
              this.delParam.url,
              { processInstanceId: ids.join(',') },
              this.delParam.method
            )
              .then(res => {
                if (res.success) {
                  this.$message.success('删除成功！'); // 提示成功
                  that.selectedRowKeys = []; // 清空表格选中项
                  that.reloadData(false, params.refName); // 刷新表格
                }
                that.delLoading = false;
              })
              .catch(() => {
                that.delLoading = false;
              });
          }
        });
      }
    },
    //流程详情页面关闭后刷新页面
    bpmOperatorRefresh() {
      // 进入页面,加载表格数据
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    //编辑方法
    modalHandleDetailOrEdit(params) {
      if (params.param.id.length != 1) {
        this.$message.warning('请选择一条数据！');
        return;
      }
      let editFormId = '';
      for (let i = 0; i < this.data.length; i++) {
        if (params.param.id == this.data[i].dbId) {
          editFormId = this.data[i].formId;
        }
      }
      this.handleFlowDetail({ refName: this.detailModalRefName, param: { dbid: editFormId } });
    },
    initRealAdvancedSearchFormData() {
      return this.avicAdvancedSearchData;
    }
  }
};
</script>
