<template>
  <div class="avic-icon-list">
    <a-tabs default-active-key="avicIcon" v-model="activeKey" class="avic-module-tab">
      <div slot="tabBarExtraContent" class="process-tab-search">
        <div style="margin-right: 16px">
          <a-input-search v-model="keyword" placeholder="快速查询" />
        </div>
      </div>
      <a-tab-pane key="avicIcon" tab="avic自定义图标" class="process-tab-pane">
        <div class="process-tab-content">
          <a-alert
            message="小提示"
            description="如AvicIcon不能正常使用，请检查确认组件中是否引入(import)并注册AvicIcon组件。"
            type="info"
            show-icon
            close-text="知道了"
            closable
          />
          <a-row :gutter="[10, 10]">
            <div class="avic-icon-list-layout">
              <template v-for="item in svglist">
                <a-col v-show="item.indexOf(keyword) !== -1" :key="item" v-bind="colspan">
                  <div
                    :class="[
                      mouseselect === item
                        ? 'avic-icon-select ant-avic-icon-enter'
                        : 'avic-icon-default'
                    ]"
                    @click="aviciconclick(item, 'avic')"
                  >
                    <AvicIcon
                      icon-source="avic"
                      :svg-name="item"
                      @mouseenter="mouseenter(item)"
                      @mouseleave="mouseleave(item)"
                      :class="[mouseselect === item ? 'avic-icon-enter' : 'avic-icon-leave']"
                    />
                    <div class="icon-title">{{ item }}</div>
                  </div>
                </a-col>
              </template>
            </div>
          </a-row>
        </div>
      </a-tab-pane>
      <a-tab-pane key="antIcon" tab="antd图标" class="process-tab-pane">
        <div class="process-tab-content">
          <a-collapse :active-key="Object.keys(antdIconList)">
            <template v-for="list in Object.keys(antdIconList)">
              <a-collapse-panel :key="list" :header="antdIconList[list].title">
                <a-row :gutter="[10, 10]">
                  <div class="avic-icon-list-layout">
                    <template v-for="item in antdIconList[list].list">
                      <a-col v-show="item.indexOf(keyword) !== -1" :key="item" v-bind="colspan">
                        <div
                          :class="[
                            mouseselect === item
                              ? 'avic-icon-select ant-avic-icon-enter'
                              : 'avic-icon-default'
                          ]"
                          @click="aviciconclick(item, 'antd')"
                        >
                          <AvicIcon
                            :type="item"
                            @mouseenter="mouseenter(item)"
                            @mouseleave="mouseleave(item)"
                            :class="[mouseselect === item ? 'avic-icon-enter' : 'avic-icon-leave']"
                          />
                          <div class="icon-title">{{ item }}</div>
                        </div>
                      </a-col>
                    </template>
                  </div>
                </a-row>
              </a-collapse-panel>
            </template>
          </a-collapse>
        </div>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import AvicIcon from '@comp/avic/pt/common/AvicIcon';
// import '@assets/styles/skin/skin-loader.less';
// import '@assets/styles/common/base-surface-panel.less';
let antdIconList = {
  direction: {
    title: '方向性图标',
    list: [
      'step-backward',
      'step-forward',
      'fast-backward',
      'fast-forward',
      'shrink',
      'arrows-alt',
      'down',
      'up',
      'left',
      'right',
      'caret-up',
      'caret-down',
      'caret-left',
      'caret-right',
      'up-circle',
      'down-circle',
      'left-circle',
      'right-circle',
      'double-right',
      'double-left',
      'vertical-left',
      'vertical-right',
      'vertical-align-top',
      'vertical-align-middle',
      'vertical-align-bottom',
      'forward',
      'backward',
      'rollback',
      'enter',
      'retweet',
      'swap',
      'swap-left',
      'swap-right',
      'arrow-up',
      'arrow-down',
      'arrow-left',
      'arrow-right',
      'play-circle',
      'up-square',
      'down-square',
      'left-square',
      'right-square',
      'login',
      'logout',
      'menu-fold',
      'menu-unfold',
      'border-bottom',
      'border-horizontal',
      'border-inner',
      'border-outer',
      'border-left',
      'border-right',
      'border-top',
      'border-verticle',
      'pic-center',
      'pic-left',
      'pic-right',
      'radius-bottomleft',
      'radius-bottomright',
      'radius-upleft',
      'radius-upright',
      'fullscreen',
      'fullscreen-exit'
    ]
  },
  suggestion: {
    title: '提示建议性图标',
    list: [
      'question',
      'question-circle',
      'plus',
      'plus-circle',
      'pause',
      'pause-circle',
      'minus',
      'minus-circle',
      'plus-square',
      'minus-square',
      'info',
      'info-circle',
      'exclamation',
      'exclamation-circle',
      'close',
      'close-circle',
      'close-square',
      'check',
      'check-circle',
      'check-square',
      'clock-circle',
      'warning',
      'issues-close',
      'stop'
    ]
  },
  editor: {
    title: '编辑类图标',
    list: [
      'edit',
      'form',
      'copy',
      'scissor',
      'delete',
      'snippets',
      'diff',
      'highlight',
      'align-center',
      'align-left',
      'align-right',
      'bg-colors',
      'bold',
      'italic',
      'underline',
      'strikethrough',
      'redo',
      'undo',
      'zoom-in',
      'zoom-out',
      'font-colors',
      'font-size',
      'line-height',
      'dash',
      'small-dash',
      'sort-ascending',
      'sort-descending',
      'drag',
      'ordered-list',
      'unordered-list',
      'radius-setting',
      'column-width',
      'column-height'
    ]
  },
  data: {
    title: '数据类图标',
    list: [
      'area-chart',
      'pie-chart',
      'bar-chart',
      'dot-chart',
      'line-chart',
      'radar-chart',
      'heat-map',
      'fall',
      'rise',
      'stock',
      'box-plot',
      'fund',
      'sliders'
    ]
  },
  logo: {
    title: '品牌和标识',
    list: [
      'android',
      'apple',
      'windows',
      'ie',
      'chrome',
      'github',
      'aliwangwang',
      'dingding',
      'weibo-square',
      'weibo-circle',
      'taobao-circle',
      'html5',
      'weibo',
      'twitter',
      'wechat',
      'youtube',
      'alipay-circle',
      'taobao',
      'skype',
      'qq',
      'medium-workmark',
      'gitlab',
      'medium',
      'linkedin',
      'google-plus',
      'dropbox',
      'facebook',
      'codepen',
      'code-sandbox',
      'code-sandbox-circle',
      'amazon',
      'google',
      'codepen-circle',
      'alipay',
      'ant-design',
      'ant-cloud',
      'aliyun',
      'zhihu',
      'slack',
      'slack-square',
      'behance',
      'behance-square',
      'dribbble',
      'dribbble-square',
      'instagram',
      'yuque',
      'alibaba',
      'yahoo',
      'reddit',
      'sketch'
    ]
  }
};
export default {
  name: 'AvicIconList',
  data() {
    return {
      antdIconList,
      keyword: '',
      activeKey: 'avicIcon',
      mouseselect: '',
      svglist: [],
      colspan: { xs: 3, sm: 3, md: 3, lg: 3, xl: 3, xxl: 3 }
    };
  },
  components: {
    AvicIcon
  },
  mounted() {
    this.getChildFiles();
  },
  methods: {
    getChildFiles(directory, useSubdirectories, regExp) {
      let files = require.context('@assets/svgs', false, /.svg$/).keys();
      let svgNames = Array.from(files);
      for (let i = 0; i < svgNames.length; i++) {
        let svgName = svgNames[i];
        svgName = svgName.replace('./', '').replace('.svg', '');
        this.svglist.push(svgName);
      }
    },

    mouseenter(item) {
      this.mouseselect = item;
    },
    mouseleave() {
      this.mouseselect = '';
    },
    aviciconclick(item, source) {
      let oInput = document.createElement('input');
      if (source === 'avic') {
        oInput.value = '<AvicIcon icon-source="avic" svg-name="' + item + '" />';
      } else {
        oInput.value = '<a-icon type="' + item + '" />';
      }
      document.body.appendChild(oInput);
      oInput.select();
      document.execCommand('Copy');
      oInput.className = 'oInput';
      oInput.style.display = 'none';
      this.$message.success('标签复制成功');
    }
  }
};
</script>
<style lang="less" scoped>
.avic-icon-list {
  background: #fff;
  .avic-icon-leave {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.45);
    padding: 2rem;
    padding-bottom: 0.5rem;
  }
  .avic-icon-enter {
    font-size: 1.8rem;
    color: #fff;
    padding: 2rem;
    padding-bottom: 0.5rem;
  }
  .avic-icon-list-layout {
    margin: 16px;
    overflow: hidden;
  }
  .avic-icon-select {
    text-align: center;
    font-size: 1rem;
    border-radius: 2px;
    .icon-title {
      font-size: 1em;
      padding-top: 0.5em;
      height: 48px;
    }
  }
  .avic-icon-default {
    background: #fff;
    text-align: center;
  }
  .icon-title {
    padding-top: 0.5em;
    font-size: 1em;
    height: 48px;
  }
}
</style>
<style lang="less">
@import './style/base.less';
</style>
