.big-tree {
  position: relative;
  border: 1px solid #e6e5e5;
  border-radius: 3px;
  padding: 10px 0;
  min-height: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .bg-loading-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bar {
    padding: 5px 10px 10px 10px;
    display: flex;
    font-size: 12px;
    .input {
      flex: 1;
      position: relative;
      .filter-input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #e8e8e8;
        padding: 4px 6px;
        height: 28px;
        border-radius: 2px;
        padding-left: 8px;
        padding-right: 40px;
        &:focus {
          border-right-width: 1px !important;
          outline: none;
        }
        &:hover {
          border-right-width: 1px !important;
          outline: none;
        }
        &::-webkit-input-placeholder {
          color: #ccc;
        }
      }
      .clear-input {
        position: absolute;
        border-radius: 50%;
        font-style: normal;
        width: 12px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 12px;
        right: 26px;
        border: 1px solid rgba(0, 0, 0, 0.45);
        color: rgba(0, 0, 0, 0.45);
        display: inline-block;
        cursor: pointer;
        font-size: 12px;
        &::after {
          content: '\00D7';
          position: absolute;
          top: -4px;
          left: 0;
          transform: scale(0.8);
        }
        &:hover {
          border-color: #363636;
          color: #363636;
        }
      }
      .clear-input-icon {
        position: absolute;
        right: 28px;
        top: 8px;
        color: #999 !important;
      }
      .icon-search {
        font-size: 16px;
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 4px;
        width: 18px;
        height: 18px;
        margin: auto;
        svg path {
          fill: rgba(0, 0, 0, 0.45);
        }
        &:hover svg path {
          fill: #363636;
        }
      }
    }
    .search-btn {
      width: 50px;
      background-color: #409eff;
      color: #fff;
      border: none;
      cursor: pointer;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &:hover {
        background-color: #228af1;
      }
    }
  }
  .content-wrap {
    position: relative;
    overflow: auto;
    padding: 0 10px;
    flex: 1;
    .tree-phantom {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: -1;
    }
    .tree-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: 0 4px 0 14px;
      .item {
        display: flex;
        align-items: center;
        line-height: 30px;
        padding: 0 18px 0 15px;
        &:hover {
          background-color: #f9fafc;
        }
        &.is-hidden {
          display: none;
        }
        .item-switcher {
          position: relative;
          //width: 20px;
          display: inline-block;
          height: 20px;
          top: 1px;
          right: 4px;
          line-height: 10px;
        }
        .expand-node {
          position: relative;
          width: 20px;
          height: 20px;
          // transition: transform 0.3s ease-in-out;
          cursor: pointer;
          &::before {
            content: '';
            border: 4px solid #666;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            width: 0;
            height: 8px;
            min-width: 0;
            top: 6px;
            left: 8px;
            position: absolute;
          }
          &.is-expand {
            transform: rotate(90deg);
          }

          // &.is-expand::before {
          //   position: absolute;
          //   left: 30%;
          //   display: table;
          //   width: 5.714286px;
          //   border-top: 0;
          //   border-left: 0;
          //   opacity: 1;
          //   width: 0;
          //   top: 10%;
          //   height: 8px;
          //   border: 1px solid rgba(0, 0, 0, 0.45);
          //   transform: rotate(90deg) scale(0.8) translate(-10%, -15%);
          //   content: ' ';
          // }

          &.is-loading {
            background: none;
            border-right: 0;
            border-width: 2px;
            border-style: solid;
            border-bottom: 0;
            border-color: #b7b7b7;
            border-radius: 50%;
            animation: turn 1s linear infinite;
            width: 12px;
            height: 12px;
            top: 4px;
            left: 4px;
            &::before {
              opacity: 0;
            }
          }
        }
        .label {
          cursor: pointer;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #333;
          padding-left: 5px;
          .count {
            font-size: 12px;
            font-style: normal;
          }
        }
        .is-disabled {
          cursor: not-allowed;
          pointer-events: none;
          .label {
            color: #aaa;
          }
        }
      }
    }
  }
  .no-data {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}