.avic_bigtree_skin( @primary-color ) {
  /* 大数据树配色跟随皮肤 By Cj 2020-7-13 start */
  .big-tree .content-wrap .tree-content .item .label:hover {
    color: @primary-color;
  }
  .check-box .box:hover {
    border-color: @primary-color;
  }
  .big-tree .search-bar .input .filter-input {
    &:hover,
    &:focus {
      border-color: fade(@primary-color, 50%);
      box-shadow: 0 0 0 1px fade(@primary-color, 20%);
    }
  }
  .check-box .box.is-checked,
  .check-box .box.is-part-checked::after {
    border-color: @primary-color;
    color: @primary-color;
    background-color: @primary-color;
  }
  .check-box .box.radio.is-checked::after {
    border-color: @primary-color;
    background-color: @primary-color;
  }
  /* 大数据树配色跟随皮肤 By Cj 2020-7-13 end */
  .big-tree .content-wrap .tree-content .item:hover {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
}
