<template>
  <div class="exception">
    <div class="content">
      <div class="desc">选项卡刷新Demo</div>
      <div style="margin: 20px">本选项卡已经刷新{{ times }}次</div>
      <a-input v-model="test" />
    </div>
  </div>
</template>

<script>
import { menuRefreshMixin } from '@/mixins/avic/pt/MenuRefreshMixin';

export default {
  name: 'TabRefreshDemo',
  mixins: [menuRefreshMixin],
  data() {
    return {
      times: 0,
      test: '000'
    };
  },
  methods: {
    menuRefresh() {
      this.times = this.times + 1;
    }
  }
};
</script>

<style lang="less" scoped>
.exception {
  height: 100%;
  align-items: center;
  text-align: center;
  display: inline-flex;
  min-width: 100%;
  margin: 0 auto;
  padding: 5% 150px;
  .img {
    display: inline-block;
    padding-right: 52px;
    zoom: 1;
    img {
      height: 360px;
      max-width: 430px;
    }
  }
  .content {
    display: inline-block;
    flex: auto;
    h1 {
      color: #434e59;
      font-size: 72px;
      font-weight: 600;
      line-height: 72px;
      margin-bottom: 24px;
    }
    .desc {
      color: rgba(0, 0, 0, 0.45);
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
}
</style>
