<template>
  <avic-resize-layout direction="h">
    <avic-resize-layout-panel>
      <div class="surface">
        <!-- 查询及操作按钮区域 -->
        <div class="surface-title">
          <h3>stock29</h3>
          <!-- 查询 -->
          <div class="surface-tools-bar">
            <a-input-search
              class="opt-btn-commonsearch"
              v-show="searchPlaceholder != ''"
              v-model="searchText"
              :placeholder="searchPlaceholder"
              :title="searchPlaceholder"
              :allow-clear="true"
              @search="searchByKeyWord(tableRefName)"
            />
            <a-button
              class="opt-btn-advsearch"
              title="高级搜索"
              @click="handleAdvancedSearch(tableRefName)"
            >
              高级搜索
            </a-button>
            <!-- 操作按钮 -->
            <a-button v-has="'user:add'" type="primary" icon="plus" title="添加" @click="handleAdd">
              添加
            </a-button>
            <a-button
              v-has="'user:save'"
              type="default"
              icon="plus"
              title="保存"
              :loading="saveLoading"
              @click="handleSave"
            >
              保存
            </a-button>
            <a-button
              v-has="'user:del'"
              icon="delete"
              title="删除"
              :loading="delLoading"
              @click="
                handleDelete({
                  refName: tableRefName,
                  param: { ids: selectedRowKeys }
                })
              "
            >
              删除
            </a-button>
            <!-- 导出 -->
            <AvicExport
                  v-has="'user:export'"
                  :file-name="exportFileName"
                  :data-gridheaders="selectColumns"
                  :datas="exportData"
                  :selected-rows="selectedRows"
                  @back-export="backExport"
            />
            <!-- 表格尺寸设置 -->
            <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
            <!-- 表格刷新 -->
            <a-icon
              type="sync"
              class="opt-icon"
              title="刷新"
              @click="handleRefreshTable(tableRefName)"
            />
            <!-- 表格列设置 -->
            <AvicTableColumnSettings
              :init-setting-columns="initSettingColumns"
              :default-setting-columns="selectColumns"
              @colMenuSelect="changeColumns"
            />
          </div>
        </div>
        <!-- 内容区域 -->
        <div class="surface-content">
          <!-- 高级搜索表单区域 -->
          <AvicAdvancedSearchCollapse
            :ref="advancedSearchRefName"
            :real-advanced-search-form-data="realAdvancedSearchFormData"
            @onChange="changeShowAdvancedSearch"
            @search="advancedSearch"
          >
            <template #form>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="商品id"
                >
                  <a-input
                    v-decorator="['goodsId']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="库存数量"
                >
                  <a-input-number
                    v-decorator="['num']"
                    :min="-9999999999"
                    :max="9999999999"
                    :step="1"
                    :precision="0"
                    :parser="value => formatNumber(value, 0)"
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="组织ID"
                >
                  <a-input
                    v-decorator="['orgId']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="部门ID"
                >
                  <a-input
                    v-decorator="['deptId']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="系统标识ID"
                >
                  <a-input
                    v-decorator="['sysId']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="密级"
                >
                  <a-select
                    v-decorator="['secretLevel']"
                    option-filter-prop="children"
                    :show-search="true"
                    :allow-clear="true"
                  >
                    <a-select-option
                      v-for="item in secretLevelList"
                      :key="item.sysLookupTlId"
                      :value="item.lookupCode"
                    >
                      {{ item.lookupName }}
                    </a-select-option>
                  </a-select>
                  <!-- 下拉框 多选加mode="multiple"-->
                </a-form-item>
              </a-col>
            </template>
          </AvicAdvancedSearchCollapse>
          <!-- 表格内容 -->
          <div class="surface-table">
            <!-- 表格 -->
            <AvicEditTable
              :ref="tableRefName"
              :table-size="tableSize"
              :is-auto-count-scroll-x="true"
              :default-col-width="120"
              :columns="selectColumns"
              :data-source="data"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
              :is-custom-row-click="false"
              @getData="getData"
              @handleRowSelection="handleRowSelection"
              @handleTableChange="handleTableChange(tableRefName, $event)"
              @cellChange="handleCellChange"
            >
              <!-- 表格操作列 -->
              <template slot="action" scope="obj">
                <a
                  v-if="!obj.data._vue_editing"
                  href="javascript:;"
                  title="编辑"
                  @click="
                    handleEdit({
                      refName: tableRefName,
                      param: { id: [obj.data[rowKey]] }
                    })
                  "
                >
                  编辑
                </a>
                <a
                  v-if="obj.data._vue_editing"
                  href="javascript:;"
                  title="保存"
                  @click="
                    handleSave({
                      saveItem: true,
                      id: [obj.data[rowKey]]
                    })
                  "
                >
                  保存
                </a>
                <a
                  href="javascript:;"
                  title="删除"
                  @click="
                    handleDelete({
                      refName: tableRefName,
                      param: { ids: [obj.data[rowKey]] }
                    })
                  "
                >
                  <a-divider type="vertical" />
                  删除
                </a>
              </template>
            </AvicEditTable>
          </div>
        </div>
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseSearchMixin } from '@/mixins/avic/pt/BaseSearchMixin';
import { baseTableListMixin } from '@mixins/avic/pt/BaseTableListMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_STOCK29';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/demo/stock29/Stock29Rest';
// 此模块通用代码params
let lookupParams = [
    {fileName: 'secretLevel', lookUpType: 'PLATFORM_FILE_SECRET_LEVEL' }];
// 表格主键字段
let rowKey = 'id';
// 表格需要slot渲染字段
let dataIndex = 'action';
export default {
  name: 'Stock29Manage',
  mixins: [baseTableMixin, baseSearchMixin, baseTableListMixin, menuRefreshMixin],
  permissionList: [
    {
      describe: '添加按钮',
      action: 'user:add',
      type: '1'
    },
    {
      describe: '删除按钮',
      action: 'user:del',
      type: '1'
    },
    {
      describe: '导出按钮',
      action: 'user:export',
      type: '1'
    }
  ],
  data() {
    return {
      secretLevelList: [],  // 高级搜索通用代码数组定义
      pageSettingData:[
      {
        isTableHidden:false,
        isFormHidden: false,
        isAuthFlag: false,
        title: '商品id',
        dataIndex: 'goodsId',
        scopedSlots: { customRender: 'goodsId' },
        headerClassName: 'required-table-title',
        isSearch: true,
        type: 'input',
        placeholder: '请输入商品id',
        isCanEdit: true,
        width: 90,
        align: 'left',
        sorter: true
      },
      {
        isTableHidden:false,
        isFormHidden: false,
        isAuthFlag: false,
        title: '库存数量',
        dataIndex: 'num',
        scopedSlots: { customRender: 'num' },
        headerClassName: 'required-table-title',
        type: 'inputnumber',
        min: -9999999999,
        max: 9999999999,
        step: 1,
        precision: 0,
        placeholder: '请输入库存数量',
        isCanEdit: true,
        width: 90,
        align: 'right',
        sorter: true
      },
      {
        isTableHidden:false,
        isFormHidden: false,
        isAuthFlag: false,
        title: '组织ID',
        dataIndex: 'orgId',
        scopedSlots: { customRender: 'orgId' },
        headerClassName: 'required-table-title',
        isSearch: true,
        type: 'input',
        placeholder: '请输入组织ID',
        isCanEdit: true,
        width: 90,
        align: 'left',
        sorter: true
      },
      {
        isTableHidden:false,
        isFormHidden: false,
        isAuthFlag: false,
        title: '部门ID',
        dataIndex: 'deptId',
        scopedSlots: { customRender: 'deptId' },
        headerClassName: 'required-table-title',
        type: 'input',
        placeholder: '请输入部门ID',
        isCanEdit: true,
        width: 90,
        align: 'left',
        sorter: true
      },
      {
        isTableHidden:false,
        isFormHidden: false,
        isAuthFlag: false,
        title: '系统标识ID',
        dataIndex: 'sysId',
        scopedSlots: { customRender: 'sysId' },
        headerClassName: 'required-table-title',
        type: 'input',
        placeholder: '请输入系统标识ID',
        isCanEdit: true,
        width: 90,
        align: 'left',
        sorter: true
      },
      {
        isTableHidden:false,
        isFormHidden: false,
        isAuthFlag: false,
        title: '密级',
        dataIndex: 'secretLevel',
        scopedSlots: { customRender: 'secretLevel' },
        headerClassName: 'required-table-title',
        type: 'select',
        placeholder: '请选择密级',
        list: [],
        isCanEdit: true,
        width: 90,
        align: 'left',
        sorter: true
      },
      {
        isTableHidden: false,
        isFormHidden: false,
        isAuthFlag: false,
        title: '操作',
        dataIndex: 'action',
        scopedSlots: { customRender: 'action' },
        fixed: 'right',
        width: 100
      }],
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      lookupParams, // 此模块通用代码
      rowKey, // 表格主键字段
      dataIndex, // 表格slot渲染字段集合
      tableRefName: 'Stock29Table', // 表格ref名称
      saveParam: {
        // 保存请求接口
        url: requestPublicUrl + '/save/v1',
        method: 'post'
      },
      delParam: {
        // 删除请求接口
        url: requestPublicUrl + '/deleteByIds/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/searchByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.postAdvancedSearchParam // 高级查询数据
          },
          keyWord: this.postSearchParam, // 普通查询数据
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    /**
     * 行编辑表格如果需要通用代码,则进行通用代码请求
     */
    if (this.lookupParams && this.lookupParams.length > 0) {
      this.getEditTableLookups(this.lookupParams);
    }
    /**
     * 进入页面,加载表格数据
     */
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    },
    /**
     * 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
     */
    menuRefresh() {
      this.menuRefreshReset();
    },
    /**
     * 校验规则
     */
    setCheckArray() {
      // 校验规则设置:
      // id: 字段英文名;
      // name: 字段中文名;
      // isRequired: 是否必填;
      // isCheckScript: 是否校验script非法字符;
      // isCheckMaxLength: 是否校验长度;
      // maxLength: 最大长度
      // isCheckAllSpace: 是否校验不能输入空格
      let checkArray = [
        {
          id: 'goodsId',
          name: '商品id',
          isCheckScript: true,
          isRequired:  true ,
          maxLength: '50'
        },
        {
          id: 'num',
          name: '库存数量',
          isCheckScript: true,
          isRequired:  true ,
          maxLength: '10'
        },
        {
          id: 'orgId',
          name: '组织ID',
          isCheckScript: true,
          isRequired:  true ,
          maxLength: '50'
        },
        {
          id: 'deptId',
          name: '部门ID',
          isCheckScript: true,
          isRequired:  true ,
          maxLength: '50'
        },
        {
          id: 'sysId',
          name: '系统标识ID',
          isCheckScript: true,
          isRequired:  true ,
          maxLength: '50'
        },
        {
          id: 'secretLevel',
          name: '密级',
          isCheckScript: true,
          isRequired:  true ,
          maxLength: '50'
        }
      ];
      return checkArray;
    },
    /**
     * 点击添加按钮 校验通过才能添加下一行
     */
    handleAdd() {
      let checkArray = this.setCheckArray(); // 校验字段设置: 必填, 非法含有脚本标签, 最大长度
      this.handleAddOrSaveCheck(this.data, checkArray, () => {
        // 传设置参数进行校验
        // 关闭其他行的编辑状态
        this.data.map(item => {
          if (item._vue_editing) {
            item._vue_editing = false;
          }
        });
        // 校验通过,则添加一条带假id的数据
        this.count += 1;
        let newData = {
          id: this.newRowName + this.count,
          goodsId: '',
          num: '',
          orgId: '',
          deptId: '',
          sysId: '',
          secretLevel: '',
          _vue_editing: true
        };
        this.data = [newData, ...this.data];
      });
    }
  }
};
</script>

