<template>
  <div id="contentHover">
    <div class="content-hover-left">
      <div class="content-hover-header">
        <a-input-search
          v-model="keyWord"
          placeholder="搜索菜单项（支持拼音首字母搜索）"
          style="width: 100%"
        />
      </div>
      <div class="content-hover-main">
        <vue-scroll ref="popMenuScroll" :ops="ops">
          <div v-if="recentVisitList.length > 0" class="first-menu-area">
            <div class="first-menu-title">最近访问</div>
            <div class="recently-container">
              <ul>
                <template v-for="(item, index) in recentVisitList">
                  <li v-if="index < recentVisitCount" :key="index">
                    <a @click="clickMenu(item.path)" :title="item.meta.title">
                      {{ item.meta.title }}
                    </a>
                    <b :class="[checkCollect(item) ? 'collected-menu' : 'not-collected-menu']">
                      <a-icon
                        :theme="checkCollect(item) ? 'filled' : 'outlined'"
                        type="star"
                        class="starColor"
                        @click="changeCollectStatus(item)"
                      />
                    </b>
                  </li>
                </template>
                <li />
              </ul>
            </div>
          </div>
          <div class="first-menu-area">
            <div class="first-menu-title">VUE开发平台</div>
            <a-divider class="content-hover-devider" />
            <div class="content-in-first-menu">
              <div v-for="(item, colIdx) in menuCol" :key="colIdx" class="hover-content-col">
                <div
                  v-for="(colItem, key) in contentCols[colIdx]"
                  :id="'firstMenu-' + colIdx + '-' + key"
                  :key="key"
                  class="hover-content-block"
                >
                  <div
                    v-if="
                      colItem.children &&
                      colItem.children.length > 0 &&
                      keyWordFilter(colItem, null)
                    "
                  >
                    <div
                      :ref="'firstMenu-' + colIdx + '-' + key"
                      class="hover-content-first-lvl"
                      :title="colItem.meta.title"
                    >
                      {{ colItem.meta.title }}
                    </div>
                    <ul>
                      <template v-for="(sonitem, sonkey) in colItem.children">
                        <li
                          v-if="keyWordFilter(colItem, sonitem)"
                          :key="sonkey"
                          class="hover-content-second-lvl leaf-node-menu"
                        >
                          <a @click="clickMenu(sonitem.path)" :title="sonitem.meta.title">
                            {{ sonitem.meta.title }}
                          </a>
                          <b
                            :class="[
                              checkCollect(sonitem) ? 'collected-menu' : 'not-collected-menu'
                            ]"
                          >
                            <a-icon
                              :theme="checkCollect(sonitem) ? 'filled' : 'outlined'"
                              type="star"
                              class="starColor"
                              @click="changeCollectStatus(sonitem)"
                            />
                          </b>
                        </li>
                      </template>
                    </ul>
                  </div>
                  <div v-else-if="keyWordFilter(colItem, null)">
                    <ul>
                      <li
                        :ref="'firstMenu-' + colIdx + '-' + key"
                        class="leaf-node-menu hover-content-first-lvl"
                      >
                        <a :title="colItem.meta.title" @click="clickMenu(colItem.path)">
                          {{ colItem.meta.title }}
                        </a>
                        <b
                          :class="[checkCollect(colItem) ? 'collected-menu' : 'not-collected-menu']"
                        >
                          <a-icon
                            :theme="checkCollect(colItem) ? 'filled' : 'outlined'"
                            type="star"
                            class="starColor"
                            @click="changeCollectStatus(colItem)"
                          />
                        </b>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </vue-scroll>
      </div>
    </div>
    <div class="content-hover-right">
      <vue-scroll :ops="ops">
        <ul>
          <template v-for="(item, colIdx) in menuCol">
            <li
              v-for="(colItem, index) in contentCols[colIdx]"
              :key="colIdx + '-' + index"
              class="horizen-nav"
            >
              <div
                class="menu-index"
                :title="colItem.meta.title"
                @click="scrollTo('firstMenu-' + colIdx + '-' + index)"
              >
                {{ colItem.meta.title }}
              </div>
            </li>
          </template>
        </ul>
      </vue-scroll>
    </div>
  </div>
</template>

<script>
import { Divider, Icon, Input } from 'ant-design-vue';
import Vue from 'vue';
import { httpAction } from '@/api/manage';
import VueScroll from 'vuescroll/dist/vuescroll-native';
import store from '@/store/index';
import { DEFAULT_COLOR } from '@/store/mutationTypes';
import { slugify } from 'transliteration';

Vue.use(VueScroll);
export default {
  name: 'ContentHover',
  components: {
    VueScroll,
    ADivider: Divider,
    AIcon: Icon,
    AInputSearch: Input.Search
  },
  props: {
    //登录用户已收藏的菜单项
    siderlist: {
      type: Array,
      required: true, //校验
      default: () => {
        return [];
      }
    }
  },
  data() {
    return {
      keyWord: '',
      recentVisitCount: 6, //最近访问记录数量
      menuCol: 3, // 菜单项列表区展示列数
      recentVisitList: [],
      httpConfig: {
        getRecentVisitList: {
          url: '/api/appsys/user/menu/visitMenu/getMenuList/v1',
          method: 'post'
        }
      },
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc',
          opacity: 0
        }
      }
    };
  },
  computed: {
    permissionList() {
      return store.getters.permissionList;
    },
    contentCols() {
      let res = [];
      // 每列理想条目数
      let cntPerCol = Math.ceil(this.getCount4Tree(this.permissionList) / this.menuCol);
      let colData = [];
      this.permissionList.map(item => {
        let itemCnt = this.getCount4Tree([item]);
        if (itemCnt + this.getCount4Tree(colData) <= Math.floor(cntPerCol + itemCnt / 2)) {
          colData.push(item);
        } else {
          if (res.length < this.menuCol - 1) {
            res.push(colData);
            colData = [item];
          } else {
            colData.push(item);
          }
        }
      });
      res.push(colData);
      return res;
    }
  },
  created() {
    this.initContentHover();
  },
  methods: {
    clickMenu(path) {
      this.$emit('closeContent');
      this.$router.push(path);
    },
    getCount4Tree(treeData) {
      let cnt = 0;
      if (!treeData) {
        return cnt;
      }
      try {
        treeData.map(item => {
          cnt += this.getCount4Tree(item.children || []) + 1.5;
        });
      } catch (error) {
        return cnt;
      }
      return cnt;
    },
    scrollTo(eleId) {
      this.keyWord = '';
      this.$nextTick(() => {
        this.$refs['popMenuScroll'].scrollIntoView('#' + eleId, 500);
        this.$nextTick(() => {
          this.$refs[eleId][0].style.border =
            '1px solid ' + Vue.ls.get(DEFAULT_COLOR).color['@primary-color'];
          setTimeout(() => {
            this.$refs[eleId][0].style.border = 'none';
          }, 2000);
        });
      });
    },
    //初始化数据
    initContentHover() {
      // 初始化最近访问列表
      this.getRecentVisitList();
    },
    getRecentVisitList() {
      httpAction(
        this.httpConfig.getRecentVisitList.url,
        this.recentVisitCount,
        this.httpConfig.getRecentVisitList.method
      ).then(res => {
        if (res.result && res.result.length !== 0) {
          this.recentVisitList = this.filterFavAuth(res.result);
        }
      });
    },
    filterFavAuth(dataList) {
      let _this = this;
      return dataList.filter(item => {
        return _this.checkMenuAuth(item.id, _this.permissionList);
      });
    },
    checkMenuAuth(authId, authList) {
      let res = false;
      let _this = this;
      authList.map(item => {
        if (!res) {
          if (item.id === authId) {
            res = true;
          } else {
            if (item.children && item.children.length) {
              res = _this.checkMenuAuth(authId, item.children);
            }
          }
        }
      });
      return res;
    },
    //搜索 根据关键字过滤菜单项,pItem:一级菜单,item:二级菜单,返回boolean
    keyWordFilter(pItem, item) {
      if (this.keyWord === '') {
        return true;
      }
      // 直接包含关键字
      if (
        pItem.meta.title.indexOf(this.keyWord) !== -1 ||
        (item && item.meta.title.indexOf(this.keyWord) !== -1)
      ) {
        return true;
      }
      // 拼音直接包含关键字
      let pItemFlstr = '';
      let pItemPinyinList = slugify(pItem.meta.title).split('-');
      pItemPinyinList.map(fl => {
        pItemFlstr += fl.substring(0, 1);
      });
      if (pItemFlstr.toLowerCase().indexOf(this.keyWord.toLowerCase()) !== -1) {
        return true;
      }
      if (item) {
        let itemFlstr = '';
        let itemPinyinList = slugify(item.meta.title).split('-');
        itemPinyinList.map(fl => {
          itemFlstr += fl.substring(0, 1);
        });
        if (itemFlstr.toLowerCase().indexOf(this.keyWord.toLowerCase()) !== -1) {
          return true;
        }
      }
      // 当前一级菜单的子菜单项包含关键字或其拼音包含关键字
      if (!item && pItem.children && pItem.children.length > 0) {
        let res = false;
        let _kw = this.keyWord;
        pItem.children.map(it => {
          if (it.meta.title.indexOf(_kw) !== -1) {
            res = true;
          } else {
            let _itflStr = '';
            let itPinyinList = slugify(it.meta.title).split('-');
            itPinyinList.map(fl => {
              _itflStr += fl.substring(0, 1);
            });
            if (_itflStr.toLowerCase().indexOf(_kw.toLowerCase()) !== -1) {
              res = true;
            }
          }
        });
        if (res) {
          return true;
        }
      }
      return false;
    },
    //收藏和取消收藏事件
    changeCollectStatus(item) {
      //获取点击对象
      this.$emit('changeCollectStatus', item);
    },
    //检验是否已收藏指定菜单，返回boolean
    checkCollect(menuData) {
      let res = false;
      this.siderlist.map(item => {
        if (item.path === menuData.path) {
          res = true;
        }
      });
      return res;
    }
  }
};
</script>
<style lang="less">
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.starColor {
  color: #1890ff;
  font-size: 10px;
}
#contentHover {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.content-hover-left {
  float: left;
  width: 75%;
  height: 100%;
  a {
    color: rgba(0, 0, 0, 0.65);
  }
}
.content-hover-right {
  width: 25%;
  height: 100%;
  float: right;
  padding-top: 65px;
}
.content-hover-right ul .horizen-nav {
  width: 100%;
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
  border-left: 1px solid #c1c1c1;
}
.content-hover-right ul .horizen-nav .menu-index {
  display: inline-block;
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.content-hover-right ul .horizen-nav:hover {
  border-left: 1px solid #1890ff;
  color: #1890ff;
  font-weight: 600;
  cursor: pointer;
  .menu-index {
    font-size: 13px;
    max-width: 120px;
  }
}
.content-hover-header {
  width: 100%;
  height: 50px;
  padding-top: 10px;
}
.content-hover-header .ant-input-affix-wrapper .ant-input {
  border-radius: 21px;
  padding-left: 15px;
}
.content-hover-header .ant-input-suffix .ant-input-search-icon {
  color: #012456 !important;
  font-weight: bold;
}
.content-hover-main {
  overflow: auto;
  width: 100%;
  height: calc(100% - 50px);
  padding-top: 8px;

  .first-menu-area {
    width: 95%;
    margin: 8px auto;

    .first-menu-title {
      width: 100%;
      padding-left: 10px;
      height: 30px;
      line-height: 30px;
      font-family: 'ArialMT', 'Arial';
      font-weight: 650;
      font-style: normal;
      font-size: 13px;
      color: #333;
      display: inline-block;
    }
    .content-hover-devider {
      width: 95%;
      min-width: 95%;
      margin: 0 auto;
    }
  }
}
.contentHover_main_part {
  width: 33%;
  min-width: 100px;
  float: left;
}
.contentHover_main_part_container ul li {
  height: 30px;
  line-height: 30px;
  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #333;
  text-align: center;
}
.recently-container {
  width: 100%;
  margin: 0 auto;
  ul {
    display: inline-block;
    width: 100%;
  }
}
.recently-container ul li {
  float: left;
  width: 33%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 0 0 10px;
}
.recently-container ul li:last-child {
  float: none;
}
.recently-container ul li span {
  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #333;
}
.recently-container ul li b,
.hover-content-block ul li b {
  float: right;
  margin-right: 12px;
  cursor: pointer;
}
.recently-container ul li a,
.hover-content-block ul li a {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
  display: inline-block;
  font-size: 12px;
}
.recently-container ul li .not-collected-menu,
.hover-content-block ul li .not-collected-menu {
  display: none;
}
.recently-container ul li:hover,
.hover-content-block ul li:hover {
  background-color: #f2f2f2;
}
.recently-container ul li:hover .not-collected-menu,
.hover-content-block ul li:hover .not-collected-menu,
.recently-container ul li .collected-menu,
.hover-content-block ul li .collected-menu {
  display: block;
}
.content-in-first-menu {
  .hover-content-col {
    width: 33%;
    float: left;
  }
}
.hover-content-block {
  width: 100%;
  .leaf-node-menu {
    border-radius: 5px;
  }
}
.hover-content-first-lvl {
  font-family: 'ArialMT', 'Arial';
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  color: #333;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  padding: 0 0 0 10px;
  margin-top: 14px;
  border-radius: 5px;
  transition: all 0.2s ease 0;
}
.hover-content-block .hover-content-second-lvl {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 0 0 10px;
}
.hover-content-block ul li span {
  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #333;
}
</style>
