<template>
  <div class="global-main-layout">
    <!-- 左边侧边栏内容 -->
    <div class="sider-left" :style="{ width: siderWidth + 'px' }" @mouseleave="resetSiderWidth">
      <div
        class="sider-left-logo"
        :class="{ 'sider-left-line-under-logo': '239' == siderWidth }"
        @mouseover="openContent"
      >
        <div class="logo" :style="backgroundLogo" />
        <div class="logo-right">
          <img v-show="'45' === siderWidth" src="~@/assets/images/common/logo-right.svg" />
        </div>
        <div class="header-title">
          <div class="header-logo-text">业务基础云平台</div>
          <div class="sider-header-icon">
            <a-icon type="right" />
          </div>
        </div>
        <!-- 展开框内容 -->
        <div
          class="sider-content-hover"
          :style="{ left: siderWidth + 'px' }"
          :class="[showContent ? 'show-content' : 'hide-content']"
          @mouseleave="closeContent"
        >
          <content-hover
            :siderlist="siderlist"
            @changeCollectStatus="changeCollectStatus"
            @closeContent="closeContent"
          />
        </div>
      </div>
      <div class="side-menu-container" @mouseover="showSider">
        <vue-scroll :ops="ops">
          <ul class="side-menu">
            <draggable
              v-model="siderlist"
              v-bind="dragOptions"
              handle=".menu-drag"
              @start="drag = true"
              @end="dragEnd"
            >
              <transition-group type="transition" :name="!drag ? 'flip-list' : null">
                <li v-for="(item, index) in siderlist" :key="index" class="side-menu-item">
                  <router-link :to="item.path">
                    <a-icon :type="item.meta.icon || 'star'" />
                    <span>{{ item.meta.title }}</span>
                  </router-link>
                  <div class="menu-opt menu-drag">
                    <a-icon type="drag" />
                  </div>
                  <div class="menu-opt menu-del" @click="deleteSider(index)">
                    <img
                      src="~@/assets/images/menu/menu-del-normal.svg"
                      class="menu-icon normal-icon"
                    />
                    <img
                      src="~@/assets/images/menu/menu-del-hover.svg"
                      class="menu-icon hover-icon"
                    />
                  </div>
                </li>
              </transition-group>
            </draggable>
          </ul>
        </vue-scroll>
      </div>
      <div class="lined-menu-switch">
        <a-form-item label="精简模式" :label-col="{ span: 10 }" :wrapper-col="{ span: 14 }">
          <a-switch
            v-model="isLinedMenu"
            @click="setLiendMenu"
            checked-children="关闭"
            un-checked-children="开启"
          />
        </a-form-item>
      </div>
    </div>
    <!-- 右边部分内容 -->
    <div
      ref="rightContainer"
      class="right-container"
      :style="{
        width: 'calc(100% - ' + (isLinedMenu ? '25' : '65') + 'px)',
        'margin-left': (isLinedMenu ? '15' : '55') + 'px'
      }"
    >
      <slot />
    </div>
    <setting-drawer />
  </div>
</template>
<script>
import { Icon, Switch, Form } from 'ant-design-vue';

import { mapGetters } from 'vuex';
import { httpAction } from '@/api/manage';
import draggable from 'vuedraggable';
import Bus from '@utils/avic/common/eventBus.js';
import SettingDrawer from '@portal/pageModules/drawer/SettingDrawer';
import ContentHover from '@portal/pageLayouts/common/ContentHover';
import VueScroll from 'vuescroll/dist/vuescroll-native';

const FAVMENU_LINEDMENU = 'FAVMENU_LINEDMENU';
export default {
  name: 'GlobalMainLayout',
  components: {
    ContentHover,
    SettingDrawer,
    draggable,
    VueScroll,
    AIcon: Icon,
    ASwitch: Switch,
    AFormItem: Form.Item
  },
  data() {
    return {
      showContent: false,
      isLinedMenu: false, // 收藏夹-精简模式开关（默认关）
      linedMenuObserver: null,
      siderWidth: '45',
      drag: false,
      dragOptions: {
        animation: 300,
        group: 'sideMenuDragGroup',
        disabled: false,
        ghostClass: 'ghost',
        forceFallback: true,
        fallbackClass: 'drag-fallback'
      },
      httpConfig: {
        queryCollectedMenuByUser: {
          url: '/api/appsys/user/menu/personalMenu/getMenuList/v1',
          method: 'post'
        },
        saveCollectedMenu: {
          url: '/api/appsys/user/menu/personalMenu/saveMenu/v1',
          method: 'post'
        },
        deleteCollectedMenu: {
          url: '/api/appsys/user/menu/personalMenu/deleteByMenuId/v1',
          method: 'post'
        },
        sortCollectMenu: {
          url: '/api/appsys/user/menu/personalMenu/orderMenu/v1',
          method: 'post'
        }
      },
      favMenuList: [],
      siderlist: [
        // { id: '1', icon: 'desktop', path: '/singletableManager', title: '示例页-单表模板' },
        // { id: '2', icon: 'slack', path: '/MpmProjectInfoTreeManage', title: '表单树' },
        // { id: '3', icon: 'stock', path: '/flowchart/open', title: '表单流程' },
        // { id: '4', icon: 'book', path: '/MpmProjectClassInfoManage', title: '单表树' },
        // { id: '5', icon: 'desktop', path: '/mpmProjectMainInfoManage', title: '示例页-主子表模板' },
        // { id: '6', icon: 'desktop', path: '/MpmProjectBomChangeInfoManage', title: '示例页-四表联动' }
      ],
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc',
          opacity: 0
        }
      },
      backgroundLogo: {
        backgroundImage: 'url(' + require('@/assets/images/common/logo.png') + ')',
        backgroundSize: '32px 32px'
      }
    };
  },
  created() {
    this.queryCollectedMenuByUser();
    this.isLinedMenu = this.getGlobalCfgItem(FAVMENU_LINEDMENU);
    this.resetSiderWidth();
  },
  mounted() {
    this.bindLinedMenuEvent();
  },
  computed: {
    ...mapGetters(['permissionList', 'getGlobalCfgItem'])
  },
  watch: {
    permissionList() {
      this.filterFavAuth();
    }
  },
  beforeDestroy() {
    if (this.linedMenuObserver) {
      this.linedMenuObserver.disconnect();
    }
  },
  methods: {
    openContent() {
      this.showContent = true;
    },
    closeContent() {
      this.showContent = false;
    },
    setLiendMenu(checked) {
      this.$store.commit('SAVE_GLOBAL_ITEM_CFG', {
        key: FAVMENU_LINEDMENU,
        val: checked
      });
    },
    linedMenuCallback() {
      Bus.$emit('resize');
    },
    bindLinedMenuEvent() {
      if (this.linedMenuObserver) {
        this.linedMenuObserver.disconnect();
      }
      this.linedMenuObserver = new MutationObserver(this.linedMenuCallback);
      let options = {
        attributes: true,
        attributeFilter: ['style']
      };
      this.linedMenuObserver.observe(this.$refs.rightContainer, options);
    },
    filterFavAuth() {
      let _this = this;
      this.siderlist = this.favMenuList.filter(item => {
        return _this.checkMenuAuth(item.id, _this.permissionList);
      });
    },
    checkMenuAuth(authId, authList) {
      let res = false;
      let _this = this;
      authList.map(item => {
        if (!res) {
          if (item.id === authId) {
            res = true;
          } else {
            if (item.children && item.children.length) {
              res = _this.checkMenuAuth(authId, item.children);
            }
          }
        }
      });
      return res;
    },
    queryCollectedMenuByUser() {
      httpAction(this.httpConfig.queryCollectedMenuByUser.url).then(res => {
        if (res.result && res.result.length !== 0) {
          this.favMenuList = res.result;
          this.filterFavAuth();
        }
      });
    },
    // 浮动菜单中切换收藏状态
    changeCollectStatus(cdata) {
      let idx = -1;
      this.siderlist.map((e, index) => {
        if (e.id === cdata.id) {
          idx = index;
        }
      });
      if (idx === -1) {
        this.pushsiderlist(cdata);
      } else {
        this.deleteSider(idx);
      }
    },
    //添加收藏菜单
    pushsiderlist(cdata) {
      if (cdata && JSON.stringify(this.siderlist).indexOf(JSON.stringify(cdata)) === -1) {
        httpAction(
          this.httpConfig.saveCollectedMenu.url,
          cdata.id,
          this.httpConfig.saveCollectedMenu.method
        ).then(res => {
          if (res.success) {
            this.siderlist.push(cdata);
          }
        });
      }
    },
    //删除边框栏中的所选数据
    deleteSider(index) {
      if (!this.siderlist[index] || !this.siderlist[index].id) {
        console.log('菜单数据无ID，无法取消收藏');
      } else {
        httpAction(
          this.httpConfig.deleteCollectedMenu.url,
          this.siderlist[index].id,
          this.httpConfig.deleteCollectedMenu.method
        ).then(res => {
          if (res.success) {
            this.siderlist.splice(index, 1);
          }
        });
      }
    },
    dragEnd() {
      this.drag = false;
      let menuIds = '';
      this.siderlist.map((item, index) => {
        if (index !== 0) {
          menuIds += ',';
        }
        menuIds += item.id;
      });
      httpAction(
        this.httpConfig.sortCollectMenu.url,
        menuIds,
        this.httpConfig.saveCollectedMenu.method
      ).then(() => {});
    },
    showSider() {
      this.siderWidth = '239';
    },
    resetSiderWidth() {
      this.siderWidth = this.isLinedMenu ? '5' : '45';
    }
  }
};
</script>
<style lang="less">
.global-main-layout {
  width: 100%;
  position: absolute;
  background: #f1f1f1;
  height: 100%;
}
.sider-left {
  height: 100%;
  position: fixed;
  background: #1890ff;
  box-shadow: 5px 0 6px -1px #cdcdcd;
  z-index: 200;
  transition: color 0.8s;
}
.sider-left-logo {
  width: 100%;
  height: 55px;
  overflow: hidden;
  .logo-right {
    float: left;
    width: 6px;
    height: 100%;
    margin-top: 12px;
  }
}
.sider-left-logo:hover {
  .show-content {
    display: block;
  }
  .hide-content {
    display: none;
  }
}
.sider-left-line-under-logo {
  border-bottom: 1px solid #cdcdcd;
}
.right-container {
  min-width: 1010px;
  margin-right: 10px;
  height: 100%;
}
.global-main-layout .ant-layout-sider {
  position: relative;
}
.global-main-layout .ant-layout-sider-trigger {
  background: #1890ff !important;
}
.global-main-layout .trigger {
  display: none;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.global-main-layout .trigger:hover {
  color: #1890ff;
}
.global-main-layout .sider-left {
  background: linear-gradient(180deg, #29323c, #485562);
}
.global-main-layout .sider-left .side-menu-container {
  display: block;
  height: calc(100% - 100px);
  width: 100%;
  position: absolute;
}
.sider-left .lined-menu-switch {
  position: absolute;
  width: 195px;
  right: 0;
  height: 40px;
  bottom: 5px;

  .ant-form-item-label label {
    color: #f1f1f1;
  }
  .ant-switch {
    background-color: #5fb7fa;
  }
  .ant-switch-checked {
    background-color: #1466b1;
  }
  .ant-switch-inner {
    color: #f1f1f1;
  }
}
.global-main-layout .sider-left .side-menu {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.global-main-layout .sider-left .side-menu-item {
  list-style: none;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  height: 43px;
  line-height: 43px;
  background: none;
  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  overflow: hidden;
}
.global-main-layout .sider-left .side-menu-item:hover {
  background: #6dbffb;
  // background: #000;
}
.global-main-layout .sider-left .side-menu-item:hover .menu-opt {
  display: block;
  cursor: pointer;
}
.global-main-layout .sider-left .side-menu-item a .anticon {
  color: #fff;
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
}
.global-main-layout .sider-left .side-menu-item a span {
  color: #fff;
  margin-left: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  height: 36px;
  display: inline-block;
}

.global-main-layout .sider-left .side-menu-item:hover a span {
  width: 110px;
}
.global-main-layout .logo {
  width: 32px;
  height: 32px;
  float: left;
  margin: 8px 0 0 7px;
}
.header-title {
  height: 55px;
  line-height: 55px;
}
.header-logo-text {
  height: 32px;
  line-height: 32px;
  float: left;
  color: #fff;
  margin: 8px 0 0 8px;
}
.sider-header-icon {
  width: 46px;
  height: 49px;
  line-height: 49px;
  float: right;
  color: #fff;
  margin: 0;
}

@keyframes popmenu {
  0% {
    width: 0;
    top: 0;
  }
  100% {
    width: 800px;
    top: 0;
  }
}

@-moz-keyframes popmenu /* Firefox */ {
  0% {
    width: 0;
    top: 0;
  }
  100% {
    width: 800px;
    top: 0;
  }
}

@-webkit-keyframes popmenu /* Safari 和 Chrome */ {
  0% {
    width: 0;
    top: 0;
  }
  100% {
    width: 800px;
    top: 0;
  }
}

@-o-keyframes popmenu /* Opera */ {
  0% {
    width: 0;
    top: 0;
  }
  100% {
    width: 800px;
    top: 0;
  }
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.8;
}
.drag-fallback {
  opacity: 0 !important;
}
.sider-content-hover {
  width: 50%;
  min-width: 800px;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background: #fff;
  box-shadow: 5px 0 6px -1px #cdcdcd;
  animation: popmenu 0.2s;
  -moz-animation: popmenu 0.2s; /* Firefox */
  -webkit-animation: popmenu 0.2s; /* Safari 和 Chrome */
  -o-animation: popmenu 0.2s; /* Opera */
}

.right_container_content {
  width: 100%;
  height: 620px;
  background: #fff;
  margin-top: 15px;
}
.menu-opt {
  .menu-icon {
    margin-left: 12px;
    margin-top: 15px;
  }
}
.menu-del {
  float: right;
  display: none;

  img {
    width: 12px;
    height: 12px;
  }
  .normal-icon {
    display: block;
  }
  .hover-icon {
    display: none;
  }
}
.menu-del:hover {
  .normal-icon {
    display: none;
  }
  .hover-icon {
    display: block;
  }
}
.menu-drag {
  float: right;
  margin: 0 15px;
  color: #f1f1f1;
  padding-top: 13px;
  font: icon;
}
.menu-drag:hover {
  color: #fff;
}
</style>
