
/**  首页配置card卡片样式  by mzy 2020-0527  **/
.box-card {
  border-radius: 2px;
  height: 100%;
  //.ant-card {
  //  border-radius: 15px;
  // }
  .ant-empty{
    margin-top: 88px;
  }
  .box-card-title {
    .box-card-title-tabBar{
      float:right;
    }
    i {
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 2px;
      font-size: 17px;
      cursor: pointer;
      margin: 0 0 0 -3px;
      border: 1px solid #d9dee5;
      color: #8291a9;
      &:hover{
        opacity: 0.6;
        background: #fbfbfb;
        color: #8291a9 !important;
      }
    }
    span{
      color:#252b3a;
      font-size:14px;
      margin-left: 6px;
    }
  }
  &> .ant-card-head {
    min-height: 45px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
  }
  &> .ant-card-head::after{
    position: absolute;
    top: 12px;
    left: 0;
    content: '';
    width: 4px;
    height: 25px;
    transform: perspective(0.5em) rotateY(25deg);
  }
  .ant-card-head-title {
    padding: 0
  }
  .ant-card-extra {
    padding: 0 0;

    span{
      position: relative;
      display: inline-block;
      top: -1px;
      left: 8px;
      margin-right: 12px;
    }
  }
}
