<template>
  <div>
    <a-modal
      :id="modalId"
      :ref="modalRefName"
      :class="modalClass"
      :keyboard="modalEscControl"
      :centered="centerStyle"
      v-bind="$attrs"
      :body-style="ModalWidthAndHeight.bodyStyle"
      :style="ModalWidthAndHeight.modalStyle"
      :width="ModalWidthAndHeight.modalStyle.width"
      :closable="closeAble"
      v-on="$listeners"
    >
      <template slot="title">
        {{ modalTitle }}
        <div v-if="!sizeState" v-drag />
        <button
          v-if="adjustSize"
          :title="btnTitle"
          type="button"
          class="avic-modal-size"
          :style="sizeBtnPosition"
          @click="fullScreen($event)"
        >
          <span class="avic-modal-size-adjust">
            <AvicIcon icon-source="avic" svg-name="quanp" />
          </span>
        </button>
      </template>

      <slot />
      <template slot="footer">
        <slot name="footer" />
        <div v-show="dragTrimShow" class="drag-trim" @mousedown.stop="dragResize($event)" />
        <div v-show="dragTrimShow" class="drag-trim-icon" />
      </template>
    </a-modal>
  </div>
</template>

<script>
import { Modal } from 'ant-design-vue';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import AvicIcon from '@comp/avic/pt/common/AvicIcon';
import { mapState } from 'vuex';

let newSetModalStyle, newSetModalBodyStyle;

export default {
  name: 'AvicModal',
  components: {
    AModal: Modal,
    AvicIcon
  },
  props: {
    //弹窗标题
    modalTitle: {
      type: String,
      required: false,
      default: null
    },
    //是否需要右上角全屏按钮
    adjustSize: {
      type: Boolean,
      required: false,
      default: true
    },
    //是否需要右上角关闭按钮
    closeAble: {
      type: Boolean,
      required: false,
      default: true
    },
    //弹窗整体样式
    setModalStyle: {
      type: Object,
      required: false,
      default: null
    },
    //弹窗中间body部分样式
    setModalBodyStyle: {
      type: Object,
      required: false,
      default: null
    },
    //弹窗modal宽度占屏幕比例
    modalHeight: {
      type: Number,
      required: false,
      default: 0.7
    },
    //弹窗modal高度占屏幕比例
    modalWidth: {
      type: Number,
      required: false,
      default: 0.7
    },
    /**
     * 弹窗modal的body的高度比整个弹窗modal少的高度
     * 弹窗默认title高度48加footer高度50-->98
     **/
    modalCutHeight: {
      type: Number,
      required: false,
      default: 98
    }
  },
  data() {
    return {
      modalRefName: 'aModal',
      sizeState: 0, //代表现在是正常状态，sizeState:1代表现在是放大状态
      moveEl: null,
      centerStyle: true,
      modalClass: '',
      ModalWidthAndHeight: modalWidthAndHeight(
        this.modalWidth,
        this.modalHeight,
        this.modalCutHeight
      ),
      dragTrimShow: true,
      sizeBtnPosition: {
        right: '42px'
      },
      oldPosLeft: null,
      oldPosTop: null,
      oldBodyWidth: null,
      oldBodyHeight: null
    };
  },
  computed: {
    ...mapState({
      modalEscControl: state => state.app.modalEscControl
    }),
    modalId() {
      return 'modalId' + this._uid;
    },
    btnTitle() {
      if (!this.sizeState) {
        return '放大';
      } else {
        return '缩小';
      }
    }
  },
  mounted() {
    window.addEventListener('resize', () => {
      if (this.sizeState === 0) {
        this.ModalWidthAndHeight = modalWidthAndHeight(
          this.modalWidth,
          this.modalHeight,
          this.modalCutHeight
        );
      } else {
        this.ModalWidthAndHeight = modalWidthAndHeight(1, 1, this.modalCutHeight);
      }
    });
    if (this.setModalStyle != null && typeof (this.setModalStyle === Object)) {
      Object.assign(this.ModalWidthAndHeight.modalStyle, this.setModalStyle);
    }
    if (this.setModalBodyStyle != null && typeof (this.setModalBodyStyle === Object)) {
      Object.assign(this.ModalWidthAndHeight.bodyStyle, this.setModalBodyStyle);
    }
    if (!this.closeAble) {
      this.sizeBtnPosition.width = 0;
    }
  },
  methods: {
    dragResize(e) {
      let startX = e.clientX,
        startY = e.clientY,
        that = this,
        modalWidth = that.ModalWidthAndHeight.modalStyle.width,
        bodyHeight = that.ModalWidthAndHeight.bodyStyle.height;
      let par = e.target.parentNode.parentNode.parentNode.parentNode.querySelector('.ant-modal');
      if (!par.style.left) {
        // par.style.left = 'auto';
        par.style.left = par.offsetLeft + 'px';
        // par.style.top = 'auto';
        par.style.top = par.offsetTop + 'px';
        par.style.margin = '0';
      }

      this.centerStyle = false;
      this.modalClass = 'dragging-modal';

      document.onmousemove = function (e) {
        let endX = e.clientX;
        let endY = e.clientY;
        let moveWidth = endX - startX; // （endx-startx）=移动的横向距离。
        let moveHeight = endY - startY; // （endY-startY）=移动的纵向距离。
        if (parseInt(modalWidth) + moveWidth >= 500) {
          that.ModalWidthAndHeight.modalStyle.width = parseInt(modalWidth) + moveWidth + 'px';
          that.ModalWidthAndHeight.bodyStyle.width = parseInt(modalWidth) + moveWidth + 'px';
          that.oldBodyWidth = that.ModalWidthAndHeight.bodyStyle.width;
        }
        if (parseInt(bodyHeight) + moveHeight >= 300) {
          that.ModalWidthAndHeight.bodyStyle.height = parseInt(bodyHeight) + moveHeight + 'px';
          that.oldBodyHeight = that.ModalWidthAndHeight.bodyStyle.height;
        }
      };
      // 鼠标松开事件
      document.onmouseup = function (evt) {
        document.onmousemove = null;
        document.onmouseup = null;
        that.modalClass = '';
      };
      return false;
    },
    reduceScreen() {
      let moveEl = document.querySelector('#' + this.modalId + ' .ant-modal');

      moveEl.style.position = 'absolute';
      document.querySelector('#' + this.modalId + ' .ant-modal-wrap').style.overflow = 'auto';
      this.ModalWidthAndHeight.modalStyle.width = this.oldBodyWidth;
      this.ModalWidthAndHeight.bodyStyle.width = this.oldBodyWidth;
      this.ModalWidthAndHeight.bodyStyle.height = this.oldBodyHeight;
      this.ModalWidthAndHeight.modalStyle.height = 'auto';
      moveEl.style.margin = '0';
      // moveEl.style.left = '0';
      moveEl.style.left = this.oldPosLeft + 'px';
      // moveEl.style.top = '0';
      moveEl.style.top = this.oldPosTop + 'px';
      this.sizeState = 0;
      this.dragTrimShow = true;
    },
    fullScreen() {
      let moveEl = document.querySelector('#' + this.modalId + ' .ant-modal');
      if (this.sizeState === 0) {
        let modalPosition = this.getModalPosition(moveEl);
        this.oldPosLeft = modalPosition.left;
        this.oldPosTop = modalPosition.top;
        this.oldBodyWidth = this.ModalWidthAndHeight.bodyStyle.width;
        this.oldBodyHeight = this.ModalWidthAndHeight.bodyStyle.height;
        moveEl.style.left = '0px';
        moveEl.style.top = '0px';
        this.ModalWidthAndHeight = modalWidthAndHeight(1, 1, this.modalCutHeight);

        if (this.setModalStyle != null && typeof (this.setModalStyle === Object)) {
          newSetModalStyle = JSON.parse(JSON.stringify(this.setModalStyle));
          if (newSetModalStyle.height) {
            newSetModalStyle.height = this.ModalWidthAndHeight.modalStyle.height;
          }
          if (newSetModalStyle.width) {
            newSetModalStyle.width = this.ModalWidthAndHeight.modalStyle.width;
          }
          Object.assign(this.ModalWidthAndHeight.modalStyle, newSetModalStyle);
        }
        if (this.setModalBodyStyle != null && typeof (this.setModalBodyStyle === Object)) {
          newSetModalBodyStyle = JSON.parse(JSON.stringify(this.setModalBodyStyle));
          if (newSetModalBodyStyle.height) {
            newSetModalBodyStyle.height = this.ModalWidthAndHeight.bodyStyle.height;
          }
          if (newSetModalBodyStyle.width) {
            newSetModalBodyStyle.width = this.ModalWidthAndHeight.bodyStyle.width;
          }
          Object.assign(this.ModalWidthAndHeight.bodyStyle, newSetModalBodyStyle);
        }
        this.sizeState = 1;
        document.querySelector('#' + this.modalId + ' .ant-modal-wrap').style.overflow = 'hidden';
        this.dragTrimShow = false;
      } else {
        this.reduceScreen();
      }
    },
    iconType() {
      if (this.sizeState === 0) {
        return 'fullscreen';
      } else {
        return `fullscreen-exit`;
      }
    },
    getModalPosition(el) {
      return el.getBoundingClientRect();
    }
  }
};
</script>

<style lang="less">
.avic-modal-size {
  position: absolute;
  top: 0;
  right: 42px;
  z-index: 10;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}
.avic-modal-size-adjust {
  display: block;
  width: 32px;
  height: 46px;
  font-size: 16px;
  font-style: normal;
  line-height: 46px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}
.avic-modal-size:hover {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.drag-trim {
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 15px;
  height: 15px;
  z-index: 2;
  cursor: nw-resize;

  &:hover {
    + .drag-trim-icon {
      border-color: rgba(0, 0, 0, 0.75);
    }
  }
}
.drag-trim-icon {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 1px;
  right: 1px;
  width: 10px;
  height: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.45);
  border-bottom: 2px solid rgba(0, 0, 0, 0.45);
  border-bottom-right-radius: 2px;
  transition: all 0.3s;
}
.dragging-modal {
  user-select: none;
  margin: 0 !important;
}
</style>
