<!--
 子流程
-->
<template>
  <a-modal
    :visible="selectVisible"
    :centered="true"
    :title="modalTitle"
    :mask-closable="false"
    wrap-class-name="main_modal"
    :width="720"
    :body-style="bodyStyle"
    :destroy-on-close="true"
    @afterClose="afterClose"
    @cancel="closeModal"
  >
    <div class="main-box">
      <a-spin class="main" :spinning="spinning">
        <div v-if="userBoxList.length > 0">
          <a-tabs default-active-key="0" :size="size" v-model="selectFlowTab" @change="changeTabs">
            <a-tab-pane v-for="(item, index) in userBoxList" :key="index">
              <template slot="tab">
                <span v-if="userBoxList.length == 1">
                  请{{ titleAction }}{{ title }}{{ actionObject }}
                </span>
                <span v-if="isMustUser(index) && !needSelectUser" class="required">*</span>
                <a-tooltip v-if="userBoxList.length > 1">
                  <template slot="title">
                    {{ item.name }}
                  </template>
                  {{ item.name }}
                </a-tooltip>
              </template>
              <div class="head-box">
                <a-checkable-tag
                  v-for="tab in item.tabs"
                  :key="tab.nodeType"
                  :disabled="true"
                  :checked="selectTag == tab.nodeType"
                  @change="changeHeadTag(tab.nodeType)"
                >
                  {{ tab.name }}
                </a-checkable-tag>
              </div>
              <div class="choose">
                <div class="subcontent left" ref="subcontent">
                  <div class="tree-box">
                    <!-- <template v-for="tab in item.tabs"> -->
                    <!-- v-if="selectTag == tab.nodeType"
                        :key="tab.nodeType" -->
                    <SelectTree
                      :button-data="buttonData"
                      :visible="visible"
                      :ref="treeRefName"
                      v-model="selectUser"
                      :select="{ selectTag: selectTag, selectFlowTab: selectFlowTab }"
                      :data="taskUserSelect"
                      @loading="onTreeLoading"
                    />
                    <!-- </template> -->
                  </div>
                </div>
                <div class="right" ref="pullRefresh">
                  <div ref="inputBox" class="input-box">
                    <SelectUserBox
                      v-model="selectUser"
                      :ref="selectUserBoxRefName"
                      :select-flow-tab="selectFlowTab"
                      :user-box-list="userBoxList"
                      @changeSelectUser="changeSelectUser"
                    />
                  </div>
                </div>
              </div>
            </a-tab-pane>
            <span
              class="main-tab-bar"
              style="width: 48px; height: 48px; display: inline-block"
              slot="tabBarExtraContent"
            />
          </a-tabs>
        </div>
        <BpmOpinion
          v-if="isShowFlowOpinion"
          :visible="visible"
          :button-data="buttonData"
          :height="flowOpinionHeight"
          :ref="flowOpinionRefName"
        />
        <SelectWorkHandUser
          ref="selectWorkHandUser"
          :process-key="processKey"
          :user-list="selectWorkHand"
          @closeSelectWorkHandUserList="closeSelectWorkHandUserList"
          @getSelectWorkHandUserList="getSelectWorkHandUserList"
        />
      </a-spin>
    </div>
    <template slot="footer">
      <a-button
        v-for="(button, index) in buttonsList"
        :key="index"
        :type="button.key != 'cancel' ? 'primary' : 'default'"
        :loading="spinningButton && button.key == 'confirm'"
        @click="() => clickModal(button.key)"
      >
        {{ button.name }}
      </a-button>
    </template>
  </a-modal>
</template>
<script>
import { Button, Modal, Spin, Tabs, Tag, Tooltip } from 'ant-design-vue';
import SelectTree from './SelectTree';
import SelectUserBox from './SelectUserBox';
import SelectWorkHandUser from '@comp/avic/bpm/AvicBpmButtonsModal/SelectWorkHandUser';
import BpmOpinion from './BpmOpinion';
import { httpAction } from '@api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { isAutoSelectUser, setUserList } from './_util';
import { mapActions, mapGetters } from 'vuex';

const tabs = {
  org: { id: 1, name: '部门', nodeType: 'orgDept', para: [] },
  user: { id: 2, name: '用户', nodeType: 'user', para: [] },
  group: { id: 2, name: '群组', nodeType: 'group', para: [] },
  role: { id: 3, name: '角色', nodeType: 'role', para: [] },
  position: { id: 4, name: '岗位', nodeType: 'position', para: [] },
  otg: { id: 5, name: '关系', nodeType: '', para: [] }
};
const buttons = {
  confirm: { name: '确定', key: 'confirm' },
  cancel: { name: '取消', key: 'cancel' },
  agree: { name: '同意并提交', key: 'agreeAndSubmit' },
  disagree: { name: '不同意并提交', key: 'disagreeAndSubmit' }
};
export default {
  components: {
    AButton: Button,
    AModal: Modal,
    ASpin: Spin,
    ATabs: Tabs,
    ACheckableTag: Tag.CheckableTag,
    ATooltip: Tooltip,
    BpmOpinion,
    SelectTree,
    SelectUserBox,
    SelectWorkHandUser
  },
  props: {
    buttonData: {
      required: false,
      type: Object,
      default: () => {}
    },
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    //是否显示编辑框
    isShowOpinion: {
      type: Boolean,
      required: false,
      default: true
    },
    //默认选中人员
    defaultSelectUsers: {
      required: false,
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      bodyStyle: { height: '540px', padding: '0px' },
      modalTitle: null,
      size: 'small',
      selectVisible: false, //窗口是否显示
      refersTop: 78.5 + 'px', //尖头高度
      selectFlowTab: 0, //选择的切换页
      selectUser: [], //选择的用户
      selectTag: '', //树上方选中的按钮
      treeRefName: 'selcetTree',
      isTreeLoading: false,
      selectUserBoxRefName: 'selectUserBox',
      flowOpinionRefName: 'flowOpinion',
      getActJsonInfoParam: {
        // 弹窗详情的请求接口
        url: bpmUtils.baseurl + '/business/getActJsonInfo2/v1',
        method: 'post'
      },
      //获取配置选人用户
      bpmStepPersonParam: {
        url: bpmUtils.baseurl + '/business/getBpmStepPerson/v1',
        method: 'post'
      },
      taskUserSelect: [],
      //按钮集合
      buttonsList: [],
      //选择框集合
      userBoxList: [],
      submitFuncName: '', // 提交按钮名称
      title: '', //标题名称
      titleAction: '选择', //标题动作
      actionObject: '处理人',
      spinning: false, //加载状态
      spinningButton: false, //按钮状态
      formId: '',
      selectWorkHand: [], //流程委托
      processKey: '', //流程委托
      needSelectUser: false, //判断是否选人
      compelManner: '', //选人表态
      isShowFlowOpinion: true, //是否显示意见
      flowOpinionHeight: 60 //意见框高度控制
    };
  },
  //注册接受组件传参事件
  computed: {
    ...mapGetters(['getSelectVisible'])
  },
  //接收组件传参
  watch: {
    getSelectVisible(selectVisible) {
      this.selectVisible = selectVisible;
      if (this.selectVisible) {
        this.selectFlowTab = 0;
        this.getActJsonInfo();
      } else {
        this.empty();
      }
    },
    visible: {
      immediate: true,
      handler(newV) {
        this.selectVisible = newV;
        if (newV) {
          this.selectFlowTab = 0;
          this.getActJsonInfo();
        } else {
          this.empty();
        }
      }
    },
    isShowOpinion: {
      immediate: true,
      handler(newV) {
        this.isShowFlowOpinion = newV;
      }
    }
  },
  created() {
    this.init();
  },
  activated() {
    if (this.$refs.pullRefresh) {
      this.$refs.pullRefresh.scrollTop = this.scroll;
    }
  },
  methods: {
    ...mapActions([
      'closeBpmCommonSelect',
      'BpmSubmitSubmit',
      'executeTodraftSubmit',
      'executeToprevSubmit',
      'executeTowantSubmit',
      'BpmWithdrawSubmit',
      'BpmSupplementSubmit',
      'BpmTransmitSubmit',
      'BpmAdduserSubmit',
      'BpmWithdrawassigneeSubmit',
      'BpmSupersedeSubmit',
      'BpmStepuserdefinedSubmit',
      'BpmTaskreaderSubmit',
      'BpmStartsubflowSubmit',
      'BpmGlobaljumpSubmit',
      'BpmGlobalendSubmit',
      'executeToactivitySubmit',
      'openSelectWorkHandUserModal'
    ]),
    //初始化函数
    init() {},
    onTreeLoading(isTreeLoading) {
      console.log(isTreeLoading);
      this.isTreeLoading = isTreeLoading;
    },
    changeHeadTag(nodeType) {
      console.log(this.isTreeLoading);
      /* 当前维度的数据加载中时，不可切换到其他维度 */
      if (this.isTreeLoading) {
        return;
      } else {
        this.selectTag = nodeType;
        setTimeout(() => {
          if (this.$refs[this.treeRefName].length >= this.selectFlowTab) {
            if (this.$refs[this.treeRefName][this.selectFlowTab]) {
              this.$refs[this.treeRefName][this.selectFlowTab].changeSelectUser(this.selectUser);
            }
          }
          if (this.$refs[this.selectUserBoxRefName].length >= this.selectFlowTab) {
            if (this.$refs[this.selectUserBoxRefName][this.selectFlowTab]) {
              this.$refs[this.selectUserBoxRefName][this.selectFlowTab].changeSelectUser(
                this.selectUser
              );
            }
          }
        }, 100);
      }
    },
    //判断是否显示选人框
    showSelectUser(taskUserSelect) {
      let bpmCommonSelect = this.getButtonData();
      let event = bpmCommonSelect.buttonData.event;
      if (!taskUserSelect.nextTask) {
        return false;
      } else if (isAutoSelectUser(event)) {
        return false;
      } else {
        for (let i = 0; i < taskUserSelect.nextTask.length; i++) {
          let _nextActorModel = taskUserSelect.nextTask[i];
          if (
            _nextActorModel.activityType == 'sub-process' ||
            _nextActorModel.activityType == 'foreach'
          ) {
            if (_nextActorModel.currentActivityAttr.isMustUser == 'yes') {
              return true;
            }
          } else if (_nextActorModel.activityType == 'end') {
            return false;
          } else {
            if (_nextActorModel.currentActivityAttr.isSelectUser == 'yes') {
              return true;
            }
          }
        }
      }
      return false;
    },
    //强制表态
    isIdeaCompelManner(taskUserSelect) {
      if (taskUserSelect.currentActivityAttr.ideaCompelManner) {
        if (taskUserSelect.currentActivityAttr.ideaCompelManner == 'yes') {
          // 强制
          return true;
        } else {
          return false; // 不强制
        }
      } else {
        return false; // 不强制
      }
    },
    //初始化加载选人组件
    getActJsonInfo() {
      let bpmCommonSelect = this.getButtonData();
      if (this.validationOpenSelect(bpmCommonSelect)) {
        this.spinning = true;
        //初始化按钮
        if (bpmCommonSelect.buttonData) {
          this.submitFuncName = bpmCommonSelect.submitFuncName;
          //如果是自定义选人则不显示输入意见框
          if (this.submitFuncName == 'BpmStepuserdefinedSubmit') {
            this.isShowFlowOpinion = false;
          }
          if (bpmCommonSelect.buttonData.alias) {
            this.title = '【' + bpmCommonSelect.buttonData.alias + '】';
          } else if (bpmCommonSelect.buttonData.lable) {
            this.title = '【' + bpmCommonSelect.buttonData.lable + '】';
          }
          this.buttonsList = [];
          this.buttonsList.push(buttons.cancel);
          this.buttonsList.push(buttons.confirm);
          let parameter = {
            procinstDbid: bpmCommonSelect.buttonData.procinstDbid,
            executionId: bpmCommonSelect.buttonData.executionId,
            taskId: bpmCommonSelect.buttonData.taskId,
            outcome: bpmCommonSelect.buttonData.name,
            targetActivityName: bpmCommonSelect.buttonData.targetActivityName,
            type: bpmCommonSelect.buttonData.event
          };
          httpAction(this.getActJsonInfoParam.url, parameter, this.getActJsonInfoParam.method) // 提交
            .then(res => {
              if (res.success) {
                this.formId = res.result.formId;
                if (this.isShowFlowOpinion == false) {
                  this.bodyStyle['height'] = '440px';
                } else {
                  this.flowOpinionHeight = 80;
                  this.bodyStyle['height'] = '540px';
                }
                this.initUserSelectBox(res.result);
              } else {
                this.$message.error('打开选人失败，缺少参数');
                this.closeModal();
              }
              this.spinning = false;
            })
            .catch(e => {
              this.spinning = false;
              this.$message.error('打开选人失败，系统错误');
              this.closeModal();
            });
        } else {
          this.spinning = false;
          this.$message.error('打开选人失败，缺少参数');
          this.closeModal();
        }
      } else {
        this.$message.error('打开选人失败，缺少参数');
        this.closeModal();
      }
    },
    //验证打开选人参数是否完整
    validationOpenSelect(bpmCommonSelect) {
      let result = false;
      if (bpmCommonSelect && bpmCommonSelect.buttonData) {
        if (bpmCommonSelect.buttonData) {
          if (bpmCommonSelect.buttonData.procinstDbid && bpmCommonSelect.buttonData.executionId) {
            result = true;
          }
        }
      }
      return result;
    },
    //初始化选人区域
    initUserSelectBox(actInfo) {
      this.userBoxList = [];
      let taskUserSelect = {};
      if (actInfo) {
        if (actInfo.taskUserSelect) {
          taskUserSelect = actInfo.taskUserSelect;
        } else {
          taskUserSelect = actInfo;
        }
      }
      this.taskUserSelect = taskUserSelect;
      this.needSelectUser = this.noNeedSelectUser(); //获取是否选人
      //强制表态
      if (this.isIdeaCompelManner(taskUserSelect)) {
        this.buttonsList = [];
        this.buttonsList.push(buttons.cancel);
        this.buttonsList.push(buttons.agree);
        this.buttonsList.push(buttons.disagree);
      }
      if (
        this.showSelectUser(taskUserSelect) &&
        taskUserSelect.nextTask &&
        taskUserSelect.nextTask.length > 0
      ) {
        taskUserSelect.nextTask.map((tim, index) => {
          let selectFlowTabs = [];
          // 部门
          if (tim.orgList.length > 0 || tim.deptList.length > 0) {
            let org = tabs.org,
              mapList = tim.orgList.length > 0 ? tim.orgList : tim.deptList;
            mapList.map(tim => {
              org.para.push(tim.id);
            });
            selectFlowTabs.push(org);
          }
          //用户
          if (tim.userList.length > 0) {
            let user = tabs.user;
            tim.userList.map(tim => {
              user.para.push(tim.id);
            });
            selectFlowTabs.push(user);
          }
          //群组
          if (tim.groupList.length > 0) {
            let group = tabs.group;
            tim.groupList.map(tim => {
              group.para.push(tim.id);
            });
            selectFlowTabs.push(group);
          }
          //角色
          if (tim.roleList.length > 0) {
            let role = tabs.role;
            tim.roleList.map(tim => {
              role.para.push(tim.id);
            });
            selectFlowTabs.push(role);
          }
          //岗位
          if (tim.positionList.length > 0) {
            let position = tabs.position;
            tim.positionList.map(tim => {
              position.para.push(tim.id);
            });
            selectFlowTabs.push(position);
          }
          let data = {
            id: index,
            name: taskUserSelect.nextTask.length > 1 ? tim.currentActivityAttr.activityAlias : '',
            tabs: selectFlowTabs
          };
          this.userBoxList.push(data);
          if (index == 0) {
            if (selectFlowTabs.length == 0) {
              this.spinning = false;
              this.$message.error('流程节点配置错误！');
            } else {
              this.selectTag = selectFlowTabs[0].nodeType;
            }
          }
          if (this.selectUser && this.selectUser.length > 0) {
            this.selectUser.map((user, i) => {
              if (user.selectFlowTab != index) {
                this.selectUser.push({
                  selectFlowTab: index,
                  users: []
                });
              }
            });
          } else {
            let select = this.selectUser.filter(us => us.selectFlowTab == index);
            if (select.length <= 0) {
              this.selectUser.push({
                selectFlowTab: index,
                users: []
              });
            }
          }
        });
        if (this.titleAction == '输入') {
          this.titleAction = '选择';
          this.actionObject = '处理人';
        }
      } else {
        if (taskUserSelect.nextTask && taskUserSelect.nextTask.length > 0) {
          taskUserSelect.nextTask.map((tim, index) => {
            if (this.selectUser && this.selectUser.length > 0) {
              this.selectUser.map(user => {
                if (user.selectFlowTab != index) {
                  this.selectUser.push({
                    selectFlowTab: index,
                    users: []
                  });
                }
              });
            } else {
              let select = this.selectUser.filter(us => us.selectFlowTab == index);
              if (select.length <= 0) {
                this.selectUser.push({
                  selectFlowTab: index,
                  users: []
                });
              }
            }
          });
        }
        this.titleAction = '输入';
        this.actionObject = '处理意见';
        this.bodyStyle['height'] = '250px';
        this.flowOpinionHeight = 190;
      }
      if (this.userBoxList.length == 0) {
        this.modalTitle = '请' + this.titleAction + this.title + this.actionObject;
      } else {
        this.modalTitle = null;
      }
      //设置默认选人
      if (this.$store.state.bpmCommonSelect.defaultSelectUsers != null) {
        this.setdefaultSelectUsers(this.$store.state.bpmCommonSelect.defaultSelectUsers);
      }
      //是否显示流程意见框
      if (typeof this.$store.state.bpmCommonSelect.isShowOpinion != 'undefined') {
        this.isShowFlowOpinion = this.$store.state.bpmCommonSelect.isShowOpinion;
        if (this.userBoxList.length > 0) this.bodyStyle['height'] = '540px';
      }
      if (this.defaultSelectUsers != null) {
        this.setdefaultSelectUsers(this.defaultSelectUsers);
      }
      //去掉重复的选择用户
      this.repeatSelectUser();
      //自动选人
      this.autoSelectToCheckUserList();
      //配置选人
      this.getBpmStepPerson();
    },
    //切换tabs页签
    changeTabs(e) {
      if (typeof e == 'object') {
        if (this.selectFlowTab != e.index) {
          if (this.userBoxList.length >= e.index && this.userBoxList[e.index].tabs.length > 0) {
            this.changeHeadTag(this.userBoxList[e.index].tabs[0].nodeType);
          }
          this.selectFlowTab = e.index;
        }
      } else if (typeof e == 'number') {
        if (this.userBoxList.length >= e && this.userBoxList[e].tabs.length > 0) {
          this.changeHeadTag(this.userBoxList[e].tabs[0].nodeType);
        }
        this.selectFlowTab = e;
      }
    },
    //点击取消
    closeModal() {
      if (this.visible) {
        this.selectVisible = false;
        this.$emit('closeBpmSelectUser');
        this.empty();
      } else {
        this.closeBpmCommonSelect();
      }
    },
    clickModal(type) {
      //取消
      if (type == 'cancel') {
        this.closeModal();
        //确定
      } else if (type == 'confirm') {
        let compelManner = '';
        if (this.isIdeaCompelManner(this.taskUserSelect)) {
          compelManner = 'yes';
        }
        this.confirm(compelManner);
        //同意并提交
      } else if (type == 'agreeAndSubmit') {
        this.confirm('yes');
        //不同意并提交
      } else if (type == 'disagreeAndSubmit') {
        this.confirm('no');
      }
    },
    //点击确定
    confirm(compelManner) {
      this.compelManner = compelManner;
      if (!this.needSelectUser) {
        if (this.selectUser.length < 1) {
          this.$message.error('请选择处理人');
        } else if (
          this.selectUser.length == 1 &&
          (this.selectUser[0].users == null || this.selectUser[0].users.length == 0)
        ) {
          this.$message.error('请选择处理人');
        } else if (this.isSelectUser()) {
          this.$message.error(this.isSelectUser());
        } else if (this.isOpinion() == false) {
          this.$message.error('请填写流程意见');
        } else {
          this.spinningButton = true;
          let result = this.getResultUserData(compelManner);
          let bpmCommonSelect = this.getButtonData();
          //流程委托
          if (this.checkWorkHandUser()) {
            this.openWorkHandUser(result);
          } else {
            if (this.visible) {
              this.$emit('bpmSubmit', { users: result, buttonData: bpmCommonSelect.buttonData });
              this.selectVisible = false;
              this.closeBpmCommonSelect();
            } else {
              if (this.submitFuncName) {
                this[this.submitFuncName]({
                  users: JSON.stringify(result),
                  buttonData: bpmCommonSelect.buttonData
                });
              } else {
                this.$emit('afterBpmButtons', {
                  users: result,
                  buttonData: bpmCommonSelect.buttonData
                });
                this.$emit('bpmSubmit', { users: result, buttonData: bpmCommonSelect.buttonData });
                this.selectVisible = false;
                this.closeBpmCommonSelect();
              }
            }
          }
          setTimeout(() => {
            this.spinningButton = false;
          }, 2000);
        }
      } else {
        this.spinningButton = true;
        let result = this.getResultUserData(compelManner);
        let bpmCommonSelect = this.getButtonData();
        //流程委托
        if (this.checkWorkHandUser()) {
          this.openWorkHandUser(result);
        } else {
          if (this.visible) {
            this.$emit('bpmSubmit', { users: result, buttonData: bpmCommonSelect.buttonData });
            this.selectVisible = false;
          } else {
            if (this.submitFuncName) {
              this[this.submitFuncName]({
                users: JSON.stringify(result),
                buttonData: bpmCommonSelect.buttonData
              });
            } else {
              this.$emit('afterBpmButtons', {
                users: result,
                buttonData: bpmCommonSelect.buttonData
              });
              this.$emit('bpmSubmit', { users: result, buttonData: bpmCommonSelect.buttonData });
              this.selectVisible = false;
            }
          }
        }
        setTimeout(() => {
          this.spinningButton = false;
        }, 2000);
      }
    },
    /**
     * 分支节点必须选人
     */
    isMustUser(index) {
      if (index > -1) {
        if (this.taskUserSelect.nextTask && this.taskUserSelect.nextTask.length >= index) {
          if (
            this.taskUserSelect.nextTask[index].currentActivityAttr.isMustUser &&
            this.taskUserSelect.nextTask[index].currentActivityAttr.isMustUser == 'no'
          ) {
            // 必须选人
            return false;
          } else {
            return true; // 必须选人
          }
        } else {
          return false; // 默认值
        }
      }
      return false;
    },
    //判断是否选人
    isSelectUser() {
      let resMessage = '';
      if (
        this.taskUserSelect &&
        this.taskUserSelect.nextTask &&
        this.taskUserSelect.nextTask.length > 0
      ) {
        if (this.selectUser.length > 0) {
          this.selectUser.map((tim, i) => {
            if (this.isMustUser(i)) {
              if (tim.users.length == 0) {
                let data = this.taskUserSelect.nextTask[i];
                resMessage = `请选择【${
                  data ? data.currentActivityAttr.activityName : '当前'
                }】节点处理人！`;
              }
            }
          });
        } else {
          let isSelect = false;
          this.selectUser.map(tim => {
            if (tim.users.length > 0) {
              isSelect = true;
            }
          });
          if (isSelect == false) {
            resMessage = '请选择处理人！';
          }
        }
      }
      return resMessage;
    },

    //判断是否选人
    noNeedSelectUser() {
      if (this.taskUserSelect.nextTask && this.taskUserSelect.nextTask.length > 0) {
        let count = 0;
        for (let i = 0; i < this.taskUserSelect.nextTask.length; i++) {
          let _nextActorModel = this.taskUserSelect.nextTask[i];
          if (_nextActorModel.activityType == 'end') {
            return true;
          } else if (
            _nextActorModel.activityType == 'sub-process' ||
            _nextActorModel.activityType == 'foreach'
          ) {
            if (_nextActorModel.currentActivityAttr.isMustUser == 'yes') {
              return false;
            } else {
              count++;
            }
          }
        }
        if (
          this.taskUserSelect.nextTask.length > 0 &&
          count == this.taskUserSelect.nextTask.length
        ) {
          return true;
        } else {
          return false;
        }
      }
      return true;
    },
    //判断是否填写意见
    isOpinion() {
      let bpmCommonSelect = this.getButtonData();
      let isOpinion = true;
      //如果是自定义选人则不显示输入意见框
      if (this.submitFuncName == 'BpmStepuserdefinedSubmit') {
        return isOpinion;
      }
      if (bpmCommonSelect.buttonData.event == 'dosubmit') {
        if (this.taskUserSelect.currentActivityAttr.ideaType == 'must') {
          if (!this.$refs[this.flowOpinionRefName].getText()) {
            isOpinion = false;
          }
        } //判断退回是否需要填写意见
      } else if (
        bpmCommonSelect.buttonData.event == 'doretreattodraft' ||
        bpmCommonSelect.buttonData.event == 'doretreattoprev' ||
        bpmCommonSelect.buttonData.event == 'doretreattowant' ||
        bpmCommonSelect.buttonData.event == 'doretreattoactivity'
      ) {
        if (this.taskUserSelect.currentActivityAttr.isNeedIdea == 'yes') {
          // 意见必须填写
          if (!this.$refs[this.flowOpinionRefName].getText()) {
            isOpinion = false;
          }
        }
      }
      return isOpinion;
    },
    //打开流程委托
    openWorkHandUser(result) {
      if (result && result.users.length > 0) {
        let selectWorkHand = [];
        this.processKey = this.taskUserSelect.processKey;
        result.users.map(tim => {
          selectWorkHand = selectWorkHand.concat(tim.selectedUsers);
        });
        this.selectWorkHand = selectWorkHand;
        this.$refs.selectWorkHandUser.loadWorkHandUserData(this.processKey, this.selectWorkHand);
      }
    },
    //流程委托选人点击确定
    getSelectWorkHandUserList(list) {
      let result = this.getResultUserData(this.compelManner);
      let bpmCommonSelect = this.getButtonData();
      if (result && result.users.length > 0) {
        result.users.map(tim => {
          tim.workhandUsers = list;
        });
      }
      if (this.visible) {
        this.$emit('bpmSubmit', { users: result, buttonData: bpmCommonSelect.buttonData });
        this.selectVisible = false;
      } else {
        if (this.submitFuncName) {
          this[this.submitFuncName]({
            users: JSON.stringify(result),
            buttonData: bpmCommonSelect.buttonData
          });
        } else {
          this.$emit('afterBpmButtons', { users: result, buttonData: bpmCommonSelect.buttonData });
          this.$emit('bpmSubmit', { users: result, buttonData: bpmCommonSelect.buttonData });
          this.selectVisible = false;
        }
      }
    },
    //流程委托选人点击取消
    closeSelectWorkHandUserList() {
      this.spinningButton = false;
    },
    //判断是否存在工作移交
    checkWorkHandUser() {
      let bpmCommonSelect = this.getButtonData();
      if (
        bpmCommonSelect.event == 'doretreattodraft' ||
        bpmCommonSelect.event == 'doretreattoprev' ||
        bpmCommonSelect.event == 'dowithdraw'
      ) {
        return false;
      }
      if (this.taskUserSelect && this.taskUserSelect.nextTask) {
        for (let i = 0; i < this.taskUserSelect.nextTask.length; i++) {
          let jsonData = this.taskUserSelect.nextTask[i];
          if (jsonData.currentActivityAttr.isWorkHandUser == 'yes') {
            return true;
          }
        }
      } else {
        return false;
      }
    },
    //获取按钮数据
    getButtonData() {
      if (this.visible) {
        return { buttonData: this.buttonData, submitFuncName: '' };
      } else {
        return this.$store.state.bpmCommonSelect;
      }
    },
    //加工点击确定返回数据
    getResultUserData(compelManner) {
      let idea = this.$refs[this.flowOpinionRefName].getText();
      let bpmCommonSelect = this.getButtonData();
      let resultData = {
        idea,
        compelManner,
        outcome: bpmCommonSelect.buttonData.name
      };
      let users = [];
      if (
        this.taskUserSelect &&
        this.taskUserSelect.nextTask &&
        this.taskUserSelect.nextTask.length > 0
      ) {
        let outcome = this.taskUserSelect.currentActivityAttr.outcome;
        this.taskUserSelect.nextTask.map((tim, index) => {
          let select = this.selectUser.filter(us => us.selectFlowTab == index);
          if (select && select.length > 0) {
            let selectedUsers = [];
            select[0].users.map(user => {
              selectedUsers.push({
                userId: user.id,
                userName: user.title,
                deptId: user.attributes.deptId,
                deptName: user.attributes.deptName
              });
            });
            let user = {
              outcome,
              targetActivityName: tim.currentActivityAttr.activityName,
              selectedUsers,
              workhandUsers: []
            };
            users.push(user);
          }
        });
      }
      resultData.users = users;
      return resultData;
    },
    //清空数据
    empty() {
      this.selectUser = [];
      this.userBoxList = [];
      this.spinningButton = false;
      this.selectFlowTab = 0;
    },
    //完全关闭回掉
    afterClose() {
      this.spinningButton = false;
    },
    changeSelectUser(e) {
      this.selectUser = e;
      //去掉重复的选择用户
      this.repeatSelectUser();
      if (this.$refs[this.treeRefName].length >= this.selectFlowTab) {
        if (this.$refs[this.treeRefName][this.selectFlowTab]) {
          this.$refs[this.treeRefName][this.selectFlowTab].changeSelectUser(e);
        }
      }
    },
    //设置传入的默认选中
    setdefaultSelectUsers(defaultSelectUsers) {
      if (
        defaultSelectUsers != null &&
        defaultSelectUsers.users != null &&
        defaultSelectUsers.users.users != null &&
        defaultSelectUsers.users.users.length > 0 &&
        this.taskUserSelect != null
      ) {
        let selectUser = [];
        this.taskUserSelect.nextTask.map((tim, index) => {
          defaultSelectUsers.users.users.map((user, i) => {
            if (user.targetActivityName == tim.currentActivityAttr.activityName) {
              if (user.selectedUsers && user.selectedUsers.length > 0) {
                let usersList = [];
                user.selectedUsers.map(u => {
                  usersList.push({
                    key: u.userId,
                    title: u.userName,
                    id: u.userId,
                    name: u.userName,
                    deptId: u.deptId,
                    deptName: u.deptName,
                    attributes: {
                      deptId: u.deptId,
                      deptName: u.deptName,
                      nodeType: 'user'
                    }
                  });
                });
                if (usersList && usersList.length > 0) {
                  selectUser.push({
                    selectFlowTab: index,
                    users: usersList
                  });
                }
              }
            }
          });
        });
        if (selectUser && selectUser.length > 0) {
          if (this.selectUser.length > 0) {
            if (selectUser.length == 1 && selectUser[0].users.length > 0) {
              this.selectUser = selectUser;
            } else {
              selectUser.map((newusers, i) => {
                if (i <= this.selectUser.length) {
                  newusers.users.map(newuser => {
                    let isAdd = true;
                    this.selectUser[i].users.map(user => {
                      if ((newuser.id = user.id)) {
                        isAdd = false;
                      }
                    });
                    if (isAdd) {
                      this.selectUser[i].users.push(newuser);
                    }
                  });
                } else {
                  let select = this.selectUser.filter(
                    us => us.selectFlowTab == newusers.selectFlowTab
                  );
                  if (select.length <= 0) {
                    this.selectUser.push(newusers);
                  }
                }
              });
            }
          } else {
            this.selectUser = selectUser;
          }
          setTimeout(() => {
            this.$refs[this.treeRefName][this.selectFlowTab].setSelectUser(this.selectUser);
          }, 600);
        }
      }
    },
    //获取设置的配置选人
    getBpmStepPerson() {
      let taskUserSelect = this.taskUserSelect;
      if (taskUserSelect) {
        httpAction(
          this.bpmStepPersonParam.url,
          {
            entryId: taskUserSelect.currentActivityAttr.processInstanceId,
            activityName: taskUserSelect.currentActivityAttr.activityName
          },
          this.bpmStepPersonParam.method
        ).then(res => {
          if (res.success && res.result.length > 0) {
            if (this.taskUserSelect.nextTask.length > 0) {
              let usersList = [];
              res.result.map(user => {
                usersList.push({
                  key: user.id,
                  title: user.name,
                  id: user.id,
                  name: user.name,
                  deptId: user.deptId,
                  deptName: user.deptName,
                  attributes: {
                    deptId: user.deptId,
                    deptName: user.deptName,
                    nodeType: 'user'
                  }
                });
              });
              if (this.selectUser.length > 0) {
                if (this.selectUser.length.length == 1 && this.selectUser[0].users.length > 0) {
                  this.selectUser = [{ selectFlowTab: 0, users: usersList }];
                } else {
                  usersList.map(newUser => {
                    let isAdd = true;
                    this.selectUser[0].users.map(user => {
                      if (user.id == newUser.id) {
                        isAdd = false;
                      }
                    });
                    if (isAdd) {
                      this.selectUser[0].users.push(newUser);
                    }
                  });
                }
              } else {
                this.selectUser = [{ selectFlowTab: 0, users: usersList }];
              }
              setTimeout(() => {
                this.$refs[this.treeRefName][this.selectFlowTab].setSelectUser(this.selectUser);
              }, 600);
            }
          }
        });
      }
    },
    /**
     * -----------------------自动选人-------------------------------------------
     */
    //设置自动选人
    setAutoUser(userList, tabIndex) {
      let that = this;
      if (userList && userList.length > 0) {
        userList.map(user => {
          that.selectUser.map(tim => {
            if (tim.selectFlowTab == tabIndex) {
              let select = tim.users.filter(item => item.id == user.id);
              if (select.length == 0) {
                tim.users.push(user);
              }
            }
          });
        });
      }
    },
    //自动选人
    autoSelectUser(_nextActorModel, tabIndex) {
      //部门
      if (
        _nextActorModel.orgDeptUserList != null &&
        _nextActorModel.orgDeptUserList.length &&
        _nextActorModel.orgDeptUserList.length > 0
      ) {
        let selectUser = setUserList(_nextActorModel.orgDeptUserList);
        this.setAutoUser(selectUser, tabIndex);
      }
      //用户
      if (
        _nextActorModel.userList != null &&
        _nextActorModel.userList.length &&
        _nextActorModel.userList.length > 0
      ) {
        let selectUser = setUserList(_nextActorModel.userList);
        this.setAutoUser(selectUser, tabIndex);
      }
      //群组
      if (
        _nextActorModel.groupUserList != null &&
        _nextActorModel.groupUserList.length &&
        _nextActorModel.groupUserList.length > 0
      ) {
        let selectUser = setUserList(_nextActorModel.groupUserList);
        this.setAutoUser(selectUser, tabIndex);
      }
      //角色
      if (
        _nextActorModel.roleUserList != null &&
        _nextActorModel.roleUserList.length &&
        _nextActorModel.roleUserList.length > 0
      ) {
        let selectUser = setUserList(_nextActorModel.roleUserList);
        this.setAutoUser(selectUser, tabIndex);
      }
      //岗位
      if (
        _nextActorModel.positionUserList != null &&
        _nextActorModel.positionUserList.length &&
        _nextActorModel.positionUserList.length > 0
      ) {
        let selectUser = setUserList(_nextActorModel.positionUserList);
        this.setAutoUser(selectUser, tabIndex);
      }
    },
    //自动选人
    autoSelectToCheckUserList() {
      if (this.taskUserSelect.nextTask && this.taskUserSelect.nextTask.length > 0) {
        let bpmCommonSelect = this.getButtonData();
        let event = bpmCommonSelect.buttonData.event;
        this.taskUserSelect.nextTask.map((tim, index) => {
          if (this.isUserSelectTypeAuto(tim) || isAutoSelectUser(event)) {
            this.autoSelectUser(tim, index);
          }
        });
      }
    },
    // 判断是否自动选中
    isUserSelectTypeAuto(_nextActorModel) {
      if (_nextActorModel != null && 'auto' == _nextActorModel.currentActivityAttr.userSelectType) {
        return true;
      }
      return false;
    },
    //去掉重复的 selectFlowTab
    repeatSelectUser() {
      if (this.userBoxList.length != this.selectUser.length) {
        this.selectUser.map((user, index) => {
          let selectFlowTab = user.selectFlowTab;
          let select = this.selectUser.filter(us => us.selectFlowTab == selectFlowTab);
          if (select.length > 1) {
            this.selectUser.splice(index, 1);
          }
        });
      }
    }
  }
};
</script>
<style lang="less">
@base-font-size: 12px; /* 基本文字大小 */
/*  弹窗title样式修改 */
.main_modal {
  overflow: hidden;
  .ant-modal {
    padding-bottom: 0;
  }
  .ant-modal-title {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-style: normal;
  }
}
.main-box {
  user-select: none;
  height: 100%;
  min-width: 700px;
  .main {
    height: 100%;
    .main-tab-bar {
      width: 48px;
      height: 48px;
      display: inline-block;
    }
  }
  .ant-tabs-bar {
    margin-bottom: 6px;
  }
  .ant-tabs-nav-scroll {
    padding: 0 20px;
    height: 48px;
    .ant-tabs-tab {
      font-size: 14px;
      padding: 0 2px;
      margin: 0 6px;
      height: 48px;
      line-height: 48px;
      font-weight: 600;
      font-style: normal;
    }
  }
  .head-box {
    padding: 0 15px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #ddd;
    height: 32px;
    /deep/.ant-tag-checkable {
      color: #666;
      border: 1px solid #ddd;
      padding: 7px 20px;
      font-size: 12px;
      height: 36px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 6px;
      margin-top: -4px;
      cursor: pointer;
      transition: none;
    }
    /deep/.ant-tag-checkable-checked {
      background: #fff;
      border-bottom: 0;
    }
  }
  .choose {
    height: 312px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    .v-input {
      width: 500px;
    }
    .v-icon {
      position: absolute;
      right: 10px;
      top: 2px;
      color: #666;
    }
    .ant-form-item-label {
      width: 120px;
    }
    .ant-col-14 {
      width: 300px;
    }
    .ant-form-item {
      margin-bottom: 10px;
    }
    .subcontent {
      width: 100%;
      height: 100%;

      .popup-title {
        height: 48px;
        margin-bottom: 8px;
        border-bottom: solid 1px #e8e8e8;
      }
      .popup-title h2 {
        font-weight: bold;
        line-height: 48px;
        float: left;
        font-size: 20px;
        margin-left: 16px;
        margin-right: 6px;
        margin-bottom: 0;
      }
      .popup-title h4 {
        font-weight: normal;
        line-height: 48px;
        float: left;
        color: #999;
        margin-bottom: 0;
      }
      .ant-modal {
        width: 680px !important;
        height: 480px !important;
        top: 50% !important;
        margin-top: -240px !important;
      }
      .ant-modal-body {
        padding: 0;
      }
      .ant-modal-close-x {
        display: block;
        width: 48px;
        height: 48px;
        font-size: 16px;
        font-style: normal;
        line-height: 48px;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
      }
      .container-left {
        width: 336px;
        height: 332px;
        box-sizing: border-box;
        border-right: solid 1px #e8e8e8;
        float: left;
        padding: 10px 10px 10px 0;
        margin-left: 20px;
      }
      .ant-tabs-bar {
        margin: 0;
      }
      .ant-input-search {
        margin: 0 0 8px 0;
        height: 32px;
        input::placeholder {
          font-size: @base-font-size;
        }
      }
      .ant-tree-checkbox-inner {
        width: 14px;
        height: 14px;
      }
      // .ant-tree-checkbox-inner::after{
      //     top: 42%;
      //     left: 16%;
      // }
      .ant-tree-checkbox-checked::after {
        height: 14px;
      }
      .ant-checkbox-wrapper {
        width: 300px;
        line-height: 40px;
        padding: 0 10px;
      }
      .ant-modal-close {
        right: 6px;
      }
      .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
        height: 36px;
      }
      .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        border-color: #e8e8e8 !important;
        height: 36px !important ;
        line-height: 34px !important;
      }
      .ant-pagination-options-size-changer.ant-select {
        display: none;
      }
      .container-right {
        width: 336px;
        float: right;
        margin: 10px 20px 10px 0;
      }
      .ant-checkbox-group-item {
        border: none;
      }

      .ant-popover-inner {
        background: rgba(0, 0, 0, 0.6);
      }
      .ant-popover-inner-content {
        color: #fff;
      }
      .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
      .ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
      .ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
        bottom: 6.2px;
        border-top-color: transparent;
        border-right-color: rgba(0, 0, 0, 0.5);
        border-bottom-color: rgba(0, 0, 0, 0.5);
        border-left-color: transparent;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
      }

      .ant-popover-arrow {
        background: rgba(0, 0, 0, 0.1);
        border-color: transparent;
        border-style: solid;
      }
      .ant-modal-title {
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        font-size: 18px;
      }
      .checkgroup {
        position: relative;
        height: 282px;
        overflow: auto;
      }
      .checkadd {
        position: absolute;
        top: 1px;
        right: 30px;
        cursor: move;
      }
      .checkclose {
        position: absolute;
        top: 1px;
        right: 10px;
        cursor: pointer;
      }
      .checkadd i,
      .checkclose i {
        line-height: 40px;
        display: block;
      }
      .container-right .anticon.anticon-delete {
        position: absolute;
        right: 32px;
        font-size: 16px;
        color: #999;
      }
      i.anticon.anticon-delete:hover {
        color: #39f;
      }
      p {
        margin: 0;
      }
      .ant-checkbox-inner {
        width: 14px;
        height: 14px;
      }
      .ant-btn {
        height: 30px;
        padding: 0 25px;
      }
      .checkclose i {
        color: #39f;
      }
      .ant-checkbox-group {
        color: rgba(0, 0, 0, 0.65);
        /* margin-top: 5px; */
        position: relative;
        width: 99%;
        &:hover {
          background: #eff7fe;
        }
      }
      .ant-pagination.mini {
        margin: 30px auto 10px;
        width: 280px;
      }
      .checkclose,
      .checkadd {
        display: none;
      }

      .ant-checkbox-group:hover .checkclose {
        display: block;
      }
      .ant-checkbox-group:hover .checkadd {
        display: block;
      }
      .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
        line-height: 35px;
        height: 35px;
        font-size: 14px !important;
      }
      :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open .ant-tree-switcher-icon,
      :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open .ant-select-switcher-icon {
        font-size: 20px;
        margin-top: 2px;
      }
      :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_close .ant-tree-switcher-icon,
      :root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_close .ant-select-switcher-icon {
        font-size: 20px;
        margin-top: 2px;
      }
      .ant-tree {
        height: 270px;
        overflow: auto;
      }
    }
    .left,
    .right {
      width: 50%;
      height: 100%;
    }
    .left {
      padding: 10px 0 0 0;
      .tree-box {
        height: calc(100% - 10px);
      }
    }
    .right {
      padding: 5px 15px 0 10px;
      border-left-color: #ddd;
      border-left-width: 1px;
      border-left-style: solid;
      .input-box {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.big-tree {
  border: 0;
}
</style>
