.avic-edit-table{
  .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    margin-bottom: -6px !important;
    padding-bottom: 0 !important;
    min-width: 6px !important;
    overflow: scroll !important;
  } 
}
 