<!--
流程详情页面 , 可以点击的流程图
---->
<template>
  <div>
    <AvicBpmChartTemplate
      v-bind="$attrs"
      v-show="openType"
      :ref="refFlowName"
      :flow-param="flowParam"
      :type="type"
      @clickNode="clickNode"
    />
  </div>
</template>
<script>
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { mapGetters } from 'vuex';
export default {
  name: 'AvicBpmChart',
  props: {
    //点击流程节点类型
    type: {
      type: String,
      required: false, //校验
      default: null
    }
  },
  //注册接受组件传参事件
  computed: {
    ...mapGetters(['getFlowRefresh', 'getEntryId', 'getDeploymentId'])
  },
  watch: {
    getEntryId(entryId) {
      if (entryId) {
        this.loadData(entryId);
      }
    },
    //刷新页面
    getFlowRefresh() {
      if (this.entryId || this.deploymentId) {
        this.loadData(this.entryId, this.deploymentId);
      }
    },
    getDeploymentId(deploymentId) {
      if (deploymentId) {
        this.loadData('', deploymentId);
      }
    }
  },
  data() {
    return {
      refFlowName: 'flow',
      //获取流程图数据流程详情页面
      processXml: bpmUtils.baseurl + '/clientbpmdisplayaction/getProcessXml/v1',
      //获取流程图数据启动流程页面
      processXmlByDefineId: bpmUtils.baseurl + '/clientbpmdisplayaction/getProcessXmlByDefineId/v1',
      deploymentId: '',
      entryId: '',
      flowParam: {
        url: '',
        parameter: {},
        method: 'post'
      },
      openType: true
    };
  },
  mounted() {
    this.loadData(this.$store.state.bpmModel.entryId, this.$store.state.bpmModel.deploymentId);
  },
  methods: {
    loadData(entryId, deploymentId) {
      if (entryId || deploymentId) {
        if (entryId) {
          this.flowParam.url = this.processXml;
          this.flowParam.parameter.processInstanceId = entryId;
        }
        if (deploymentId) {
          this.flowParam.url = this.processXmlByDefineId;
          this.flowParam.parameter.deploymentId = deploymentId;
        }
        this.$refs[this.refFlowName].refreshFlowChart();
      }
    },
    //流程点击事件
    clickNode(activityName, executionId, procinstDbid) {
      this.$emit('clickNode', {
        activityName,
        executionId,
        procinstDbid
      });
    }
  }
};
</script>
<style lang="less" scoped>
.flow-track-box {
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 200px;
  text-align: center;
}
</style>
