/* Win主题-与切换皮肤相关的样式 */
.avic_winlayout_theme_skin( @primary-color ) {
  // Win风格描点高亮
  .high-light-menu,
  .high-light-menu:hover {
    background: @primary-color;
    color: #fff !important;
  }
  .navLayout .gridtest .ant-menu-root.ant-menu-vertical .icon-reveal .anticon,
  .navLayout .gridtest .ant-menu-root.ant-menu-vertical .ant-menu-item:hover .anticon {
    color: @primary-color;
  }
  .gridtest .ant-input:focus {
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  // 阿里云风格部分样式
  .ant-drawer-left.ant-drawer-open
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .ant-drawer-wrapper-body
  .ant-drawer-body
  .nav-menu
  .ant-menu
  li:hover {
    background: fade(@primary-color,10%);
    .anticon,
    span {
      color: @primary-color !important;
    }
  }
  .navLayout-win {
    .ant-anchor-link-active{
      border-left:2px solid @primary-color;
      background: fade(@primary-color,10%);
    }
    
    .ant-menu-item:hover{
      color: @primary-color;
      background: fade(@primary-color,10%);
    }
    .gridtest{
      .txt-roll{
        .recently{
          .ant-menu-root.ant-menu-vertical{
            .ant-menu-item{
              i{
                display: none !important;
              }
            }
            .ant-menu-item:hover{
              background:transparent;
            }
          }
          h4{
            color:#252b3a;
          }
        }
      }
    }   
  }
  .gridtest{
    .ant-menu-item-group{
      .ant-menu-item-group-list{
        .ant-menu-item:hover{
          color: @primary-color !important;
        }
      }
    }
  }   
}