/* 单表容器 */
.manageCard {
  height: 100%;
}
.manageCard .ant-card-body {
  height: 100%;
  padding: 20px;
}
/* 表格操作按钮 */
.manageCard .table-operator {
  height: 32px;
  margin-bottom: 15px;
}

.manageCard .handleBtn {
  margin-right: 5px;
}

.manageCard .searchText {
  width: 200px;
  float:right;
}

.manageCard .advancedSearchBtn {
  float: right;
  color: #1890ff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* 表格样式 */
.manageCard .ant-table-thead > tr > th {
  text-align: center!important;
}

.manageCard .ant-table-thead > tr > th, .manageCard .ant-table-tbody > tr > td {
  padding: 8px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.manageCard .ant-table-wrapper, .manageCard .ant-spin-nested-loading, .manageCard .ant-spin-container {
  height: 100%;
}

.manageCard .ant-spin-container .ant-table {
  height: calc(100% - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.manageCard .ant-spin-container .ant-table.ant-table-empty{
  height: calc(100% - 48px);
}

.manageCard .ant-spin-container .ant-table-content {
  height: 100%;
}

.manageCard .ant-spin-container .ant-table-empty .ant-table-placeholder {
  height: calc(100% - 38px);
}

.manageCard .ant-table table {
  table-layout: fixed;
}

.manageCard .aLink {
  text-decoration: underline;
  color: #1890ff;
}
/* modal样式 */
.tableModal .ant-form-item {
  display: flex;
  align-items: center;
}

.tableModal .ant-form-item-label {
  white-space: normal;
  line-height: 20px;
}
/* 行编辑样式 */
.editable-cell-text-wrapper {
  display: block;
  width: 100%;
  min-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 高级查询modal样式 */
.advancedQureryModal .ant-form-item {
  margin-bottom: 10px;
}
/* 日期控件placeholder与图标重叠 */
.ant-calendar-picker-input {
  padding-right: 25px;
}
