/*
  write by meizy 20200910
  单表模板、主子表模板等模板的工具条样式
  工具条内容包括：普通查询input框，高级查询，添加删除按钮、表格行高设置和列设置的图标
  作用范围：所有代码生成器模板
  变量说明：
    @adv-base-font-size  统一字体大小为12px
    @adv-element-base-height 元素统一高度为28px
 */
@tool-base-font-size:12px;
@tool-element-base-height:28px;

.surface-tools-bar {
  float: right;
  // input 和按钮高度和字体修正
  .ant-btn,
  .ant-input-search {
    margin: 10px 5px;
    height: @tool-element-base-height;
    font-size: @tool-base-font-size;
    vertical-align: top;
    box-shadow: none;
    .ant-input {
      height: @tool-element-base-height;
      font-size: @tool-base-font-size;
    }
  }
  // 按钮样式修正
  .ant-btn {
    padding: 0 14px;
    > .anticon + span {
      margin-left: 4px;
    }
  }
  // 普通搜索框
  .opt-btn-commonsearch {
    width: 200px;
  }
  .opt-btn-commonsearch:focus,
  .opt-btn-commonsearch:hover {
    z-index: 999;
  }
  // 高级查询
  .opt-btn-advsearch {
    margin-left: -6px !important;
  }
  // 图标
  .opt-icon.anticon {
    cursor: pointer;
    font-size: 14px;
    margin: 17px 5px;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
  }
  //select
  .ant-select {
    font-size: @tool-base-font-size;
    height: @tool-element-base-height;
    margin: 10px 5px;
    .ant-select-selection,.ant-select-selection--single {
      height: @tool-element-base-height;
      .ant-select-selection__placeholder{
        font-size: @tool-base-font-size;
      }
    }
    .ant-select-selection__rendered {
      line-height: 16px;
      .ant-select-selection-selected-value{
        line-height: 26px;
      }
    }
  }
  //select 组件的下拉列表内容
  .ant-select-dropdown{
    .ant-select-dropdown-menu-item {
      font-size: @tool-base-font-size;
    }
  }
}

