/* 流程详情页样式 */
@base-font-size: 12px;
@element-base-height: 28px;
html {
  scroll-behavior: smooth;
  body {
    overflow: auto;
    height: 100%;
    width: 100%;
    .ant-layout.ant-layout-has-sider {
      overflow: hidden;
    }
    li{
      list-style: none;
    }
    .ant-input-number,
    .ant-input-number-input,
    .ant-select-selection,
    .ant-select-selection__rendered{
      font-size: @base-font-size;
      height: @element-base-height;
      line-height: 28px;
    }
    .flow-detail-card {
      height: 100%;
      width: 100%;
      .flow-head {
        position: absolute;
        right: 0;
        width: 100%;
        background-color: #f8f9fa;
        border-bottom: 1px solid #e8e8e8;
        padding: 0 0;
        z-index: 9;
        transition: all 0.3s;
      }
      .flow-content-body {
        background:  #f3f4f9;
        padding: 0 0;
        .bpm-pic-tab {
          height: auto;
          background: #f3f4f9;
          width: 100%;
          text-align: center;
          overflow: hidden;
          padding: 22px 25px 0 35px;
          .section-content {
            height: auto;
            background: #fff;
            width: 100%;
            margin: auto;
            text-align: center;
            box-shadow: rgba(62, 57, 107, 0.1) 0 2px 6px 0;
            margin-bottom: 20px;
            .section-title {
              text-align: left;
              padding: 0 20px;
              line-height: 48px;
              font-weight: 600;
              font-style: normal;
              font-size: 16px;
              color: rgba(0, 0, 0, 0.8);
              a{
                font-size: 12px;
                float: right;
                font-weight:400;
              }
            }
            .section-iframe {
              width: 100%;
              .main {
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                text-align: left;
                padding: 0 16px 16px 16px;
                /deep/ .customform_subtable_bpm_auth {
                  display: none;
                }
                /* 详情页非编辑状态下的表单展示 */
                .ant-form-text{
                  display: block;
                  width: 100%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  color: red;
                  font-size: 12px;
                }
                /* 附件label */
                .button-box {
                  margin: 0;
                }
              }
            }
          }
        }
      }
      /* 子表的btn 样式 */
      /deep/ .table-operator{
        .ant-btn{
          height: @element-base-height;
          font-size: @base-font-size;
          margin: 10px 5px;
          padding: 0 14px;
        }
        .ant-btn:first-of-type{
          margin-left: 0;
        }
        .table-handle-button{
          margin-right: 8px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.table-child-box{
  width: 100%;
  height: auto;
  margin-top: 5px;
  padding: 0;
}
