/*
 弹窗的样式
 作用范围：全局
*/
@base-font-size: 12px;
@element-base-height: 28px;
@base-disabled-color: rgba(0, 0, 0, 0.75);
.ant-modal{
  padding:0;
}
.table-modal-wrap {
  margin: 0; 
  .ant-modal{
    padding:0;
  }
  overflow: hidden !important;
  .ant-modal-close-x {
    height: 46px;
    line-height: 46px;
  }
  .ant-modal-header {
    padding: 12px 24px;
    font-size: 14px;
  }
  .ant-modal-body {
    overflow-y: scroll;
    /* form 表单的label 和组件样式调整 */
    .form-list-wraper-div{
      display: inline-block;
    }
    .ant-form {
      .ant-form-item{
        margin-bottom: 16px;
      }
      .ant-form-item-with-help{
        margin-bottom: 0;
      }
      .ant-form-item-label {
        line-height: 34px;
      }
      label {
        font-size: @base-font-size;
      }
      .ant-form-item-control {
        padding-left: 5px;
        line-height: 34px;
        .ant-form-explain, .ant-form-extra{
          min-height: 19px;
          font-size: @base-font-size;
        }
        .ant-form-item-children {
          // 日期时间控件最小宽度定义
          .ant-calendar-picker{
            min-width: 160px !important;
          }
          // input 组件覆盖
          .ant-input:not(textarea) {
            line-height: 28px;
            height: @element-base-height;
            font-size: @base-font-size;
          }
          // 输入类型为数字的input-number 组件覆盖
          .ant-input-number,
          .ant-input-number-input {
            font-size: @base-font-size;
            height: @element-base-height;
            line-height: 28px;
          }
          //select 组件覆盖
          .ant-select {
            font-size: @base-font-size;
            .ant-select-selection {
              line-height: 26px;
              border-top-width: 1px;
              height: @element-base-height;
              .ant-select-selection__placeholder {
                font-size: @base-font-size;
              }
              .ant-select-selection__rendered {
                line-height: 26px;
              }
            }
          }
          //select 组件的下拉列表内容
          .ant-select-dropdown {
            .ant-select-dropdown-menu-item {
              font-size: @base-font-size;
            }
          }
          .ant-input-number {
            height: @element-base-height;
            font-size: @base-font-size;
            .ant-input-number-input {
              height: 26px;
            }
          }
          /* 表单附件组件相关按钮 */
          .avic-upload{
            .button-box{
              .ant-btn{
                height: @element-base-height;
                font-size: @base-font-size;
                margin: 0;
              }
            }
            .file-text{
              font-size: @base-font-size;
            }
          }
          // checkbox的样式
          span.ant-checkbox + span{
            padding-left: 4px;
          }

          span.ant-radio + span {
            padding-left: 4px;
          }
          .ant-select-tree li .ant-select-tree-node-content-wrapper{
            font-size: @base-font-size;
          }
          textarea.ant-input{
            font-size: @base-font-size;
          }
          /* 禁用状态下文字的颜色 */
          .ant-input[disabled]{
            color: @base-disabled-color;
          }
          .ant-radio-disabled + span {
            color: @base-disabled-color;
          }
          .ant-checkbox-disabled + span {
            color: @base-disabled-color;
          }
          .ant-select-disabled {
            color: @base-disabled-color;
          }
          .ant-input-number-disabled{
            color: @base-disabled-color;
          }
        }
      }
    }
    /* 子表的btn 样式 */
    /deep/ .table-operator{
      .ant-btn{
        height: @element-base-height;
        font-size: @base-font-size;
        margin: 10px 5px;
        padding: 0 14px;
      }
      .ant-btn > .anticon + span {
        margin-left: 4px;
      }
    }
  }
  .ant-modal-footer {
    .ant-btn {
      height: @element-base-height;
      font-size: @base-font-size;
    }
  }
}
.ant-calendar-picker{
  min-width: auto !important;
}
