<template>
  <a-locale-provider :locale="locale">
    <div id="app">
      <router-view />
    </div>
  </a-locale-provider>
</template>
<script>
import { LocaleProvider, message } from 'ant-design-vue';
import zhCN from 'ant-design-vue/lib/locale-provider/zh_CN';
import enquireScreen from '@/utils/avic/layout/device';
export default {
  components: {
    ALocaleProvider: LocaleProvider
  },
  data() {
    return {
      locale: zhCN
    };
  },
  created() {
    /**
     *   全局控制提示框数量和关闭时间
     */
    message.config({
      duration: 2, //几秒钟关闭
      maxCount: 3 //最多几个提示框
    });
    let that = this;
    enquireScreen(deviceType => {
      // tablet
      if (deviceType === 0) {
        that.$store.commit('TOGGLE_DEVICE', 'mobile');
        that.$store.dispatch('setSidebar', false);
      } else if (deviceType === 1) {
        // mobile
        that.$store.commit('TOGGLE_DEVICE', 'mobile');
        that.$store.dispatch('setSidebar', false);
      } else {
        that.$store.commit('TOGGLE_DEVICE', 'desktop');
        that.$store.dispatch('setSidebar', true);
      }
    });
  }
};
</script>
<style>
#app {
  height: 100%;
}
</style>
