<template>
  <div class="main">
    <a-tabs
      :active-key="customActiveKey"
      :tab-bar-style="{ textAlign: 'center', borderBottom: 'unset' }"
      @change="handleTabClick"
    >
      <a-tab-pane v-if="showLogin" key="loginTab" tab="用户登录">
        <a-form
          id="formLogin"
          ref="formLogin"
          class="user-layout-login"
          :auto-form-create="
            form => {
              this.loginForm = form;
            }
          "
        >
          <a-form-item
            field-decorator-id="username"
            :field-decorator-options="{
              rules: [
                { required: true, message: '请输入用户名' },
                { validator: this.handleUsername }
              ],
              validateTrigger: 'change',
              initialValue: formLogin.username
            }"
          >
            <a-input size="large" type="text" :disabled="loginBtn" placeholder="请输入用户名">
              <a-icon slot="prefix" type="user" :style="{ color: 'rgba(0,0,0,.25)' }" />
            </a-input>
          </a-form-item>

          <a-form-item
            field-decorator-id="password"
            :field-decorator-options="{
              rules: [{ required: true, message: '请输入密码' }],
              validateTrigger: 'blur',
              initialValue: formLogin.password
            }"
          >
            <a-input size="large" type="password" autocomplete="false" placeholder="密码">
              <a-icon slot="prefix" type="lock" :style="{ color: 'rgba(0,0,0,.25)' }" />
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-checkbox :checked="formLogin.rememberMe" @change="onChange">自动登录</a-checkbox>
          </a-form-item>
          <a-form-item>
            <a-button
              size="large"
              type="primary"
              html-type="submit"
              class="login-button"
              :loading="loginBtn"
              :disabled="loginBtn"
              @click.stop.prevent="handleSubmit"
            >
              登录
            </a-button>
          </a-form-item>
        </a-form>
      </a-tab-pane>

      <a-tab-pane v-if="!showLogin" key="changePwdTab" tab="修改密码">
        <a-form
          id="formChangePwd"
          ref="formChangePwd"
          class="user-layout-login"
          :auto-form-create="
            form => {
              this.changePwdForm = form;
            }
          "
        >
          <a-form-item
            label="新密码"
            :label-col="{ span: 7 }"
            :wrapper-col="{ span: 17 }"
            field-decorator-id="newPassword"
            :field-decorator-options="{
              rules: [{ required: true, message: '请输入新密码' }],
              validateTrigger: 'change'
            }"
          >
            <a-input size="large" type="password" placeholder="请输入新密码">
              <a-icon slot="prefix" type="lock" :style="{ color: 'rgba(0,0,0,.25)' }" />
            </a-input>
          </a-form-item>

          <a-form-item
            label="确认新密码"
            :label-col="{ span: 7 }"
            :wrapper-col="{ span: 17 }"
            field-decorator-id="confirmPassword"
            :field-decorator-options="{
              rules: [
                { required: true, message: '请重新输入新密码' },
                { validator: this.checkConfirmPassword }
              ],
              validateTrigger: 'blur'
            }"
          >
            <a-input
              size="large"
              type="password"
              autocomplete="false"
              placeholder="请重新输入新密码"
            >
              <a-icon slot="prefix" type="lock" :style="{ color: 'rgba(0,0,0,.25)' }" />
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-button
              size="large"
              type="primary"
              html-type="submit"
              class="login-button"
              :loading="submitChangePwd"
              :disabled="submitChangePwd"
              @click.stop.prevent="handleChangePwd"
            >
              登录
            </a-button>
          </a-form-item>
        </a-form>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import { Button, Form, Input, Checkbox, Icon, Tabs } from 'ant-design-vue';
import { mapActions } from 'vuex';
import Vue from 'vue';
import { ACCESS_TOKEN, AUTO_LOGIN } from '@/store/mutationTypes';
import CryptoJS from 'crypto-js';
import { changePassword } from '@/api/api';

export default {
  components: {
    AIcon: Icon,
    ATabs: Tabs,
    ATabPane: Tabs.TabPane,
    AButton: Button,
    AForm: Form,
    AFormItem: Form.Item,
    AInput: Input,
    ACheckbox: Checkbox
  },
  data() {
    return {
      customActiveKey: 'loginTab',
      showLogin: true,
      loginBtn: false,
      submitChangePwd: false,
      changePwdParams: {},
      // login type: 0 email, 1 username
      loginType: 0,
      loginForm: null,
      changePwdForm: null,
      formLogin: {
        username: '',
        password: '',
        rememberMe: true
      }
    };
  },
  created() {
    Vue.ls.remove(ACCESS_TOKEN);
    let autologin = Vue.ls.get(AUTO_LOGIN);
    let that = this;

    if (autologin && autologin.rememberMe) {
      that.loginBtn = true;
      that.formLogin = autologin;

      that
        .Login(autologin)
        .then(() => {
          that.loginSuccess('自动登录成功。');
        })
        .catch(() => {
          that.loginBtn = false;
        });
    }
  },
  methods: {
    ...mapActions(['Login', 'Logout']),
    onChange(e) {
      this.formLogin.rememberMe = e.target.checked;
    },
    // handler
    handleUsername(rule, value, callback) {
      const regex = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
      if (regex.test(value)) {
        this.loginType = 0;
      } else {
        this.loginType = 1;
      }
      callback();
    },
    checkConfirmPassword(rule, value, callback) {
      const firstVal = this.changePwdForm.getFieldValue('newPassword');
      if (value && value !== firstVal) {
        callback('两次输入不一致！');
      }
      callback();
    },
    handleTabClick(key) {
      this.customActiveKey = key;
    },
    /**
     * 安全Base64编码
     * @param value
     * @returns {*|string}
     */
    encodeMyBase64(value) {
      let wordArray = CryptoJS.enc.Utf8.parse(value);
      let base64 = CryptoJS.enc.Base64.stringify(wordArray);

      //将标准Base64编码中字符+和/分别替换为-和_
      base64 = base64.replace(/\+/g, '-');
      base64 = base64.replace(/\//g, '_');

      return base64;
    },
    handleSubmit() {
      let that = this;
      let flag = false;
      let loginParams = {
        rememberMe: that.formLogin.rememberMe
      };

      that.loginForm.validateFields(['username', 'password'], { force: true }, (err, values) => {
        if (!err) {
          flag = true;
          loginParams.username = this.encodeMyBase64(values.username);
          //loginParams.password = md5(values.password)
          loginParams.password = this.encodeMyBase64(values.password);
        }
      });

      if (!flag) return;

      that.loginBtn = true;

      that
        .Login(loginParams)
        .then(() => {
          that.loginSuccess();
          Vue.ls.set(AUTO_LOGIN, loginParams, 7 * 24 * 60 * 60 * 1000);
        })
        .catch(err => {
          if (err.code === '903') {
            this.changePwdParams = {
              username: this.loginForm.getFieldValue('username'),
              oldPassword: this.encodeMyBase64(this.loginForm.getFieldValue('password'))
            };
            this.showLogin = false;
            this.customActiveKey = 'changePwdTab';
          }
          that.loginBtn = false;
        });
    },
    handleChangePwd() {
      let flag = false;
      this.changePwdForm.validateFields(
        ['newPassword', 'confirmPassword'],
        { force: true },
        (err, values) => {
          if (!err) {
            flag = true;
            this.changePwdParams.newPassword = this.encodeMyBase64(values.newPassword);
            // this.changePwdParams.confirmPassword = this.encodeMyBase64(values.confirmPassword);
          }
        }
      );
      if (flag) {
        this.submitChangePwd = true;
        changePassword(this.changePwdParams)
          .then(res => {
            this.submitChangePwd = false;
            if (res.code === '200') {
              this.$notification.success({
                message: '修改密码成功'
              });
              this.showLogin = true;
              this.customActiveKey = 'loginTab';
            }
          })
          .catch(() => {
            this.submitChangePwd = false;
          });
      }
    },
    loginSuccess() {
      this.loginBtn = false;
      this.$router.push({ name: 'dashboard' });
    }
  }
};
</script>
<style lang="less" scoped>
.main {
  width: 50%;
  background: #fff;
  margin-left: 25px;
  /deep/ .ant-btn,
  /deep/ .ant-input,
  /deep/ .ant-select {
    height: 40px;
    font-size: 12px;
  }
  .user-layout-login {
    label {
      font-size: 14px;
    }
    .forge-password {
      font-size: 14px;
    }

    button.login-button {
      padding: 0 15px;
      font-size: 16px;
      height: 40px;
      width: 100%;
    }

    .user-login-other {
      text-align: left;
      margin-top: 24px;
      line-height: 22px;

      .item-icon {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.2);
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #1890ff;
        }
      }
    }
  }
}
</style>
