<template>
  <div class="console-index container">
    <ConsoleHeader />
    <div class="fav-menu-wrapper">
      <ul class="ul_top ul_toggle">
        <slider v-if="isShowFavMenuSlider" ref="slider" :options="options">
          <slideritem v-for="(menuPage, pageNo) in menuPageList" :key="pageNo" :style="pageStyle">
            <template v-for="(val, index) in menuPage">
              <router-link v-if="val.menuType !== 'menu-config'" :key="index" :to="val.path">
                <div class="fav-menu" :class="'list' + (index % 3)">{{ val.meta.title }}</div>
              </router-link>
              <div v-else :key="index" class="fav-menu list-add" @click="showMenuTreeModal = true">
                <img src="~@assets/images/console/img_add.png" />
              </div>
            </template>
          </slideritem>
        </slider>
        <div class="topside-clear" />
      </ul>
    </div>
    <div class="content">
      <div class="con_middle">
        <div class="bet_left">
          <p class="font_head"><img src="~@assets/images/console/icon_notice.png" alt />流程待办</p>
          <div v-if="toDoData.length > 0" class="bet_box">
            <ul class="bet_list">
              <li v-for="(list, index) in toDoData" :key="'bet_list-' + index">
                <p>
                  {{ list.taskSendUser }}
                  <span>
                    <i>{{ list.cTime }}</i>
                  </span>
                </p>
                <a href="javascript:;" @click="toFlowDetail(list)">
                  `${list.activityalias_ ? list.activityalias_ : list.taskTitle }，点击查看>>`
                </a>
              </li>
            </ul>
          </div>
          <div v-if="toDoData.length == 0" class="bet_other_box">
            <span>暂无待办任务，休息一下吧！</span>
          </div>
        </div>
        <div class="bet_middle">
          <p class="font_head">
            <img src="~@assets/images/console/icon_focus.png" alt />重点关注
            <a class="add open-dialog" href="javascript:void(0)" data-url="#graphsetdialog">
              <img src="~@assets/images/console/icon_add.png" />
            </a>
          </p>
          <div class="bet_box con_focus">
            <template v-for="(datalist, index) in configGraphData">
              <p v-text="datalist.title" :key="'p-t-' + index" />
              <div :id="'graphcontent' + index" :key="'p-d-' + index">
                <img width="497" src="~@assets/images/console/data_diagram01.png" />
              </div>
            </template>
          </div>
        </div>
        <div class="bet_right">
          <p class="font_head">
            <img src="~@assets/images/console/icon_instantMessage.png" />
            <em v-if="messageList.length > 0">{{ messageList.length }}</em>
            消息通知
          </p>
          <div v-if="messageList.length > 0" class="bet_box">
            <ul class="bet_list">
              <li v-for="item in messageList" :key="item.id" @click="handleMessageDetail(item.id)">
                <p>
                  {{ item.title }}
                  <span>{{ item.sendDate }}</span>
                </p>
                <a href="javascript:;">{{ item.content }}</a>
              </li>
            </ul>
          </div>
          <div v-if="messageList.length == 0" class="bet_other_box">
            <span>暂无消息，休息一下吧！</span>
          </div>
        </div>
      </div>
      <div class="warning-panel">
        <div class="warning-wrapper">
          <img class="icon-warning" src="~@assets/images/console/icon_earlyWarning.png" alt />
          <p class="font_head">预警信息</p>
          <div class="warning-slider-wrapper">
            <slider
              ref="warningSlider"
              :options="warningSliderOptions"
              @mouseenter="mouseenter"
              @mouseleave="mouseleave"
            >
              <slideritem v-for="(items, index) in warnningMes" :key="index" :style="pageStyle">
                <div class="warning-msg">{{ index + 1 }}. {{ items.content }}，请及时关注！</div>
              </slideritem>
            </slider>
          </div>
        </div>
        <div class="topside-clear" />
      </div>
    </div>
    <div class="con_bottom">
      <ul class="lymeun">
        <template v-for="(item, index) in menuGroupList">
          <template v-if="item.menuList && item.menuList.length > 0">
            <li class="ly" :key="'system' + index" @click="changeSystem(index)">
              <img v-if="index % 5 === 0" src="~@assets/images/console/button_ly0.png" />
              <img v-if="index % 5 === 1" src="~@assets/images/console/button_ly1.png" />
              <img v-if="index % 5 === 2" src="~@assets/images/console/button_ly2.png" />
              <img v-if="index % 5 === 3" src="~@assets/images/console/button_ly3.png" />
              <img v-if="index % 5 === 4" src="~@assets/images/console/button_ly4.png" />
              <span>{{ item.name }}</span>
            </li>
            <li
              class="lysystem"
              :key="'menuList' + index"
              :class="[selectedSystemIndex === index ? 'selected' : '']"
            >
              <ul>
                <li
                  v-for="(list, idx) in item.menuList"
                  :key="idx"
                  :title="list.externalName ? list.externalName : list.title"
                >
                  <a
                    :href="list.externalUrl ? list.externalUrl : list.path"
                    :target="'subSystemWindow' + item.id"
                  >
                    `${list.externalName ? list.externalName : list.title}`
                  </a>
                </li>
              </ul>
            </li>
          </template>
        </template>
      </ul>
    </div>
    <MenuTreeModal
      v-if="showMenuTreeModal"
      :fav-menu-keys="favMenuKeys"
      @updateFavMenu="handleUpdateMenu"
      @close="showMenuTreeModal = false"
    />
    <NewsDetail
      ref="messageDetailModal"
      layout="1"
      :request-public-url="requestPublicUrl"
      @closeDetail="getUnreadMessage"
    />
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { slider, slideritem } from 'vue-concise-slider';
import ConsoleHeader from '@portal/theme/ConsoleLayout/ConsoleHeader';
import NewsDetail from '@views/avic/pt/system/messages/NewsDetail';
import MenuTreeModal from '@portal/theme/ConsoleLayout/MenuTreeModal';
export default {
  name: 'ConsoleLayout',
  components: {
    ConsoleHeader,
    MenuTreeModal,
    slider,
    slideritem,
    NewsDetail
  },
  data() {
    return {
      // 请求地址路径的公共部分抽为变量
      requestPublicUrl: '/api/appsys/message/MessageRest',
      pageSize: 10,
      menuCountPerPage: 10,
      selectedSystemIndex: -1,
      toDoData: [],
      showMenuTreeModal: false,
      favMenuList: [],
      isShowFavMenuSlider: false,
      httpConfig: {
        queryCollectedMenuByUser: {
          url: '/api/appsys/user/menu/personalMenu/getMenuList/v1',
          method: 'post'
        },
        getBpmTask: {
          url: bpmUtils.baseurl + '/todo/portal/waittodo/v1',
          method: 'post'
        },
        getUnreadMessage: {
          url: '/api/appsys/message/MessageRest/searchTopUnread/v1',
          method: 'post'
        },
        getMenuGroupList: {
          url: '/api/appsys/user/group/menu',
          method: 'post'
        }
      },
      options: {
        loop: false,
        pagination: false,
        thresholdDistance: 100,
        thresholdTime: 1000,
        freeze: true,
        speed: 200,
        infinite: 0,
        slidesToScroll: 1
      },
      warningSliderOptions: {
        autoplay: 3000,
        direction: 'vertical',
        loop: true,
        pagination: false,
        freeze: true,
        speed: 800,
        infinite: 1
      },
      pageStyle: {
        width: '100%',
        margin: '0',
        justifyContent: 'initial'
      },
      menuList: [],
      menuPageList: [],
      messageList: [],
      graphData: [
        { title: '装配缺件情况', id: '1', configure: true },
        { title: '零件准时配套率', id: '2', configure: true },
        { title: '零件准时配套率', id: '2', configure: true },
        { title: '图表4', id: '2', configure: false },
        { title: '图表5', id: '2', configure: false },
        { title: '图表7', id: '2', configure: true }
      ],
      warnningMes: [
        {
          content:
            'XXX专业厂Y90型号90180908任务编号的零件Y90102预计将延期7天交付，可能会影响装配进度',
          id: '1',
          configure: true
        },
        {
          content:
            'XXX专业厂Y90型号90180908任务编号的零件Y90102预计将延期7天交付，可能会影响装配进度',
          id: '2',
          configure: true
        }
      ],
      menuGroupList: []
    };
  },
  computed: {
    ...mapGetters(['permissionList']),
    favMenuKeys() {
      let keys = [];
      this.menuList.map(item => {
        keys.push(item.id);
      });
      return keys;
    },
    configGraphData() {
      return this.graphData.filter(item => {
        return item.configure;
      });
    }
  },
  created() {
    this.queryCollectedMenuByUser();
    this.getBpmTask();
    this.getUnreadMessage();
    this.getMenuGroupList();
  },
  //流程详情页面关闭后刷新页面
  beforeRouteEnter(to, from, next) {
    next(_this => {
      window['bpmOperatorRefresh'] = () => {
        _this.getBpmTask();
      };
    });
  },
  methods: {
    getMenuGroupList() {
      httpAction(this.httpConfig.getMenuGroupList.url).then(res => {
        if (res.success) {
          this.menuGroupList = res.result;
        }
      });
    },
    changeSystem(index) {
      this.selectedSystemIndex = index === this.selectedSystemIndex ? -1 : index;
    },
    handleMessageDetail(messageId) {
      this.$refs.messageDetailModal.modalHandleDetailOrEdit(messageId);
    },
    handleUpdateMenu() {
      this.queryCollectedMenuByUser();
    },
    getUnreadMessage() {
      httpAction(
        this.httpConfig.getUnreadMessage.url,
        this.pageSize,
        this.httpConfig.getUnreadMessage.method
      ).then(res => {
        if (res.success) {
          this.messageList = res.result;
        }
      });
    },
    getBpmTask() {
      let param = {
        pageSize: this.pageSize,
        tabType: 'todo'
      };
      httpAction(this.httpConfig.getBpmTask.url, param, this.httpConfig.getBpmTask.method).then(
        res => {
          if (res.success) {
            this.toDoData = res.result.todoRows;
          }
        }
      );
    },
    toFlowDetail(row) {
      // let title = row.taskTitle.replace("&#x","%").replace(";","");
      bpmUtils.executeTask(
        row.processInstance,
        row.executionId,
        row.dbid,
        row.businessId,
        row.formResourceName,
        row.param.processDefName || row.param.taskTitle,
        row.taskType
      );
    },
    queryCollectedMenuByUser() {
      this.isShowFavMenuSlider = false;
      httpAction(this.httpConfig.queryCollectedMenuByUser.url).then(res => {
        this.filterFavAuth(res.result);
        this.isShowFavMenuSlider = true;
        this.$nextTick(() => {
          this.$refs.slider.$emit('slideTo', 0);
        });
      });
    },
    filterFavAuth(favMenuList) {
      let _this = this;

      this.menuList = favMenuList.filter(item => {
        return _this.checkMenuAuth(item.id, _this.permissionList);
      });
      this.pagingMenuList();
      // this.options.pagination = this.menuPageList.length > 1
      this.$set(this.options, 'pagination', this.menuPageList.length > 1);
    },
    pagingMenuList() {
      this.menuPageList.splice(0, this.menuPageList.length);
      let tmepPage = [];
      this.menuList.map(item => {
        if (tmepPage.length < this.menuCountPerPage) {
          tmepPage.push(item);
        } else {
          this.menuPageList.push(tmepPage);
          tmepPage = [];
          tmepPage.push(item);
        }
      });
      if (tmepPage.length < this.menuCountPerPage) {
        tmepPage.push({ menuType: 'menu-config' });
      } else if (tmepPage.length === this.menuCountPerPage) {
        this.menuPageList.push(tmepPage);
        tmepPage = [];
        tmepPage.push({ menuType: 'menu-config' });
      }
      this.menuPageList.push(tmepPage);
    },
    checkMenuAuth(authId, authList) {
      let res = false;
      let _this = this;
      authList.map(item => {
        if (!res) {
          if (item.id === authId) {
            res = true;
          } else {
            if (item.children && item.children.length) {
              res = _this.checkMenuAuth(authId, item.children);
            }
          }
        }
      });
      return res;
    },
    mouseenter() {
      this.$refs.warningSlider.$emit('autoplayStop');
    },
    mouseleave() {
      this.$refs.warningSlider.$emit('autoplayStart', 800);
    }
  }
};
</script>
<style scoped src="./style/public.css"></style>
<style scoped src="./style/index.css"></style>
<style lang="less">
.console-index {
  .swiper-container-horizontal > .slider-pagination-bullets {
    position: relative;
    bottom: 0;
    > .slider-pagination-bullet {
      background: #4c97e0 none repeat scroll 0 0;
      opacity: 1;
    }
    > .slider-pagination-bullet-active {
      background: #fff none repeat scroll 0 0;
      opacity: 1;
    }
  }
}
</style>
