<template>
  <a-modal
    v-model="showMenuTreeModal"
    class="menu-tree-modal"
    :title="modalTitle"
    :after-close="afterClose"
    :body-style="{
      padding: '12px 24px 24px 24px',
      height: modalBodyHeight,
      backgroundColor: '#e4ecf1'
    }"
    :centered="true"
    :width="512"
    :footer="null"
  >
    <a-input-search v-model="searchValue" style="margin-bottom: 8px" placeholder="快速搜索" />
    <div class="menu-tree-wrapper">
      <vue-scroll :ops="ops">
        <a-tree
          :checkable="true"
          :default-expand-all="true"
          :default-checked-keys="favMenuKeys"
          @check="handleCheck"
        >
          <a-tree-node key="-1" title="菜单" :disable-checkbox="true">
            <template v-for="menu in permissionList">
              <a-tree-node
                v-if="keywordFilter(menu)"
                :key="menu.id"
                :title="menu.meta.title"
                :disable-checkbox="menu.children && menu.children.length > 0"
              >
                <template v-for="subMenu in menu.children">
                  <a-tree-node
                    v-if="keywordFilter(subMenu)"
                    :key="subMenu.id"
                    :title="subMenu.meta.title"
                    :disable-checkbox="subMenu.children && subMenu.children.length > 0"
                  >
                    <template v-for="leafMenu in subMenu.children">
                      <a-tree-node
                        v-if="keywordFilter(leafMenu)"
                        :key="leafMenu.id"
                        :title="leafMenu.meta.title"
                        :disable-checkbox="leafMenu.children && leafMenu.children.length > 0"
                      />
                    </template>
                  </a-tree-node>
                </template>
              </a-tree-node>
            </template>
          </a-tree-node>
        </a-tree>
      </vue-scroll>
    </div>
  </a-modal>
</template>
<script>
import { Modal, Tree } from 'ant-design-vue';
import { httpAction } from '@/api/manage';
import store from '@/store/index';
import VueScroll from 'vuescroll/dist/vuescroll-native';
export default {
  name: 'MenuTreeModal',
  components: {
    VueScroll,
    AModal: Modal,
    ATree: Tree,
    ATreeNode: Tree.TreeNode
  },
  props: {
    favMenuKeys: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      modalTitle: '快捷入口设置',
      modalBodyHeight: '380px',
      showMenuTreeModal: true,
      searchValue: '',
      httpConfig: {
        queryCollectedMenuByUser: {
          url: '/api/appsys/user/menu/personalMenu/getMenuList/v1',
          method: 'post'
        },
        saveCollectedMenu: {
          url: '/api/appsys/user/menu/personalMenu/saveMenu/v1',
          method: 'post'
        },
        deleteCollectedMenu: {
          url: '/api/appsys/user/menu/personalMenu/deleteByMenuId/v1',
          method: 'post'
        }
      },
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      }
    };
  },
  computed: {
    permissionList() {
      return store.getters.permissionList;
    }
  },
  methods: {
    keywordFilter(menuItem) {
      if (!this.searchValue) {
        return true;
      }
      return this.filterMenuTree(menuItem, this.searchValue);
    },
    filterMenuTree(menuItem, keyword) {
      if (menuItem.meta.title.indexOf(keyword) > -1) {
        return true;
      }
      if (menuItem.children && menuItem.children.length > 0) {
        for (let i = 0; i < menuItem.children.length; i++) {
          if (this.filterMenuTree(menuItem.children[i], keyword)) {
            return true;
          }
        }
      }
      return false;
    },
    afterClose() {
      this.$emit('close');
    },
    saveCollectedMenu(dataId) {
      httpAction(
        this.httpConfig.saveCollectedMenu.url,
        dataId,
        this.httpConfig.saveCollectedMenu.method
      ).then(res => {
        if (res.success) {
          this.$emit('updateFavMenu');
        }
      });
    },
    deleteCollectedMenu(dataId) {
      httpAction(
        this.httpConfig.deleteCollectedMenu.url,
        dataId,
        this.httpConfig.deleteCollectedMenu.method
      ).then(res => {
        if (res.success) {
          this.$emit('updateFavMenu');
        }
      });
    },
    handleCheck(checkedKeys, { checked, node }) {
      if (checked) {
        this.saveCollectedMenu(node.$options.propsData.eventKey);
      } else {
        this.deleteCollectedMenu(node.$options.propsData.eventKey);
      }
    }
  }
};
</script>
<style lang="less">
.menu-tree-modal {
  .ant-modal-header {
    background-color: #00a0ea;
  }
  .menu-tree-wrapper {
    height: calc(100% - 40px);
  }
}
</style>
