<template>
  <div class="module-con-box">
    <a-spin :spinning="false" tip="正在加载流程跟踪" wrapper-class-name="flow-track-spin">
      <div class="module-con" ref="modulePopover">
        <a-steps :current="6" label-placement="vertical" v-if="timeList && timeList.length > 0">
          <a-step>
            <template slot="icon">
              <span v-if="maxLength < 6">开始</span>
              <ul v-if="maxLength > 5">
                <li :key="i" v-for="i in 3" />
              </ul>
            </template>
          </a-step>
          <a-step class="user-box" v-for="(item, index) in timeList" :key="index">
            <template slot="title"> {{ item.dayName }} {{ item.timeName }} </template>
            <template slot="description">
              <span>{{ item.currentActiveLabel }}</span>
              <p>{{ item.operateUserName }}</p>
              <span v-if="item.opType != ''">{{ item.opType }}</span>
              <span v-if="item.opType == ''">{{ tip }}</span>
            </template>
            <!-- 默认只展示到当前流程项 最多展示到5个节点 开始和当前为默认状态（不变） -->
            <a-popover :get-container="false" slot="icon">
              <template slot="content">
                <div style="width: 440px; overflow: hidden" class="popover-table">
                  <a-table
                    :columns="flowColumns"
                    :data-source="[item]"
                    :pagination="false"
                    size="small"
                    :bordered="false"
                  >
                    <a slot="name" slot-scope="text">{{ text }}</a>
                  </a-table>
                </div>
              </template>
              <a-icon type="user" />
            </a-popover>
          </a-step>
          <a-step>
            <template slot="icon"> 当前 </template>
          </a-step>
        </a-steps>
        <a-empty
          v-if="!loading && timeList && timeList.length == 0"
          :image="simpleImage"
          description="暂无数据"
        />
      </div>
    </a-spin>
  </div>
</template>

<script>
import { Spin, Popover, Icon, Table, Steps, Empty } from 'ant-design-vue';
import { httpAction } from '@/api/manage';
// 弹出表格
const flowColumns = [
  {
    title: '节点',
    dataIndex: 'currentActiveLabel',
    key: 'currentActiveLabel',
    scopedSlots: { customRender: 'currentActiveLabel' },
    ellipsis: true
  },
  {
    title: '处理人',
    dataIndex: 'operateUserName',
    key: 'operateUserName',
    ellipsis: true
  },
  {
    title: '操作类型',
    dataIndex: 'opType',
    key: 'opType',
    ellipsis: true
  },
  {
    title: '目标接收人',
    dataIndex: 'targetuser',
    key: 'targetuser',
    ellipsis: true
  },
  {
    title: '处理意见',
    dataIndex: 'message',
    key: 'message',
    ellipsis: true
  }
];
const flowData = [
  {
    key: '1',
    node: '开始',
    name: '平台管理员',
    type: '创建流程',
    target: '张三',
    opinion: '意见意见意见意见'
  }
];
export default {
  name: 'AvicBpmStepsTemplate',
  components: {
    ASpin: Spin,
    APopover: Popover,
    AIcon: Icon,
    ATable: Table,
    ASteps: Steps,
    AStep: Steps.Step
  },
  props: {
    flowParam: {
      type: Object,
      required: true,
      default: null
    }
  },
  beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  data() {
    return {
      flowData,
      flowColumns,
      data: {},
      timeList: [], // 时间轴显示数据
      maxLength: 0, // 时间轴长度
      tip: '待处理',
      loading: false, // 加载状态控制
      defaultNode: {
        dayName: '当前',
        currentActiveLabel: '',
        opType: '待提交'
      },
      flowRole: ''
    };
  },
  methods: {
    //拟稿阶段初始化节点
    initStepsTracking() {
      this.timeList = [];
      this.defaultNode.currentActiveLabel = this.$store.state.bpmModel.activitylabel;
      this.timeList.push(this.defaultNode);
    },
    //刷新页面
    refreshStepsTracking() {
      this.loadData();
    },
    //处理列表数据合并列
    filterTableData(data) {
      let tableData = [];
      if (data) {
        data.map(tim => {
          if (tim.length == 1) {
            tableData.unshift(tim[0]);
          } else {
            tim.map((list, index) => {
              if (index != 0) {
                list.rowSpan = 0;
              } else {
                list.rowSpan = tim.length;
              }
              tableData.unshift(list);
            });
          }
        });
      }
      return tableData;
    },
    filterData() {
      let list = this.filterTableData(this.data.timelist);
      let tableData = this.filterTableData(this.data.tracklist);
      let len1 = list.length;
      let len2 = tableData.length; //表格中的数据
      if (len1 == 0 && len2 == 0) {
        list.push(this.defaultNode);
      } else if (
        len1 > 0 &&
        len2 > 0 &&
        tableData[0]['currentActiveLabel'] != list[len1 - 1]['currentActiveLabel']
      ) {
        list.push({
          ...tableData[0],
          dayName: '当前'
        });
      } else if (len1 == 0 && len2 > 0) {
        if (tableData[0].dayName == null) {
          list.push({
            ...tableData[0],
            dayName: '当前'
          });
        } else {
          list.push({
            ...tableData[0]
          });
        }
      }
      this.maxLength = list.length;
      if (list.length > 5) {
        this.timeList = list.slice(-5);
      } else {
        this.timeList = list;
      }
      this.loading = false;
    },
    //加载数据
    loadData() {
      if (!this.loading) {
        this.loading = true;
      }
      if (
        this.flowParam &&
        this.flowParam.url &&
        this.flowParam.parameter &&
        this.flowParam.parameter.entryId
      ) {
        httpAction(this.flowParam.url, this.flowParam.parameter, this.flowParam.method)
          .then(res => {
            if (res.success) {
              this.data = res.result;
              this.filterData(this.data);
            }
          })
          .catch(() => {
            this.loading = false;
          });
      }
    }
  }
};
</script>

<style lang="less">
@base-font-size: 12px;
.module-con-box {
  position: relative;
  .flow-track-spin {
    .ant-spin {
      position: absolute !important;
    }
  }
}
.module-con {
  padding: 10px 20px 0 20px;
  position: relative;
  width: 100%;
  .ant-steps {
    padding: 26px 10px 0;
    justify-content: center;
    .ant-steps-item {
      max-width: 15%;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          width: 8px;
          height: 8px;
          background: #fff;
          border-radius: 50%;
          float: left;
          margin: 3px;
        }
      }
    }
    .ant-steps-item .ant-steps-item-title {
      position: absolute;
      top: -36px;
      width: 160px;
      margin-left: -80px;
      font-size: 12px;
      text-align: center;
      color: #666;
    }

    .ant-steps-item-tail,
    .ant-steps-small .ant-steps-item-tail {
      top: 1px;
    }

    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
      height: 1px;
      background: none;
      margin-top: 10px;
      left: 2px;
      position: relative;
    }

    .ant-steps-item-description {
      span {
        font-size: @base-font-size;
        color: #666;
        line-height: 26px;
      }

      p {
        font-size: @base-font-size;
        color: #526ecc;
        margin-bottom: 0;
        line-height: 26px;
      }
    }

    .ant-steps-item .ant-steps-item-tail::before {
      position: absolute;
      content: '》';
      top: -1px;
      left: 50%;
      width: 18px;
      margin-left: -9px;
      color: #fff;
      font-size: 24px;
      z-index: 999;
    }

    .ant-steps-item:nth-last-child(3) .ant-steps-item-tail::after {
      border: 4px transparent solid;
    }

    .ant-steps-item-custom .ant-steps-item-icon > .ant-steps-icon {
      width: 32px;
      height: 32px;
      line-height: 34px;
      border-radius: 50%;
      display: block;
      text-align: center;
      color: #fff;
      left: 0;
    }
    .user-box .ant-steps-item-icon {
      margin-top: 4px;
      margin-left: 45px;
    }
    .user-box .ant-steps-item-icon .ant-steps-icon {
      line-height: 26px;
    }
    .user-box .ant-steps-item-icon i {
      font-size: 20px;
    }
    .ant-steps-item:nth-child(1) .ant-steps-item-icon {
      width: 68px;
      height: 34px;
      border: none;
      border-radius: 2px;
      margin-left: 16px;

      .ant-steps-icon {
        font-size: 14px;
        width: 68px;
        height: 34px;
        background: none !important;
      }
    }
    .ant-steps-item:last-child .ant-steps-item-icon {
      width: 68px;
      height: 34px;
      border: none;
      border-radius: 2px;
      margin-left: 36px;
      .ant-steps-icon {
        font-size: 14px;
        width: 68px;
        height: 34px;
      }
    }
  }
  .ant-popover {
    width: 528px;
    height: 80px;
    box-shadow: 0 2px 0 #000;
  }
}
.popover-table .ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
  th {
    background: #f3f4f9;
  }
  th,
  td {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
    padding: 0 6px;
  }
}
</style>
