<template>
  <component :is="componentFile" ref="routerContentLoader" />
</template>

<script>
import ErrorPage from '@views/exception/404';
export default {
  name: 'Index',
  data() {
    const componentFile = this.render;
    return {
      id: null,
      loadingTips: '正在加载',
      loading: true,
      componentFile
    };
  },
  created() {
    this.id = this.$route.params.id;
  },
  methods: {
    render() {
      let url = decodeURIComponent(this.id).replace(RegExp('_', 'g'), '/');
      this.componentFile = () => ({
        component: import(`@views/${url}`),
        //loading: LoadingPage,
        error: ErrorPage,
        delay: 100,
        timeout: 10000
      });
    }
  }
};
</script>
