<template>
  <div>
    <div v-show="show">
      <AvicBpmSteps />
    </div>
    <div v-show="!show">
      <AvicBpmChart />
      <a-divider />
      <AvicBpmTracking />
    </div>
  </div>
</template>

<script>
import { Divider } from 'ant-design-vue';
import AvicBpmSteps from '@/components/avic/bpm/AvicBpmContent/AvicBpmSteps';
import AvicBpmChart from '@/components/avic/bpm/AvicBpmContent/AvicBpmChart';
import AvicBpmTracking from '@/components/avic/bpm/AvicBpmContent/AvicBpmTracking';
export default {
  name: 'AvicBpmTrackAndChart',
  props: {
    isSteps: {
      type: Boolean,
      required: false, //校验
      default: true
    }
  },
  components: {
    ADivider: Divider,
    AvicBpmChart,
    AvicBpmSteps,
    AvicBpmTracking
  },
  watch: {
    isSteps(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.show = newVal;
      }
    }
  },
  data() {
    return {
      show: true
    };
  }
};
</script>
