<template>
  <div ref="editableCell">
    <!-- 输入框input -->
    <div v-if="obj.type === 'input'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-input
          v-model="value"
          :placeholder="obj.placeholder"
          :title="value"
          :disabled="obj.disabled"
          :allow-clear="obj.allowClear"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: true })"
          @change="handleChange"
          @pressEnter="handlePressEnter"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="value">{{ value }}</div>
      </span>
    </div>
    <!-- 文本域textarea -->
    <div v-else-if="obj.type === 'textarea'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-textarea
          style="resize: none"
          class="edittable-textarea"
          v-model="value"
          :placeholder="obj.placeholder"
          :title="value"
          :row="1"
          :disabled="obj.disabled"
          :allow-clear="obj.allowClear"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: true })"
          @pressEnter="handleTextareaPressEnter"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="value">
          {{ value }}
        </div>
      </span>
    </div>
    <!-- 数字输入框inputnumber -->
    <div v-else-if="obj.type === 'inputnumber'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-input-number
          v-model="value"
          :placeholder="obj.placeholder"
          :disabled="obj.disabled"
          :min="obj.min"
          :max="obj.max"
          :step="obj.step"
          :precision="obj.precision"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: true })"
          @change="handleChange"
          @pressEnter="handlePressEnter"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="value">
          {{ value }}
        </div>
      </span>
    </div>
    <!-- 密码框 -->
    <div v-else-if="obj.type === 'password'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-input-password
          v-model="value"
          :placeholder="obj.placeholder"
          title="****"
          :disabled="obj.disabled"
          :allow-clear="obj.allowClear"
          :visibility-toggle="obj.visibilityToggle"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: true })"
          @change="handleChange"
          @pressEnter="handlePressEnter"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" title="****">****</div>
      </span>
    </div>
    <!-- 日期date -->
    <div v-else-if="obj.type === 'date'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-date-picker
          v-model="value"
          style="width: 100%"
          :placeholder="obj.placeholder"
          :disabled="obj.disabled"
          :allow-clear="obj.allowClear"
          :format="obj.format || 'YYYY-MM-DD'"
          :disabled-date="formatDisabledDate"
          :title="formatDate(value, obj.format || 'YYYY-MM-DD')"
          @openChange="handleOpenChange"
          @panelChange="handlePanelChange"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: false })"
          @change="handleDateChange"
          @ok="handleOk"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="formatDate(value, obj.format || 'YYYY-MM-DD')">
          {{ formatDate(value, obj.format || 'YYYY-MM-DD') }}
        </div>
      </span>
    </div>
    <!-- 时间datetime -->
    <div v-else-if="obj.type === 'datetime'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-date-picker
          v-model="value"
          style="width: 100%"
          :placeholder="obj.placeholder"
          :disabled="obj.disabled"
          :allow-clear="obj.allowClear"
          :format="obj.format || 'YYYY-MM-DD HH:mm:ss'"
          :show-time="true"
          :disabled-date="formatDisabledDate"
          :title="formatDate(value, obj.format || 'YYYY-MM-DD HH:mm:ss')"
          @openChange="handleOpenChange"
          @panelChange="handlePanelChange"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: false })"
          @change="handleDateChange"
          @ok="handleDatetimeOk"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div
          class="editable-cell-text"
          :title="formatDate(value, obj.format || 'YYYY-MM-DD HH:mm:ss')"
        >
          {{ formatDate(value, obj.format || 'YYYY-MM-DD HH:mm:ss') }}
        </div>
      </span>
    </div>
    <!-- 通用选择框commonselect -->
    <div v-else-if="obj.type === 'commonselect'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <AvicCommonSelect
          ref="commonSelect"
          v-model="value"
          :type="obj.controlType"
          :select-model="obj.selectModel"
          :field-length="obj.fieldLength"
          :max-select="obj.maxSelect"
          :placeholder="obj.placeholder"
          :disabled="obj.disabled"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: false })"
          @close="handleClose"
          @click="handleClick"
          @callBack="handleCallback"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="value.names">
          {{ value.names }}
        </div>
      </span>
    </div>
    <!-- 单选下拉 -->
    <div v-else-if="obj.type === 'select' || obj.type === 'radio'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-select
          v-model="value"
          style="width: 100%"
          :placeholder="obj.placeholder"
          :disabled="obj.disabled"
          :label-in-value="true"
          option-filter-prop="children"
          :show-search="true"
          :allow-clear="true"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: false })"
          @change="selectCheck"
        >
          <a-select-option
            v-for="select in obj.list"
            :key="select.sysLookupTlId"
            :value="select.lookupCode"
            :title="select.lookupName"
          >
            {{ select.lookupName }}
          </a-select-option>
        </a-select>
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="value.label | filterLookup(obj.list)">
          {{ value.label | filterLookup(obj.list) }}
        </div>
      </span>
    </div>
    <!-- 多选下拉 -->
    <div v-else-if="obj.type === 'checkbox'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <a-select
          v-model="value"
          style="width: 100%"
          mode="multiple"
          :placeholder="obj.placeholder"
          :disabled="obj.disabled"
          :label-in-value="true"
          option-filter-prop="children"
          :allow-clear="true"
          @focus="handleFocus"
          @blur="handleBlur({ isCheck: false })"
          @change="checkboxCheck"
        >
          <a-select-option
            v-for="select in obj.list"
            :key="select.sysLookupTlId"
            :value="select.lookupCode"
            :title="select.lookupName"
          >
            {{ select.lookupName }}
          </a-select-option>
        </a-select>
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="getCheckboxLabel(value)">
          {{ getCheckboxLabel(value) }}
        </div>
      </span>
    </div>
    <!-- 弹窗选择 -->
    <div v-else-if="obj.type === 'modalselect'" class="editable-cell">
      <span v-if="rowEditing" class="editable-cell-input-wrapper" @click="editElementClick">
        <AvicModalSelect
          :default-show-value="record[obj.dataIndexName]"
          :modal-title="obj.modalTitle"
          :placeholder="obj.placeholder"
          :select-component="obj.selectComponent"
          :value-field="obj.valueField"
          :show-field="obj.showField"
          :is-multi-selection="obj.isMultiSelection || false"
          :disabled="obj.disabled || false"
          :allow-clear="obj.allowClear"
          :disabled-input="obj.disabledInput"
          @change="handleModalSelectChange"
          @selectConfirm="handleModalSelectConfirm"
        />
      </span>
      <span v-else class="editable-cell-text-wrapper" @click="notEditElementClick">
        <div class="editable-cell-text" :title="record[obj.dataIndexName]">
          {{ record[obj.dataIndexName] }}
        </div>
      </span>
    </div>
    <div v-else />
  </div>
</template>
<script>
import { Input, InputNumber, DatePicker, Select } from 'ant-design-vue';
import AvicCommonSelect from '@comp/avic/pt/org/AvicCommonSelect';
import AvicModalSelect from '@comp/avic/pt/common/AvicModalSelect';
import moment from 'moment';
import { formatNumber, formatDisabledDate } from '@utils/avic/common/format';
export default {
  name: 'EditableCell',
  components: {
    AInput: Input,
    ATextarea: Input.TextArea,
    AInputNumber: InputNumber,
    ADatePicker: DatePicker,
    ASelect: Select,
    ASelectOption: Select.Option,
    AvicCommonSelect,
    AvicModalSelect
    // 密码框
  },
  props: {
    isClickCellTriggerRowEditing: {
      // 是否点击单元格触发整行的编辑状态
      type: Boolean,
      default: true
    },
    obj: {
      // 列配置
      type: Object,
      required: true
    },
    record: {
      // 行数据
      required: true
    },
    text: {
      // 单元格text
      required: false
    },
    rowEditing: {
      // 整行编辑状态
      required: true
    }
  },
  data() {
    return {
      cellEditing: false, // 单元格编辑状态
      value: this.initValue() // 显示值处理
    };
  },
  watch: {
    text: {
      immediate: true,
      handler(newV) {
        this.value = this.initValue();
      }
    }
  },
  filters: {
    /**
     * 单选下拉值过滤处理
     */
    filterLookup(val, list) {
      let res;
      if (typeof val == 'undefined' || val == '') {
        res = '';
      } else if (list) {
        list.map(item => {
          if (item.lookupCode == val.trim() || item.lookupName == val.trim()) {
            res = item.lookupName;
          }
        });
      }
      return res || '';
    }
  },
  methods: {
    formatNumber,
    formatDisabledDate,
    moment,
    /**
     * 日期格式化
     */
    formatDate(value, format) {
      if (value) {
        return moment(value).format(format);
      } else {
        return '';
      }
    },
    /**
     * 多选下拉框初始值处理
     */
    initCheckboxValue(key, label) {
      if (key && label) {
        let keyArray = key.split(';');
        let labelArray = label.split(';');
        let valueArray = [];
        for (let i = 0; i < keyArray.length; i++) {
          let target = {
            key: keyArray[i],
            label: labelArray[i]
          };
          valueArray.push(target);
        }
        return valueArray;
      } else {
        return [];
      }
    },
    /**
     * 多选下拉框显示值处理
     */
    getCheckboxLabel(value) {
      let label = [];
      if (value) {
        for (let i = 0; i < value.length; i++) {
          if (value[i].label) {
            label.push(value[i].label.trim());
          }
        }
      }
      return label.join(';');
    },
    /**
     * 根据不同控件类型,处理初始化数据
     */
    initValue() {
      if (this.obj.type === 'commonselect') {
        return {
          ids: this.record[this.obj.dataIndex],
          names:
            this.record[this.obj.dataIndex + 'Alias'] || this.record[this.obj.dataIndexName] || ''
        };
      } else if (this.obj.type === 'select' || this.obj.type === 'radio') {
        return {
          key: this.record[this.obj.dataIndex] || '',
          label: this.record[this.obj.dataIndex]
            ? this.record[this.obj.dataIndex + 'Name'] || this.record[this.obj.dataIndexName] || ''
            : ''
        };
      } else if (this.obj.type === 'checkbox') {
        return this.initCheckboxValue(
          this.record[this.obj.dataIndex],
          this.record[this.obj.dataIndex + 'Name'] || this.record[this.obj.dataIndexName] || ''
        );
      } else if (this.obj.type === 'date' || this.obj.type === 'datetime') {
        return this.record[this.obj.dataIndex] ? moment(this.record[this.obj.dataIndex]) : null;
      } else {
        return this.text || '';
      }
    },
    /**
     * 点击单元格控件
     */
    editElementClick(e) {
      e.stopPropagation();
    },
    /**
     * 点击单元格文本
     */
    notEditElementClick(e) {},
    /**
     * focus事件
     */
    handleFocus() {
      if (this.obj.events && this.obj.events.focus) {
        this.obj.events.focus();
      }
    },
    /**
     * blur事件，需要传回值
     */
    handleBlur(params) {
      if (params && params.isCheck) {
        this.check();
      }
      if (this.obj.events && this.obj.events.blur) {
        this.obj.events.blur();
      }
    },
    /**
     * change事件
     */
    handleChange(e) {
      if (this.obj.events && this.obj.events.change) {
        this.obj.events.change(e);
      }
    },
    /**
     * pressEnter回车事件，需要传回值
     */
    handlePressEnter(e) {
      this.check();
      if (this.obj.events && this.obj.events.pressEnter) {
        this.obj.events.pressEnter(e);
      }
    },
    /**
     * 文本域pressEnter回车事件
     */
    handleTextareaPressEnter(e) {
      if (this.obj.events && this.obj.events.pressEnter) {
        this.obj.events.pressEnter(e);
      }
    },
    /**
     * 日期（时间）openChange事件
     */
    handleOpenChange(status) {
      if (this.obj.events && this.obj.events.openChange) {
        this.obj.events.openChange(status);
      }
    },
    /**
     * 日期（时间）panelChange事件
     */
    handlePanelChange(value, mode) {
      if (this.obj.events && this.obj.events.panelChange) {
        this.obj.events.panelChange(value, mode);
      }
    },
    /**
     * 日期（时间）ok事件
     */
    handleOk() {
      if (this.obj.events && this.obj.events.ok) {
        this.obj.events.ok();
      }
    },
    /**
     * 通用选择关闭事件
     */
    handleClose() {
      if (this.obj.events && this.obj.events.close) {
        this.obj.events.close();
      }
    },
    /**
     * 通用选择点击事件
     */
    handleClick() {
      if (this.obj.events && this.obj.events.click) {
        this.obj.events.click();
      }
    },
    /**
     * 通用选择callback事件
     */
    handleCallback() {
      this.check();
      if (this.obj.events && this.obj.events.callback) {
        this.obj.events.callback();
      }
    },
    /**
     * date控件值变化时
     */
    handleDateChange(datemoment, datestring) {
      // 传回值
      this.emitValue({ value: datestring });
      // 传入事件处理
      if (this.obj.events && this.obj.events.change) {
        this.obj.events.change(datemoment, datestring);
      }
    },
    /**
     * datetime控件点击确定时
     */
    handleDatetimeOk() {
      // 格式化日期时间
      let value = this.formatDate(this.value, this.obj.format || 'YYYY-MM-DD HH:mm:ss');
      // 传回值
      this.emitValue({ value });
      // 传入事件处理
      if (this.obj.events && this.obj.events.ok) {
        this.obj.events.ok();
      }
    },
    /**
     * 单选下拉传回值时值的处理
     */
    filterSelectValue(val, list) {
      let res;
      if (typeof val == 'undefined' || val == '') {
        res = '';
      } else if (list) {
        list.map(item => {
          if (item.lookupCode == val.trim() || item.lookupName == val.trim()) {
            res = item.lookupName;
          }
        });
      }
      return res || '';
    },
    /**
     * 单选下拉值变化时
     */
    selectCheck() {
      let obj = {};
      if (typeof this.value == 'undefined' || this.value == '') {
        obj.key = '';
        obj.label = '';
      } else {
        obj.key = this.value.key;
        obj.label = this.filterSelectValue(this.value.label, this.obj.list);
      }
      // 传回值
      this.emitValue({ value: obj });
    },
    /**
     * 多选下拉值变化时
     */
    checkboxCheck() {
      let key = [];
      let label = [];
      for (let i = 0; i < this.value.length; i++) {
        key.push(this.value[i].key.trim());
        label.push(this.value[i].label.trim());
      }
      let obj = {
        key: key.join(';'),
        label: label.join(';')
      };
      // 传回值
      this.emitValue({ value: obj });
    },
    /**
     * 弹窗值变化时
     */
    handleModalSelectChange(value) {
      this.value = value;
      this.record[this.obj.dataIndex] = value;

      // 传回值
      this.emitValue({ value });
    },
    /**
     * 弹窗确认
     */
    handleModalSelectConfirm(list) {
      let dataIndexName = [];
      list.forEach(item => {
        // console.log(item.name)
        dataIndexName.push(
          this.obj.showField && item[this.obj.showField] ? item[this.obj.showField] : ''
        );
        // this.record[this.obj.dataIndexName] = item.name
      });

      this.record[this.obj.dataIndexName] = dataIndexName.join(';');
      let obj = {};
      obj[this.obj.dataIndexName] = dataIndexName.join(';');
      this.emitObject(obj);
    },
    /**
     * 回调事件
     */
    check() {
      this.emitValue({ value: this.value });
    },
    /**
     * 传值事件
     */
    emitValue(params) {
      this.$emit('change', params.value);
    },
    /**
     * 传出多个字段
     */
    emitObject(obj) {
      this.$emit('changeObject', obj);
    }
  }
};
</script>
