.avic_table_skin( @primary-color ) {
  // table选中/鼠标经过每条数据背景颜色
  .ant-table-thead > tr.ant-table-row-hover > td,
  .ant-table-tbody > tr.ant-table-row-hover > td,
  .ant-table-tbody > tr.ant-table-row-selected td,
  .ant-table-tbody > tr.row-editing td {
    background: fade(@primary-color,10%);
  }
  .ant-table-thead > tr:hover > td,
  .ant-table-tbody > tr:hover > td{
    background: fade(@primary-color,5%);
  }
}
