.avic-bpm-myprocess {
  height: calc(100vh - 110px);
  .module-tabs{
    height: 100%;
    .ant-tabs-bar {
      margin: 0 0 10px 0;
    }
    .ant-tabs-content{
      height: calc(100% - 64px);
      .ant-tabs-tabpane{
        height: 100%;
      }
    }
  }
  .surface{
    .process-model-wrapper{
      height: calc(100% - 50px);
    }
    .surface-content {
      padding: 0 10px;
      height: 100%;
    }
  }
  .surface-tools-bar-bpm{
    position: absolute;
    top: -58px;
    right: 0;
    margin-right: 10px;
  }
  .surface-tools-bar .opt-btn-advsearch{
    margin-left: 5px !important;
  }
  .advanced-search-form {
    padding: 3px 8px;
  }
  .ant-tabs-nav {
    .ant-tabs-tab {
      border-right: 1px;
      border-right-style: solid;
      border-color: #ddd;
      margin: 0;
      padding: 14px 16px;
    }

    .ant-tabs-tab-active {
      background: #fff;
    }
  }

  .ant-tabs-ink-bar {
    top: 0;
    bottom: auto;
  }
}