@active-color: #4a4a48;
ul {
  max-height: 700px;
  overflow-y: auto;
  padding-left: 0.5rem;
  i {
    font-size: 1.5rem;
    border: 1px solid #f1f1f1;
    padding: 0.2rem;
    margin: 0.3rem;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    vertical-align: -0.125em;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    &.active, &:hover {
      border-radius: 2px;
      border-color: @active-color;
      background-color: @active-color;
      color: #fff;
      transition: all 0.3s;
    }
  }
  li {
    list-style: none;
    float: left;
    width: 5%;
    text-align: center;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
    position: relative;
    margin: 3px 0;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    padding: 10px 0 0;
  }
}
